osb_it/repo/SCMSproject/info/STB/to/SMC/PS_SCMS_INFO_STB_TO_SMC/xsd/XSD_SCMS_INFO_STB_TO_SMC.xsd

<xsd:schema xmlns="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestInfoSTB_toSMC" type="requestinfoSTB_toSMCType"/>
	<xsd:element name="responseInfoSTB_toSMC" type="responseinfoSTB_toSMCType"/>
	<xsd:complexType name="requestinfoSTB_toSMCType">
          <xsd:sequence>
              <xsd:element name="operator" type="xsd:string" minOccurs="0"/>
              <xsd:element name="execDate" type="xsd:string" minOccurs="0"/>
              <xsd:element name="priority" type="xsd:integer" minOccurs="0" maxOccurs="1"/>            
              <xsd:element name="box" type="xsd:string"/>
          </xsd:sequence>
	</xsd:complexType>
        
        
        <xsd:complexType name="responseinfoSTB_toSMCType">
          <xsd:sequence>
              <xsd:element name="resultCode" type="xsd:string"/>
              <xsd:element name="resultDescription" type="xsd:string"/>
              <xsd:element name="tid" type="xsd:string"/>
              <xsd:element name="decoders" type="decodersType" minOccurs="0"/>            
          </xsd:sequence>
	</xsd:complexType>
        
        <xsd:complexType name="decodersType">
          <xsd:sequence>
              <xsd:element name="decoder" type="decoderType" maxOccurs="unbounded"/>            
          </xsd:sequence>
	</xsd:complexType>
        
         <xsd:complexType name="decoderType">
          <xsd:sequence>
              <xsd:element name="date" type="xsd:dateTime" minOccurs="0"/>
              <xsd:element name="decoderId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="chipId" type="xsd:string" minOccurs="0"/> 
              <xsd:element name="decoderRole" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
	</xsd:complexType>
</xsd:schema>