esb_it/repo/WS_LS_CHIUSURA_POS_EAE_TO_CW/wsdl/WS_LS_CHIUSURA_POS_EAE_TO_CW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_FLUSSO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MAGAZZINO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CW_ID" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" name="LS_DEALER_FML32" type="eb:FMLComplexDealer" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDealer"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_DEALER" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_RAGIONE_SOCIALE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_NOME" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_COGNOME" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TELEFONO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TELEFONO_2" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_INDIRIZZO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAP" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CITTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_PROVINCIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_EMAIL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CITOFONO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_COMPLESSO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SCALA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PIANO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_INTERNO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:element name="opChiusuraPosEaeToCW"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opChiusuraPosEaeToCWResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opChiusuraPosEaeToCWRequest"> 
  <wsdl:part element="eb:opChiusuraPosEaeToCW" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opChiusuraPosEaeToCWResponse"> 
  <wsdl:part element="eb:opChiusuraPosEaeToCWResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_CHIUSURA_POS_EAE_TO_CWSoap"> 
  <wsdl:operation name="opChiusuraPosEaeToCW"> 
   <wsdl:input message="eb:opChiusuraPosEaeToCWRequest" name="opChiusuraPosEaeToCWRequest" /> 
   <wsdl:output message="eb:opChiusuraPosEaeToCWResponse" name="opChiusuraPosEaeToCWResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_CHIUSURA_POS_EAE_TO_CWSoap" type="eb:WS_LS_CHIUSURA_POS_EAE_TO_CWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opChiusuraPosEaeToCW"> 
   <soap:operation soapAction="WS_LS_CHIUSURA_POS_EAE_TO_CW/opChiusuraPosEaeToCW" style="document" /> 
   <wsdl:input name="opChiusuraPosEaeToCWRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opChiusuraPosEaeToCWResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_CHIUSURA_POS_EAE_TO_CW"> 
  <wsdl:port binding="eb:WS_LS_CHIUSURA_POS_EAE_TO_CWSoap" name="WS_LS_CHIUSURA_POS_EAE_TO_CWSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_CHIUSURA_POS_EAE_TO_CW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>