osb_it/repo/SalesforceProject/REST/CRM/CAMPAIGN/HANDLER/PS_REST_CRM_CAMPAIGN_HANDLER/wsdl/SalesforceProject_REST_CRM_CAMPAIGN_HANDLER_proxy_PS_REST_CRM_CAMPAIGN_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_CAMPAIGN_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_CAMPAIGN_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_CAMPAIGN_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_CAMPAIGN_HANDLER">
        <plnk:role name="PS_REST_CRM_CAMPAIGN_HANDLERProvider" portType="tns:PS_REST_CRM_CAMPAIGN_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_CampaignHandler/xsd/XSD_CRM_CAMPAIGN_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createCampaign_inputMessage">
        <wsdl:part name="request" element="inp1:requestCreateCampaign"/>
    </wsdl:message>
    <wsdl:message name="createCampaign_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCreateCampaign"/>
    </wsdl:message>
    <wsdl:message name="createCampaign_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="createCampaign_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="createCampaign_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CAMPAIGN_HANDLER_ptt">
        <wsdl:operation name="createCampaign">
            <wsdl:input message="tns:createCampaign_inputMessage"/>
            <wsdl:output message="tns:createCampaign_outputMessage"/>
            <wsdl:fault name="error404" message="tns:createCampaign_error404Message"/>
            <wsdl:fault name="error400" message="tns:createCampaign_error400Message"/>
            <wsdl:fault name="error500" message="tns:createCampaign_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CAMPAIGN_HANDLER_ptt-binding" type="tns:PS_REST_CRM_CAMPAIGN_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createCampaign">
            <soap:operation soapAction="createCampaign"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>