osb_it/repo/SalesforceProject/REST/CRM/ATTR/PROD/CAT/PS_REST_CRM_ATTR_PROD_CAT/wsdl/SalesforceProject_REST_CRM_ATTR_PROD_CAT_proxy_PS_REST_CRM_ATTR_PROD_CAT.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_ATTR_PROD_CAT"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_CRM_ATTR_PROD_CAT"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_CRM_ATTR_PROD_CAT"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data" 
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_ATTR_PROD_CAT">
        <plnk:role name="PS_REST_CRM_ATTR_PROD_CATProvider" portType="tns:PS_REST_CRM_ATTR_PROD_CAT_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_Crm_Attr_Prod_Cat/xsd/XSD_REST_CRM_ATTR_PROD_CAT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="OPGetAttrProdCat_outputMessage">
        <wsdl:part name="reply" element="inp1:responseAttProdCat"/>
    </wsdl:message>
    <wsdl:message name="OPGetAttrProdCat_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="OPGetAttrProdCat_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="OPGetAttrProdCat_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_ATTR_PROD_CAT_ptt">
        <wsdl:operation name="OPGetAttrProdCat">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:OPGetAttrProdCat_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:OPGetAttrProdCat_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:OPGetAttrProdCat_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:OPGetAttrProdCat_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_ATTR_PROD_CAT_ptt-binding" type="tns:PS_REST_CRM_ATTR_PROD_CAT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OPGetAttrProdCat">
            <soap:operation soapAction="OPGetAttrProdCat"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>