esb_it/repo/WS_HTL_GET_STORICO_MAPPING/wsdl/WS_HTL_GET_STORICO_MAPPING.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="StoricoMappingInput"> 
    <xsd:sequence> 
     <xsd:element name="codiceHotel" type="xsd:string" /> 
     <xsd:element name="numeroMesi" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="StoricoMappingOutput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="DatiMapping"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element name="DataStoricizzazione" type="xsd:string" /> 
        <xsd:element maxOccurs="unbounded" name="DettaglioMapping" type="eb:DettaglioMappingType" /> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="DettaglioMappingType"> 
    <xsd:sequence> 
     <xsd:element name="DescrizioneGruppo" type="xsd:string" /> 
     <xsd:element name="DescrizioneStanza" type="xsd:string" /> 
     <xsd:element name="CodiceSMC" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetStoricoMapping"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StoricoMappingInput" type="eb:StoricoMappingInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetStoricoMappingResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DescrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="StoricoMappingOutput" type="eb:StoricoMappingOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetStoricoMappingRequest"> 
  <wsdl:part element="eb:opGetStoricoMapping" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetStoricoMappingResponse"> 
  <wsdl:part element="eb:opGetStoricoMappingResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_GET_STORICO_MAPPINGSoap"> 
  <wsdl:operation name="opGetStoricoMapping"> 
   <wsdl:input message="eb:opGetStoricoMappingRequest" name="opGetStoricoMappingRequest" /> 
   <wsdl:output message="eb:opGetStoricoMappingResponse" name="opGetStoricoMappingResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_GET_STORICO_MAPPINGSoap" type="eb:WS_HTL_GET_STORICO_MAPPINGSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetStoricoMapping"> 
   <soap:operation soapAction="WS_HTL_GET_STORICO_MAPPING/opGetStoricoMapping" style="document" /> 
   <wsdl:input name="opGetStoricoMappingRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetStoricoMappingResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_GET_STORICO_MAPPING"> 
  <wsdl:port binding="eb:WS_HTL_GET_STORICO_MAPPINGSoap" name="WS_HTL_GET_STORICO_MAPPINGSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_GET_STORICO_MAPPING" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>