esb_it/repo/WS_ADN_SOTTOSCRIZIONE_SKY/wsdl/WS_ADN_SOTTOSCRIZIONE_SKY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="ComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_ASSET_NUMBER" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_TRANSACTION_DATE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSottoscrizioneSky"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestWS" type="eb:ComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSottoscrizioneSkyResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ResponseWS" type="eb:ComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSottoscrizioneSkyRequest"> 
  <wsdl:part element="eb:opSottoscrizioneSky" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSottoscrizioneSkyResponse"> 
  <wsdl:part element="eb:opSottoscrizioneSkyResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ADN_SOTTOSCRIZIONE_SKYSoap"> 
  <wsdl:operation name="opSottoscrizioneSky"> 
   <wsdl:input message="eb:opSottoscrizioneSkyRequest" name="opSottoscrizioneSkyRequest" /> 
   <wsdl:output message="eb:opSottoscrizioneSkyResponse" name="opSottoscrizioneSkyResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ADN_SOTTOSCRIZIONE_SKYSoap" type="eb:WS_ADN_SOTTOSCRIZIONE_SKYSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSottoscrizioneSky"> 
   <soap:operation soapAction="WS_ADN_SOTTOSCRIZIONE_SKY/opSottoscrizioneSky" style="document" /> 
   <wsdl:input name="opSottoscrizioneSkyRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSottoscrizioneSkyResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ADN_SOTTOSCRIZIONE_SKY"> 
  <wsdl:port binding="eb:WS_ADN_SOTTOSCRIZIONE_SKYSoap" name="WS_ADN_SOTTOSCRIZIONE_SKYSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_adn/WS_ADN_SOTTOSCRIZIONE_SKY" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>