esb_it/repo/WS_IVR_VERIFICA_ETHAN_CONNESSO/wsdl/WS_IVR_VERIFICA_ETHAN_CONNESSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="decoderid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="account" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ConnId" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="TransId" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="descriptionerr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="transid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVerificaEthanConnesso"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestSCMS" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaEthanConnessoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseSCMS" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerificaEthanConnessoRequest"> 
  <wsdl:part element="eb:opVerificaEthanConnesso" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaEthanConnessoResponse"> 
  <wsdl:part element="eb:opVerificaEthanConnessoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_VERIFICA_ETHAN_CONNESSOSoap"> 
  <wsdl:operation name="opVerificaEthanConnesso"> 
   <wsdl:input message="eb:opVerificaEthanConnessoRequest" name="opVerificaEthanConnessoRequest" /> 
   <wsdl:output message="eb:opVerificaEthanConnessoResponse" name="opVerificaEthanConnessoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_VERIFICA_ETHAN_CONNESSOSoap" type="eb:WS_IVR_VERIFICA_ETHAN_CONNESSOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerificaEthanConnesso"> 
   <soap:operation soapAction="WS_IVR_VERIFICA_ETHAN_CONNESSO/opVerificaEthanConnesso" style="document" /> 
   <wsdl:input name="opVerificaEthanConnessoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaEthanConnessoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_VERIFICA_ETHAN_CONNESSO"> 
  <wsdl:port binding="eb:WS_IVR_VERIFICA_ETHAN_CONNESSOSoap" name="WS_IVR_VERIFICA_ETHAN_CONNESSOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_VERIFICA_ETHAN_CONNESSO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>