osb_it/repo/BlueBirdProject/SALESFORCE/caseHandler/PS_REST_SF_CASE_HANDLER/wsdl/BlueBirdProject_SALESFORCE_caseHandler_proxy_PS_REST_SF_CASE_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_CASE_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSkyReply/BlueBirdProject/PS_REST_SF_CASE_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/BlueBirdProject/PS_REST_SF_CASE_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SF_CASE_HANDLER">
        <plnk:role name="PS_REST_SF_CASE_HANDLERProvider" portType="tns:PS_REST_SF_CASE_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/caseHandler/xsd/XSD_SF_CASE_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="relatedOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateOrderOnCase"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="relatedOrder_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="relatedOrder_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="relatedOrder_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_CASE_HANDLER_ptt">
        <wsdl:operation name="relatedOrder">
            <wsdl:input message="tns:relatedOrder_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault500" message="tns:relatedOrder_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:relatedOrder_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:relatedOrder_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_CASE_HANDLER_ptt-binding" type="tns:PS_REST_SF_CASE_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="relatedOrder">
            <soap:operation soapAction="relatedOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>