osb_it/repo/SalesforceProject/API/REST/CLIENTE/PS_REST_API_CLIENTE/wsdl/SalesforceProject_API_REST_CLIENTE_proxy_PS_REST_API_CLIENTE.wsdl

<wsdl:definitions name="PS_REST_API_CLIENTE" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_API_CLIENTE" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_API_CLIENTE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/rest/faults" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <plnk:partnerLinkType name="PS_REST_API_CLIENTE">
        <plnk:role name="PS_REST_API_CLIENTEProvider" portType="tns:PS_REST_API_CLIENTE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/API_REST/cliente/XSD_API_CLIENTE.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="opLeggiDatiCliente_inputMessage">
        <wsdl:part name="request" element="inp1:requestLeggiDatiClienteSF"/>
    </wsdl:message>
    <wsdl:message name="opLeggiDatiCliente_outputMessage">
        <wsdl:part name="reply" element="inp1:responseLeggiDatiClienteSF"/>
    </wsdl:message>
    <wsdl:message name="opLeggiDatiCliente_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="opLeggiDatiCliente_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opLeggiDatiCliente_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="PS_REST_API_CLIENTE_ptt">
        <wsdl:operation name="opLeggiDatiCliente">
            <wsdl:input message="tns:opLeggiDatiCliente_inputMessage"/>
            <wsdl:output message="tns:opLeggiDatiCliente_outputMessage"/>
            <wsdl:fault name="error404" message="tns:opLeggiDatiCliente_error404Message"/>
            <wsdl:fault name="error400" message="tns:opLeggiDatiCliente_error400Message"/>
            <wsdl:fault name="error500" message="tns:opLeggiDatiCliente_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_API_CLIENTE_ptt-binding" type="tns:PS_REST_API_CLIENTE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opLeggiDatiCliente">
            <soap:operation soapAction="opLeggiDatiCliente"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>