osb_it/repo/AspideProject/ManageTeamAgenda/PS_WS_TA_MANAGE_TEAM_AGENDA/wsdl/AspideProject_ManageTeamAgenda_proxy_PS_WS_TA_MANAGE_TEAM_AGENDA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/TA_MANAGE_TEAM_AGENDA" xmlns:inp1="http://www.skytv.it/mdw/data" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_TA_MANAGE_TEAM_AGENDA" targetNamespace="http://www.skytv.it/mdw/service/TA_MANAGE_TEAM_AGENDA">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_TA_MANAGE_TEAM_AGENDA.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestChangeOwner_message">
		<wsdl:part name="part_requestChangeOwner" element="inp1:requestChangeOwner"/>
	</wsdl:message>
	<wsdl:message name="responseChangeOwner_message">
		<wsdl:part name="part_responseChangeOwner" element="inp1:responseChangeOwner"/>
	</wsdl:message>
        <wsdl:message name="requestChangeTeam_message">
		<wsdl:part name="part_requestChangeTeam" element="inp1:requestChangeTeam"/>
	</wsdl:message>
	<wsdl:message name="responseChangeTeam_message">
		<wsdl:part name="part_responseChangeTeam" element="inp1:responseChangeTeam"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="TA_MANAGE_TEAM_AGENDA_ptt">
		<wsdl:operation name="execute_ChangeOwner">
			<wsdl:input message="tns:requestChangeOwner_message"/>
			<wsdl:output message="tns:responseChangeOwner_message"/>
		</wsdl:operation>
                <wsdl:operation name="execute_ChangeTeam">
			<wsdl:input message="tns:requestChangeTeam_message"/>
			<wsdl:output message="tns:responseChangeTeam_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TA_MANAGE_TEAM_AGENDA_pttSOAP11Binding" type="tns:TA_MANAGE_TEAM_AGENDA_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_ChangeOwner">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TA_MANAGE_TEAM_AGENDA/execute_ChangeOwner" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestChangeOwner" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseChangeOwner" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="execute_ChangeTeam">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TA_MANAGE_TEAM_AGENDA/execute_ChangeTeam" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestChangeTeam" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseChangeTeam" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>