osb_it/repo/BlueBirdProject/OM/getOffers/PS_REST_OM_GET_OFFER/wadl/BlueBirdProject_OM_getOffers_proxy_PS_REST_OM_GET_OFFER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_OM_GET_OFFER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/OM/getOffers/xsd/XSD_OM_GET_OFFERS.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="getOffers">
            <request>
               <param name="orderId" style="query" soa:expression="$msg.request/ns0:orderId" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetOffers" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/appointmentDetails">
         <method name="GET" soa:wsdlOperation="appointmentDetails">
            <request>
               <param name="accessOrderId" style="query" soa:expression="$msg.request/ns0:accessOrderId" default="" type="xsd:string"/>
               <param name="wholesaler" style="query" soa:expression="$msg.request/ns0:wholesaler" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetOffersAppointmentDetails" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>