osb_it/repo/SiebelProject/SiebelVerifiche/PS_WS_SIEBEL_VERIFICHE/xsd/XSD_SIEBEL_VERIFICHE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
    targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
    <xsd:complexType name="listaVerificheType">
        <xsd:sequence>
            <xsd:element name="verifica" type="verificaType" maxOccurs="100"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="verificaType">
        <xsd:sequence>
            <xsd:element name="codiceCliente" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RequestVerificaContrattiBBHType">
        <xsd:sequence>
            <xsd:element name="listaVerifiche" type="listaVerificheType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseVerificaContrattiBBHType">
        <xsd:sequence>
            <xsd:element name="esito" type="xsd:string"/>
            <xsd:element name="descrizioneEsito" type="xsd:string"/>
            <xsd:element name="listaEsitiVerifica" type="listaEsitiVerificaType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="listaEsitiVerificaType">
        <xsd:sequence>
            <xsd:element name="esitoVerifica" type="esitoVerificaType" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="esitoVerificaType">
        <xsd:sequence>
            <xsd:element name="codiceCliente" type="xsd:string"/>
            <xsd:element name="flagBBH" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="requestVerificaContrattiBBH" type="RequestVerificaContrattiBBHType"/>
    <xsd:element name="responseVerificaContrattiBBH" type="ResponseVerificaContrattiBBHType"/>
</xsd:schema>