osb_it/repo/SalesforceProject/REST/CRM/ASSET/HANDLER/PS_REST_CRM_ASSET_HANDLER/wadl/SalesforceProject_REST_CRM_ASSET_HANDLER_proxy_PS_REST_CRM_ASSET_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_ASSET_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_CRM_ASSET_HANDLER">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_AssetHandler/xsd/XSD_CRM_ASSET_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/getAsset">
         <method name="GET" soa:wsdlOperation="GetAsset">
            <request>
               <param name="contrId" style="query" soa:expression="$msg.request/ns0:contrId" default="" type="xsd:string"/>
               <param name="includeGetAsset" style="query" soa:expression="$msg.request/ns0:includeGetAsset" default="" type="xsd:boolean"/>
               <param name="fields" style="query" soa:expression="$msg.request/ns0:fields" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetAsset" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/{contractId}/assets/cleanup">
         <method name="POST" soa:wsdlOperation="OpAssetsCleanup">
            <request>
               <param name="contractId" style="template" soa:expression="$property.contractId" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestAssetsCleanup" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>