osb_it/repo/PegasusProject/PortaleBookingHotel/PS_WS_PGS_PORTALE_BOOKING_HOTEL/xsd/XSD_PGS_PORTALE_BOOKING_HOTEL.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:complexType name="requestNotificaInsolutiType">
    <xsd:sequence>
      <xsd:element name="mdwBillingAccount" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseNotificaInsolutiType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string"/>
      <xsd:element name="descrizioneEsito" type="xsd:string"/>
      <xsd:element name="TIDPGS" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="requestNotificaInsoluti" type="requestNotificaInsolutiType"/>
  <xsd:element name="responseNotificaInsoluti" type="responseNotificaInsolutiType"/>
  <xsd:complexType name="requestNotificaScadenzaFattureType">
    <xsd:sequence>
      <xsd:element name="mdwBillingAccount" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseNotificaScadenzaFattureType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string"/>
      <xsd:element name="descrizioneEsito" type="xsd:string"/>
      <xsd:element name="TIDPGS" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="requestNotificaScadenzaFatture" type="requestNotificaScadenzaFattureType"/>
  <xsd:element name="responseNotificaScadenzaFatture" type="responseNotificaScadenzaFattureType"/>
</xsd:schema>