osb_it/repo/SalesforceProject/REST/CRM/GESTIONE/CONSENSO/PS_REST_CRM_GESTIONE_CONSENSO/xsd/XSD_CRM_GESTIONE_CONSENSO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestUpdatePrivacyType">
		<xsd:sequence>
			<xsd:element name="codiceClienteSky" type="xsd:string"/>
			<xsd:element name="flagSkyGoTrial" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/> 
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="flagVodConsumi" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="flagPromoNuoveTecnologie" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="flagStatistiche" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="flagAnalisiPreferenze" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                        <xsd:element name="flagConsensokidsApp" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                        <xsd:element name="flagConsensoDatiSky" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                        <xsd:element name="flagConsensoNavigazioneTracking" minOccurs="0">
                        			<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                        <xsd:element name="flagConsensoTracciamentoCookie" minOccurs="0">
                        			<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                            <xsd:element name="flagAnywhere" minOccurs="0">
                        			<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                            <xsd:element name="flagClientePromoDmOut" minOccurs="0">
                        			<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                         <xsd:element name="flagTermsAndConditionKidsAppConsent" minOccurs="0">
                        			<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="Y"/>
						<xsd:enumeration value="N"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
                        <xsd:element name="mdwChannel" minOccurs="0">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:enumeration value="IVR"/>
						<xsd:enumeration value="WSC"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestUpdatePrivacy" type="requestUpdatePrivacyType"/>
	<xsd:complexType name="responseUpdatePrivacyType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseUpdatePrivacy" type="responseUpdatePrivacyType"/>
</xsd:schema>