osb_it/repo/SalesforceProject/REST/CRM/COUNTRY/HANDLER/PS_REST_CRM_COUNTRY_HANDLER/xsd/XSD_REST_CRM_COUNTRY_HANDLER.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
 <xsd:element name="requestGetCountryData" type="requestGetCountryDataType"/>
 <xsd:complexType name="requestGetCountryDataType">
  <xsd:sequence/>
</xsd:complexType>
 <xsd:element name="responseGetCountryData" type="responseGetCountryDataType"/>
 <xsd:complexType name="responseGetCountryDataType">
  <xsd:sequence>
    <xsd:element name="mdwCountriesList" type="mdwCountriesListType" minOccurs="0" />
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="mdwCountriesListType">
  <xsd:sequence>
    <xsd:element name="mdwCountry" type="mdwCountryType" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="mdwCountryType">
  <xsd:sequence>
    <xsd:element name="mdwCountryName" type="xsd:string"/>
    <xsd:element name="mdwCountryCode" type="xsd:string"/>
    <xsd:element name="mdwMemberOf" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>