esb_it/repo/WS_HTL_RECUPERO_ULTIMO_CONTATTO/wsdl/WS_HTL_RECUPERO_ULTIMO_CONTATTO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="retrive_unactive_hotels"> 
    <xsd:sequence> 
     <xsd:element name="codice_hotel" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="data" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="unactive_hotels"> 
    <xsd:sequence> 
     <xsd:element name="hotels" type="eb:c_hotels" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_hotels"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="hotel" type="eb:c_hotel" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_hotel"> 
    <xsd:sequence> 
     <xsd:element name="codice_hotel" type="xsd:string" /> 
     <xsd:element name="data" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRecuperoUltimoContatto"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="retrive_unactive_hotels" type="eb:retrive_unactive_hotels" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="HTL_CODICE_UTENTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRecuperoUltimoContattoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="unactive_hotels" type="eb:unactive_hotels" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRecuperoUltimoContattoRequest"> 
  <wsdl:part element="eb:opRecuperoUltimoContatto" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRecuperoUltimoContattoResponse"> 
  <wsdl:part element="eb:opRecuperoUltimoContattoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_RECUPERO_ULTIMO_CONTATTOSoap"> 
  <wsdl:operation name="opRecuperoUltimoContatto"> 
   <wsdl:input message="eb:opRecuperoUltimoContattoRequest" name="opRecuperoUltimoContattoRequest" /> 
   <wsdl:output message="eb:opRecuperoUltimoContattoResponse" name="opRecuperoUltimoContattoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_RECUPERO_ULTIMO_CONTATTOSoap" type="eb:WS_HTL_RECUPERO_ULTIMO_CONTATTOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRecuperoUltimoContatto"> 
   <soap:operation soapAction="WS_HTL_RECUPERO_ULTIMO_CONTATTO/opRecuperoUltimoContatto" style="document" /> 
   <wsdl:input name="opRecuperoUltimoContattoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRecuperoUltimoContattoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_RECUPERO_ULTIMO_CONTATTO"> 
  <wsdl:port binding="eb:WS_HTL_RECUPERO_ULTIMO_CONTATTOSoap" name="WS_HTL_RECUPERO_ULTIMO_CONTATTOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_RECUPERO_ULTIMO_CONTATTO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>