esb_it/repo/WS_CONFERMA_ACQUISTO_SP_ADULTH24/wsdl/WS_CONFERMA_ACQUISTO_SP_ADULTH24.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_TITOLO_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_COSTO_SERVIZIO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PROMO_KIND" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PROMO_DETAILS" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO_ORIGINALE" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PREPAYED_CREDIT" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PREPAID_CREDIT_TOKENS" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PAYMENT_METHOD" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opConfermaAcquistoSP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TELEPHONE_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_REF_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_MEDIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_EVENT_TRASM_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SKY_PASS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PPV_PIN" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opConfermaAcquistoSPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ComplexOutput" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opConfermaAcquistoSPRequest"> 
  <wsdl:part element="eb:opConfermaAcquistoSP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opConfermaAcquistoSPResponse"> 
  <wsdl:part element="eb:opConfermaAcquistoSPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_CONFERMA_ACQUISTO_SP_ADULTH24Soap"> 
  <wsdl:operation name="opConfermaAcquistoSP"> 
   <wsdl:input message="eb:opConfermaAcquistoSPRequest" name="opConfermaAcquistoSPRequest" /> 
   <wsdl:output message="eb:opConfermaAcquistoSPResponse" name="opConfermaAcquistoSPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_CONFERMA_ACQUISTO_SP_ADULTH24Soap" type="eb:WS_CONFERMA_ACQUISTO_SP_ADULTH24Soap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opConfermaAcquistoSP"> 
   <soap:operation soapAction="WS_CONFERMA_ACQUISTO_SP_ADULTH24/opConfermaAcquistoSP" style="document" /> 
   <wsdl:input name="opConfermaAcquistoSPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opConfermaAcquistoSPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_CONFERMA_ACQUISTO_SP_ADULTH24"> 
  <wsdl:port binding="eb:WS_CONFERMA_ACQUISTO_SP_ADULTH24Soap" name="WS_CONFERMA_ACQUISTO_SP_ADULTH24Soap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_CONFERMA_ACQUISTO_SP_ADULTH24" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>