osb_it/repo/BlueBirdProject/KENAN/suppressedPlansHandler/PS_WS_KENAN_SUPPRESSED_PLANS_HANDLER/wsdl/BlueBirdProject_KENAN_suppressedPlansHandler_proxy_PS_WS_KENAN_SUPPRESSED_PLANS_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                  targetNamespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                  xmlns:tns="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                  xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../xsd/XSD_KENAN_SUPPRESSED_PLANS_HANDLER.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessageSuppressedPlan">
    <wsdl:part name="part_requestSuppressedPlan" element="inp1:requestRetrieveSuppressedPlans"/>
  </wsdl:message>
  <wsdl:message name="replyMessageSuppressedPlan">
    <wsdl:part name="part_suppressedPlanResponse" element="inp1:suppressedPlanResponse"/>
  </wsdl:message>
  <wsdl:message name="requestRetrieveSuppressedPlanDetails">
    <wsdl:part name="part_RetrieveSuppressedPlanDetails" element="inp1:requestRetrieveSuppressedPlanDetails"/>
  </wsdl:message>
  <wsdl:message name="replyRetrieveSuppressedPlanDetails">
    <wsdl:part name="part_replyRetrieveSuppressedPlanDetails" element="inp1:suppressedPlanDetailsResponse"/>
  </wsdl:message>
  <wsdl:message name="requestUpdateSuppressedPlan">
    <wsdl:part name="part_requestUpdateSuppressedPlan" element="inp1:requestUpdateSuppressedPlans"/>
  </wsdl:message>
  <wsdl:message name="replyUpdateSuppressedPlan">
    <wsdl:part name="part_replyUpdateSuppressedPlan" element="inp1:responseUpdateSuppressedPlans"/>
  </wsdl:message>
  <wsdl:message name="headerMessage">
    <wsdl:part name="partHeader" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:portType name="execute_ptt">
    <wsdl:operation name="execute_RetrieveSuppressedPlans">
      <wsdl:input message="tns:requestMessageSuppressedPlan"/>
      <wsdl:output message="tns:replyMessageSuppressedPlan"/>
    </wsdl:operation>
    <wsdl:operation name="execute_RetrieveSuppressedPlanDetails">
      <wsdl:input message="tns:requestRetrieveSuppressedPlanDetails"/>
      <wsdl:output message="tns:replyRetrieveSuppressedPlanDetails"/>
    </wsdl:operation>
    <wsdl:operation name="execute_UpdateSuppressedPlan">
      <wsdl:input message="tns:requestUpdateSuppressedPlan"/>
      <wsdl:output message="tns:replyUpdateSuppressedPlan"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="execute_bind" type="tns:execute_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_RetrieveSuppressedPlans">
      <soap:operation style="document" soapAction="execute"/>
      <wsdl:input>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                   parts="part_requestSuppressedPlan"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                   parts="part_suppressedPlanResponse"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_RetrieveSuppressedPlanDetails">
      <soap:operation style="document" soapAction="execute"/>
      <wsdl:input>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                   parts="part_RetrieveSuppressedPlanDetails"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                   parts="part_replyRetrieveSuppressedPlanDetails"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_UpdateSuppressedPlan">
      <soap:operation style="document" soapAction="execute"/>
      <wsdl:input>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                   parts="part_requestUpdateSuppressedPlan"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_KENAN_SUPPRESSED_PLANS_HANDLER"
                   parts="part_replyUpdateSuppressedPlan"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>