osb_it/repo/SiebelProject/PS_WS_CRM_GET_ALTRI_APPARATI_2/xsd/XSD_CRM_GET_ALTRI_APPARATI_2.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestGetAltriApparati2" type="requestGetAltriApparati2Type"/>
	<xsd:complexType name="requestGetAltriApparati2Type">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CodiceCliente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfFieldsType">
		<xsd:sequence>
			<xsd:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="Nome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Valore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Tipo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseGetAltriApparati2" type="responseGetAltriApparati2Type"/>
	<xsd:complexType name="responseGetAltriApparati2Type">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ListOfApparati" type="ListOfApparatiType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfApparatiType">
		<xsd:sequence>
			<xsd:element name="Apparato" type="ApparatoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApparatoType">
		<xsd:sequence>
			<xsd:element name="Account" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CausaleSmarrimento" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Cliente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ClienteTELEPiu" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CodiceParte" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DataAcquistoDecoder" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DataFineGaranzia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DataUltimaVariazionediStato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Leasing" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Matricola" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Note" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NumeroRiparazioni" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="NumeroSchedaMadre" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ScadenzaGaranziaCliente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Sottostato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Stato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SwappedCard" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SwappingCard" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="SwappingDate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TipoApparato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VersioneHardwareCorrente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VersioneHardwareOriginale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VersioneSoftwareCorrente" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="VersioneSoftwareOriginale" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>