esb_it/repo/WS_AOL_PAYPAL_START_PAYMENT/wsdl/WS_AOL_PAYPAL_START_PAYMENT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="urn:ebay:api:PayPalAPI" schemaLocation="xsdPayPal/SkyXSD_PayPal_Complete.xsd" /> 
   <xsd:complexType name="SetExpressCheckoutReq" xmlns:ebl="urn:ebay:api:PayPalAPI"> 
    <xsd:complexContent> 
     <xsd:extension base="ebl:SetExpressCheckoutReq" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="SetExpressCheckoutResponse" xmlns:ebl="urn:ebay:api:PayPalAPI"> 
    <xsd:complexContent> 
     <xsd:extension base="ebl:SetExpressCheckoutResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opStartPayment"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SetExpressCheckoutReq" type="eb:SetExpressCheckoutReq" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStartPaymentResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SetExpressCheckoutResponse" type="eb:SetExpressCheckoutResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opStartPaymentRequest"> 
  <wsdl:part element="eb:opStartPayment" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStartPaymentResponse"> 
  <wsdl:part element="eb:opStartPaymentResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AOL_PAYPAL_START_PAYMENTSoap"> 
  <wsdl:operation name="opStartPayment"> 
   <wsdl:input message="eb:opStartPaymentRequest" name="opStartPaymentRequest" /> 
   <wsdl:output message="eb:opStartPaymentResponse" name="opStartPaymentResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AOL_PAYPAL_START_PAYMENTSoap" type="eb:WS_AOL_PAYPAL_START_PAYMENTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opStartPayment"> 
   <soap:operation soapAction="WS_AOL_PAYPAL_START_PAYMENT/opStartPayment" style="document" /> 
   <wsdl:input name="opStartPaymentRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opStartPaymentResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AOL_PAYPAL_START_PAYMENT"> 
  <wsdl:port binding="eb:WS_AOL_PAYPAL_START_PAYMENTSoap" name="WS_AOL_PAYPAL_START_PAYMENTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AOL_PAYPAL_START_PAYMENT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>