esb_it/repo/WSIbmsInput/wsdl/WSIbmsInput.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://soap.sforce.com/schemas/class/WS_IBMS_Input" schemaLocation="SkyXSD_IbmsInput.xsd" /> 
   <xsd:complexType name="opUpdateCampaign" xmlns:sf="http://soap.sforce.com/schemas/class/WS_IBMS_Input"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:opUpdateCampaign" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="opUpdateCampaignResponse" xmlns:sf="http://soap.sforce.com/schemas/class/WS_IBMS_Input"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:opUpdateCampaignResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="opCreateCampaign" xmlns:sf="http://soap.sforce.com/schemas/class/WS_IBMS_Input"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:opCreateCampaign" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="opCreateCampaignResponse" xmlns:sf="http://soap.sforce.com/schemas/class/WS_IBMS_Input"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:opCreateCampaignResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCreateCampaign"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:opCreateCampaign" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreateCampaignResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:opCreateCampaignResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpdateCampaign"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:opUpdateCampaign" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpdateCampaignResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:opUpdateCampaignResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCreateCampaignRequest"> 
  <wsdl:part element="eb:opCreateCampaign" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCreateCampaignResponse"> 
  <wsdl:part element="eb:opCreateCampaignResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpdateCampaignRequest"> 
  <wsdl:part element="eb:opUpdateCampaign" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpdateCampaignResponse"> 
  <wsdl:part element="eb:opUpdateCampaignResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WSIbmsInputSoap"> 
  <wsdl:operation name="opCreateCampaign"> 
   <wsdl:input message="eb:opCreateCampaignRequest" name="opCreateCampaignRequest" /> 
   <wsdl:output message="eb:opCreateCampaignResponse" name="opCreateCampaignResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opUpdateCampaign"> 
   <wsdl:input message="eb:opUpdateCampaignRequest" name="opUpdateCampaignRequest" /> 
   <wsdl:output message="eb:opUpdateCampaignResponse" name="opUpdateCampaignResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WSIbmsInputSoap" type="eb:WSIbmsInputSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCreateCampaign"> 
   <soap:operation soapAction="WSIbmsInput/opCreateCampaign" style="document" /> 
   <wsdl:input name="opCreateCampaignRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCreateCampaignResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opUpdateCampaign"> 
   <soap:operation soapAction="WSIbmsInput/opUpdateCampaign" style="document" /> 
   <wsdl:input name="opUpdateCampaignRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opUpdateCampaignResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WSIbmsInput"> 
  <wsdl:port binding="eb:WSIbmsInputSoap" name="WSIbmsInputSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WSIbmsInput" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>