osb_it/repo/SalesforceProject/REST/SF/VERIFICA/VALORIZZAZIONE/CF/PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF/wsdl/SalesforceProject_REST_SF_VERIFICA_VALORIZZAZIONE_CF_proxy_PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF"
     targetNamespace="http://xmlns.oracle.com/OSBSvil/SalesforceProject/PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil/SalesforceProject/PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp2="http://www.skytv.it/mdw/rest/faults"
    >
    <plnk:partnerLinkType name="PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF">
        <plnk:role name="PS_REST_SF_VERIFICA_VALORIZZAZIONE_CFProvider" portType="tns:PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/VerificaValorizzazioneCF/xsd/XSD_SF_VERIFICA_VALORIZZAZIONE_CF.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/rest/faults" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/VerificaValorizzazioneCF/xsd/XSD_FAULTS.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="VerificaValorizzazioneCF_inputMessage">
        <wsdl:part name="request" element="inp1:requestVerificaValorizzazioneCF"/>
    </wsdl:message>
    <wsdl:message name="VerificaValorizzazioneCF_outputMessage">
        <wsdl:part name="reply" element="inp1:responseVerificaValorizzazioneCF"/>
    </wsdl:message>
    <wsdl:message name="VerificaValorizzazioneCF_fault400Message">
        <wsdl:part name="fault_fault400" element="inp2:fault400"/>
    </wsdl:message>
    <wsdl:message name="VerificaValorizzazioneCF_fault500Message">
        <wsdl:part name="fault_fault500" element="inp2:fault500"/>
    </wsdl:message>
    <wsdl:message name="VerificaValorizzazioneCF_fault404Message">
        <wsdl:part name="fault_fault404" element="inp2:fault404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF_ptt">
        <wsdl:operation name="VerificaValorizzazioneCF">
            <wsdl:input message="tns:VerificaValorizzazioneCF_inputMessage"/>
            <wsdl:output message="tns:VerificaValorizzazioneCF_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:VerificaValorizzazioneCF_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:VerificaValorizzazioneCF_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:VerificaValorizzazioneCF_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF_ptt-binding" type="tns:PS_REST_SF_VERIFICA_VALORIZZAZIONE_CF_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="VerificaValorizzazioneCF">
            <soap:operation soapAction="VerificaValorizzazioneCF"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>