osb_it/repo/SiebelProject/PS_WS_CRM_SIE_COUPON/xsd/XSD_CRM_SIE_COUPON.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestGetCouponType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestGetCoupon" type="requestGetCouponType"/>
	<xsd:element name="responseGetCoupon" type="responseGetCouponType"/>
	<xsd:complexType name="responseGetCouponType">
		<xsd:sequence>
			<xsd:element name="CodiceCoupon" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ListaAttiva" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>