esb_it/repo/WS_SCMS_MOD_DIRITTI/wsdl/WS_SCMS_MOD_DIRITTI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opModDiritti"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_CLIENT_API" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_PRIORITY" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opModDirittiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opModDirittiRequest"> 
  <wsdl:part element="eb:opModDiritti" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opModDirittiResponse"> 
  <wsdl:part element="eb:opModDirittiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_MOD_DIRITTISoap"> 
  <wsdl:operation name="opModDiritti"> 
   <wsdl:input message="eb:opModDirittiRequest" name="opModDirittiRequest" /> 
   <wsdl:output message="eb:opModDirittiResponse" name="opModDirittiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_MOD_DIRITTISoap" type="eb:WS_SCMS_MOD_DIRITTISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opModDiritti"> 
   <soap:operation soapAction="WS_SCMS_MOD_DIRITTI/opModDiritti" style="document" /> 
   <wsdl:input name="opModDirittiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opModDirittiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_MOD_DIRITTI"> 
  <wsdl:port binding="eb:WS_SCMS_MOD_DIRITTISoap" name="WS_SCMS_MOD_DIRITTISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_MOD_DIRITTI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>