osb_it/repo/SiebelProject/PS_WS_CRM_SIE_REWARD/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_REWARD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_REWARD" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_REWARD" targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_REWARD">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_REWARD.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="responseActionReward_message">
		<wsdl:part name="part_requestActionReward" element="inp1:requestActionReward"/>
	</wsdl:message>
	<wsdl:message name="requestActionReward_message">
		<wsdl:part name="part_responseActionReward" element="inp1:responseActionReward"/>
	</wsdl:message>
	<wsdl:message name="responseGetReward_message">
		<wsdl:part name="part_requestGetReward" element="inp1:requestGetReward"/>
	</wsdl:message>
	<wsdl:message name="requestGetReward_message">
		<wsdl:part name="part_responseGetReward" element="inp1:responseGetReward"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_SIE_REWARD_ptt">
		<wsdl:operation name="execute_actionReward">
			<wsdl:input message="tns:responseActionReward_message"/>
			<wsdl:output message="tns:requestActionReward_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getReward">
			<wsdl:input message="tns:responseGetReward_message"/>
			<wsdl:output message="tns:requestGetReward_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRM_SIE_REWARD_pttSOAP11Binding" type="tns:CRM_SIE_REWARD_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_actionReward">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_REWARD/execute_actionReward" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestActionReward" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseActionReward" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_getReward">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_REWARD/execute_getReward" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetReward" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetReward" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>