esb_it/repo/WS_SF_HANDLE_ESITO_NAMIRIAL/wsdl/WS_SF_HANDLE_ESITO_NAMIRIAL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler" schemaLocation="xsdSF/SkyXSD_SBL_SF_HANDLE_ESITO_NAMIRIAL.xsd" /> 
   <xsd:complexType name="RequestHandleEsitoNamirial" xmlns:sf="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:RequestHandleEsitoNamirialType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="ResponseHandleEsitoNamirial" xmlns:sf="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:ResponseHandleEsitoNamirialType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opHandleEsitoNamirial"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestHandleEsitoNamirial" type="eb:RequestHandleEsitoNamirial" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opHandleEsitoNamirialResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ResponseHandleEsitoNamirial" type="eb:ResponseHandleEsitoNamirial" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opHandleEsitoNamirialRequest"> 
  <wsdl:part element="eb:opHandleEsitoNamirial" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opHandleEsitoNamirialResponse"> 
  <wsdl:part element="eb:opHandleEsitoNamirialResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_HANDLE_ESITO_NAMIRIALSoap"> 
  <wsdl:operation name="opHandleEsitoNamirial"> 
   <wsdl:input message="eb:opHandleEsitoNamirialRequest" name="opHandleEsitoNamirialRequest" /> 
   <wsdl:output message="eb:opHandleEsitoNamirialResponse" name="opHandleEsitoNamirialResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_HANDLE_ESITO_NAMIRIALSoap" type="eb:WS_SF_HANDLE_ESITO_NAMIRIALSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opHandleEsitoNamirial"> 
   <soap:operation soapAction="WS_SF_HANDLE_ESITO_NAMIRIAL/opHandleEsitoNamirial" style="document" /> 
   <wsdl:input name="opHandleEsitoNamirialRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opHandleEsitoNamirialResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_HANDLE_ESITO_NAMIRIAL"> 
  <wsdl:port binding="eb:WS_SF_HANDLE_ESITO_NAMIRIALSoap" name="WS_SF_HANDLE_ESITO_NAMIRIALSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_mobile/WS_SF_HANDLE_ESITO_NAMIRIAL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>