esb_it/repo/WS_WEB_KBP_VIEW_FATTURE_BBH/wsdl/WS_WEB_KBP_VIEW_FATTURE_BBH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_FML32" type="eb:FMLComplexFatture" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexFatture"> 
    <xsd:sequence> 
     <xsd:element name="KN_TOTALE_FATTURA" type="xsd:string" /> 
     <xsd:element name="KN_CREDITO_PRECEDENTE" type="xsd:string" /> 
     <xsd:element name="KN_IMPORTO_DOVUTO" type="xsd:string" /> 
     <xsd:element name="INC_DATA_SCADENZA" type="xsd:string" /> 
     <xsd:element name="INC_DATA_CHIUSURA" type="xsd:string" /> 
     <xsd:element name="INC_TOTALE_ADJ" type="xsd:string" /> 
     <xsd:element name="INC_IMPORTO_INCASSATO" type="xsd:string" /> 
     <xsd:element name="KN_TOTALE_DOVUTO_EURO" type="xsd:string" /> 
     <xsd:element name="KN_NUMERO_FATTURA" type="xsd:string" /> 
     <xsd:element name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element name="CA_REFID" type="xsd:string" /> 
     <xsd:element name="CA_F_RESET_EXP" type="xsd:string" /> 
     <xsd:element name="HTL_REF_ID" type="xsd:string" /> 
     <xsd:element name="CA_RESET_OPPV_LIMIT" type="xsd:string" /> 
     <xsd:element name="CA_FLAG_PPV_BILLING" type="xsd:string" /> 
     <xsd:element name="CRM_DATA_DDT" type="xsd:string" /> 
     <xsd:element name="KN_DATA_EMISSIONE" type="xsd:string" /> 
     <xsd:element name="INC_STATO_DEPOSITO" type="xsd:string" /> 
     <xsd:element name="INC_INIZIO_ELABORAZIONE" type="xsd:string" /> 
     <xsd:element name="CA_AMOUNT" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opViewFatture"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opViewFattureResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opViewFattureRequest"> 
  <wsdl:part element="eb:opViewFatture" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opViewFattureResponse"> 
  <wsdl:part element="eb:opViewFattureResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_KBP_VIEW_FATTURE_BBHSoap"> 
  <wsdl:operation name="opViewFatture"> 
   <wsdl:input message="eb:opViewFattureRequest" name="opViewFattureRequest" /> 
   <wsdl:output message="eb:opViewFattureResponse" name="opViewFattureResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_KBP_VIEW_FATTURE_BBHSoap" type="eb:WS_WEB_KBP_VIEW_FATTURE_BBHSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opViewFatture"> 
   <soap:operation soapAction="WS_WEB_KBP_VIEW_FATTURE_BBH/opViewFatture" style="document" /> 
   <wsdl:input name="opViewFattureRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opViewFattureResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_KBP_VIEW_FATTURE_BBH"> 
  <wsdl:port binding="eb:WS_WEB_KBP_VIEW_FATTURE_BBHSoap" name="WS_WEB_KBP_VIEW_FATTURE_BBHSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_KBP_VIEW_FATTURE_BBH" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>