esb_it/repo/AssociaCellulare/wsdl/AssociaCellulare.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="ASSOCIATION_CELL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_OPPV_NUMERO_TELEFONO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ASSOCIATION_CELLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ASSOCIATION_CELLRequest"> 
  <wsdl:part element="eb:ASSOCIATION_CELL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ASSOCIATION_CELLResponse"> 
  <wsdl:part element="eb:ASSOCIATION_CELLResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="AssociaCellulareSoap"> 
  <wsdl:operation name="ASSOCIATION_CELL"> 
   <wsdl:input message="eb:ASSOCIATION_CELLRequest" name="ASSOCIATION_CELLRequest" /> 
   <wsdl:output message="eb:ASSOCIATION_CELLResponse" name="ASSOCIATION_CELLResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="AssociaCellulareSoap" type="eb:AssociaCellulareSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ASSOCIATION_CELL"> 
   <soap:operation soapAction="AssociaCellulare/ASSOCIATION_CELL" style="document" /> 
   <wsdl:input name="ASSOCIATION_CELLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ASSOCIATION_CELLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="AssociaCellulare"> 
  <wsdl:port binding="eb:AssociaCellulareSoap" name="AssociaCellulareSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/AssociaCellulare" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>