osb_it/repo/SalesforceProject/REST/CRM/DECODER/HANDLER/PS_REST_CRM_DECODER_HANDLER/wadl/SalesforceProject_REST_CRM_DECODER_HANDLER_proxy_PS_REST_CRM_DECODER_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_DECODER_HANDLER" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns0="http://www.skytv.it/mdw/data">
   <doc title="PS_REST_CRM_DECODER_HANDLER">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_DecoderHandler/xsd/XSD_CRM_DECODER_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/compDecoderInstall">
         <method name="GET" soa:wsdlOperation="compDecoderInstall">
            <request>
               <param name="mdwType" style="query" soa:expression="$msg.request/ns0:mdwType" default="" type="xsd:string"/>
               <param name="mdwSMCCode" style="query" soa:expression="$msg.request/ns0:mdwSMCCode" default="" type="xsd:string"/>
               <param name="contrId" style="query" soa:expression="$msg.request/ns0:contrId" default="" type="xsd:string"/>
               <param name="mdwPktMvType" style="query" soa:expression="$msg.request/ns0:mdwPktMvType" default="" type="xsd:string"/>
               <param name="mdwPromoCode" style="query" soa:expression="$msg.request/ns0:mdwPromoCode" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseCompDecoderInstall" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/getIntended">
         <method name="GET" soa:wsdlOperation="GetIntended">
            <request>
               <param name="multivision" style="query" soa:expression="$msg.request/ns0:multivision" default="" type="xsd:string"/>
               <param name="orderId" style="query" soa:expression="$msg.request/ns0:orderId" default="" type="xsd:string"/>
               <param name="lineItemId" style="query" soa:expression="$msg.request/ns0:lineItemId" default="" type="xsd:string"/>
               <param name="model" style="query" soa:expression="$msg.request/ns0:model" default="" type="xsd:string"/>
               <param name="subStatus" style="query" soa:expression="$msg.request/ns0:subStatus" default="" type="xsd:string"/>
               <param name="promoType" style="query" soa:expression="$msg.request/ns0:promoType" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetIntended" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/updateIntended">
         <method name="POST" soa:wsdlOperation="UpdateIntended">
            <request>
               <representation mediaType="application/xml" element="cns:requestUpdateIntended" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseUpdateIntended" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>