osb_it/repo/SiebelProject/PS_WS_CRM_SIE_ANNULLA_ODL/xsd/XSD_CRM_SIE_ANNULLA_ODL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestAnnullaOdlType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string"/>
			<xsd:element name="NumeroODL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MotivoAnnullamento" type="xsd:string"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfFieldsType">
		<xsd:sequence>
			<xsd:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="Nome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Valore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Tipo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestAnnullaOdl" type="requestAnnullaOdlType"/>
	<xsd:complexType name="responseAnnullaOdlType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseAnnullaOdl" type="responseAnnullaOdlType"/>
</xsd:schema>