esb_it/repo/GetEvents/wsdl/GetEvents.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="EventContent"> 
    <xsd:sequence> 
     <xsd:element name="descr_camera" type="xsd:string" /> 
     <xsd:element name="tipo_evento" type="xsd:string" /> 
     <xsd:element name="costo" type="xsd:string" /> 
     <xsd:element name="data_acquisto" type="xsd:string" /> 
     <xsd:element name="descrizione_evento" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="List"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Event" type="eb:EventContent" /> 
     <xsd:element name="id_esito" type="xsd:string" /> 
     <xsd:element name="descr_esito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="getevents"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="codice_hotel" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="id_chiave_hotel" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="codice_utente" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="geteventsResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Event_List" type="eb:List" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="geteventsRequest"> 
  <wsdl:part element="eb:getevents" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="geteventsResponse"> 
  <wsdl:part element="eb:geteventsResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="GetEventsSoap"> 
  <wsdl:operation name="getevents"> 
   <wsdl:input message="eb:geteventsRequest" name="geteventsRequest" /> 
   <wsdl:output message="eb:geteventsResponse" name="geteventsResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="GetEventsSoap" type="eb:GetEventsSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="getevents"> 
   <soap:operation soapAction="GetEvents/getevents" style="document" /> 
   <wsdl:input name="geteventsRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="geteventsResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="GetEvents"> 
  <wsdl:port binding="eb:GetEventsSoap" name="GetEventsSoap"> 
   <soap:address location="https://ws.sky.it/wsexistbus/openws/GetEvents" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>