osb_it/repo/BlueBirdProject/SALESFORCE/identityDocument/PS_WS_SF_IDENTITY_DOCUMENT/wsdl/BlueBirdProject_SALESFORCE_identityDocument_proxy_PS_WS_SF_IDENTITY_DOCUMENT.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SF_IDENTITY_DOCUMENT"
     targetNamespace="http://www.skytv.it/mdw/service/WS_SF_IDENTITY_DOCUMENT"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_SF_IDENTITY_DOCUMENT"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xml/XSD_SF_IDENTITY_DOCUMENT.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestVerifyDocumentIDCallback" element="inp1:requestVerifyDocumentIDCallback"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseVerifyDocumentIDCallback" element="inp1:responseVerifyDocumentIDCallback"/>
    </wsdl:message>
    <wsdl:portType name="ptt_VerifyDocumentIDCallback">
        <wsdl:operation name="execute_VerifyDocumentIDCallback">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_UploadIDFilesCallback">
            <wsdl:input message="tns:requestMessageUploadIDFilesCallback"/>
            <wsdl:output message="tns:responseMessageUploadIDFilesCallback"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bind_SF_IDENTITY_DOCUMENT" type="tns:ptt_VerifyDocumentIDCallback">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_VerifyDocumentIDCallback">
            <soap:operation style="document" soapAction="execute_VerifyDocumentIDCallback"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_SF_IDENTITY_DOCUMENT"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_SF_IDENTITY_DOCUMENT"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_UploadIDFilesCallback">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_SF_IDENTITY_DOCUMENT/execute_UploadIDFilesCallback"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestUploadIDFilesCallback"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseUploadIDFilesCallback"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="headerMessage">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMessageUploadIDFilesCallback">
        <wsdl:part name="part_requestUploadIDFilesCallback" element="inp1:requestUploadIDFilesCallback"/>
    </wsdl:message>
    <wsdl:message name="responseMessageUploadIDFilesCallback">
        <wsdl:part name="part_responseUploadIDFilesCallback" element="inp1:responseUploadIDFilesCallback"/>
    </wsdl:message>
</wsdl:definitions>