esb_it/repo/WS_SF_SBL_CHECK_BL_IDCARD/wsdl/WS_SF_SBL_CHECK_BL_IDCARD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdReitek/SkyXSD_OTS_SBL_CHECK_BL_IDCARD.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOut"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCheckBLIdCard"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckBLIdCardResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOut" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckBLIdCardRequest"> 
  <wsdl:part element="eb:opCheckBLIdCard" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckBLIdCardResponse"> 
  <wsdl:part element="eb:opCheckBLIdCardResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_SBL_CHECK_BL_IDCARDSoap"> 
  <wsdl:operation name="opCheckBLIdCard"> 
   <wsdl:input message="eb:opCheckBLIdCardRequest" name="opCheckBLIdCardRequest" /> 
   <wsdl:output message="eb:opCheckBLIdCardResponse" name="opCheckBLIdCardResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_SBL_CHECK_BL_IDCARDSoap" type="eb:WS_SF_SBL_CHECK_BL_IDCARDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckBLIdCard"> 
   <soap:operation soapAction="WS_SF_SBL_CHECK_BL_IDCARD/opCheckBLIdCard" style="document" /> 
   <wsdl:input name="opCheckBLIdCardRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckBLIdCardResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_SBL_CHECK_BL_IDCARD"> 
  <wsdl:port binding="eb:WS_SF_SBL_CHECK_BL_IDCARDSoap" name="WS_SF_SBL_CHECK_BL_IDCARDSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_SBL_CHECK_BL_IDCARD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>