esb_it/repo/WS_AOL_DWI_CALCOLO_CODICE_FISCALE/wsdl/WS_AOL_DWI_CALCOLO_CODICE_FISCALE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opDwiCalcoloCF"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_COGNOME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NOME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ANNO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MESE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_GIORNO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_COMUNE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PROVINCIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SESSO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDwiCalcoloCFResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_COGNOME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NOME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_COMUNE_NASCITA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SESSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PROVINCIA_NASCITA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DATA_NASCITA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CODICE_FISCALE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO2" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO3" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO3" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opDwiCalcoloCFRequest"> 
  <wsdl:part element="eb:opDwiCalcoloCF" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDwiCalcoloCFResponse"> 
  <wsdl:part element="eb:opDwiCalcoloCFResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AOL_DWI_CALCOLO_CODICE_FISCALESoap"> 
  <wsdl:operation name="opDwiCalcoloCF"> 
   <wsdl:input message="eb:opDwiCalcoloCFRequest" name="opDwiCalcoloCFRequest" /> 
   <wsdl:output message="eb:opDwiCalcoloCFResponse" name="opDwiCalcoloCFResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AOL_DWI_CALCOLO_CODICE_FISCALESoap" type="eb:WS_AOL_DWI_CALCOLO_CODICE_FISCALESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opDwiCalcoloCF"> 
   <soap:operation soapAction="WS_AOL_DWI_CALCOLO_CODICE_FISCALE/opDwiCalcoloCF" style="document" /> 
   <wsdl:input name="opDwiCalcoloCFRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDwiCalcoloCFResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AOL_DWI_CALCOLO_CODICE_FISCALE"> 
 </wsdl:service>
</wsdl:definitions>