osb_it/repo/SCMSproject/PS_WS_SCMS_MR/wsdl/SCMSproject_proxy_PS_WS_SCMS_MR.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SCMS_MR"
     targetNamespace="http://www.skytv.it/mdw/service/SCMS_MR"
     xmlns:tns="http://www.skytv.it/mdw/service/SCMS_MR"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SCMS_MULTIROOM.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMRVIEW_Message">
        <wsdl:part name="part_requestMRVIEW" element="inp1:requestMRVIEW"/>
    </wsdl:message>
    <wsdl:message name="responseMRVIEW_Message">
        <wsdl:part name="part_responseMRVIEW" element="inp1:responseMRVIEW"/>
    </wsdl:message>
    <wsdl:portType name="SCMS_MR_ptt">
        <wsdl:operation name="execute_getMRList">
            <wsdl:input message="tns:requestMRVIEW_Message"/>
            <wsdl:output message="tns:responseMRVIEW_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_deleteMR">
            <wsdl:input message="tns:requestDELEMR_Message"/>
            <wsdl:output message="tns:responseDELEMR_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestDELEMR_Message">
        <wsdl:part name="part_requestDELEMR" element="inp1:requestDELEMR"/>
    </wsdl:message>
    <wsdl:message name="responseDELEMR_Message">
        <wsdl:part name="part_responseDELEMR" element="inp1:responseDELEMR"/>
    </wsdl:message>
    <wsdl:binding name="SCMS_MR_bind" type="tns:SCMS_MR_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_getMRList">
            <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/SCMS_MR/execute_getMRList"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestMRVIEW"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseMRVIEW"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_deleteMR">
            <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/SCMS_MR/execute_deleteMR"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestDELEMR"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseDELEMR"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>