osb_it/repo/SiebelProject/RecuperaInfoFatturazione/WS_SIE_RECUPERA_INFO_FATTURAZIONE/xsd/XSD_RECUPERA_INFO_FATTURAZIONE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestRecuperaInfoFatturazioneType">
		<xsd:sequence>
			<xsd:element name="contrId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestRecuperaInfoFatturazione" type="requestRecuperaInfoFatturazioneType"/>
	<xsd:element name="responseRecuperaInfoFatturazione" type="responseRecuperaInfoFatturazioneType"/>
	<xsd:complexType name="responseRecuperaInfoFatturazioneType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string"/>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="invoiceAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="totalDue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="balanceDue" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoicePaymTransAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoicePaymTransDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoicePaymTransAmountCurrency" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceDatePayment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoice" type="invoiceType" minOccurs="0"/>
			<xsd:element name="invoices" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="invoice" type="invoiceType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="invoiceType">
		<xsd:sequence>
			<xsd:element name="invoiceNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceStatementDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceClosedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoicePaymentDueDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceTotalAmount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceDetails" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="invoiceDetail" type="invoiceDetailType" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="invoiceDetailType">
		<xsd:sequence>
			<xsd:element name="invoiceDetailDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoicePeriod" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceIdRate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="invoiceDetailAmount" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>