osb_it/repo/SalesforceProject/WS/CRM/AGGIUNTA/TELEFONO/IN/PS_CRM_AGGIUNTA_TELEFONO_IN/xsd/XSD_CRM_AGGIUNTA_TELEFONO_IN.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestAggiuntaTelefonoInType">
		<xsd:sequence>
			<xsd:element name="custId" type="xsd:string"/>
			<xsd:element name="custPhoneNumber" type="xsd:string"/>
			<xsd:element name="custTelephoneType" type="xsd:string"/>
			<xsd:element name="custFlgPrivacy" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mdwTrackingField" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mdwConnId" type="xsd:string" minOccurs="0"/>
						<xsd:element name="mdwOrigin" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestAggiuntaTelefonoIn" type="requestAggiuntaTelefonoInType"/>
	<xsd:complexType name="responseAggiuntaTelefonoInType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseAggiuntaTelefonoIn" type="responseAggiuntaTelefonoInType"/>
</xsd:schema>