osb_it/repo/SiebelProject/PS_WS_CRM_CHECK_GUASTO_CAVO_WIFI/xsd/XSD_CRM_CHECK_GUASTO_CAVO_WIFI.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestCheckGuastoCavoWIFI" type="requestCheckGuastoCavoWIFIType"/>
	<xsd:complexType name="requestCheckGuastoCavoWIFIType">
		<xsd:sequence>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="IdCaseSalesForce" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ApparatoCavo" type="ApparatoCavoType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ApparatoWiFi" type="ApparatoWiFiType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApparatoCavoType">
		<xsd:sequence>
			<xsd:element name="numerorinvii" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Caso1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Caso2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Caso3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Scelta1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Garanzia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Guasto1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Guasto2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="CanaleProvenienza" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MatricolaSTB" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MatricolaCAVO" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IntegrationIdCAVO" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IdPromozioneAttiva" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MotivoDevice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StatoDevice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApparatoWiFiType">
		<xsd:sequence>
			<xsd:element name="Caso1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Caso2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Caso3" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Scelta1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Garanzia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Swap" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MatricolaWIFI1" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MatricolaWIFI2" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IntegrationIdWIFI" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IdPromozioneAttiva" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="MotivoDevice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="StatoDevice" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="DettagioMotivo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListOfFields" type="ListOfFieldsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfFieldsType">
		<xsd:sequence>
			<xsd:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="Nome" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Valore" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Tipo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseCheckGuastoCavoWIFI" type="responseCheckGuastoCavoWIFIType"/>
	<xsd:complexType name="responseCheckGuastoCavoWIFIType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>