osb_it/repo/SCMSproject/PS_WS_CRM_GESTIONE_CREDITO/wsdl/SCMSproject_proxy_PS_WS_CRM_GESTIONE_CREDITO.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_GESTIONE_CREDITO"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_CREDITO"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_CREDITO"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_CREDITO.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestINFOWLSTORICO_Message">
        <wsdl:part name="part_requestINFOWLSTORICO" element="inp1:requestINFOWLSTORICO"/>
    </wsdl:message>
    <wsdl:message name="responseINFOWLSTORICO_Message">
        <wsdl:part name="part_responseINFOWLSTORICO" element="inp1:responseINFOWLSTORICO"/>
    </wsdl:message>
    <wsdl:portType name="CRM_GESTIONE_CREDITO_ptt">
        <wsdl:operation name="execute_INFOWLSTORICO">
            <wsdl:input message="tns:requestINFOWLSTORICO_Message"/>
            <wsdl:output message="tns:responseINFOWLSTORICO_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_INFOSOGLIE">
            <wsdl:input message="tns:requestINFOSOGLIE_Message"/>
            <wsdl:output message="tns:responseINFOSOGLIE_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="Header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestINFOSOGLIE_Message">
        <wsdl:part name="part_requestINFOSOGLIE" element="inp1:requestINFOSOGLIE"/>
    </wsdl:message>
    <wsdl:message name="responseINFOSOGLIE_Message">
        <wsdl:part name="part_responseINFOSOGLIE" element="inp1:responseINFOSOGLIE"/>
    </wsdl:message>
    <wsdl:binding name="CRM_GESTIONE_CREDITO_bind" type="tns:CRM_GESTIONE_CREDITO_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_INFOWLSTORICO">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_CREDITO/execute_INFOWLSTORICO"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestINFOWLSTORICO"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseINFOWLSTORICO"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_INFOSOGLIE">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_CREDITO/execute_INFOSOGLIE"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestINFOSOGLIE"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseINFOSOGLIE"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>