osb_it/repo/SalesforceProject/REST/CRM/ORDER/ITEM/PS_REST_CRM_ORDER_ITEM/wsdl/SalesforceProject_REST_CRM_ORDER_ITEM_proxy_PS_REST_CRM_ORDER_ITEM.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_ORDER_ITEM" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_CRM_ORDER_ITEM" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_ORDER_ITEM">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_OrderItem/xsd/XSD_CRM_ORDER_ITEM.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="setSubType_inputMessage">
		<wsdl:part name="request" element="inp1:requestSetOrderItemsSubType"/>
	</wsdl:message>
	<wsdl:message name="Rest_EmptyMessage"/>
	<wsdl:message name="setSubType_error404Message">
		<wsdl:part name="fault_error404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:message name="setSubType_error400Message">
		<wsdl:part name="fault_error400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="setSubType_error500Message">
		<wsdl:part name="fault_error500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_CRM_ORDER_ITEM_ptt">
		<wsdl:operation name="setSubType">
			<wsdl:input message="tns:setSubType_inputMessage"/>
			<wsdl:output message="tns:Rest_EmptyMessage"/>
			<wsdl:fault name="error404" message="tns:setSubType_error404Message"/>
			<wsdl:fault name="error400" message="tns:setSubType_error400Message"/>
			<wsdl:fault name="error500" message="tns:setSubType_error500Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_CRM_ORDER_ITEM_ptt-binding" type="tns:PS_REST_CRM_ORDER_ITEM_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="setSubType">
			<soap:operation soapAction="setSubType"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_CRM_ORDER_ITEM">
		<plnk:role name="PS_REST_CRM_ORDER_ITEMProvider" portType="tns:PS_REST_CRM_ORDER_ITEM_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>