osb_it/repo/KENANProject/WS/CRM/GESTIONE/INCASSI/PS_WS_CRM_GESTIONE_INCASSI/wsdl/KENANProject_WS_CRM_GESTIONE_INCASSI_proxy_PS_WS_CRM_GESTIONE_INCASSI.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WSDL_CRM_GESTIONE_INCASSI"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_INCASSI"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_INCASSI"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_INCASSI.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="requestGetIncassiRecenti_Message">
        <wsdl:part name="part_requestGetIncassiRecenti" element="inp1:requestGetIncassiRecenti"/>
    </wsdl:message>
    <wsdl:message name="responseGetIncassiRecenti_Message">
        <wsdl:part name="part_responseGetIncassiRecenti" element="inp1:responseGetIncassiRecenti"/>
    </wsdl:message>

    <wsdl:message name="requestGetIncassiFull_Message">
        <wsdl:part name="part_requestGetIncassiFull" element="inp1:requestGetIncassiFull"/>
    </wsdl:message>
    <wsdl:message name="responseGetIncassiFull_Message">
        <wsdl:part name="part_responseGetIncassiFull" element="inp1:responseGetIncassiFull"/>
    </wsdl:message>

    <wsdl:message name="requestGetDettaglioIncasso_Message">
        <wsdl:part name="part_requestGetDettaglioIncasso" element="inp1:requestGetDettaglioIncasso"/>
    </wsdl:message>
    <wsdl:message name="responseGetDettaglioIncasso_Message">
        <wsdl:part name="part_responseGetDettaglioIncasso" element="inp1:responseGetDettaglioIncasso"/>
    </wsdl:message>

    <wsdl:message name="requestGetIncassiByFattura_Message">
        <wsdl:part name="part_requestGetIncassiByFattura" element="inp1:requestGetIncassiByFattura"/>
    </wsdl:message>
    <wsdl:message name="responseGetIncassiByFattura_Message">
        <wsdl:part name="part_responseGetIncassiByFattura" element="inp1:responseGetIncassiByFattura"/>
    </wsdl:message>

    <wsdl:portType name="getIncassiRecenti_ptt">
        <wsdl:operation name="execute_getIncassiRecenti">
            <wsdl:input message="tns:requestGetIncassiRecenti_Message"/>
            <wsdl:output message="tns:responseGetIncassiRecenti_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_getIncassiFull">
            <wsdl:input message="tns:requestGetIncassiFull_Message"/>
            <wsdl:output message="tns:responseGetIncassiFull_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetDettaglioIncasso">
            <wsdl:input message="tns:requestGetDettaglioIncasso_Message"/>
            <wsdl:output message="tns:responseGetDettaglioIncasso_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_getIncassiByFattura">
            <wsdl:input message="tns:requestGetIncassiByFattura_Message"/>
            <wsdl:output message="tns:responseGetIncassiByFattura_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="getIncassiRecenti_pttSOAP11Binding" type="tns:getIncassiRecenti_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_getIncassiRecenti">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_INCASSI/execute_getIncassiRecenti"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetIncassiRecenti"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetIncassiRecenti"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_getIncassiFull">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_INCASSI/execute_getIncassiFull"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetIncassiFull"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetIncassiFull"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetDettaglioIncasso">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_INCASSI/execute_GetDettaglioIncasso"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetDettaglioIncasso"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetDettaglioIncasso"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_getIncassiByFattura">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_INCASSI/execute_getIncassiByFattura"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetIncassiByFattura"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetIncassiByFattura"/>
                <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Message_Header">
        <wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
    </wsdl:message>
</wsdl:definitions>