esb_it/repo/WS_LS_SAP_ESITI_EAE_TO_SAP/wsdl/WS_LS_SAP_ESITI_EAE_TO_SAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutputEsiti"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CODICE_SPEDIZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SLOT_ORARIO_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" minOccurs="0" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdineEsiti" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdineEsiti"> 
    <xsd:sequence> 
     <xsd:element name="LS_NUMERO_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MATRICOLA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DATA" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:element name="opEsitiEaeToSap"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_MAGAZZINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEsitiEaeToSapResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutputEsiti" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opEsitiEaeToSapRequest"> 
  <wsdl:part element="eb:opEsitiEaeToSap" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEsitiEaeToSapResponse"> 
  <wsdl:part element="eb:opEsitiEaeToSapResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_SAP_ESITI_EAE_TO_SAPSoap"> 
  <wsdl:operation name="opEsitiEaeToSap"> 
   <wsdl:input message="eb:opEsitiEaeToSapRequest" name="opEsitiEaeToSapRequest" /> 
   <wsdl:output message="eb:opEsitiEaeToSapResponse" name="opEsitiEaeToSapResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_SAP_ESITI_EAE_TO_SAPSoap" type="eb:WS_LS_SAP_ESITI_EAE_TO_SAPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opEsitiEaeToSap"> 
   <soap:operation soapAction="WS_LS_SAP_ESITI_EAE_TO_SAP/opEsitiEaeToSap" style="document" /> 
   <wsdl:input name="opEsitiEaeToSapRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opEsitiEaeToSapResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_SAP_ESITI_EAE_TO_SAP"> 
  <wsdl:port binding="eb:WS_LS_SAP_ESITI_EAE_TO_SAPSoap" name="WS_LS_SAP_ESITI_EAE_TO_SAPSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_SAP_ESITI_EAE_TO_SAP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>