esb_it/repo/WS_AW_GESTIONE_CONSENSO/wsdl/WS_AW_GESTIONE_CONSENSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentDataIN"> 
    <xsd:sequence> 
     <xsd:element name="CodiceClienteSKY" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="FlagSkyGoTrial" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="FlagVodConsumi" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="FlagConsensoKidsApp" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="TermCondiKidsApp" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOUT"> 
    <xsd:sequence> 
     <xsd:element name="Esito" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="DescrizioneEsito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSubmitFlag"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataIN" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSubmitFlagResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSubmitFlagRequest"> 
  <wsdl:part element="eb:opSubmitFlag" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSubmitFlagResponse"> 
  <wsdl:part element="eb:opSubmitFlagResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AW_GESTIONE_CONSENSOSoap"> 
  <wsdl:operation name="opSubmitFlag"> 
   <wsdl:input message="eb:opSubmitFlagRequest" name="opSubmitFlagRequest" /> 
   <wsdl:output message="eb:opSubmitFlagResponse" name="opSubmitFlagResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AW_GESTIONE_CONSENSOSoap" type="eb:WS_AW_GESTIONE_CONSENSOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSubmitFlag"> 
   <soap:operation soapAction="WS_AW_GESTIONE_CONSENSO/opSubmitFlag" style="document" /> 
   <wsdl:input name="opSubmitFlagRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSubmitFlagResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AW_GESTIONE_CONSENSO"> 
  <wsdl:port binding="eb:WS_AW_GESTIONE_CONSENSOSoap" name="WS_AW_GESTIONE_CONSENSOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AW_GESTIONE_CONSENSO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>