osb_it/repo/SiebelProject/TrackingSpedizione/PS_REST_TRACKING_SPEDIZIONE/wsdl/SiebelProject_TrackingSpedizione_proxy_PS_REST_TRACKING_SPEDIZIONE.wsdl

<wsdl:definitions name="PS_REST_TRACKING_SPEDIZIONE" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SiebelProject/PS_REST_TRACKING_SPEDIZIONE" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SiebelProject/PS_REST_TRACKING_SPEDIZIONE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_TRACKING_SPEDIZIONE">
        <plnk:role name="PS_REST_TRACKING_SPEDIZIONEProvider" portType="tns:PS_REST_TRACKING_SPEDIZIONE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SiebelProject/TrackingSpedizione/xsd/XSD_TRACKING_SPEDIZIONE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="opGetTrackingSpedizione_inputMessage">
        <wsdl:part name="request" element="inp1:requestTrackingSpedizione"/>
    </wsdl:message>
    <wsdl:message name="opGetTrackingSpedizione_outputMessage">
        <wsdl:part name="reply" element="inp1:responseTrackingSpedizione"/>
    </wsdl:message>
    <wsdl:message name="opGetTrackingSpedizione_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="opGetTrackingSpedizione_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opGetTrackingSpedizione_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_TRACKING_SPEDIZIONE_ptt">
        <wsdl:operation name="opGetTrackingSpedizione">
            <wsdl:input message="tns:opGetTrackingSpedizione_inputMessage"/>
            <wsdl:output message="tns:opGetTrackingSpedizione_outputMessage"/>
            <wsdl:fault name="error404" message="tns:opGetTrackingSpedizione_error404Message"/>
            <wsdl:fault name="error400" message="tns:opGetTrackingSpedizione_error400Message"/>
            <wsdl:fault name="error500" message="tns:opGetTrackingSpedizione_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_TRACKING_SPEDIZIONE_ptt-binding" type="tns:PS_REST_TRACKING_SPEDIZIONE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opGetTrackingSpedizione">
            <soap:operation soapAction="opGetTrackingSpedizione"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>