esb_it/repo/WS_SCMS_GETSMC_DATAS/wsdl/WS_SCMS_GETSMC_DATAS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_NUM_SC" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_CORPT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_REGION_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_CREDIT_LIMIT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_TIPO_SC" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_PPV_KEY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_TIPO_APP" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_ADDLEQ" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opScmsGetsmcDatas"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUM_SC" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opScmsGetsmcDatasResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ComplexOutput" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opScmsGetsmcDatasRequest"> 
  <wsdl:part element="eb:opScmsGetsmcDatas" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opScmsGetsmcDatasResponse"> 
  <wsdl:part element="eb:opScmsGetsmcDatasResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_GETSMC_DATASSoap"> 
  <wsdl:operation name="opScmsGetsmcDatas"> 
   <wsdl:input message="eb:opScmsGetsmcDatasRequest" name="opScmsGetsmcDatasRequest" /> 
   <wsdl:output message="eb:opScmsGetsmcDatasResponse" name="opScmsGetsmcDatasResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_GETSMC_DATASSoap" type="eb:WS_SCMS_GETSMC_DATASSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opScmsGetsmcDatas"> 
   <soap:operation soapAction="WS_SCMS_GETSMC_DATAS/opScmsGetsmcDatas" style="document" /> 
   <wsdl:input name="opScmsGetsmcDatasRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opScmsGetsmcDatasResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_GETSMC_DATAS"> 
  <wsdl:port binding="eb:WS_SCMS_GETSMC_DATASSoap" name="WS_SCMS_GETSMC_DATASSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_GETSMC_DATAS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>