esb_it/repo/WS_SELFCARE_STORICO_BORSELLINO_SP/wsdl/WS_SELFCARE_STORICO_BORSELLINO_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="Record"> 
    <xsd:sequence> 
     <xsd:element name="SmartCard" type="xsd:string" /> 
     <xsd:element name="DescrizioneSMC" type="xsd:string" /> 
     <xsd:element name="Media" type="xsd:string" /> 
     <xsd:element name="DataStorico" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Response"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="Record" type="eb:Record" /> 
     <xsd:element name="Esito" type="xsd:string" /> 
     <xsd:element name="DescrizioneEsito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opStoricoBorsellinoSmc"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSmc" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DataInizioStorico" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStoricoBorsellinoSmcResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Response" type="eb:Response" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStoricoBorsellino"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSmc" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DataInizioStorico" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStoricoBorsellinoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Response" type="eb:Response" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opStoricoBorsellinoSmcRequest"> 
  <wsdl:part element="eb:opStoricoBorsellinoSmc" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStoricoBorsellinoSmcResponse"> 
  <wsdl:part element="eb:opStoricoBorsellinoSmcResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStoricoBorsellinoRequest"> 
  <wsdl:part element="eb:opStoricoBorsellino" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStoricoBorsellinoResponse"> 
  <wsdl:part element="eb:opStoricoBorsellinoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SELFCARE_STORICO_BORSELLINO_SPSoap"> 
  <wsdl:operation name="opStoricoBorsellinoSmc"> 
   <wsdl:input message="eb:opStoricoBorsellinoSmcRequest" name="opStoricoBorsellinoSmcRequest" /> 
   <wsdl:output message="eb:opStoricoBorsellinoSmcResponse" name="opStoricoBorsellinoSmcResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opStoricoBorsellino"> 
   <wsdl:input message="eb:opStoricoBorsellinoRequest" name="opStoricoBorsellinoRequest" /> 
   <wsdl:output message="eb:opStoricoBorsellinoResponse" name="opStoricoBorsellinoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SELFCARE_STORICO_BORSELLINO_SPSoap" type="eb:WS_SELFCARE_STORICO_BORSELLINO_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opStoricoBorsellinoSmc"> 
   <soap:operation soapAction="WS_SELFCARE_STORICO_BORSELLINO_SP/opStoricoBorsellinoSmc" style="document" /> 
   <wsdl:input name="opStoricoBorsellinoSmcRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opStoricoBorsellinoSmcResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opStoricoBorsellino"> 
   <soap:operation soapAction="WS_SELFCARE_STORICO_BORSELLINO_SP/opStoricoBorsellino" style="document" /> 
   <wsdl:input name="opStoricoBorsellinoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opStoricoBorsellinoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SELFCARE_STORICO_BORSELLINO_SP"> 
  <wsdl:port binding="eb:WS_SELFCARE_STORICO_BORSELLINO_SPSoap" name="WS_SELFCARE_STORICO_BORSELLINO_SPSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SELFCARE_STORICO_BORSELLINO_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>