esb_it/repo/WS_IVR_SET_NUMERO_TEL/wsdl/WS_IVR_SET_NUMERO_TEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opSetNumeroTel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSetNumeroTelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSetNumeroTelRequest"> 
  <wsdl:part element="eb:opSetNumeroTel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSetNumeroTelResponse"> 
  <wsdl:part element="eb:opSetNumeroTelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_SET_NUMERO_TELSoap"> 
  <wsdl:operation name="opSetNumeroTel"> 
   <wsdl:input message="eb:opSetNumeroTelRequest" name="opSetNumeroTelRequest" /> 
   <wsdl:output message="eb:opSetNumeroTelResponse" name="opSetNumeroTelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_SET_NUMERO_TELSoap" type="eb:WS_IVR_SET_NUMERO_TELSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSetNumeroTel"> 
   <soap:operation soapAction="WS_IVR_SET_NUMERO_TEL/opSetNumeroTel" style="document" /> 
   <wsdl:input name="opSetNumeroTelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSetNumeroTelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_SET_NUMERO_TEL"> 
  <wsdl:port binding="eb:WS_IVR_SET_NUMERO_TELSoap" name="WS_IVR_SET_NUMERO_TELSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_SET_NUMERO_TEL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>