esb_it/repo/WS_IVR_GET_MOBILE_NUMBER/wsdl/WS_IVR_GET_MOBILE_NUMBER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="IVRGetMobileNumber.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opIvrGetMobileNumber"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opIvrGetMobileNumberResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opIvrGetMobileNumberRequest"> 
  <wsdl:part element="eb:opIvrGetMobileNumber" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opIvrGetMobileNumberResponse"> 
  <wsdl:part element="eb:opIvrGetMobileNumberResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_MOBILE_NUMBERSoap"> 
  <wsdl:operation name="opIvrGetMobileNumber"> 
   <wsdl:input message="eb:opIvrGetMobileNumberRequest" name="opIvrGetMobileNumberRequest" /> 
   <wsdl:output message="eb:opIvrGetMobileNumberResponse" name="opIvrGetMobileNumberResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_MOBILE_NUMBERSoap" type="eb:WS_IVR_GET_MOBILE_NUMBERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opIvrGetMobileNumber"> 
   <soap:operation soapAction="WS_IVR_GET_MOBILE_NUMBER/opIvrGetMobileNumber" style="document" /> 
   <wsdl:input name="opIvrGetMobileNumberRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opIvrGetMobileNumberResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_MOBILE_NUMBER"> 
  <wsdl:port binding="eb:WS_IVR_GET_MOBILE_NUMBERSoap" name="WS_IVR_GET_MOBILE_NUMBERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_MOBILE_NUMBER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>