osb_it/repo/BlueBirdProject/KENAN/invoiceInfos/PS_REST_KENAN_INVOICE_INFO/wsdl/BlueBirdProject_KENAN_invoiceInfos_proxy_PS_REST_KENAN_INVOICE_INFO.wsdl

<wsdl:definitions name="PS_REST_KENAN_INVOICE_INFO" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_KENAN_INVOICE_INFO" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_KENAN_INVOICE_INFO" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_KENAN_INVOICE_INFO">
        <plnk:role name="PS_REST_KENAN_INVOICE_INFOProvider" portType="tns:PS_REST_KENAN_INVOICE_INFO_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/invoiceinfo/xsd/XSD_KENAN_INVOICE_INFO.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="firstInvoiceEmissionDate_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveFirstInvoiceEmissionDate"/>
    </wsdl:message>
    <wsdl:message name="firstInvoiceEmissionDate_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveFirstInvoiceEmissionDate"/>
    </wsdl:message>
    <wsdl:message name="firstInvoiceEmissionDate_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="firstInvoiceEmissionDate_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="firstInvoiceEmissionDate_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KENAN_INVOICE_INFO_ptt">
        <wsdl:operation name="firstInvoiceEmissionDate">
            <wsdl:input message="tns:firstInvoiceEmissionDate_inputMessage"/>
            <wsdl:output message="tns:firstInvoiceEmissionDate_outputMessage"/>
            <wsdl:fault name="error404" message="tns:firstInvoiceEmissionDate_error404Message"/>
            <wsdl:fault name="error400" message="tns:firstInvoiceEmissionDate_error400Message"/>
            <wsdl:fault name="error500" message="tns:firstInvoiceEmissionDate_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KENAN_INVOICE_INFO_ptt-binding" type="tns:PS_REST_KENAN_INVOICE_INFO_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="firstInvoiceEmissionDate">
            <soap:operation soapAction="firstInvoiceEmissionDate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>