osb_it/repo/MDWProject/SalesforceToRidSEDA/CreateBankXML/PS_WS_SEDA_CREATE_BANK_XML/xsd/XSD_CREATE_BANK_XML.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  
  <xsd:element name="requestCreateBankXML" type="requestCreateBankXMLType" />
  <xsd:complexType name="requestCreateBankXMLType">
    <xsd:sequence>
      <xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="flusso" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="responseCreateBankXML" type="responseCreateBankXMLType" />
  <xsd:complexType name="responseCreateBankXMLType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>