osb_it/repo/SCMSproject/netflix/SCMS/GET/PAI/BY/CONTRACT/PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT/wsdl/SCMSproject_netflix_SCMS_GET_PAI_BY_CONTRACT_proxy_PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SCMSproject/PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SCMSproject/PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT">
	<wsdl:types> 
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/netflix/Rest_GetPaiByContract/xsd/XSD_SCMS_NETFLIX_GET_PAI_BY_CONTRACT.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="GetPaiByContract_inputMessage">
		<wsdl:part name="request" element="inp1:requestGetPaiByContract"/>
	</wsdl:message>
	<wsdl:message name="GetPaiByContract_outputMessage">
		<wsdl:part name="reply" element="inp1:responseGetPaiByContract"/>
	</wsdl:message>
	<wsdl:message name="GetPaiByContract_error404Message">
		<wsdl:part name="fault_error404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:message name="GetPaiByContract_error400Message">
		<wsdl:part name="fault_error400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="GetPaiByContract_error500Message">
		<wsdl:part name="fault_error500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT_ptt">
		<wsdl:operation name="GetPaiByContract">
			<wsdl:input message="tns:GetPaiByContract_inputMessage"/>
			<wsdl:output message="tns:GetPaiByContract_outputMessage"/>
			<wsdl:fault name="error404" message="tns:GetPaiByContract_error404Message"/>
			<wsdl:fault name="error400" message="tns:GetPaiByContract_error400Message"/>
			<wsdl:fault name="error500" message="tns:GetPaiByContract_error500Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT_ptt-binding" type="tns:PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="GetPaiByContract">
			<soap:operation soapAction="GetPaiByContract"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT">
		<plnk:role name="PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACTProvider" portType="tns:PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>