osb_it/repo/SalesforceProject/REST/CRM/CHECK/PRE/LOGIN/PS_REST_CRM_CHECK_PRE_LOGIN/wsdl/SalesforceProject_REST_CRM_CHECK_PRE_LOGIN_proxy_PS_REST_CRM_CHECK_PRE_LOGIN.wsdl

<wsdl:definitions name="PS_REST_CRM_CHECK_PRE_LOGIN" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHECK_PRE_LOGIN" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHECK_PRE_LOGIN" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_CHECK_PRE_LOGIN">
        <plnk:role name="PS_REST_CRM_CHECK_PRE_LOGINProvider" portType="tns:PS_REST_CRM_CHECK_PRE_LOGIN_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_CheckPreLogin/xsd/XSD_CRM_CHECK_PRE_LOGIN.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CheckPreLogin_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckPreLogin"/>
    </wsdl:message>
    <wsdl:message name="CheckPreLogin_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckPreLogin"/>
    </wsdl:message>
    <wsdl:message name="CheckPreLogin_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CheckPreLogin_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CheckPreLogin_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CHECK_PRE_LOGIN_ptt">
        <wsdl:operation name="CheckPreLogin">
            <wsdl:input message="tns:CheckPreLogin_inputMessage"/>
            <wsdl:output message="tns:CheckPreLogin_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CheckPreLogin_error404Message"/>
            <wsdl:fault name="error400" message="tns:CheckPreLogin_error400Message"/>
            <wsdl:fault name="error500" message="tns:CheckPreLogin_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CHECK_PRE_LOGIN_ptt-binding" type="tns:PS_REST_CRM_CHECK_PRE_LOGIN_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CheckPreLogin">
            <soap:operation soapAction="CheckPreLogin"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>