esb_it/repo/WS_AW_GETCLIINFO_XML/wsdl/WS_AW_GETCLIINFO_XML.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexContratto"> 
    <xsd:sequence> 
     <xsd:element name="OD_ORDER_NUM" type="eb:FMLFieldType" /> 
     <xsd:element name="OD_ORDER_TYPE_ID" type="eb:FMLFieldType" /> 
     <xsd:element name="OD_STATUS_CD" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" name="SV_SERVICE_FML32" type="eb:FMLComplexServizi" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="OD_ORDER_FML32" type="eb:FMLComplexContratto" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexServizi"> 
    <xsd:sequence> 
     <xsd:element name="AS_ASSET_NUM" type="eb:FMLFieldType" /> 
     <xsd:element name="AS_STATUS_CD" type="eb:FMLFieldType" /> 
     <xsd:element name="SV_STATUS_CD" type="eb:FMLFieldType" /> 
     <xsd:element name="PK_X_TECNOLOGIA" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetCliInfoXML"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_CODICE_CLIENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_STATO_CONTRATTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_TIPO_CLIENTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetCliInfoXMLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetCliInfoXMLRequest"> 
  <wsdl:part element="eb:opGetCliInfoXML" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetCliInfoXMLResponse"> 
  <wsdl:part element="eb:opGetCliInfoXMLResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AW_GETCLIINFO_XMLSoap"> 
  <wsdl:operation name="opGetCliInfoXML"> 
   <wsdl:input message="eb:opGetCliInfoXMLRequest" name="opGetCliInfoXMLRequest" /> 
   <wsdl:output message="eb:opGetCliInfoXMLResponse" name="opGetCliInfoXMLResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AW_GETCLIINFO_XMLSoap" type="eb:WS_AW_GETCLIINFO_XMLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetCliInfoXML"> 
   <soap:operation soapAction="WS_AW_GETCLIINFO_XML/opGetCliInfoXML" style="document" /> 
   <wsdl:input name="opGetCliInfoXMLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetCliInfoXMLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AW_GETCLIINFO_XML"> 
  <wsdl:port binding="eb:WS_AW_GETCLIINFO_XMLSoap" name="WS_AW_GETCLIINFO_XMLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AW_GETCLIINFO_XML" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>