osb_it/repo/AspideProject/AppointmentManagement/PS_REST_ASPIDE_APPOINTMENTS/wadl/AspideProject_AppointmentManagement_proxy_PS_REST_ASPIDE_APPOINTMENTS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/AspideProject/PS_REST_ASPIDE_APPOINTMENTS" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_ASPIDE_APPOINTMENTS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/AppointmentManagement/xsd/XSD_ASPIDE_APPOINTMENTS.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="POST" soa:wsdlOperation="createAppointment">
            <request>
               <representation mediaType="application/xml" element="cns:requestNewAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseNewAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
         <method name="PUT" soa:wsdlOperation="updateAppointment">
            <request>
               <representation mediaType="application/xml" element="cns:requestUpdateAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/{appointmentId}">
         <method name="DELETE" soa:wsdlOperation="deleteAppointment">
            <request>
               <param name="appointmentId" style="template" soa:expression="$msg.request/ns0:appointmentId" default="" type="xsd:string"/>
               <param name="channel" style="query" soa:expression="$msg.request/ns0:channel" default="" type="xsd:string"/>
            </request>
            <response status="204"/>
         </method>
      </resource>
   </resources>
</application>