esb_it/repo/WS_FPS_WM/wsdl/WS_FPS_WM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="WMData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="FPSWMOperation"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WMInput" type="eb:WMData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="FPSWMOperationResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Descrizione" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="FPSWMOperationRequest"> 
  <wsdl:part element="eb:FPSWMOperation" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="FPSWMOperationResponse"> 
  <wsdl:part element="eb:FPSWMOperationResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FPS_WMSoap"> 
  <wsdl:operation name="FPSWMOperation"> 
   <wsdl:input message="eb:FPSWMOperationRequest" name="FPSWMOperationRequest" /> 
   <wsdl:output message="eb:FPSWMOperationResponse" name="FPSWMOperationResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FPS_WMSoap" type="eb:WS_FPS_WMSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="FPSWMOperation"> 
   <soap:operation soapAction="WS_FPS_WM/FPSWMOperation" style="document" /> 
   <wsdl:input name="FPSWMOperationRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="FPSWMOperationResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FPS_WM"> 
  <wsdl:port binding="eb:WS_FPS_WMSoap" name="WS_FPS_WMSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FPS_WM" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>