osb_it/repo/SCMSproject/PS_WS_CRM_GESTIONE_PAG_SISAL/xsd/XSD_CRM_GESTIONE_PAG_SISAL.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:srv="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestREPASIType">
		<xsd:sequence>
			<xsd:element name="flagsync" type="xsd:string"/>
			<xsd:element name="clientid" type="xsd:string"/>
			<xsd:element name="box" type="xsd:string"/>
			<xsd:element name="stbkind" type="xsd:string"/>
			<xsd:element name="operator" type="xsd:string"/>
			<xsd:element name="execdate" type="xsd:string"/>
			<xsd:element name="priority" type="xsd:string"/>
			<xsd:element name="funcname" type="xsd:string"/>
			<xsd:element name="typesrvreq" type="xsd:string"/>
			<xsd:element name="account" type="xsd:string"/>
			<xsd:element name="startdate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="enddate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lista_stati" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="stato" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseREPASIType">
		<xsd:sequence>
			<xsd:element name="descriptionerr" type="xsd:string"/>
			<xsd:element name="ndserr" type="xsd:string"/>
			<xsd:element name="transid" type="xsd:string"/>
			<xsd:element name="result" type="xsd:string"/>
			<xsd:element name="pagamenti_sisal_list" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="dettaglio" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="code_account" type="xsd:string"/>
									<xsd:element name="azione" type="xsd:string"/>
									<xsd:element name="request_date" type="xsd:string"/>
									<xsd:element name="error_descr" type="xsd:string"/>
									<xsd:element name="transazione_sisal" type="xsd:string"/>
									<xsd:element name="code_ricevitoria" type="xsd:string"/>
									<xsd:element name="rate_code_penale" type="xsd:string"/>
									<xsd:element name="importo_pagato" type="xsd:string"/>
									<xsd:element name="stato" type="xsd:string"/>
									<xsd:element name="request_date2" type="xsd:string"/>
									<xsd:element name="result" type="xsd:string"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestREPASI" type="srv:requestREPASIType"/>
	<xsd:element name="responseREPASI" type="srv:responseREPASIType"/>
</xsd:schema>