esb_it/repo/WS_COLLAUDO_SIEBEL_SOA/wsdl/WS_COLLAUDO_SIEBEL_SOA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:any /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSBL_SOA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_BS_NAME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_BS_METHOD_NAME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_BS_CHANNEL" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSBL_SOAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSBL_SOARequest"> 
  <wsdl:part element="eb:opSBL_SOA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSBL_SOAResponse"> 
  <wsdl:part element="eb:opSBL_SOAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_COLLAUDO_SIEBEL_SOASoap"> 
  <wsdl:operation name="opSBL_SOA"> 
   <wsdl:input message="eb:opSBL_SOARequest" name="opSBL_SOARequest" /> 
   <wsdl:output message="eb:opSBL_SOAResponse" name="opSBL_SOAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_COLLAUDO_SIEBEL_SOASoap" type="eb:WS_COLLAUDO_SIEBEL_SOASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSBL_SOA"> 
   <soap:operation soapAction="WS_COLLAUDO_SIEBEL_SOA/opSBL_SOA" style="document" /> 
   <wsdl:input name="opSBL_SOARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSBL_SOAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_COLLAUDO_SIEBEL_SOA"> 
  <wsdl:port binding="eb:WS_COLLAUDO_SIEBEL_SOASoap" name="WS_COLLAUDO_SIEBEL_SOASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_COLLAUDO_SIEBEL_SOA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>