esb_it/repo/WS_RTD_IVR_GET_OFFERS_MULTIPLE/wsdl/WS_RTD_IVR_GET_OFFERS_MULTIPLE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdRTD/SkyXSD_RTD_GET_OFFERS_MULTIPLE.xsd" /> 
   <xsd:complexType name="request"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="response"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetOffersMultiple"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:request" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetOffersMultipleResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:response" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetOffersMultipleRequest"> 
  <wsdl:part element="eb:opGetOffersMultiple" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetOffersMultipleResponse"> 
  <wsdl:part element="eb:opGetOffersMultipleResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_RTD_IVR_GET_OFFERS_MULTIPLESoap"> 
  <wsdl:operation name="opGetOffersMultiple"> 
   <wsdl:input message="eb:opGetOffersMultipleRequest" name="opGetOffersMultipleRequest" /> 
   <wsdl:output message="eb:opGetOffersMultipleResponse" name="opGetOffersMultipleResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_RTD_IVR_GET_OFFERS_MULTIPLESoap" type="eb:WS_RTD_IVR_GET_OFFERS_MULTIPLESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetOffersMultiple"> 
   <soap:operation soapAction="WS_RTD_IVR_GET_OFFERS_MULTIPLE/opGetOffersMultiple" style="document" /> 
   <wsdl:input name="opGetOffersMultipleRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetOffersMultipleResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_RTD_IVR_GET_OFFERS_MULTIPLE"> 
  <wsdl:port binding="eb:WS_RTD_IVR_GET_OFFERS_MULTIPLESoap" name="WS_RTD_IVR_GET_OFFERS_MULTIPLESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_RTD_IVR_GET_OFFERS_MULTIPLE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>