esb_it/repo/WS_INVIO_CONFERMA/wsdl/WS_INVIO_CONFERMA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_INVIO_CONFERMA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_FORCED" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_MAGAZ" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_INVIO_CONFERMAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DESCRIZIONE_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_INVIO_CONFERMARequest"> 
  <wsdl:part element="eb:OP_INVIO_CONFERMA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_INVIO_CONFERMAResponse"> 
  <wsdl:part element="eb:OP_INVIO_CONFERMAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_INVIO_CONFERMASoap"> 
  <wsdl:operation name="OP_INVIO_CONFERMA"> 
   <wsdl:input message="eb:OP_INVIO_CONFERMARequest" name="OP_INVIO_CONFERMARequest" /> 
   <wsdl:output message="eb:OP_INVIO_CONFERMAResponse" name="OP_INVIO_CONFERMAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_INVIO_CONFERMASoap" type="eb:WS_INVIO_CONFERMASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_INVIO_CONFERMA"> 
   <soap:operation soapAction="WS_INVIO_CONFERMA/OP_INVIO_CONFERMA" style="document" /> 
   <wsdl:input name="OP_INVIO_CONFERMARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_INVIO_CONFERMAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_INVIO_CONFERMA"> 
  <wsdl:port binding="eb:WS_INVIO_CONFERMASoap" name="WS_INVIO_CONFERMASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_INVIO_CONFERMA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>