osb_it/repo/SSOProject/SKYID/CREATION/PS_REST_SKYID_CREATION/xsd/XSD_SSO_SKYID_CREATION.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">

<xsd:complexType name="paramsType">
    <xsd:sequence>
      <xsd:element name="email"  type="xsd:string"/>
      <xsd:element name="fiscalcode"  type="xsd:string"/>
      <xsd:element name="password"  type="xsd:string"/>

    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="requestCreationType">
    <xsd:sequence>
     
      <xsd:element name="params" type="paramsType"/>
      <xsd:element name="id" type="xsd:string"/>
      </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="responseCreationType"> 
    <xsd:sequence>
      <xsd:element name="message" type="xsd:string" />
      <xsd:element name="result" type="xsd:string" />
      <xsd:element name="id" type="xsd:string" />
    </xsd:sequence>
  </xsd:complexType>

  <xsd:element name="responseSkyIdCreation" type="responseCreationType"/>

  <xsd:element name="requestSkyIdCreation" type="requestCreationType"/>
</xsd:schema>