esb_it/repo/WS_FW_CONFIRM_ORDER/xsd/SkyXSD_ConfirmOrder.xsd

<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/ConfirmOrderServices/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:schema="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/ConfirmOrderServices/" targetNamespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/ConfirmOrderServices/" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <xsd:element name="InputMessage" type="tns:OperationDataType" /> 
 <xsd:complexType name="InputMessageType"> 
  <xsd:sequence> 
   <xsd:element name="TransactionData" type="tns:TransactionDataType" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="OperationDataType"> 
  <xsd:complexContent> 
   <xsd:extension base="tns:InputMessageType"> 
    <xsd:sequence> 
     <xsd:element name="OperationData" type="tns:SyncronizePartnerKeys_InputType" /> 
    </xsd:sequence> 
   </xsd:extension> 
  </xsd:complexContent> 
 </xsd:complexType> 
 <xsd:element name="OutputMessage" type="tns:OutputMessageType" /> 
 <xsd:complexType name="OutputMessageType"> 
  <xsd:sequence> 
   <xsd:element name="OperationData" type="tns:SyncronizePartnerKeys_OutputType" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="TransactionDataType"> 
  <xsd:sequence> 
   <xsd:element name="SenderName" type="tns:String50" minOccurs="0" /> 
   <xsd:element name="UserName" type="tns:String50" minOccurs="0" /> 
   <xsd:element name="TransactionId" type="tns:String42" /> 
   <xsd:element name="Version" type="tns:String50" minOccurs="0" /> 
   <xsd:element name="TransactionTime" type="tns:DateString19" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="SyncronizePartnerKeys_InputType"> 
  <xsd:sequence> 
   <xsd:element fixed="SKY" minOccurs="1" name="Source" type="tns:String30" /> 
   <xsd:element minOccurs="1" name="Scenario" type="tns:Scenario_type" /> 
   <xsd:element minOccurs="1" name="IdPDA" type="tns:String30" /> 
   <xsd:element minOccurs="1" name="CodiceContrattoSky" type="tns:String30" /> 
   <xsd:element minOccurs="0" name="IntegrationIdSky" type="tns:String30" /> 
   <xsd:element minOccurs="1" name="IdClienteSky" type="tns:String30" /> 
   <xsd:element minOccurs="1" name="IdBillingAccountSky" type="tns:String30" /> 
   <xsd:element minOccurs="1" name="AzioneSky" type="tns:AzioneSky_type" /> 
   <xsd:element minOccurs="1" name="ClusterNumber" type="tns:String2" /> 
   <xsd:element minOccurs="1" name="CustomerBaseSky" type="tns:Flag_type" /> 
   <xsd:element minOccurs="0" name="BundlePrecedente" type="tns:Flag_type" /> 
   <xsd:element name="IdPDAPrecedente" type="xsd:string" minOccurs="0" /> 
   <xsd:element name="ClusterPSPMPrecedente" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:enumeration value="1FW" /> 
      <xsd:enumeration value="1SKY" /> 
      <xsd:enumeration value="1COND" /> 
      <xsd:enumeration value="2" /> 
      <xsd:enumeration value="3" /> 
      <xsd:enumeration value="4" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
   <xsd:element name="DataCessazioneBundlePrecedente" minOccurs="0"> 
    <xsd:simpleType> 
     <xsd:restriction base="xsd:string"> 
      <xsd:pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d" /> 
     </xsd:restriction> 
    </xsd:simpleType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="SyncronizePartnerKeys_OutputType"> 
  <xsd:sequence> 
   <xsd:element minOccurs="0" name="Status" type="tns:StatusType" /> 
   <xsd:element minOccurs="1" name="ErrorCode" type="tns:String30" /> 
   <xsd:element minOccurs="0" name="ErrorMessage" type="tns:String255" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:simpleType name="StatusType"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="Success" /> 
   <xsd:enumeration value="Error" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="Scenario_type"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="SKY" /> 
   <xsd:enumeration value="FW" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="AzioneSky_type"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="OK" /> 
   <xsd:enumeration value="KO" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="Flag_type"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="Y" /> 
   <xsd:enumeration value="N" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="String30"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:maxLength value="30" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="String2"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:maxLength value="2" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="String255"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:maxLength value="255" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="String50"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:maxLength value="50" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="String42"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:maxLength value="42" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="DateString19"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:maxLength value="19" /> 
   <xsd:pattern value="|(\d\d/\d\d/\d\d\d\d \d\d:\d\d:\d\d)|('')" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
</xsd:schema>