esb_it/repo/WS_MRM_CAN_B_SER_FAST/wsdl/WS_MRM_CAN_B_SER_FAST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CA_OPERATORE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_SERIAL_NUMBER" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMRMCanBSerFast"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMRMCanBSerFastResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMRMCanBSerFastRequest"> 
  <wsdl:part element="eb:opMRMCanBSerFast" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMRMCanBSerFastResponse"> 
  <wsdl:part element="eb:opMRMCanBSerFastResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MRM_CAN_B_SER_FASTSoap"> 
  <wsdl:operation name="opMRMCanBSerFast"> 
   <wsdl:input message="eb:opMRMCanBSerFastRequest" name="opMRMCanBSerFastRequest" /> 
   <wsdl:output message="eb:opMRMCanBSerFastResponse" name="opMRMCanBSerFastResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MRM_CAN_B_SER_FASTSoap" type="eb:WS_MRM_CAN_B_SER_FASTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMRMCanBSerFast"> 
   <soap:operation soapAction="WS_MRM_CAN_B_SER_FAST/opMRMCanBSerFast" style="document" /> 
   <wsdl:input name="opMRMCanBSerFastRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMRMCanBSerFastResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MRM_CAN_B_SER_FAST"> 
  <wsdl:port binding="eb:WS_MRM_CAN_B_SER_FASTSoap" name="WS_MRM_CAN_B_SER_FASTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MRM_CAN_B_SER_FAST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>