osb_it/repo/AspideProject/CustomerManagement/PS_REST_ASPIDE_CUSTOMERS/wadl/AspideProject_CustomerManagement_proxy_PS_REST_ASPIDE_CUSTOMERS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/AspideProject/PS_REST_ASPIDE_CUSTOMERS" xmlns:ns1="http://www.skytv.it/mdw/data" xmlns:ns0="http://www.skytv.it/mdw/internal" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_ASPIDE_CUSTOMERS">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/CustomerManagement/XSD_ASPIDE_CUSTOMERS.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{appointmentId}">
         <method name="GET" soa:wsdlOperation="GetCustomer">
            <request>
               <param name="appointmentId" style="template" soa:expression="$msg.request/ns1:appointmentId" default="" type="xsd:string"/>
               <param name="channel" style="query" soa:expression="$msg.request/ns1:channel" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetCustomer" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>