osb_it/repo/SCMSproject/PS_WS_SCMS_DEVICES/xsd/XSD_SCMS_DEVICES.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  
  <xsd:element name="requestEHVIEW" type="requestEHVIEWType" />
  <xsd:complexType name="requestEHVIEWType">
    <xsd:sequence>
      <xsd:element name="flagsync" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="clientid" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="operator" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="account" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="responseEHVIEW" type="responseEHVIEWType" />
  <xsd:complexType name="responseEHVIEWType">
    <xsd:sequence>
      <xsd:element name="Esito" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="householdView" type="householdViewType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="householdViewType">
    <xsd:sequence>
      <xsd:element name="hhidscms" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="devices" type="devicesType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="devicesType">
    <xsd:sequence>
      <xsd:element name="device" type="deviceType" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="deviceType">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="euid" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="drmDeviceID" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="deviceIDUpm" type="xsd:string" minOccurs="0" maxOccurs="1" />
       <xsd:element name="dlTypes" type="dlTypesType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="dlTypesType">
    <xsd:sequence>
      <xsd:element name="dlType" type="xsd:string" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>