esb_it/repo/WS_IVR_GET_NUM_FATTURE_APERTE/wsdl/WS_IVR_GET_NUM_FATTURE_APERTE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="INC_NUM_FATTURE_ESTRATTE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_GETNUMFATTUREAPERTE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="connID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GETNUMFATTUREAPERTEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="GETNUMFATTUREAPERTE_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GETNUMFATTUREAPERTERequest"> 
  <wsdl:part element="eb:OP_GETNUMFATTUREAPERTE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GETNUMFATTUREAPERTEResponse"> 
  <wsdl:part element="eb:OP_GETNUMFATTUREAPERTEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_NUM_FATTURE_APERTESoap"> 
  <wsdl:operation name="OP_GETNUMFATTUREAPERTE"> 
   <wsdl:input message="eb:OP_GETNUMFATTUREAPERTERequest" name="OP_GETNUMFATTUREAPERTERequest" /> 
   <wsdl:output message="eb:OP_GETNUMFATTUREAPERTEResponse" name="OP_GETNUMFATTUREAPERTEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_NUM_FATTURE_APERTESoap" type="eb:WS_IVR_GET_NUM_FATTURE_APERTESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GETNUMFATTUREAPERTE"> 
   <soap:operation soapAction="WS_IVR_GET_NUM_FATTURE_APERTE/OP_GETNUMFATTUREAPERTE" style="document" /> 
   <wsdl:input name="OP_GETNUMFATTUREAPERTERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GETNUMFATTUREAPERTEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_NUM_FATTURE_APERTE"> 
  <wsdl:port binding="eb:WS_IVR_GET_NUM_FATTURE_APERTESoap" name="WS_IVR_GET_NUM_FATTURE_APERTESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_NUM_FATTURE_APERTE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>