osb_it/repo/TechnologyProject/Telemetria/PS_WS_TECH_TELEMETRIA/wsdl/TechnologyProject_Telemetria_proxy_PS_WS_TECH_TELEMETRIA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/TECH_TELEMETRIA" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_TECH_TELEMETRIA" targetNamespace="http://www.skytv.it/mdw/service/TECH_TELEMETRIA">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_TECH_TELEMETRIA.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestGetIptvStbInfo_message">
		<wsdl:part name="part_requestGetIptvStbInfo" element="inp1:requestGetIptvStbInfo"/>
	</wsdl:message>
	<wsdl:message name="responseGetIptvStbInfo_message">
		<wsdl:part name="part_responseGetIptvStbInfo" element="inp1:responseGetIptvStbInfo"/>
	</wsdl:message>
	<wsdl:message name="requestGetIptvSpeedTestInfo_message">
		<wsdl:part name="part_requestGetIptvSpeedTestInfo" element="inp1:requestGetIptvSpeedTestInfo"/>
	</wsdl:message>
	<wsdl:message name="responseGetIptvSpeedTestInfo_message">
		<wsdl:part name="part_responseGetIptvSpeedTestInfo" element="inp1:responseGetIptvSpeedTestInfo"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="TECH_TELEMETRIA_ptt">
		<wsdl:operation name="execute_GetIptvStbInfo">
			<wsdl:input message="tns:requestGetIptvStbInfo_message"/>
			<wsdl:output message="tns:responseGetIptvStbInfo_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_GetIptvSpeedTestInfo">
			<wsdl:input message="tns:requestGetIptvSpeedTestInfo_message"/>
			<wsdl:output message="tns:responseGetIptvSpeedTestInfo_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TECH_TELEMETRIA_pttSOAP11Binding" type="tns:TECH_TELEMETRIA_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_GetIptvStbInfo">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TECH_TELEMETRIA/execute_GetIptvStbInfo" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetIptvStbInfo" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetIptvStbInfo" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_GetIptvSpeedTestInfo">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TECH_TELEMETRIA/execute_GetIptvSpeedTestInfo" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetIptvSpeedTestInfo" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetIptvSpeedTestInfo" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>