esb_it/repo/WS_SF_SBL_UNDO_USED_CODE_PROMO/wsdl/WS_SF_SBL_UNDO_USED_CODE_PROMO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_SF_SBL_UNDO_USED_CODE_PROMO.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opUndoUsedCode"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUndoUsedCodeResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opUndoUsedCodeRequest"> 
  <wsdl:part element="eb:opUndoUsedCode" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUndoUsedCodeResponse"> 
  <wsdl:part element="eb:opUndoUsedCodeResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_SBL_UNDO_USED_CODE_PROMOSoap"> 
  <wsdl:operation name="opUndoUsedCode"> 
   <wsdl:input message="eb:opUndoUsedCodeRequest" name="opUndoUsedCodeRequest" /> 
   <wsdl:output message="eb:opUndoUsedCodeResponse" name="opUndoUsedCodeResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_SBL_UNDO_USED_CODE_PROMOSoap" type="eb:WS_SF_SBL_UNDO_USED_CODE_PROMOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opUndoUsedCode"> 
   <soap:operation soapAction="WS_SF_SBL_UNDO_USED_CODE_PROMO/opUndoUsedCode" style="document" /> 
   <wsdl:input name="opUndoUsedCodeRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opUndoUsedCodeResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_SBL_UNDO_USED_CODE_PROMO"> 
  <wsdl:port binding="eb:WS_SF_SBL_UNDO_USED_CODE_PROMOSoap" name="WS_SF_SBL_UNDO_USED_CODE_PROMOSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_SBL_UNDO_USED_CODE_PROMO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>