osb_it/repo/SalesforceProject/REST/CRM/DECODER/MODEL/HANDLER/PS_REST_CRM_DECODER_MODEL_HANDLER/xsd/XSD_REST_CRM_DECODER_MODEL_HANDLER.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestGetEligibilityDecoderModel" type="requestGetEligibilityDecoderModelType"/>
	<xsd:complexType name="requestGetEligibilityDecoderModelType">
		<xsd:sequence/>
	</xsd:complexType>
	<xsd:element name="responseGetEligibilityDecoderModel" type="responseGetEligibilityDecoderModelType"/>
	<xsd:complexType name="responseGetEligibilityDecoderModelType">
		<xsd:sequence>
			<xsd:element name="mdwModels" type="mdwModelsType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mdwModelsType">
		<xsd:sequence>
			<xsd:element name="mdwModel" type="mdwModelType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mdwModelType">
		<xsd:sequence>
			<xsd:element name="mdwModelId" type="xsd:string"/>
			<xsd:element name="mdwModelLabel" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>