esb_it/repo/WS_SCMS_EXECUTE_EXPDATE/wsdl/WS_SCMS_EXECUTE_EXPDATE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentDataSimple"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
    <xsd:attribute name="expdate" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:choice> 
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     </xsd:choice> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opSCMS"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DocumentDataIn" type="eb:DocumentDataSimple" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSCMSResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DocumentDataOut" type="eb:DocumentDataSimple" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSCMSRequest"> 
  <wsdl:part element="eb:opSCMS" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSCMSResponse"> 
  <wsdl:part element="eb:opSCMSResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_EXPDATESoap"> 
  <wsdl:operation name="opSCMS"> 
   <wsdl:input message="eb:opSCMSRequest" name="opSCMSRequest" /> 
   <wsdl:output message="eb:opSCMSResponse" name="opSCMSResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_EXPDATESoap" type="eb:WS_SCMS_EXECUTE_EXPDATESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSCMS"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_EXPDATE/opSCMS" style="document" /> 
   <wsdl:input name="opSCMSRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSCMSResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_EXPDATE"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_EXPDATESoap" name="WS_SCMS_EXECUTE_EXPDATESoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_EXPDATE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>