esb_it/repo/WS_SCMS_GET_CARDSNUMBER/wsdl/WS_SCMS_GET_CARDSNUMBER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opGetCardsNumber"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetCardsNumberResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_NUMERO_CARTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetCardsNumberRequest"> 
  <wsdl:part element="eb:opGetCardsNumber" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetCardsNumberResponse"> 
  <wsdl:part element="eb:opGetCardsNumberResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_GET_CARDSNUMBERSoap"> 
  <wsdl:operation name="opGetCardsNumber"> 
   <wsdl:input message="eb:opGetCardsNumberRequest" name="opGetCardsNumberRequest" /> 
   <wsdl:output message="eb:opGetCardsNumberResponse" name="opGetCardsNumberResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_GET_CARDSNUMBERSoap" type="eb:WS_SCMS_GET_CARDSNUMBERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetCardsNumber"> 
   <soap:operation soapAction="WS_SCMS_GET_CARDSNUMBER/opGetCardsNumber" style="document" /> 
   <wsdl:input name="opGetCardsNumberRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetCardsNumberResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_GET_CARDSNUMBER"> 
  <wsdl:port binding="eb:WS_SCMS_GET_CARDSNUMBERSoap" name="WS_SCMS_GET_CARDSNUMBERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_GET_CARDSNUMBER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>