osb_it/repo/SiebelProject/GestioneOrdiniLogistica/PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA/wsdl/SiebelProject_GestioneOrdiniLogistica_proxy_PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA"
     targetNamespace="http://xmlns.oracle.com/OSBSvil/SiebelProject/PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil/SiebelProject/PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp2="http://www.skytv.it/mdw/rest/faults"
    >
    <plnk:partnerLinkType name="PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA">
        <plnk:role name="PS_REST_SIE_GESTIONE_ORDINI_LOGISTICAProvider" portType="tns:PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SiebelProject/GestioneOrdiniLogistica/xsd/XSD_SBL_GESTIONE_ORDINI_LOGISTICA.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/rest/faults" schemaLocation="../../MDW_CDM/EnterpriseServices/SiebelProject/GestioneOrdiniLogistica/xsd/XSD_FAULTS.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreazioneOrdine_inputMessage">
        <wsdl:part name="request" element="inp1:richiestaCreazioneOrdine"/>
    </wsdl:message>
    <wsdl:message name="CreazioneOrdine_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCreazioneOrdine"/>
    </wsdl:message>
    <wsdl:message name="CreazioneOrdine_fault400Message">
        <wsdl:part name="fault_fault400" element="inp2:fault400"/>
    </wsdl:message>
    <wsdl:message name="CreazioneOrdine_fault500Message">
        <wsdl:part name="fault_fault500" element="inp2:fault500"/>
    </wsdl:message>
    <wsdl:message name="CreazioneOrdine_fault404Message">
        <wsdl:part name="fault_fault404" element="inp2:fault404"/>
    </wsdl:message>
    <wsdl:message name="CreazioneOrdine_fault508Message">
        <wsdl:part name="fault_fault508" element="inp2:fault508"/>
    </wsdl:message>
    <wsdl:message name="EsitoOrdini_inputMessage">
        <wsdl:part name="request" element="inp1:requestEsitoOrdini"/>
    </wsdl:message>
    <wsdl:message name="EsitoOrdini_outputMessage">
        <wsdl:part name="reply" element="inp1:responseEsitoOrdini"/>
    </wsdl:message>
    <wsdl:message name="EsitoOrdini_fault400Message">
        <wsdl:part name="fault_fault400" element="inp2:fault400"/>
    </wsdl:message>
    <wsdl:message name="EsitoOrdini_fault500Message">
        <wsdl:part name="fault_fault500" element="inp2:fault500"/>
    </wsdl:message>
    <wsdl:message name="EsitoOrdini_fault404Message">
        <wsdl:part name="fault_fault404" element="inp2:fault404"/>
    </wsdl:message>
    <wsdl:message name="EsitoOrdini_fault508Message">
        <wsdl:part name="fault_fault508" element="inp2:fault400"/>
    </wsdl:message>
    <wsdl:message name="TrackingOrdine_inputMessage">
        <wsdl:part name="request" element="inp1:requestTrackingOrdine"/>
    </wsdl:message>
    <wsdl:message name="TrackingOrdine_outputMessage">
        <wsdl:part name="reply" element="inp1:responseTrackingOrdine"/>
    </wsdl:message>
    <wsdl:message name="TrackingOrdine_fault400Message">
        <wsdl:part name="fault_fault400" element="inp2:fault400"/>
    </wsdl:message>
    <wsdl:message name="TrackingOrdine_fault500Message">
        <wsdl:part name="fault_fault500" element="inp2:fault500"/>
    </wsdl:message>
    <wsdl:message name="TrackingOrdine_fault404Message">
        <wsdl:part name="fault_fault404" element="inp2:fault404"/>
    </wsdl:message>
    <wsdl:message name="TrackingOrdine_fault508Message">
        <wsdl:part name="fault_fault508" element="inp2:fault508"/>
    </wsdl:message>
    <wsdl:message name="ackEsitoOrdini_inputMessage">
        <wsdl:part name="request" element="inp1:requestAckEsitoOrdini"/>
    </wsdl:message>
    <wsdl:message name="ackEsitoOrdini_outputMessage">
        <wsdl:part name="reply" element="inp1:responseAckEsitoOrdini"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA_ptt">
        <wsdl:operation name="CreazioneOrdine">
            <wsdl:input message="tns:CreazioneOrdine_inputMessage"/>
            <wsdl:output message="tns:CreazioneOrdine_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:CreazioneOrdine_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:CreazioneOrdine_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:CreazioneOrdine_fault404Message"/>
            <wsdl:fault name="fault508" message="tns:CreazioneOrdine_fault508Message"/>
        </wsdl:operation>
        <wsdl:operation name="EsitoOrdini">
            <wsdl:input message="tns:EsitoOrdini_inputMessage"/>
            <wsdl:output message="tns:EsitoOrdini_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:EsitoOrdini_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:EsitoOrdini_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:EsitoOrdini_fault404Message"/>
            <wsdl:fault name="fault508" message="tns:EsitoOrdini_fault508Message"/>
        </wsdl:operation>
        <wsdl:operation name="TrackingOrdine">
            <wsdl:input message="tns:TrackingOrdine_inputMessage"/>
            <wsdl:output message="tns:TrackingOrdine_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:TrackingOrdine_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:TrackingOrdine_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:TrackingOrdine_fault404Message"/>
            <wsdl:fault name="fault508" message="tns:TrackingOrdine_fault508Message"/>
        </wsdl:operation>
        <wsdl:operation name="ackEsitoOrdini">
            <wsdl:input message="tns:ackEsitoOrdini_inputMessage"/>
            <wsdl:output message="tns:ackEsitoOrdini_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA_ptt-binding" type="tns:PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreazioneOrdine">
            <soap:operation soapAction="CreazioneOrdine"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EsitoOrdini">
            <soap:operation soapAction="EsitoOrdini"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="TrackingOrdine">
            <soap:operation soapAction="TrackingOrdine"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ackEsitoOrdini">
            <soap:operation soapAction="ackEsitoOrdini"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>