esb_it/repo/ReadSmcTel/wsdl/ReadSmcTel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpReadSmcTel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_NUMERO_TELEFONO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpReadSmcTelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SMART_CARD2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpReadSmcTelRequest"> 
  <wsdl:part element="eb:OpReadSmcTel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpReadSmcTelResponse"> 
  <wsdl:part element="eb:OpReadSmcTelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="ReadSmcTelSoap"> 
  <wsdl:operation name="OpReadSmcTel"> 
   <wsdl:input message="eb:OpReadSmcTelRequest" name="OpReadSmcTelRequest" /> 
   <wsdl:output message="eb:OpReadSmcTelResponse" name="OpReadSmcTelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="ReadSmcTelSoap" type="eb:ReadSmcTelSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpReadSmcTel"> 
   <soap:operation soapAction="ReadSmcTel/OpReadSmcTel" style="document" /> 
   <wsdl:input name="OpReadSmcTelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpReadSmcTelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="ReadSmcTel"> 
  <wsdl:port binding="eb:ReadSmcTelSoap" name="ReadSmcTelSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/ReadSmcTel" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>