esb_it/repo/WS_SF_MRM_CAN_BURN_HIDDN/wsdl/WS_SF_MRM_CAN_BURN_HIDDN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="MRM_SERIAL_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_AMOUNT" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_SKY_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_ACCOUNT_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_TYPE_VOUCHER" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_GROUP_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODICE_DEALER" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_REQUESTED_BY" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_MRM"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_MRMResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MRM_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_MRMRequest"> 
  <wsdl:part element="eb:OP_MRM" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_MRMResponse"> 
  <wsdl:part element="eb:OP_MRMResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_MRM_CAN_BURN_HIDDNSoap"> 
  <wsdl:operation name="OP_MRM"> 
   <wsdl:input message="eb:OP_MRMRequest" name="OP_MRMRequest" /> 
   <wsdl:output message="eb:OP_MRMResponse" name="OP_MRMResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_MRM_CAN_BURN_HIDDNSoap" type="eb:WS_SF_MRM_CAN_BURN_HIDDNSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_MRM"> 
   <soap:operation soapAction="WS_SF_MRM_CAN_BURN_HIDDN/OP_MRM" style="document" /> 
   <wsdl:input name="OP_MRMRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_MRMResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_MRM_CAN_BURN_HIDDN"> 
  <wsdl:port binding="eb:WS_SF_MRM_CAN_BURN_HIDDNSoap" name="WS_SF_MRM_CAN_BURN_HIDDNSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_MRM_CAN_BURN_HIDDN" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>