osb_it/repo/TestMario/REST_PARAM/wsdl/TestMario_PS_REST_PARAM.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_PARAM"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/TestMario/PS_REST_PARAM"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/TestMario/PS_REST_PARAM"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_PARAM">
        <plnk:role name="PS_REST_PARAMProvider" portType="tns:PS_REST_PARAM_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/MediasetProject/DTTCheckCopertura/xsd/XSD_MEDIASET_DTT_CHECK_COPERTURA.xsd"/>
        </xsd:schema>
        <schema targetNamespace="http://xmlns.oracle.com/OSB_SVIL/TestMario/PS_REST_PARAM"
             elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="op1_params">
                <complexType>
                    <sequence>
                        <element name="id" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
    </wsdl:types>
    <wsdl:message name="op1_inputMessage">
        <wsdl:part name="request" element="tns:op1_params"/>
    </wsdl:message>
    <wsdl:message name="op1_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRestMDCheckCopertura"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_PARAM_ptt">
        <wsdl:operation name="op1">
            <wsdl:input message="tns:op1_inputMessage"/>
            <wsdl:output message="tns:op1_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_PARAM_ptt-binding" type="tns:PS_REST_PARAM_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="op1">
            <soap:operation soapAction="op1"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>