osb_it/repo/SalesforceProject/WS/CRM/LEGGI/DATI/CLIENTE/PS_WS_CRM_LEGGI_DATI_CLIENTE/wsdl/SalesforceProject_WS_CRM_LEGGI_DATI_CLIENTE_proxy_PS_WS_CRM_LEGGI_DATI_CLIENTE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_LEGGI_DATI_CLIENTE"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_LEGGI_DATI_CLIENTE"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_LEGGI_DATI_CLIENTE"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_LEGGI_DATI_CLIENTE.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestLeggiDatiCliente_Message">
        <wsdl:part name="part_requestLeggiDatiCliente" element="inp1:requestLeggiDatiCliente"/>
    </wsdl:message>
    <wsdl:message name="responseLeggiDatiCliente_Message">
        <wsdl:part name="part_responseLeggiDatiCliente" element="inp1:responseLeggiDatiCliente"/>
    </wsdl:message>
    <wsdl:portType name="CRM_LEGGI_DATI_CLIENTE_ptt">
        <wsdl:operation name="execute_LeggiDatiCliente">
            <wsdl:input message="tns:requestLeggiDatiCliente_Message"/>
            <wsdl:output message="tns:responseLeggiDatiCliente_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_LeggiDatiClienteBySMC">
            <wsdl:input message="tns:requestLeggiDatiClienteBySMC_Message"/>
            <wsdl:output message="tns:responseLeggiDatiClienteBySMC_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestLeggiDatiClienteBySMC_Message">
        <wsdl:part name="part_requestLeggiDatiClienteBySMC" element="inp1:requestLeggiDatiClienteBySMC"/>
    </wsdl:message>
    <wsdl:message name="responseLeggiDatiClienteBySMC_Message">
        <wsdl:part name="part_responseLeggiDatiClienteBySMC" element="inp1:responseLeggiDatiClienteBySMC"/>
    </wsdl:message>
    <wsdl:binding name="CRM_LEGGI_DATI_CLIENTE_bind" type="tns:CRM_LEGGI_DATI_CLIENTE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_LeggiDatiCliente">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_LEGGI_DATI_CLIENTE/execute_LeggiDatiCliente"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestLeggiDatiCliente"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseLeggiDatiCliente"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_LeggiDatiClienteBySMC">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_LEGGI_DATI_CLIENTE/execute_LeggiDatiClienteBySMC"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestLeggiDatiClienteBySMC"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseLeggiDatiClienteBySMC"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>