osb_it/repo/KENANProject/WS/KN/EXTRACT/INFO/EXIT/BL/PS_WS_KN_EXTRACT_INFO_EXIT_BL/xsd/XSD_KN_EXTRACT_INFO_EXIT_BL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestExtractInfoExitBL" type="requestExtractInfoExitBLType"/>
	<xsd:complexType name="requestExtractInfoExitBLType">
		<xsd:sequence>
			<xsd:element name="billingAccount" type="xsd:string"/>
			<xsd:element name="entryDateBL" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseExtractInfoExitBL" type="responseExtractInfoExitBLType"/>
	<xsd:complexType name="responseExtractInfoExitBLType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string" />
			<xsd:element name="resultDescription" type="xsd:string"/>
			<xsd:element name="data" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="intFlagExitBL" type="xsd:string"/>
						<xsd:element name="collectionDate" type="xsd:string"/>
						<xsd:element name="collectionType" type="xsd:string"/>
						<xsd:element name="balance" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType> 
</xsd:schema>