esb_it/repo/WS_HTL_RECUPERO_FILTRI_MONITORIA/wsdl/WS_HTL_RECUPERO_FILTRI_MONITORIA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="filters"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="eventlist" type="eb:c_eventlist" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_eventlist"> 
    <xsd:sequence> 
     <xsd:element name="type" type="xsd:string" /> 
     <xsd:element name="events" type="eb:c_events" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_events"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="event" type="eb:c_event" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_event"> 
    <xsd:sequence> 
     <xsd:element name="code" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRecuperoFiltri"> 
    <xsd:complexType> 
     <xsd:sequence /> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRecuperoFiltriResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="filters" type="eb:filters" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRecuperoFiltriRequest"> 
  <wsdl:part element="eb:opRecuperoFiltri" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRecuperoFiltriResponse"> 
  <wsdl:part element="eb:opRecuperoFiltriResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_RECUPERO_FILTRI_MONITORIASoap"> 
  <wsdl:operation name="opRecuperoFiltri"> 
   <wsdl:input message="eb:opRecuperoFiltriRequest" name="opRecuperoFiltriRequest" /> 
   <wsdl:output message="eb:opRecuperoFiltriResponse" name="opRecuperoFiltriResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_RECUPERO_FILTRI_MONITORIASoap" type="eb:WS_HTL_RECUPERO_FILTRI_MONITORIASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRecuperoFiltri"> 
   <soap:operation soapAction="WS_HTL_RECUPERO_FILTRI_MONITORIA/opRecuperoFiltri" style="document" /> 
   <wsdl:input name="opRecuperoFiltriRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRecuperoFiltriResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_RECUPERO_FILTRI_MONITORIA"> 
  <wsdl:port binding="eb:WS_HTL_RECUPERO_FILTRI_MONITORIASoap" name="WS_HTL_RECUPERO_FILTRI_MONITORIASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_RECUPERO_FILTRI_MONITORIA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>