esb_it/repo/WS_HTL_LEGGI_COMUNICAZIONI/wsdl/WS_HTL_LEGGI_COMUNICAZIONI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputLeggiAccount"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="HTL_CODICE_HOTEL" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutputLeggiAccount"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FRASI_FML32" type="eb:FMLFrasiAccount" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLFrasiAccount"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="HTL_FRASE_FML32" type="eb:FMLFraseAccount" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLFraseAccount"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="HTL_OGGETTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FRASE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_MODALITA" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutputLeggiStorico"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FRASI_FML32" type="eb:FMLFrasiStorico" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLFrasiStorico"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="HTL_FRASE_FML32" type="eb:FMLFraseStorico" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLFraseStorico"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="HTL_ID_FRASE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FRASE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_OGGETTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_MODALITA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_TIPOLOGIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_INIZIO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_FINE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opLeggiAccount"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInputLeggiAccount" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLeggiAccountResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutputLeggiAccount" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLeggiStorico"> 
    <xsd:complexType> 
     <xsd:sequence /> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLeggiStoricoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutputLeggiStorico" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLeggiAccountRequest"> 
  <wsdl:part element="eb:opLeggiAccount" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLeggiAccountResponse"> 
  <wsdl:part element="eb:opLeggiAccountResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLeggiStoricoRequest"> 
  <wsdl:part element="eb:opLeggiStorico" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLeggiStoricoResponse"> 
  <wsdl:part element="eb:opLeggiStoricoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_LEGGI_COMUNICAZIONISoap"> 
  <wsdl:operation name="opLeggiAccount"> 
   <wsdl:input message="eb:opLeggiAccountRequest" name="opLeggiAccountRequest" /> 
   <wsdl:output message="eb:opLeggiAccountResponse" name="opLeggiAccountResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opLeggiStorico"> 
   <wsdl:input message="eb:opLeggiStoricoRequest" name="opLeggiStoricoRequest" /> 
   <wsdl:output message="eb:opLeggiStoricoResponse" name="opLeggiStoricoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_LEGGI_COMUNICAZIONISoap" type="eb:WS_HTL_LEGGI_COMUNICAZIONISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLeggiAccount"> 
   <soap:operation soapAction="WS_HTL_LEGGI_COMUNICAZIONI/opLeggiAccount" style="document" /> 
   <wsdl:input name="opLeggiAccountRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLeggiAccountResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opLeggiStorico"> 
   <soap:operation soapAction="WS_HTL_LEGGI_COMUNICAZIONI/opLeggiStorico" style="document" /> 
   <wsdl:input name="opLeggiStoricoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLeggiStoricoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_LEGGI_COMUNICAZIONI"> 
  <wsdl:port binding="eb:WS_HTL_LEGGI_COMUNICAZIONISoap" name="WS_HTL_LEGGI_COMUNICAZIONISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_LEGGI_COMUNICAZIONI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>