esb_it/repo/WS_LS_ANNULLAMENTO_SBL_TO_EAE/wsdl/WS_LS_ANNULLAMENTO_SBL_TO_EAE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_FLUSSO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MAGAZZINO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" minOccurs="0" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdine" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_NUMERO_ORDINE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opAnnullamentoSblToEae"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAnnullamentoSblToEaeResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAnnullamentoSblToEaeRequest"> 
  <wsdl:part element="eb:opAnnullamentoSblToEae" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAnnullamentoSblToEaeResponse"> 
  <wsdl:part element="eb:opAnnullamentoSblToEaeResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_ANNULLAMENTO_SBL_TO_EAESoap"> 
  <wsdl:operation name="opAnnullamentoSblToEae"> 
   <wsdl:input message="eb:opAnnullamentoSblToEaeRequest" name="opAnnullamentoSblToEaeRequest" /> 
   <wsdl:output message="eb:opAnnullamentoSblToEaeResponse" name="opAnnullamentoSblToEaeResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_ANNULLAMENTO_SBL_TO_EAESoap" type="eb:WS_LS_ANNULLAMENTO_SBL_TO_EAESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAnnullamentoSblToEae"> 
   <soap:operation soapAction="WS_LS_ANNULLAMENTO_SBL_TO_EAE/opAnnullamentoSblToEae" style="document" /> 
   <wsdl:input name="opAnnullamentoSblToEaeRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAnnullamentoSblToEaeResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_ANNULLAMENTO_SBL_TO_EAE"> 
  <wsdl:port binding="eb:WS_LS_ANNULLAMENTO_SBL_TO_EAESoap" name="WS_LS_ANNULLAMENTO_SBL_TO_EAESoap"> 
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>