osb_it/repo/BlueBirdProject/OSS/appointmentManagement/PS_REST_OSS_MANAGE_APPOINTMENTS/wsdl/BlueBirdProject_OSS_appointmentManagement_proxy_PS_REST_OSS_MANAGE_APPOINTMENTS.wsdl

<wsdl:definitions name="PS_REST_OSS_MANAGE_APPOINTMENTS" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_OSS_MANAGE_APPOINTMENTS" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_OSS_MANAGE_APPOINTMENTS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_OSS_MANAGE_APPOINTMENTS">
        <plnk:role name="PS_REST_OSS_MANAGE_APPOINTMENTSProvider" portType="tns:PS_REST_OSS_MANAGE_APPOINTMENTS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/OSS/manageAppointment/xsd/XSD_OSS_MANAGE_APPOINTMENTS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="availableAppointments_inputMessage">
        <wsdl:part name="request" element="inp1:requestAvailableAppointments"/>
    </wsdl:message>
    <wsdl:message name="availableAppointments_outputMessage">
        <wsdl:part name="reply" element="inp1:responseAvailableAppointments"/>
    </wsdl:message>
    <wsdl:message name="availableAppointments_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="availableAppointments_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="availableAppointments_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="reserveAppointment_inputMessage">
        <wsdl:part name="request" element="inp1:requestReserveAppointment"/>
    </wsdl:message>
    <wsdl:message name="reserveAppointment_outputMessage">
        <wsdl:part name="reply" element="inp1:responseReserveAppointment"/>
    </wsdl:message>
    <wsdl:message name="reserveAppointment_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="reserveAppointment_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="reserveAppointment_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="CancelAppointment_inputMessage">
        <wsdl:part name="request" element="inp1:requestCancelAppointment"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="CancelAppointment_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CancelAppointment_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CancelAppointment_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_OSS_MANAGE_APPOINTMENTS_ptt">
        <wsdl:operation name="availableAppointments">
            <wsdl:input message="tns:availableAppointments_inputMessage"/>
            <wsdl:output message="tns:availableAppointments_outputMessage"/>
            <wsdl:fault name="error404" message="tns:availableAppointments_error404Message"/>
            <wsdl:fault name="error400" message="tns:availableAppointments_error400Message"/>
            <wsdl:fault name="error500" message="tns:availableAppointments_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="reserveAppointment">
            <wsdl:input message="tns:reserveAppointment_inputMessage"/>
            <wsdl:output message="tns:reserveAppointment_outputMessage"/>
            <wsdl:fault name="error404" message="tns:reserveAppointment_error404Message"/>
            <wsdl:fault name="error400" message="tns:reserveAppointment_error400Message"/>
            <wsdl:fault name="error500" message="tns:reserveAppointment_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="CancelAppointment">
            <wsdl:input message="tns:CancelAppointment_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:CancelAppointment_error404Message"/>
            <wsdl:fault name="error400" message="tns:CancelAppointment_error400Message"/>
            <wsdl:fault name="error500" message="tns:CancelAppointment_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_OSS_MANAGE_APPOINTMENTS_ptt-binding" type="tns:PS_REST_OSS_MANAGE_APPOINTMENTS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="availableAppointments">
            <soap:operation soapAction="availableAppointments"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="reserveAppointment">
            <soap:operation soapAction="reserveAppointment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CancelAppointment">
            <soap:operation soapAction="CancelAppointment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>