osb_it/repo/BlueBirdProject/OSS/appointmentManagement/PS_WS_OSS_MANAGE_APPOINTMENTS/wsdl/BlueBirdProject_OSS_appointmentManagement_proxy_PS_WS_OSS_MANAGE_APPOINTMENTS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_OSS_MANAGE_APPOINTMENTS"
     targetNamespace="http://www.skytv.it/mdw/service/WS_OSS_MANAGE_APPOINTMENTS"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_OSS_MANAGE_APPOINTMENTS"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_OSS_MANAGE_APPOINTMENTS.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestAvailableAppointments" element="inp1:requestAvailableAppointments"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseAvailableAppointments" element="inp1:responseAvailableAppointmentsSoap"/>
    </wsdl:message>
    <wsdl:portType name="ptt_AvailableAppointments">
        <wsdl:operation name="execute_AvailableAppointments">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execue_ReserveAppointment">
            <wsdl:input message="tns:requestReserveAppointmentMessage"/>
            <wsdl:output message="tns:responseReserveAppointmentMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execue_CancelAppointment">
            <wsdl:input message="tns:requestCancelAppointmentMessage"/>
            <wsdl:output message="tns:responseCancelAppointmentMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bind_manageAppointments" type="tns:ptt_AvailableAppointments">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_AvailableAppointments">
            <soap:operation style="document" soapAction="execute_AvailableAppointments"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_OSS_MANAGE_APPOINTMENTS"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_OSS_MANAGE_APPOINTMENTS"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execue_ReserveAppointment">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_OSS_MANAGE_APPOINTMENTS/execue_ReserveAppointment"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestReserveAppointment"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseReserveAppointment"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execue_CancelAppointment">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_OSS_MANAGE_APPOINTMENTS/execue_CancelAppointment"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCancelAppointment"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCancelAppointment"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
      </wsdl:binding>
    <wsdl:message name="headerMessage">
        <wsdl:part name="partHeader" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestReserveAppointmentMessage">
        <wsdl:part name="part_requestReserveAppointment" element="inp1:requestReserveAppointment"/>
    </wsdl:message>
    <wsdl:message name="responseReserveAppointmentMessage">
        <wsdl:part name="part_responseReserveAppointment" element="inp1:responseReserveAppointmentSoap"/>
    </wsdl:message>
    <wsdl:message name="requestCancelAppointmentMessage">
        <wsdl:part name="part_requestCancelAppointment" element="inp1:requestCancelAppointment"/>
    </wsdl:message>
    <wsdl:message name="responseCancelAppointmentMessage">
        <wsdl:part name="part_responseCancelAppointment" element="inp1:responseCancelAppointmentSoap"/>
    </wsdl:message>
</wsdl:definitions>