osb_it/repo/KENANProject/WS/LETTURA/FATTURE/PS_WS_KNN_LETTURA_FATTURE/wsdl/KENANProject_WS_LETTURA_FATTURE_proxy_PS_WS_KNN_LETTURA_FATTURE.wsdl

<wsdl:definitions name="WSDLCRM_GESTIONE_DISPOSIZIONI_PAG" targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_DISPOSIZIONI_PAG" xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_DISPOSIZIONI_PAG" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_KNN_LETTURA_FATTURE.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestItemFatture_Message">
		<wsdl:part name="part_requestItemFatture" element="inp1:requestItemFatture"/>
	</wsdl:message>
	<wsdl:message name="responseItemFatture_Message">
		<wsdl:part name="part_responseItemFatture" element="inp1:responseItemFatture"/>
	</wsdl:message>
	<wsdl:message name="requestGetFattureRecenti_Message">
		<wsdl:part name="part_requestGetFattureRecenti" element="inp1:requestGetFattureRecenti"/>
	</wsdl:message>
	<wsdl:message name="responseGetFattureRecenti_Message">
		<wsdl:part name="part_responseGetFattureRecenti" element="inp1:responseGetFattureRecenti"/>
	</wsdl:message>
	<wsdl:message name="responseGetBalance_Message">
		<wsdl:part name="part_responseGetBalance" element="inp1:responseGetBalance"/>
	</wsdl:message>
	<wsdl:message name="requestGetBalance_Message">
		<wsdl:part name="part_requestGetBalance" element="inp1:requestGetBalance"/>
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="ItemFatture_ptt">
		<wsdl:operation name="execute_ItemFatture">
			<wsdl:input message="tns:requestItemFatture_Message"/>
			<wsdl:output message="tns:responseItemFatture_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_GetBalance">
			<wsdl:input message="tns:requestGetBalance_Message"/>
			<wsdl:output message="tns:responseGetBalance_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_GetFattureRecenti">
			<wsdl:input message="tns:requestGetFattureRecenti_Message"/>
			<wsdl:output message="tns:responseGetFattureRecenti_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ItemFatture_Bind" type="tns:ItemFatture_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_ItemFatture">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_DISPOSIZIONI_PAG/execute_ItemFatture" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestItemFatture" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseItemFatture" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_GetBalance">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_DISPOSIZIONI_PAG/execute_GetBalance" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetBalance" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetBalance" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_GetFattureRecenti">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_DISPOSIZIONI_PAG/execute_GetFattureRecenti" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetFattureRecenti" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetFattureRecenti" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>