osb_it/repo/SalesforceProject/REST/CRM/ASSET/HANDLER/PS_REST_CRM_ASSET_HANDLER/wsdl/SalesforceProject_REST_CRM_ASSET_HANDLER_proxy_PS_REST_CRM_ASSET_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_ASSET_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_ASSET_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_ASSET_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_ASSET_HANDLER">
        <plnk:role name="PS_REST_CRM_ASSET_HANDLERProvider" portType="tns:PS_REST_CRM_ASSET_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_AssetHandler/xsd/XSD_CRM_ASSET_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetAsset_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetAsset"/>
    </wsdl:message>
    <wsdl:message name="GetAsset_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetAsset"/>
    </wsdl:message>
    <wsdl:message name="GetAsset_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetAsset_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetAsset_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="OpAssetsCleanup_inputMessage">
        <wsdl:part name="request" element="inp1:requestAssetsCleanup"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="PS_REST_CRM_ASSET_HANDLER_ptt">
        <wsdl:operation name="GetAsset">
            <wsdl:input message="tns:GetAsset_inputMessage"/>
            <wsdl:output message="tns:GetAsset_outputMessage"/>
            <wsdl:fault name="error400" message="tns:GetAsset_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetAsset_error500Message"/>
            <wsdl:fault name="error404" message="tns:GetAsset_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="OpAssetsCleanup">
            <wsdl:input message="tns:OpAssetsCleanup_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error400" message="tns:GetAsset_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetAsset_error500Message"/>
            <wsdl:fault name="error404" message="tns:GetAsset_error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_ASSET_HANDLER_ptt-binding" type="tns:PS_REST_CRM_ASSET_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetAsset">
            <soap:operation soapAction="GetAsset"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OpAssetsCleanup">
            <soap:operation soapAction="OpAssetsCleanup"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>