osb_it/repo/DMSProject/ManageFile/PS_WS_DMS_MANAGE_FILE/xsd/XSD_DMS_MANAGE_FILE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestWriteFileType">
		<xsd:sequence>
			<xsd:element name="fileName" type="xsd:string" minOccurs="1"/>
			<xsd:element name="fileContent_base64" type="xsd:string" minOccurs="1"/>
			<xsd:element name="fileExtension" type="xsd:string" minOccurs="0"/>
			<xsd:element name="context" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestWriteFile" type="requestWriteFileType"/>
	<xsd:complexType name="responseWriteFileType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="documentId" type="xsd:string" minOccurs="0"/>                        
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseWriteFile" type="responseWriteFileType"/>
</xsd:schema>