osb_it/repo/SalesforceProject/REST/CRM/ORDER/HANDLER/PS_REST_CRM_ORDER_HANDLER/wsdl/SalesforceProject_REST_CRM_ORDER_HANDLER_proxy_PS_REST_CRM_ORDER_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_ORDER_HANDLER" targetNamespace="http://xmlns.oracle.com/OSB_SVIL_2/SalesforceProject/PS_REST_CRM_ORDER_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL_2/SalesforceProject/PS_REST_CRM_ORDER_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_ORDER_HANDLER">
        <plnk:role name="PS_REST_CRM_ORDER_HANDLERProvider" portType="tns:PS_REST_CRM_ORDER_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_OrderHandler/xsd/XSD_CRM_ORDER_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="OpDeleteOrders_inputMessage">
        <wsdl:part name="request" element="inp1:requestDeleteOrders"/>
    </wsdl:message>
    <wsdl:message name="OpDeleteOrders_outputMessage">
        <wsdl:part name="reply" element="inp1:responseDeleteOrders"/>
    </wsdl:message>
    <wsdl:message name="OpDeleteOrders_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="OpDeleteOrders_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="OpDeleteOrders_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_ORDER_HANDLER_ptt">
        <wsdl:operation name="OpDeleteOrders">
            <wsdl:input message="tns:OpDeleteOrders_inputMessage"/>
            <wsdl:output message="tns:OpDeleteOrders_outputMessage"/>
            <wsdl:fault name="error404" message="tns:OpDeleteOrders_error404Message"/>
            <wsdl:fault name="error400" message="tns:OpDeleteOrders_error400Message"/>
            <wsdl:fault name="error500" message="tns:OpDeleteOrders_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_ORDER_HANDLER_ptt-binding" type="tns:PS_REST_CRM_ORDER_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="OpDeleteOrders">
            <soap:operation soapAction="OpDeleteOrders"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>