osb_it/repo/SiebelProject/outbound_diretto_PS_WS_CRM_OUTMSGPAYADJ_STORNI/wsdl/SiebelProject_proxy_outbound_diretto_PS_WS_CRM_OUTMSGPAYADJ_STORNI.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2005/09/outbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ent="urn:enterprise.soap.sforce.com" xmlns:ens="urn:sobject.enterprise.soap.sforce.com" targetNamespace="http://soap.sforce.com/2005/09/outbound">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:enterprise.soap.sforce.com">
<!--  Our simple ID Type  -->
<simpleType name="ID">
<restriction base="xsd:string">
<length value="18"/>
<pattern value="[a-zA-Z0-9]{18}"/>
</restriction>
</simpleType>
</schema>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
<import namespace="urn:enterprise.soap.sforce.com"/>
<!--  Base sObject (abstract)  -->
<complexType name="sObject">
<sequence>
<element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<element name="Id" type="ent:ID" nillable="true"/>
</sequence>
</complexType>
<complexType name="AggregateResult">
<complexContent>
<extension base="ens:sObject">
<sequence>
<any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</sequence>
</extension>
</complexContent>
</complexType>
<complexType name="vlocity_cmt__PaymentAdjustment__c">
<complexContent>
<extension base="ens:sObject">
<sequence>
<element name="ActionDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Beneficiario__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Canale__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Case_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
<element name="Causale_Storno__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Evento_PPV__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="Data_Emissione_Fattura_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Data_Inizio_Periodo_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Data_Visione_dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="ID_Evento__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Importo_da_Stornare_Curr__c" nillable="true" minOccurs="0" type="xsd:double"/>
<element name="Indirizzo_Payer__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="IntegrationId__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="Name" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Numero_Carta_Credito__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Numero_Fattura__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="OG_OldCorrelationID__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="PriceList__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Scadenza_Carta_Credito__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="ServiceRequestId__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Subtype_Code__c" nillable="true" minOccurs="0" type="xsd:double"/>
<element name="Tipo_Processo_Siebel__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Tipo__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Titolo_Evento__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Voce_Fattura_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt_CreateBy__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt_LastUpdate__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__AccountId__c" nillable="true" minOccurs="0" type="ent:ID"/>
<element name="vlocity_cmt__Amount__c" nillable="true" minOccurs="0" type="xsd:double"/>
<element name="vlocity_cmt__Notes__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__ServiceEndDate__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="vlocity_cmt__Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__Type__c" nillable="true" minOccurs="0" type="xsd:string"/>
</sequence>
</extension>
</complexContent>
</complexType>
</schema>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2005/09/outbound">
<import namespace="urn:enterprise.soap.sforce.com"/>
<import namespace="urn:sobject.enterprise.soap.sforce.com"/>
<element name="notifications">
<complexType>
<sequence>
<element name="OrganizationId" type="ent:ID"/>
<element name="ActionId" type="ent:ID"/>
<element name="SessionId" type="xsd:string" nillable="true"/>
<element name="EnterpriseUrl" type="xsd:string"/>
<element name="PartnerUrl" type="xsd:string"/>
<element name="Notification" maxOccurs="100" type="tns:vlocity_cmt__PaymentAdjustment__cNotification"/>
</sequence>
</complexType>
</element>
<complexType name="vlocity_cmt__PaymentAdjustment__cNotification">
<sequence>
<element name="Id" type="ent:ID"/>
<element name="sObject" type="ens:vlocity_cmt__PaymentAdjustment__c"/>
</sequence>
</complexType>
<element name="notificationsResponse">
<complexType>
<sequence>
<element name="Ack" type="xsd:boolean"/>
</sequence>
</complexType>
</element>
</schema>
</types>
<!--  Method Messages  -->
<message name="notificationsRequest">
<part element="tns:notifications" name="request"/>
</message>
<message name="notificationsResponse">
<part element="tns:notificationsResponse" name="response"/>
</message>
<!--  PortType  -->
<portType name="NotificationPort">
<operation name="notifications">
<documentation>Process a number of notifications.</documentation>
<input message="tns:notificationsRequest"/>
<output message="tns:notificationsResponse"/>
</operation>
</portType>
<!--  Binding 
         You need to write a service that implements this binding to receive the notifications
      -->
<binding name="NotificationBinding" type="tns:NotificationPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="notifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<!--  Service Endpoint  -->
<service name="NotificationService">
<documentation>Notification Service Implementation</documentation>
<port binding="tns:NotificationBinding" name="Notification">
<soap:address location="https://ws.osbcol.sky.it/osbprj/services/siebel/WS_CRM_OUTMSGPAYADJ_STORNI"/>
</port>
</service>
</definitions>