osb_it/repo/BlueBirdProject/KENAN/infoFatture/PS_REST_KENAN_INFO_FATTURE/xsd/XSD_KENAN_INFO_FATTURE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestCountOpen" type="requestCountOpenType"/>
	<xsd:complexType name="requestCountOpenType">
		<xsd:sequence>
			<xsd:element name="e2eContractId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="connId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseCountOpen" type="responseCountOpenType"/>
	<xsd:complexType name="responseCountOpenType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
			<xsd:element name="resultDescription" type="xsd:string" minOccurs="1"/>
			<xsd:element name="invoiceDetails" type="invoiceDetailsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="invoiceDetailsType">
		<xsd:sequence>
			<xsd:element name="invoiceDetail" type="invoiceDetailType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="invoiceDetailType">
		<xsd:sequence>
			<xsd:element name="totalOpenInvoices" type="xsd:integer" minOccurs="1"/>
			<xsd:element name="componentType" type="contractComponentType" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestCheckFirstInvoice" type="requestCheckFirstInvoiceType"/>
	<xsd:complexType name="requestCheckFirstInvoiceType">
		<xsd:sequence>
			<xsd:element name="e2eContractId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="connId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseCheckFirstInvoice" type="responseCheckFirstInvoiceType"/>
	<xsd:complexType name="responseCheckFirstInvoiceType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
			<xsd:element name="resultDescription" type="xsd:string" minOccurs="1"/>
			<xsd:element name="firstInvoiceDetails" type="firstInvoiceDetailsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="firstInvoiceDetailsType">
		<xsd:sequence>
			<xsd:element name="firstInvoiceDetail" type="firstInvoiceDetailType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="firstInvoiceDetailType">
		<xsd:sequence>
			<xsd:element name="flgInvoiceIssued" type="xsd:boolean" minOccurs="1"/>
			<xsd:element name="invoiceIssuedDescription" type="xsd:string" minOccurs="1"/>
			<xsd:element name="componentType" type="contractComponentType" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="contractComponentType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="BB"/>
			<xsd:enumeration value="TV"/>
			<xsd:enumeration value="BB+VOICE"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>