osb_it/repo/BlueBirdProject/MARKETING/CLOUD/sendCommunication/PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS/wadl/BlueBirdProject_MARKETING_CLOUD_sendCommunication_proxy_PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/MARKETING_CLOUD/sendCommunication/xsd/XSD_MKTG_CLOUD_SEND_COMMUNICATIONS.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/emails">
         <method name="POST" soa:wsdlOperation="sendEmail">
            <request>
               <representation mediaType="application/xml" element="cns:requestSendEmail" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/sms">
         <method name="POST" soa:wsdlOperation="SendSMS">
            <request>
               <representation mediaType="application/xml" element="cns:requestSendSMS" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/communications">
         <method name="POST" soa:wsdlOperation="SendCommunications">
            <request>
               <representation mediaType="application/xml" element="cns:requestSendCommunication" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>