esb_it/repo/WS_VMS_ROLLBVOU/wsdl/WS_VMS_ROLLBVOU.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVmsRollbVou"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MRM_TAG_TYPE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_MEDIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_PPV_KIND" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="MRM_SERIAL_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="MRM_HIDDEN_NUMBER" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVmsRollbVouResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseVMS" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVmsRollbVouRequest"> 
  <wsdl:part element="eb:opVmsRollbVou" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVmsRollbVouResponse"> 
  <wsdl:part element="eb:opVmsRollbVouResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_VMS_ROLLBVOUSoap"> 
  <wsdl:operation name="opVmsRollbVou"> 
   <wsdl:input message="eb:opVmsRollbVouRequest" name="opVmsRollbVouRequest" /> 
   <wsdl:output message="eb:opVmsRollbVouResponse" name="opVmsRollbVouResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_VMS_ROLLBVOUSoap" type="eb:WS_VMS_ROLLBVOUSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVmsRollbVou"> 
   <soap:operation soapAction="WS_VMS_ROLLBVOU/opVmsRollbVou" style="document" /> 
   <wsdl:input name="opVmsRollbVouRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVmsRollbVouResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_VMS_ROLLBVOU"> 
  <wsdl:port binding="eb:WS_VMS_ROLLBVOUSoap" name="WS_VMS_ROLLBVOUSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_VMS_ROLLBVOU" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>