osb_it/repo/OMProject/OrderManagement/PS_OM_ORDER_MANAGEMENT/wsdl/OMProject_OrderManagement_proxy_PS_OM_ORDER_MANAGEMENT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/OM_ORDERMANAGEMENT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_OM_ORDERMANAGEMENT" targetNamespace="http://www.skytv.it/mdw/service/OM_ORDERMANAGEMENT">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_OM_ORDERMANAGEMENT.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestOrderManagement_message">
		<wsdl:part name="part_requestOrderManagement" element="inp1:requestOrderManagement"/>
	</wsdl:message>
	<wsdl:message name="responseOrderManagement_message">
		<wsdl:part name="part_responseOrderManagement" element="inp1:responseOrderManagement"/>
	</wsdl:message>
	<wsdl:message name="requestSetKeyOrderManagement_message">
		<wsdl:part name="part_requestSetKeyOrderManagement" element="inp1:requestSetKeyOrderManagement"/>
	</wsdl:message>
	<wsdl:message name="responseSetKeyOrderManagement_message">
		<wsdl:part name="part_responseSetKeyOrderManagement" element="inp1:responseSetKeyOrderManagement"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="OM_ORDERMANAGEMENT_ptt">
		<wsdl:operation name="execute_OrderManagement">
			<wsdl:input message="tns:requestOrderManagement_message"/>
			<wsdl:output message="tns:responseOrderManagement_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_SetKeyOrderManagement">
			<wsdl:input message="tns:requestSetKeyOrderManagement_message"/>
			<wsdl:output message="tns:responseSetKeyOrderManagement_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OM_ORDERMANAGEMENT_pttSOAP11Binding" type="tns:OM_ORDERMANAGEMENT_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_OrderManagement">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OM_ORDERMANAGEMENT/execute_OrderManagement" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestOrderManagement" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseOrderManagement" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_SetKeyOrderManagement">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OM_ORDERMANAGEMENT/execute_SetKeyOrderManagement" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestSetKeyOrderManagement" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseSetKeyOrderManagement" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>