esb_it/repo/WS_WSC_KBP_ITEM_FATTURE/wsdl/WS_WSC_KBP_ITEM_FATTURE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
     <xsd:element name="KN_NUMERO_FATTURA" type="xsd:string" /> 
     <xsd:element name="KN_DATA_FATTURA_ESIG" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_FML32" type="eb:FMLComplexFatture" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexFatture"> 
    <xsd:sequence> 
     <xsd:element name="CRM_DESCRIZIONE" type="xsd:string" /> 
     <xsd:element name="KN_PERIOD_FATT_SI" type="xsd:string" /> 
     <xsd:element name="KN_CODE_ALIQUOTA" type="xsd:string" /> 
     <xsd:element name="KN_PREZZO_ESIG" type="xsd:string" /> 
     <xsd:element name="KN_PROGRESSIVO_RIEPILOGO" type="xsd:string" /> 
     <xsd:element name="KN_LABEL_RIEPILOGO" type="xsd:string" /> 
     <xsd:element name="KN_PERIODO_RIEPILOGO" type="xsd:string" /> 
     <xsd:element name="KN_PREZZO_RIEPILOGO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opItemFatture"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opItemFattureResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opItemFattureRequest"> 
  <wsdl:part element="eb:opItemFatture" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opItemFattureResponse"> 
  <wsdl:part element="eb:opItemFattureResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC_KBP_ITEM_FATTURESoap"> 
  <wsdl:operation name="opItemFatture"> 
   <wsdl:input message="eb:opItemFattureRequest" name="opItemFattureRequest" /> 
   <wsdl:output message="eb:opItemFattureResponse" name="opItemFattureResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC_KBP_ITEM_FATTURESoap" type="eb:WS_WSC_KBP_ITEM_FATTURESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opItemFatture"> 
   <soap:operation soapAction="WS_WSC_KBP_ITEM_FATTURE/opItemFatture" style="document" /> 
   <wsdl:input name="opItemFattureRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opItemFattureResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC_KBP_ITEM_FATTURE"> 
  <wsdl:port binding="eb:WS_WSC_KBP_ITEM_FATTURESoap" name="WS_WSC_KBP_ITEM_FATTURESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC_KBP_ITEM_FATTURE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>