esb_it/repo/WS_HTL_SUBENTRO/wsdl/WS_HTL_SUBENTRO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_HOTEL_OLD" type="xsd:string" /> 
     <xsd:element name="HTL_CODICE_HOTEL_NEW" type="xsd:string" /> 
     <xsd:element name="HTL_BILLING_ACCOUNT" type="xsd:string" /> 
     <xsd:element name="CRM_CODICE_LISTINO" type="xsd:string" /> 
     <xsd:element name="CRM_RATE_CODE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSubentro"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSubentroResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSubentroRequest"> 
  <wsdl:part element="eb:opSubentro" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSubentroResponse"> 
  <wsdl:part element="eb:opSubentroResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SUBENTROSoap"> 
  <wsdl:operation name="opSubentro"> 
   <wsdl:input message="eb:opSubentroRequest" name="opSubentroRequest" /> 
   <wsdl:output message="eb:opSubentroResponse" name="opSubentroResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SUBENTROSoap" type="eb:WS_HTL_SUBENTROSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSubentro"> 
   <soap:operation soapAction="WS_HTL_SUBENTRO/opSubentro" style="document" /> 
   <wsdl:input name="opSubentroRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSubentroResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SUBENTRO"> 
  <wsdl:port binding="eb:WS_HTL_SUBENTROSoap" name="WS_HTL_SUBENTROSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_SUBENTRO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>