esb_it/repo/WS_SCMS_REMOTE_BOOKING/wsdl/WS_SCMS_REMOTE_BOOKING.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opScmsRemoteBooking"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_EPG_POSITION" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_TRASM" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_PRENOTAZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SERVICE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_VERSION" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DEVICE_TYPE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_RECORDING_TYPE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opScmsRemoteBookingResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_COSTO_EVENTO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opScmsRemoteBookingRequest"> 
  <wsdl:part element="eb:opScmsRemoteBooking" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opScmsRemoteBookingResponse"> 
  <wsdl:part element="eb:opScmsRemoteBookingResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_REMOTE_BOOKINGSoap"> 
  <wsdl:operation name="opScmsRemoteBooking"> 
   <wsdl:input message="eb:opScmsRemoteBookingRequest" name="opScmsRemoteBookingRequest" /> 
   <wsdl:output message="eb:opScmsRemoteBookingResponse" name="opScmsRemoteBookingResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_REMOTE_BOOKINGSoap" type="eb:WS_SCMS_REMOTE_BOOKINGSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opScmsRemoteBooking"> 
   <soap:operation soapAction="WS_SCMS_REMOTE_BOOKING/opScmsRemoteBooking" style="document" /> 
   <wsdl:input name="opScmsRemoteBookingRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opScmsRemoteBookingResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_REMOTE_BOOKING"> 
  <wsdl:port binding="eb:WS_SCMS_REMOTE_BOOKINGSoap" name="WS_SCMS_REMOTE_BOOKINGSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_REMOTE_BOOKING" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>