osb_it/repo/BlueBirdProject/SALESFORCE/leadHandler/PS_REST_SF_LEAD_HANDLER/wadl/BlueBirdProject_SALESFORCE_leadHandler_proxy_PS_REST_SF_LEAD_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_LEAD_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/leadHandler/xsd/XSD_SF_LEAD_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/leads">
         <method name="GET" soa:wsdlOperation="RetrieveLead">
            <request>
               <param name="tokenId" style="query" soa:expression="$msg.request/ns0:tokenId" default="" type="xsd:string"/>
               <param name="custId" style="query" soa:expression="$msg.request/ns0:custId" default="" type="xsd:string"/>
               <param name="flgCustId" style="query" soa:expression="$msg.request/ns0:flgCustId" default="N" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseRetrieveLead" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
         <method name="POST" soa:wsdlOperation="CreateLead">
            <request>
               <representation mediaType="application/xml" element="cns:requestCreateLead" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="201">
               <representation mediaType="application/xml" element="cns:responseCreateLead" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/leads/{leadId}/servicesOfInterest">
         <method name="PUT" soa:wsdlOperation="UpdateInterest">
            <request>
               <param name="leadId" style="template" soa:expression="$property.leadId" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestUpdateInterest" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/leads/{leadId}/privacies">
         <method name="PUT" soa:wsdlOperation="UpdatePrivacy">
            <request>
               <param name="leadId" style="template" soa:expression="$property.leadId" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestUpdatePrivacy" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>