osb_it/repo/BlueBirdProject/SALESFORCE/publicCustomerData/PS_REST_SF_GET_CUSTOMER_DATA/xsd/XSD_SF_GET_CUSTOMER_DATA.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestPublicCustomerData" type="requestPublicCustomerDataType"/>
	<xsd:element name="responsePublicCustomerData" type="responsePublicCustomerDataType"/>
	<xsd:complexType name="requestPublicCustomerDataType">
		<xsd:sequence>
			<xsd:element name="custId" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responsePublicCustomerDataType">
		<xsd:sequence>
			<xsd:element name="account" type="accountType" minOccurs="0"/>
			<xsd:element name="contact" type="contactType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="accountType">
		<xsd:sequence>
			<xsd:element name="logisticAssetInformation" type="xsd:string" minOccurs="1"/>
			<xsd:element name="buildingId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="city" type="xsd:string" minOccurs="1"/>
			<xsd:element name="streetNumber" type="xsd:string" minOccurs="1"/>
			<xsd:element name="streetName" type="xsd:string" minOccurs="1"/>
			<xsd:element name="staircase" type="xsd:string" minOccurs="1"/>   
			<xsd:element name="fiscalCode" type="xsd:string" minOccurs="1"/>   
			<xsd:element name="PIVA" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="contactType">
		<xsd:sequence>
			<xsd:element name="firstName" type="xsd:string" minOccurs="1"/>
			<xsd:element name="lastName" type="xsd:string" minOccurs="1"/>
			<xsd:element name="phone" type="xsd:string" minOccurs="1"/>
			<xsd:element name="otherPhone" type="xsd:string" minOccurs="1"/>
			<xsd:element name="documentID" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>