esb_it/repo/WS_OTS_DENES_ESTRAZIONE_LOCALITA/wsdl/WS_OTS_DENES_ESTRAZIONE_LOCALITA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdReitek/SkyXSD_OTS_DENES_ESTRAZIONE_LOCALITA.xsd" /> 
   <xsd:complexType name="request"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="response"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opEstrazioneLocalita"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:request" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEstrazioneLocalitaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:response" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opEstrazioneLocalitaRequest"> 
  <wsdl:part element="eb:opEstrazioneLocalita" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEstrazioneLocalitaResponse"> 
  <wsdl:part element="eb:opEstrazioneLocalitaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_OTS_DENES_ESTRAZIONE_LOCALITASoap"> 
  <wsdl:operation name="opEstrazioneLocalita"> 
   <wsdl:input message="eb:opEstrazioneLocalitaRequest" name="opEstrazioneLocalitaRequest" /> 
   <wsdl:output message="eb:opEstrazioneLocalitaResponse" name="opEstrazioneLocalitaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_OTS_DENES_ESTRAZIONE_LOCALITASoap" type="eb:WS_OTS_DENES_ESTRAZIONE_LOCALITASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opEstrazioneLocalita"> 
   <soap:operation soapAction="WS_OTS_DENES_ESTRAZIONE_LOCALITA/opEstrazioneLocalita" style="document" /> 
   <wsdl:input name="opEstrazioneLocalitaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opEstrazioneLocalitaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_OTS_DENES_ESTRAZIONE_LOCALITA"> 
  <wsdl:port binding="eb:WS_OTS_DENES_ESTRAZIONE_LOCALITASoap" name="WS_OTS_DENES_ESTRAZIONE_LOCALITASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_OTS_DENES_ESTRAZIONE_LOCALITA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>