osb_it/repo/OMProject/GetOrder/PS_WS_GET_ORDER/wsdl/OMProject_GetOrder_proxy_PS_WS_GET_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/OM_GETORDER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_OM_GETORDER" targetNamespace="http://www.skytv.it/mdw/service/OM_GETORDER">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_OM_GETORDER.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestGetFirstActivationOrder_message">
		<wsdl:part name="part_requestGetFirstActivationOrder" element="inp1:requestGetFirstActivationOrder"/>
	</wsdl:message>
	<wsdl:message name="responseGetFirstActivationOrder_message">
		<wsdl:part name="part_responseGetFirstActivationOrder" element="inp1:responseGetFirstActivationOrder"/>
	</wsdl:message>
	
	<wsdl:message name="requestGetCancellableOrderList">
		<wsdl:part name="part_requestGetCancellableOrderList" element="inp1:requestGetCancellableOrderList"/>
	</wsdl:message>
	<wsdl:message name="responseGetCancellableOrderList">
		<wsdl:part name="part_responseGetCancellableOrderList" element="inp1:responseGetCancellableOrderList"/>
	</wsdl:message>
	
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="OM_GETORDER_ptt">
		<wsdl:operation name="execute_GetFirstActivationOrder">
			<wsdl:input message="tns:requestGetFirstActivationOrder_message"/>
			<wsdl:output message="tns:responseGetFirstActivationOrder_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_GetCancellableOrderList">
			<wsdl:input message="tns:requestGetCancellableOrderList"/>
			<wsdl:output message="tns:responseGetCancellableOrderList"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OM_GETORDER_pttSOAP11Binding" type="tns:OM_GETORDER_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_GetFirstActivationOrder">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OM_GETORDER/execute_GetFirstActivationOrder" style="document"/>
			<wsdl:input>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
				<soap:body parts="part_requestGetFirstActivationOrder" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
				<soap:body parts="part_responseGetFirstActivationOrder" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="execute_GetCancellableOrderList">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OM_GETORDER/execute_GetCancellableOrderList" style="document"/>
			<wsdl:input>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
				<soap:body parts="part_requestGetCancellableOrderList" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
				<soap:body parts="part_responseGetCancellableOrderList" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>