osb_it/repo/BlueBirdProject/SALESFORCE/agendaManagement/PS_REST_SF_AGENDA_MANAGEMENT/wadl/BlueBirdProject_SALESFORCE_agendaManagement_proxy_PS_REST_SF_AGENDA_MANAGEMENT.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_AGENDA_MANAGEMENT" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_SF_AGENDA_MANAGEMENT">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/agendaManagement/xsd/XSD_SF_AGENDA_MANAGEMENT.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{appointmentId}/appointmentStatus">
         <method name="PUT" soa:wsdlOperation="UpdateAppointmentStatus">
            <request>
               <param name="appointmentId" style="template" soa:expression="$property.appointmentId" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestUpdateAppointmentStatus" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/reschedulingVerification">
         <method name="GET" soa:wsdlOperation="ReschedulingVerification">
            <request>
               <param name="orderId" style="query" soa:expression="$msg.request/ns0:orderId" default="" type="xsd:string"/>
               <param name="appointmentId" style="query" soa:expression="$msg.request/ns0:appointmentId" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:reschedulingList" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="RetrieveAppointments">
            <request>
               <param name="e2eContractId" style="query" soa:expression="$msg.request/ns0:e2eContractId" default="" type="xsd:string"/>
               <param name="typeAppointment" style="query" soa:expression="$msg.request/ns0:typeAppointment" default="" type="xsd:string"/>
               <param name="state" style="query" soa:expression="$msg.request/ns0:state" default="" type="xsd:string"/>
               <param name="minimumDate" style="query" soa:expression="$msg.request/ns0:minimumDate" default="" type="xsd:date"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:appointments" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>