esb_it/repo/VerificaRicaricabile/wsdl/VerificaRicaricabile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="VER_RICARICABILE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="VER_RICARICABILEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_OPPV_TIPOLOGIA_UTENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT_TOKENS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="VER_RICARICABILERequest"> 
  <wsdl:part element="eb:VER_RICARICABILE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="VER_RICARICABILEResponse"> 
  <wsdl:part element="eb:VER_RICARICABILEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="VerificaRicaricabileSoap"> 
  <wsdl:operation name="VER_RICARICABILE"> 
   <wsdl:input message="eb:VER_RICARICABILERequest" name="VER_RICARICABILERequest" /> 
   <wsdl:output message="eb:VER_RICARICABILEResponse" name="VER_RICARICABILEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="VerificaRicaricabileSoap" type="eb:VerificaRicaricabileSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="VER_RICARICABILE"> 
   <soap:operation soapAction="VerificaRicaricabile/VER_RICARICABILE" style="document" /> 
   <wsdl:input name="VER_RICARICABILERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="VER_RICARICABILEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="VerificaRicaricabile"> 
  <wsdl:port binding="eb:VerificaRicaricabileSoap" name="VerificaRicaricabileSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/VerificaRicaricabile" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>