esb_it/repo/WS_WSC2_MV_CONNECTED/wsdl/WS_WSC2_MV_CONNECTED.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WSC2_MV_CONNECTED.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opMvConnected"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMvConnectedResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMvConnectedRequest"> 
  <wsdl:part element="eb:opMvConnected" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMvConnectedResponse"> 
  <wsdl:part element="eb:opMvConnectedResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC2_MV_CONNECTEDSoap"> 
  <wsdl:operation name="opMvConnected"> 
   <wsdl:input message="eb:opMvConnectedRequest" name="opMvConnectedRequest" /> 
   <wsdl:output message="eb:opMvConnectedResponse" name="opMvConnectedResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC2_MV_CONNECTEDSoap" type="eb:WS_WSC2_MV_CONNECTEDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMvConnected"> 
   <soap:operation soapAction="WS_WSC2_MV_CONNECTED/opMvConnected" style="document" /> 
   <wsdl:input name="opMvConnectedRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMvConnectedResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC2_MV_CONNECTED"> 
  <wsdl:port binding="eb:WS_WSC2_MV_CONNECTEDSoap" name="WS_WSC2_MV_CONNECTEDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC2_MV_CONNECTED" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>