esb_it/repo/ParseSms/wsdl/ParseSms.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="ParseSms"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TESTO_SMS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ParseSmsResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="REGOLA_SMS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ID_REGOLA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="VALIDATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DESCRIZIONE_REGOLA_APPLICATA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ParseSmsRequest"> 
  <wsdl:part element="eb:ParseSms" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ParseSmsResponse"> 
  <wsdl:part element="eb:ParseSmsResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="ParseSmsSoap"> 
  <wsdl:operation name="ParseSms"> 
   <wsdl:input message="eb:ParseSmsRequest" name="ParseSmsRequest" /> 
   <wsdl:output message="eb:ParseSmsResponse" name="ParseSmsResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="ParseSmsSoap" type="eb:ParseSmsSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ParseSms"> 
   <soap:operation soapAction="ParseSms/ParseSms" style="document" /> 
   <wsdl:input name="ParseSmsRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ParseSmsResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="ParseSms"> 
  <wsdl:port binding="eb:ParseSmsSoap" name="ParseSmsSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/ParseSms" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>