esb_it/repo/WS_SSO_CHK_UPDT_MAIL_USER/wsdl/WS_SSO_CHK_UPDT_MAIL_USER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://skyid.ws.sky.it" schemaLocation="xsdSSO/SkyXSD_SSO_Mail.xsd" /> 
   <xsd:complexType name="CheckUpdateSSOUserMailRequest" xmlns:sso="http://skyid.ws.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="sso:checkUpdateSSOUserMail" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="CheckUpdateSSOUserMailResponse" xmlns:sso="http://skyid.ws.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="sso:checkUpdateSSOUserMailResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSsoChkUpdtMailUser"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:CheckUpdateSSOUserMailRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSsoChkUpdtMailUserResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ResponseOUT" type="eb:CheckUpdateSSOUserMailResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSsoChkUpdtMailUserRequest"> 
  <wsdl:part element="eb:opSsoChkUpdtMailUser" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSsoChkUpdtMailUserResponse"> 
  <wsdl:part element="eb:opSsoChkUpdtMailUserResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SSO_CHK_UPDT_MAIL_USERSoap"> 
  <wsdl:operation name="opSsoChkUpdtMailUser"> 
   <wsdl:input message="eb:opSsoChkUpdtMailUserRequest" name="opSsoChkUpdtMailUserRequest" /> 
   <wsdl:output message="eb:opSsoChkUpdtMailUserResponse" name="opSsoChkUpdtMailUserResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SSO_CHK_UPDT_MAIL_USERSoap" type="eb:WS_SSO_CHK_UPDT_MAIL_USERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSsoChkUpdtMailUser"> 
   <soap:operation soapAction="WS_SSO_CHK_UPDT_MAIL_USER/opSsoChkUpdtMailUser" style="document" /> 
   <wsdl:input name="opSsoChkUpdtMailUserRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSsoChkUpdtMailUserResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SSO_CHK_UPDT_MAIL_USER"> 
  <wsdl:port binding="eb:WS_SSO_CHK_UPDT_MAIL_USERSoap" name="WS_SSO_CHK_UPDT_MAIL_USERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SSO_CHK_UPDT_MAIL_USER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>