osb_it/repo/MEDIASETProject/DTT/CHECK/SWAP/PS_MEDIASET_DTT_CHECK_SWAP_PUB/wsdl/MEDIASETProject_DTT_CHECK_SWAP_proxy_PS_MEDIASET_DTT_CHECK_SWAP_PUB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/MEDIASET_DTT_CHECK_SWAP" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_MEDIASET_DTT_CHECK_SWAP" targetNamespace="http://www.skytv.it/mdw/service/MEDIASET_DTT_CHECK_SWAP">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MEDIASET_DTT_CHECK_SWAP.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestMDCheckSwap_Message">
		<wsdl:part name="part_requestMDCheckSwap" element="inp1:requestMDCheckSwap"/>
	</wsdl:message>
	<wsdl:message name="responseMDCheckSwap_Message">
		<wsdl:part name="part_responseMDCheckSwap" element="inp1:responseMDCheckSwap"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="MEDIASET_DTT_CHECK_SWAP_ptt">
		<wsdl:operation name="execute_MDCheckSwap">
			<wsdl:input message="tns:requestMDCheckSwap_Message"/>
			<wsdl:output message="tns:responseMDCheckSwap_Message"/>
		</wsdl:operation>
  <wsdl:operation name="execute_MDCheckReplacementRequest">
   <wsdl:input message="tns:requestMDCheckReplacementRequest_Message"/>
   <wsdl:output message="tns:responseMDCheckReplacementRequest_Message"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:message name="requestMDCheckReplacementRequest_Message">
  <wsdl:part name="part_requestMDCheckReplacementRequest" element="inp1:requestMDCheckReplacementRequest"/>
 </wsdl:message>
 <wsdl:message name="responseMDCheckReplacementRequest_Message">
  <wsdl:part name="part_responseMDCheckReplacementRequest" element="inp1:responseMDCheckReplacementRequest"/>
 </wsdl:message>
 <wsdl:binding name="MEDIASET_DTT_CHECK_SWAP_bind" type="tns:MEDIASET_DTT_CHECK_SWAP_ptt">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="execute_MDCheckSwap">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/MEDIASET_DTT_CHECK_SWAP/execute_MDCheckSwap"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestMDCheckSwap"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseMDCheckSwap"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_MDCheckReplacementRequest">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/MEDIASET_DTT_CHECK_SWAP/execute_MDCheckReplacementRequest"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestMDCheckReplacementRequest"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseMDCheckReplacementRequest"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>