esb_it/repo/WS_CREA_UTENTE_EXT/wsdl/WS_CREA_UTENTE_EXT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_CREA_UTENTE_EXT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NUM_SC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ACCOUNT_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_EMAIL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PRIORITY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_AMBIENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPERATORE_API" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PIN_CONTROL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_PRIVACY_1" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_PRIVACY_2" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_PRIVACY_3" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_MASTER" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_CREA_UTENTE_EXTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_CREA_UTENTE_EXTRequest"> 
  <wsdl:part element="eb:OP_CREA_UTENTE_EXT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_CREA_UTENTE_EXTResponse"> 
  <wsdl:part element="eb:OP_CREA_UTENTE_EXTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_CREA_UTENTE_EXTSoap"> 
  <wsdl:operation name="OP_CREA_UTENTE_EXT"> 
   <wsdl:input message="eb:OP_CREA_UTENTE_EXTRequest" name="OP_CREA_UTENTE_EXTRequest" /> 
   <wsdl:output message="eb:OP_CREA_UTENTE_EXTResponse" name="OP_CREA_UTENTE_EXTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_CREA_UTENTE_EXTSoap" type="eb:WS_CREA_UTENTE_EXTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_CREA_UTENTE_EXT"> 
   <soap:operation soapAction="WS_CREA_UTENTE_EXT/OP_CREA_UTENTE_EXT" style="document" /> 
   <wsdl:input name="OP_CREA_UTENTE_EXTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_CREA_UTENTE_EXTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_CREA_UTENTE_EXT"> 
  <wsdl:port binding="eb:WS_CREA_UTENTE_EXTSoap" name="WS_CREA_UTENTE_EXTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_CREA_UTENTE_EXT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>