esb_it/repo/WS_WSC_GET_LISTA_COUNTRY/wsdl/WS_WSC_GET_LISTA_COUNTRY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WSC_GET_LISTA_COUNTRY.xsd" /> 
   <xsd:complexType name="DocumentDataInput" /> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetListaCountry"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetListaCountryResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetListaCountryRequest"> 
  <wsdl:part element="eb:opGetListaCountry" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetListaCountryResponse"> 
  <wsdl:part element="eb:opGetListaCountryResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC_GET_LISTA_COUNTRYSoap"> 
  <wsdl:operation name="opGetListaCountry"> 
   <wsdl:input message="eb:opGetListaCountryRequest" name="opGetListaCountryRequest" /> 
   <wsdl:output message="eb:opGetListaCountryResponse" name="opGetListaCountryResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC_GET_LISTA_COUNTRYSoap" type="eb:WS_WSC_GET_LISTA_COUNTRYSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetListaCountry"> 
   <soap:operation soapAction="WS_WSC_GET_LISTA_COUNTRY/opGetListaCountry" style="document" /> 
   <wsdl:input name="opGetListaCountryRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetListaCountryResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC_GET_LISTA_COUNTRY"> 
  <wsdl:port binding="eb:WS_WSC_GET_LISTA_COUNTRYSoap" name="WS_WSC_GET_LISTA_COUNTRYSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC_GET_LISTA_COUNTRY" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>