esb_it/repo/WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBL/wsdl/WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_Custvox_InserimentoEsiti.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCustvoxInserimentoEsitiToSBL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCustvoxInserimentoEsitiToSBLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DescrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_Tid" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCustvoxInserimentoEsitiToSBLRequest"> 
  <wsdl:part element="eb:opCustvoxInserimentoEsitiToSBL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCustvoxInserimentoEsitiToSBLResponse"> 
  <wsdl:part element="eb:opCustvoxInserimentoEsitiToSBLResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBLSoap"> 
  <wsdl:operation name="opCustvoxInserimentoEsitiToSBL"> 
   <wsdl:input message="eb:opCustvoxInserimentoEsitiToSBLRequest" name="opCustvoxInserimentoEsitiToSBLRequest" /> 
   <wsdl:output message="eb:opCustvoxInserimentoEsitiToSBLResponse" name="opCustvoxInserimentoEsitiToSBLResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBLSoap" type="eb:WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCustvoxInserimentoEsitiToSBL"> 
   <soap:operation soapAction="WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBL/opCustvoxInserimentoEsitiToSBL" style="document" /> 
   <wsdl:input name="opCustvoxInserimentoEsitiToSBLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCustvoxInserimentoEsitiToSBLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBL"> 
  <wsdl:port binding="eb:WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBLSoap" name="WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBLSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/openws/WS_CUSTVOX_INSERIMENTO_ESITI_CVOX_TO_SBL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>