osb_it/repo/OMProject/Order/PS_OM_ORDER/wsdl/OMProject_Order_proxy_PS_OM_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/OM_ORDER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_OM_ORDER" targetNamespace="http://www.skytv.it/mdw/service/OM_ORDER">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_OM_ORDER.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestUpdateContractStatus_message">
		<wsdl:part name="part_requestUpdateContractStatus" element="inp1:requestUpdateContractStatus"/>
	</wsdl:message>
	<wsdl:message name="responseUpdateContractStatus_message">
		<wsdl:part name="part_responseUpdateContractStatus" element="inp1:responseUpdateContractStatus"/>
	</wsdl:message>
	<wsdl:message name="requestUpdateDeliveryStatus_message">
		<wsdl:part name="part_requestUpdateDeliveryStatus" element="inp1:requestUpdateDeliveryStatus"/>
	</wsdl:message>
	<wsdl:message name="responseUpdateDeliveryStatus_message">
		<wsdl:part name="part_responseUpdateDeliveryStatus" element="inp1:responseUpdateDeliveryStatus"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="OM_ORDER_ptt">
		<wsdl:operation name="execute_UpdateContractStatus">
			<wsdl:input message="tns:requestUpdateContractStatus_message"/>
			<wsdl:output message="tns:responseUpdateContractStatus_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_UpdateDeliveryStatus">
			<wsdl:input message="tns:requestUpdateDeliveryStatus_message"/>
			<wsdl:output message="tns:responseUpdateDeliveryStatus_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OM_ORDER_pttSOAP11Binding" type="tns:OM_ORDER_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_UpdateContractStatus">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OM_ORDER/execute_UpdateContractStatus" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestUpdateContractStatus" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseUpdateContractStatus" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_UpdateDeliveryStatus">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OM_ORDER/execute_UpdateDeliveryStatus" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestUpdateDeliveryStatus" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseUpdateDeliveryStatus" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>