osb_it/repo/SalesforceProject/WS/CRM/CHECK/COMMUNICATIONS/PS_CRM_CHECK_COMMUNICATIONS/xsd/XSD_CRM_CHECK_COMMUNICATIONS.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestCheckCommunicationsType">
		<xsd:sequence>
			<xsd:element name="contrId" type="xsd:string"/>
			<xsd:element name="mdwTrackingField" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mdwConnId" type="xsd:string" minOccurs="0"/>
						<xsd:element name="mdwOrigin" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestCheckCommunications" type="requestCheckCommunicationsType"/>
	<xsd:complexType name="responseCheckCommunicationsType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="mdwResult" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mdwEligibleBmail" type="xsd:string"/>
						<xsd:element name="mdwEligibleSMS" type="xsd:string"/>
						<xsd:element name="mdwEligibleEMail" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseCheckCommunications" type="responseCheckCommunicationsType"/>
</xsd:schema>