esb_it/repo/InfoRicaricabile/wsdl/InfoRicaricabile.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="INFO_RICARICABILE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PREPAID_CARD_REF" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="INFO_RICARICABILEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPPV_SMS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_OPPV_TIPOLOGIA_UTENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPPV_REFID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPPV_DATA_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT_TOKENS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_MOBILE_PHONE_NUM" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="INFO_RICARICABILERequest"> 
  <wsdl:part element="eb:INFO_RICARICABILE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="INFO_RICARICABILEResponse"> 
  <wsdl:part element="eb:INFO_RICARICABILEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="InfoRicaricabileSoap"> 
  <wsdl:operation name="INFO_RICARICABILE"> 
   <wsdl:input message="eb:INFO_RICARICABILERequest" name="INFO_RICARICABILERequest" /> 
   <wsdl:output message="eb:INFO_RICARICABILEResponse" name="INFO_RICARICABILEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="InfoRicaricabileSoap" type="eb:InfoRicaricabileSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="INFO_RICARICABILE"> 
   <soap:operation soapAction="InfoRicaricabile/INFO_RICARICABILE" style="document" /> 
   <wsdl:input name="INFO_RICARICABILERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="INFO_RICARICABILEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="InfoRicaricabile"> 
  <wsdl:port binding="eb:InfoRicaricabileSoap" name="InfoRicaricabileSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/InfoRicaricabile" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>