osb_it/repo/SiebelProject/PS_WS_SIE_SET_CONSENSO/xsd/XSD_SIE_SET_CONSENSO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestSetConsensoType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="CodiceCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagConsensoSkyQ" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestSetConsenso" type="requestSetConsensoType"/>
	<xsd:element name="responseSetConsenso" type="responseSetConsensoType"/>
	<xsd:complexType name="responseSetConsensoType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>