esb_it/repo/WS_TELECOM_ATTIVABILITA/wsdl/WS_TELECOM_ATTIVABILITA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="SIEBEL_ADP_OPERATION"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Azione" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="OrderId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="SIEBEL_ADP_OPERATIONResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="SIEBEL_ADP_OPERATIONRequest"> 
  <wsdl:part element="eb:SIEBEL_ADP_OPERATION" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="SIEBEL_ADP_OPERATIONResponse"> 
  <wsdl:part element="eb:SIEBEL_ADP_OPERATIONResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TELECOM_ATTIVABILITASoap"> 
  <wsdl:operation name="SIEBEL_ADP_OPERATION"> 
   <wsdl:input message="eb:SIEBEL_ADP_OPERATIONRequest" name="SIEBEL_ADP_OPERATIONRequest" /> 
   <wsdl:output message="eb:SIEBEL_ADP_OPERATIONResponse" name="SIEBEL_ADP_OPERATIONResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TELECOM_ATTIVABILITASoap" type="eb:WS_TELECOM_ATTIVABILITASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="SIEBEL_ADP_OPERATION"> 
   <soap:operation soapAction="WS_TELECOM_ATTIVABILITA/SIEBEL_ADP_OPERATION" style="document" /> 
   <wsdl:input name="SIEBEL_ADP_OPERATIONRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="SIEBEL_ADP_OPERATIONResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TELECOM_ATTIVABILITA"> 
  <wsdl:port binding="eb:WS_TELECOM_ATTIVABILITASoap" name="WS_TELECOM_ATTIVABILITASoap"> 
   <soap:address location="https://wssvil.skytv.it/wsexistbus/ws_iptv_telecom/WS_TELECOM_ATTIVABILITA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>