esb_it/repo/WS_LS_CHECK_RICHIESTE_ON_WORK/wsdl/WS_LS_CHECK_RICHIESTE_ON_WORK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opCheckRichiesteOnWork"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_MAGAZZINO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckRichiesteOnWorkResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_NUMERO_RICHIESTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckRichiesteOnWorkRequest"> 
  <wsdl:part element="eb:opCheckRichiesteOnWork" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckRichiesteOnWorkResponse"> 
  <wsdl:part element="eb:opCheckRichiesteOnWorkResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_CHECK_RICHIESTE_ON_WORKSoap"> 
  <wsdl:operation name="opCheckRichiesteOnWork"> 
   <wsdl:input message="eb:opCheckRichiesteOnWorkRequest" name="opCheckRichiesteOnWorkRequest" /> 
   <wsdl:output message="eb:opCheckRichiesteOnWorkResponse" name="opCheckRichiesteOnWorkResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_CHECK_RICHIESTE_ON_WORKSoap" type="eb:WS_LS_CHECK_RICHIESTE_ON_WORKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckRichiesteOnWork"> 
   <soap:operation soapAction="WS_LS_CHECK_RICHIESTE_ON_WORK/opCheckRichiesteOnWork" style="document" /> 
   <wsdl:input name="opCheckRichiesteOnWorkRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckRichiesteOnWorkResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_CHECK_RICHIESTE_ON_WORK"> 
  <wsdl:port binding="eb:WS_LS_CHECK_RICHIESTE_ON_WORKSoap" name="WS_LS_CHECK_RICHIESTE_ON_WORKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_CHECK_RICHIESTE_ON_WORK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>