esb_it/repo/WS_FWB_ACCOUNT_PROCESSING/wsdl/WS_FWB_ACCOUNT_PROCESSING.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/AccountProcessing" schemaLocation="xsdFWB/SkyXSD_FWB_AccountProcessing.xsd" /> 
   <xsd:complexType name="AccountProcessing_Input" xmlns:tns="http://it.fastweb.esb.org/AccountProcessing"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:AccountProcessing_Input" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="AccountProcessing_Output" xmlns:tns="http://it.fastweb.esb.org/AccountProcessing"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:AccountProcessing_Output" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="AccountProcessingOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="AccountProcessing_Input" type="eb:AccountProcessing_Input" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="AccountProcessingOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="AccountProcessing_Output" type="eb:AccountProcessing_Output" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="AccountProcessingOpRequest"> 
  <wsdl:part element="eb:AccountProcessingOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="AccountProcessingOpResponse"> 
  <wsdl:part element="eb:AccountProcessingOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_ACCOUNT_PROCESSINGSoap"> 
  <wsdl:operation name="AccountProcessingOp"> 
   <wsdl:input message="eb:AccountProcessingOpRequest" name="AccountProcessingOpRequest" /> 
   <wsdl:output message="eb:AccountProcessingOpResponse" name="AccountProcessingOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_ACCOUNT_PROCESSINGSoap" type="eb:WS_FWB_ACCOUNT_PROCESSINGSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="AccountProcessingOp"> 
   <soap:operation soapAction="WS_FWB_ACCOUNT_PROCESSING/AccountProcessingOp" style="document" /> 
   <wsdl:input name="AccountProcessingOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="AccountProcessingOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_ACCOUNT_PROCESSING"> 
  <wsdl:port binding="eb:WS_FWB_ACCOUNT_PROCESSINGSoap" name="WS_FWB_ACCOUNT_PROCESSINGSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_ACCOUNT_PROCESSING" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>