osb_it/repo/SiebelProject/PS_WS_CRM_SIE_PAYMENT/xsd/XSD_CRM_SIE_PAYMENT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestCalcolaPenaleType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestCalcolaPenale" type="requestCalcolaPenaleType"/>
	<xsd:complexType name="responseCalcolaPenaleType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ImportoPenaleMOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImportoPenaleNOMOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RateCodePenaleMOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RateCodePenaleNOMOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseCalcolaPenale" type="responseCalcolaPenaleType"/>
</xsd:schema>