esb_it/repo/WS_SCMS_SBL_INVIO_EMAIL/wsdl/WS_SCMS_SBL_INVIO_EMAIL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_SCMS_SBL_INVIO_EMAIL.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opInvioEmail"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opInvioEmailResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opInvioEmailRequest"> 
  <wsdl:part element="eb:opInvioEmail" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opInvioEmailResponse"> 
  <wsdl:part element="eb:opInvioEmailResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_SBL_INVIO_EMAILSoap"> 
  <wsdl:operation name="opInvioEmail"> 
   <wsdl:input message="eb:opInvioEmailRequest" name="opInvioEmailRequest" /> 
   <wsdl:output message="eb:opInvioEmailResponse" name="opInvioEmailResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_SBL_INVIO_EMAILSoap" type="eb:WS_SCMS_SBL_INVIO_EMAILSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opInvioEmail"> 
   <soap:operation soapAction="WS_SCMS_SBL_INVIO_EMAIL/opInvioEmail" style="document" /> 
   <wsdl:input name="opInvioEmailRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opInvioEmailResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_SBL_INVIO_EMAIL"> 
  <wsdl:port binding="eb:WS_SCMS_SBL_INVIO_EMAILSoap" name="WS_SCMS_SBL_INVIO_EMAILSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_SBL_INVIO_EMAIL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>