esb_it/repo/WS_RISINTONIZZA/wsdl/WS_RISINTONIZZA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="RISINTONIZZA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMARTCARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TRANS_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="RISINTONIZZAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DESCRIZIONE_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="RISINTONIZZARequest"> 
  <wsdl:part element="eb:RISINTONIZZA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="RISINTONIZZAResponse"> 
  <wsdl:part element="eb:RISINTONIZZAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_RISINTONIZZASoap"> 
  <wsdl:operation name="RISINTONIZZA"> 
   <wsdl:input message="eb:RISINTONIZZARequest" name="RISINTONIZZARequest" /> 
   <wsdl:output message="eb:RISINTONIZZAResponse" name="RISINTONIZZAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_RISINTONIZZASoap" type="eb:WS_RISINTONIZZASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="RISINTONIZZA"> 
   <soap:operation soapAction="WS_RISINTONIZZA/RISINTONIZZA" style="document" /> 
   <wsdl:input name="RISINTONIZZARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="RISINTONIZZAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_RISINTONIZZA"> 
  <wsdl:port binding="eb:WS_RISINTONIZZASoap" name="WS_RISINTONIZZASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_RISINTONIZZA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>