osb_it/repo/MRMProject/GestioneVoucher/PS_REST_MRM_BURN_VOUCHER/wsdl/MRMProject_GestioneVoucher_proxy_PS_REST_MRM_BURN_VOUCHER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_MRM_BURN_VOUCHER"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSkyReply/MRMProject/PS_REST_MRM_BURN_VOUCHER"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/MRMProject/PS_REST_MRM_BURN_VOUCHER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp3="http://www.skytv.it/mdw/data"
    >
    <plnk:partnerLinkType name="PS_REST_MRM_BURN_VOUCHER">
        <plnk:role name="PS_REST_MRM_BURN_VOUCHERProvider" portType="tns:PS_REST_MRM_BURN_VOUCHER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/MRMProject/GestioneVoucher/xsd/XSD_MRM_VOUCHER_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="BurnVoucher_inputMessage">
        <wsdl:part name="request" element="inp1:requestBurnVoucher"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="BurnVoucher_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="BurnVoucher_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="BurnVoucher_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MRM_BURN_VOUCHER_ptt">
        <wsdl:operation name="BurnVoucher">
            <wsdl:input message="tns:BurnVoucher_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error400" message="tns:BurnVoucher_error400Message"/>
            <wsdl:fault name="error500" message="tns:BurnVoucher_error500Message"/>
            <wsdl:fault name="error404" message="tns:BurnVoucher_error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MRM_BURN_VOUCHER_ptt-binding" type="tns:PS_REST_MRM_BURN_VOUCHER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="BurnVoucher">
            <soap:operation soapAction="BurnVoucher"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>