esb_it/repo/WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODL/wsdl/WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdSM/SkyXSD_SM_SBL_GESTIONE_INTEGRAZIONE_ODL.xsd" /> 
   <xsd:complexType name="InputAlignment"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:RequestAlignmentType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputAlignment"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:ResponseAlignmentType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opAlignment"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestAlignment" type="eb:InputAlignment" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAlignmentResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseAlignment" type="eb:OutputAlignment" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAlignmentRequest"> 
  <wsdl:part element="eb:opAlignment" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAlignmentResponse"> 
  <wsdl:part element="eb:opAlignmentResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODLSoap"> 
  <wsdl:operation name="opAlignment"> 
   <wsdl:input message="eb:opAlignmentRequest" name="opAlignmentRequest" /> 
   <wsdl:output message="eb:opAlignmentResponse" name="opAlignmentResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODLSoap" type="eb:WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAlignment"> 
   <soap:operation soapAction="WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODL/opAlignment" style="document" /> 
   <wsdl:input name="opAlignmentRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAlignmentResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODL"> 
  <wsdl:port binding="eb:WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODLSoap" name="WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODLSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf/WS_SM_SBL_GESTIONE_INTEGRAZIONE_ODL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>