osb_it/repo/MDWProject/AlignSfByBpel/PS_WS_EJB_ALIGN_MESSAGE/xsd/XSD_EJB_ALIGN_MESSAGE_ENTITIES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:ns1="http://mdw.it/data" xmlns:ns0="http://ejb.alignmessage.mdw.it/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ejb.alignmessage.mdw.it/">
	<xsd:import namespace="http://mdw.it/data" schemaLocation="./XSD_EJB_ALIGN_MESSAGE.xsd"/>
	<xsd:complexType name="execute_GetAlignMessageMaster">
        <xsd:sequence>
            <xsd:element ref="ns1:correlation_id"/>
            <xsd:element ref="ns1:all_status" minOccurs="0"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_addNewMessageResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseAddNewMessage" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Exception">
        <xsd:sequence>
            <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateErrorOSB">
        <xsd:sequence>
            <xsd:element ref="ns1:requestUpdateErrorOSB"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requestMessage">
        <xsd:complexContent>
            <xsd:extension base="ns0:requestMessageKey">
                <xsd:sequence>
                    <xsd:element name="entity_type" type="xsd:string"/>
                    <xsd:element name="scenario" type="xsd:string"/>
                    <xsd:element name="payload" type="xsd:string"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="execute_updateCorrelatedResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseUpdateCorrelated" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_test_remove_message_headerResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseTest_remove_message_header" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateErrorOSBResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseUpdateErrorOSB" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_addNewMessage">
        <xsd:sequence>
            <xsd:element ref="ns1:requestAddNewMessage"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_test_remove_allResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseTest_remove_all" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="requestMessageKey">
        <xsd:sequence>
            <xsd:element name="entity_key" type="xsd:string"/>
            <xsd:element name="correlation_id" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="alignMessageId">
        <xsd:sequence>
            <xsd:element name="entity_key" type="xsd:string" minOccurs="0"/>
            <xsd:element name="correlation_id" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_GetAlignMessageMasterResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseGetAlignMessageMaster" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="alignMessage">
        <xsd:sequence>
            <xsd:element name="id" type="ns0:alignMessageId" minOccurs="0"/>
            <xsd:element name="entity_type" type="xsd:string" minOccurs="0"/>
            <xsd:element name="scenario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="created" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="last_upd" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" minOccurs="0"/>
            <xsd:element name="payload" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_addMessagesResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseAddMessages" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_addMessages">
        <xsd:sequence>
            <xsd:element ref="ns1:requestAddMessages" maxOccurs="unbounded"/>
            <xsd:element ref="ns1:status"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateFinalResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseUpdateFinal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateErrorResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseUpdateError" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_test_remove_message">
        <xsd:sequence>
            <xsd:element ref="ns1:entity_key" minOccurs="0"/>
            <xsd:element ref="ns1:correlation_id" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateCorrelated">
        <xsd:sequence>
            <xsd:element ref="ns1:requestUpdateCorrelated"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateError">
        <xsd:sequence>
            <xsd:element ref="ns1:correlation_id"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_test_remove_message_header">
        <xsd:sequence>
            <xsd:element ref="ns1:correlation_id" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="alignMessageMaster">
        <xsd:sequence>
            <xsd:element name="correlation_id" type="xsd:string" minOccurs="0"/>
            <xsd:element name="scenario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="status" type="xsd:string" minOccurs="0"/>
            <xsd:element name="created" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="messages" minOccurs="0">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                            <xsd:complexType>
                                <xsd:sequence>
                                    <xsd:element name="key" type="ns0:alignMessageId" minOccurs="0"/>
                                    <xsd:element name="value" type="ns0:alignMessage" minOccurs="0"
                                    />
                                </xsd:sequence>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_updateFinal">
        <xsd:sequence>
            <xsd:element ref="ns1:correlation_id"/>
            <xsd:element ref="ns1:TID"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="execute_test_remove_all"/>
    <xsd:complexType name="execute_test_remove_messageResponse">
        <xsd:sequence>
            <xsd:element ref="ns1:responseTest_remove_message" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="execute_addNewMessageResponse" type="ns0:execute_addNewMessageResponse"/>
    <xsd:element name="execute_GetAlignMessageMaster" type="ns0:execute_GetAlignMessageMaster"/>
    <xsd:element name="Exception" type="ns0:Exception"/>
    <xsd:element name="requestMessage" type="ns0:requestMessage"/>
    <xsd:element name="execute_updateErrorOSB" type="ns0:execute_updateErrorOSB"/>
    <xsd:element name="execute_addMessagesResponse" type="ns0:execute_addMessagesResponse"/>
    <xsd:element name="execute_updateCorrelatedResponse" type="ns0:execute_updateCorrelatedResponse"/>
    <xsd:element name="AlignMessageMaster" type="ns0:alignMessageMaster"/>
    <xsd:element name="execute_updateFinalResponse" type="ns0:execute_updateFinalResponse"/>
    <xsd:element name="execute_test_remove_message_headerResponse"
        type="ns0:execute_test_remove_message_headerResponse"/>
    <xsd:element name="execute_addMessages" type="ns0:execute_addMessages"/>
    <xsd:element name="execute_updateErrorResponse" type="ns0:execute_updateErrorResponse"/>
    <xsd:element name="execute_updateErrorOSBResponse" type="ns0:execute_updateErrorOSBResponse"/>
    <xsd:element name="execute_test_remove_message" type="ns0:execute_test_remove_message"/>
    <xsd:element name="execute_updateCorrelated" type="ns0:execute_updateCorrelated"/>
    <xsd:element name="AlignMessageId" type="ns0:alignMessageId"/>
    <xsd:element name="execute_addNewMessage" type="ns0:execute_addNewMessage"/>
    <xsd:element name="execute_updateError" type="ns0:execute_updateError"/>
    <xsd:element name="execute_test_remove_message_header"
        type="ns0:execute_test_remove_message_header"/>
    <xsd:element name="execute_test_remove_allResponse" type="ns0:execute_test_remove_allResponse"/>
    <xsd:element name="execute_updateFinal" type="ns0:execute_updateFinal"/>
    <xsd:element name="requestMessageKey" type="ns0:requestMessageKey"/>
    <xsd:element name="AlignMessage" type="ns0:alignMessage"/>
    <xsd:element name="execute_GetAlignMessageMasterResponse"
        type="ns0:execute_GetAlignMessageMasterResponse"/>
    <xsd:element name="execute_test_remove_all" type="ns0:execute_test_remove_all"/>
    <xsd:element name="execute_test_remove_messageResponse"
        type="ns0:execute_test_remove_messageResponse"/>
</xsd:schema>