esb_it/repo/WS_FW_CREDIT_CHECK/wsdl/WS_FW_CREDIT_CHECK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/CreditCheckServices/" schemaLocation="SkyXSD_CreditCheck.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/CreditCheckServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/CreditCheckServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="CreditCheckOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="CreditCheckOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="CreditCheckOpRequest"> 
  <wsdl:part element="eb:CreditCheckOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="CreditCheckOpResponse"> 
  <wsdl:part element="eb:CreditCheckOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FW_CREDIT_CHECKSoap"> 
  <wsdl:operation name="CreditCheckOp"> 
   <wsdl:input message="eb:CreditCheckOpRequest" name="CreditCheckOpRequest" /> 
   <wsdl:output message="eb:CreditCheckOpResponse" name="CreditCheckOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FW_CREDIT_CHECKSoap" type="eb:WS_FW_CREDIT_CHECKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="CreditCheckOp"> 
   <soap:operation soapAction="WS_FW_CREDIT_CHECK/CreditCheckOp" style="document" /> 
   <wsdl:input name="CreditCheckOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="CreditCheckOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FW_CREDIT_CHECK"> 
  <wsdl:port binding="eb:WS_FW_CREDIT_CHECKSoap" name="WS_FW_CREDIT_CHECKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FW_CREDIT_CHECK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>