esb_it/repo/WS_SCMS_EXECUTE_CLRSL2_SP/wsdl/WS_SCMS_EXECUTE_CLRSL2_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestCLRSL2"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseCLRSL2"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCLRSL2"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestCLRSL2" type="eb:requestCLRSL2" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCLRSL2Response"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseCLRSL2" type="eb:responseCLRSL2" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCLRSL2Request"> 
  <wsdl:part element="eb:opCLRSL2" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCLRSL2Response"> 
  <wsdl:part element="eb:opCLRSL2Response" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_CLRSL2_SPSoap"> 
  <wsdl:operation name="opCLRSL2"> 
   <wsdl:input message="eb:opCLRSL2Request" name="opCLRSL2Request" /> 
   <wsdl:output message="eb:opCLRSL2Response" name="opCLRSL2Response" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_CLRSL2_SPSoap" type="eb:WS_SCMS_EXECUTE_CLRSL2_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCLRSL2"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_CLRSL2_SP/opCLRSL2" style="document" /> 
   <wsdl:input name="opCLRSL2Request"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCLRSL2Response"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_CLRSL2_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_CLRSL2_SPSoap" name="WS_SCMS_EXECUTE_CLRSL2_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_CLRSL2_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>