esb_it/repo/WS_NORMALIZZA_COMUNE/wsdl/WS_NORMALIZZA_COMUNE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_NORMALIZZA_COMUNE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_FISCALE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_COGNOME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NOME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ANNO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MESE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_GIORNO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_COMUNE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PROVINCIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SESSO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_NORMALIZZA_COMUNEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_COMUNE_NORMALIZZATO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO2" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO3" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO3" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_NORMALIZZA_COMUNERequest"> 
  <wsdl:part element="eb:OP_NORMALIZZA_COMUNE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_NORMALIZZA_COMUNEResponse"> 
  <wsdl:part element="eb:OP_NORMALIZZA_COMUNEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_NORMALIZZA_COMUNESoap"> 
  <wsdl:operation name="OP_NORMALIZZA_COMUNE"> 
   <wsdl:input message="eb:OP_NORMALIZZA_COMUNERequest" name="OP_NORMALIZZA_COMUNERequest" /> 
   <wsdl:output message="eb:OP_NORMALIZZA_COMUNEResponse" name="OP_NORMALIZZA_COMUNEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_NORMALIZZA_COMUNESoap" type="eb:WS_NORMALIZZA_COMUNESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_NORMALIZZA_COMUNE"> 
   <soap:operation soapAction="WS_NORMALIZZA_COMUNE/OP_NORMALIZZA_COMUNE" style="document" /> 
   <wsdl:input name="OP_NORMALIZZA_COMUNERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_NORMALIZZA_COMUNEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_NORMALIZZA_COMUNE"> 
  <wsdl:port binding="eb:WS_NORMALIZZA_COMUNESoap" name="WS_NORMALIZZA_COMUNESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_NORMALIZZA_COMUNE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>