esb_it/repo/WS_SBL_DMS_GET_CONTRATTI_ODL/wsdl/WS_SBL_DMS_GET_CONTRATTI_ODL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opGetContrattiPrimaEmissione"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ParamInput" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetContrattiPrimaEmissioneResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputDMS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetODL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ParamInput" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetODLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputDMS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetContrattiPrimaEmissioneRequest"> 
  <wsdl:part element="eb:opGetContrattiPrimaEmissione" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetContrattiPrimaEmissioneResponse"> 
  <wsdl:part element="eb:opGetContrattiPrimaEmissioneResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetODLRequest"> 
  <wsdl:part element="eb:opGetODL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetODLResponse"> 
  <wsdl:part element="eb:opGetODLResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_DMS_GET_CONTRATTI_ODLSoap"> 
  <wsdl:operation name="opGetContrattiPrimaEmissione"> 
   <wsdl:input message="eb:opGetContrattiPrimaEmissioneRequest" name="opGetContrattiPrimaEmissioneRequest" /> 
   <wsdl:output message="eb:opGetContrattiPrimaEmissioneResponse" name="opGetContrattiPrimaEmissioneResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opGetODL"> 
   <wsdl:input message="eb:opGetODLRequest" name="opGetODLRequest" /> 
   <wsdl:output message="eb:opGetODLResponse" name="opGetODLResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_DMS_GET_CONTRATTI_ODLSoap" type="eb:WS_SBL_DMS_GET_CONTRATTI_ODLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetContrattiPrimaEmissione"> 
   <soap:operation soapAction="WS_SBL_DMS_GET_CONTRATTI_ODL/opGetContrattiPrimaEmissione" style="document" /> 
   <wsdl:input name="opGetContrattiPrimaEmissioneRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetContrattiPrimaEmissioneResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opGetODL"> 
   <soap:operation soapAction="WS_SBL_DMS_GET_CONTRATTI_ODL/opGetODL" style="document" /> 
   <wsdl:input name="opGetODLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetODLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_DMS_GET_CONTRATTI_ODL"> 
  <wsdl:port binding="eb:WS_SBL_DMS_GET_CONTRATTI_ODLSoap" name="WS_SBL_DMS_GET_CONTRATTI_ODLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_DMS_GET_CONTRATTI_ODL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>