osb_it/repo/OMProject/CheckSerialNumberActivation/PS_OM_CHECK_SERIAL_NUMBER_ACTIVATION/xsd/XSD_OM_CHECK_SERIAL_NUMBER_ACTIVATION.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:complexType name="requestCheckSerialNumberActivationType">
    <xsd:sequence>
      <xsd:element name="orderIdSFDC" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="orderIdTIBCO" type="xsd:string"  minOccurs="0" maxOccurs="1" />
      <xsd:element name="packageType" type="xsd:string" />
      <xsd:element name="assetNumSTB" type="xsd:string" />
      <xsd:element name="assetNumSMC" type="xsd:string" minOccurs="0"/>
      <xsd:element name="decoderType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="parentIdSF" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="responseCheckSerialNumberActivationType">
  <xsd:sequence>
    <xsd:element name="resultCode" type="xsd:string"/>
    <xsd:element name="resultDescription" type="xsd:string"/>
    <xsd:element name="tid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
  </xsd:complexType>
    
  <xsd:element name="requestCheckSerialNumberActivation" type="requestCheckSerialNumberActivationType" />
  <xsd:element name="responseCheckSerialNumberActivation" type="responseCheckSerialNumberActivationType"/>
    
</xsd:schema>