esb_it/repo/WS_GOTOSLEEP/wsdl/WS_GOTOSLEEP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CA_NUM_SC" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGoToSleep"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGoToSleepResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGoToSleepRequest"> 
  <wsdl:part element="eb:opGoToSleep" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGoToSleepResponse"> 
  <wsdl:part element="eb:opGoToSleepResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GOTOSLEEPSoap"> 
  <wsdl:operation name="opGoToSleep"> 
   <wsdl:input message="eb:opGoToSleepRequest" name="opGoToSleepRequest" /> 
   <wsdl:output message="eb:opGoToSleepResponse" name="opGoToSleepResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GOTOSLEEPSoap" type="eb:WS_GOTOSLEEPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGoToSleep"> 
   <soap:operation soapAction="WS_GOTOSLEEP/opGoToSleep" style="document" /> 
   <wsdl:input name="opGoToSleepRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGoToSleepResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GOTOSLEEP"> 
  <wsdl:port binding="eb:WS_GOTOSLEEPSoap" name="WS_GOTOSLEEPSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_GOTOSLEEP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>