esb_it/repo/WS_IVR_RWD_RICAVA_PREMI/wsdl/WS_IVR_RWD_RICAVA_PREMI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdIVR/SkyXSD_WS_IVR_RWD_RICAVA_PREMI.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opRicavaPremi"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRicavaPremiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRicavaPremiRequest"> 
  <wsdl:part element="eb:opRicavaPremi" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRicavaPremiResponse"> 
  <wsdl:part element="eb:opRicavaPremiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_RWD_RICAVA_PREMISoap"> 
  <wsdl:operation name="opRicavaPremi"> 
   <wsdl:input message="eb:opRicavaPremiRequest" name="opRicavaPremiRequest" /> 
   <wsdl:output message="eb:opRicavaPremiResponse" name="opRicavaPremiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_RWD_RICAVA_PREMISoap" type="eb:WS_IVR_RWD_RICAVA_PREMISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRicavaPremi"> 
   <soap:operation soapAction="WS_IVR_RWD_RICAVA_PREMI/opRicavaPremi" style="document" /> 
   <wsdl:input name="opRicavaPremiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRicavaPremiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_RWD_RICAVA_PREMI"> 
  <wsdl:port binding="eb:WS_IVR_RWD_RICAVA_PREMISoap" name="WS_IVR_RWD_RICAVA_PREMISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_RWD_RICAVA_PREMI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>