esb_it/repo/WS_LS_ANNULLAMENTO_EAE_TO_CW/wsdl/WS_LS_ANNULLAMENTO_EAE_TO_CW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" minOccurs="0" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdine" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_NUMERO_ORDINE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:element name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CW"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_MAGAZZINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_CW_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWRequest"> 
  <wsdl:part element="eb:OPERAZIONE_ANNULLAMENTO_EAE_TO_CW" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWResponse"> 
  <wsdl:part element="eb:OPERAZIONE_ANNULLAMENTO_EAE_TO_CWResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_ANNULLAMENTO_EAE_TO_CWSoap"> 
  <wsdl:operation name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CW"> 
   <wsdl:input message="eb:OPERAZIONE_ANNULLAMENTO_EAE_TO_CWRequest" name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWRequest" /> 
   <wsdl:output message="eb:OPERAZIONE_ANNULLAMENTO_EAE_TO_CWResponse" name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_ANNULLAMENTO_EAE_TO_CWSoap" type="eb:WS_LS_ANNULLAMENTO_EAE_TO_CWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CW"> 
   <soap:operation soapAction="WS_LS_ANNULLAMENTO_EAE_TO_CW/OPERAZIONE_ANNULLAMENTO_EAE_TO_CW" style="document" /> 
   <wsdl:input name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OPERAZIONE_ANNULLAMENTO_EAE_TO_CWResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_ANNULLAMENTO_EAE_TO_CW"> 
  <wsdl:port binding="eb:WS_LS_ANNULLAMENTO_EAE_TO_CWSoap" name="WS_LS_ANNULLAMENTO_EAE_TO_CWSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_magazzino/WS_LS_ANNULLAMENTO_EAE_TO_CW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>