esb_it/repo/WS_HTL_LEGGI_LISTINI/wsdl/WS_HTL_LEGGI_LISTINI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="WS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_LISTINI_FML32" type="eb:FMLListini" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLListini"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="HTL_LISTINO_FML32" type="eb:FMLListino" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLListino"> 
    <xsd:sequence> 
     <xsd:element name="HTL_NOME_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_CODICE_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_TIPO_LISTINO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opLeggiListini"> 
    <xsd:complexType> 
     <xsd:sequence /> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLeggiListiniResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLeggiListiniRequest"> 
  <wsdl:part element="eb:opLeggiListini" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLeggiListiniResponse"> 
  <wsdl:part element="eb:opLeggiListiniResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_LEGGI_LISTINISoap"> 
  <wsdl:operation name="opLeggiListini"> 
   <wsdl:input message="eb:opLeggiListiniRequest" name="opLeggiListiniRequest" /> 
   <wsdl:output message="eb:opLeggiListiniResponse" name="opLeggiListiniResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_LEGGI_LISTINISoap" type="eb:WS_HTL_LEGGI_LISTINISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLeggiListini"> 
   <soap:operation soapAction="WS_HTL_LEGGI_LISTINI/opLeggiListini" style="document" /> 
   <wsdl:input name="opLeggiListiniRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLeggiListiniResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_LEGGI_LISTINI"> 
  <wsdl:port binding="eb:WS_HTL_LEGGI_LISTINISoap" name="WS_HTL_LEGGI_LISTINISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_LEGGI_LISTINI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>