esb_it/repo/WSSfToIbmsCampaignManagement/wsdl/WSSfToIbmsCampaignManagement.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl" schemaLocation="SkyXSD_CampaignManagement.xsd" /> 
   <xsd:complexType name="createCampaignElement" xmlns:sf="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:createCampaignElement" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="createCampaignResponseElement" xmlns:sf="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:createCampaignResponseElement" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="Campaign_mngmt_service_v1_0User_createCampaign_Out" xmlns:sf="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:Campaign_mngmt_service_v1_0User_createCampaign_Out" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="updateCampaignElement" xmlns:sf="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:updateCampaignElement" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="updateCampaignResponseElement" xmlns:sf="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:updateCampaignResponseElement" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="Campaign_mngmt_service_v1_0User_updateCampaign_Out" xmlns:sf="http://com/pilatmedia/ibmssales/Campaign_mngmt_service_v1_0.wsdl"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:Campaign_mngmt_service_v1_0User_updateCampaign_Out" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCreateCampaign"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:createCampaignElement" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreateCampaignResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:createCampaignResponseElement" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpdateCampaign"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:updateCampaignElement" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpdateCampaignResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:updateCampaignResponseElement" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCreateCampaignRequest"> 
  <wsdl:part element="eb:opCreateCampaign" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCreateCampaignResponse"> 
  <wsdl:part element="eb:opCreateCampaignResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpdateCampaignRequest"> 
  <wsdl:part element="eb:opUpdateCampaign" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpdateCampaignResponse"> 
  <wsdl:part element="eb:opUpdateCampaignResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WSSfToIbmsCampaignManagementSoap"> 
  <wsdl:operation name="opCreateCampaign"> 
   <wsdl:input message="eb:opCreateCampaignRequest" name="opCreateCampaignRequest" /> 
   <wsdl:output message="eb:opCreateCampaignResponse" name="opCreateCampaignResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opUpdateCampaign"> 
   <wsdl:input message="eb:opUpdateCampaignRequest" name="opUpdateCampaignRequest" /> 
   <wsdl:output message="eb:opUpdateCampaignResponse" name="opUpdateCampaignResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WSSfToIbmsCampaignManagementSoap" type="eb:WSSfToIbmsCampaignManagementSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCreateCampaign"> 
   <soap:operation soapAction="WSSfToIbmsCampaignManagement/opCreateCampaign" style="document" /> 
   <wsdl:input name="opCreateCampaignRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCreateCampaignResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opUpdateCampaign"> 
   <soap:operation soapAction="WSSfToIbmsCampaignManagement/opUpdateCampaign" style="document" /> 
   <wsdl:input name="opUpdateCampaignRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opUpdateCampaignResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WSSfToIbmsCampaignManagement"> 
  <wsdl:port binding="eb:WSSfToIbmsCampaignManagementSoap" name="WSSfToIbmsCampaignManagementSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_sf/WSSfToIbmsCampaignManagement" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>