osb_it/repo/BlueBirdProject/OSS/normAddress/PS_WS_MDW_ADDRESS_NORMALIZATION/wsdl/BlueBirdProject_OSS_normAddress_proxy_PS_WS_MDW_ADDRESS_NORMALIZATION.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_MDW_NORMADDRESS"
     targetNamespace="http://www.skytv.it/mdw/service/WS_MDW_NORMADDRESS"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_MDW_NORMADDRESS"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../XSD_MDW_NORMADDRESS.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="headerMessage">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMessageGetStreets">
        <wsdl:part name="part_requestGetStreets" element="inp1:requestGetStreets"/>
    </wsdl:message>
    <wsdl:message name="responseMessageGetStreets">
        <wsdl:part name="part_responseGetStreets" element="inp1:responseGetStreetsSoap"/>
    </wsdl:message>
    <wsdl:message name="requestMessageGetCities">
        <wsdl:part name="part_requestGetCities" element="inp1:requestGetCities"/>
    </wsdl:message>
    <wsdl:message name="replyMessageGetCities">
        <wsdl:part name="part_responseGetCities" element="inp1:responseGetCitiesSoap"/>
    </wsdl:message>
    <wsdl:message name="requestMessageGetStreetNumbers">
        <wsdl:part name="part_requestGetStreetNumbers" element="inp1:requestGetStreetNumbers"/>
    </wsdl:message>
    <wsdl:message name="responseMessageGetStreetNumbers">
        <wsdl:part name="part_responseGetStreetNumbers" element="inp1:responseGetStreetNumbersSoap"/>
    </wsdl:message>
    <wsdl:message name="requestMessageGetZipCodes">
        <wsdl:part name="part_requestGetZipCodes" element="inp1:requestGetZipCodes"/>
    </wsdl:message>
    <wsdl:message name="responseMessageGetZipCodes">
        <wsdl:part name="part_responseGetZipCodes" element="inp1:responseGetZipCodesSoap"/>
    </wsdl:message>
    <wsdl:portType name="ptt_MDW_NORMADDRESS">
        <wsdl:operation name="execute_GetCities">
            <wsdl:input message="tns:requestMessageGetCities"/>
            <wsdl:output message="tns:replyMessageGetCities"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreets">
            <wsdl:input message="tns:requestMessageGetStreets"/>
            <wsdl:output message="tns:responseMessageGetStreets"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreetNumbers">
            <wsdl:input message="tns:requestMessageGetStreetNumbers"/>
            <wsdl:output message="tns:responseMessageGetStreetNumbers"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetZipCodes">
            <wsdl:input message="tns:requestMessageGetZipCodes"/>
            <wsdl:output message="tns:responseMessageGetZipCodes"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bind_MDW_NORMADDRESS" type="tns:ptt_MDW_NORMADDRESS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetCities">
            <soap:operation style="document" soapAction="execute_GetCities"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_MDW_NORMADDRESS"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_MDW_NORMADDRESS"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreets">
            <soap:operation style="document" soapAction="execute_GetStreets"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetStreets"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetStreets"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreetNumbers">
            <soap:operation style="document" soapAction="execute_GetStreetNumbers"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetStreetNumbers"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetStreetNumbers"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetZipCodes">
            <soap:operation style="document" soapAction="execute_GetZipCodes"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetZipCodes"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetZipCodes"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>