osb_it/repo/RTDProject/proxyInvokedFromBpel_PS_WS_DB_UNICA/xsd/JCA_DB_UNICA_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema 
targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/JCA_DB_UNICA" 
xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/JCA_DB_UNICA" 
elementFormDefault="qualified" attributeFormDefault="qualified" 
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:data="http://www.skytv.it/mdw/data"
xmlns:internal="http://www.skytv.it/mdw/internal">


   <xs:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../EnterpriseObjects/CommonEntities/SimpleResponse.xsd"/>
   <xs:import namespace="http://www.skytv.it/mdw/internal" schemaLocation="../../LOG/xsd/logmessage.xsd"/>
  
   <xs:element name="ContractProfileRtdResponse" type="ContractProfileRtdResponseType"/>
   <xs:complexType name="ContractProfileRtdResponseType">
      <xs:sequence>
         <xs:element name="simpleResponse" type="data:SimpleResponseType" minOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   
  
   <xs:element name="ContractProfileRtdRequest" type="ContractProfileRtdRequestType"/>
   <xs:complexType name="ContractProfileRtdRequestType">
      <xs:sequence>
         
         <xs:element name="LogInfoRequest" type="internal:LogManagementType" minOccurs="0"/>
         <xs:element name="ContractProfileRtdCollectionRequest" type="ContractProfileRtdCollection" minOccurs="1"/>
         
      </xs:sequence>
   </xs:complexType>
  
  
   
   
   <xs:element name="ContractProfileRtdCollection" type="ContractProfileRtdCollection"/>
   <xs:complexType name="ContractProfileRtdCollection">
      <xs:sequence>
         <xs:element name="ContractProfileRtd" type="ContractProfileRtd" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ContractProfileRtd">
      <xs:sequence>
         <xs:element name="codContratto" type="string20" nillable="true"/>
         <xs:element name="codListino" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="codPeriodoFatt" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="codPromoAttiveConcat" type="string200" minOccurs="0" nillable="true"/>
         <xs:element name="datRichCessazioneCntr" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="datStatisticheFlg" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="desCausCssAnnCntr" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desCausSospCntr" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desMop" type="string5" minOccurs="0" nillable="true"/>
         <xs:element name="desStatoBusiness" type="string50" minOccurs="0" nillable="true"/>
         <xs:element name="desStatoCntr" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desStatoCntrBroadband" type="string200" minOccurs="0" nillable="true"/>
         <xs:element name="desTecnologiaStbPaccMv1" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="desTecnologiaStbPaccMv2" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="desTecnologiaStbPaccMv3" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="desTecnologiaStbPaccPoss" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="desTipoPag" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desTipoPagPending" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desVisioneStbPaccMv1" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desVisioneStbPaccMv2" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desVisioneStbPaccMv3" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desVisioneStbPaccPosseduto" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="desVisioneStbTotale" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="flgBambiniPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgBambiniPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgCalcioPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgCalcioPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgCandidatoSosp" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="flgCinemaPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgCinemaPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgComunicazioneTerzi" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgContrattoBundle" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgDocumentariPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgDocumentariPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgHdPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgHdPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgIntrattenimentoPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgIntrattenimentoPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgLastupgradeCalcio" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgLastupgradeCinema" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgLastupgradeSport" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgMusicaPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgMusicaPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgNewsPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgNewsPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSkyfamigliaPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSkyfamigliaPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSkygo" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSkytvPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSkytvPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSportPacpos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgSportPacvis" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="jobIdMw" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="numGeneriU2Pacpos" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numGeneriU2Pacvis" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numGeneriU6Pacpos" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numGeneriU6Pacvis" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numPackPacpos" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="numPackPacvis" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="flgElegUpgCalcioPack" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgElegUpgSportPack" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgElegUpgCinemaPack" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgElegUpgCalcioTicket" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgElegUpgSportTicket" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="flgElegUpgCinemaTicket" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string200">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string50">
      <xs:restriction base="xs:string">
         <xs:maxLength value="50"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>