esb_it/repo/WS_WEB_CHECK_EVENING_NEWS/wsdl/WS_WEB_CHECK_EVENING_NEWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_CHECK_EVENING_NEWS"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_CLIENTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_CHECK_EVENING_NEWSResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ESITO_CONTROLLI" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_CHECK_EVENING_NEWSRequest"> 
  <wsdl:part element="eb:OP_CHECK_EVENING_NEWS" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_CHECK_EVENING_NEWSResponse"> 
  <wsdl:part element="eb:OP_CHECK_EVENING_NEWSResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_CHECK_EVENING_NEWSSoap"> 
  <wsdl:operation name="OP_CHECK_EVENING_NEWS"> 
   <wsdl:input message="eb:OP_CHECK_EVENING_NEWSRequest" name="OP_CHECK_EVENING_NEWSRequest" /> 
   <wsdl:output message="eb:OP_CHECK_EVENING_NEWSResponse" name="OP_CHECK_EVENING_NEWSResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_CHECK_EVENING_NEWSSoap" type="eb:WS_WEB_CHECK_EVENING_NEWSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_CHECK_EVENING_NEWS"> 
   <soap:operation soapAction="WS_WEB_CHECK_EVENING_NEWS/OP_CHECK_EVENING_NEWS" style="document" /> 
   <wsdl:input name="OP_CHECK_EVENING_NEWSRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_CHECK_EVENING_NEWSResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_CHECK_EVENING_NEWS"> 
  <wsdl:port binding="eb:WS_WEB_CHECK_EVENING_NEWSSoap" name="WS_WEB_CHECK_EVENING_NEWSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_CHECK_EVENING_NEWS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>