osb_it/repo/MagentoProject/nowtvBundleFastweb/PS_WS_MAGENTO_NOWTV_BUNDLE/wsdl/MagentoProject_nowtvBundleFastweb_proxy_PS_WS_MAGENTO_NOWTV_BUNDLE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_MAGENTO_NOWTV_BUNDLE"
     targetNamespace="http://www.skytv.it/mdw/service/WS_MAGENTO_NOWTV_BUNDLE"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_MAGENTO_NOWTV_BUNDLE"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MAGENTO_NOWTV_BUNDLE.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestCheckElegibilita" element="inp1:requestCheckElegibililta"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseCheckElegibilita" element="inp1:responseCheckElegibililta"/>
    </wsdl:message>
    <wsdl:portType name="ptt_checkElegibilita">
        <wsdl:operation name="execute_CheckElegibilita">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_RichiestaAttivazione">
            <wsdl:input message="tns:requestMessage_RichiestaAttivazione"/>
            <wsdl:output message="tns:replyMessage_RichiestaAttivazione"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="headerMessage">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMessage_RichiestaAttivazione">
        <wsdl:part name="part_requestRichiestaAttivazione" element="inp1:requestRichiestaAttivazione"/>
    </wsdl:message>
    <wsdl:message name="replyMessage_RichiestaAttivazione">
        <wsdl:part name="part_resposeRichiestaAttivazione" element="inp1:requestCheckElegibililta"/>
    </wsdl:message>
    <wsdl:binding name="ptt_nowtv_bundle" type="tns:ptt_checkElegibilita">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_CheckElegibilita">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_MAGENTO_NOWTV_BUNDLE/execute_CheckElegibilita"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckElegibilita"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckElegibilita"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_RichiestaAttivazione">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_MAGENTO_NOWTV_BUNDLE/execute_RichiestaAttivazione"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestRichiestaAttivazione"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_resposeRichiestaAttivazione"/>
                <soap:header message="tns:headerMessage" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>