esb_it/repo/WS_SELFCARE_BALANCE/wsdl/WS_SELFCARE_BALANCE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="content"> 
    <xsd:sequence> 
     <xsd:element name="SERVER_ID" type="xsd:string" /> 
     <xsd:element name="ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element name="BALANCE_DUE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="List"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Record" type="eb:content" /> 
     <xsd:element name="id_esito" type="xsd:string" /> 
     <xsd:element name="descr_esito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="op_vbc_balance"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="BILLING_ACCOUNT" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="op_vbc_balanceResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Record_List" type="eb:List" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="op_vbc_balanceRequest"> 
  <wsdl:part element="eb:op_vbc_balance" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="op_vbc_balanceResponse"> 
  <wsdl:part element="eb:op_vbc_balanceResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SELFCARE_BALANCESoap"> 
  <wsdl:operation name="op_vbc_balance"> 
   <wsdl:input message="eb:op_vbc_balanceRequest" name="op_vbc_balanceRequest" /> 
   <wsdl:output message="eb:op_vbc_balanceResponse" name="op_vbc_balanceResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SELFCARE_BALANCESoap" type="eb:WS_SELFCARE_BALANCESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="op_vbc_balance"> 
   <soap:operation soapAction="WS_SELFCARE_BALANCE/op_vbc_balance" style="document" /> 
   <wsdl:input name="op_vbc_balanceRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="op_vbc_balanceResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SELFCARE_BALANCE"> 
  <wsdl:port binding="eb:WS_SELFCARE_BALANCESoap" name="WS_SELFCARE_BALANCESoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_selfcare/WS_SELFCARE_BALANCE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>