osb_it/repo/SiebelProject/PS_WS_CRM_SIE_GESTIONE_VOUCHER/xsd/XSD_CRM_SIE_GESTIONE_VOUCHER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestCheckVoucherType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TipoMop" type="xsd:string" minOccurs="1"/>
			<xsd:element name="FrequenzaMop" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestCheckVoucher" type="requestCheckVoucherType"/>
	<xsd:element name="responseCheckVoucher" type="basicResponseType"/>
	<xsd:complexType name="basicResponseType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>