esb_it/repo/WS_PEGASUS_SEND_MESSAGE/wsdl/WS_PEGASUS_SEND_MESSAGE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import schemaLocation="xsdPegasus/SkyXSD_WS_PEGASUS_SEND_MESSAGE.xsd" /> 
   <xsd:complexType name="sendMDW"> 
    <xsd:complexContent> 
     <xsd:extension base="sendMessage" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="sendResponseMDW"> 
    <xsd:complexContent> 
     <xsd:extension base="sendMessageResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSendMessagePGS"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="send" type="eb:sendMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendMessagePGSResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="sendResponse" type="eb:sendResponseMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSendMessagePGSRequest"> 
  <wsdl:part element="eb:opSendMessagePGS" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendMessagePGSResponse"> 
  <wsdl:part element="eb:opSendMessagePGSResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PEGASUS_SEND_MESSAGESoap"> 
  <wsdl:operation name="opSendMessagePGS"> 
   <wsdl:input message="eb:opSendMessagePGSRequest" name="opSendMessagePGSRequest" /> 
   <wsdl:output message="eb:opSendMessagePGSResponse" name="opSendMessagePGSResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PEGASUS_SEND_MESSAGESoap" type="eb:WS_PEGASUS_SEND_MESSAGESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSendMessagePGS"> 
   <soap:operation soapAction="WS_PEGASUS_SEND_MESSAGE/opSendMessagePGS" style="document" /> 
   <wsdl:input name="opSendMessagePGSRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendMessagePGSResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PEGASUS_SEND_MESSAGE"> 
  <wsdl:port binding="eb:WS_PEGASUS_SEND_MESSAGESoap" name="WS_PEGASUS_SEND_MESSAGESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PEGASUS_SEND_MESSAGE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>