osb_it/repo/SiebelProject/OrderValidationVoucher/PS_WS_SBL_ORDER_VALIDATION_VOUCHER/xsd/XSD_SBL_ORDER_VALIDATION_VOUCHER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestValidateVoucher" type="requestValidateVoucherType"/>
	<xsd:element name="responseValidateVoucher" type="responseValidateVoucherType"/>
        <xsd:complexType name="requestValidateVoucherType">
          <xsd:sequence>
            <xsd:element name="orderNumber" type= "mandatoryStringType">
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
        
  <xsd:simpleType name= "mandatoryStringType">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

	<xsd:complexType name="responseValidateVoucherType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resultValidateVoucher" type="resultValidateVoucherType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultValidateVoucherType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string" minOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>