esb_it/repo/WS_HTL_APERTURA_FORZATA_STAG_FLX_SBL/wsdl/WS_HTL_APERTURA_FORZATA_STAG_FLX_SBL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_APERTURA_FML32" type="eb:FMLComplexApertura" /> 
     <xsd:element minOccurs="0" name="HTL_FRASE_FML32" type="eb:FMLComplexFrase" /> 
     <xsd:element name="HTL_LISTA_HOTEL_FML32" type="eb:FMLComplexHotel" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexApertura"> 
    <xsd:sequence> 
     <xsd:element name="HTL_DATA_INIZIO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_TIPO_PERIODO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexFrase"> 
    <xsd:sequence> 
     <xsd:element name="HTL_FRASE" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DATA_INIZIO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DATA_FINE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexHotel"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="HTL_CODICE_HOTEL" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="WS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="StagFlexAperSbl"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="StagFlexAperSblResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="StagFlexAperSblRequest"> 
  <wsdl:part element="eb:StagFlexAperSbl" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="StagFlexAperSblResponse"> 
  <wsdl:part element="eb:StagFlexAperSblResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_APERTURA_FORZATA_STAG_FLX_SBLSoap"> 
  <wsdl:operation name="StagFlexAperSbl"> 
   <wsdl:input message="eb:StagFlexAperSblRequest" name="StagFlexAperSblRequest" /> 
   <wsdl:output message="eb:StagFlexAperSblResponse" name="StagFlexAperSblResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_APERTURA_FORZATA_STAG_FLX_SBLSoap" type="eb:WS_HTL_APERTURA_FORZATA_STAG_FLX_SBLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="StagFlexAperSbl"> 
   <soap:operation soapAction="WS_HTL_APERTURA_FORZATA_STAG_FLX_SBL/StagFlexAperSbl" style="document" /> 
   <wsdl:input name="StagFlexAperSblRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="StagFlexAperSblResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_APERTURA_FORZATA_STAG_FLX_SBL"> 
  <wsdl:port binding="eb:WS_HTL_APERTURA_FORZATA_STAG_FLX_SBLSoap" name="WS_HTL_APERTURA_FORZATA_STAG_FLX_SBLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_APERTURA_FORZATA_STAG_FLX_SBL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>