esb_it/repo/WS_IGFS_VERIFY_PAYMENT_TEST/wsdl/WS_IGFS_VERIFY_PAYMENT_TEST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.api.web.cg.igfs.apps.netsw.it/" schemaLocation="xsdIGFS/PaymentInitGateway.xsd" /> 
   <xsd:complexType name="Verify"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:Verify" xmlns:tns="http://services.api.web.cg.igfs.apps.netsw.it/" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="VerifyResponse"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:VerifyResponse" xmlns:tns="http://services.api.web.cg.igfs.apps.netsw.it/" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opVerify"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Verify" type="eb:Verify" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="channel" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerifyResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="VerifyResponse" type="eb:VerifyResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerifyRequest"> 
  <wsdl:part element="eb:opVerify" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerifyResponse"> 
  <wsdl:part element="eb:opVerifyResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IGFS_VERIFY_PAYMENT_TESTSoap"> 
  <wsdl:operation name="opVerify"> 
   <wsdl:input message="eb:opVerifyRequest" name="opVerifyRequest" /> 
   <wsdl:output message="eb:opVerifyResponse" name="opVerifyResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IGFS_VERIFY_PAYMENT_TESTSoap" type="eb:WS_IGFS_VERIFY_PAYMENT_TESTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerify"> 
   <soap:operation soapAction="WS_IGFS_VERIFY_PAYMENT_TEST/opVerify" style="document" /> 
   <wsdl:input name="opVerifyRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerifyResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IGFS_VERIFY_PAYMENT_TEST"> 
  <wsdl:port binding="eb:WS_IGFS_VERIFY_PAYMENT_TESTSoap" name="WS_IGFS_VERIFY_PAYMENT_TESTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IGFS_VERIFY_PAYMENT_TEST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>