osb_it/repo/SalesforceProject/WS/CRM/GESTIONE/ESIGENZA/IN/PS_WS_CRM_GESTIONE_ESIGENZA_IN/xsd/XSD_CRM_GESTIONE_ESIGENZA_IN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestCreateFastwebCaseType">
		<xsd:sequence>
			<xsd:element name="Sorgente" type="xsd:string"/>
			<xsd:element name="Timestamp" type="xsd:string"/>
			<xsd:element name="NomeOperatore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Username" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TransactionTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Versione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceFiscalePIva" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Cognome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Nome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServiceRequest" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceServiceRequest" type="xsd:string"/>
			<xsd:element name="CodiceAnagrafica" type="xsd:string"/>
			<xsd:element name="CodiceServiceRequestOrigine" type="xsd:string"/>
			<xsd:element name="Categoria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Sottocategoria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Procedura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Stato" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataModifica" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Note" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoDisdetta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceEsito" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestCreateFastwebCase" type="requestCreateFastwebCaseType"/>
	<xsd:element name="responseCreateFastwebCase" type="responseCreateFastwebCaseType"/>
	<xsd:complexType name="responseCreateFastwebCaseType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tid" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ListaErrori" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Errore" minOccurs="0" maxOccurs="unbounded">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="NomeErrore" type="xsd:string" minOccurs="0"/>
									<xsd:element name="CodiceErrore" type="xsd:string" minOccurs="0"/>
									<xsd:element name="DescrizioneErrore" type="xsd:string" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="requestCaseUpdateType">
		<xsd:sequence>
			<xsd:element name="crossReferenceId" type="xsd:string"/>
			<xsd:element name="action" type="xsd:string"/>
			<xsd:element name="caseServiceRequestId" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestCaseUpdate" type="requestCaseUpdateType"/>
	<xsd:element name="responseCaseUpdate" type="responseCaseUpdateType"/>
	<xsd:complexType name="responseCaseUpdateType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>