osb_it/repo/BlueBirdProject/DMS/notifyAccountCreation/PS_WS_DMS_NOTIFY_ACCOUNT_CREATION/xsd/XSD_DMS_NOTIFY_ACCOUNT_CREATION.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">

    <xsd:element name="requestNotifyAccountCreation" type="requestNotifyAccountCreationType"/>
    <xsd:element name="responseNotifyAccountCreation" type="responseNotifyAccountCreationType"/>

    <xsd:complexType name="requestNotifyAccountCreationType">
      <xsd:sequence>
        <xsd:element name="prospectId" type="xsd:string" minOccurs="1"/>
        <xsd:element name="customerId" type="xsd:string"/>
        <xsd:element name="docId" type="xsd:string" minOccurs="0"/>
        <xsd:element name="accountId" type="xsd:string"/>
        <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>


    <xsd:complexType name="responseNotifyAccountCreationType">
      <xsd:sequence>
        <xsd:element name="resultCode" type="xsd:string"/>
        <xsd:element name="resultDescription" type="xsd:string" minOccurs="0"/>
        <xsd:element name="tid" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>

</xsd:schema>