esb_it/repo/WS_IVR_REFRESH_SMC/wsdl/WS_IVR_REFRESH_SMC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opIVR_REFRESH_SMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ORDER_NUM" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ROW_ID_CLI" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_ESIG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CONNID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opIVR_REFRESH_SMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opIVR_REFRESH_SMCRequest"> 
  <wsdl:part element="eb:opIVR_REFRESH_SMC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opIVR_REFRESH_SMCResponse"> 
  <wsdl:part element="eb:opIVR_REFRESH_SMCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_REFRESH_SMCSoap"> 
  <wsdl:operation name="opIVR_REFRESH_SMC"> 
   <wsdl:input message="eb:opIVR_REFRESH_SMCRequest" name="opIVR_REFRESH_SMCRequest" /> 
   <wsdl:output message="eb:opIVR_REFRESH_SMCResponse" name="opIVR_REFRESH_SMCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_REFRESH_SMCSoap" type="eb:WS_IVR_REFRESH_SMCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opIVR_REFRESH_SMC"> 
   <soap:operation soapAction="WS_IVR_REFRESH_SMC/opIVR_REFRESH_SMC" style="document" /> 
   <wsdl:input name="opIVR_REFRESH_SMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opIVR_REFRESH_SMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_REFRESH_SMC"> 
  <wsdl:port binding="eb:WS_IVR_REFRESH_SMCSoap" name="WS_IVR_REFRESH_SMCSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_REFRESH_SMC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>