esb_it/repo/WS_HTL_SCMS_EXECUTE_GETSCC/wsdl/WS_HTL_SCMS_EXECUTE_GETSCC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestGETSCC"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="execdate" type="xsd:string" /> 
     <xsd:element name="priority" type="xsd:string" /> 
     <xsd:element name="funcname" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="serviceid" type="xsd:string" /> 
     <xsd:element name="diseq" type="xsd:string" /> 
     <xsd:element name="frequency" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseGETSCC"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="channelname" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGETSCC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestGETSCC" type="eb:requestGETSCC" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="HTL_CODICE_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGETSCCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseGETSCC" type="eb:responseGETSCC" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGETSCCRequest"> 
  <wsdl:part element="eb:opGETSCC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGETSCCResponse"> 
  <wsdl:part element="eb:opGETSCCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SCMS_EXECUTE_GETSCCSoap"> 
  <wsdl:operation name="opGETSCC"> 
   <wsdl:input message="eb:opGETSCCRequest" name="opGETSCCRequest" /> 
   <wsdl:output message="eb:opGETSCCResponse" name="opGETSCCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SCMS_EXECUTE_GETSCCSoap" type="eb:WS_HTL_SCMS_EXECUTE_GETSCCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGETSCC"> 
   <soap:operation soapAction="WS_HTL_SCMS_EXECUTE_GETSCC/opGETSCC" style="document" /> 
   <wsdl:input name="opGETSCCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGETSCCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SCMS_EXECUTE_GETSCC"> 
  <wsdl:port binding="eb:WS_HTL_SCMS_EXECUTE_GETSCCSoap" name="WS_HTL_SCMS_EXECUTE_GETSCCSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_HTL_SCMS_EXECUTE_GETSCC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>