esb_it/repo/WS_SF_SPY_ANTIFRAUDCHECK/wsdl/WS_SF_SPY_ANTIFRAUDCHECK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://sync.wml.spy.sky.com/" schemaLocation="SkyXSD_SF_SPY_ANTIFRAUDCHECK.xsd" /> 
   <xsd:complexType name="runWMLSync" xmlns:tns="http://sync.wml.spy.sky.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:runWMLSync" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="runWMLSyncResponse" xmlns:tns="http://sync.wml.spy.sky.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:runWMLSyncResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="runWMLSync"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:runWMLSync" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="runWMLSyncResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:runWMLSyncResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="runWMLSyncRequest"> 
  <wsdl:part element="eb:runWMLSync" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="runWMLSyncResponse"> 
  <wsdl:part element="eb:runWMLSyncResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_SPY_ANTIFRAUDCHECKSoap"> 
  <wsdl:operation name="runWMLSync"> 
   <wsdl:input message="eb:runWMLSyncRequest" name="runWMLSyncRequest" /> 
   <wsdl:output message="eb:runWMLSyncResponse" name="runWMLSyncResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_SPY_ANTIFRAUDCHECKSoap" type="eb:WS_SF_SPY_ANTIFRAUDCHECKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="runWMLSync"> 
   <soap:operation soapAction="WS_SF_SPY_ANTIFRAUDCHECK/runWMLSync" style="document" /> 
   <wsdl:input name="runWMLSyncRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="runWMLSyncResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_SPY_ANTIFRAUDCHECK"> 
  <wsdl:port binding="eb:WS_SF_SPY_ANTIFRAUDCHECKSoap" name="WS_SF_SPY_ANTIFRAUDCHECKSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_SPY_ANTIFRAUDCHECK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>