esb_it/repo/WS_WSC_GET_LISTA_OPERATORI/wsdl/WS_WSC_GET_LISTA_OPERATORI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WSC_GET_LISTA_OPERATORI.xsd" /> 
   <xsd:complexType name="DocumentDataInput" /> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetListaOperatori"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetListaOperatoriResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetListaOperatoriRequest"> 
  <wsdl:part element="eb:opGetListaOperatori" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetListaOperatoriResponse"> 
  <wsdl:part element="eb:opGetListaOperatoriResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC_GET_LISTA_OPERATORISoap"> 
  <wsdl:operation name="opGetListaOperatori"> 
   <wsdl:input message="eb:opGetListaOperatoriRequest" name="opGetListaOperatoriRequest" /> 
   <wsdl:output message="eb:opGetListaOperatoriResponse" name="opGetListaOperatoriResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC_GET_LISTA_OPERATORISoap" type="eb:WS_WSC_GET_LISTA_OPERATORISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetListaOperatori"> 
   <soap:operation soapAction="WS_WSC_GET_LISTA_OPERATORI/opGetListaOperatori" style="document" /> 
   <wsdl:input name="opGetListaOperatoriRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetListaOperatoriResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC_GET_LISTA_OPERATORI"> 
  <wsdl:port binding="eb:WS_WSC_GET_LISTA_OPERATORISoap" name="WS_WSC_GET_LISTA_OPERATORISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC_GET_LISTA_OPERATORI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>