esb_it/repo/VerificaProgrammazione/wsdl/VerificaProgrammazione.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpVerificaProgrammazione"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_REFID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_DATA_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpVerificaProgrammazioneResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpVerificaProgrammazioneRequest"> 
  <wsdl:part element="eb:OpVerificaProgrammazione" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpVerificaProgrammazioneResponse"> 
  <wsdl:part element="eb:OpVerificaProgrammazioneResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="VerificaProgrammazioneSoap"> 
  <wsdl:operation name="OpVerificaProgrammazione"> 
   <wsdl:input message="eb:OpVerificaProgrammazioneRequest" name="OpVerificaProgrammazioneRequest" /> 
   <wsdl:output message="eb:OpVerificaProgrammazioneResponse" name="OpVerificaProgrammazioneResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="VerificaProgrammazioneSoap" type="eb:VerificaProgrammazioneSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpVerificaProgrammazione"> 
   <soap:operation soapAction="VerificaProgrammazione/OpVerificaProgrammazione" style="document" /> 
   <wsdl:input name="OpVerificaProgrammazioneRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpVerificaProgrammazioneResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="VerificaProgrammazione"> 
  <wsdl:port binding="eb:VerificaProgrammazioneSoap" name="VerificaProgrammazioneSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/VerificaProgrammazione" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>