esb_it/repo/WS_WEB_ADD_NEW_CONTRACT_ASYNC/wsdl/WS_WEB_ADD_NEW_CONTRACT_ASYNC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://utils.sky.it" schemaLocation="addNewContract.xsd" /> 
   <xsd:complexType name="addNewContract"> 
    <xsd:sequence> 
     <xsd:element name="contractCode" type="xsd:string" /> 
     <xsd:element name="clientCode" type="xsd:string" /> 
     <xsd:element name="phone" type="xsd:string" /> 
     <xsd:element name="email" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="description" nillable="true" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="addNewContractResponse" xmlns:portale="http://utils.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="portale:addNewContractResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="op_add_new_contract"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="addNewContract" type="eb:addNewContract" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="op_add_new_contractResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="addNewContractResponse" type="eb:addNewContractResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="op_add_new_contractRequest"> 
  <wsdl:part element="eb:op_add_new_contract" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="op_add_new_contractResponse"> 
  <wsdl:part element="eb:op_add_new_contractResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_ADD_NEW_CONTRACT_ASYNCSoap"> 
  <wsdl:operation name="op_add_new_contract"> 
   <wsdl:input message="eb:op_add_new_contractRequest" name="op_add_new_contractRequest" /> 
   <wsdl:output message="eb:op_add_new_contractResponse" name="op_add_new_contractResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_ADD_NEW_CONTRACT_ASYNCSoap" type="eb:WS_WEB_ADD_NEW_CONTRACT_ASYNCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="op_add_new_contract"> 
   <soap:operation soapAction="WS_WEB_ADD_NEW_CONTRACT_ASYNC/op_add_new_contract" style="document" /> 
   <wsdl:input name="op_add_new_contractRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="op_add_new_contractResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_ADD_NEW_CONTRACT_ASYNC"> 
  <wsdl:port binding="eb:WS_WEB_ADD_NEW_CONTRACT_ASYNCSoap" name="WS_WEB_ADD_NEW_CONTRACT_ASYNCSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_ADD_NEW_CONTRACT_ASYNC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>