esb_it/repo/WS_GET_PASSWORD_EXT/wsdl/WS_GET_PASSWORD_EXT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_GET_PASSWORD_EXT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPERATORE_API" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PIN_CONTROL" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GET_PASSWORD_EXTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PASSWORD" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GET_PASSWORD_EXTRequest"> 
  <wsdl:part element="eb:OP_GET_PASSWORD_EXT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GET_PASSWORD_EXTResponse"> 
  <wsdl:part element="eb:OP_GET_PASSWORD_EXTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GET_PASSWORD_EXTSoap"> 
  <wsdl:operation name="OP_GET_PASSWORD_EXT"> 
   <wsdl:input message="eb:OP_GET_PASSWORD_EXTRequest" name="OP_GET_PASSWORD_EXTRequest" /> 
   <wsdl:output message="eb:OP_GET_PASSWORD_EXTResponse" name="OP_GET_PASSWORD_EXTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GET_PASSWORD_EXTSoap" type="eb:WS_GET_PASSWORD_EXTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GET_PASSWORD_EXT"> 
   <soap:operation soapAction="WS_GET_PASSWORD_EXT/OP_GET_PASSWORD_EXT" style="document" /> 
   <wsdl:input name="OP_GET_PASSWORD_EXTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GET_PASSWORD_EXTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GET_PASSWORD_EXT"> 
  <wsdl:port binding="eb:WS_GET_PASSWORD_EXTSoap" name="WS_GET_PASSWORD_EXTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_GET_PASSWORD_EXT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>