esb_it/repo/WS_SCMS_EXECUTE_WREFIL_SP/wsdl/WS_SCMS_EXECUTE_WREFIL_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestWREFIL"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="amount" type="xsd:string" /> 
     <xsd:element name="credittype" type="xsd:string" /> 
     <xsd:element name="refillreason" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseWREFIL"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opWREFIL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestWREFIL" type="eb:requestWREFIL" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opWREFILResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseWREFIL" type="eb:responseWREFIL" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opWREFILRequest"> 
  <wsdl:part element="eb:opWREFIL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opWREFILResponse"> 
  <wsdl:part element="eb:opWREFILResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_WREFIL_SPSoap"> 
  <wsdl:operation name="opWREFIL"> 
   <wsdl:input message="eb:opWREFILRequest" name="opWREFILRequest" /> 
   <wsdl:output message="eb:opWREFILResponse" name="opWREFILResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_WREFIL_SPSoap" type="eb:WS_SCMS_EXECUTE_WREFIL_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opWREFIL"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_WREFIL_SP/opWREFIL" style="document" /> 
   <wsdl:input name="opWREFILRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opWREFILResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_WREFIL_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_WREFIL_SPSoap" name="WS_SCMS_EXECUTE_WREFIL_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_WREFIL_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>