esb_it/repo/WS_FWB_FULL_ORDER_OLD/wsdl/WS_FWB_FULL_ORDER_OLD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/FullOrder" schemaLocation="xsdFWB/SkyXSD_FWB_FullOrder.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/FullOrder"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="FullOrderOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="FullOrderOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="FullOrderOpRequest"> 
  <wsdl:part element="eb:FullOrderOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="FullOrderOpResponse"> 
  <wsdl:part element="eb:FullOrderOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_FULL_ORDER_OLDSoap"> 
  <wsdl:operation name="FullOrderOp"> 
   <wsdl:input message="eb:FullOrderOpRequest" name="FullOrderOpRequest" /> 
   <wsdl:output message="eb:FullOrderOpResponse" name="FullOrderOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_FULL_ORDER_OLDSoap" type="eb:WS_FWB_FULL_ORDER_OLDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="FullOrderOp"> 
   <soap:operation soapAction="WS_FWB_FULL_ORDER_OLD/FullOrderOp" style="document" /> 
   <wsdl:input name="FullOrderOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="FullOrderOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_FULL_ORDER_OLD"> 
  <wsdl:port binding="eb:WS_FWB_FULL_ORDER_OLDSoap" name="WS_FWB_FULL_ORDER_OLDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_FULL_ORDER_OLD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>