esb_it/repo/WS_OTS_REITEK_RIATTIVAZIONE/wsdl/WS_OTS_REITEK_RIATTIVAZIONE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.siebel.sky.integrationlayer.reitek.com/" schemaLocation="xsdReitek/RiattivazioneWS.xsd" /> 
   <xsd:complexType name="elaborazioneRiattivazione" xmlns:rk="http://services.siebel.sky.integrationlayer.reitek.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="rk:elaborazioneRiattivazione" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="elaborazioneRiattivazioneResponse" xmlns:rk="http://services.siebel.sky.integrationlayer.reitek.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="rk:elaborazioneRiattivazioneResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opElaborazioneRiattivazione"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:elaborazioneRiattivazione" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opElaborazioneRiattivazioneResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:elaborazioneRiattivazioneResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opElaborazioneRiattivazioneRequest"> 
  <wsdl:part element="eb:opElaborazioneRiattivazione" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opElaborazioneRiattivazioneResponse"> 
  <wsdl:part element="eb:opElaborazioneRiattivazioneResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_OTS_REITEK_RIATTIVAZIONESoap"> 
  <wsdl:operation name="opElaborazioneRiattivazione"> 
   <wsdl:input message="eb:opElaborazioneRiattivazioneRequest" name="opElaborazioneRiattivazioneRequest" /> 
   <wsdl:output message="eb:opElaborazioneRiattivazioneResponse" name="opElaborazioneRiattivazioneResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_OTS_REITEK_RIATTIVAZIONESoap" type="eb:WS_OTS_REITEK_RIATTIVAZIONESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opElaborazioneRiattivazione"> 
   <soap:operation soapAction="WS_OTS_REITEK_RIATTIVAZIONE/opElaborazioneRiattivazione" style="document" /> 
   <wsdl:input name="opElaborazioneRiattivazioneRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opElaborazioneRiattivazioneResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_OTS_REITEK_RIATTIVAZIONE"> 
  <wsdl:port binding="eb:WS_OTS_REITEK_RIATTIVAZIONESoap" name="WS_OTS_REITEK_RIATTIVAZIONESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_OTS_REITEK_RIATTIVAZIONE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>