osb_it/repo/BlueBirdProject/SALESFORCE/transcommHandler/PS_REST_SF_TRANSCOMM_HANDLER/xsd/XSD_SF_TRANSCOMMS_HANLDER.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestRetrieveTranscomm" type="requestRetrieveTranscommType"/>
	<xsd:element name="responseRetrieveTranscomm" type="resultTranscommType"/>
	<xsd:complexType name="requestRetrieveTranscommType">
		<xsd:sequence>
			<xsd:element name="e2eContractId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="startDate" type="xsd:date" minOccurs="1"/>
			<xsd:element name="itemPerPage" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="pageNum" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="channel" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultTranscommType">
		<xsd:sequence>
			<xsd:element name="totalMessages" type="xsd:integer" minOccurs="1"/>
			<xsd:element name="totalPages" type="xsd:integer" minOccurs="1"/>
			<xsd:element name="pageNum" type="xsd:integer" minOccurs="1"/>
			<xsd:element name="communication" type="communicationType" minOccurs="0" maxOccurs="2000"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="communicationType">
		<xsd:sequence>
			<xsd:element name="communicationKey" type="xsd:string" minOccurs="1"/>
			<xsd:element name="contractKey" type="xsd:string" minOccurs="1"/>
			<xsd:element name="e2eContractId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="channel" type="xsd:string" minOccurs="1"/>
			<xsd:element name="category" type="xsd:string" minOccurs="1"/>
			<xsd:element name="subCategory" type="xsd:string" minOccurs="1"/>
			<xsd:element name="trasmissionDate" type="xsd:dateTime" minOccurs="1"/>
			<xsd:element name="lastModifiedDate" type="xsd:dateTime" minOccurs="1"/>
			<xsd:element name="status" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>