esb_it/repo/WS_TELECOM_VALIDA_ANAG/wsdl/WS_TELECOM_VALIDA_ANAG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="SIEBEL_ADP_OPERATION"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceDealerSKY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CategoriaContratto" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Nome" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Cognome" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceFiscale" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="RagioneSociale" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="PartitaIVA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TipoDocumento" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="NumeroDocumento" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="NumeroTelefono" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="AltroTelefono" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Email" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ParticellaToponomasticaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="StradaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CivicoU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CAPU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ProvinciaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CittaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="PianoU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="InternoU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ScalaU" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TipoMOP" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TipoCC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="NumCC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="MeseScadCC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="AnnoScadCC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="NumConto" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ABI" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CAB" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ClusterIPTV" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RowIdSolution" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceAmbito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceFiscaleAzienda" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TestInternoSKY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="IBAN" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceOperatoreSKY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceVenditoreSKY" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="SIEBEL_ADP_OPERATIONResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Url" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DescrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Esito" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="SIEBEL_ADP_OPERATIONRequest"> 
  <wsdl:part element="eb:SIEBEL_ADP_OPERATION" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="SIEBEL_ADP_OPERATIONResponse"> 
  <wsdl:part element="eb:SIEBEL_ADP_OPERATIONResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TELECOM_VALIDA_ANAGSoap"> 
  <wsdl:operation name="SIEBEL_ADP_OPERATION"> 
   <wsdl:input message="eb:SIEBEL_ADP_OPERATIONRequest" name="SIEBEL_ADP_OPERATIONRequest" /> 
   <wsdl:output message="eb:SIEBEL_ADP_OPERATIONResponse" name="SIEBEL_ADP_OPERATIONResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TELECOM_VALIDA_ANAGSoap" type="eb:WS_TELECOM_VALIDA_ANAGSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="SIEBEL_ADP_OPERATION"> 
   <soap:operation soapAction="WS_TELECOM_VALIDA_ANAG/SIEBEL_ADP_OPERATION" style="document" /> 
   <wsdl:input name="SIEBEL_ADP_OPERATIONRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="SIEBEL_ADP_OPERATIONResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TELECOM_VALIDA_ANAG"> 
  <wsdl:port binding="eb:WS_TELECOM_VALIDA_ANAGSoap" name="WS_TELECOM_VALIDA_ANAGSoap"> 
   <soap:address location="https://wssvil.skytv.it/wsexistbus/ws_iptv_telecom/WS_TELECOM_VALIDA_ANAG" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>