osb_it/repo/SiebelProject/RetrieveMatricole/PS_WS_SBL_LOGISTIC_RETRIEVE_MATRICOLE/wsdl/SiebelProject_RetrieveMatricole_proxy_PS_WS_SBL_LOGISTIC_RETRIEVE_MATRICOLE.wsdl

<wsdl:definitions name="WS_SBL_LOGISTIC_RETRIEVE_MATRICOLE" targetNamespace="http://www.skytv.it/mdw/service/SBL_LOGISTIC_RETRIEVE_MATRICOLE" xmlns:tns="http://www.skytv.it/mdw/service/SBL_LOGISTIC_RETRIEVE_MATRICOLE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SBL_LOGISTIC_RETRIEVE_MATRICOLE.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_Header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:message name="requestRetrieveMatricole_Message">
		<wsdl:part name="part_requestRetrieveMatricole" element="inp1:requestRetrieveMatricole"/>
	</wsdl:message>
	<wsdl:message name="responseRetrieveMatricole_Message">
		<wsdl:part name="part_responseRetrieveMatricole" element="inp1:responseRetrieveMatricole"/>
	</wsdl:message>
	<wsdl:message name="requestRetrieveMatricoleFromList_Message">
		<wsdl:part name="part_requestRetrieveMatricoleFromList" element="inp1:requestRetrieveMatricoleFromList"/>
	</wsdl:message>
	<wsdl:message name="responseRetrieveMatricoleFromList_Message">
		<wsdl:part name="part_responseRetrieveMatricoleFromList" element="inp1:responseRetrieveMatricoleFromList"/>
	</wsdl:message>
	<wsdl:portType name="SBL_LOGISTIC_RETRIEVE_MATRICOLE_ptt">
		<wsdl:operation name="execute_RetrieveMatricole">
			<wsdl:input message="tns:requestRetrieveMatricole_Message"/>
			<wsdl:output message="tns:responseRetrieveMatricole_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_RetrieveMatricoleFromList">
			<wsdl:input message="tns:requestRetrieveMatricoleFromList_Message"/>
			<wsdl:output message="tns:responseRetrieveMatricoleFromList_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SBL_LOGISTIC_RETRIEVE_MATRICOLE_bind" type="tns:SBL_LOGISTIC_RETRIEVE_MATRICOLE_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_RetrieveMatricole">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SBL_LOGISTIC_RETRIEVE_MATRICOLE/execute_RetrieveMatricole" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestRetrieveMatricole" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseRetrieveMatricole" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_RetrieveMatricoleFromList">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SBL_LOGISTIC_RETRIEVE_MATRICOLE/execute_RetrieveMatricoleFromList" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestRetrieveMatricoleFromList" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseRetrieveMatricoleFromList" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>