osb_it/repo/SCMSproject/PS_WS_CRM_GESTIONE_UTENTI/wsdl/SCMSproject_proxy_PS_WS_CRM_GESTIONE_UTENTI.wsdl

<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_UTENTI" xmlns:mdata="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_GESTIONE_UTENTI" targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_UTENTI">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_UTENTI.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestUPFLPR_Message">
		<wsdl:part name="part_requestUPFLPR" element="mdata:requestUPFLPR"/>
	</wsdl:message>
	<wsdl:message name="responseUPFLPR_Message">
		<wsdl:part name="part_responseUPFLPR" element="mdata:responseSCMS"/>
	</wsdl:message>
	<wsdl:message name="requestSAWPIN_Message">
		<wsdl:part name="part_requestSAWPIN" element="mdata:requestSAWPIN"/>
	</wsdl:message>
	<wsdl:message name="responseSAWPIN_Message">
		<wsdl:part name="part_responseSAWPIN" element="mdata:responseSCMS"/>
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="mdata:Header"/>
	</wsdl:message>
	<wsdl:portType name="GESTIONE_UTENTI_ptt">
		<wsdl:operation name="execute_UPFLPR">
			<wsdl:input message="tns:requestUPFLPR_Message"/>
			<wsdl:output message="tns:responseUPFLPR_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_SAWPIN">
			<wsdl:input message="tns:requestSAWPIN_Message"/>
			<wsdl:output message="tns:responseSAWPIN_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GESTIONE_UTENTI_pttSOAP11Binding" type="tns:GESTIONE_UTENTI_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_UPFLPR">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_UTENTI/execute_UPFLPR" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestUPFLPR" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseUPFLPR" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_SAWPIN">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_UTENTI/execute_SAWPIN" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestSAWPIN" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseSAWPIN" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GESTIONE_UTENTI_ptt">
		<wsdl:port name="GESTIONE_UTENTI_pttPort" binding="tns:GESTIONE_UTENTI_pttSOAP11Binding">
			<soap:address location="http://www.example.com"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>