osb_it/repo/BlueBirdProject/SALESFORCE/CheckCallTranscomm/PS_WS_SF_CHECK_CALL_TRANSCOMM/xsd/XSD_SF_CHECK_CALL_TRANSCOMM.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">


	<xsd:complexType name="Response">
		<xsd:sequence>
			<xsd:element name="Code" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="Description" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="Status" type="xsd:string"  minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="requestCheckCallTranscommType">
		<xsd:sequence>
			<xsd:element name="orderId" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="contractId" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="checkCallORSendEmail" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="errorCode" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="errorMessage" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="sendTranscommFlag" type="xsd:boolean"  minOccurs="0"/>
			<xsd:element name="status" type="xsd:string"  minOccurs="0"/>
			<xsd:element name="transcommType" type="xsd:string"  minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:element name="requestCheckCallTranscomm" type="requestCheckCallTranscommType" />
	<xsd:element name="responseCheckCallTranscomm" type="xsd:string" />
	

</xsd:schema>