osb_it/repo/SalesforceProject/REST/CRM/CANALE/SOTTOSCRIZIONE/PS_REST_CRM_CANALE_SOTTOSCRIZIONE/wsdl/SalesforceProject_REST_CRM_CANALE_SOTTOSCRIZIONE_proxy_PS_REST_CRM_CANALE_SOTTOSCRIZIONE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="REST_CANALE_SOTTOSCRIZIONE"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/REST_CANALE_SOTTOSCRIZIONE"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/REST_CANALE_SOTTOSCRIZIONE"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="REST_CANALE_SOTTOSCRIZIONE">
        <plnk:role name="REST_CANALE_SOTTOSCRIZIONEProvider" portType="tns:REST_CANALE_SOTTOSCRIZIONE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/CanaleSottoscrizione/xsd/XSD_CRM_CANALE_SOTTOSCRIZIONE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CanaleSottoscrizione_inputMessage">
        <wsdl:part name="request" element="inp1:requestCanaleSottoscrizione"/>
    </wsdl:message>
    <wsdl:message name="CanaleSottoscrizione_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCanaleSottoscrizione"/>
    </wsdl:message>
    <wsdl:message name="CanaleSottoscrizione_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CanaleSottoscrizione_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CanaleSottoscrizione_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="REST_CANALE_SOTTOSCRIZIONE_ptt">
        <wsdl:operation name="getCanaleSottoscrizione">
            <wsdl:input message="tns:CanaleSottoscrizione_inputMessage"/>
            <wsdl:output message="tns:CanaleSottoscrizione_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CanaleSottoscrizione_error404Message"/>
            <wsdl:fault name="error400" message="tns:CanaleSottoscrizione_error400Message"/>
            <wsdl:fault name="error500" message="tns:CanaleSottoscrizione_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="REST_CANALE_SOTTOSCRIZIONE_ptt-binding" type="tns:REST_CANALE_SOTTOSCRIZIONE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCanaleSottoscrizione">
            <soap:operation soapAction="getCanaleSottoscrizione"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>