osb_it/repo/SalesforceProject/WS/CRM/CREA/ESIGENZE/CHIUSE/PS_REST_CRM_CREA_ESIGENZE_CHIUSE_ENH/wsdl/SalesforceProject_WS_CRM_CREA_ESIGENZE_CHIUSE_proxy_PS_REST_CRM_CREA_ESIGENZE_CHIUSE_ENH.wsdl

<wsdl:definitions name="PS_REST_CRM_CREA_ESIGENZE_CHIUSE" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CREA_ESIGENZE_CHIUSE" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CREA_ESIGENZE_CHIUSE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_CREA_ESIGENZE_CHIUSE">
        <plnk:role name="PS_REST_CRM_CREA_ESIGENZE_CHIUSEProvider" portType="tns:PS_REST_CRM_CREA_ESIGENZE_CHIUSE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/CreaEsigenzeChiuse/xsd/XSD_CRM_CREA_ESIGENZE_CHIUSE_ENH.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreaEsigenzeChiuse_inputMessage">
        <wsdl:part name="request" element="inp1:requestCreaEsigenzeChiuseEnh"/>
    </wsdl:message>
    <wsdl:message name="CreaEsigenzeChiuse_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCreaEsigenzeChiuseEnh"/>
    </wsdl:message>
    <wsdl:message name="CreaEsigenzeChiuse_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CreaEsigenzeChiuse_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CreaEsigenzeChiuse_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CREA_ESIGENZE_CHIUSE_ptt">
        <wsdl:operation name="CreaEsigenzeChiuse">
            <wsdl:input message="tns:CreaEsigenzeChiuse_inputMessage"/>
            <wsdl:output message="tns:CreaEsigenzeChiuse_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CreaEsigenzeChiuse_error404Message"/>
            <wsdl:fault name="error400" message="tns:CreaEsigenzeChiuse_error400Message"/>
            <wsdl:fault name="error500" message="tns:CreaEsigenzeChiuse_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CREA_ESIGENZE_CHIUSE_ptt-binding" type="tns:PS_REST_CRM_CREA_ESIGENZE_CHIUSE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreaEsigenzeChiuse">
            <soap:operation soapAction="CreaEsigenzeChiuse"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>