esb_it/repo/WS_SCMS_SET_PASSWD_DATE/wsdl/WS_SCMS_SET_PASSWD_DATE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opSetPwdDate"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_CLIENT_API" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_DATA_SCADENZA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSetPwdDateResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_ERROR_TYPE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSetPwdDateRequest"> 
  <wsdl:part element="eb:opSetPwdDate" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSetPwdDateResponse"> 
  <wsdl:part element="eb:opSetPwdDateResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_SET_PASSWD_DATESoap"> 
  <wsdl:operation name="opSetPwdDate"> 
   <wsdl:input message="eb:opSetPwdDateRequest" name="opSetPwdDateRequest" /> 
   <wsdl:output message="eb:opSetPwdDateResponse" name="opSetPwdDateResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_SET_PASSWD_DATESoap" type="eb:WS_SCMS_SET_PASSWD_DATESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSetPwdDate"> 
   <soap:operation soapAction="WS_SCMS_SET_PASSWD_DATE/opSetPwdDate" style="document" /> 
   <wsdl:input name="opSetPwdDateRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSetPwdDateResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_SET_PASSWD_DATE"> 
  <wsdl:port binding="eb:WS_SCMS_SET_PASSWD_DATESoap" name="WS_SCMS_SET_PASSWD_DATESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_SET_PASSWD_DATE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>