esb_it/repo/WS_TEST_ITERATORE/wsdl/WS_TEST_ITERATORE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentDataIN"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="CodiciClienti"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element name="CodiceCliente" type="xsd:string" /> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opTestIterator"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="input" type="eb:DocumentDataIN" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opTestIteratorResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Descrizione" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TID" type="xsd:short" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opTestIteratorRequest"> 
  <wsdl:part element="eb:opTestIterator" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opTestIteratorResponse"> 
  <wsdl:part element="eb:opTestIteratorResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TEST_ITERATORESoap"> 
  <wsdl:operation name="opTestIterator"> 
   <wsdl:input message="eb:opTestIteratorRequest" name="opTestIteratorRequest" /> 
   <wsdl:output message="eb:opTestIteratorResponse" name="opTestIteratorResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TEST_ITERATORESoap" type="eb:WS_TEST_ITERATORESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opTestIterator"> 
   <soap:operation soapAction="WS_TEST_ITERATORE/opTestIterator" style="document" /> 
   <wsdl:input name="opTestIteratorRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opTestIteratorResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TEST_ITERATORE"> 
  <wsdl:port binding="eb:WS_TEST_ITERATORESoap" name="WS_TEST_ITERATORESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_TEST_ITERATORE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>