osb_it/repo/AspideProject/Angels/PS_REST_ASPIDE_ANGELS/wsdl/AspideProject_Angels_proxy_PS_REST_ASPIDE_ANGELS.wsdl

<wsdl:definitions name="PS_REST_ASPIDE_ANGELS" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/AspideProject/PS_REST_ASPIDE_ANGELS" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/AspideProject/PS_REST_ASPIDE_ANGELS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_ASPIDE_ANGELS">
        <plnk:role name="PS_REST_ASPIDE_ANGELSProvider" portType="tns:PS_REST_ASPIDE_ANGELS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/AngelManagement/xsd/XSD_ASPIDE_ANGELS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getAngel_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetAngel"/>
    </wsdl:message>
    <wsdl:message name="getAngel_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetAngel"/>
    </wsdl:message>
    <wsdl:message name="getAngel_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getAngel_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getAngel_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="changeAngel_inputMessage">
        <wsdl:part name="request" element="inp1:requestChangeAngel"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="changeAngel_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="changeAngel_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="changeAngel_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_ASPIDE_ANGELS_ptt">
        <wsdl:operation name="getAngel">
            <wsdl:input message="tns:getAngel_inputMessage"/>
            <wsdl:output message="tns:getAngel_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:getAngel_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:getAngel_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:getAngel_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="changeAngel">
            <wsdl:input message="tns:changeAngel_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault400" message="tns:changeAngel_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:changeAngel_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:changeAngel_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_ASPIDE_ANGELS_ptt-binding" type="tns:PS_REST_ASPIDE_ANGELS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getAngel">
            <soap:operation soapAction="getAngel"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="changeAngel">
            <soap:operation soapAction="changeAngel"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>