osb_it/repo/CPQProject/cartHandler/PS_REST_CPQ_CART_HANDLER/wsdl/CPQProject_cartHandler_proxy_PS_REST_CPQ_CART_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CPQ_CART_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil/CPQProject/PS_REST_CPQ_CART_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil/CPQProject/PS_REST_CPQ_CART_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.skytv.it/mdw/data">
    <plnk:partnerLinkType name="PS_REST_CPQ_CART_HANDLER">
        <plnk:role name="PS_REST_CPQ_CART_HANDLERProvider" portType="tns:PS_REST_CPQ_CART_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/CPQProject/cartHandler/xsd/XSD_CPQ_CART_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="AddProducts_inputMessage">
        <wsdl:part name="request" element="inp1:requestAddCartItems"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="AddProducts_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="AddProducts_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="AddProducts_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestSubmitCart"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="DeleteCartItems_inputMessage">
        <wsdl:part name="request" element="inp1:requestDeleteCartItems"/>
    </wsdl:message>
    <wsdl:message name="DeletePromotionItems_inputMessage">
        <wsdl:part name="request" element="inp1:requestDeletePromotionItems"/>
    </wsdl:message>
    <wsdl:message name="AssetToOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestAssetToOrder"/>
    </wsdl:message>
    <wsdl:message name="AssetToOrder_outputMessage">
        <wsdl:part name="reply" element="inp1:responseAssetToOrder"/>
    </wsdl:message>
    <wsdl:message name="AssetToOrder_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="AssetToOrder_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="AssetToOrder_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CPQ_CART_HANDLER_ptt">
        <wsdl:operation name="AddProducts">
            <wsdl:input message="tns:AddProducts_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault400" message="tns:AddProducts_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:AddProducts_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:AddProducts_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="SubmitOrder">
            <wsdl:input message="tns:SubmitOrder_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault400" message="tns:SubmitOrder_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:SubmitOrder_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:SubmitOrder_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="DeleteCartItems">
            <wsdl:input message="tns:DeleteCartItems_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault400" message="tns:SubmitOrder_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:SubmitOrder_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:SubmitOrder_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="DeletePromotionItems">
            <wsdl:input message="tns:DeletePromotionItems_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="AssetToOrder">
            <wsdl:input message="tns:AssetToOrder_inputMessage"/>
            <wsdl:output message="tns:AssetToOrder_outputMessage"/>
            <wsdl:fault name="error404" message="tns:AssetToOrder_error404Message"/>
            <wsdl:fault name="error400" message="tns:AssetToOrder_error400Message"/>
            <wsdl:fault name="error500" message="tns:AssetToOrder_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CPQ_CART_HANDLER_ptt-binding" type="tns:PS_REST_CPQ_CART_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AddProducts">
            <soap:operation soapAction="AddProducts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitOrder">
            <soap:operation soapAction="SubmitOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeleteCartItems">
            <soap:operation soapAction="DeleteCartItems"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="DeletePromotionItems">
            <soap:operation soapAction="DeletePromotionItems"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AssetToOrder">
            <soap:operation soapAction="AssetToOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>