osb_it/repo/BlueBirdProject/SALESFORCE/pinOperations/PS_REST_SF_PIN_OPERATIONS/wsdl/BlueBirdProject_SALESFORCE_pinOperations_proxy_PS_REST_SF_PIN_OPERATIONS.wsdl

<wsdl:definitions name="PS_REST_SF_PIN_OPERATIONS" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_PIN_OPERATIONS" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_PIN_OPERATIONS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_PIN_OPERATIONS">
        <plnk:role name="PS_REST_SF_PIN_OPERATIONSProvider" portType="tns:PS_REST_SF_PIN_OPERATIONS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/pinOperations/xsd/XSD_SF_PIN_OPERATIONS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ManagePIN_inputMessage">
        <wsdl:part name="request" element="inp1:requestManagePIN"/>
    </wsdl:message>
    <wsdl:message name="ManagePIN_outputMessage">
        <wsdl:part name="reply" element="inp1:responseManagePIN"/>
    </wsdl:message>
    <wsdl:message name="ManagePIN_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ManagePIN_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ManagePIN_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CheckPIN_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckPIN"/>
    </wsdl:message>
    <wsdl:message name="CheckPIN_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckPIN"/>
    </wsdl:message>
    <wsdl:message name="CheckPIN_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="CheckPIN_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CheckPIN_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_PIN_OPERATIONS_ptt">
        <wsdl:operation name="ManagePIN">
            <wsdl:input message="tns:ManagePIN_inputMessage"/>
            <wsdl:output message="tns:ManagePIN_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:ManagePIN_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:ManagePIN_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:ManagePIN_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="CheckPIN">
            <wsdl:input message="tns:CheckPIN_inputMessage"/>
            <wsdl:output message="tns:CheckPIN_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:CheckPIN_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:CheckPIN_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:CheckPIN_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_PIN_OPERATIONS_ptt-binding" type="tns:PS_REST_SF_PIN_OPERATIONS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ManagePIN">
            <soap:operation soapAction="ManagePIN"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CheckPIN">
            <soap:operation soapAction="CheckPIN"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>