esb_it/repo/WS_DS_SF_GESTIONE_ODL/wsdl/WS_DS_SF_GESTIONE_ODL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler" schemaLocation="xsdSFDS/SkyXSD_WS_DS_SF_GESTIONE_ODL.xsd" /> 
   <xsd:complexType name="lineItemAlignmentMDW" xmlns:sf="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:lineItemAlignment" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="lineItemAlignmentResponseMDW" xmlns:sf="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:lineItemAlignmentResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="createOdlMDW" xmlns:sf="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:createOdl" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="createOdlResponseMDW" xmlns:sf="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:createOdlResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opLineItemAlignment"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SESSION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SESSION_URL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="lineItemAlignment" type="eb:lineItemAlignmentMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLineItemAlignmentResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="lineItemAlignmentResponse" type="eb:lineItemAlignmentResponseMDW" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WSTID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreateODL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SESSION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SESSION_URL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="createOdl" type="eb:createOdlMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreateODLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="createOdlResponse" type="eb:createOdlResponseMDW" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WSTID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLogin"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Password" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Username" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLoginResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SessionId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ServerUrl" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WSTID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLineItemAlignmentRequest"> 
  <wsdl:part element="eb:opLineItemAlignment" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLineItemAlignmentResponse"> 
  <wsdl:part element="eb:opLineItemAlignmentResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCreateODLRequest"> 
  <wsdl:part element="eb:opCreateODL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCreateODLResponse"> 
  <wsdl:part element="eb:opCreateODLResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLoginRequest"> 
  <wsdl:part element="eb:opLogin" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLoginResponse"> 
  <wsdl:part element="eb:opLoginResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_DS_SF_GESTIONE_ODLSoap"> 
  <wsdl:operation name="opLineItemAlignment"> 
   <wsdl:input message="eb:opLineItemAlignmentRequest" name="opLineItemAlignmentRequest" /> 
   <wsdl:output message="eb:opLineItemAlignmentResponse" name="opLineItemAlignmentResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opCreateODL"> 
   <wsdl:input message="eb:opCreateODLRequest" name="opCreateODLRequest" /> 
   <wsdl:output message="eb:opCreateODLResponse" name="opCreateODLResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opLogin"> 
   <wsdl:input message="eb:opLoginRequest" name="opLoginRequest" /> 
   <wsdl:output message="eb:opLoginResponse" name="opLoginResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_DS_SF_GESTIONE_ODLSoap" type="eb:WS_DS_SF_GESTIONE_ODLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLineItemAlignment"> 
   <soap:operation soapAction="WS_DS_SF_GESTIONE_ODL/opLineItemAlignment" style="document" /> 
   <wsdl:input name="opLineItemAlignmentRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLineItemAlignmentResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opCreateODL"> 
   <soap:operation soapAction="WS_DS_SF_GESTIONE_ODL/opCreateODL" style="document" /> 
   <wsdl:input name="opCreateODLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCreateODLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opLogin"> 
   <soap:operation soapAction="WS_DS_SF_GESTIONE_ODL/opLogin" style="document" /> 
   <wsdl:input name="opLoginRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLoginResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_DS_SF_GESTIONE_ODL"> 
  <wsdl:port binding="eb:WS_DS_SF_GESTIONE_ODLSoap" name="WS_DS_SF_GESTIONE_ODLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_DS_SF_GESTIONE_ODL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>