osb_it/repo/SalesforceProject/WS/CRM/AGREEMENTS/PS_WS_CRM_AGREEMENTS/wsdl/SalesforceProject_WS_CRM_AGREEMENTS_proxy_PS_WS_CRM_AGREEMENTS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_AGREEMENTS"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_AGREEMENTS"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_AGREEMENTS"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_AGREEMENTS.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestUpdateAdSmartAgreemen_Message">
        <wsdl:part name="part_requestUpdateAdSmartAgreemen" element="inp1:requestUpdateAdSmartAgreement"/>
    </wsdl:message>
    <wsdl:message name="responseUpdateAdSmartAgreemen_Message">
        <wsdl:part name="part_responseUpdateAdSmartAgreemen" element="inp1:responseUpdateAdSmartAgreement"/>
    </wsdl:message>
    <wsdl:portType name="CRM_AGREEMENTS_ptt">
        <wsdl:operation name="execute_UpdateAdSmartAgreement">
            <wsdl:input message="tns:requestUpdateAdSmartAgreemen_Message"/>
            <wsdl:output message="tns:responseUpdateAdSmartAgreemen_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_UpdateAdSmartAgreementBySMC">
            <wsdl:input message="tns:requestUpdateAdSmartAgreementBySMC_Message"/>
            <wsdl:output message="tns:responseUpdateAdSmartAgreementBySMC_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestUpdateAdSmartAgreementBySMC_Message">
        <wsdl:part name="part_requestUpdateAdSmartAgreementBySMC" element="inp1:requestUpdateAdSmartAgreementBySMC"/>
    </wsdl:message>
    <wsdl:message name="responseUpdateAdSmartAgreementBySMC_Message">
        <wsdl:part name="part_responseUpdateAdSmartAgreementBySMC" element="inp1:responseUpdateAdSmartAgreementBySMC"/>
    </wsdl:message>
    <wsdl:binding name="CRM_AGREEMENTS_bind" type="tns:CRM_AGREEMENTS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_UpdateAdSmartAgreement">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_AGREEMENTS/execute_updateAdSmartAgreement"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestUpdateAdSmartAgreemen"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseUpdateAdSmartAgreemen"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_UpdateAdSmartAgreementBySMC">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_AGREEMENTS/execute_UpdateAdSmartAgreementBySMC"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestUpdateAdSmartAgreementBySMC"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseUpdateAdSmartAgreementBySMC"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>