esb_it/repo/WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLO/wsdl/WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_Web_Ts_InsertUpdateMarcaModello.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DataInput" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DataOutput" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opInsertUpdateMarcaModello"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opInsertUpdateMarcaModelloResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opInsertUpdateMarcaModelloRequest"> 
  <wsdl:part element="eb:opInsertUpdateMarcaModello" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opInsertUpdateMarcaModelloResponse"> 
  <wsdl:part element="eb:opInsertUpdateMarcaModelloResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLOSoap"> 
  <wsdl:operation name="opInsertUpdateMarcaModello"> 
   <wsdl:input message="eb:opInsertUpdateMarcaModelloRequest" name="opInsertUpdateMarcaModelloRequest" /> 
   <wsdl:output message="eb:opInsertUpdateMarcaModelloResponse" name="opInsertUpdateMarcaModelloResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLOSoap" type="eb:WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opInsertUpdateMarcaModello"> 
   <soap:operation soapAction="WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLO/opInsertUpdateMarcaModello" style="document" /> 
   <wsdl:input name="opInsertUpdateMarcaModelloRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opInsertUpdateMarcaModelloResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLO"> 
  <wsdl:port binding="eb:WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLOSoap" name="WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_TS_INSERT_UPDATE_MARCA_MODELLO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>