osb_it/repo/SalesforceProject/REST/CRM/SERVICE/REQUEST/HANDLER/PS_REST_CRM_SERVICE_REQUEST_HANDLER/wsdl/SalesforceProject_REST_CRM_SERVICE_REQUEST_HANDLER_proxy_PS_REST_CRM_SERVICE_REQUEST_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_SERVICE_REQUEST_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_SERVICE_REQUEST_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_SERVICE_REQUEST_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_SERVICE_REQUEST_HANDLER">
        <plnk:role name="PS_REST_CRM_SERVICE_REQUEST_HANDLERProvider" portType="tns:PS_REST_CRM_SERVICE_REQUEST_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_ServiceRequestHandler/xsd/XSD_CRM_SERVICE_REQUEST_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="serviceRequestCancel_inputMessage">
        <wsdl:part name="request" element="inp1:requestServiceRequestCancel"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCancel_outputMessage">
        <wsdl:part name="reply" element="inp1:responseServiceRequestCancel"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCancel_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCancel_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCancel_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestTracking_inputMessage">
        <wsdl:part name="request" element="inp1:requestServiceRequestTracking"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestTracking_outputMessage">
        <wsdl:part name="reply" element="inp1:responseServiceRequestTracking"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestTracking_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestTracking_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestTracking_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="OneClickCancellation_inputMessage">
        <wsdl:part name="request" element="inp1:requestOneClickCancellation"/>
    </wsdl:message>
    <wsdl:message name="OneClickCancellation_outputMessage">
        <wsdl:part name="reply" element="inp1:responseOneClickCancellation"/>
    </wsdl:message>
    <wsdl:message name="OneClickCancellation_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="OneClickCancellation_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="OneClickCancellation_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCreate_inputMessage">
        <wsdl:part name="request" element="inp1:requestServiceRequestCreate"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCreate_outputMessage">
        <wsdl:part name="reply" element="inp1:responseServiceRequestCreate"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCreate_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCreate_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="serviceRequestCreate_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_SERVICE_REQUEST_HANDLER_ptt">
        <wsdl:operation name="serviceRequestCancel">
            <wsdl:input message="tns:serviceRequestCancel_inputMessage"/>
            <wsdl:output message="tns:serviceRequestCancel_outputMessage"/>
            <wsdl:fault name="error404" message="tns:serviceRequestCancel_error404Message"/>
            <wsdl:fault name="error400" message="tns:serviceRequestCancel_error400Message"/>
            <wsdl:fault name="error500" message="tns:serviceRequestCancel_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="serviceRequestTracking">
            <wsdl:input message="tns:serviceRequestTracking_inputMessage"/>
            <wsdl:output message="tns:serviceRequestTracking_outputMessage"/>
            <wsdl:fault name="error404" message="tns:serviceRequestTracking_error404Message"/>
            <wsdl:fault name="error400" message="tns:serviceRequestTracking_error400Message"/>
            <wsdl:fault name="error500" message="tns:serviceRequestTracking_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="OneClickCancellation">
            <wsdl:input message="tns:OneClickCancellation_inputMessage"/>
            <wsdl:output message="tns:OneClickCancellation_outputMessage"/>
            <wsdl:fault name="error404" message="tns:OneClickCancellation_error404Message"/>
            <wsdl:fault name="error400" message="tns:OneClickCancellation_error400Message"/>
            <wsdl:fault name="error500" message="tns:OneClickCancellation_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="serviceRequestCreate">
            <wsdl:input message="tns:serviceRequestCreate_inputMessage"/>
            <wsdl:output message="tns:serviceRequestCreate_outputMessage"/>
            <wsdl:fault name="error404" message="tns:serviceRequestCreate_error404Message"/>
            <wsdl:fault name="error400" message="tns:serviceRequestCreate_error400Message"/>
            <wsdl:fault name="error500" message="tns:serviceRequestCreate_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_SERVICE_REQUEST_HANDLER_ptt-binding" type="tns:PS_REST_CRM_SERVICE_REQUEST_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="serviceRequestCancel">
            <soap:operation soapAction="serviceRequestCancel"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="serviceRequestTracking">
            <soap:operation soapAction="serviceRequestTracking"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OneClickCancellation">
            <soap:operation soapAction="OneClickCancellation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="serviceRequestCreate">
            <soap:operation soapAction="serviceRequestCreate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>