osb_it/repo/SkyIntranetProject/AppFeedBackNow/PS_REST_LDAP_EMPLOYEES/wsdl/SkyIntranetProject_AppFeedBackNow_proxy_PS_REST_LDAP_EMPLOYEES.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_LDAP_EMPLOYEES"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/SkyIntranetProject/PS_REST_LDAP_EMPLOYEES"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/SkyIntranetProject/PS_REST_LDAP_EMPLOYEES"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_LDAP_EMPLOYEES">
        <plnk:role name="PS_REST_LDAP_EMPLOYEESProvider" portType="tns:PS_REST_LDAP_EMPLOYEES_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SkyIntranetProject/AppFeedBackNow/xsd/XSD_LDAP_EMPLOYEES.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="EmployeeInformation_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetEmployeeInformation"/>
    </wsdl:message>
    <wsdl:message name="EmployeeInformation_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetEmployeeInformation"/>
    </wsdl:message>
    <wsdl:message name="EmployeeInformation_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="EmployeeInformation_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="EmployeeInformation_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeLogin_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetEmployeeLogin"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeLogin_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetEmployeeLogin"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeLogin_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeLogin_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetEmployeeLogin_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_LDAP_EMPLOYEES_ptt">
        <wsdl:operation name="GetEmployeeInformation">
            <wsdl:input message="tns:EmployeeInformation_inputMessage"/>
            <wsdl:output message="tns:EmployeeInformation_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:EmployeeInformation_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:EmployeeInformation_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:EmployeeInformation_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="GetEmployeeLogin">
            <wsdl:input message="tns:GetEmployeeLogin_inputMessage"/>
            <wsdl:output message="tns:GetEmployeeLogin_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:GetEmployeeLogin_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:GetEmployeeLogin_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:GetEmployeeLogin_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_LDAP_EMPLOYEES_ptt-binding" type="tns:PS_REST_LDAP_EMPLOYEES_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetEmployeeInformation">
            <soap:operation soapAction="GetEmployeeInformation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetEmployeeLogin">
            <soap:operation soapAction="GetEmployeeLogin"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>