osb_it/repo/BlueBirdProject/SALESFORCE/publicCustomerData/PS_REST_SF_GET_CUSTOMER_DATA/wsdl/BlueBirdProject_SALESFORCE_publicCustomerData_proxy_PS_REST_SF_GET_CUSTOMER_DATA.wsdl

<wsdl:definitions name="PS_REST_SF_GET_CUSTOMER_DATA" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_GET_CUSTOMER_DATA" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_GET_CUSTOMER_DATA" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_GET_CUSTOMER_DATA">
        <plnk:role name="PS_REST_SF_GET_CUSTOMER_DATAProvider" portType="tns:PS_REST_SF_GET_CUSTOMER_DATA_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/publicCustomerData/xsd/XSD_SF_GET_CUSTOMER_DATA.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getPublicCustomerData_inputMessage">
        <wsdl:part name="request" element="inp1:requestPublicCustomerData"/>
    </wsdl:message>
    <wsdl:message name="getPublicCustomerData_outputMessage">
        <wsdl:part name="reply" element="inp1:responsePublicCustomerData"/>
    </wsdl:message>
    <wsdl:message name="getPublicCustomerData_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getPublicCustomerData_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getPublicCustomerData_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_GET_CUSTOMER_DATA_ptt">
        <wsdl:operation name="getPublicCustomerData">
            <wsdl:input message="tns:getPublicCustomerData_inputMessage"/>
            <wsdl:output message="tns:getPublicCustomerData_outputMessage"/>
            <wsdl:fault name="error404" message="tns:getPublicCustomerData_error404Message"/>
            <wsdl:fault name="error400" message="tns:getPublicCustomerData_error400Message"/>
            <wsdl:fault name="error500" message="tns:getPublicCustomerData_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_GET_CUSTOMER_DATA_ptt-binding" type="tns:PS_REST_SF_GET_CUSTOMER_DATA_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getPublicCustomerData">
            <soap:operation soapAction="getPublicCustomerData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>