osb_it/repo/WSCProject/WS/TKM/COBROWSING/PS_WS_TKM_COBROWSING/xsd/XSD_TKM_COBROWSING.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestTKMGetUrlCobrowsingType">
		<xsd:sequence>
			<xsd:element name="custId" type="xsd:string"/>
			<xsd:element name="operatorId" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestTKMGetUrlCobrowsing" type="requestTKMGetUrlCobrowsingType"/>
	<xsd:element name="responseTKMGetUrlCobrowsing" type="responseTKMGetUrlCobrowsingType"/>
	<xsd:complexType name="responseTKMGetUrlCobrowsingType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string"/>
			<xsd:element name="resultDescription" type="xsd:string"/>
			<xsd:element name="urlCobrowsing" type="xsd:string" minOccurs="0"/>
		</xsd:sequence> 
	</xsd:complexType>
</xsd:schema>