esb_it/repo/WS_WSC_LETTURAPENALEINSOLUTI/wsdl/WS_WSC_LETTURAPENALEINSOLUTI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WSC_LETTURAPENALEINSOLUTI.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opLetturaPenaleInsoluti"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLetturaPenaleInsolutiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLetturaPenaleInsolutiRequest"> 
  <wsdl:part element="eb:opLetturaPenaleInsoluti" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLetturaPenaleInsolutiResponse"> 
  <wsdl:part element="eb:opLetturaPenaleInsolutiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC_LETTURAPENALEINSOLUTISoap"> 
  <wsdl:operation name="opLetturaPenaleInsoluti"> 
   <wsdl:input message="eb:opLetturaPenaleInsolutiRequest" name="opLetturaPenaleInsolutiRequest" /> 
   <wsdl:output message="eb:opLetturaPenaleInsolutiResponse" name="opLetturaPenaleInsolutiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC_LETTURAPENALEINSOLUTISoap" type="eb:WS_WSC_LETTURAPENALEINSOLUTISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLetturaPenaleInsoluti"> 
   <soap:operation soapAction="WS_WSC_LETTURAPENALEINSOLUTI/opLetturaPenaleInsoluti" style="document" /> 
   <wsdl:input name="opLetturaPenaleInsolutiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLetturaPenaleInsolutiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC_LETTURAPENALEINSOLUTI"> 
  <wsdl:port binding="eb:WS_WSC_LETTURAPENALEINSOLUTISoap" name="WS_WSC_LETTURAPENALEINSOLUTISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC_LETTURAPENALEINSOLUTI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>