esb_it/repo/WS_SELFCARE_GET_CLI_INFO/wsdl/WS_SELFCARE_GET_CLI_INFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_ACCOUNT_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_STATO_CONTRATTO" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_START_DATE_CONTR" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_FLAG_SET" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetCliInfo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_CODICE_CLIENTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetCliInfoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutGetCliInfo" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetCliInfoRequest"> 
  <wsdl:part element="eb:opGetCliInfo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetCliInfoResponse"> 
  <wsdl:part element="eb:opGetCliInfoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SELFCARE_GET_CLI_INFOSoap"> 
  <wsdl:operation name="opGetCliInfo"> 
   <wsdl:input message="eb:opGetCliInfoRequest" name="opGetCliInfoRequest" /> 
   <wsdl:output message="eb:opGetCliInfoResponse" name="opGetCliInfoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SELFCARE_GET_CLI_INFOSoap" type="eb:WS_SELFCARE_GET_CLI_INFOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetCliInfo"> 
   <soap:operation soapAction="WS_SELFCARE_GET_CLI_INFO/opGetCliInfo" style="document" /> 
   <wsdl:input name="opGetCliInfoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetCliInfoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SELFCARE_GET_CLI_INFO"> 
  <wsdl:port binding="eb:WS_SELFCARE_GET_CLI_INFOSoap" name="WS_SELFCARE_GET_CLI_INFOSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_selfcare/WS_SELFCARE_GET_CLI_INFO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>