osb_it/repo/MDWProject/SetShippingTime/PS_WS_MDW_SET_SHIPPING_TIME/wsdl/MDWProject_SetShippingTime_proxy_PS_WS_MDW_SET_SHIPPING_TIME.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/MDW_SET_SHIPPING_TIME" xmlns:inp1="http://www.skytv.it/mdw/data" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_MDW_SET_SHIPPING_TIME" targetNamespace="http://www.skytv.it/mdw/service/MDW_SET_SHIPPING_TIME">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MDW_SET_SHIPPING_TIME.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="responseStartShippingTime_message">
		<wsdl:part name="part_requestStartShippingTime" element="inp1:requestStartShippingTime"/>
	</wsdl:message>
	<wsdl:message name="requestStartShippingTime_message">
		<wsdl:part name="part_responseStartShippingTime" element="inp1:responseStartShippingTime"/>
	</wsdl:message>
        <wsdl:message name="responseSetShippingTime_message">
		<wsdl:part name="part_requestSetShippingTime" element="inp1:requestSetShippingTime"/>
	</wsdl:message>
	<wsdl:message name="requestSetShippingTime_message">
		<wsdl:part name="part_responseSetShippingTime" element="inp1:responseSetShippingTime"/>
	</wsdl:message>
        <wsdl:message name="responseEndShippingTime_message">
		<wsdl:part name="part_requestEndShippingTime" element="inp1:requestEndShippingTime"/>
	</wsdl:message>
	<wsdl:message name="requestEndShippingTime_message">
		<wsdl:part name="part_responseEndShippingTime" element="inp1:responseEndShippingTime"/>
	</wsdl:message>        
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="MDW_SET_SHIPPING_TIME_ptt">
		<wsdl:operation name="execute_StartShippingTime">
			<wsdl:input message="tns:responseStartShippingTime_message"/>
			<wsdl:output message="tns:requestStartShippingTime_message"/>
		</wsdl:operation>
                <wsdl:operation name="execute_SetShippingTime">
			<wsdl:input message="tns:responseSetShippingTime_message"/>
			<wsdl:output message="tns:requestSetShippingTime_message"/>
		</wsdl:operation>
                <wsdl:operation name="execute_EndShippingTime">
			<wsdl:input message="tns:responseEndShippingTime_message"/>
			<wsdl:output message="tns:requestEndShippingTime_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MDW_SET_SHIPPING_TIME_pttSOAP11Binding" type="tns:MDW_SET_SHIPPING_TIME_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_StartShippingTime">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/MDW_SET_SHIPPING_TIME/execute_StartShippingTime" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestStartShippingTime" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseStartShippingTime" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="execute_SetShippingTime">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/MDW_SET_SHIPPING_TIME/execute_SetShippingTime" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestSetShippingTime" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseSetShippingTime" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="execute_EndShippingTime">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/MDW_SET_SHIPPING_TIME/execute_EndShippingTime" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestEndShippingTime" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseEndShippingTime" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>