esb_it/repo/WS_SKY_TI_MARKETABILITY_IDPDA/wsdl/WS_SKY_TI_MARKETABILITY_IDPDA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:cst="http://telecomitalia.it/SOA/WS_SKY_TI_MARKETABILITY_IDPDA/2014-09-04" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://telecomitalia.it/SOA/WS_SKY_TI_MARKETABILITY_IDPDA/2014-09-04" schemaLocation="xsdTelecom/SkyXSD_SKY_TI_MarketabilityIdpda.xsd" /> 
   <xsd:element name="opMarketabilityIdpda"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="cst:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMarketabilityIdpdaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="cst:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMarketabilityIdpdaRequest"> 
  <wsdl:part element="eb:opMarketabilityIdpda" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMarketabilityIdpdaResponse"> 
  <wsdl:part element="eb:opMarketabilityIdpdaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SKY_TI_MARKETABILITY_IDPDASoap"> 
  <wsdl:operation name="opMarketabilityIdpda"> 
   <wsdl:input message="eb:opMarketabilityIdpdaRequest" name="opMarketabilityIdpdaRequest" /> 
   <wsdl:output message="eb:opMarketabilityIdpdaResponse" name="opMarketabilityIdpdaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SKY_TI_MARKETABILITY_IDPDASoap" type="eb:WS_SKY_TI_MARKETABILITY_IDPDASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMarketabilityIdpda"> 
   <soap:operation soapAction="WS_SKY_TI_MARKETABILITY_IDPDA/opMarketabilityIdpda" style="document" /> 
   <wsdl:input name="opMarketabilityIdpdaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMarketabilityIdpdaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SKY_TI_MARKETABILITY_IDPDA"> 
  <wsdl:port binding="eb:WS_SKY_TI_MARKETABILITY_IDPDASoap" name="WS_SKY_TI_MARKETABILITY_IDPDASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SKY_TI_MARKETABILITY_IDPDA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>