osb_it/repo/BlueBirdProject/SALESFORCE/numberPortabilityDn/PS_REST_SF_NUMBER_PORTABILITY_DN/wadl/BlueBirdProject_SALESFORCE_numberPortabilityDn_proxy_PS_REST_SF_NUMBER_PORTABILITY_DN.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_NUMBER_PORTABILITY_DN" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/numberPortabilityDn/xsd/XSD_SF_NUMBER_PORTABILITY_DN.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{dn}/notifyNumberPortabilityActions">
         <method name="POST" soa:wsdlOperation="notifyNumberPortabilityActions">
            <request>
               <param name="dn" style="template" soa:expression="$property.dn" default="" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:requestNotifyNumberPortabilityActions" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/{dn}/VerifySecretCode">
         <method name="POST" soa:wsdlOperation="VerifySecretCode">
            <request>
               <param name="dn" style="template" soa:expression="$property.dn" default="" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:requestVerifySecretCode" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/{dn}/CancelPortOut">
         <method name="POST" soa:wsdlOperation="CancelPortOut">
            <request>
               <param name="dn" style="template" soa:expression="$property.dn" default="" type="xsd:string"/>
               <representation mediaType="application/json" element="cns:requestCancelPortOut" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>