osb_it/repo/IGFSProject/TokenizerGatewayWSCallMutual/PS_IGFS_TOKENIZER_GATEWAY/xsd/XSD_IGFS_TOKENIZER_GATEWAY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestCheck" type="requestCheckType"/>
	<xsd:element name="responseCheck" type="responseCheckType"/>
	<xsd:complexType name="requestCheckType">
		<xsd:sequence>
			<xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="signature" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="shopID" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="payInstrToken" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseCheckType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="resultCheck" type="resultCheckType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultCheckType">
		<xsd:sequence>
			<xsd:element name="tid" type="xsd:string" minOccurs="1"/>
			<xsd:element name="payInstr" type="xsd:string" minOccurs="0"/>
			<xsd:element name="reqTime" type="xsd:string" minOccurs="0"/>
			<xsd:element name="rc" type="xsd:string" minOccurs="1"/>
			<xsd:element name="error" type="xsd:string" minOccurs="1"/>
			<xsd:element name="errorDesc" type="xsd:string" minOccurs="1"/>
			<xsd:element name="signature" type="xsd:string" minOccurs="1"/>
			<xsd:element name="shopID" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>