osb_it/repo/OTTUkProject/OPTApi/PS_WS_OTT_DEQUEUE_OP/xsd/XSD_SOA_OTT_DEQUEUE_OP.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/osb" 
            targetNamespace="http://www.skytv.it/mdw/osb" elementFormDefault="qualified">
  <xsd:complexType name="LogManagementType">
        <xsd:sequence>
            <xsd:element name="timeStamp" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tid" type="xsd:string" minOccurs="0"/>
            <xsd:element name="severity" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pipeline" type="xsd:string" minOccurs="0"/>
            <xsd:element name="proxy" type="xsd:string" minOccurs="0"/>
            <xsd:element name="sourceSystem" type="xsd:string" minOccurs="0"/>
            <xsd:element name="clientRequestID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="targetSystem" type="xsd:string" minOccurs="0"/>
            <xsd:element name="error_code" type="xsd:string" minOccurs="0"/>
            <xsd:element name="executionTime" type="xsd:string" minOccurs="0"/>
            <xsd:element name="description" type="xsd:string" minOccurs="0"/>
            <xsd:element name="businessID" type="xsd:string" minOccurs="0"/>
            <xsd:element name="header_http" type="xsd:string" minOccurs="0"/>
            <xsd:element name="hostname" type="xsd:string" minOccurs="0"/>
            <xsd:element name="payLoad" type="xsd:anyType" minOccurs="0"/>
            <xsd:element name="soapHeader" type="xsd:anyType" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
  <xsd:complexType name="requestEnqueueOpType">
    <xsd:sequence>
      <xsd:element name="logInfos" type="LogManagementType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="correlationId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="bsName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="serviceName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="bodyRequest" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="responseDequeueOp" type="responseDequeueOpType"/>
  <xsd:complexType name="responseDequeueOpType">
    <xsd:sequence>
      <xsd:element name="logInfos" type="LogManagementType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="bodyResponse" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="requestDequeueOp" type="requestEnqueueOpType"/>
</xsd:schema>