osb_it/repo/SiebelProject/PS_WS_CRM_SIE_INVIA_COMUNICAZIONE/xsd/XSD_CRM_SIE_INVIA_COMUNICAZIONE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestInviaComunicazioniType">
		<xsd:sequence>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="1"/>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="SKYID" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ID_Case_SFDC" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ID_MOP_SFDC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodicePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Template" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ListOfOtherFields" type="ListOfOtherFieldsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestInviaComunicazioni" type="requestInviaComunicazioniType"/>
	<xsd:complexType name="responseInviaComunicazioniType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseInviaComunicazioni" type="responseInviaComunicazioniType"/>
	<xsd:complexType name="ListOfOtherFieldsType">
		<xsd:sequence>
			<xsd:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="Nome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Valore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tipo" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>