osb_it/repo/SCMSproject/ResetPinFromSTB/V2/PS_REST_SCMS_RESET_PIN_FROM_STB_V2/wsdl/SCMSproject_ResetPinFromSTB_V2_proxy_PS_REST_SCMS_RESET_PIN_FROM_STB_V2.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/SCMSproject/PS_REST_SCMS_RESET_PIN_FROM_STB_V2" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_SCMS_RESET_PIN_FROM_STB_V2" targetNamespace="http://xmlns.oracle.com/OSBApplicationSkyReply/SCMSproject/PS_REST_SCMS_RESET_PIN_FROM_STB_V2">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/ResetPinFromSTB_V2/xsd/XSD_SCMS_RESET_PIN_FROM_STB_V2.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="ResetPinFromSTB_V2_inputMessage">
		<wsdl:part name="request" element="inp1:requestResetPinFromSTB_V2"/>
	</wsdl:message>
	<wsdl:message name="ResetPinFromSTB_V2_outputMessage">
		<wsdl:part name="reply" element="inp1:responseResetPinFromSTB_V2"/>
	</wsdl:message>
	<wsdl:message name="ResetPinFromSTB_V2_fault500Message">
		<wsdl:part name="fault_fault500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:message name="ResetPinFromSTB_V2_fault400Message">
		<wsdl:part name="fault_fault400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="ResetPinFromSTB_V2_fault404Message">
		<wsdl:part name="fault_fault404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_SCMS_RESET_PIN_FROM_STB_V2_ptt">
		<wsdl:operation name="ResetPinFromSTB_V2">
			<wsdl:input message="tns:ResetPinFromSTB_V2_inputMessage"/>
			<wsdl:output message="tns:ResetPinFromSTB_V2_outputMessage"/>
			<wsdl:fault name="fault500" message="tns:ResetPinFromSTB_V2_fault500Message"/>
			<wsdl:fault name="fault400" message="tns:ResetPinFromSTB_V2_fault400Message"/>
			<wsdl:fault name="fault404" message="tns:ResetPinFromSTB_V2_fault404Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_SCMS_RESET_PIN_FROM_STB_V2_ptt-binding" type="tns:PS_REST_SCMS_RESET_PIN_FROM_STB_V2_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="ResetPinFromSTB_V2">
			<soap:operation soapAction="ResetPinFromSTB_V2"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_SCMS_RESET_PIN_FROM_STB_V2">
		<plnk:role name="PS_REST_SCMS_RESET_PIN_FROM_STB_V2Provider" portType="tns:PS_REST_SCMS_RESET_PIN_FROM_STB_V2_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>