osb_it/repo/MRMProject/BurnHandler/PS_MRM_BURN_HANDLER/wsdl/MRMProject_BurnHandler_proxy_PS_MRM_BURN_HANDLER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/MRM_BURN_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_MRM_BURN_HANDLER" targetNamespace="http://www.skytv.it/mdw/service/MRM_BURN_HANDLER">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MRM_BURN_HANDLER.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types> 
	<wsdl:message name="requestBurnByHidden_message">
		<wsdl:part name="part_requestBurnByHidden" element="inp1:requestBurnByHidden"/>
	</wsdl:message>
	<wsdl:message name="responseBurnByHidden_message">
		<wsdl:part name="part_responseBurnByHidden" element="inp1:responseBurnByHidden"/>
	</wsdl:message>
	<wsdl:message name="requestCanBurnHidden_message">
		<wsdl:part name="part_requestCanBurnHidden" element="inp1:requestCanBurnHidden"/>
	</wsdl:message>
	<wsdl:message name="responseCanBurnHidden_message">
		<wsdl:part name="part_responseCanBurnHidden" element="inp1:responseCanBurnHidden"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="MRM_BURN_HANDLER_ptt">
		<wsdl:operation name="execute_BurnByHidden">
			<wsdl:input message="tns:requestBurnByHidden_message"/>
			<wsdl:output message="tns:responseBurnByHidden_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_CanBurnHidden">
			<wsdl:input message="tns:requestCanBurnHidden_message"/>
			<wsdl:output message="tns:responseCanBurnHidden_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MRM_BURN_HANDLER_pttSOAP11Binding" type="tns:MRM_BURN_HANDLER_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_BurnByHidden">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/MRM_BURN_HANDLER/execute_BurnByHidden" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestBurnByHidden" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseBurnByHidden" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_CanBurnHidden">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/MRM_BURN_HANDLER/execute_CanBurnHidden" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestCanBurnHidden" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseCanBurnHidden" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>