osb_it/repo/MDWProject/WS/GESTIONE/WALLET/PS_WS_MDW_GESTIONE_WALLET/wsdl/MDWProject_WS_GESTIONE_WALLET_proxy_PS_WS_MDW_GESTIONE_WALLET.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_MDW_GESTIONE_WALLET"
     targetNamespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data"
                        schemaLocation="../../GestioneWallet/xsd/XSD_MDW_GESTIONE_WALLET.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestGetEWalletFlg" element="inp1:requestGetEWalletFlg"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseGetEWalletFlg" element="inp1:responseGetEWalletFlg"/>
    </wsdl:message>
    <wsdl:portType name="WS_MDW_GESTIONE_WALLET_ptt">
        <wsdl:operation name="execute_GetEWalletFlg">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckStatus">
            <wsdl:input message="tns:requestMessageCheckStatus"/>
            <wsdl:output message="tns:replyMessageCheckStatus"/>
        </wsdl:operation>
        <wsdl:operation name="execute_Adesione">
            <wsdl:input message="tns:requestMessageAdesione"/>
            <wsdl:output message="tns:replyMessageAdesione"/>
        </wsdl:operation>
        <wsdl:operation name="execute_Revoca">
            <wsdl:input message="tns:requestMessageRevoca"/>
            <wsdl:output message="tns:replyMessageRevoca"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetCarte">
            <wsdl:input message="tns:requestMessageGetCarte"/>
            <wsdl:output message="tns:replyMessageGetCarte"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_MDW_GESTIONE_WALLET_bind" type="tns:WS_MDW_GESTIONE_WALLET_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetEWalletFlg">
            <soap:operation style="document" soapAction="execute_GetEWalletFlg"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_requestGetEWalletFlg"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_responseGetEWalletFlg"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckStatus">
            <soap:operation soapAction="execute_CheckStatus" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_requestCheckStatus"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_responseCheckStatus"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_Adesione">
            <soap:operation soapAction="execute_Adesione" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_requestAdesione"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_responseAdesione"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_Revoca">
            <soap:operation soapAction="execute_Revoca" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_requestRevoca"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_responseRevoca"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetCarte">
            <soap:operation soapAction="execute_GetCarte" style="document"/>
            <wsdl:input>
                <soap:body namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET"
                           parts="part_requestGetCarte" use="literal"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://www.skytv.it/mdw/service/WS_MDW_GESTIONE_WALLET" use="literal"
                           parts="part_responseGetCarte"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMessageCheckStatus">
        <wsdl:part name="part_requestCheckStatus" element="inp1:requestCheckStatus"/>
    </wsdl:message>
    <wsdl:message name="replyMessageCheckStatus">
        <wsdl:part name="part_responseCheckStatus" element="inp1:responseCheckStatus"/>
    </wsdl:message>
    <wsdl:message name="requestMessageAdesione">
        <wsdl:part name="part_requestAdesione" element="inp1:requestAdesione"/>
    </wsdl:message>
    <wsdl:message name="replyMessageAdesione">
        <wsdl:part name="part_responseAdesione" element="inp1:responseAdesione"/>
    </wsdl:message>
    <wsdl:message name="requestMessageRevoca">
        <wsdl:part name="part_requestRevoca" element="inp1:requestRevoca"/>
    </wsdl:message>
    <wsdl:message name="replyMessageRevoca">
        <wsdl:part name="part_responseRevoca" element="inp1:responseRevoca"/>
    </wsdl:message>
    <wsdl:message name="requestMessageGetCarte">
        <wsdl:part name="part_requestGetCarte" element="inp1:requestGetCarte"/>
    </wsdl:message>
    <wsdl:message name="replyMessageGetCarte">
        <wsdl:part name="part_responseGetCarte" element="inp1:responseGetCarte"/>
    </wsdl:message>
</wsdl:definitions>