osb_it/repo/SCMSproject/DTT/REFRESH/PS_WS_SCMS_DTT_REFRESH/xsd/XSD_SCMS_DTT_REFRESH.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestDTTRefresh" type="requestDTTRefreshType"/>
  <xsd:complexType name="requestDTTRefreshType">
    <xsd:sequence>
      <xsd:element name="serialNumber" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mdwFlgNewSMC" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="responseDTTRefresh" type="responseDTTRefreshType"/>
  <xsd:complexType name="responseDTTRefreshType">
    <xsd:sequence>
      <xsd:element name="Esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Tid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="ResendAllOPPVPacket" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ResendAllOtherPacket" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>