osb_it/repo/InfocertProject/invoices/PS_REST_API_INVOICES/wsdl/InfocertProject_invoices_proxy_PS_REST_API_INVOICES.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_API_INVOICES"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/InfocertProject/PS_REST_API_INVOICES"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/InfocertProject/PS_REST_API_INVOICES"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_API_INVOICES">
        <plnk:role name="PS_REST_API_INVOICESProvider" portType="tns:PS_REST_API_INVOICES_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/InfocertProject/invoices/xsd/XSD_INVOICE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="opRecuperoListaFatture_inputMessage">
        <wsdl:part name="request" element="inp1:requestRecuperoListaFatture"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoListaFatture_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRecuperoListaFatture"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoListaFatture_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoListaFatture_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoListaFatture_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoFileFattura_inputMessage">
        <wsdl:part name="request" element="inp1:requestRecuperoFileFattura"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoFileFattura_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRecuperoFileFattura"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoFileFattura_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoFileFattura_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opRecuperoFileFattura_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="opOutcomeInvoice_inputMessage">
        <wsdl:part name="request" element="inp1:requestOutcomeFattura"/>
    </wsdl:message>
    <wsdl:message name="opOutcomeInvoice_outputMessage">
        <wsdl:part name="reply" element="inp1:responseOutcomeFattura"/>
    </wsdl:message>
    <wsdl:message name="opOutcomeInvoice_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="opOutcomeInvoice_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opOutcomeInvoice_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_API_INVOICES_ptt">
        <wsdl:operation name="opRecuperoListaFatture">
            <wsdl:input message="tns:opRecuperoListaFatture_inputMessage"/>
            <wsdl:output message="tns:opRecuperoListaFatture_outputMessage"/>
            <wsdl:fault name="error404" message="tns:opRecuperoListaFatture_error404Message"/>
            <wsdl:fault name="error400" message="tns:opRecuperoListaFatture_error400Message"/>
            <wsdl:fault name="error500" message="tns:opRecuperoListaFatture_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="opRecuperoFileFattura">
            <wsdl:input message="tns:opRecuperoFileFattura_inputMessage"/>
            <wsdl:output message="tns:opRecuperoFileFattura_outputMessage"/>
            <wsdl:fault name="error404" message="tns:opRecuperoFileFattura_error404Message"/>
            <wsdl:fault name="error400" message="tns:opRecuperoFileFattura_error400Message"/>
            <wsdl:fault name="error500" message="tns:opRecuperoFileFattura_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="opOutcomeInvoice">
            <wsdl:input message="tns:opOutcomeInvoice_inputMessage"/>
            <wsdl:output message="tns:opOutcomeInvoice_outputMessage"/>
            <wsdl:fault name="error404" message="tns:opOutcomeInvoice_error404Message"/>
            <wsdl:fault name="error400" message="tns:opOutcomeInvoice_error400Message"/>
            <wsdl:fault name="error500" message="tns:opOutcomeInvoice_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_API_INVOICES_ptt-binding" type="tns:PS_REST_API_INVOICES_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opRecuperoListaFatture">
            <soap:operation soapAction="opRecuperoListaFatture"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opRecuperoFileFattura">
            <soap:operation soapAction="opRecuperoFileFattura"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="opOutcomeInvoice">
            <soap:operation soapAction="opOutcomeInvoice"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>