esb_it/repo/WS_WSC2_GET_CMDMKPI/wsdl/WS_WSC2_GET_CMDMKPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_GET_CMDMKPI.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGET_CMDMKPI"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGET_CMDMKPIResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGET_CMDMKPIRequest"> 
  <wsdl:part element="eb:opGET_CMDMKPI" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGET_CMDMKPIResponse"> 
  <wsdl:part element="eb:opGET_CMDMKPIResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC2_GET_CMDMKPISoap"> 
  <wsdl:operation name="opGET_CMDMKPI"> 
   <wsdl:input message="eb:opGET_CMDMKPIRequest" name="opGET_CMDMKPIRequest" /> 
   <wsdl:output message="eb:opGET_CMDMKPIResponse" name="opGET_CMDMKPIResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC2_GET_CMDMKPISoap" type="eb:WS_WSC2_GET_CMDMKPISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGET_CMDMKPI"> 
   <soap:operation soapAction="WS_WSC2_GET_CMDMKPI/opGET_CMDMKPI" style="document" /> 
   <wsdl:input name="opGET_CMDMKPIRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGET_CMDMKPIResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC2_GET_CMDMKPI"> 
  <wsdl:port binding="eb:WS_WSC2_GET_CMDMKPISoap" name="WS_WSC2_GET_CMDMKPISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC2_GET_CMDMKPI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>