esb_it/repo/WS_LS_RICHIESTE_EAE_TO_CW/wsdl/WS_LS_RICHIESTE_EAE_TO_CW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" minOccurs="0" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdine" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_NUMERO_ORDINE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DATA_INSERIM" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_MODIFICA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_NOME_PRODOTTO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_DEALER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CANALE_VENDITA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CARD_CARRIER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TIPO_VETTORE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DM" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_QUARTINO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_ADDITIONAL_INFO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MATRICOLA_OLD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_SPEGNIMENTO_SMC" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_APPUNTAMENTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATI_CONTRATTO_FML32" type="eb:FMLComplexDatiContratto" /> 
     <xsd:element maxOccurs="2" name="LS_DATI_CLIENTE_FML32" type="eb:FMLComplexDatiCliente" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="LS_DETTAGLIO_ORDINE_FML32" type="eb:FMLComplexDettaglioOrdine" /> 
     <xsd:element name="LS_DELIVERY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_LINK_STAMPE_PDF" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDatiContratto"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="LS_AMBIENTE_SERVIZIO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SERVIZIO_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_ACCOUNT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_OPTIONS" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CPI_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_WELCOMEKIT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CONTRASSEGNO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TECNOLOGIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_STAMPA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TIPO_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_PRONTO_SKY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PROMOZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CHANGE_ORDER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_IMPORTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SKY_Q_BLACK_FLG" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MOD_TRACKING" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDatiCliente"> 
    <xsd:sequence> 
     <xsd:element name="LS_EMAIL" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_PRIORITA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DESTINATARIO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_INDIRIZZO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CITOFONO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAP" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CITTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_PROVINCIA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TELEFONO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SEGMENTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_COMPLESSO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SCALA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PIANO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_INTERNO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDettaglioOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_QUANTITA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_PRODOTTO_LOGISTICO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_RITIRO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAUSALE_STB" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MOTIVO_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_NEW_AS_REFURB" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:element name="OPERAZIONE_RICHIESTE_EAE_TO_CW"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_MAGAZZINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_CW_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OPERAZIONE_RICHIESTE_EAE_TO_CWResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OPERAZIONE_RICHIESTE_EAE_TO_CWRequest"> 
  <wsdl:part element="eb:OPERAZIONE_RICHIESTE_EAE_TO_CW" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OPERAZIONE_RICHIESTE_EAE_TO_CWResponse"> 
  <wsdl:part element="eb:OPERAZIONE_RICHIESTE_EAE_TO_CWResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_RICHIESTE_EAE_TO_CWSoap"> 
  <wsdl:operation name="OPERAZIONE_RICHIESTE_EAE_TO_CW"> 
   <wsdl:input message="eb:OPERAZIONE_RICHIESTE_EAE_TO_CWRequest" name="OPERAZIONE_RICHIESTE_EAE_TO_CWRequest" /> 
   <wsdl:output message="eb:OPERAZIONE_RICHIESTE_EAE_TO_CWResponse" name="OPERAZIONE_RICHIESTE_EAE_TO_CWResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_RICHIESTE_EAE_TO_CWSoap" type="eb:WS_LS_RICHIESTE_EAE_TO_CWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OPERAZIONE_RICHIESTE_EAE_TO_CW"> 
   <soap:operation soapAction="WS_LS_RICHIESTE_EAE_TO_CW/OPERAZIONE_RICHIESTE_EAE_TO_CW" style="document" /> 
   <wsdl:input name="OPERAZIONE_RICHIESTE_EAE_TO_CWRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OPERAZIONE_RICHIESTE_EAE_TO_CWResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_RICHIESTE_EAE_TO_CW"> 
  <wsdl:port binding="eb:WS_LS_RICHIESTE_EAE_TO_CWSoap" name="WS_LS_RICHIESTE_EAE_TO_CWSoap"> 
   <soap:address location="http://wscol.sky.it:9100/wsexistbus/ws_magazzino/WS_LS_RICHIESTE_EAE_TO_CW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>