esb_it/repo/WS_VMS_MASSIVE_REBRAND/wsdl/WS_VMS_MASSIVE_REBRAND.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPERATORE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_TRANSACTION_ID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CRM_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CRM_MAGAZ" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_REQUESTED_BY" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_NUMERO_CARTE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_FLAG_ACTIVATE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="WS_ROOT_FML32" type="eb:FMLComplexRoot" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexRoot"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="MRM_SERIAL_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CRM_ACCOUNT_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="MRM_AMOUNT" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="MRM_TYPE_VOUCHER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CRM_CODICE_DEALER" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_NUM_SC" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_TRANSACTION_ID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_NUM_SC_API" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_FML32" type="eb:FMLComplexFML" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexFML"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="MRM_SERIAL_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPPV_ERROR_DESCR" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMassiveRebrand"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMassiveRebrandResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMassiveRebrandRequest"> 
  <wsdl:part element="eb:opMassiveRebrand" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMassiveRebrandResponse"> 
  <wsdl:part element="eb:opMassiveRebrandResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_VMS_MASSIVE_REBRANDSoap"> 
  <wsdl:operation name="opMassiveRebrand"> 
   <wsdl:input message="eb:opMassiveRebrandRequest" name="opMassiveRebrandRequest" /> 
   <wsdl:output message="eb:opMassiveRebrandResponse" name="opMassiveRebrandResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_VMS_MASSIVE_REBRANDSoap" type="eb:WS_VMS_MASSIVE_REBRANDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMassiveRebrand"> 
   <soap:operation soapAction="WS_VMS_MASSIVE_REBRAND/opMassiveRebrand" style="document" /> 
   <wsdl:input name="opMassiveRebrandRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMassiveRebrandResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_VMS_MASSIVE_REBRAND"> 
  <wsdl:port binding="eb:WS_VMS_MASSIVE_REBRANDSoap" name="WS_VMS_MASSIVE_REBRANDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_VMS_MASSIVE_REBRAND" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>