osb_it/repo/MDWProject/KeepAlive/PS_WS_MDW_IS_ALIVE/xsd/XSD_MDW_KEEPALIVE.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">

  <!-- ELEMENTS -->
  <xsd:element name="requestJsonKeepAlive" type="genericType" />
  <xsd:element name="responseJsonKeepAlive" type="genericType" />
  
  <xsd:element name="requestIsAlive" type="genericType" />
  <xsd:element name="responseIsAlive" type="genericType" />
  
  <!-- TYPES -->
  <xsd:complexType name="genericType">
    <xsd:sequence>
      <xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="errorCodeToRaise" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="mdwTid" type="xsd:string" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>