esb_it/repo/WS_IVR_CHECK_ESIG/wsdl/WS_IVR_CHECK_ESIG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUMERO_ESIGENZE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_ESIGENZA" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_CHECK_ESIG"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NAME_SMS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CONNID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_CHECK_ESIGResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CHECKESIG_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_CHECK_ESIGRequest"> 
  <wsdl:part element="eb:OP_CHECK_ESIG" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_CHECK_ESIGResponse"> 
  <wsdl:part element="eb:OP_CHECK_ESIGResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_CHECK_ESIGSoap"> 
  <wsdl:operation name="OP_CHECK_ESIG"> 
   <wsdl:input message="eb:OP_CHECK_ESIGRequest" name="OP_CHECK_ESIGRequest" /> 
   <wsdl:output message="eb:OP_CHECK_ESIGResponse" name="OP_CHECK_ESIGResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_CHECK_ESIGSoap" type="eb:WS_IVR_CHECK_ESIGSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_CHECK_ESIG"> 
   <soap:operation soapAction="WS_IVR_CHECK_ESIG/OP_CHECK_ESIG" style="document" /> 
   <wsdl:input name="OP_CHECK_ESIGRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_CHECK_ESIGResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_CHECK_ESIG"> 
  <wsdl:port binding="eb:WS_IVR_CHECK_ESIGSoap" name="WS_IVR_CHECK_ESIGSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_CHECK_ESIG" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>