esb_it/repo/WS_SM_SBL_WORK_ORDER_PRINT/wsdl/WS_SM_SBL_WORK_ORDER_PRINT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdSM/SkyXSD_SM_SBL_WORK_ORDER_PRINT.xsd" /> 
   <xsd:complexType name="InputWorkOrderPrint"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:RequestWorkOrderPrintType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputWorkOrderPrint"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:ResponseWorkOrderPrintType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opWorkOrderPrint"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestWorkOrderPrint" type="eb:InputWorkOrderPrint" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opWorkOrderPrintResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseWorkOrderPrint" type="eb:OutputWorkOrderPrint" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opWorkOrderPrintRequest"> 
  <wsdl:part element="eb:opWorkOrderPrint" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opWorkOrderPrintResponse"> 
  <wsdl:part element="eb:opWorkOrderPrintResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SM_SBL_WORK_ORDER_PRINTSoap"> 
  <wsdl:operation name="opWorkOrderPrint"> 
   <wsdl:input message="eb:opWorkOrderPrintRequest" name="opWorkOrderPrintRequest" /> 
   <wsdl:output message="eb:opWorkOrderPrintResponse" name="opWorkOrderPrintResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SM_SBL_WORK_ORDER_PRINTSoap" type="eb:WS_SM_SBL_WORK_ORDER_PRINTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opWorkOrderPrint"> 
   <soap:operation soapAction="WS_SM_SBL_WORK_ORDER_PRINT/opWorkOrderPrint" style="document" /> 
   <wsdl:input name="opWorkOrderPrintRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opWorkOrderPrintResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SM_SBL_WORK_ORDER_PRINT"> 
  <wsdl:port binding="eb:WS_SM_SBL_WORK_ORDER_PRINTSoap" name="WS_SM_SBL_WORK_ORDER_PRINTSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf/WS_SM_SBL_WORK_ORDER_PRINT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>