esb_it/repo/WS_NAMIRIAL_SF_NOTIFICATION/xsd/SkyXSD_WS_SF_NAMIRIAL_NOTIFICATION.xsd

<xsd:schema xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_SF_NAMIRIAL_NOTIFICATION" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://soap.sforce.com/schemas/class/WS_SF_NAMIRIAL_NOTIFICATION" elementFormDefault="qualified"> 
 <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" /> 
 <xsd:element name="AllowFieldTruncationHeader"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="allowFieldTruncation" type="xsd:boolean" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:element name="CallOptions"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="client" type="xsd:string" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:element name="DebuggingHeader"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="categories" type="tns:LogInfo" minOccurs="0" maxOccurs="unbounded" /> 
    <xsd:element name="debugLevel" type="tns:LogType" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:complexType name="LogInfo"> 
  <xsd:sequence> 
   <xsd:element name="category" type="tns:LogCategory" /> 
   <xsd:element name="level" type="tns:LogCategoryLevel" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:simpleType name="LogCategory"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="Db" /> 
   <xsd:enumeration value="Workflow" /> 
   <xsd:enumeration value="Validation" /> 
   <xsd:enumeration value="Callout" /> 
   <xsd:enumeration value="Apex_code" /> 
   <xsd:enumeration value="Apex_profiling" /> 
   <xsd:enumeration value="Visualforce" /> 
   <xsd:enumeration value="System" /> 
   <xsd:enumeration value="All" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="LogCategoryLevel"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="Internal" /> 
   <xsd:enumeration value="Finest" /> 
   <xsd:enumeration value="Finer" /> 
   <xsd:enumeration value="Fine" /> 
   <xsd:enumeration value="Debug" /> 
   <xsd:enumeration value="Info" /> 
   <xsd:enumeration value="Warn" /> 
   <xsd:enumeration value="Error" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="LogType"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="None" /> 
   <xsd:enumeration value="Debugonly" /> 
   <xsd:enumeration value="Db" /> 
   <xsd:enumeration value="Profiling" /> 
   <xsd:enumeration value="Callout" /> 
   <xsd:enumeration value="Detail" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:element name="DebuggingInfo"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="debugLog" type="xsd:string" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:element name="SessionHeader"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="sessionId" type="xsd:string" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:simpleType name="ID"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:length value="18" /> 
   <xsd:pattern value="[a-zA-Z0-9]{18}" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:complexType name="WS_SF_NAMIRIAL_NOTIFICATION_Input"> 
  <xsd:sequence> 
   <xsd:element name="channel" type="xsd:string" nillable="true" minOccurs="0" /> 
   <xsd:element name="counter" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="faultMessage" type="xsd:string" nillable="true" minOccurs="0" /> 
   <xsd:element name="filePath" type="xsd:string" nillable="true" minOccurs="0" /> 
   <xsd:element name="notificationCode" type="xsd:string" nillable="true" minOccurs="0" /> 
   <xsd:element name="orderNum" type="xsd:string" nillable="true" minOccurs="0" /> 
   <xsd:element name="recordId" type="xsd:string" nillable="true" minOccurs="0" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="WS_SF_NAMIRIAL_NOTIFICATION_Output"> 
  <xsd:sequence> 
   <xsd:element name="faultCode" type="xsd:string" nillable="true" minOccurs="0" /> 
   <xsd:element name="faultMessage" type="xsd:string" nillable="true" minOccurs="0" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="address"> 
  <xsd:complexContent> 
   <xsd:extension base="tns:location"> 
    <xsd:sequence> 
     <xsd:element name="city" type="xsd:string" /> 
     <xsd:element name="country" type="xsd:string" /> 
     <xsd:element name="countryCode" type="xsd:string" /> 
     <xsd:element name="postalCode" type="xsd:string" /> 
     <xsd:element name="state" type="xsd:string" /> 
     <xsd:element name="stateCode" type="xsd:string" /> 
     <xsd:element name="street" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:extension> 
  </xsd:complexContent> 
 </xsd:complexType> 
 <xsd:complexType name="location"> 
  <xsd:sequence> 
   <xsd:element name="latitude" type="xsd:double" /> 
   <xsd:element name="longitude" type="xsd:double" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="handleNotification"> 
  <xsd:sequence> 
   <xsd:element name="notification_input" type="tns:WS_SF_NAMIRIAL_NOTIFICATION_Input" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="handleNotificationResponse"> 
  <xsd:sequence> 
   <xsd:element name="result" type="tns:WS_SF_NAMIRIAL_NOTIFICATION_Output" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
</xsd:schema>