esb_it/repo/WS_INVOKE_WS_CHECKALIVE/wsdl/WS_INVOKE_WS_CHECKALIVE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_PARAM_1" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_USERNAME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_PASSWORD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_SID" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_PARAM_1" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_PARAM_2" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opInvoke"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StrIn" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opInvokeResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StrOut" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opInvokeRequest"> 
  <wsdl:part element="eb:opInvoke" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opInvokeResponse"> 
  <wsdl:part element="eb:opInvokeResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_INVOKE_WS_CHECKALIVESoap"> 
  <wsdl:operation name="opInvoke"> 
   <wsdl:input message="eb:opInvokeRequest" name="opInvokeRequest" /> 
   <wsdl:output message="eb:opInvokeResponse" name="opInvokeResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_INVOKE_WS_CHECKALIVESoap" type="eb:WS_INVOKE_WS_CHECKALIVESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opInvoke"> 
   <soap:operation soapAction="WS_INVOKE_WS_CHECKALIVE/opInvoke" style="document" /> 
   <wsdl:input name="opInvokeRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opInvokeResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_INVOKE_WS_CHECKALIVE"> 
  <wsdl:port binding="eb:WS_INVOKE_WS_CHECKALIVESoap" name="WS_INVOKE_WS_CHECKALIVESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_INVOKE_WS_CHECKALIVE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>