esb_it/repo/AbilitaSmc/wsdl/AbilitaSmc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_ABILITA_SMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="codice_hotel" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="flag_abilitazione" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="descrizione_stanza" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="id_chiave_hotel" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_ABILITA_SMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="descrizione_esito" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_ABILITA_SMCRequest"> 
  <wsdl:part element="eb:OP_ABILITA_SMC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_ABILITA_SMCResponse"> 
  <wsdl:part element="eb:OP_ABILITA_SMCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="AbilitaSmcSoap"> 
  <wsdl:operation name="OP_ABILITA_SMC"> 
   <wsdl:input message="eb:OP_ABILITA_SMCRequest" name="OP_ABILITA_SMCRequest" /> 
   <wsdl:output message="eb:OP_ABILITA_SMCResponse" name="OP_ABILITA_SMCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="AbilitaSmcSoap" type="eb:AbilitaSmcSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_ABILITA_SMC"> 
   <soap:operation soapAction="AbilitaSmc/OP_ABILITA_SMC" style="document" /> 
   <wsdl:input name="OP_ABILITA_SMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_ABILITA_SMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="AbilitaSmc"> 
  <wsdl:port binding="eb:AbilitaSmcSoap" name="AbilitaSmcSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/AbilitaSmc" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>