osb_it/repo/BlueBirdProject/OSS/coverage/PS_REST_OSS_COVERAGE/wsdl/BlueBirdProject_OSS_coverage_proxy_PS_REST_OSS_COVERAGE.wsdl

<wsdl:definitions name="PS_REST_OSS_COVERAGE" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_OSS_COVERAGE" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_OSS_COVERAGE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_OSS_COVERAGE">
        <plnk:role name="PS_REST_OSS_COVERAGEProvider" portType="tns:PS_REST_OSS_COVERAGE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/OSS/coverage/xsd/XSD_OSS_COVERAGE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="checkCoverage_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckCoverage"/>
    </wsdl:message>
    <wsdl:message name="checkCoverage_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckCoverage"/>
    </wsdl:message>
    <wsdl:message name="checkCoverage_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="checkCoverage_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="checkCoverage_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_OSS_COVERAGE_ptt">
        <wsdl:operation name="checkCoverage">
            <wsdl:input message="tns:checkCoverage_inputMessage"/>
            <wsdl:output message="tns:checkCoverage_outputMessage"/>
            <wsdl:fault name="error404" message="tns:checkCoverage_error404Message"/>
            <wsdl:fault name="error400" message="tns:checkCoverage_error400Message"/>
            <wsdl:fault name="error500" message="tns:checkCoverage_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_OSS_COVERAGE_ptt-binding" type="tns:PS_REST_OSS_COVERAGE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkCoverage">
            <soap:operation soapAction="checkCoverage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>