esb_it/repo/WS_SCMS_INIT_CONNECTOR/wsdl/WS_SCMS_INIT_CONNECTOR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opInitConnector"> 
    <xsd:complexType> 
     <xsd:sequence /> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opInitConnectorResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opInitConnectorRequest"> 
  <wsdl:part element="eb:opInitConnector" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opInitConnectorResponse"> 
  <wsdl:part element="eb:opInitConnectorResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_INIT_CONNECTORSoap"> 
  <wsdl:operation name="opInitConnector"> 
   <wsdl:input message="eb:opInitConnectorRequest" name="opInitConnectorRequest" /> 
   <wsdl:output message="eb:opInitConnectorResponse" name="opInitConnectorResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_INIT_CONNECTORSoap" type="eb:WS_SCMS_INIT_CONNECTORSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opInitConnector"> 
   <soap:operation soapAction="WS_SCMS_INIT_CONNECTOR/opInitConnector" style="document" /> 
   <wsdl:input name="opInitConnectorRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opInitConnectorResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_INIT_CONNECTOR"> 
  <wsdl:port binding="eb:WS_SCMS_INIT_CONNECTORSoap" name="WS_SCMS_INIT_CONNECTORSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_INIT_CONNECTOR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>