osb_it/repo/KENANProject/checkMigratedAccount/PS_REST_KNN_ACCOUNT_MIGRATION/wsdl/KENANProject_checkMigratedAccount_proxy_PS_REST_KNN_ACCOUNT_MIGRATION.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_KNN_ACCOUNT_MIGRATION"
     targetNamespace="http://xmlns.oracle.com/OSBSvil/KENANProject/PS_REST_KNN_ACCOUNT_MIGRATION"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil/KENANProject/PS_REST_KNN_ACCOUNT_MIGRATION"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_KNN_ACCOUNT_MIGRATION">
        <plnk:role name="PS_REST_KNN_ACCOUNT_MIGRATIONProvider" portType="tns:PS_REST_KNN_ACCOUNT_MIGRATION_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/KenanProject/checkMigratedAccount/xsd/XSD_KNN_ACCOUNT_MIGRATION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Check_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckMigratedAccount"/>
    </wsdl:message>
    <wsdl:message name="Check_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckMigratedAccount"/>
    </wsdl:message>
    <wsdl:message name="Check_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="Check_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="Check_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KNN_ACCOUNT_MIGRATION_ptt">
        <wsdl:operation name="Check">
            <wsdl:input message="tns:Check_inputMessage"/>
            <wsdl:output message="tns:Check_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:Check_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:Check_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:Check_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KNN_ACCOUNT_MIGRATION_ptt-binding" type="tns:PS_REST_KNN_ACCOUNT_MIGRATION_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Check">
            <soap:operation soapAction="Check"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>