osb_it/repo/AssistProject/SkyMail/PS_WS_ASSIST_SKY_MAIL/wsdl/AssistProject_SkyMail_proxy_PS_WS_ASSIST_SKY_MAIL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/ASSIST_SKY_MAIL" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_ASSIST_SKY_MAIL" targetNamespace="http://www.skytv.it/mdw/service/ASSIST_SKY_MAIL">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_ASSIST_SKY_MAIL.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestWebmailCategorizer_Message">
		<wsdl:part name="part_requestWebmailCategorizer" element="inp1:requestWebmailCategorizer"/>
	</wsdl:message>
	<wsdl:message name="responseWebmailCategorizer_Message">
		<wsdl:part name="part_responseWebmailCategorizer" element="inp1:responseWebmailCategorizer"/>
	</wsdl:message>
	<wsdl:message name="requestProcessingSkyAgent_Message">
		<wsdl:part name="part_requestProcessingSkyAgent" element="inp1:requestProcessingSkyAgent"/>
	</wsdl:message>
	<wsdl:message name="responseProcessingSkyAgent_Message">
		<wsdl:part name="part_responseProcessingSkyAgent" element="inp1:responseProcessingSkyAgent"/>
	</wsdl:message>
	<wsdl:message name="header_Message">
		<wsdl:part name="part_Header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="ASSIST_SKY_MAIL_ptt">
		<wsdl:operation name="execute_WebmailCategorizer">
			<wsdl:input message="tns:requestWebmailCategorizer_Message"/>
			<wsdl:output message="tns:responseWebmailCategorizer_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_ProcessingSkyAgent">
			<wsdl:input message="tns:requestProcessingSkyAgent_Message"/>
			<wsdl:output message="tns:responseProcessingSkyAgent_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ASSIST_SKY_MAIL_bind" type="tns:ASSIST_SKY_MAIL_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_WebmailCategorizer">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/ASSIST_SKY_MAIL/execute_WebmailCategorizer" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestWebmailCategorizer" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseWebmailCategorizer" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_ProcessingSkyAgent">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/ASSIST_SKY_MAIL/execute_ProcessingSkyAgent" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestProcessingSkyAgent" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseProcessingSkyAgent" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>