osb_it/repo/BlueBirdProject/OM/orderValidation/PS_REST_OM_ORDER_VALIDATION/xsd/XSD_OM_ORDER_VALIDATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestValidateOrder" type="requestValidateOrderType"/>
	<xsd:element name="responseValidateOrder" type="responseValidateOrderType"/>
	<xsd:complexType name="requestValidateOrderType">
		<xsd:sequence>
			<xsd:element name="OrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ApplicationOrigin" type="xsd:string"/>
			<xsd:element name="SalesChannel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderType" type="xsd:string"/>
			<xsd:element name="OrderSubType" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="OrderNumberBB" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseValidateOrderType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1" />
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resultValidateOrder" type="resultValidateOrderType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultValidateOrderType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string" minOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="1"/>
			<xsd:element name="OrderSubType" type="OrderSubType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OrderSubType">
		<xsd:sequence>
			<xsd:element name="Result" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Reason" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SubType" type="xsd:string" minOccurs="1"/>
			<xsd:element name="IsSchedulableFlag" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="deviceQuantity" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="boosterQT" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>