osb_it/repo/SCMSproject/Riccdc/WS_CRM_GESTIONE_PPV_RICCDC/xsd/XSD_CRM_GESTIONE_PPV_RICCDC.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestRICCDC" type="requestRICCDCType"/>
	<xsd:complexType name="requestRICCDCType">
		<xsd:sequence>
			<xsd:element name="flagsync" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="box" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="clientid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="operator" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="execdate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="typesrvreq" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="idcaller" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="idrecharge" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="numero_cdc" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="scadenza_cdc" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="amount" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseRICCDC" type="responseRICCDCType"/>
	<xsd:complexType name="responseRICCDCType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string" maxOccurs="1"/>
			<xsd:element name="ndserr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="transid" type="xsd:string" maxOccurs="1"/>
			<xsd:element name="feecost" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="voucher" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="walletcreated" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="voucherserial" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="grantedcredit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="descriptionerr" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="originalcredit" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="promos" type="promosType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="wallet" type="walletType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="promosType">
		<xsd:sequence>
			<xsd:element name="promo" type="PromoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PromoType">
		<xsd:sequence>
			<xsd:element name="catalogid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="kind" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="details" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="prclass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="subclass" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="walletType">
		<xsd:sequence>
			<xsd:element name="smcs" type="ListOfSMCType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="credits" type="ListOfCreditsType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfSMCType">
		<xsd:sequence>
			<xsd:element name="smc" type="SMCType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SMCType">
		<xsd:sequence>
			<xsd:element name="box" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastpdate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="lastpref" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfCreditsType">
		<xsd:sequence>
			<xsd:element name="credit" type="CreditType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreditType">
		<xsd:sequence>
			<xsd:element name="priority" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="creationdate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="expirationdate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="amount" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="typename" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>