osb_it/repo/SCMSproject/PS_WS_SKYGO_PREACTIVATED/xsd/XSD_SKYGO_PREACTIVATED.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestPRESGO" type="requestAttivazioneSkyGoType"/>
	<xsd:element name="requestDEASGO" type="requestDeattivazioneSkyGoType"/>
	<xsd:element name="responsePRESGO" type="responseSkyGoType"/>
	<xsd:element name="responseDEASGO" type="responseSkyGoType"/>
	<xsd:complexType name="requestAttivazioneSkyGoType">
		<xsd:sequence>
			<xsd:element name="actioncode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="flagsync" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="clientid" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<xsd:element name="operator" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
			<xsd:element name="execdate" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
			<xsd:element name="priority" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
			<xsd:element name="typesrvreq" type="xsd:string"  minOccurs="0" maxOccurs="1"/>
			<xsd:element name="format" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="corp" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<xsd:element name="customerid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="account" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="skygooffer" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			
			
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseSkyGoType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string"  minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ndserr" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="transid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="descriptionerr" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="requestDeattivazioneSkyGoType">
		<xsd:sequence>
			<xsd:element name="actioncode" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="flagsync" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="clientid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="operator" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="execdate" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="priority" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="typesrvreq" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="format" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="corp" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="customerid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="account" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>