osb_it/repo/BlueBirdProject/TEOCO/execHealtCheck/PS_REST_TEOCO_HEALT_CHECK_TEST/wsdl/BlueBirdProject_TEOCO_execHealtCheck_proxy_PS_REST_TEOCO_HEALT_CHECK_TEST.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_TEOCO_HEALT_CHECK_TEST"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_TEOCO_HEALT_CHECK_TEST"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_TEOCO_HEALT_CHECK_TEST"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_TEOCO_HEALT_CHECK_TEST">
        <plnk:role name="PS_REST_TEOCO_HEALT_CHECK_TESTProvider" portType="tns:PS_REST_TEOCO_HEALT_CHECK_TEST_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/TEOCO/healtCheckTest/xsd/XSD_TEOCO_HEALT_CHECK_TEST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="execHealtCheck_inputMessage">
        <wsdl:part name="request" element="inp1:requestExecHealtCheck"/>
    </wsdl:message>
    <wsdl:message name="execHealtCheck_outputMessage">
        <wsdl:part name="reply" element="inp1:responseExecHealtCheck"/>
    </wsdl:message>
    <wsdl:message name="execHealtCheck_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="execHealtCheck_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="execHealtCheck_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getDataHealtCheck_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetDataHealtCheck"/>
    </wsdl:message>
    <wsdl:message name="getDataHealtCheck_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetDataHealtCheck"/>
    </wsdl:message>
    <wsdl:message name="getDataHealtCheck_Error400Message">
        <wsdl:part name="fault_Error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getDataHealtCheck_Error500Message">
        <wsdl:part name="fault_Error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getDataHealtCheck_Error404Message">
        <wsdl:part name="fault_Error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_TEOCO_HEALT_CHECK_TEST_ptt">
        <wsdl:operation name="execHealtCheck">
            <wsdl:input message="tns:execHealtCheck_inputMessage"/>
            <wsdl:output message="tns:execHealtCheck_outputMessage"/>
            <wsdl:fault name="error400" message="tns:execHealtCheck_error400Message"/>
            <wsdl:fault name="error500" message="tns:execHealtCheck_error500Message"/>
            <wsdl:fault name="error404" message="tns:execHealtCheck_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="getDataHealtCheck">
            <wsdl:input message="tns:getDataHealtCheck_inputMessage"/>
            <wsdl:output message="tns:getDataHealtCheck_outputMessage"/>
            <wsdl:fault name="Error400" message="tns:getDataHealtCheck_Error400Message"/>
            <wsdl:fault name="Error500" message="tns:getDataHealtCheck_Error500Message"/>
            <wsdl:fault name="Error404" message="tns:getDataHealtCheck_Error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_TEOCO_HEALT_CHECK_TEST_ptt-binding" type="tns:PS_REST_TEOCO_HEALT_CHECK_TEST_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execHealtCheck">
            <soap:operation soapAction="execHealtCheck"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getDataHealtCheck">
            <soap:operation soapAction="getDataHealtCheck"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>