esb_it/repo/WS_SCMS_EXECUTE_CMPDEV/wsdl/WS_SCMS_EXECUTE_CMPDEV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestCMPDEV"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="customerid" type="xsd:string" /> 
     <xsd:element name="deviceid" type="xsd:string" /> 
     <xsd:element name="deviceuuid" type="xsd:string" /> 
     <xsd:element name="devicetype" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseCMPDEV"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCMPDEV"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestCMPDEV" type="eb:requestCMPDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCMPDEVResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseCMPDEV" type="eb:responseCMPDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCMPDEVRequest"> 
  <wsdl:part element="eb:opCMPDEV" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCMPDEVResponse"> 
  <wsdl:part element="eb:opCMPDEVResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_CMPDEVSoap"> 
  <wsdl:operation name="opCMPDEV"> 
   <wsdl:input message="eb:opCMPDEVRequest" name="opCMPDEVRequest" /> 
   <wsdl:output message="eb:opCMPDEVResponse" name="opCMPDEVResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_CMPDEVSoap" type="eb:WS_SCMS_EXECUTE_CMPDEVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCMPDEV"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_CMPDEV/opCMPDEV" style="document" /> 
   <wsdl:input name="opCMPDEVRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCMPDEVResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_CMPDEV"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_CMPDEVSoap" name="WS_SCMS_EXECUTE_CMPDEVSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_CMPDEV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>