osb_it/repo/BlueBirdProject/SALESFORCE/exitFee/PS_REST_SF_EXIT_FEE/xsd/XSD_SF_EXIT_FEE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
    <xsd:element name="requestRetrieveExitFee" type="requestRetrieveExitFeeType"/>
    <xsd:complexType name="requestRetrieveExitFeeType">
            <xsd:sequence>
              <xsd:element name="channel" type="xsd:string" minOccurs="0"/>
              <xsd:element name="feeInfoCode" type="xsd:string" minOccurs="1"/>
              <xsd:element name="e2eContractId" type="xsd:string" minOccurs="1"/>
              <xsd:element name="contractId" type="xsd:string" minOccurs="0"/>
              <xsd:element name="churnReason" type="xsd:string" minOccurs="0"/>
              <xsd:element name="churnTypeTV" type="xsd:string" minOccurs="0"/>
              <xsd:element name="churnTypeBB" type="xsd:string" minOccurs="0"/>
              <xsd:element name="contractComponent" type="xsd:string" minOccurs="1"/>
              <xsd:element name="requestDate" type="xsd:date" minOccurs="1"/>
            </xsd:sequence>
    </xsd:complexType>
    
    <xsd:element name="responseRetrieveExitFee" type="responseRetrieveExitFeeType"/>
  <xsd:complexType name="responseRetrieveExitFeeType">
    <xsd:sequence>
      <xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="resultDescription" type="xsd:string" minOccurs="1"/>
      <xsd:element name="data" type="RetrieveExitFeeDataType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="RetrieveExitFeeDataType">
    <xsd:sequence>
      <xsd:element name="contractComponent" type="xsd:string" minOccurs="1"/>
      <xsd:element name="feeInfoCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="contracts" type="contractsDataType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="contractsDataType">
    <xsd:sequence>
      <xsd:element name="contract" type="contractDataType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="contractDataType">
    <xsd:sequence>
      <xsd:element name="e2eContractId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="contractId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="exitFee" type="xsd:string" minOccurs="0"/>
      <xsd:element name="contractType" type="xsd:string" minOccurs="1"/>
      <xsd:element name="deactivationMigrationCost" type="xsd:string" minOccurs="0"/>
      <xsd:element name="expectedCeaseDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="expectedCeaseBillingDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="expectedFreeVisionCeaseDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="expextedExitFeeReleaseDate" type="xsd:date" minOccurs="0"/>
      <xsd:element name="notes" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>  
</xsd:schema>