esb_it/repo/WS_LETTURA_PROMO/wsdl/WS_LETTURA_PROMO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_NUM_PROMO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PROMO_SEGMENT" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opLetturaPromo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_MEDIA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLetturaPromoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ComplexOutput" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLetturaPromoRequest"> 
  <wsdl:part element="eb:opLetturaPromo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLetturaPromoResponse"> 
  <wsdl:part element="eb:opLetturaPromoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LETTURA_PROMOSoap"> 
  <wsdl:operation name="opLetturaPromo"> 
   <wsdl:input message="eb:opLetturaPromoRequest" name="opLetturaPromoRequest" /> 
   <wsdl:output message="eb:opLetturaPromoResponse" name="opLetturaPromoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LETTURA_PROMOSoap" type="eb:WS_LETTURA_PROMOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLetturaPromo"> 
   <soap:operation soapAction="WS_LETTURA_PROMO/opLetturaPromo" style="document" /> 
   <wsdl:input name="opLetturaPromoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLetturaPromoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LETTURA_PROMO"> 
  <wsdl:port binding="eb:WS_LETTURA_PROMOSoap" name="WS_LETTURA_PROMOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LETTURA_PROMO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>