osb_it/repo/BlueBirdProject/SALESFORCE/exitFee/PS_REST_SF_EXIT_FEE/wsdl/BlueBirdProject_SALESFORCE_exitFee_proxy_PS_REST_SF_EXIT_FEE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_EXIT_FEE"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_SF_EXIT_FEE"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_SF_EXIT_FEE"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SF_EXIT_FEE">
        <plnk:role name="PS_REST_SF_EXIT_FEEProvider" portType="tns:PS_REST_SF_EXIT_FEE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/exitFee/xsd/XSD_SF_EXIT_FEE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="retrieveExitFee_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveExitFee"/>
    </wsdl:message>
    <wsdl:message name="retrieveExitFee_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveExitFee"/>
    </wsdl:message>
    <wsdl:message name="retrieveExitFee_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="retrieveExitFee_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="retrieveExitFee_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_EXIT_FEE_ptt">
        <wsdl:operation name="retrieveExitFee">
            <wsdl:input message="tns:retrieveExitFee_inputMessage"/>
            <wsdl:output message="tns:retrieveExitFee_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:retrieveExitFee_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:retrieveExitFee_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:retrieveExitFee_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_EXIT_FEE_ptt-binding" type="tns:PS_REST_SF_EXIT_FEE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveExitFee">
            <soap:operation soapAction="retrieveExitFee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>