osb_it/repo/SiebelProject/GestionePromoPPV/PS_WS_CRM_GESTIONE_PROMO_PPV/wsdl/SiebelProject_GestionePromoPPV_proxy_PS_WS_CRM_GESTIONE_PROMO_PPV.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_GESTIONE_PROMO_PPV"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_PROMO_PPV"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_PROMO_PPV"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_PROMO_PPV.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestGetPromoPPV_Message">
        <wsdl:part name="part_requestGetPromoPPV" element="inp1:requestGetPromoPPV"/>
    </wsdl:message>
    <wsdl:message name="responseGetPromoPPV_Message">
        <wsdl:part name="part_responseGetPromoPPV" element="inp1:responseGetPromoPPV"/>
    </wsdl:message>
    <wsdl:portType name="CRM_GESTIONE_PROMO_PPV_ptt">
        <wsdl:operation name="execute_GetPromoPPV">
            <wsdl:input message="tns:requestGetPromoPPV_Message"/>
            <wsdl:output message="tns:responseGetPromoPPV_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckPeso">
            <wsdl:input message="tns:requestCheckPeso_Message"/>
            <wsdl:output message="tns:responseCheckPeso_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestCheckPeso_Message">
        <wsdl:part name="part_requestCheckPeso" element="inp1:requestCheckPeso"/>
    </wsdl:message>
    <wsdl:message name="responseCheckPeso_Message">
        <wsdl:part name="part_responseCheckPeso" element="inp1:responseCheckPeso"/>
    </wsdl:message>
    <wsdl:binding name="CRM_GESTIONE_PROMO_PPV_bind" type="tns:CRM_GESTIONE_PROMO_PPV_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetPromoPPV">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_PROMO_PPV/execute_GetPromoPPV"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetPromoPPV"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetPromoPPV"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckPeso">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_PROMO_PPV/execute_CheckPeso"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckPeso"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckPeso"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>