osb_it/repo/OTTUkProject/OPTApi/PS_WS_OTT_OPT_API/xsd/XSD_OTT_API_OPT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestOptOut" type="requestOptOutType"/>
	<xsd:element name="responseOptOut" type="responseOptOutType"/>
	<xsd:complexType name="requestOptOutType">
		<xsd:sequence>
			<xsd:element name="partyId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Territory" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Proposition" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Feature" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="IdList" type="IdListType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="idType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="IdListType">
		<xsd:sequence>
			<xsd:element name="Id" type="xsd:string" minOccurs="0" maxOccurs="200"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseOptOutType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Result" type="ResultType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResultType">
		<xsd:sequence>
			<xsd:element name="ErrorCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ErrorMessage" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListSuccess" type="IdListType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListFailure" type="IdListType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="ListNotFound" type="IdListType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>