osb_it/repo/BlueBirdProject/SALESFORCE/customerEligibility/PS_REST_MDW_CUSTOMER_ELIGIBILITY/wsdl/BlueBirdProject_SALESFORCE_customerEligibility_proxy_PS_REST_MDW_CUSTOMER_ELIGIBILITY.wsdl

<wsdl:definitions name="PS_REST_MDW_CUSTOMER_ELIGIBILITY" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_MDW_CUSTOMER_ELIGIBILITY" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_MDW_CUSTOMER_ELIGIBILITY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_MDW_CUSTOMER_ELIGIBILITY">
        <plnk:role name="PS_REST_MDW_CUSTOMER_ELIGIBILITYProvider" portType="tns:PS_REST_MDW_CUSTOMER_ELIGIBILITY_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/customerEligibility/xsd/XSD_MDW_CUSTOMER_ELIGIBILITY.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="checkBB_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckEligibilityBB"/>
    </wsdl:message>
    <wsdl:message name="checkBB_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckEligibilityBB"/>
    </wsdl:message>
    <wsdl:message name="checkBB_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="checkBB_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="checkBB_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_CUSTOMER_ELIGIBILITY_ptt">
        <wsdl:operation name="checkBB">
            <wsdl:input message="tns:checkBB_inputMessage"/>
            <wsdl:output message="tns:checkBB_outputMessage"/>
            <wsdl:fault name="error404" message="tns:checkBB_error404Message"/>
            <wsdl:fault name="error400" message="tns:checkBB_error400Message"/>
            <wsdl:fault name="error500" message="tns:checkBB_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_CUSTOMER_ELIGIBILITY_ptt-binding" type="tns:PS_REST_MDW_CUSTOMER_ELIGIBILITY_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkBB">
            <soap:operation soapAction="checkBB"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>