esb_it/repo/WS_GEO_INVIO_NOTIFICA/wsdl/WS_GEO_INVIO_NOTIFICA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_GEO_INVIO_NOTIFICA.xsd" /> 
   <xsd:complexType name="DocumentDataInputLP"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutputLP"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opInvioNotifica"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInputLP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opInvioNotificaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutputLP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opInvioNotificaRequest"> 
  <wsdl:part element="eb:opInvioNotifica" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opInvioNotificaResponse"> 
  <wsdl:part element="eb:opInvioNotificaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GEO_INVIO_NOTIFICASoap"> 
  <wsdl:operation name="opInvioNotifica"> 
   <wsdl:input message="eb:opInvioNotificaRequest" name="opInvioNotificaRequest" /> 
   <wsdl:output message="eb:opInvioNotificaResponse" name="opInvioNotificaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GEO_INVIO_NOTIFICASoap" type="eb:WS_GEO_INVIO_NOTIFICASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opInvioNotifica"> 
   <soap:operation soapAction="WS_GEO_INVIO_NOTIFICA/opInvioNotifica" style="document" /> 
   <wsdl:input name="opInvioNotificaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opInvioNotificaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GEO_INVIO_NOTIFICA"> 
  <wsdl:port binding="eb:WS_GEO_INVIO_NOTIFICASoap" name="WS_GEO_INVIO_NOTIFICASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/ws_geocall/WS_GEO_INVIO_NOTIFICA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>