osb_it/repo/SalesforceProject/REST/CRM/IBAN/HANDLER/PS_REST_CRM_IBAN_HANDLER/wadl/SalesforceProject_REST_CRM_IBAN_HANDLER_proxy_PS_REST_CRM_IBAN_HANDLER.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_IBAN_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_CRM_IBAN_HANDLER">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/IbanHandler/xsd/XSD_REST_CRM_IBAN_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/checkiban">
         <method name="GET" soa:wsdlOperation="CheckIBAN">
            <request>
               <param name="iban" style="query" soa:expression="$msg.request/ns0:iban" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseCheckIBAN" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/calculateiban">
         <method name="GET" soa:wsdlOperation="CalculateIBAN">
            <request>
               <param name="AbiCode" style="query" soa:expression="$msg.request/ns0:AbiCode" default="" type="xsd:string"/>
               <param name="CabCode" style="query" soa:expression="$msg.request/ns0:CabCode" default="" type="xsd:string"/>
               <param name="ccNumber" style="query" soa:expression="$msg.request/ns0:ccNumber" default="" type="xsd:string"/>
               <param name="countryCode" style="query" soa:expression="$msg.request/ns0:countryCode" default="" type="xsd:string"/>
               <param name="CIN" style="query" soa:expression="$msg.request/ns0:CIN" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseCalculateIBAN" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>