esb_it/repo/WS_SF_FW_RETRIEVE_PROMO_LIST/wsdl/WS_SF_FW_RETRIEVE_PROMO_LIST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/RetrievePromoListServices/" schemaLocation="SkyXSD_RetrievePromoList.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/RetrievePromoListServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/RetrievePromoListServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="RetrievePromoListOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="RetrievePromoListOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="RetrievePromoListOpRequest"> 
  <wsdl:part element="eb:RetrievePromoListOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="RetrievePromoListOpResponse"> 
  <wsdl:part element="eb:RetrievePromoListOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_FW_RETRIEVE_PROMO_LISTSoap"> 
  <wsdl:operation name="RetrievePromoListOp"> 
   <wsdl:input message="eb:RetrievePromoListOpRequest" name="RetrievePromoListOpRequest" /> 
   <wsdl:output message="eb:RetrievePromoListOpResponse" name="RetrievePromoListOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_FW_RETRIEVE_PROMO_LISTSoap" type="eb:WS_SF_FW_RETRIEVE_PROMO_LISTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="RetrievePromoListOp"> 
   <soap:operation soapAction="WS_SF_FW_RETRIEVE_PROMO_LIST/RetrievePromoListOp" style="document" /> 
   <wsdl:input name="RetrievePromoListOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="RetrievePromoListOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_FW_RETRIEVE_PROMO_LIST"> 
  <wsdl:port binding="eb:WS_SF_FW_RETRIEVE_PROMO_LISTSoap" name="WS_SF_FW_RETRIEVE_PROMO_LISTSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_sf_ns/WS_SF_FW_RETRIEVE_PROMO_LIST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>