osb_it/repo/SalesforceProject/REST/CRM/CHURNS/REASON/PS_REST_CRM_CHURNS_REASON/wsdl/SalesforceProject_REST_CRM_CHURNS_REASON_proxy_PS_REST_CRM_CHURNS_REASON.wsdl

<wsdl:definitions name="PS_REST_CRM_CHURNS_REASON" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHURNS_REASON" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHURNS_REASON" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_CHURNS_REASON">
        <plnk:role name="PS_REST_CRM_CHURNS_REASONProvider" portType="tns:PS_REST_CRM_CHURNS_REASON_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/ChurnsReason/xsd/XSD_CRM_CHURNS_REASON.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getChurnsReason_inputMessage">
        <wsdl:part name="request" element="inp1:requestChurnsReason"/>
    </wsdl:message>
    <wsdl:message name="getChurnsReason_outputMessage">
        <wsdl:part name="reply" element="inp1:responseChurnsReason"/>
    </wsdl:message>
    <wsdl:message name="getChurnsReason_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getChurnsReason_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getChurnsReason_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CHURNS_REASON_ptt">
        <wsdl:operation name="getChurnsReason">
            <wsdl:input message="tns:getChurnsReason_inputMessage"/>
            <wsdl:output message="tns:getChurnsReason_outputMessage"/>
            <wsdl:fault name="error404" message="tns:getChurnsReason_error404Message"/>
            <wsdl:fault name="error400" message="tns:getChurnsReason_error400Message"/>
            <wsdl:fault name="error500" message="tns:getChurnsReason_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CHURNS_REASON_ptt-binding" type="tns:PS_REST_CRM_CHURNS_REASON_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getChurnsReason">
            <soap:operation soapAction="getChurnsReason"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>