esb_it/repo/WS_VMG_RUNTASK/wsdl/WS_VMG_RUNTASK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CA_AZIONE" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_FLAG_NOTIFICATION" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_ID_ESIG" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_ACTIVITY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="MRM_TAG_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="MRM_TAG_VALUE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVmgRunTask"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestVMS" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVmgRunTaskResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseVMS" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVmgRunTaskRequest"> 
  <wsdl:part element="eb:opVmgRunTask" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVmgRunTaskResponse"> 
  <wsdl:part element="eb:opVmgRunTaskResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_VMG_RUNTASKSoap"> 
  <wsdl:operation name="opVmgRunTask"> 
   <wsdl:input message="eb:opVmgRunTaskRequest" name="opVmgRunTaskRequest" /> 
   <wsdl:output message="eb:opVmgRunTaskResponse" name="opVmgRunTaskResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_VMG_RUNTASKSoap" type="eb:WS_VMG_RUNTASKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVmgRunTask"> 
   <soap:operation soapAction="WS_VMG_RUNTASK/opVmgRunTask" style="document" /> 
   <wsdl:input name="opVmgRunTaskRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVmgRunTaskResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_VMG_RUNTASK"> 
  <wsdl:port binding="eb:WS_VMG_RUNTASKSoap" name="WS_VMG_RUNTASKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_VMG_RUNTASK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>