esb_it/repo/WS_SCMS_SIEBEL_DOWNLOAD/wsdl/WS_SCMS_SIEBEL_DOWNLOAD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdTelecom/SkyXSD_SCMS_SBL_Download.xsd" /> 
   <xsd:complexType name="DocumentDataInputSBL"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataInSBL" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutputSBL"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOutSBL" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSCMS_SBL_Download"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInputSBL" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSCMS_SBL_DownloadResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutputSBL" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSCMS_SBL_DownloadRequest"> 
  <wsdl:part element="eb:opSCMS_SBL_Download" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSCMS_SBL_DownloadResponse"> 
  <wsdl:part element="eb:opSCMS_SBL_DownloadResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_SIEBEL_DOWNLOADSoap"> 
  <wsdl:operation name="opSCMS_SBL_Download"> 
   <wsdl:input message="eb:opSCMS_SBL_DownloadRequest" name="opSCMS_SBL_DownloadRequest" /> 
   <wsdl:output message="eb:opSCMS_SBL_DownloadResponse" name="opSCMS_SBL_DownloadResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_SIEBEL_DOWNLOADSoap" type="eb:WS_SCMS_SIEBEL_DOWNLOADSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSCMS_SBL_Download"> 
   <soap:operation soapAction="WS_SCMS_SIEBEL_DOWNLOAD/opSCMS_SBL_Download" style="document" /> 
   <wsdl:input name="opSCMS_SBL_DownloadRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSCMS_SBL_DownloadResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_SIEBEL_DOWNLOAD"> 
  <wsdl:port binding="eb:WS_SCMS_SIEBEL_DOWNLOADSoap" name="WS_SCMS_SIEBEL_DOWNLOADSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_SIEBEL_DOWNLOAD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>