osb_it/repo/CPQProject/customerEligibility/PS_REST_CPQ_CUSTOMER_ELIGIBILITY/wsdl/CPQProject_customerEligibility_proxy_PS_REST_CPQ_CUSTOMER_ELIGIBILITY.wsdl

<wsdl:definitions name="PS_REST_CPQ_CUSTOMER_ELIGIBILITY" targetNamespace="http://xmlns.oracle.com/OSBSvil/CPQProject/PS_REST_CPQ_CUSTOMER_ELIGIBILITY" xmlns:tns="http://xmlns.oracle.com/OSBSvil/CPQProject/PS_REST_CPQ_CUSTOMER_ELIGIBILITY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CPQ_CUSTOMER_ELIGIBILITY">
        <plnk:role name="PS_REST_CPQ_CUSTOMER_ELIGIBILITYProvider" portType="tns:PS_REST_CPQ_CUSTOMER_ELIGIBILITY_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/CPQProject/customerEligibility/xsd/XSD_CPQ_CUSTOMER_ELIGIBILITY.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CustomerEligibility_inputMessage">
        <wsdl:part name="request" element="inp1:requestCustomerEligibility"/>
    </wsdl:message>
    <wsdl:message name="CustomerEligibility_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCustomerEligibility"/>
    </wsdl:message>
    <wsdl:message name="CustomerEligibility_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CustomerEligibility_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="CustomerEligibility_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CPQ_CUSTOMER_ELIGIBILITY_ptt">
        <wsdl:operation name="CustomerEligibility">
            <wsdl:input message="tns:CustomerEligibility_inputMessage"/>
            <wsdl:output message="tns:CustomerEligibility_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:CustomerEligibility_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:CustomerEligibility_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:CustomerEligibility_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CPQ_CUSTOMER_ELIGIBILITY_ptt-binding" type="tns:PS_REST_CPQ_CUSTOMER_ELIGIBILITY_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CustomerEligibility">
            <soap:operation soapAction="CustomerEligibility"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>