esb_it/repo/WS_FWB_UPSERT_ACCOUNT/wsdl/WS_FWB_UPSERT_ACCOUNT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/UpsertAccount" schemaLocation="xsdFWB/SkyXSD_FWB_UpsertAccount.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/UpsertAccount"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://it.fastweb.esb.org/UpsertAccount"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="UpsertAccountOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="UpsertAccountOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="UpsertAccountOpRequest"> 
  <wsdl:part element="eb:UpsertAccountOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="UpsertAccountOpResponse"> 
  <wsdl:part element="eb:UpsertAccountOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_UPSERT_ACCOUNTSoap"> 
  <wsdl:operation name="UpsertAccountOp"> 
   <wsdl:input message="eb:UpsertAccountOpRequest" name="UpsertAccountOpRequest" /> 
   <wsdl:output message="eb:UpsertAccountOpResponse" name="UpsertAccountOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_UPSERT_ACCOUNTSoap" type="eb:WS_FWB_UPSERT_ACCOUNTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="UpsertAccountOp"> 
   <soap:operation soapAction="WS_FWB_UPSERT_ACCOUNT/UpsertAccountOp" style="document" /> 
   <wsdl:input name="UpsertAccountOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="UpsertAccountOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_UPSERT_ACCOUNT"> 
  <wsdl:port binding="eb:WS_FWB_UPSERT_ACCOUNTSoap" name="WS_FWB_UPSERT_ACCOUNTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_UPSERT_ACCOUNT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>