osb_it/repo/AspideProject/ManageAgenda/PS_REST_TA_MANAGE_AGENDA/xsd/XSD_TA_MANAGE_AGENDA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestTACreateAppointment" type="requestCreateAppointmentType"/>
  <xsd:element name="responseTACreateAppointment" type="responseCreateAppointmentType"/>
  <xsd:element name="requestTAUpdateAppointment" type="requestUpdateAppointmentType"/>
  <xsd:element name="requestTADeleteAppointment" type="requestDeleteAppointmentType"/>
  <xsd:complexType name="requestCreateAppointmentType">
    <xsd:sequence>
      <xsd:element name="appointment" type="appointmentCreateRequestType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="appointmentCreateRequestType">
    <xsd:sequence>
      <xsd:element name="interaction" type="interactionCreateRequestType" minOccurs="1"/>
      <xsd:element name="team" type="xsd:string" minOccurs="1"/>
      <xsd:element name="aliasAngel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="typeRequest" type="typeRequestSimpleType" minOccurs="0"/>
      <xsd:element name="typeCustomer" type="typeCustomerSimpleType" minOccurs="0"/>
      <xsd:element name="typeCase" type="typeCaseSimpleType" minOccurs="0"/>
      <xsd:element name="reason" type="xsd:string" minOccurs="0"/>
      <xsd:element name="schedTime" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fullName" type="xsd:string" minOccurs="1"/>
      <xsd:element name="tel1" type="xsd:string" minOccurs="1"/>
      <xsd:element name="tel2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tel3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="telDefault" type="xsd:string" minOccurs="1"/>
      <xsd:element name="contractCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="customerCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="attempt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="employeeId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="username" type="xsd:string" minOccurs="0"/>
      <xsd:element name="channel" type="channelSimpleType" minOccurs="1"/>
      <xsd:element name="note" type="xsd:string" minOccurs="0"/>
      <xsd:element name="site" type="xsd:string" minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="expirationTime" type="xsd:string" minOccurs="0"/>
      <!-- campo aggiunto per BB CR102-->
      <xsd:element name="orderId" type="xsd:string" minOccurs="0"/>
      <!-- campo aggiunto per BB CR102-->
      <xsd:element name="flagAgent" type="stringYNType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="interactionCreateRequestType">
    <xsd:sequence>
      <xsd:element name="problemId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="category" type="xsd:string" minOccurs="1"/>
      <xsd:element name="subcategory" type="xsd:string" minOccurs="1"/>
      <xsd:element name="contactType" type="contactTypeType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseCreateAppointmentType">
    <xsd:sequence>
      <xsd:element name="appointment" type="appointmentCreateResponseType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="appointmentCreateResponseType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" minOccurs="1"/>
      <xsd:element name="interaction" type="interactionCreateResponseType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="interactionCreateResponseType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:string" minOccurs="1"/>
      <xsd:element name="problemId" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestUpdateAppointmentType">
    <xsd:sequence>
      <xsd:element name="appointment" type="appointmentUpdateResponseType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="appointmentUpdateResponseType">
    <xsd:sequence>
      <xsd:element name="caseId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="team" type="xsd:string" minOccurs="1"/>
      <xsd:element name="aliasAngel" type="xsd:string" minOccurs="0"/>
      <xsd:element name="typeRequest" type="typeRequestSimpleType" minOccurs="0"/>
      <xsd:element name="typeCustomer" type="typeCustomerSimpleType" minOccurs="0"/>
      <xsd:element name="typeCase" type="typeCaseSimpleType" minOccurs="0"/>
      <xsd:element name="reason" type="xsd:string" minOccurs="0"/>
      <xsd:element name="schedTime" type="xsd:string" minOccurs="0"/>
      <xsd:element name="fullName" type="xsd:string" minOccurs="1"/>
      <xsd:element name="tel1" type="xsd:string" minOccurs="1"/>
      <xsd:element name="tel2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="tel3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="telDefault" type="xsd:string" minOccurs="1"/>
      <xsd:element name="contractCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="customerCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="attempt" type="xsd:string" minOccurs="0"/>
      <xsd:element name="employeeId" type="xsd:string" minOccurs="0"/>
      <xsd:element name="username" type="xsd:string" minOccurs="0"/>
      <xsd:element name="channel" type="channelSimpleType" minOccurs="1"/>
      <xsd:element name="note" type="xsd:string" minOccurs="0"/>
      <xsd:element name="site" type="xsd:string" minOccurs="0"/>
      <xsd:element name="email" type="xsd:string" minOccurs="0"/>
      <xsd:element name="expirationTime" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestDeleteAppointmentType">
    <xsd:sequence>
      <xsd:element name="appointmentId" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="contactTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CMB"/>
      <xsd:enumeration value="CMN"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="typeRequestSimpleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BB_TEAM"/>
          <xsd:enumeration value="SW_SQUAD"/>
          <xsd:enumeration value="TV_TEAM"/>
          <xsd:enumeration value="DTH"/>
          <xsd:enumeration value="DTT"/>
          <xsd:enumeration value="RETENTION"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="typeCustomerSimpleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="BB"/>
      <xsd:enumeration value="DTT"/>
      <xsd:enumeration value="DTH"/>
      <xsd:enumeration value="DTH+"/>
    </xsd:restriction>
</xsd:simpleType>
  <xsd:simpleType name="typeCaseSimpleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="CMN"/>
      <xsd:enumeration value="CMB"/>
      <xsd:enumeration value="CHK "/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="channelSimpleType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="WEB"/>
      <xsd:enumeration value="WDE"/>
      <xsd:enumeration value="IVR"/>
      <xsd:enumeration value="CRM"/>
      <xsd:enumeration value="APP"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="stringYNType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Y"/>
      <xsd:enumeration value="N"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>