esb_it/repo/WS_HTL_RESET_HOTEL/wsdl/WS_HTL_RESET_HOTEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opResetHotel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="HTL_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="HTL_CODICE_HOTEL" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opResetHotelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opResetHotelRequest"> 
  <wsdl:part element="eb:opResetHotel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opResetHotelResponse"> 
  <wsdl:part element="eb:opResetHotelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_RESET_HOTELSoap"> 
  <wsdl:operation name="opResetHotel"> 
   <wsdl:input message="eb:opResetHotelRequest" name="opResetHotelRequest" /> 
   <wsdl:output message="eb:opResetHotelResponse" name="opResetHotelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_RESET_HOTELSoap" type="eb:WS_HTL_RESET_HOTELSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opResetHotel"> 
   <soap:operation soapAction="WS_HTL_RESET_HOTEL/opResetHotel" style="document" /> 
   <wsdl:input name="opResetHotelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opResetHotelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_RESET_HOTEL"> 
  <wsdl:port binding="eb:WS_HTL_RESET_HOTELSoap" name="WS_HTL_RESET_HOTELSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_RESET_HOTEL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>