esb_it/repo/WS_SMS_SEND_MESSAGE_REPLY/wsdl/WS_SMS_SEND_MESSAGE_REPLY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opSendMessageReply"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_PHONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_TEXT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_SCH_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_TYPE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_PRIORITY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_CARRIERID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_FLAG_ENABLED" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_ACCOUNT_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_NUM_SMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_SUB_TYPE_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_VALIDATOR" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_RULE_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_DATE_FROM" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_DATE_TO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NOTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendMessageReplyResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_ROW_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSendMessageReplyRequest"> 
  <wsdl:part element="eb:opSendMessageReply" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendMessageReplyResponse"> 
  <wsdl:part element="eb:opSendMessageReplyResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SMS_SEND_MESSAGE_REPLYSoap"> 
  <wsdl:operation name="opSendMessageReply"> 
   <wsdl:input message="eb:opSendMessageReplyRequest" name="opSendMessageReplyRequest" /> 
   <wsdl:output message="eb:opSendMessageReplyResponse" name="opSendMessageReplyResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SMS_SEND_MESSAGE_REPLYSoap" type="eb:WS_SMS_SEND_MESSAGE_REPLYSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSendMessageReply"> 
   <soap:operation soapAction="WS_SMS_SEND_MESSAGE_REPLY/opSendMessageReply" style="document" /> 
   <wsdl:input name="opSendMessageReplyRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendMessageReplyResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SMS_SEND_MESSAGE_REPLY"> 
  <wsdl:port binding="eb:WS_SMS_SEND_MESSAGE_REPLYSoap" name="WS_SMS_SEND_MESSAGE_REPLYSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SMS_SEND_MESSAGE_REPLY" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>