esb_it/repo/WS_SCMS_EXECUTE_ACQGMP_SP/wsdl/WS_SCMS_EXECUTE_ACQGMP_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestACQGMP"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="telephonenumber" type="xsd:string" /> 
     <xsd:element name="refid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="purchasedate" type="xsd:string" /> 
     <xsd:element name="eventtrasmdate" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="pickemixcode" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="issimulation" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="trans_id" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ConnId" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="TransId" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseACQGMP"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="typesmc" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="flagreqpin" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="flaglive" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="eventtrasmdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="title" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="typeevent" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="eventcost" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="servicecost" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="targetaudience" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="originalcost" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="subcontentcode" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="promos" type="eb:t_promos" /> 
     <xsd:element minOccurs="0" name="wallet" type="eb:t_wallet" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_promos"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="promo" type="eb:t_promo" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_wallet"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="smcs" type="eb:t_smcs" /> 
     <xsd:element minOccurs="0" name="credits" type="eb:t_credits" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_promo"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="catalogid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="kind" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="details" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="id" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="prclass" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="subclass" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_smcs"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="smc" type="eb:t_smc" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_credits"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="credit" type="eb:t_credit" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_credit"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="creationdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="expirationdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="amount" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="typename" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_smc"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="lastpdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="lastpref" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opACQGMP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestACQGMP" type="eb:requestACQGMP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opACQGMPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseACQGMP" type="eb:responseACQGMP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opACQGMPRequest"> 
  <wsdl:part element="eb:opACQGMP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opACQGMPResponse"> 
  <wsdl:part element="eb:opACQGMPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_ACQGMP_SPSoap"> 
  <wsdl:operation name="opACQGMP"> 
   <wsdl:input message="eb:opACQGMPRequest" name="opACQGMPRequest" /> 
   <wsdl:output message="eb:opACQGMPResponse" name="opACQGMPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_ACQGMP_SPSoap" type="eb:WS_SCMS_EXECUTE_ACQGMP_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opACQGMP"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_ACQGMP_SP/opACQGMP" style="document" /> 
   <wsdl:input name="opACQGMPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opACQGMPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_ACQGMP_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_ACQGMP_SPSoap" name="WS_SCMS_EXECUTE_ACQGMP_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_ACQGMP_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>