osb_it/repo/SalesforceProject/REST/CRM/CHURN/ELIGIBILITY/PS_REST_CRM_CHURN_ELIGIBILITY/wsdl/SalesforceProject_REST_CRM_CHURN_ELIGIBILITY_proxy_PS_REST_CRM_CHURN_ELIGIBILITY.wsdl

<wsdl:definitions name="PS_REST_CRM_CHURN_ELIGIBILITY" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHURN_ELIGIBILITY" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHURN_ELIGIBILITY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_CHURN_ELIGIBILITY">
        <plnk:role name="PS_REST_CRM_CHURN_ELIGIBILITYProvider" portType="tns:PS_REST_CRM_CHURN_ELIGIBILITY_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/ChurnEligibility/xsd/XSD_CRM_CHURN_ELIGIBILITY.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="opChurnEligibility_inputMessage">
        <wsdl:part name="request" element="inp1:requestChurnEligibility"/>
    </wsdl:message>
    <wsdl:message name="opChurnEligibility_outputMessage">
        <wsdl:part name="reply" element="inp1:responseChurnEligibility"/>
    </wsdl:message>
    <wsdl:message name="opChurnEligibility_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="opChurnEligibility_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CHURN_ELIGIBILITY_ptt">
        <wsdl:operation name="opChurnEligibility">
            <wsdl:input message="tns:opChurnEligibility_inputMessage"/>
            <wsdl:output message="tns:opChurnEligibility_outputMessage"/>
            <wsdl:fault name="error400" message="tns:opChurnEligibility_error400Message"/>
            <wsdl:fault name="error500" message="tns:opChurnEligibility_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CHURN_ELIGIBILITY_ptt-binding" type="tns:PS_REST_CRM_CHURN_ELIGIBILITY_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="opChurnEligibility">
            <soap:operation soapAction="opChurnEligibility"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>