osb_it/repo/SalesforceProject/REST/CRM/PAYMENT/HANDLER/PS_REST_CRM_PAYMENT_HANDLER/wsdl/SalesforceProject_REST_CRM_PAYMENT_HANDLER_proxy_PS_REST_CRM_PAYMENT_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_PAYMENT_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_PAYMENT_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_PAYMENT_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_PAYMENT_HANDLER">
        <plnk:role name="PS_REST_CRM_PAYMENT_HANDLERProvider" portType="tns:PS_REST_CRM_PAYMENT_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_PaymentHandler/xsd/XSD_CRM_PAYMENT_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PaymentDetailsSending_inputMessage">
        <wsdl:part name="request" element="inp1:requestPaymentDetailsSending"/>
    </wsdl:message>
    <wsdl:message name="PaymentDetailsSending_outputMessage">
        <wsdl:part name="reply" element="inp1:responsePaymentDetailsSending"/>
    </wsdl:message>
    <wsdl:message name="PaymentDetailsSending_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="PaymentDetailsSending_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="PaymentDetailsSending_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="OverduePayments_inputMessage">
        <wsdl:part name="request" element="inp1:requestOverduePayments"/>
    </wsdl:message>
    <wsdl:message name="OverduePayments_outputMessage">
        <wsdl:part name="reply" element="inp1:responseOverduePayments"/>
    </wsdl:message>
    <wsdl:message name="OverduePayments_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="OverduePayments_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="OverduePayments_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="EnterPayment_inputMessage">
        <wsdl:part name="request" element="inp1:requestEnterPayment"/>
    </wsdl:message>
    <wsdl:message name="EnterPayment_outputMessage">
        <wsdl:part name="reply" element="inp1:responseEnterPayment"/>
    </wsdl:message>
    <wsdl:message name="EnterPayment_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="EnterPayment_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="EnterPayment_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_PAYMENT_HANDLER_ptt">
        <wsdl:operation name="PaymentDetailsSending">
            <wsdl:input message="tns:PaymentDetailsSending_inputMessage"/>
            <wsdl:output message="tns:PaymentDetailsSending_outputMessage"/>
            <wsdl:fault name="error404" message="tns:PaymentDetailsSending_error404Message"/>
            <wsdl:fault name="error400" message="tns:PaymentDetailsSending_error400Message"/>
            <wsdl:fault name="error500" message="tns:PaymentDetailsSending_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="OverduePayments">
            <wsdl:input message="tns:OverduePayments_inputMessage"/>
            <wsdl:output message="tns:OverduePayments_outputMessage"/>
            <wsdl:fault name="error404" message="tns:OverduePayments_error404Message"/>
            <wsdl:fault name="error400" message="tns:OverduePayments_error400Message"/>
            <wsdl:fault name="error500" message="tns:OverduePayments_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="EnterPayment">
            <wsdl:input message="tns:EnterPayment_inputMessage"/>
            <wsdl:output message="tns:EnterPayment_outputMessage"/>
            <wsdl:fault name="error404" message="tns:EnterPayment_error404Message"/>
            <wsdl:fault name="error400" message="tns:EnterPayment_error400Message"/>
            <wsdl:fault name="error500" message="tns:EnterPayment_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_PAYMENT_HANDLER_ptt-binding" type="tns:PS_REST_CRM_PAYMENT_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PaymentDetailsSending">
            <soap:operation soapAction="PaymentDetailsSending"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OverduePayments">
            <soap:operation soapAction="OverduePayments"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="EnterPayment">
            <soap:operation soapAction="EnterPayment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>