osb_it/repo/SiebelProject/PS_WS_CRM_CHECK_ELIGIBILITY_EXTRA/xsd/XSD_CRM_SIE_ELIGIBILITY_CHECK_EXTRA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:complexType name="requestCheckEligibilityExtraType">
    <xsd:sequence>
      <xsd:element name="CodiceCliente" type="string_1"/>
      <xsd:element name="Canale" type="xsd:string"/>
      <xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="string_1">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:element name="requestCheckEligibilityExtra" type="requestCheckEligibilityExtraType"/>
  <xsd:complexType name="responseCheckEligibilityExtraType">
    <xsd:sequence>
      <xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
      <xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
      <xsd:element name="SkyID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Contratti" type="ContrattiType" minOccurs="0"/>
      <xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="responseCheckEligibilityExtra" type="responseCheckEligibilityExtraType"/>
  <xsd:complexType name="ContrattiType">
    <xsd:sequence>
      <xsd:element name="Contratto" type="ContrattoType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ContrattoType">
    <xsd:sequence>
      <xsd:element name="CodiceContratto" type="xsd:string" minOccurs="0"/>
      <xsd:element name="DataEleggibilitaLoyalty" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Esito" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Fascia" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>