osb_it/repo/AspideProject/ManageAgenda/PS_REST_TA_MANAGE_AGENDA/wadl/AspideProject_ManageAgenda_proxy_PS_REST_TA_MANAGE_AGENDA.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/AspideProject/ManageAgenda" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ManageAgenda">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/ManageAgenda/xsd/XSD_TA_MANAGE_AGENDA.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
      <schema targetNamespace="http://xmlns.oracle.com/OSBApplicationSkyReply/AspideProject/ManageAgenda" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="deleteAppointment_params">
                <complexType>
                    <sequence>
                        <element name="appointmentId" type="string"/>
                    </sequence>
                </complexType>
            </element>
        </schema>
   </grammars>
   <resources>
      <resource path="/appointments">
         <method name="POST" soa:wsdlOperation="createAppointment">
            <request>
               <representation mediaType="application/xml" element="cns:requestTACreateAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseTACreateAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/appointments/appointment/{appointmentId}">
         <method name="PUT" soa:wsdlOperation="updateAppointment">
            <request>
               <param name="appointmentId" style="template" soa:expression="$property.appointmentId" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestTAUpdateAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/appointments/{appointmentId}">
         <method name="DELETE" soa:wsdlOperation="deleteAppointment">
            <doc title="DELETE deleteAppointment">deleteAppointment</doc>
            <request>
               <param name="appointmentId" style="template" soa:expression="$msg.request/ns0:appointmentId" default="" type="xsd:string"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>