osb_it/repo/PegasusProject/Send/PS_WS_PGS_SEND/xsd/XSD_PGS_SEND.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestSend" type="requestSendType"/>
	<xsd:element name="responseSend" type="responseSendType"/>
	<xsd:complexType name="requestSendType">
		<xsd:sequence>
			<xsd:element name="input">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Funzionalita" type="FunzionalitaType" minOccurs="0"/>
						<xsd:element name="Contesto" type="ContestoType" minOccurs="0"/>
						<xsd:element name="Contratto" type="ContrattoType" minOccurs="0"/>
						<xsd:element name="Promozione" type="PromozioneType" minOccurs="0"/>
						<xsd:element name="Account" type="pgsAccountType" minOccurs="0"/>
						<xsd:element name="Reinvio" type="ReinvioType" minOccurs="0"/>
						<xsd:element name="Attachments" type="AttachmentsType" minOccurs="0"/>
						<xsd:element name="Lettera" type="LetteraType" minOccurs="0"/>
						<xsd:element name="ComManuale" type="ComManualeType" minOccurs="0"/>
						<xsd:element name="ContestoEmail" type="ContestoEmailType" minOccurs="0"/>
						<xsd:element name="AttachmentsManual" type="AttachmentsManualType" minOccurs="0"/>
						<xsd:element name="SpeedTest" type="SpeedTestType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseSendType">
		<xsd:sequence>
			<xsd:element name="Ack" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- TYPES -->
	<xsd:complexType name="SpeedTestType">
		<xsd:sequence>
			<xsd:element name="SpeedData" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpeedOre" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpeedDownload" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpeedUpload" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpeedPing" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SpeedOperatore" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
        </xsd:complexType>
	<xsd:complexType name="FunzionalitaType">
		<xsd:sequence>
			<xsd:element name="Simulato" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Attivita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CandidatoFinaleFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CandidatoInizialeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Categoria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClienteBBFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceLavorazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EsitoEsigenza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FeeCambioPiano" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FreeVision" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOPPO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Movimentazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ODLFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OnDemand" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PDISCFinale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PDISCIniziale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREPDISCFinale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PREPDISCIniziale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Procedura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SKYId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SottoCategoria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoContrattoFinale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoContrattoIniziale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipologiaCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoOperazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoProcedura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="UpgradeDowngradeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Motivo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StoriaCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneFutura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LinkRegistrazioneSkyId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LinkValidazioneMail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RateCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagConsensoDati" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneElaborazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoOfferta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EsitoUpgrade" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Canale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoOffertaRTD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoInvioRTD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProvenienzaRTD" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PathDeliveryPDF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataValidita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Sezione1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Sezione2" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Sezione3" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Reminder" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EsitoAdesione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Migrazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProceduraSR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TIDPGS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoCategoria" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IDOdl" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IDOds" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IDCo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LinkLandingPage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SRNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SRId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InvioCtrFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdCXWEBLOG" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneMotivo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoCanale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SRStatus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CanaleChiamante" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ID_COM_SF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdCaseSalesforce" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SRProvenienza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdRetail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PIN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdActivitySaleseforce" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdInteractionSaleseforce" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Pagatore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirmaDigitaleFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Context" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SourceSystem" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailReceivedFrom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailReceivedDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DMSClientType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AutomaticResponse" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Service" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MessageObject" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MessageText" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InBound" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DocumentList" type="DocumentListType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="IdPegasus" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoContatto" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DocumentListType">
		<xsd:sequence>
			<xsd:element name="IdDocumentDMS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AcquisitionDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Provenienza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IndexDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContestoType">
		<xsd:sequence>
			<xsd:element name="Data" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TestoCentrale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SEZ1" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceEsigenza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataPagamento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NoteAttivita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Importo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TestoLibero" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StoricoMail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditoResiduo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceRicarica" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceSeriale" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="ModelloTV" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContrattoType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePacc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePaccPar" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePaccArr" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichAttivazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataScadContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataUltimaModifica" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneTipoUpg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExitFee" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MatricolaSMC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AmbienteServizio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExitFeeFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CategoriaContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailContratto" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PromozioneType">
		<xsd:sequence>
			<xsd:element name="ServizioDowngrade" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ServizioPremium" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClassePromozione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodicePromozione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodicePromozioneAgg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceServPremium" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceServPremiumAgg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAdesionePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NomePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichiestaPromozione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FrasePromozioneSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceLandingPage" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePromoperLettera" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePromoperBMAIL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FineValidita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EsitoPremio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NomePremio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescPremio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DurataPromo" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="pgsAccountType">
		<xsd:sequence>
			<xsd:element name="FruPiano" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruProvincia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruScala" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruNumeroCivico" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruIndirizzo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruInterno" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruCAP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruCitta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruCodiceCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruNome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruCognome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruEmail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruCellulare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruFlagSesso" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruPivaCodF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruTelefono" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruAltroNumeroTel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruDataNascitaSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruMNTAnalisiPreferenze" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruStatisticheFlagSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FruTemporaryEmailAddressSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagPiano" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagProvincia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagScala" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagNumeroCivico" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagIndirizzo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagInterno" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagCAP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagCitta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagCodiceCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagNome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagCognome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagEmail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagCellulare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagFlagSesso" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagPivaCodF" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagTelefono" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagAltroNumeroTel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagDataNascitaSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagMNTAnalisiPreferenze" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagStatisticheFlagSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PagTemporaryEmailAddressSKY" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReinvioType">
		<xsd:sequence>
			<xsd:element name="IdComunicazione" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentsType">
		<xsd:sequence>
			<xsd:element name="Attachment" type="AttachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentType">
		<xsd:sequence>
			<xsd:element name="AttachmentRecordId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NameVersion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Type" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OrderNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FilePath" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LetteraType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoContrattoPart" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoRecord" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescPackPartenza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescPackArrivo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneTipoUpg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OggettoRichiesta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneRichiesta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAdesionePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizionePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NomePromo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichAttivazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataScadContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MatricolaSMC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataUltimaModifica" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ExitFee" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceLettera" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ElencoSMC" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ComManualeType">
		<xsd:sequence>
			<xsd:element name="Template" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Canale" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContestoEmailType">
		<xsd:sequence>
			<xsd:element name="EmailTo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailCC" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailCCN" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailOggetto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailAlias" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailMittente" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentsManualType">
		<xsd:sequence>
			<xsd:element name="AttachmentManual" type="AttachmentManualType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AttachmentManualType">
		<xsd:sequence>
			<xsd:element name="AttachmentType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FileName" type="xsd:string" minOccurs="0"/>
			<xsd:element name="File_Base64" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>