esb_it/repo/WS_READVOUCHER/wsdl/WS_READVOUCHER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="READVOUCHER"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="READVOUCHERResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MRM_CARD_STATUS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MRM_AMOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MRM_EXPIRED_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_NUM_SMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_MRM_SERIAL_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_OPPV_NUMERO_TELEFONO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_REC_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_OPPV_TIPOLOGIA_UTENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_MSG" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="READVOUCHERRequest"> 
  <wsdl:part element="eb:READVOUCHER" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="READVOUCHERResponse"> 
  <wsdl:part element="eb:READVOUCHERResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_READVOUCHERSoap"> 
  <wsdl:operation name="READVOUCHER"> 
   <wsdl:input message="eb:READVOUCHERRequest" name="READVOUCHERRequest" /> 
   <wsdl:output message="eb:READVOUCHERResponse" name="READVOUCHERResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_READVOUCHERSoap" type="eb:WS_READVOUCHERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="READVOUCHER"> 
   <soap:operation soapAction="WS_READVOUCHER/READVOUCHER" style="document" /> 
   <wsdl:input name="READVOUCHERRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="READVOUCHERResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_READVOUCHER"> 
  <wsdl:port binding="eb:WS_READVOUCHERSoap" name="WS_READVOUCHERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_READVOUCHER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>