osb_it/repo/OTTUkProject/OPT/RecsApi/PS_WS_OTT_RECS_API_OPT/wsdl/OTTUkProject_OPT_RecsApi_proxy_PS_WS_OTT_RECS_API_OPT.wsdl

<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/OTT_RECS_API_OPT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_OTT_RECS_API_OPT" targetNamespace="http://www.skytv.it/mdw/service/OTT_RECS_API_OPT">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_OTT_RECS_API_OPT.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="header_Message">
		<wsdl:part name="part_header" element="inp1:Header"/> 
	</wsdl:message>
	<wsdl:message name="requestRecycle_Message">
		<wsdl:part name="part_requestRecycle" element="inp1:requestRecycle"/>
	</wsdl:message>
	<wsdl:message name="responseRecycle_Message">
		<wsdl:part name="part_responseRecycle" element="inp1:responseRecycle"/>
	</wsdl:message>
	<wsdl:message name="requestOptIn_Message">
		<wsdl:part name="part_requestOptIn" element="inp1:requestOptIn"/>
	</wsdl:message>
	<wsdl:message name="responseOptIn_Message">
		<wsdl:part name="part_responseOptIn" element="inp1:responseOptIn"/>
	</wsdl:message>
	<wsdl:portType name="OTT_RECS_API_OPT_ptt">
		<wsdl:operation name="execute_Recycle">
			<wsdl:input message="tns:requestRecycle_Message"/>
			<wsdl:output message="tns:responseRecycle_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_OptIn">
			<wsdl:input message="tns:requestOptIn_Message"/>
			<wsdl:output message="tns:responseOptIn_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="OTT_RECS_API_OPT_bind" type="tns:OTT_RECS_API_OPT_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_Recycle">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OTT_RECS_API_OPT/execute_Recycle" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestRecycle" use="literal"/>
				<soap:header message="tns:header_Message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseRecycle" use="literal"/>
				<soap:header message="tns:header_Message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_OptIn">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/OTT_RECS_API_OPT/execute_OptIn" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestOptIn" use="literal"/>
				<soap:header message="tns:header_Message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseOptIn" use="literal"/>
				<soap:header message="tns:header_Message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>