osb_it/repo/SiebelProject/OrderValidation/PS_WS_SBL_ORDER_VALIDATION/xsd/XSD_OM_ORDER_VALIDATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestValidateOrder" type="requestValidateOrderType"/>
	<xsd:element name="responseValidateOrder" type="responseValidateOrderType"/>
	<xsd:complexType name="requestValidateOrderType">
		<xsd:sequence>
			<xsd:element name="OrderNumber" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseValidateOrderType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resultValidateOrder" type="resultValidateOrderType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultValidateOrderType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string" minOccurs="1"/>
			<xsd:element name="description" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>