esb_it/repo/WS_EVENTS_EXTRANET/wsdl/WS_EVENTS_EXTRANET.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="EventContent"> 
    <xsd:sequence> 
     <xsd:element name="CAMERA" type="xsd:string" /> 
     <xsd:element name="TRASMISSIONE" type="xsd:string" /> 
     <xsd:element name="DATA_ACQUISTO" type="xsd:string" /> 
     <xsd:element name="ORA_ACQUISTO" type="xsd:string" /> 
     <xsd:element name="MODALITA_ACQUISTO" type="xsd:string" /> 
     <xsd:element name="EVENTO" type="xsd:string" /> 
     <xsd:element name="STATO" type="xsd:string" /> 
     <xsd:element name="PREZZO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="List"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="Event" type="eb:EventContent" /> 
     <xsd:element name="id_esito" type="xsd:string" /> 
     <xsd:element name="descr_esito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="geteventsExtranet"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_DA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_A" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="geteventsExtranetResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Event_List" type="eb:List" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="geteventsExtranetRequest"> 
  <wsdl:part element="eb:geteventsExtranet" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="geteventsExtranetResponse"> 
  <wsdl:part element="eb:geteventsExtranetResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_EVENTS_EXTRANETSoap"> 
  <wsdl:operation name="geteventsExtranet"> 
   <wsdl:input message="eb:geteventsExtranetRequest" name="geteventsExtranetRequest" /> 
   <wsdl:output message="eb:geteventsExtranetResponse" name="geteventsExtranetResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_EVENTS_EXTRANETSoap" type="eb:WS_EVENTS_EXTRANETSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="geteventsExtranet"> 
   <soap:operation soapAction="WS_EVENTS_EXTRANET/geteventsExtranet" style="document" /> 
   <wsdl:input name="geteventsExtranetRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="geteventsExtranetResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_EVENTS_EXTRANET"> 
  <wsdl:port binding="eb:WS_EVENTS_EXTRANETSoap" name="WS_EVENTS_EXTRANETSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_EVENTS_EXTRANET" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>