osb_it/repo/SalesforceProject/WS/CRM/CUSTOMER/SEARCH/PS_WS_CRM_CUSTOMER_SEARCH/wsdl/SalesforceProject_WS_CRM_CUSTOMER_SEARCH_proxy_PS_WS_CRM_CUSTOMER_SEARCH.wsdl

<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_CUSTOMER_SEARCH" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="WS_CRM_CUSTOMER_SEARCH" targetNamespace="http://www.skytv.it/mdw/service/CRM_CUSTOMER_SEARCH">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_CUSTOMER_SEARCH.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestMessage">
		<wsdl:part name="part_requestSearchForPhone" element="inp1:requestSearchForPhone"/>
	</wsdl:message>
	<wsdl:message name="replyMessage">
		<wsdl:part name="part_responseSearchForPhone" element="inp1:responseSearchForPhone"/>
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:message name="requestSearchContractByPhone_Message">
		<wsdl:part name="part_requestSearchContractByPhone" element="inp1:requestSearchContractByPhone"/>
	</wsdl:message>
	<wsdl:message name="responseSearchContractByPhone_Message">
		<wsdl:part name="part_responseSearchContractByPhone" element="inp1:responseSearchContractByPhone"/>
	</wsdl:message>
	<wsdl:portType name="CRM_CUSTOMER_SEARCH_ptt">
		<wsdl:operation name="execute_SearchForPhone">
			<wsdl:input message="tns:requestMessage"/>
			<wsdl:output message="tns:replyMessage"/>
		</wsdl:operation>
		<wsdl:operation name="execute_SearchContractByPhone">
			<wsdl:input message="tns:requestSearchContractByPhone_Message"/>
			<wsdl:output message="tns:responseSearchContractByPhone_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRM_CUSTOMER_SEARCH_bind" type="tns:CRM_CUSTOMER_SEARCH_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_SearchForPhone">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_CUSTOMER_SEARCH/execute_SearchForPhone" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestSearchForPhone" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseSearchForPhone" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_SearchContractByPhone">
			<soap:operation/>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>