esb_it/repo/WS_IVR_CHECKUP_IMPIANTO/wsdl/WS_IVR_CHECKUP_IMPIANTO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdIVR/SkyXSD_IVR_CHECKUP_IMPIANTO.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCheckupImpianto"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckupImpiantoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckupImpiantoRequest"> 
  <wsdl:part element="eb:opCheckupImpianto" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckupImpiantoResponse"> 
  <wsdl:part element="eb:opCheckupImpiantoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_CHECKUP_IMPIANTOSoap"> 
  <wsdl:operation name="opCheckupImpianto"> 
   <wsdl:input message="eb:opCheckupImpiantoRequest" name="opCheckupImpiantoRequest" /> 
   <wsdl:output message="eb:opCheckupImpiantoResponse" name="opCheckupImpiantoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_CHECKUP_IMPIANTOSoap" type="eb:WS_IVR_CHECKUP_IMPIANTOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckupImpianto"> 
   <soap:operation soapAction="WS_IVR_CHECKUP_IMPIANTO/opCheckupImpianto" style="document" /> 
   <wsdl:input name="opCheckupImpiantoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckupImpiantoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_CHECKUP_IMPIANTO"> 
  <wsdl:port binding="eb:WS_IVR_CHECKUP_IMPIANTOSoap" name="WS_IVR_CHECKUP_IMPIANTOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_CHECKUP_IMPIANTO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>