esb_it/repo/WS_IVR_GET_ANAGRAFICA_IPTV/wsdl/WS_IVR_GET_ANAGRAFICA_IPTV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="FML_ROOT" type="eb:FMLRootType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLRootType"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="IP_TV_ROW_ID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_PAR_ROW_ID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_LAST_UPD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_LAST_UPD_BY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CREATED" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CREATED_BY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CONFLICT_ID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DB_LAST_UPD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DB_LAST_UPD_SRC" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_MODIFICATION_NUM" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_STATO_PROVISIONING_SKY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_STATO_PROVISIONING_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_NOTIFICA_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_NOTIFICA_PROVISIONING_SKY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_ID_PDA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_STATO_CONTRATTO_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_ATTIVAZIONE_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_ANNULLAMENTO_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAUSALE_ANNULLA_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_SOSP_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAUSALE_SOSP_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_CESSAZIONE_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAUSALE_CESSAZIONE_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_EMAIL_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_STATO_CONTRATTO_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_ATTIVAZIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_ANNULLAMENTO_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_SOSPENSIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_CESSAZIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAUSALE_CESSAZIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAUSALE_SOSPENSIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAUSALE_ANNULLAMENTO_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CANALE_VENDITA_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_VOCAL_ORDER_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CLUSTER_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CLUSTER_SKY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CLUSTER_BUNDLE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_SEMAFORO_CONNETTIVITA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_OFFERTA_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_TIPO_LAVORAZIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CODICE_CONTRATTO_ORIGINE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_LOCALITA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_PARTICELLA_TOPONOMASTICA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_INDIRIZZO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_NUMERO_CIVICO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_CAP" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_PROVINCIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_TIPO_FATTURAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_TELEFONO_IMPIANTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_FLG_TRAFFICO_ANOMALO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_FLG_FRODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_RICH_CESSAZIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_RIATTIVAZIONE_EXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_PIATTAFORMA_ORIGINE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_STATO_RICH_MIGRAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="IP_TV_DATA_RICH_MIGRAZIONE" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetAnagraficaIPTV"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="OD_ORDER_NUM" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetAnagraficaIPTVResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetAnagraficaIPTVRequest"> 
  <wsdl:part element="eb:opGetAnagraficaIPTV" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetAnagraficaIPTVResponse"> 
  <wsdl:part element="eb:opGetAnagraficaIPTVResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_ANAGRAFICA_IPTVSoap"> 
  <wsdl:operation name="opGetAnagraficaIPTV"> 
   <wsdl:input message="eb:opGetAnagraficaIPTVRequest" name="opGetAnagraficaIPTVRequest" /> 
   <wsdl:output message="eb:opGetAnagraficaIPTVResponse" name="opGetAnagraficaIPTVResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_ANAGRAFICA_IPTVSoap" type="eb:WS_IVR_GET_ANAGRAFICA_IPTVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetAnagraficaIPTV"> 
   <soap:operation soapAction="WS_IVR_GET_ANAGRAFICA_IPTV/opGetAnagraficaIPTV" style="document" /> 
   <wsdl:input name="opGetAnagraficaIPTVRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetAnagraficaIPTVResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_ANAGRAFICA_IPTV"> 
  <wsdl:port binding="eb:WS_IVR_GET_ANAGRAFICA_IPTVSoap" name="WS_IVR_GET_ANAGRAFICA_IPTVSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_ANAGRAFICA_IPTV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>