osb_it/repo/SCMSproject/MultiPairing/PS_REST_SCMS_MULTIPAIRING/wsdl/SCMSproject_MultiPairing_proxy_PS_REST_SCMS_MULTIPAIRING.wsdl

<wsdl:definitions name="PS_REST_SCMS_MULTIPAIRING" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SCMSproject/PS_REST_SCMS_MULTIPAIRING" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SCMSproject/PS_REST_SCMS_MULTIPAIRING" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SCMS_MULTIPAIRING">
        <plnk:role name="PS_REST_SCMS_MULTIPAIRINGProvider" portType="tns:PS_REST_SCMS_MULTIPAIRING_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/MultiPairing/xsd/XSD_SCMS_MULTIPAIRING.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MultiPairing_inputMessage">
        <wsdl:part name="request" element="inp1:requestMultiPairing"/>
    </wsdl:message>
    <wsdl:message name="MultiPairing_outputMessage">
        <wsdl:part name="reply" element="inp1:responseMultiPairing"/>
    </wsdl:message>
    <wsdl:message name="MultiPairing_Error404Message">
        <wsdl:part name="fault_Error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="MultiPairing_Error400Message">
        <wsdl:part name="fault_Error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="MultiPairing_Error500Message">
        <wsdl:part name="fault_Error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SCMS_MULTIPAIRING_ptt">
        <wsdl:operation name="MultiPairing">
            <wsdl:input message="tns:MultiPairing_inputMessage"/>
            <wsdl:output message="tns:MultiPairing_outputMessage"/>
            <wsdl:fault name="Error404" message="tns:MultiPairing_Error404Message"/>
            <wsdl:fault name="Error400" message="tns:MultiPairing_Error400Message"/>
            <wsdl:fault name="Error500" message="tns:MultiPairing_Error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SCMS_MULTIPAIRING_ptt-binding" type="tns:PS_REST_SCMS_MULTIPAIRING_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MultiPairing">
            <soap:operation soapAction="MultiPairing"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>