esb_it/repo/WS_IVR_AGGIUNTA_TELEFONO/wsdl/WS_IVR_AGGIUNTA_TELEFONO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opAggiuntaTelefono"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceClienteSKY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="Provenienza" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="NumeroTelefono" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TipoTelefono" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="EsigenzaPrivacy" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAggiuntaTelefonoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAggiuntaTelefonoRequest"> 
  <wsdl:part element="eb:opAggiuntaTelefono" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAggiuntaTelefonoResponse"> 
  <wsdl:part element="eb:opAggiuntaTelefonoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_AGGIUNTA_TELEFONOSoap"> 
  <wsdl:operation name="opAggiuntaTelefono"> 
   <wsdl:input message="eb:opAggiuntaTelefonoRequest" name="opAggiuntaTelefonoRequest" /> 
   <wsdl:output message="eb:opAggiuntaTelefonoResponse" name="opAggiuntaTelefonoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_AGGIUNTA_TELEFONOSoap" type="eb:WS_IVR_AGGIUNTA_TELEFONOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAggiuntaTelefono"> 
   <soap:operation soapAction="WS_IVR_AGGIUNTA_TELEFONO/opAggiuntaTelefono" style="document" /> 
   <wsdl:input name="opAggiuntaTelefonoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAggiuntaTelefonoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_AGGIUNTA_TELEFONO"> 
  <wsdl:port binding="eb:WS_IVR_AGGIUNTA_TELEFONOSoap" name="WS_IVR_AGGIUNTA_TELEFONOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_AGGIUNTA_TELEFONO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>