esb_it/repo/WS_LS_CREA_ECCEZIONE_SBL/wsdl/WS_LS_CREA_ECCEZIONE_SBL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opCreaEccezioneSbl"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreaEccezioneSblResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DescrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Tid" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCreaEccezioneSblRequest"> 
  <wsdl:part element="eb:opCreaEccezioneSbl" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCreaEccezioneSblResponse"> 
  <wsdl:part element="eb:opCreaEccezioneSblResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_CREA_ECCEZIONE_SBLSoap"> 
  <wsdl:operation name="opCreaEccezioneSbl"> 
   <wsdl:input message="eb:opCreaEccezioneSblRequest" name="opCreaEccezioneSblRequest" /> 
   <wsdl:output message="eb:opCreaEccezioneSblResponse" name="opCreaEccezioneSblResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_CREA_ECCEZIONE_SBLSoap" type="eb:WS_LS_CREA_ECCEZIONE_SBLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCreaEccezioneSbl"> 
   <soap:operation soapAction="WS_LS_CREA_ECCEZIONE_SBL/opCreaEccezioneSbl" style="document" /> 
   <wsdl:input name="opCreaEccezioneSblRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCreaEccezioneSblResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_CREA_ECCEZIONE_SBL"> 
  <wsdl:port binding="eb:WS_LS_CREA_ECCEZIONE_SBLSoap" name="WS_LS_CREA_ECCEZIONE_SBLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_CREA_ECCEZIONE_SBL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>