esb_it/repo/WS_GET_INFO_EMAIL/wsdl/WS_GET_INFO_EMAIL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_GET_INFO_EMAIL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPERATORE_API" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_EMAIL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PIN_CONTROL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GET_INFO_EMAILResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ACCOUNT_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NUM_SC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_FLAG_ACTIVATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_FLAG_PRIVACY_1" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_FLAG_PRIVACY_2" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_FLAG_PRIVACY_3" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GET_INFO_EMAILRequest"> 
  <wsdl:part element="eb:OP_GET_INFO_EMAIL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GET_INFO_EMAILResponse"> 
  <wsdl:part element="eb:OP_GET_INFO_EMAILResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GET_INFO_EMAILSoap"> 
  <wsdl:operation name="OP_GET_INFO_EMAIL"> 
   <wsdl:input message="eb:OP_GET_INFO_EMAILRequest" name="OP_GET_INFO_EMAILRequest" /> 
   <wsdl:output message="eb:OP_GET_INFO_EMAILResponse" name="OP_GET_INFO_EMAILResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GET_INFO_EMAILSoap" type="eb:WS_GET_INFO_EMAILSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GET_INFO_EMAIL"> 
   <soap:operation soapAction="WS_GET_INFO_EMAIL/OP_GET_INFO_EMAIL" style="document" /> 
   <wsdl:input name="OP_GET_INFO_EMAILRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GET_INFO_EMAILResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GET_INFO_EMAIL"> 
  <wsdl:port binding="eb:WS_GET_INFO_EMAILSoap" name="WS_GET_INFO_EMAILSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_GET_INFO_EMAIL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>