esb_it/repo/WS_HTL_SCRIVI_APERTURE_STAG_FLX/wsdl/WS_HTL_SCRIVI_APERTURE_STAG_FLX.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_HOTEL" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_APERTURE_FML32" type="eb:FMLComplexInputAperture" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputApertura"> 
    <xsd:sequence> 
     <xsd:element name="HTL_DATA_INIZIO" type="xsd:string" /> 
     <xsd:element name="HTL_TIPO_PERIODO" type="xsd:string" /> 
     <xsd:element name="HTL_TIPO_APERTURA" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputAperture"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="100" name="HTL_APERTURA_FML32" type="eb:FMLComplexInputApertura" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="WS_TID" type="xsd:string" /> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OpScrvStagFlxAper"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpScrvStagFlxAperResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpScrvStagFlxAperRequest"> 
  <wsdl:part element="eb:OpScrvStagFlxAper" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpScrvStagFlxAperResponse"> 
  <wsdl:part element="eb:OpScrvStagFlxAperResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SCRIVI_APERTURE_STAG_FLXSoap"> 
  <wsdl:operation name="OpScrvStagFlxAper"> 
   <wsdl:input message="eb:OpScrvStagFlxAperRequest" name="OpScrvStagFlxAperRequest" /> 
   <wsdl:output message="eb:OpScrvStagFlxAperResponse" name="OpScrvStagFlxAperResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SCRIVI_APERTURE_STAG_FLXSoap" type="eb:WS_HTL_SCRIVI_APERTURE_STAG_FLXSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpScrvStagFlxAper"> 
   <soap:operation soapAction="WS_HTL_SCRIVI_APERTURE_STAG_FLX/OpScrvStagFlxAper" style="document" /> 
   <wsdl:input name="OpScrvStagFlxAperRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpScrvStagFlxAperResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SCRIVI_APERTURE_STAG_FLX"> 
  <wsdl:port binding="eb:WS_HTL_SCRIVI_APERTURE_STAG_FLXSoap" name="WS_HTL_SCRIVI_APERTURE_STAG_FLXSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_SCRIVI_APERTURE_STAG_FLX" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>