esb_it/repo/WS_FWB_UPSERT_SERVICE_REQUEST/wsdl/WS_FWB_UPSERT_SERVICE_REQUEST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/UpsertServiceRequest" schemaLocation="xsdFWB/SkyXSD_FWB_UpsertServiceRequest.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/UpsertServiceRequest"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="UpsertServiceRequestOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="UpsertServiceRequestOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ErrorMessage" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="UpsertServiceRequestOpRequest"> 
  <wsdl:part element="eb:UpsertServiceRequestOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="UpsertServiceRequestOpResponse"> 
  <wsdl:part element="eb:UpsertServiceRequestOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_UPSERT_SERVICE_REQUESTSoap"> 
  <wsdl:operation name="UpsertServiceRequestOp"> 
   <wsdl:input message="eb:UpsertServiceRequestOpRequest" name="UpsertServiceRequestOpRequest" /> 
   <wsdl:output message="eb:UpsertServiceRequestOpResponse" name="UpsertServiceRequestOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_UPSERT_SERVICE_REQUESTSoap" type="eb:WS_FWB_UPSERT_SERVICE_REQUESTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="UpsertServiceRequestOp"> 
   <soap:operation soapAction="WS_FWB_UPSERT_SERVICE_REQUEST/UpsertServiceRequestOp" style="document" /> 
   <wsdl:input name="UpsertServiceRequestOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="UpsertServiceRequestOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_UPSERT_SERVICE_REQUEST"> 
  <wsdl:port binding="eb:WS_FWB_UPSERT_SERVICE_REQUESTSoap" name="WS_FWB_UPSERT_SERVICE_REQUESTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_UPSERT_SERVICE_REQUEST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>