osb_it/repo/SiebelProject/SwapMateriale/PS_REST_SBL_SWAP_MATERIALE/wsdl/SiebelProject_SwapMateriale_proxy_PS_REST_SBL_SWAP_MATERIALE.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/SKY_Application/SiebelProject/PS_REST_SBL_SWAP_MATERIALE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_SBL_SWAP_MATERIALE" targetNamespace="http://xmlns.oracle.com/SKY_Application/SiebelProject/PS_REST_SBL_SWAP_MATERIALE">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SiebelProject/Rest_SwapMateriale/xsd/XSD_REST_SWAP_MATERIALE.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getSwapMateriale_inputMessage">
		<wsdl:part name="request" element="inp1:requestSwapMateriale"/>
	</wsdl:message>
	<wsdl:message name="getSwapMateriale_outputMessage">
		<wsdl:part name="reply" element="inp1:responseSwapMateriale"/>
	</wsdl:message>
	<wsdl:message name="getSwapMateriale_error400Message">
		<wsdl:part name="fault_error400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="getSwapMateriale_error500Message">
		<wsdl:part name="fault_error500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:message name="getSwapMateriale_error404Message">
		<wsdl:part name="fault_error404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_SBL_SWAP_MATERIALE_ptt">
		<wsdl:operation name="getSwapMateriale">
			<wsdl:input message="tns:getSwapMateriale_inputMessage"/>
			<wsdl:output message="tns:getSwapMateriale_outputMessage"/>
			<wsdl:fault name="error400" message="tns:getSwapMateriale_error400Message"/>
			<wsdl:fault name="error500" message="tns:getSwapMateriale_error500Message"/>
			<wsdl:fault name="error404" message="tns:getSwapMateriale_error404Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_SBL_SWAP_MATERIALE_ptt-binding" type="tns:PS_REST_SBL_SWAP_MATERIALE_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSwapMateriale">
			<soap:operation soapAction="getSwapMateriale"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_SBL_SWAP_MATERIALE">
		<plnk:role name="PS_REST_SBL_SWAP_MATERIALEProvider" portType="tns:PS_REST_SBL_SWAP_MATERIALE_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>