esb_it/repo/WS_FW_CONFIRM_ORDER/wsdl/WS_FW_CONFIRM_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/ConfirmOrderServices/" schemaLocation="SkyXSD_ConfirmOrder.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/ConfirmOrderServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="ConfirmOrderOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ConfirmOrderOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ConfirmOrderOpRequest"> 
  <wsdl:part element="eb:ConfirmOrderOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ConfirmOrderOpResponse"> 
  <wsdl:part element="eb:ConfirmOrderOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FW_CONFIRM_ORDERSoap"> 
  <wsdl:operation name="ConfirmOrderOp"> 
   <wsdl:input message="eb:ConfirmOrderOpRequest" name="ConfirmOrderOpRequest" /> 
   <wsdl:output message="eb:ConfirmOrderOpResponse" name="ConfirmOrderOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FW_CONFIRM_ORDERSoap" type="eb:WS_FW_CONFIRM_ORDERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ConfirmOrderOp"> 
   <soap:operation soapAction="WS_FW_CONFIRM_ORDER/ConfirmOrderOp" style="document" /> 
   <wsdl:input name="ConfirmOrderOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ConfirmOrderOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FW_CONFIRM_ORDER"> 
  <wsdl:port binding="eb:WS_FW_CONFIRM_ORDERSoap" name="WS_FW_CONFIRM_ORDERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FW_CONFIRM_ORDER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>