esb_it/repo/WS_ADV_ADAGIO_BI/wsdl/WS_ADV_ADAGIO_BI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLStartInput"> 
    <xsd:sequence> 
     <xsd:element name="ADV_DataRiferimento" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLStartOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLEndInput"> 
    <xsd:sequence> 
     <xsd:element name="ADV_DataRiferimento" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLEndOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLSendCampaignInput"> 
    <xsd:sequence> 
     <xsd:element name="ADV_DataRiferimento" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" name="ADV_Campagne_FML32" type="eb:ComplexCampagne" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexCampagne"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_Campagna_FML32" type="eb:ComplexCampagna" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexCampagna"> 
    <xsd:sequence> 
     <xsd:element name="ADV_CodeOrdine" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_StatoOrdine" type="xsd:string" /> 
     <xsd:element name="ADV_DescrOrdine" type="xsd:string" /> 
     <xsd:element name="ADV_DataCreazioneOrdine" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeCampagna" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DescrCampagna" type="xsd:string" /> 
     <xsd:element name="ADV_IdCustomerADVertiser" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_IdCustomerAgenzia" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_IdCustomerBarter" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeCampagnaOrigine" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeTipoFatt" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DescrCodiceTipoFatt" type="xsd:string" /> 
     <xsd:element name="ADV_CodeTipoVendita" type="xsd:string" /> 
     <xsd:element name="ADV_DescrTipoVendita" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DataInizioCampagna" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DataFineOrigCampagna" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DataFineAttualeCampagna" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoRevenue" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_StatusCampagna" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_PrezzoNettoUnitario" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_Volumi" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_ValoreCampagna" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_Prenotati_FML32" type="eb:ComplexPrenotati" /> 
     <xsd:element minOccurs="0" name="ADV_PrenGeneri_FML32" type="eb:ComplexPrenGeneri" /> 
     <xsd:element minOccurs="0" name="ADV_PrenSubGeneri_FML32" type="eb:ComplexSubGeneri" /> 
     <xsd:element minOccurs="0" name="ADV_PrenBrandChannels_FML32" type="eb:ComplexPrenBrandChannels" /> 
     <xsd:element minOccurs="0" name="ADV_PrenDistributors_FML32" type="eb:ComplexPrenDistributors" /> 
     <xsd:element minOccurs="0" name="ADV_PrenParentalRatings_FML32" type="eb:ComplexPrenParentalRatings" /> 
     <xsd:element minOccurs="0" name="ADV_PrenAnniProduzione_FML32" type="eb:ComplexPrenAnniProduzione" /> 
     <xsd:element minOccurs="0" name="ADV_PrenAssets_FML32" type="eb:ComplexPrenAssets" /> 
     <xsd:element minOccurs="0" name="ADV_PrenCasts_FML32" type="eb:ComplexPrenCasts" /> 
     <xsd:element minOccurs="0" name="ADV_PrenClientProducts_FML32" type="eb:ComplexPrenClientProducts" /> 
     <xsd:element minOccurs="0" name="ADV_Erogati_FML32" type="eb:ComplexErogati" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenotati"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_Prenotato_FML32" type="eb:ComplexPrenotato" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenotato"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="ADV_IdCreativita" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_NomeCreativita" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_IdVideo" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeCliProdCreativita" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeNodoTipoN" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeNodoTipoS" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeNodoTipoC" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DurataSpot" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_TipoPosBreak" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoPosBreak" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_SequenzaBreak" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_TipoBreakPubblIBMS" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoBreakPubblAdAgio" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoBreakPubblAdAgio" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoSpot" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoSpot" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_SequenzaSpot" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_FlagSkippable" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_OffsetSkippable" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeDevice" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DescrDevice" type="xsd:string" /> 
     <xsd:element name="ADV_PrezzoListinoUnitario" type="xsd:string" /> 
     <xsd:element name="ADV_PrezzoNetto" type="xsd:string" /> 
     <xsd:element name="ADV_CodeTipoVendita" type="xsd:string" /> 
     <xsd:element name="ADV_DescrTipoVendita" type="xsd:string" /> 
     <xsd:element name="ADV_Volumi" type="xsd:string" /> 
     <xsd:element name="ADV_ValoreCampagna" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenGeneri"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenGenere_FML32" type="eb:ComplexPrenGenere" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenGenere"> 
    <xsd:sequence> 
     <xsd:element name="ADV_Genre" type="xsd:integer" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexSubGeneri"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenSubGenere_FML32" type="eb:ComplexPrenSubGenere" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenSubGenere"> 
    <xsd:sequence> 
     <xsd:element name="ADV_SubGenre" type="xsd:integer" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenBrandChannels"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenBrandChannel_FML32" type="eb:ComplexBrandChannel" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexBrandChannel"> 
    <xsd:sequence> 
     <xsd:element name="ADV_BrandChannels" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenDistributors"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenDistributor_FML32" type="eb:ComplexPrenDistributor" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenDistributor"> 
    <xsd:sequence> 
     <xsd:element name="ADV_DistributorCompany" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenParentalRatings"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenParentalRating_FML32" type="eb:ComplexPrenParentalRating" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenParentalRating"> 
    <xsd:sequence> 
     <xsd:element name="ADV_ParentalRatings" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenAnniProduzione"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenAnnoProduzione_FML32" type="eb:ComplexPrenAnnoProduzione" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenAnnoProduzione"> 
    <xsd:sequence> 
     <xsd:element name="ADV_AnnoProduzione" type="xsd:integer" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenAssets"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenAsset_FML32" type="eb:ComplexPrenAsset" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenAsset"> 
    <xsd:sequence> 
     <xsd:element name="ADV_TitoloEvento" type="xsd:integer" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenCasts"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenCast_FML32" type="eb:ComplexPrenCast" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenCast"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="ADV_DescrPersona" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeRuolo" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenClientProducts"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_PrenClientProduct_FML32" type="eb:ComplexPrenClientProduct" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexPrenClientProduct"> 
    <xsd:sequence> 
     <xsd:element name="ADV_CodeClientProduct" type="xsd:integer" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexErogati"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_Erogato_FML32" type="eb:ComplexErogato" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexErogato"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="ADV_IdCreativita" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_NomeCreativita" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_IdVideo" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DurataSpot" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_Genre" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_SubGenre" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_BrandChannel" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DistributorCompany" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_ParentalRating" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_AnnoProduzione" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeClientProduct" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeTipoVendita" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoVendita" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoPosBreak" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoPosBreak" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_SequenzaBreak" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_TipoBreakPubblIBMS" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoBreakPubblAdAgio" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoBreakPubblAdAgio" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoSpot" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DescrTipoSpot" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_SequenzaSpot" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeDevice" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_DescrDevice" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeModello" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TipoRevenue" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_TitoloEvento" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeNodoTipoN" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeNodoTipoS" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeNodoTipoC" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_CodeRowType" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeTipoEvento" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_Attributo" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_DataErogazione" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_OraErogazione" type="xsd:integer" /> 
     <xsd:element minOccurs="0" name="ADV_PrezzoListinoUnitario" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_PrezzoNettoUnitario" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_ValoreCampagna" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_Volumi" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_ErogatiCast_FML32" type="eb:ComplexErogatiCast" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexErogatiCast"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="ADV_ErogatoCast_FML32" type="eb:ComplexErogatoCast" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexErogatoCast"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="ADV_DescrPersona" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ADV_CodeRuolo" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLSendCampaignOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opStartTransaction"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLStartInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStartTransactionResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLStartOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEndTransaction"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLEndInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEndTransactionResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLEndOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendCampaign"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLSendCampaignInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendCampaignResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLSendCampaignOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opStartTransactionRequest"> 
  <wsdl:part element="eb:opStartTransaction" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStartTransactionResponse"> 
  <wsdl:part element="eb:opStartTransactionResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEndTransactionRequest"> 
  <wsdl:part element="eb:opEndTransaction" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEndTransactionResponse"> 
  <wsdl:part element="eb:opEndTransactionResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendCampaignRequest"> 
  <wsdl:part element="eb:opSendCampaign" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendCampaignResponse"> 
  <wsdl:part element="eb:opSendCampaignResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ADV_ADAGIO_BISoap"> 
  <wsdl:operation name="opStartTransaction"> 
   <wsdl:input message="eb:opStartTransactionRequest" name="opStartTransactionRequest" /> 
   <wsdl:output message="eb:opStartTransactionResponse" name="opStartTransactionResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opEndTransaction"> 
   <wsdl:input message="eb:opEndTransactionRequest" name="opEndTransactionRequest" /> 
   <wsdl:output message="eb:opEndTransactionResponse" name="opEndTransactionResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opSendCampaign"> 
   <wsdl:input message="eb:opSendCampaignRequest" name="opSendCampaignRequest" /> 
   <wsdl:output message="eb:opSendCampaignResponse" name="opSendCampaignResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ADV_ADAGIO_BISoap" type="eb:WS_ADV_ADAGIO_BISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opStartTransaction"> 
   <soap:operation soapAction="WS_ADV_ADAGIO_BI/opStartTransaction" style="document" /> 
   <wsdl:input name="opStartTransactionRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opStartTransactionResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opEndTransaction"> 
   <soap:operation soapAction="WS_ADV_ADAGIO_BI/opEndTransaction" style="document" /> 
   <wsdl:input name="opEndTransactionRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opEndTransactionResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opSendCampaign"> 
   <soap:operation soapAction="WS_ADV_ADAGIO_BI/opSendCampaign" style="document" /> 
   <wsdl:input name="opSendCampaignRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendCampaignResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ADV_ADAGIO_BI"> 
  <wsdl:port binding="eb:WS_ADV_ADAGIO_BISoap" name="WS_ADV_ADAGIO_BISoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_neodata/WS_ADV_ADAGIO_BI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>