osb_it/repo/BlueBirdProject/SALESFORCE/addressesManager/PS_REST_SF_ADDRESS_MANAGER/wsdl/BlueBirdProject_SALESFORCE_addressesManager_proxy_PS_REST_SF_ADDRESS_MANAGER.wsdl

<wsdl:definitions name="PS_REST_SF_ADDRESS_MANAGER" targetNamespace="http://xmlns.oracle.com/SKY_OSB_SVIL/BlueBirdProject/PS_REST_SF_ADDRESS_MANAGER" xmlns:tns="http://xmlns.oracle.com/SKY_OSB_SVIL/BlueBirdProject/PS_REST_SF_ADDRESS_MANAGER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_ADDRESS_MANAGER">
        <plnk:role name="PS_REST_SF_ADDRESS_MANAGERProvider" portType="tns:PS_REST_SF_ADDRESS_MANAGER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/addressesManager/xsd/XSD_SF_ADDRESSES_MANAGER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdateBillingAaddress_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateBillingAddress"/>
    </wsdl:message>
    <wsdl:message name="UpdateBillingAaddress_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateBillingAddress"/>
    </wsdl:message>
    <wsdl:message name="UpdateBillingAaddress_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateBillingAaddress_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateBillingAaddress_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateInstallationAddress_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateInstallationAddress"/>
    </wsdl:message>
    <wsdl:message name="UpdateInstallationAddress_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateInstallationAddress"/>
    </wsdl:message>
    <wsdl:message name="UpdateInstallationAddress_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateInstallationAddress_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateInstallationAddress_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_ADDRESS_MANAGER_ptt">
        <wsdl:operation name="UpdateBillingAaddress">
            <wsdl:input message="tns:UpdateBillingAaddress_inputMessage"/>
            <wsdl:output message="tns:UpdateBillingAaddress_outputMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateBillingAaddress_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateBillingAaddress_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateBillingAaddress_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateInstallationAddress">
            <wsdl:input message="tns:UpdateInstallationAddress_inputMessage"/>
            <wsdl:output message="tns:UpdateInstallationAddress_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:UpdateInstallationAddress_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:UpdateInstallationAddress_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:UpdateInstallationAddress_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_ADDRESS_MANAGER_ptt-binding" type="tns:PS_REST_SF_ADDRESS_MANAGER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateBillingAaddress">
            <soap:operation soapAction="UpdateBillingAaddress"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateInstallationAddress">
            <soap:operation soapAction="UpdateInstallationAddress"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>