esb_it/repo/WS_DS_SF_ENTERPRISE/wsdl/WS_DS_SF_ENTERPRISE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="opEsitoPrechiusura"> 
    <xsd:sequence> 
     <xsd:element name="SVMXC__Order_Status" type="xsd:string" /> 
     <xsd:element name="WorkOrderNumber" type="xsd:string" /> 
     <xsd:element name="SubStatus" type="xsd:string" /> 
     <xsd:element name="Esito_Prechiusura" type="xsd:string" /> 
     <xsd:element name="STRINGA_RC_CARRELLO_1" type="xsd:string" /> 
     <xsd:element name="STRINGA_RC_CARRELLO_2" type="xsd:string" /> 
     <xsd:element name="STRINGA_RC_CARRELLO_3" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="opEsitoPrechiusuraResponse"> 
    <xsd:sequence> 
     <xsd:element name="created" type="xsd:string" /> 
     <xsd:element name="id" type="xsd:string" /> 
     <xsd:element name="success" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opEsitoPrechiusura"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="COMPLEX_INPUT" type="eb:opEsitoPrechiusura" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEsitoPrechiusuraResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:opEsitoPrechiusuraResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opEsitoPrechiusuraRequest"> 
  <wsdl:part element="eb:opEsitoPrechiusura" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEsitoPrechiusuraResponse"> 
  <wsdl:part element="eb:opEsitoPrechiusuraResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_DS_SF_ENTERPRISESoap"> 
  <wsdl:operation name="opEsitoPrechiusura"> 
   <wsdl:input message="eb:opEsitoPrechiusuraRequest" name="opEsitoPrechiusuraRequest" /> 
   <wsdl:output message="eb:opEsitoPrechiusuraResponse" name="opEsitoPrechiusuraResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_DS_SF_ENTERPRISESoap" type="eb:WS_DS_SF_ENTERPRISESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opEsitoPrechiusura"> 
   <soap:operation soapAction="WS_DS_SF_ENTERPRISE/opEsitoPrechiusura" style="document" /> 
   <wsdl:input name="opEsitoPrechiusuraRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opEsitoPrechiusuraResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_DS_SF_ENTERPRISE"> 
  <wsdl:port binding="eb:WS_DS_SF_ENTERPRISESoap" name="WS_DS_SF_ENTERPRISESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_DS_SF_ENTERPRISE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>