esb_it/repo/WS_SKY_TI_UPSERT_SR/wsdl/WS_SKY_TI_UPSERT_SR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:cst="http://telecomitalia.it/SOA/WS_TI_SKY_UPSERT_SR_SKY/2014-09-04" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://telecomitalia.it/SOA/WS_TI_SKY_UPSERT_SR_SKY/2014-09-04" schemaLocation="xsdTelecom/SkyXSD_SKY_TI_UpsertSR.xsd" /> 
   <xsd:element name="opUpsertSR"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="cst:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpsertSRResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="cst:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opUpsertSRRequest"> 
  <wsdl:part element="eb:opUpsertSR" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpsertSRResponse"> 
  <wsdl:part element="eb:opUpsertSRResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SKY_TI_UPSERT_SRSoap"> 
  <wsdl:operation name="opUpsertSR"> 
   <wsdl:input message="eb:opUpsertSRRequest" name="opUpsertSRRequest" /> 
   <wsdl:output message="eb:opUpsertSRResponse" name="opUpsertSRResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SKY_TI_UPSERT_SRSoap" type="eb:WS_SKY_TI_UPSERT_SRSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opUpsertSR"> 
   <soap:operation soapAction="WS_SKY_TI_UPSERT_SR/opUpsertSR" style="document" /> 
   <wsdl:input name="opUpsertSRRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opUpsertSRResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SKY_TI_UPSERT_SR"> 
  <wsdl:port binding="eb:WS_SKY_TI_UPSERT_SRSoap" name="WS_SKY_TI_UPSERT_SRSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SKY_TI_UPSERT_SR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>