osb_it/repo/BlueBirdProject/KENAN/voiceUsageHandler/PS_REST_KENAN_VOICE_USAGE/wsdl/BlueBirdProject_KENAN_voiceUsageHandler_proxy_PS_REST_KENAN_VOICE_USAGE.wsdl

<wsdl:definitions name="PS_REST_KENAN_VOICE_USAGE" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_VOICE_USAGE" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_VOICE_USAGE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_KENAN_VOICE_USAGE">
        <plnk:role name="PS_REST_KENAN_VOICE_USAGEProvider" portType="tns:PS_REST_KENAN_VOICE_USAGE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/voiceUsageHandler/xsd/XSD_KENAN_VOICE_USAGE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveVoiceUsage_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveVoiceUsage"/>
    </wsdl:message>
    <wsdl:message name="RetrieveVoiceUsage_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveVoiceUsage"/>
    </wsdl:message>
    <wsdl:message name="RetrieveVoiceUsage_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveVoiceUsage_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveVoiceUsage_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KENAN_VOICE_USAGE_ptt">
        <wsdl:operation name="RetrieveVoiceUsage">
            <wsdl:input message="tns:RetrieveVoiceUsage_inputMessage"/>
            <wsdl:output message="tns:RetrieveVoiceUsage_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:RetrieveVoiceUsage_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:RetrieveVoiceUsage_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:RetrieveVoiceUsage_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KENAN_VOICE_USAGE_ptt-binding" type="tns:PS_REST_KENAN_VOICE_USAGE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveVoiceUsage">
            <soap:operation soapAction="RetrieveVoiceUsage"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>