osb_it/repo/BlueBirdProject/DMS/identityDocument/PS_REST_DMS_IDENTITY_DOCUMENT/wsdl/BlueBirdProject_DMS_identityDocument_proxy_PS_REST_DMS_IDENTITY_DOCUMENT.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_DMS_IDENTITY_DOCUMENT"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_DMS_IDENTITY_DOCUMENT"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_DMS_IDENTITY_DOCUMENT"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_DMS_IDENTITY_DOCUMENT">
        <plnk:role name="PS_REST_DMS_IDENTITY_DOCUMENTProvider" portType="tns:PS_REST_DMS_IDENTITY_DOCUMENT_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DMS/identityDocument/xsd/XSD_DMS_IDENTITY_DOCUMENT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="uploadIDFiles_inputMessage">
        <wsdl:part name="request" element="inp1:requestUploadIDFiles"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="uploadIDFiles_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="uploadIDFiles_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="uploadIDFiles_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_DMS_IDENTITY_DOCUMENT_ptt">
        <wsdl:operation name="uploadIDFiles">
            <wsdl:input message="tns:uploadIDFiles_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:uploadIDFiles_error404Message"/>
            <wsdl:fault name="error400" message="tns:uploadIDFiles_error400Message"/>
            <wsdl:fault name="error500" message="tns:uploadIDFiles_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_DMS_IDENTITY_DOCUMENT_ptt-binding" type="tns:PS_REST_DMS_IDENTITY_DOCUMENT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="uploadIDFiles">
            <soap:operation soapAction="uploadIDFiles"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>