esb_it/repo/WS_SCMS_IBMS_VOD_ALIGN/wsdl/WS_SCMS_IBMS_VOD_ALIGN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opIbmsVodAlign"> 
    <xsd:complexType> 
     <xsd:sequence /> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opIbmsVodAlignResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opIbmsVodAlignRequest"> 
  <wsdl:part element="eb:opIbmsVodAlign" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opIbmsVodAlignResponse"> 
  <wsdl:part element="eb:opIbmsVodAlignResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_IBMS_VOD_ALIGNSoap"> 
  <wsdl:operation name="opIbmsVodAlign"> 
   <wsdl:input message="eb:opIbmsVodAlignRequest" name="opIbmsVodAlignRequest" /> 
   <wsdl:output message="eb:opIbmsVodAlignResponse" name="opIbmsVodAlignResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_IBMS_VOD_ALIGNSoap" type="eb:WS_SCMS_IBMS_VOD_ALIGNSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opIbmsVodAlign"> 
   <soap:operation soapAction="WS_SCMS_IBMS_VOD_ALIGN/opIbmsVodAlign" style="document" /> 
   <wsdl:input name="opIbmsVodAlignRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opIbmsVodAlignResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_IBMS_VOD_ALIGN"> 
  <wsdl:port binding="eb:WS_SCMS_IBMS_VOD_ALIGNSoap" name="WS_SCMS_IBMS_VOD_ALIGNSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_IBMS_VOD_ALIGN" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>