esb_it/repo/WS_SCMS_EXECUTE_ADDAUT/wsdl/WS_SCMS_EXECUTE_ADDAUT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestADDAUT"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkind" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkindhw" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
     <xsd:element name="authocodesnum" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" name="authocodes" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="zipcode" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="tokens" type="xsd:string" /> 
     <xsd:element name="account" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="flagrefresh" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ppvkey" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="expiredate" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Flagresexp" type="xsd:string" /> 
     <xsd:element name="decoderid" type="xsd:string" /> 
     <xsd:element name="customerid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseADDAUT"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opADDAUT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestADDAUT" type="eb:requestADDAUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opADDAUTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseADDAUT" type="eb:responseADDAUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opADDAUTRequest"> 
  <wsdl:part element="eb:opADDAUT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opADDAUTResponse"> 
  <wsdl:part element="eb:opADDAUTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_ADDAUTSoap"> 
  <wsdl:operation name="opADDAUT"> 
   <wsdl:input message="eb:opADDAUTRequest" name="opADDAUTRequest" /> 
   <wsdl:output message="eb:opADDAUTResponse" name="opADDAUTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_ADDAUTSoap" type="eb:WS_SCMS_EXECUTE_ADDAUTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opADDAUT"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_ADDAUT/opADDAUT" style="document" /> 
   <wsdl:input name="opADDAUTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opADDAUTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_ADDAUT"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_ADDAUTSoap" name="WS_SCMS_EXECUTE_ADDAUTSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_ADDAUT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>