esb_it/repo/WS_MOD_PASSWORD/wsdl/WS_MOD_PASSWORD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="CA_CLIENT_API" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_OPERATORE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_PIN_CONTROL" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="MOD_PASSWORD"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="COMPLEX_INPUT" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="MOD_PASSWORDResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_MSG" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="MOD_PASSWORDRequest"> 
  <wsdl:part element="eb:MOD_PASSWORD" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="MOD_PASSWORDResponse"> 
  <wsdl:part element="eb:MOD_PASSWORDResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MOD_PASSWORDSoap"> 
  <wsdl:operation name="MOD_PASSWORD"> 
   <wsdl:input message="eb:MOD_PASSWORDRequest" name="MOD_PASSWORDRequest" /> 
   <wsdl:output message="eb:MOD_PASSWORDResponse" name="MOD_PASSWORDResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MOD_PASSWORDSoap" type="eb:WS_MOD_PASSWORDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="MOD_PASSWORD"> 
   <soap:operation soapAction="WS_MOD_PASSWORD/MOD_PASSWORD" style="document" /> 
   <wsdl:input name="MOD_PASSWORDRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="MOD_PASSWORDResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MOD_PASSWORD"> 
  <wsdl:port binding="eb:WS_MOD_PASSWORDSoap" name="WS_MOD_PASSWORDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MOD_PASSWORD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>