osb_it/repo/BlueBirdProject/SALESFORCE/escalationHandler/PS_REST_SF_ESCALATION_HANDLER/wadl/BlueBirdProject_SALESFORCE_escalationHandler_proxy_PS_REST_SF_ESCALATION_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/BlueBirdProject/PS_REST_SF_ESCALATION_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_SF_ESCALATION_HANDLER">ESCALALTION_HANDLER</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/escalationHandler/xsd/XSD_SF_ESCALATION_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/escalations/{idEscalation}/appointmentInfo">
         <method name="PUT" soa:wsdlOperation="escalationOperations">
            <request>
               <param name="idEscalation" style="template" soa:expression="$property.idEscalation" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestEscalationOperations" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseEscalationOperations" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/escalations/updateEscalations">
         <method name="POST" soa:wsdlOperation="updateEscalation">
            <request>
               <representation mediaType="application/xml" element="cns:requestUpdateEscalations" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseUpdateEscalations" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/escalations/operationNotification">
         <method name="POST" soa:wsdlOperation="OperationNotification">
            <request>
               <representation mediaType="application/json" element="cns:requestOperationNotification" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200"/>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/escalations/UpdateEscalationTeoco">
         <method name="POST" soa:wsdlOperation="UpdateEscalationTeoco">
            <request>
               <representation mediaType="application/json" element="cns:requestUpdateEscalationTeoco" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseUpdateEscalationTeoco" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>