osb_it/repo/OMProject/WMEvaluation/PS_OM_WM_EVALUATION/xsd/XSD_OM_WM_EVALUATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestWMEvaluationType">
		<xsd:sequence>
			<xsd:element name="contrId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="wmCounter" type="xsd:string" minOccurs="1"/>
			<xsd:element name="action" type="xsd:string" minOccurs="1"/>
			<xsd:element name="notes" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestWMEvaluation" type="requestWMEvaluationType"/>
	<xsd:complexType name="responseWMEvaluationType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
                        <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseWMEvaluation" type="responseWMEvaluationType"/>
</xsd:schema>