osb_it/repo/BlueBirdProject/OSS/sipInteraction/PS_REST_OSS_SIP_INTERACTION_HANDLER/wsdl/BlueBirdProject_OSS_sipInteraction_proxy_PS_REST_OSS_SIP_INTERACTION_HANDLER.wsdl

<wsdl:definitions name="PS_REST_OSS_SIP_INTERACTION_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_OSS_SIP_INTERACTION_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_OSS_SIP_INTERACTION_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_OSS_SIP_INTERACTION_HANDLER">
        <plnk:role name="PS_REST_OSS_SIP_INTERACTION_HANDLERProvider" portType="tns:PS_REST_OSS_SIP_INTERACTION_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/OSS/sipInteraction/xsd/XSD_OSS_SIP_INTERACTION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Credentials_inputMessage">
        <wsdl:part name="request" element="inp1:requestCredentials"/>
    </wsdl:message>
    <wsdl:message name="Credentials_outputMessage">
        <wsdl:part name="reply" element="inp1:credentials"/>
    </wsdl:message>
    <wsdl:message name="Credentials_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="Credentials_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="Credentials_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_OSS_SIP_INTERACTION_HANDLER_ptt">
        <wsdl:operation name="Credentials">
            <wsdl:input message="tns:Credentials_inputMessage"/>
            <wsdl:output message="tns:Credentials_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:Credentials_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:Credentials_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:Credentials_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_OSS_SIP_INTERACTION_HANDLER_ptt-binding" type="tns:PS_REST_OSS_SIP_INTERACTION_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Credentials">
            <soap:operation soapAction="Credentials"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>