osb_it/repo/BlueBirdProject/SPARK/incidentHandler/PS_WS_SPARK_INCIDENT_HANDLER/wsdl/BlueBirdProject_SPARK_incidentHandler_proxy_PS_WS_SPARK_INCIDENT_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SPARK_INCIDENT_HANDLER"
     targetNamespace="http://www.skytv.it/mdw/service/WS_SPARK_INCIDENT_HANDLER"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_SPARK_INCIDENT_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SPARK_INCIDENT_HANDLER.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestCreateIncident" element="inp1:requestCreateIncident"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseCreateIncident" element="inp1:responseCreateIncident"/>
    </wsdl:message>
    <wsdl:portType name="ptt_INCIDENT_HANDLER">
        <wsdl:operation name="execute_CreateIncident">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_UpdateIncident">
            <wsdl:input message="tns:messageReqestUpdateIncident"/>
            <wsdl:output message="tns:messageResponseUpdateIncident"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bind_INCIDENT_HANDLER" type="tns:ptt_INCIDENT_HANDLER">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_CreateIncident">
            <soap:operation style="document" soapAction="execute_CreateIncident"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SPARK_INCIDENT_HANDLER"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SPARK_INCIDENT_HANDLER"/>
                 <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
           </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_UpdateIncident">
            <soap:operation style="document" soapAction="execute_UpdateIncident"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SPARK_INCIDENT_HANDLER"/>
                <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SPARK_INCIDENT_HANDLER"/>
                 <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
           </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="headerMessage">
        <wsdl:part name="partHeader" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="messageReqestUpdateIncident">
        <wsdl:part name="part_requestUpdateIncident" element="inp1:requestUpdateIncident"/>
    </wsdl:message>
    <wsdl:message name="messageResponseUpdateIncident">
        <wsdl:part name="part_responseUpdateIncident" element="inp1:responseUpdateIncident"/>
    </wsdl:message>
</wsdl:definitions>