osb_it/repo/BlueBirdProject/OSS/orderManager/PS_WS_OSS_ORDERMANAGER_STUB/xsd/XSD_OSS_ORDERMANAGER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns="http://www.skytv.it/mdw/data" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xs:complexType name="requestManageOrderType">
		<xs:sequence>
			<xs:element name="manageOrder" type="manageOrderType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="responseManageOrderType">
		<xs:sequence>
			<xs:element name="resultCode" type="xs:string" minOccurs="0" />
			<xs:element name="resultDescription" type="xs:string" minOccurs="0" />
			<xs:element name="contextId" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="orderLineType">
		<xs:sequence>
			<xs:element name="item" type="OrderLineValue" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="entityType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="lastUpdateVersionNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0"/>
			<xs:element name="describingSpecificationKey" type="ManagedEntityKeyType" minOccurs="0"/>
			<xs:element name="associations" type="associationsType" minOccurs="0"/>
			<xs:element name="status" type="statusType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
        
	<xs:complexType name="OrderLineValue">
		<xs:sequence>
			<xs:element name="subActionType" type="xs:string">
			</xs:element>
			<xs:element name="actionType" type="xs:string" minOccurs="0">

			</xs:element>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0">

			</xs:element>
			<xs:element name="entity" type="entityType">

			</xs:element>
                        <xs:element name="orderLine" type="orderLineType" minOccurs="0">
			</xs:element>
			<xs:element name="version" type="xs:int" default="0" minOccurs="0">
			</xs:element>
		</xs:sequence>
	</xs:complexType>
        
	<xs:complexType name="rootOrderLineType">
		<xs:sequence>
			<xs:element name="subActionType" type="xs:string"/>
			<xs:element name="actionType" type="xs:string" minOccurs="0"/>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0"/>
			<xs:element name="entity" type="entityType"/>
			<xs:element name="orderLine" type="orderLineType" minOccurs="0"/>
			<xs:element name="version" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="locationType">
		<xs:sequence>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="site" type="siteType" minOccurs="0"/>
			<xs:element name="address" type="addressType"/>
			<xs:element name="contact" type="contactType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="installationAddressType">
		<xs:sequence>
			<xs:element name="lastUpdateVersionNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="key" type="keyType" minOccurs="0"/>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0"/>
			<xs:element name="describingSpecificationKey" type="ManagedEntityKeyType" minOccurs="0"/>
			<xs:element name="associations" type="associationsType" minOccurs="0"/>
			<xs:element name="status" type="statusType" minOccurs="0"/>
			<xs:element name="country" type="xs:string" minOccurs="0"/>
			<xs:element name="stateOrProvince" type="xs:string" minOccurs="0"/>
			<xs:element name="altitude" type="xs:string" minOccurs="0"/>
			<xs:element name="longitude" type="xs:string" minOccurs="0"/>
			<xs:element name="latitude" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="room" type="xs:string" minOccurs="0"/>
			<xs:element name="apartment" type="xs:string" minOccurs="0"/>
			<xs:element name="floor" type="xs:string" minOccurs="0"/>
			<xs:element name="buildingName" type="xs:string" minOccurs="0"/>
			<xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="streetName" type="xs:string" minOccurs="0"/>
			<xs:element name="streetType" type="xs:string" minOccurs="0"/>
			<xs:element name="streetSuffix" type="xs:string" minOccurs="0"/>
			<xs:element name="locality" type="xs:string" minOccurs="0"/>
			<xs:element name="town" type="xs:string" minOccurs="0"/>
			<xs:element name="county" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string" minOccurs="0"/>
			<xs:element name="postCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="orderItemType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="actionType" type="xs:string" minOccurs="0"/>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0"/>
			<xs:element name="version" type="xs:string" minOccurs="0"/>
			<xs:element name="minorVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="serviceRequestedDate" type="xs:string" minOccurs="0"/>
			<xs:element name="installationAddress" type="installationAddressType" minOccurs="0"/>
			<xs:element name="location" type="locationType" minOccurs="0"/>
			<xs:element name="rootOrderLine" type="rootOrderLineType" minOccurs="0"/>
			<xs:element name="status" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="subItemType">
		<xs:sequence>
			<xs:element name="value" type="xs:string"/>
			<xs:element name="name" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="statusType">
		<xs:sequence>
			<xs:element name="code" type="xs:string"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="reasonType">
		<xs:sequence>
			<xs:element name="action" type="xs:string"/>
			<xs:element name="actionReason" type="xs:string"/>
			<xs:element name="actionReasonComments" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="orderItemsType">
		<xs:sequence>
			<xs:element name="item" type="orderItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="keyType">
		<xs:sequence>
			<xs:element name="applicationDN" type="xs:string"/>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="primaryKey" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="customerType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="customerName" type="xs:string"/>
			<xs:element name="customerType" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemDescribedByType">
		<xs:sequence>
			<xs:element name="item" type="subItemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ManagedEntityKeyType">
		<xs:sequence>
			<xs:element name="applicationDN" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="primaryKey" type="xs:string"/>
			<xs:element name="describingSpecificationKey" type="ManagedEntityKeyType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="itemType">
		<xs:sequence>
			<xs:element name="ZEnd" type="ManagedEntityKeyType" minOccurs="0"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="status" type="statusType" minOccurs="0"/>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="manageOrderType">
		<xs:sequence>
			<xs:element name="lastUpdateVersionNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="key" type="keyType" minOccurs="0"/>
			<xs:element name="describedBy" type="itemDescribedByType" minOccurs="0"/>
			<xs:element name="describingSpecificationKey" type="ManagedEntityKeyType" minOccurs="0"/>
			<xs:element name="associations" type="associationsType" minOccurs="0"/>
			<xs:element name="status" type="statusType" minOccurs="0"/>
			<xs:element name="id" type="xs:string" minOccurs="0"/>
			<xs:element name="actionType" type="xs:string" minOccurs="0"/>
			<xs:element name="priority" type="xs:string" minOccurs="0"/>
			<xs:element name="requiredDate" type="xs:string" minOccurs="0"/>
			<xs:element name="version" type="xs:string" minOccurs="0"/>
			<xs:element name="minorVersion" type="xs:string" minOccurs="0"/>
			<xs:element name="customer" type="customerType" minOccurs="0"/>
			<xs:element name="marketType" type="xs:string" minOccurs="0"/>
			<xs:element name="orderItem" type="orderItemsType" minOccurs="0"/>
			<xs:element name="parent" type="ManagedEntityKeyType" minOccurs="0"/>
			<xs:element name="reason" type="reasonType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="associationsType">
		<xs:sequence>
			<xs:element name="item" type="itemType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactChannelType">
		<xs:sequence>
			<xs:element name="type" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="siteType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="name" type="xs:string" minOccurs="0"/>
			<xs:element name="description" type="xs:string" minOccurs="0"/>
			<xs:element name="associations" type="associationsType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="contactType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="firstName" type="xs:string" minOccurs="0"/>
			<xs:element name="middleName" type="xs:string" minOccurs="0"/>
			<xs:element name="lastName" type="xs:string" minOccurs="0"/>
			<xs:element name="gender" type="xs:string" minOccurs="0"/>
			<xs:element name="salutation" type="xs:string" minOccurs="0"/>
			<xs:element name="contactChannel" type="contactChannelType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="addressType">
		<xs:sequence>
			<xs:element name="Id" type="xs:string"/>
			<xs:element name="type" type="xs:string" minOccurs="0"/>
			<xs:element name="altitude" type="xs:string" minOccurs="0"/>
			<xs:element name="longitude" type="xs:string" minOccurs="0"/>
			<xs:element name="latitude" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine1" type="xs:string" minOccurs="0"/>
			<xs:element name="addressLine2" type="xs:string" minOccurs="0"/>
			<xs:element name="room" type="xs:string" minOccurs="0"/>
			<xs:element name="apartment" type="xs:string" minOccurs="0"/>
			<xs:element name="floor" type="xs:string" minOccurs="0"/>
			<xs:element name="buildingName" type="xs:string" minOccurs="0"/>
			<xs:element name="country" type="xs:string" minOccurs="0"/>
			<xs:element name="stateOrProvince" type="xs:string" minOccurs="0"/>
			<xs:element name="streetNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="streetName" type="xs:string" minOccurs="0"/>
			<xs:element name="streetType" type="xs:string" minOccurs="0"/>
			<xs:element name="streetSuffix" type="xs:string" minOccurs="0"/>
			<xs:element name="locality" type="xs:string" minOccurs="0"/>
			<xs:element name="town" type="xs:string" minOccurs="0"/>
			<xs:element name="county" type="xs:string" minOccurs="0"/>
			<xs:element name="city" type="xs:string" minOccurs="0"/>
			<xs:element name="postCode" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="requestManageOrder" type="requestManageOrderType"/>
	<xs:element name="responseManageOrder" type="responseManageOrderType"/>
</xs:schema>