esb_it/repo/WS_HTL_VISUALIZZA_STORICO_COMANDI/wsdl/WS_HTL_VISUALIZZA_STORICO_COMANDI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="StoricoComandiRequest"> 
    <xsd:sequence> 
     <xsd:element name="dataInizio" type="xsd:string" /> 
     <xsd:element name="dataFine" type="xsd:string" /> 
     <xsd:element name="codiciHotel"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element maxOccurs="unbounded" name="codiceHotel" type="xsd:string" /> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="StoricoComandi"> 
    <xsd:sequence> 
     <xsd:element name="dataInizioRicerca" type="xsd:string" /> 
     <xsd:element name="dataFineRicerca" type="xsd:string" /> 
     <xsd:element name="comandi"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element maxOccurs="unbounded" minOccurs="0" name="comando"> 
         <xsd:complexType> 
          <xsd:sequence> 
           <xsd:element name="codiceHotel" type="xsd:string" /> 
           <xsd:element name="rowId" type="xsd:string" /> 
           <xsd:element name="dataInserimentoComando" type="xsd:string" /> 
           <xsd:element name="dataInvio" type="xsd:string" /> 
           <xsd:element name="tipoComando" type="xsd:string" /> 
           <xsd:element name="operatore" type="xsd:string" /> 
           <xsd:element name="xmlInput" type="xsd:string" /> 
           <xsd:element name="xmlOutput" type="xsd:string" /> 
           <xsd:element name="stato" type="xsd:string" /> 
           <xsd:element name="descrizioneStato" type="xsd:string" /> 
          </xsd:sequence> 
         </xsd:complexType> 
        </xsd:element> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVisualizzaStoricoComandi"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StoricoComandiRequest" type="eb:StoricoComandiRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVisualizzaStoricoComandiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StoricoComandi" type="eb:StoricoComandi" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVisualizzaStoricoComandiRequest"> 
  <wsdl:part element="eb:opVisualizzaStoricoComandi" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVisualizzaStoricoComandiResponse"> 
  <wsdl:part element="eb:opVisualizzaStoricoComandiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_VISUALIZZA_STORICO_COMANDISoap"> 
  <wsdl:operation name="opVisualizzaStoricoComandi"> 
   <wsdl:input message="eb:opVisualizzaStoricoComandiRequest" name="opVisualizzaStoricoComandiRequest" /> 
   <wsdl:output message="eb:opVisualizzaStoricoComandiResponse" name="opVisualizzaStoricoComandiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_VISUALIZZA_STORICO_COMANDISoap" type="eb:WS_HTL_VISUALIZZA_STORICO_COMANDISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVisualizzaStoricoComandi"> 
   <soap:operation soapAction="WS_HTL_VISUALIZZA_STORICO_COMANDI/opVisualizzaStoricoComandi" style="document" /> 
   <wsdl:input name="opVisualizzaStoricoComandiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVisualizzaStoricoComandiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_VISUALIZZA_STORICO_COMANDI"> 
  <wsdl:port binding="eb:WS_HTL_VISUALIZZA_STORICO_COMANDISoap" name="WS_HTL_VISUALIZZA_STORICO_COMANDISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_VISUALIZZA_STORICO_COMANDI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>