osb_it/repo/SalesforceProject/REST/CRM/OPERATION/HANDLER/PS_REST_CRM_OPERATION_HANDLER/wsdl/SalesforceProject_REST_CRM_OPERATION_HANDLER_proxy_PS_REST_CRM_OPERATION_HANDLER.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_OPERATION_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_CRM_OPERATION_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_OPERATION_HANDLER">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_OperationHandler/xsd/XSD_REST_CRM_OPERATION_HANDLER.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="operationsCheck_inputMessage">
		<wsdl:part name="request" element="inp1:requestOperationsCheck"/>
	</wsdl:message>
	<wsdl:message name="operationsCheck_outputMessage">
		<wsdl:part name="reply" element="inp1:responseOperationsCheck"/>
	</wsdl:message>
	<wsdl:message name="operationsCheck_error400Message">
		<wsdl:part name="fault_error400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="operationsCheck_error500Message">
		<wsdl:part name="fault_error500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:message name="operationsCheck_error404Message">
		<wsdl:part name="fault_error404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_CRM_OPERATION_HANDLER_ptt">
		<wsdl:operation name="operationsCheck">
			<wsdl:input message="tns:operationsCheck_inputMessage"/>
			<wsdl:output message="tns:operationsCheck_outputMessage"/>
			<wsdl:fault name="error400" message="tns:operationsCheck_error400Message"/>
			<wsdl:fault name="error500" message="tns:operationsCheck_error500Message"/>
			<wsdl:fault name="error404" message="tns:operationsCheck_error404Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_CRM_OPERATION_HANDLER_ptt-binding" type="tns:PS_REST_CRM_OPERATION_HANDLER_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="operationsCheck">
			<soap:operation soapAction="operationsCheck"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_CRM_OPERATION_HANDLER">
		<plnk:role name="PS_REST_CRM_OPERATION_HANDLERProvider" portType="tns:PS_REST_CRM_OPERATION_HANDLER_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>