osb_it/repo/BlueBirdProject/SALESFORCE/calculateDeca/PS_REST_MDW_GET_DECA/wsdl/BlueBirdProject_SALESFORCE_calculateDeca_proxy_PS_REST_MDW_GET_DECA.wsdl

<wsdl:definitions name="PS_REST_MDW_GET_DECA" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_GET_DECA" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_GET_DECA" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_MDW_GET_DECA">
        <plnk:role name="PS_REST_MDW_GET_DECAProvider" portType="tns:PS_REST_MDW_GET_DECA_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/calculateDeca/xsd/XSD_GET_DECA.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getDeca_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetDeca"/>
    </wsdl:message>
    <wsdl:message name="getDeca_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetDeca"/>
    </wsdl:message>
    <wsdl:message name="getDeca_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getDeca_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getDeca_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_GET_DECA_ptt">
        <wsdl:operation name="getDeca">
            <wsdl:input message="tns:getDeca_inputMessage"/>
            <wsdl:output message="tns:getDeca_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:getDeca_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:getDeca_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:getDeca_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_GET_DECA_ptt-binding" type="tns:PS_REST_MDW_GET_DECA_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getDeca">
            <soap:operation soapAction="getDeca"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>