esb_it/repo/WS_MOSTRANUMEROEVENTI/wsdl/WS_MOSTRANUMEROEVENTI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_MOSTRANUMEROEVENTI"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DATA_INIZIO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DATA_FINE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_MOSTRANUMEROEVENTIResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TOT_EVENTI" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TOT_EVENTI_GRATIS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_MOSTRANUMEROEVENTIRequest"> 
  <wsdl:part element="eb:OP_MOSTRANUMEROEVENTI" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_MOSTRANUMEROEVENTIResponse"> 
  <wsdl:part element="eb:OP_MOSTRANUMEROEVENTIResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MOSTRANUMEROEVENTISoap"> 
  <wsdl:operation name="OP_MOSTRANUMEROEVENTI"> 
   <wsdl:input message="eb:OP_MOSTRANUMEROEVENTIRequest" name="OP_MOSTRANUMEROEVENTIRequest" /> 
   <wsdl:output message="eb:OP_MOSTRANUMEROEVENTIResponse" name="OP_MOSTRANUMEROEVENTIResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MOSTRANUMEROEVENTISoap" type="eb:WS_MOSTRANUMEROEVENTISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_MOSTRANUMEROEVENTI"> 
   <soap:operation soapAction="WS_MOSTRANUMEROEVENTI/OP_MOSTRANUMEROEVENTI" style="document" /> 
   <wsdl:input name="OP_MOSTRANUMEROEVENTIRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_MOSTRANUMEROEVENTIResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MOSTRANUMEROEVENTI"> 
  <wsdl:port binding="eb:WS_MOSTRANUMEROEVENTISoap" name="WS_MOSTRANUMEROEVENTISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MOSTRANUMEROEVENTI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>