osb_it/repo/BlueBirdProject/DB/CRM/firstDateForAppointment/PS_REST_MDW_FIRST_DATE_FOR_APTM/wadl/BlueBirdProject_DB_CRM_firstDateForAppointment_proxy_PS_REST_MDW_FIRST_DATE_FOR_APTM.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_SF_GET_FIRST_DATE_FOR_APTM" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_MDW_SF_GET_FIRST_DATE_FOR_APTM">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DB_CRM/firstDateForAppointment/xsd/XSD_FIRST_DATE_FOR_APPOINTMENT.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="startingDateForAppointments">
            <request>
               <param name="coverageResult" style="query" soa:expression="$msg.request/ns0:coverageResult" default="" type="xsd:string"/>
               <param name="isMigration" style="query" soa:expression="$msg.request/ns0:isMigration" default="" type="xsd:boolean"/>
               <param name="migrationDate" style="query" soa:expression="$msg.request/ns0:migrationDate" default="" type="xsd:date"/>
               <param name="migrationCode" style="query" soa:expression="$msg.request/ns0:migrationCode" default="" type="xsd:string"/>
               <param name="productCode" style="query" soa:expression="$msg.request/ns0:productCode" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetDateForAppointment" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>