osb_it/repo/MDWProject/KeepAlive/PS_REST_MDW_KEEP_ALIVE/xsd/XSD_JSON_ERRORS_MDW_KEEPALIVE.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/json/errors"
            targetNamespace="http://www.skytv.it/mdw/json/errors" elementFormDefault="qualified">
  
  
    <xsd:element name="fault500" type="genericError" />
  
    <xsd:complexType name="genericError">
      <xsd:sequence>
        <xsd:element name="errorCode" type="xsd:string" minOccurs="1" maxOccurs="1" />
        <xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
        <xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1" />
        <xsd:element name="mdwTid" type="xsd:string" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
  
</xsd:schema>