osb_it/repo/BlueBirdProject/SALESFORCE/orderManagement/PS_REST_SF_ORDER_MANAGEMENT/wsdl/BlueBirdProject_SALESFORCE_orderManagement_proxy_PS_REST_SF_ORDER_MANAGEMENT.wsdl

<wsdl:definitions name="PS_REST_SF_ORDER_MANAGEMENT" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_SF_ORDER_MANAGEMENT" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_SF_ORDER_MANAGEMENT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_ORDER_MANAGEMENT">
        <plnk:role name="PS_REST_SF_ORDER_MANAGEMENTProvider" portType="tns:PS_REST_SF_ORDER_MANAGEMENT_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/orderManagement/xsd/XSD_SF_ORDER_MANAGEMENT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestCreateOrder"/>
    </wsdl:message>
    <wsdl:message name="createOrder_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCreateOrder"/>
    </wsdl:message>
    <wsdl:message name="createOrder_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="createOrder_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="createOrder_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateMigrationCodes_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateMigrationCodes"/>
    </wsdl:message>
    <wsdl:message name="UpdateMigrationCodes_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateMigrationCodes_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateMigrationCodes_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateDocumentInfo_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateDocumentInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateDocumentInfo_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateDocumentInfo_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateDocumentInfo_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentInfo_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateAppointmentInfo"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentInfo_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentInfo_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentInfo_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateGeneric_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateGenericOrderInfo"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="UpdateGeneric_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateGeneric_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateGeneric_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_ORDER_MANAGEMENT_ptt">
        <wsdl:operation name="createOrder">
            <wsdl:input message="tns:createOrder_inputMessage"/>
            <wsdl:output message="tns:createOrder_outputMessage"/>
            <wsdl:fault name="error404" message="tns:createOrder_error404Message"/>
            <wsdl:fault name="error400" message="tns:createOrder_error400Message"/>
            <wsdl:fault name="error500" message="tns:createOrder_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateMigrationCodes">
            <wsdl:input message="tns:UpdateMigrationCodes_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateMigrationCodes_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateMigrationCodes_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateMigrationCodes_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateDocumentInfo">
            <wsdl:input message="tns:UpdateDocumentInfo_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateDocumentInfo_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateDocumentInfo_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateDocumentInfo_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateAppointmentInfo">
            <wsdl:input message="tns:UpdateAppointmentInfo_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateAppointmentInfo_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateAppointmentInfo_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateAppointmentInfo_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateGeneric">
            <wsdl:input message="tns:UpdateGeneric_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault400" message="tns:UpdateGeneric_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:UpdateGeneric_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:UpdateGeneric_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_ORDER_MANAGEMENT_ptt-binding" type="tns:PS_REST_SF_ORDER_MANAGEMENT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createOrder">
            <soap:operation soapAction="createOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateMigrationCodes">
            <soap:operation soapAction="UpdateMigrationCodes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateDocumentInfo">
            <soap:operation soapAction="UpdateDocumentInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateAppointmentInfo">
            <soap:operation soapAction="UpdateAppointmentInfo"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateGeneric">
            <soap:operation soapAction="UpdateGeneric"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>