osb_it/repo/SalesforceProject/REST/CRM/UPDATE/FLAGS/BY/CONTRACT/PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT/xsd/XSD_CRM_UPDATE_FLAGS_BY_CONTRACT.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestUpdateFlagsByContract" type="requestUpdateFlagsByContractType"/>
  <xsd:complexType name="requestUpdateFlagsByContractType">
    <xsd:sequence>
      <xsd:element name="mdwChannel" type="xsd:string"/>
      <xsd:element name="mdwCoBrowsingFlag"> 
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mdwDataNavigationVisionFlag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mdwAnytimeConsensusDataFlag" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Y"/>
            <xsd:enumeration value="N"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>