osb_it/repo/SalesforceProject/WS/SF/SBL/EXTRACT/CUSTOMER/DATA/PS_WS_SF_SBL_EXTRACT_CUSTOMER_DATA/xsd/XSD_SF_SBL_EXTRACT_CUSTOMER_DATA.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  
  <xsd:element name="requestExtractCustomerData" type="requestExtractCustomerDataType" />
  <xsd:complexType name="requestExtractCustomerDataType">
    <xsd:sequence>
      <xsd:element name="billingAccount" type="xsd:string" minOccurs="1" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="responseExtractCustomerData" type="responseExtractCustomerDataType" />
  <xsd:complexType name="responseExtractCustomerDataType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1" />
      <xsd:element name="result" type="resultType" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="resultType">
    <xsd:sequence>
      <xsd:element name="marketType" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="alias" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="surname" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="fiscalCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="marketTypeCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="statusBillingAccount" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="contrPriceListCategory" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="contrMarketCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
      <xsd:element name="crmSource" type="xsd:string" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  
  
</xsd:schema>