esb_it/repo/WS_SF_SBL_CALCOLA_MGM/wsdl/WS_SF_SBL_CALCOLA_MGM.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_SF_SBL_CALCOLA_MGM.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCheckMGM"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckMGMResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckMGMRequest"> 
  <wsdl:part element="eb:opCheckMGM" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckMGMResponse"> 
  <wsdl:part element="eb:opCheckMGMResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_SBL_CALCOLA_MGMSoap"> 
  <wsdl:operation name="opCheckMGM"> 
   <wsdl:input message="eb:opCheckMGMRequest" name="opCheckMGMRequest" /> 
   <wsdl:output message="eb:opCheckMGMResponse" name="opCheckMGMResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_SBL_CALCOLA_MGMSoap" type="eb:WS_SF_SBL_CALCOLA_MGMSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckMGM"> 
   <soap:operation soapAction="WS_SF_SBL_CALCOLA_MGM/opCheckMGM" style="document" /> 
   <wsdl:input name="opCheckMGMRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckMGMResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_SBL_CALCOLA_MGM"> 
  <wsdl:port binding="eb:WS_SF_SBL_CALCOLA_MGMSoap" name="WS_SF_SBL_CALCOLA_MGMSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_SBL_CALCOLA_MGM" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>