osb_it/repo/SalesforceProject/WS/CRM/CALL/ME/NOW/PS_WS_CRM_CALL_ME_NOW/xsd/XSD_CRM_CALL_ME_NOW.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
  xmlns="http://www.skytv.it/mdw/data"
  targetNamespace="http://www.skytv.it/mdw/data" 
  elementFormDefault="qualified">
  
  <xsd:complexType name="contactType">
    <xsd:sequence>
      <xsd:element name="contactFirstName" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="contactLastName" type="xsd:string" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="contactMainPhone" type="xsd:string" minOccurs="1" maxOccurs="1"/> 
      <xsd:element name="contactOtherPhone" type="xsd:string" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="contactEmail" type="xsd:string" minOccurs="0" maxOccurs="1"/> 
      <xsd:element name="contactFiscalCode" type="xsd:string" minOccurs="0" maxOccurs="1"/> 
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="contractType">
    <xsd:sequence>
      <xsd:element name="contrId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="customerAccountType">
    <xsd:sequence>
      <xsd:element name="custId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="genericType">
    <xsd:sequence>
      <xsd:element name="mdwTimeSlot" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="mdwReason" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="mdwSessionId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="genericResultType">
    <xsd:sequence>
      <xsd:element name="mdwResponseCode" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="requestCallMeNowParco">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="contact" type="contactType" nillable="false"/>
        <xsd:element name="contract" type="contractType" nillable="true"/>
        <xsd:element name="customerAccount" type="customerAccountType" nillable="true"/>
        <xsd:element name="generic" type="genericType" nillable="true"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="responseCallMeNowParco">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="esito" type="xsd:string" nillable="false"/>
        <xsd:element name="descrizioneEsito" type="xsd:string" nillable="false"/>
        <xsd:element name="genericResult" type="genericResultType" nillable="true"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>