esb_it/repo/WS_SF_BBH_SBL_CORE_SERVICE_CMP/wsdl/WS_SF_BBH_SBL_CORE_SERVICE_CMP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSFBBH/SkyXSD_SF_BBH_SBL_CORE_SERVICE_CMP.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOut"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCoreService"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCoreServiceResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOut" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCoreServiceRequest"> 
  <wsdl:part element="eb:opCoreService" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCoreServiceResponse"> 
  <wsdl:part element="eb:opCoreServiceResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_BBH_SBL_CORE_SERVICE_CMPSoap"> 
  <wsdl:operation name="opCoreService"> 
   <wsdl:input message="eb:opCoreServiceRequest" name="opCoreServiceRequest" /> 
   <wsdl:output message="eb:opCoreServiceResponse" name="opCoreServiceResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_BBH_SBL_CORE_SERVICE_CMPSoap" type="eb:WS_SF_BBH_SBL_CORE_SERVICE_CMPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCoreService"> 
   <soap:operation soapAction="WS_SF_BBH_SBL_CORE_SERVICE_CMP/opCoreService" style="document" /> 
   <wsdl:input name="opCoreServiceRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCoreServiceResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_BBH_SBL_CORE_SERVICE_CMP"> 
  <wsdl:port binding="eb:WS_SF_BBH_SBL_CORE_SERVICE_CMPSoap" name="WS_SF_BBH_SBL_CORE_SERVICE_CMPSoap"> 
   <soap:address location="https://wssvil.sky.it:19100/wsexistbus/ws_sf_bbh/WS_SF_BBH_SBL_CORE_SERVICE_CMP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>