esb_it/repo/WS_SKY_TI_RETRIEVE_DATA/wsdl/WS_SKY_TI_RETRIEVE_DATA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:cst="http://sky.telecomitalia.it/types" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://sky.telecomitalia.it/types" schemaLocation="xsdTelecom/SkyXSD_IVR_TI_RetrieveData.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="cst:DocumentDataInput" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="cst:DocumentDataOutput" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opRetrieveData"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRetrieveDataResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRetrieveDataRequest"> 
  <wsdl:part element="eb:opRetrieveData" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRetrieveDataResponse"> 
  <wsdl:part element="eb:opRetrieveDataResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SKY_TI_RETRIEVE_DATASoap"> 
  <wsdl:operation name="opRetrieveData"> 
   <wsdl:input message="eb:opRetrieveDataRequest" name="opRetrieveDataRequest" /> 
   <wsdl:output message="eb:opRetrieveDataResponse" name="opRetrieveDataResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SKY_TI_RETRIEVE_DATASoap" type="eb:WS_SKY_TI_RETRIEVE_DATASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRetrieveData"> 
   <soap:operation soapAction="WS_SKY_TI_RETRIEVE_DATA/opRetrieveData" style="document" /> 
   <wsdl:input name="opRetrieveDataRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRetrieveDataResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SKY_TI_RETRIEVE_DATA"> 
  <wsdl:port binding="eb:WS_SKY_TI_RETRIEVE_DATASoap" name="WS_SKY_TI_RETRIEVE_DATASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SKY_TI_RETRIEVE_DATA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>