osb_it/repo/SiebelProject/PS_WS_CRM_SIE_GESTIONE_SOAS/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_GESTIONE_SOAS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_SOAS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_GESTIONE_SOAS" targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_SOAS">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_GESTIONE_SOAS.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestAnnullaSoas_message">
		<wsdl:part name="part_requestAnnullaSoas" element="inp1:requestAnnullaSoas"/>
	</wsdl:message>
	<wsdl:message name="responseAnnullaSoas_message">
		<wsdl:part name="part_responseAnnullaSoas" element="inp1:responseAnnullaSoas"/>
	</wsdl:message>
	<wsdl:message name="requestGetSoas_message">
		<wsdl:part name="part_requestGetSoas" element="inp1:requestGetSoas"/>
	</wsdl:message>
	<wsdl:message name="responseGetSoas_message">
		<wsdl:part name="part_responseGetSoas" element="inp1:responseGetSoas"/>
	</wsdl:message>
	<wsdl:message name="responseGetAutorSoas_message">
		<wsdl:part name="part_requestGetAutorSoas" element="inp1:requestGetAutorSoas"/>
	</wsdl:message>
	<wsdl:message name="requestGetAutorSoas_message">
		<wsdl:part name="part_responseGetAutorSoas" element="inp1:responseGetAutorSoas"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_SIE_GESTIONE_SOAS_ptt">
		<wsdl:operation name="execute_annullaSoas">
			<wsdl:input message="tns:requestAnnullaSoas_message"/>
			<wsdl:output message="tns:responseAnnullaSoas_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getSoas">
			<wsdl:input message="tns:requestGetSoas_message"/>
			<wsdl:output message="tns:responseGetSoas_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getAutorSoas">
			<wsdl:input message="tns:responseGetAutorSoas_message"/>
			<wsdl:output message="tns:requestGetAutorSoas_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRM_SIE_GESTIONE_SOAS_pttSOAP11Binding" type="tns:CRM_SIE_GESTIONE_SOAS_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_annullaSoas">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_SOAS/execute_annullaSoas" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestAnnullaSoas" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseAnnullaSoas" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_getSoas">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_SOAS/execute_getSoas" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetSoas" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetSoas" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
  <wsdl:operation name="execute_getAutorSoas">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_SOAS/execute_getAutorSoas"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestGetAutorSoas"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseGetAutorSoas"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>