esb_it/repo/WS_SKY_TI_CHANGE_STATUS/wsdl/WS_SKY_TI_CHANGE_STATUS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://telecomitalia.it/SOA/WS_SKY_TI_CHANGE_STATUS_SKY/2014-09-04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_CHANGE_STATUS_SKY/2014-09-04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://telecomitalia.it/SOA/WS_SKY_TI_CHANGE_STATUS_SKY/2014-09-04" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_CHANGE_STATUS_SKY/2014-09-04"> 
   <xsd:include schemaLocation="xsdTelecom/SkyXSD_SBL_TI_ChangeStatus.xsd" /> 
   <xsd:complexType name="DocumentDataInput" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_CHANGE_STATUS_SKY/2014-09-04"> 
    <xsd:complexContent> 
     <xsd:extension base="ti:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_CHANGE_STATUS_SKY/2014-09-04"> 
    <xsd:complexContent> 
     <xsd:extension base="ti:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opChangeStatus"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="ti:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opChangeStatusResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="ti:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opChangeStatusRequest"> 
  <wsdl:part element="ti:opChangeStatus" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opChangeStatusResponse"> 
  <wsdl:part element="ti:opChangeStatusResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SKY_TI_CHANGE_STATUSSoap"> 
  <wsdl:operation name="opChangeStatus"> 
   <wsdl:input message="ti:opChangeStatusRequest" name="opChangeStatusRequest" /> 
   <wsdl:output message="ti:opChangeStatusResponse" name="opChangeStatusResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SKY_TI_CHANGE_STATUSSoap" type="ti:WS_SKY_TI_CHANGE_STATUSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opChangeStatus"> 
   <soap:operation soapAction="WS_SKY_TI_CHANGE_STATUS/opChangeStatus" style="document" /> 
   <wsdl:input name="opChangeStatusRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opChangeStatusResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SKY_TI_CHANGE_STATUS"> 
  <wsdl:port binding="ti:WS_SKY_TI_CHANGE_STATUSSoap" name="WS_SKY_TI_CHANGE_STATUSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SKY_TI_CHANGE_STATUS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>