osb_it/repo/SalesforceProject/REST/CRM/CHURN/REQUEST/PS_REST_CRM_CHURN_REQUEST/wsdl/SalesforceProject_REST_CRM_CHURN_REQUEST_proxy_PS_REST_CRM_CHURN_REQUEST.wsdl

<wsdl:definitions name="PS_REST_CRM_CHURN_REQUEST" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHURN_REQUEST" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHURN_REQUEST" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_CHURN_REQUEST">
        <plnk:role name="PS_REST_CRM_CHURN_REQUESTProvider" portType="tns:PS_REST_CRM_CHURN_REQUEST_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/ChurnRequest/xsd/XSD_CRM_CHURN_REQUEST.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ChurnRequest_inputMessage">
        <wsdl:part name="request" element="inp1:requestChurnRequest"/>
    </wsdl:message>
    <wsdl:message name="ChurnRequest_outputMessage">
        <wsdl:part name="reply" element="inp1:responseChurnRequest"/>
    </wsdl:message>
    <wsdl:message name="ChurnRequest_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ChurnRequest_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ChurnRequest_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CHURN_REQUEST_ptt">
        <wsdl:operation name="ChurnRequest">
            <wsdl:input message="tns:ChurnRequest_inputMessage"/>
            <wsdl:output message="tns:ChurnRequest_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:ChurnRequest_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:ChurnRequest_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:ChurnRequest_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CHURN_REQUEST_ptt-binding" type="tns:PS_REST_CRM_CHURN_REQUEST_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ChurnRequest">
            <soap:operation soapAction="ChurnRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>