esb_it/repo/WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATION/wsdl/WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATION.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdSM/SkyXSD_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATION.xsd" /> 
   <xsd:complexType name="InputInstallerCustomerSMSNotification"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:RequestInstallerCustomerSMSNotificationType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputInstallerCustomerSMSNotification"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:ResponseInstallerCustomerSMSNotificationType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opInstallerCustomerSMSNotification"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestInstallerCustomerSMSNotification" type="eb:InputInstallerCustomerSMSNotification" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opInstallerCustomerSMSNotificationResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseInstallerCustomerSMSNotification" type="eb:OutputInstallerCustomerSMSNotification" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opInstallerCustomerSMSNotificationRequest"> 
  <wsdl:part element="eb:opInstallerCustomerSMSNotification" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opInstallerCustomerSMSNotificationResponse"> 
  <wsdl:part element="eb:opInstallerCustomerSMSNotificationResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATIONSoap"> 
  <wsdl:operation name="opInstallerCustomerSMSNotification"> 
   <wsdl:input message="eb:opInstallerCustomerSMSNotificationRequest" name="opInstallerCustomerSMSNotificationRequest" /> 
   <wsdl:output message="eb:opInstallerCustomerSMSNotificationResponse" name="opInstallerCustomerSMSNotificationResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATIONSoap" type="eb:WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATIONSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opInstallerCustomerSMSNotification"> 
   <soap:operation soapAction="WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATION/opInstallerCustomerSMSNotification" style="document" /> 
   <wsdl:input name="opInstallerCustomerSMSNotificationRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opInstallerCustomerSMSNotificationResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATION"> 
  <wsdl:port binding="eb:WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATIONSoap" name="WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATIONSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf/WS_SM_SBL_INSTALLER_CUSTOMER_SMS_NOTIFICATION" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>