osb_it/repo/SCMSproject/PS_REST_SCMS_ETHAN_OTT_2/xsd/XSD_SCMS_REMOTE_BOOKING_JSON_ERRORS.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/json/errors" targetNamespace="http://www.skytv.it/mdw/json/errors" elementFormDefault="qualified">
	<xsd:element name="fault500REMBOK" type="responseREMBOKErrorType"/>
	<xsd:element name="fault404REMBOK" type="responseREMBOKErrorType"/>
	<xsd:element name="fault400REMBOK" type="responseREMBOKErrorType"/>
	<xsd:element name="fault504REMBOK" type="responseREMBOKErrorType"/>
	<xsd:complexType name="responseREMBOKErrorType">
		<xsd:sequence>
			<xsd:element name="result" type="xsd:string" maxOccurs="1"/>
			<xsd:element name="transid" type="xsd:string" maxOccurs="1"/>
			<xsd:element name="descriptionerr" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="mdwTid" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>