esb_it/repo/WS_MODIFICA_DATI/wsdl/WS_MODIFICA_DATI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_MODIFICA_DATI"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NUMERO_CELLULARE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_LIST_NAME" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_ORA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_INIZIO_PERIODO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_FLAG_ABILITAZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_MODIFICA_DATIResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_MODIFICA_DATIRequest"> 
  <wsdl:part element="eb:OP_MODIFICA_DATI" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_MODIFICA_DATIResponse"> 
  <wsdl:part element="eb:OP_MODIFICA_DATIResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MODIFICA_DATISoap"> 
  <wsdl:operation name="OP_MODIFICA_DATI"> 
   <wsdl:input message="eb:OP_MODIFICA_DATIRequest" name="OP_MODIFICA_DATIRequest" /> 
   <wsdl:output message="eb:OP_MODIFICA_DATIResponse" name="OP_MODIFICA_DATIResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MODIFICA_DATISoap" type="eb:WS_MODIFICA_DATISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_MODIFICA_DATI"> 
   <soap:operation soapAction="WS_MODIFICA_DATI/OP_MODIFICA_DATI" style="document" /> 
   <wsdl:input name="OP_MODIFICA_DATIRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_MODIFICA_DATIResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MODIFICA_DATI"> 
  <wsdl:port binding="eb:WS_MODIFICA_DATISoap" name="WS_MODIFICA_DATISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MODIFICA_DATI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>