esb_it/repo/WS_PALINSESTO_TVOD/wsdl/WS_PALINSESTO_TVOD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="Evento"> 
    <xsd:sequence> 
     <xsd:element name="OfferId" type="xsd:string" /> 
     <xsd:element name="OfferName" type="xsd:string" /> 
     <xsd:element name="Price" type="xsd:string" /> 
     <xsd:element name="TargetAudience" type="xsd:string" /> 
     <xsd:element name="OfferStartDate" type="xsd:string" /> 
     <xsd:element name="OfferEndDate" type="xsd:string" /> 
     <xsd:element name="OfferExpiryDate" type="xsd:string" /> 
     <xsd:element name="Status" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="OutEventi"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="Evento" type="eb:Evento" /> 
     <xsd:element name="Esito" type="xsd:string" /> 
     <xsd:element name="DescrizioneEsito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opPalinsestoTVOD"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="StartDate" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opPalinsestoTVODResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutEventi" type="eb:OutEventi" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opPalinsestoTVODRequest"> 
  <wsdl:part element="eb:opPalinsestoTVOD" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opPalinsestoTVODResponse"> 
  <wsdl:part element="eb:opPalinsestoTVODResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PALINSESTO_TVODSoap"> 
  <wsdl:operation name="opPalinsestoTVOD"> 
   <wsdl:input message="eb:opPalinsestoTVODRequest" name="opPalinsestoTVODRequest" /> 
   <wsdl:output message="eb:opPalinsestoTVODResponse" name="opPalinsestoTVODResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PALINSESTO_TVODSoap" type="eb:WS_PALINSESTO_TVODSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opPalinsestoTVOD"> 
   <soap:operation soapAction="WS_PALINSESTO_TVOD/opPalinsestoTVOD" style="document" /> 
   <wsdl:input name="opPalinsestoTVODRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opPalinsestoTVODResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PALINSESTO_TVOD"> 
  <wsdl:port binding="eb:WS_PALINSESTO_TVODSoap" name="WS_PALINSESTO_TVODSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PALINSESTO_TVOD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>