osb_it/repo/BlueBirdProject/MARKETING/CLOUD/sendCommunication/PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS/wsdl/BlueBirdProject_MARKETING_CLOUD_sendCommunication_proxy_PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS.wsdl

<wsdl:definitions name="PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS">
        <plnk:role name="PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONSProvider" portType="tns:PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/MARKETING_CLOUD/sendCommunication/xsd/XSD_MKTG_CLOUD_SEND_COMMUNICATIONS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="sendEmail_inputMessage">
        <wsdl:part name="request" element="inp1:requestSendEmail"/>
    </wsdl:message>
    <wsdl:message name="sendEmail_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="sendEmail_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="sendEmail_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="SendSMS_inputMessage">
        <wsdl:part name="request" element="inp1:requestSendSMS"/>
    </wsdl:message>
    <wsdl:message name="SendSMS_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="SendSMS_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="SendSMS_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="SendCommunications_inputMessage">
        <wsdl:part name="request" element="inp1:requestSendCommunication"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="SendCommunications_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="SendCommunications_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="SendCommunications_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS_ptt">
        <wsdl:operation name="sendEmail">
            <wsdl:input message="tns:sendEmail_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault500" message="tns:sendEmail_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:sendEmail_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:sendEmail_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="SendSMS">
            <wsdl:input message="tns:SendSMS_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault500" message="tns:SendSMS_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:SendSMS_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:SendSMS_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="SendCommunications">
            <wsdl:input message="tns:SendCommunications_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault500" message="tns:SendCommunications_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:SendCommunications_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:SendCommunications_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS_ptt-binding" type="tns:PS_REST_MKTG_CLOUD_SEND_COMMUNICATIONS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendEmail">
            <soap:operation soapAction="sendEmail"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendSMS">
            <soap:operation soapAction="SendSMS"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SendCommunications">
            <soap:operation soapAction="SendCommunications"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>