osb_it/repo/AspideProject/AppointmentManagement/PS_REST_ASPIDE_APPOINTMENTS/wsdl/AspideProject_AppointmentManagement_proxy_PS_REST_ASPIDE_APPOINTMENTS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_ASPIDE_APPOINTMENTS"
     targetNamespace="http://xmlns.oracle.com/OSBSvil/AspideProject/PS_REST_ASPIDE_APPOINTMENTS"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil/AspideProject/PS_REST_ASPIDE_APPOINTMENTS"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_ASPIDE_APPOINTMENTS">
        <plnk:role name="PS_REST_ASPIDE_APPOINTMENTSProvider" portType="tns:PS_REST_ASPIDE_APPOINTMENTS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/AppointmentManagement/xsd/XSD_ASPIDE_APPOINTMENTS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createAppointment_inputMessage">
        <wsdl:part name="request" element="inp1:requestNewAppointment"/>
    </wsdl:message>
    <wsdl:message name="createAppointment_outputMessage">
        <wsdl:part name="reply" element="inp1:responseNewAppointment"/>
    </wsdl:message>
    <wsdl:message name="createAppointment_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="createAppointment_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="createAppointment_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="updateAppointment_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateAppointment"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="updateAppointment_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="updateAppointment_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="updateAppointment_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="deleteAppointment_inputMessage">
        <wsdl:part name="request" element="inp1:requestDeleteAppointment"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_ASPIDE_APPOINTMENTS_ptt">
        <wsdl:operation name="createAppointment">
            <wsdl:input message="tns:createAppointment_inputMessage"/>
            <wsdl:output message="tns:createAppointment_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:createAppointment_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:createAppointment_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:createAppointment_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="updateAppointment">
            <wsdl:input message="tns:updateAppointment_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault400" message="tns:updateAppointment_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:updateAppointment_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:updateAppointment_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="deleteAppointment">
            <wsdl:input message="tns:deleteAppointment_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_ASPIDE_APPOINTMENTS_ptt-binding" type="tns:PS_REST_ASPIDE_APPOINTMENTS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createAppointment">
            <soap:operation soapAction="createAppointment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateAppointment">
            <soap:operation soapAction="updateAppointment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteAppointment">
            <soap:operation soapAction="deleteAppointment"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>