osb_it/repo/SalesforceProject/REST/CRM/SUBSCRIPTION/TRACKING/PS_REST_CRM_SUBSCRIPTION_TRACKING/wsdl/SalesforceProject_REST_CRM_SUBSCRIPTION_TRACKING_proxy_PS_REST_CRM_SUBSCRIPTION_TRACKING.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_SUBSCRIPTION_TRACKING" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_CRM_SUBSCRIPTION_TRACKING" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_SUBSCRIPTION_TRACKING">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_SubscriptionTracking/xsd/XSD_CRM_SUBSCRIPTION_TRACKING.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getSubscriptionTracking_inputMessage">
		<wsdl:part name="request" element="inp1:requestGetSubscriptionTracking"/>
	</wsdl:message>
	<wsdl:message name="getSubscriptionTracking_outputMessage">
		<wsdl:part name="reply" element="inp1:responseGetSubscriptionTracking"/>
	</wsdl:message>
	<wsdl:message name="getSubscriptionTracking_error404Message">
		<wsdl:part name="fault_error404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:message name="getSubscriptionTracking_error400Message">
		<wsdl:part name="fault_error400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="getSubscriptionTracking_error500Message">
		<wsdl:part name="fault_error500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_CRM_SUBSCRIPTION_TRACKING_ptt">
		<wsdl:operation name="getSubscriptionTracking">
			<wsdl:input message="tns:getSubscriptionTracking_inputMessage"/>
			<wsdl:output message="tns:getSubscriptionTracking_outputMessage"/>
			<wsdl:fault name="error404" message="tns:getSubscriptionTracking_error404Message"/>
			<wsdl:fault name="error400" message="tns:getSubscriptionTracking_error400Message"/>
			<wsdl:fault name="error500" message="tns:getSubscriptionTracking_error500Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_CRM_SUBSCRIPTION_TRACKING_ptt-binding" type="tns:PS_REST_CRM_SUBSCRIPTION_TRACKING_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSubscriptionTracking">
			<soap:operation soapAction="getSubscriptionTracking"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_CRM_SUBSCRIPTION_TRACKING">
		<plnk:role name="PS_REST_CRM_SUBSCRIPTION_TRACKINGProvider" portType="tns:PS_REST_CRM_SUBSCRIPTION_TRACKING_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>