esb_it/repo/WS_PEGASUS_GET_ATTACHMENT/wsdl/WS_PEGASUS_GET_ATTACHMENT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdPegasus/SkyXSD_WS_PEGASUS_GET_ATTACHMENT.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOut"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetAttachment"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetAttachmentResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOut" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetAttachmentRequest"> 
  <wsdl:part element="eb:opGetAttachment" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetAttachmentResponse"> 
  <wsdl:part element="eb:opGetAttachmentResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PEGASUS_GET_ATTACHMENTSoap"> 
  <wsdl:operation name="opGetAttachment"> 
   <wsdl:input message="eb:opGetAttachmentRequest" name="opGetAttachmentRequest" /> 
   <wsdl:output message="eb:opGetAttachmentResponse" name="opGetAttachmentResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PEGASUS_GET_ATTACHMENTSoap" type="eb:WS_PEGASUS_GET_ATTACHMENTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetAttachment"> 
   <soap:operation soapAction="WS_PEGASUS_GET_ATTACHMENT/opGetAttachment" style="document" /> 
   <wsdl:input name="opGetAttachmentRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetAttachmentResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PEGASUS_GET_ATTACHMENT"> 
  <wsdl:port binding="eb:WS_PEGASUS_GET_ATTACHMENTSoap" name="WS_PEGASUS_GET_ATTACHMENTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PEGASUS_GET_ATTACHMENT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>