esb_it/repo/WS_MRM_SET_TAGS_GEN/wsdl/WS_MRM_SET_TAGS_GEN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CA_OPERATORE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_GENERAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_TAG_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_TAG_VALUE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMRMSetTagsGen"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMRMSetTagsGenResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMRMSetTagsGenRequest"> 
  <wsdl:part element="eb:opMRMSetTagsGen" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMRMSetTagsGenResponse"> 
  <wsdl:part element="eb:opMRMSetTagsGenResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MRM_SET_TAGS_GENSoap"> 
  <wsdl:operation name="opMRMSetTagsGen"> 
   <wsdl:input message="eb:opMRMSetTagsGenRequest" name="opMRMSetTagsGenRequest" /> 
   <wsdl:output message="eb:opMRMSetTagsGenResponse" name="opMRMSetTagsGenResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MRM_SET_TAGS_GENSoap" type="eb:WS_MRM_SET_TAGS_GENSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMRMSetTagsGen"> 
   <soap:operation soapAction="WS_MRM_SET_TAGS_GEN/opMRMSetTagsGen" style="document" /> 
   <wsdl:input name="opMRMSetTagsGenRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMRMSetTagsGenResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MRM_SET_TAGS_GEN"> 
  <wsdl:port binding="eb:WS_MRM_SET_TAGS_GENSoap" name="WS_MRM_SET_TAGS_GENSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MRM_SET_TAGS_GEN" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>