esb_it/repo/WS_LS_ACKNOWLEDGE/wsdl/WS_LS_ACKNOWLEDGE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OPERAZIONE_ACKNOWLEDGE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_TID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OPERAZIONE_ACKNOWLEDGEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OPERAZIONE_ACKNOWLEDGERequest"> 
  <wsdl:part element="eb:OPERAZIONE_ACKNOWLEDGE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OPERAZIONE_ACKNOWLEDGEResponse"> 
  <wsdl:part element="eb:OPERAZIONE_ACKNOWLEDGEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_ACKNOWLEDGESoap"> 
  <wsdl:operation name="OPERAZIONE_ACKNOWLEDGE"> 
   <wsdl:input message="eb:OPERAZIONE_ACKNOWLEDGERequest" name="OPERAZIONE_ACKNOWLEDGERequest" /> 
   <wsdl:output message="eb:OPERAZIONE_ACKNOWLEDGEResponse" name="OPERAZIONE_ACKNOWLEDGEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_ACKNOWLEDGESoap" type="eb:WS_LS_ACKNOWLEDGESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OPERAZIONE_ACKNOWLEDGE"> 
   <soap:operation soapAction="WS_LS_ACKNOWLEDGE/OPERAZIONE_ACKNOWLEDGE" style="document" /> 
   <wsdl:input name="OPERAZIONE_ACKNOWLEDGERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OPERAZIONE_ACKNOWLEDGEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_ACKNOWLEDGE"> 
  <wsdl:port binding="eb:WS_LS_ACKNOWLEDGESoap" name="WS_LS_ACKNOWLEDGESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_ACKNOWLEDGE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>