esb_it/repo/WS_SCMS_EXECUTE_CHAOFF_SP/wsdl/WS_SCMS_EXECUTE_CHAOFF_SP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestCHAOFF"> 
    <xsd:sequence> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="refid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="date" type="xsd:string" /> 
     <xsd:element name="method" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseCHAOFF"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCHAOFF"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestCHAOFF" type="eb:requestCHAOFF" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCHAOFFResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseCHAOFF" type="eb:responseCHAOFF" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCHAOFFRequest"> 
  <wsdl:part element="eb:opCHAOFF" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCHAOFFResponse"> 
  <wsdl:part element="eb:opCHAOFFResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_CHAOFF_SPSoap"> 
  <wsdl:operation name="opCHAOFF"> 
   <wsdl:input message="eb:opCHAOFFRequest" name="opCHAOFFRequest" /> 
   <wsdl:output message="eb:opCHAOFFResponse" name="opCHAOFFResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_CHAOFF_SPSoap" type="eb:WS_SCMS_EXECUTE_CHAOFF_SPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCHAOFF"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_CHAOFF_SP/opCHAOFF" style="document" /> 
   <wsdl:input name="opCHAOFFRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCHAOFFResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_CHAOFF_SP"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_CHAOFF_SPSoap" name="WS_SCMS_EXECUTE_CHAOFF_SPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_CHAOFF_SP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>