osb_it/repo/SiebelProject/ExtraDatiLoyalty/PS_WS_SIE_EXTRA_DATI_LOYALTY/wsdl/SiebelProject_ExtraDatiLoyalty_proxy_PS_WS_SIE_EXTRA_DATI_LOYALTY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/WS_CRM_SIE_EXTRA_DATI_LOYALTY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_EXTRA_DATI_LOYALTY" targetNamespace="http://www.skytv.it/mdw/service/WS_CRM_SIE_EXTRA_DATI_LOYALTY">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_EXTRA_DATI_LOYALTY.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestExtraGetDatiLoyaltyMessage">
		<wsdl:part name="part_reqeustExtraGetDatiLoyalty" element="inp1:requestExtraGetDatiLoyalty"/>
	</wsdl:message>
	<wsdl:message name="responseExtraGetDatiLoyaltyMessage">
		<wsdl:part name="part_responseExtraGetDatiLoyalty" element="inp1:responseExtraGetDatiLoyalty"/>
	</wsdl:message>
	<wsdl:message name="headerMessage">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:message name="requestExtraStoricoLoyaltyMessage">
		<wsdl:part name="part_requestExtraStoricoLoyalty" element="inp1:requestExtraStoricoLoyalty"/>
	</wsdl:message>
	<wsdl:message name="responseExtraStoricoLoyaltyMessage">
		<wsdl:part name="part_responseExtraStoricoLoyalty" element="inp1:responseExtraStoricoLoyalty"/>
	</wsdl:message>
	<wsdl:portType name="ptt_extraDatiLoyalty">
		<wsdl:operation name="execute_ExtraGetDatiLoyalty">
			<wsdl:input message="tns:requestExtraGetDatiLoyaltyMessage"/>
			<wsdl:output message="tns:responseExtraGetDatiLoyaltyMessage"/>
		</wsdl:operation>
		<wsdl:operation name="execute_ExtraStoricoLoyalty">
			<wsdl:input message="tns:requestExtraStoricoLoyaltyMessage"/>
			<wsdl:output message="tns:responseExtraStoricoLoyaltyMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ptt_extraDatiLoyaltySOAP11Binding" type="tns:ptt_extraDatiLoyalty">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_ExtraGetDatiLoyalty">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/WS_CRM_SIE_EXTRA_DATI_LOYALTY/execute_ExtraGetDatiLoyalty" style="document"/>
			<wsdl:input>
				<soap:body parts="part_reqeustExtraGetDatiLoyalty" use="literal"/>
				<soap:header message="tns:headerMessage" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseExtraGetDatiLoyalty" use="literal"/>
				<soap:header message="tns:headerMessage" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_ExtraStoricoLoyalty">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/WS_CRM_SIE_EXTRA_DATI_LOYALTY/execute_ExtraStoricoLoyalty" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestExtraStoricoLoyalty" use="literal"/>
				<soap:header message="tns:headerMessage" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseExtraStoricoLoyalty" use="literal"/>
				<soap:header message="tns:headerMessage" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>