esb_it/repo/WS_EXT_GET_INFO_ACCOUNT/wsdl/WS_EXT_GET_INFO_ACCOUNT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="WS_TID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="CA_OPERATORE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="CA_PRIORITY" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="CA_AMBIENTE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_GET_INFOACCOUNT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GET_INFOACCOUNTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GET_INFOACCOUNTRequest"> 
  <wsdl:part element="eb:OP_GET_INFOACCOUNT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GET_INFOACCOUNTResponse"> 
  <wsdl:part element="eb:OP_GET_INFOACCOUNTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_EXT_GET_INFO_ACCOUNTSoap"> 
  <wsdl:operation name="OP_GET_INFOACCOUNT"> 
   <wsdl:input message="eb:OP_GET_INFOACCOUNTRequest" name="OP_GET_INFOACCOUNTRequest" /> 
   <wsdl:output message="eb:OP_GET_INFOACCOUNTResponse" name="OP_GET_INFOACCOUNTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_EXT_GET_INFO_ACCOUNTSoap" type="eb:WS_EXT_GET_INFO_ACCOUNTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GET_INFOACCOUNT"> 
   <soap:operation soapAction="WS_EXT_GET_INFO_ACCOUNT/OP_GET_INFOACCOUNT" style="document" /> 
   <wsdl:input name="OP_GET_INFOACCOUNTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GET_INFOACCOUNTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_EXT_GET_INFO_ACCOUNT"> 
  <wsdl:port binding="eb:WS_EXT_GET_INFO_ACCOUNTSoap" name="WS_EXT_GET_INFO_ACCOUNTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_EXT_GET_INFO_ACCOUNT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>