esb_it/repo/WS_SBL_KBP_GET_BALANCE/wsdl/WS_SBL_KBP_GET_BALANCE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_IMPORTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="PY_X_IMPORTO_SCADUTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_RC_BASE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_FEE_COST" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="PY_X_IMPORTO_PENALE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetBalance"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetBalanceResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetBalanceRequest"> 
  <wsdl:part element="eb:opGetBalance" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetBalanceResponse"> 
  <wsdl:part element="eb:opGetBalanceResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_KBP_GET_BALANCESoap"> 
  <wsdl:operation name="opGetBalance"> 
   <wsdl:input message="eb:opGetBalanceRequest" name="opGetBalanceRequest" /> 
   <wsdl:output message="eb:opGetBalanceResponse" name="opGetBalanceResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_KBP_GET_BALANCESoap" type="eb:WS_SBL_KBP_GET_BALANCESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetBalance"> 
   <soap:operation soapAction="WS_SBL_KBP_GET_BALANCE/opGetBalance" style="document" /> 
   <wsdl:input name="opGetBalanceRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetBalanceResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_KBP_GET_BALANCE"> 
  <wsdl:port binding="eb:WS_SBL_KBP_GET_BALANCESoap" name="WS_SBL_KBP_GET_BALANCESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_KBP_GET_BALANCE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>