esb_it/repo/WS_LEGGI_STORICO_EVENTI_DETTAGLIO/wsdl/WS_LEGGI_STORICO_EVENTI_DETTAGLIO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_CODICE_SMC" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_REF_ID" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DATA_TRASM" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DESCRIZIONE_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_TIPO_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DATA_ACQUISTO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_STATO_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_COSTO_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_MODALITA_ACQUISTO" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_LEGGI_STORICO_EVENTI_DETTAGLIO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_INIZIO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_FINE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_STANZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_STATO_HOTEL" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_LEGGI_STORICO_EVENTI_DETTAGLIOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LEGGI_STORICO_EVENTI_DETTAGLIO_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_LEGGI_STORICO_EVENTI_DETTAGLIORequest"> 
  <wsdl:part element="eb:OP_LEGGI_STORICO_EVENTI_DETTAGLIO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_LEGGI_STORICO_EVENTI_DETTAGLIOResponse"> 
  <wsdl:part element="eb:OP_LEGGI_STORICO_EVENTI_DETTAGLIOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LEGGI_STORICO_EVENTI_DETTAGLIOSoap"> 
  <wsdl:operation name="OP_LEGGI_STORICO_EVENTI_DETTAGLIO"> 
   <wsdl:input message="eb:OP_LEGGI_STORICO_EVENTI_DETTAGLIORequest" name="OP_LEGGI_STORICO_EVENTI_DETTAGLIORequest" /> 
   <wsdl:output message="eb:OP_LEGGI_STORICO_EVENTI_DETTAGLIOResponse" name="OP_LEGGI_STORICO_EVENTI_DETTAGLIOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LEGGI_STORICO_EVENTI_DETTAGLIOSoap" type="eb:WS_LEGGI_STORICO_EVENTI_DETTAGLIOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_LEGGI_STORICO_EVENTI_DETTAGLIO"> 
   <soap:operation soapAction="WS_LEGGI_STORICO_EVENTI_DETTAGLIO/OP_LEGGI_STORICO_EVENTI_DETTAGLIO" style="document" /> 
   <wsdl:input name="OP_LEGGI_STORICO_EVENTI_DETTAGLIORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_LEGGI_STORICO_EVENTI_DETTAGLIOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LEGGI_STORICO_EVENTI_DETTAGLIO"> 
  <wsdl:port binding="eb:WS_LEGGI_STORICO_EVENTI_DETTAGLIOSoap" name="WS_LEGGI_STORICO_EVENTI_DETTAGLIOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LEGGI_STORICO_EVENTI_DETTAGLIO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>