osb_it/repo/BlueBirdProject/KENAN/suppressedPlansHandler/PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER/wsdl/BlueBirdProject_KENAN_suppressedPlansHandler_proxy_PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER.wsdl

<wsdl:definitions name="PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER">
        <plnk:role name="PS_REST_KENAN_SUPPRESSED_PLANS_HANDLERProvider" portType="tns:PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/suppressedPlansHandler/xsd/XSD_KENAN_SUPPRESSED_PLANS_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="execute_RetrieveSuppressedPlanDetails_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveSuppressedPlanDetails"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlanDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:suppressedPlanDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlanDetails_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlanDetails_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlanDetails_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlans_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveSuppressedPlans"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlans_outputMessage">
        <wsdl:part name="reply" element="inp1:suppressedPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlans_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlans_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="execute_RetrieveSuppressedPlans_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="execute_UpdateSuppressedPlan_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateSuppressedPlans"/>
    </wsdl:message>
    <wsdl:message name="execute_UpdateSuppressedPlan_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateSuppressedPlans"/>
    </wsdl:message>
    <wsdl:message name="execute_UpdateSuppressedPlan_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="execute_UpdateSuppressedPlan_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveTotalCosts"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveTotalCosts"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER_ptt">
        <wsdl:operation name="execute_RetrieveSuppressedPlanDetails">
            <wsdl:input message="tns:execute_RetrieveSuppressedPlanDetails_inputMessage"/>
            <wsdl:output message="tns:execute_RetrieveSuppressedPlanDetails_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:execute_RetrieveSuppressedPlanDetails_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:execute_RetrieveSuppressedPlanDetails_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:execute_RetrieveSuppressedPlanDetails_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_RetrieveSuppressedPlans">
            <wsdl:input message="tns:execute_RetrieveSuppressedPlans_inputMessage"/>
            <wsdl:output message="tns:execute_RetrieveSuppressedPlans_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:execute_RetrieveSuppressedPlans_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:execute_RetrieveSuppressedPlans_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:execute_RetrieveSuppressedPlans_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_UpdateSuppressedPlan">
            <wsdl:input message="tns:execute_UpdateSuppressedPlan_inputMessage"/>
            <wsdl:output message="tns:execute_UpdateSuppressedPlan_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:execute_UpdateSuppressedPlan_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:execute_UpdateSuppressedPlan_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveTotalCosts">
            <wsdl:input message="tns:RetrieveTotalCosts_inputMessage"/>
            <wsdl:output message="tns:RetrieveTotalCosts_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:RetrieveTotalCosts_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:RetrieveTotalCosts_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:RetrieveTotalCosts_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER_ptt-binding" type="tns:PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_RetrieveSuppressedPlanDetails">
            <soap:operation soapAction="execute_RetrieveSuppressedPlanDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_RetrieveSuppressedPlans">
            <soap:operation soapAction="execute_RetrieveSuppressedPlans"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_UpdateSuppressedPlan">
            <soap:operation soapAction="execute_UpdateSuppressedPlan"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetrieveTotalCosts">
            <soap:operation soapAction="RetrieveTotalCosts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>