esb_it/repo/WS_IVR_GET_ODL_INFO/wsdl/WS_IVR_GET_ODL_INFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opGetODLInfo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_TRANS_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetODLInfoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ROW_ID_ODL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NUMERO_ODL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_TIPO_ODL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_STATO_ODL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_SOTTO_STATO_ODL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_STATO_SOLLECITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_DATA_OPERAZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_DATA_APPUNTAMENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_FLAG_SOLLECITABILE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetODLInfoRequest"> 
  <wsdl:part element="eb:opGetODLInfo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetODLInfoResponse"> 
  <wsdl:part element="eb:opGetODLInfoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_ODL_INFOSoap"> 
  <wsdl:operation name="opGetODLInfo"> 
   <wsdl:input message="eb:opGetODLInfoRequest" name="opGetODLInfoRequest" /> 
   <wsdl:output message="eb:opGetODLInfoResponse" name="opGetODLInfoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_ODL_INFOSoap" type="eb:WS_IVR_GET_ODL_INFOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetODLInfo"> 
   <soap:operation soapAction="WS_IVR_GET_ODL_INFO/opGetODLInfo" style="document" /> 
   <wsdl:input name="opGetODLInfoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetODLInfoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_ODL_INFO"> 
  <wsdl:port binding="eb:WS_IVR_GET_ODL_INFOSoap" name="WS_IVR_GET_ODL_INFOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_ODL_INFO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>