esb_it/repo/WS_SF_MTFS_PAG_ONLINE_CC/wsdl/WS_SF_MTFS_PAG_ONLINE_CC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opPagOnlineCC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NTS_DATA_CC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NTS_NUM_CC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_INC_TOTALE_DA_PAGARE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NTS_ID_TRANSAZIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_NTS_TIPO_PROCEDURA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_TIPO_PAG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_CID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opPagOnlineCCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_COD_AUT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_DATA_ADDEBITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_ID_ADDEBITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_NTS_CIRCUITO_CC" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opPagOnlineCCRequest"> 
  <wsdl:part element="eb:opPagOnlineCC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opPagOnlineCCResponse"> 
  <wsdl:part element="eb:opPagOnlineCCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_MTFS_PAG_ONLINE_CCSoap"> 
  <wsdl:operation name="opPagOnlineCC"> 
   <wsdl:input message="eb:opPagOnlineCCRequest" name="opPagOnlineCCRequest" /> 
   <wsdl:output message="eb:opPagOnlineCCResponse" name="opPagOnlineCCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_MTFS_PAG_ONLINE_CCSoap" type="eb:WS_SF_MTFS_PAG_ONLINE_CCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opPagOnlineCC"> 
   <soap:operation soapAction="WS_SF_MTFS_PAG_ONLINE_CC/opPagOnlineCC" style="document" /> 
   <wsdl:input name="opPagOnlineCCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opPagOnlineCCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_MTFS_PAG_ONLINE_CC"> 
  <wsdl:port binding="eb:WS_SF_MTFS_PAG_ONLINE_CCSoap" name="WS_SF_MTFS_PAG_ONLINE_CCSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_MTFS_PAG_ONLINE_CC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>