osb_it/repo/RTDProject/PS_WS_CRM_START_SESSION/xsd/XSD_CRM_START_SESSION.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestStartSessionType">
		<xsd:sequence>
			<xsd:element name="contractId" type="xsd:string" form="unqualified"/>
			<xsd:element name="customerCode" type="xsd:string" form="unqualified"/>
			<xsd:element name="sessionId" type="xsd:string" form="unqualified" minOccurs="0"/>
			<xsd:element name="interactiveChannel" type="xsd:string" form="unqualified"/>
			<xsd:element name="audienceLevel" type="xsd:string" form="unqualified"/>
			<xsd:element name="parameters" type="nameValuePairsType" form="unqualified" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseStartSessionType">
		<xsd:sequence>
			<xsd:element name="sessionId" type="xsd:string" form="unqualified"/>
			<xsd:element name="statusCode" type="xsd:int" form="unqualified"/>
			<xsd:element name="advisoryMessages" form="unqualified" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="advisoryMessage" type="advisoryMessageType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="advisoryMessageType">
		<xsd:sequence>
			<xsd:element name="messageCode" type="xsd:int" form="unqualified" minOccurs="0"/>
			<xsd:element name="statusLevel" type="xsd:int" form="unqualified" minOccurs="0"/>
			<xsd:element name="detailMessage" type="xsd:string" form="unqualified" minOccurs="0"/>
			<xsd:element name="message" type="xsd:string" form="unqualified" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameValuePairsType">
		<xsd:sequence>
			<xsd:element name="nameValuePair" type="nameValuePairType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="nameValuePairNumeric" type="nameValuePairNumericType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="nameValuePairDatetime" type="nameValuePairDatetimeType" form="unqualified" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameValuePairType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" form="unqualified"/>
			<xsd:element name="value" type="xsd:string" form="unqualified"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameValuePairNumericType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" form="unqualified"/>
			<xsd:element name="value" type="xsd:double" form="unqualified"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="nameValuePairDatetimeType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" form="unqualified"/>
			<xsd:element name="value" type="xsd:dateTime" form="unqualified"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestStartSession" type="requestStartSessionType"/>
	<xsd:element name="responseStartSession" type="responseStartSessionType"/>
</xsd:schema>