osb_it/repo/BlueBirdProject/TEOCO/healtTicketHandler/PS_WS_TEOCO_HEALT_TICKET_HANDLER/wsdl/BlueBirdProject_TEOCO_healtTicketHandler_proxy_PS_WS_TEOCO_HEALT_TICKET_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WS_TEOCO_HEALT_TICKET_HANDLER" targetNamespace="http://www.skytv.it/mdw/service/WS_TEOCO_HEALT_TICKET_HANDLER"
                  xmlns:tns="http://www.skytv.it/mdw/service/WS_TEOCO_HEALT_TICKET_HANDLER"
                  xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../healtTicketHandler/xsd/XSD_TEOCO_HEALT_TICKET_HANDLER.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessageUpdateTicket">
    <wsdl:part name="part_requestUpdateTicket" element="inp1:requestUpdateTicket"/>
  </wsdl:message>
  <wsdl:message name="replyMessageUpdateTicket">
    <wsdl:part name="part_responseUpdateTicket" element="inp1:responseUpdateTicketSoap"/>
  </wsdl:message>
  <wsdl:message name="requestMessageCreateTicket">
    <wsdl:part name="part_requestCreateTicket" element="inp1:requestCreateTicket"/>
  </wsdl:message>
  <wsdl:message name="replyMessageCreateTicket">
    <wsdl:part name="part_responseCreateTicket" element="inp1:responseCreateTicketSoap"/>
  </wsdl:message>
  <wsdl:message name="headerMessage">
    <wsdl:part name="partHeader" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:portType name="ptt_TEOCO_HEALT_TICKET_HANDLER">
    <wsdl:operation name="execute_UpdateTicket">
      <wsdl:input message="tns:requestMessageUpdateTicket"/>
      <wsdl:output message="tns:replyMessageUpdateTicket"/>
    </wsdl:operation>
    <wsdl:operation name="execute_CreateTicket">
      <wsdl:input message="tns:requestMessageCreateTicket"/>
      <wsdl:output message="tns:replyMessageCreateTicket"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="bind_TEOCO_HEALT_TICKET_HANDLER" type="tns:ptt_TEOCO_HEALT_TICKET_HANDLER">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_UpdateTicket">
      <soap:operation style="document" soapAction="execute_UpdateTicket"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_TEOCO_HEALT_TICKET_HANDLER"/>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_TEOCO_HEALT_TICKET_HANDLER"/>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_CreateTicket">
      <soap:operation style="document" soapAction="execute_CreateTicket"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_TEOCO_HEALT_TICKET_HANDLER"/>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_TEOCO_HEALT_TICKET_HANDLER"/>
        <soap:header message="tns:headerMessage" part="partHeader" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>