osb_it/repo/OMProject/GetAuthocode/PS_WS_OM_GET_AUTHOCODE/xsd/XSD_OM_GET_AUTHOCODE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestGetAuthocode" type="requestGetAuthocodeType"/>
  <xsd:element name="responseGetAuthocode" type="responseGetAuthocodeType"/>
  <xsd:complexType name="requestGetAuthocodeType">
    <xsd:sequence>
      <xsd:element name="productCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="attributeList" type="attributeListType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="attributeListType">
    <xsd:sequence>
          <xsd:element name="attribute" type="attributeType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="attributeType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1"/>
      <xsd:element name="value" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
<xsd:complexType name="responseGetAuthocodeType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string" minOccurs="1"/>
      <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
      <xsd:element name="tid" type="xsd:string" minOccurs="1"/>
      <xsd:element name="listAuthocodes" type="listAuthocodesType" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>

<xsd:complexType name="listAuthocodesType">
    <xsd:sequence>
      <xsd:element name="authocodeNumber" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>