osb_it/repo/SiebelProject/PS_WS_CRM_SIE_GESTIONE_ODL_SYNC/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_GESTIONE_ODL_SYNC.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_SIE_GESTIONE_ODL_SYNC"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_GESTIONE_ODL_SYNC.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data"
			schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestVerificaGaranzia_message">
        <wsdl:part name="part_requestVerificaGaranzia" element="inp1:requestVerificaGaranzia"/>
    </wsdl:message>
    <wsdl:message name="responseVerificaGaranzia_message">
        <wsdl:part name="part_responseVerificaGaranzia" element="inp1:responseVerificaGaranzia"/>
    </wsdl:message>
    <wsdl:portType name="CRM_SIE_GESTIONE_ODL_SYNC_ptt">
        <wsdl:operation name="execute_verificaGaranzia">
            <wsdl:input message="tns:requestVerificaGaranzia_message"/>
            <wsdl:output message="tns:responseVerificaGaranzia_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_checkProvinciaFast">
            <wsdl:input message="tns:requestCheckProvinciaFast_message"/>
            <wsdl:output message="tns:responseCheckProvinciaFast_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_getInfoInstaller">
            <wsdl:input message="tns:requestGetInfoInstaller_message"/>
            <wsdl:output message="tns:responseGetInfoInstaller_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_sospendiOdl">
            <wsdl:input message="tns:requestSospendiOdl_message"/>
            <wsdl:output message="tns:responseSospendiOdl_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_inviaSollecito">
            <wsdl:input message="tns:requestInviaSollecito_message"/>
            <wsdl:output message="tns:responseInviaSollecito_message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_message">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:binding name="CRM_SIE_GESTIONE_ODL_SYNC_pttSOAP11Binding" type="tns:CRM_SIE_GESTIONE_ODL_SYNC_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_verificaGaranzia">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC/execute_verificaGaranzia"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestVerificaGaranzia"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseVerificaGaranzia"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_checkProvinciaFast">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC/execute_checkProvinciaFast"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckProvinciaFast"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckProvinciaFast"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_getInfoInstaller">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC/execute_getInfoInstaller"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetInfoInstaller"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetInfoInstaller"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_inviaSollecito">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC/execute_inviaSollecito"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestInviaSollecito"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseInviaSollecito"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_sospendiOdl">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_ODL_SYNC/execute_sospendiOdl"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestSospendiOdl"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseSospendiOdl"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="requestCheckProvinciaFast_message">
        <wsdl:part name="part_requestCheckProvinciaFast" element="inp1:requestCheckProvinciaFast"/>
    </wsdl:message>
    <wsdl:message name="responseCheckProvinciaFast_message">
        <wsdl:part name="part_responseCheckProvinciaFast" element="inp1:responseCheckProvinciaFast"/>
    </wsdl:message>
    <wsdl:message name="requestGetInfoInstaller_message">
        <wsdl:part name="part_requestGetInfoInstaller" element="inp1:requestGetInfoInstaller"/>
    </wsdl:message>
    <wsdl:message name="responseGetInfoInstaller_message">
        <wsdl:part name="part_responseGetInfoInstaller" element="inp1:responseGetInfoInstaller"/>
    </wsdl:message>
    <wsdl:message name="requestSospendiOdl_message">
        <wsdl:part name="part_requestSospendiOdl" element="inp1:requestSospendiOdl"/>
    </wsdl:message>
    <wsdl:message name="responseSospendiOdl_message">
        <wsdl:part name="part_responseSospendiOdl" element="inp1:responseSospendiOdl"/>
    </wsdl:message>
    <wsdl:message name="requestInviaSollecito_message">
        <wsdl:part name="part_requestInviaSollecito" element="inp1:requestInviaSollecito"/>
    </wsdl:message>
    <wsdl:message name="responseInviaSollecito_message">
        <wsdl:part name="part_responseInviaSollecito" element="inp1:responseInviaSollecito"/>
    </wsdl:message>
</wsdl:definitions>