osb_it/repo/DMSProject/GetTokenFattura/PS_WS_DMS_GET_TOKEN_FATTURA/xsd/XSD_CRM_DMS_GET_TOKEN_FATTURA.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:complexType name="requestGetTokenFatturaType">
    <xsd:sequence>
      <xsd:element name="ListaFatture">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Fattura" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="SequenceNumber" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="IdFattura" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="DataFattura" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="requestGetTokenFattura" type="requestGetTokenFatturaType"/>
  <xsd:complexType name="responseGetTokenFatturaType">
    <xsd:sequence>
      <xsd:element name="Esito" type="xsd:string"/>
      <xsd:element name="DescrizioneEsito" type="xsd:string"/>
      <xsd:element name="ListaToken" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Token" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="SequenceId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="Esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                  <xsd:element name="TokenGUID" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="responseGetTokenFattura" type="responseGetTokenFatturaType"/>
</xsd:schema>