esb_it/repo/WS_SKY_TI_NOTIFY_STOP_DTH_OLD/wsdl/WS_SKY_TI_NOTIFY_STOP_DTH_OLD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:cst="http://telecomitalia.it/SOA/WS_SKY_TI_NOTIFY_STOP_DTH/2014-09-04" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://telecomitalia.it/SOA/WS_SKY_TI_NOTIFY_STOP_DTH/2014-09-04" schemaLocation="xsdTelecom/SkyXSD_SKY_TI_NotifyStopDTH.xsd" /> 
   <xsd:element name="opNotifyStopDTH"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="cst:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opNotifyStopDTHResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="cst:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opNotifyStopDTHRequest"> 
  <wsdl:part element="eb:opNotifyStopDTH" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opNotifyStopDTHResponse"> 
  <wsdl:part element="eb:opNotifyStopDTHResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SKY_TI_NOTIFY_STOP_DTH_OLDSoap"> 
  <wsdl:operation name="opNotifyStopDTH"> 
   <wsdl:input message="eb:opNotifyStopDTHRequest" name="opNotifyStopDTHRequest" /> 
   <wsdl:output message="eb:opNotifyStopDTHResponse" name="opNotifyStopDTHResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SKY_TI_NOTIFY_STOP_DTH_OLDSoap" type="eb:WS_SKY_TI_NOTIFY_STOP_DTH_OLDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opNotifyStopDTH"> 
   <soap:operation soapAction="WS_SKY_TI_NOTIFY_STOP_DTH_OLD/opNotifyStopDTH" style="document" /> 
   <wsdl:input name="opNotifyStopDTHRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opNotifyStopDTHResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SKY_TI_NOTIFY_STOP_DTH_OLD"> 
  <wsdl:port binding="eb:WS_SKY_TI_NOTIFY_STOP_DTH_OLDSoap" name="WS_SKY_TI_NOTIFY_STOP_DTH_OLDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SKY_TI_NOTIFY_STOP_DTH_OLD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>