esb_it/repo/WS_SF_FWB_SEND_TV_ORDER/xsd/SkyXSD_FWB_SendTVOrder.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:schema="http://it.fastweb.esb.org/SendOrderTv" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://it.fastweb.esb.org/SendOrderTv" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://it.fastweb.esb.org/SendOrderTv" elementFormDefault="qualified" attributeFormDefault="unqualified"> 
 <element name="InputMessage" type="tns:OperationDataType" /> 
 <complexType name="InputMessageType"> 
  <sequence> 
   <element name="TransactionData" type="tns:TransactionDataType" /> 
  </sequence> 
 </complexType> 
 <complexType name="OperationDataType"> 
  <complexContent> 
   <extension base="tns:InputMessageType"> 
    <sequence> 
     <element name="OperationData" type="tns:sendTVOrderType" /> 
    </sequence> 
   </extension> 
  </complexContent> 
 </complexType> 
 <element name="OutputMessage" type="tns:OutputMessageType" /> 
 <complexType name="OutputMessageType"> 
  <sequence> 
   <element name="OperationData" type="tns:OutputTvOrderType" /> 
  </sequence> 
 </complexType> 
 <complexType name="TransactionDataType"> 
  <sequence> 
   <element name="SenderName" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="50" /> 
      <minLength value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="UserName" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="50" /> 
      <minLength value="0" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TransactionId" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="42" /> 
      <minLength value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Version" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="50" /> 
      <minLength value="0" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TransactionTime" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="19" /> 
      <pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d\s([0-1]\d|[2][0-3]):[0-5]\d:[0-5]\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="sendTVOrderType"> 
  <sequence> 
   <element name="Source" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Scenario" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IdPDA" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SessionToken" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="255" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IdBundle" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IdPromoBundle" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ClaimPromo" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="255" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="OffertaAggiuntiva" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodicePromozione" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceMgm" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ClusterNumber" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="URLBackSKY" type="tns:URLBackSKY" /> 
   <element name="Header" type="tns:HeaderTvOrder" /> 
   <element name="Cliente" type="tns:ClienteTV" minOccurs="0" /> 
   <element name="Dati_NP" type="tns:Dati_NP" minOccurs="0" /> 
   <element name="CarrelloSKY" type="tns:CarrelloSKY" minOccurs="0" maxOccurs="1" /> 
  </sequence> 
 </complexType> 
 <complexType name="CarrelloSKY"> 
  <sequence> 
   <element name="Item" type="tns:Item" maxOccurs="unbounded" /> 
  </sequence> 
 </complexType> 
 <complexType name="Item"> 
  <sequence> 
   <element name="CodiceIstanza" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceProdotto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TipoProdotto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NomeProdotto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TipoPrezzo"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="PrezzoProdotto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
      <pattern value="[\-]{0,1}[0-9]{1,3}[,][0-9]{2}" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="Dati_NP"> 
  <sequence> 
   <element name="FlagRichiestaNP" type="tns:Flag" minOccurs="1" maxOccurs="1" /> 
   <element name="NumeroDaPortare" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DonorOLOvoce" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DonorOLOdati" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CDMvoce" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CDMdati" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="PINtelecom" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CNP" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IntestatarioTI" type="tns:IntestatarioTI" minOccurs="1" maxOccurs="1" /> 
   <element name="DatiNumero" type="tns:DatiNumero" minOccurs="0" maxOccurs="1" /> 
  </sequence> 
 </complexType> 
 <complexType name="DatiNumero"> 
  <sequence> 
   <element name="TipoLinea" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TipoDN" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="IntestatarioTI"> 
  <sequence> 
   <element name="FlagAzienda" type="tns:Flag" /> 
   <element name="Nome" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Cognome"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceFiscale"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="11" /> 
      <maxLength value="16" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Localita"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Provincia"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Stato" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Toponomastica"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Via"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Civico"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CAP"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Scala" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Interno" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="ClienteTV"> 
  <sequence> 
   <element name="Nome" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Cognome" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceFiscalePIva" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="11" /> 
      <maxLength value="16" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Sesso" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DataNascita" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="10" /> 
      <pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvinciaNascita" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ComuneNascita" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NazioneNascita" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TipoDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <enumeration value="CARTA DI IDENTITA" /> 
      <enumeration value="PASSAPORTO" /> 
      <enumeration value="PATENTE" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NazionalitaDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NumeroDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="EnteRilascioDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <enumeration value="COMUNE" /> 
      <enumeration value="MOTORIZZAZIONE" /> 
      <enumeration value="PREFETTURA" /> 
      <enumeration value="QUESTURA" /> 
      <enumeration value="STATO ESTERO" /> 
      <enumeration value="U.C.O." /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DataRilascioDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="10" /> 
      <pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvinciaDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ComuneDocumento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="50" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NumeroPermessoSoggiorno" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ScadenzaPermessoSoggiorno" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="10" /> 
      <pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IndirizzoCliente" type="tns:IndirizzoCliente" minOccurs="0" maxOccurs="1" /> 
   <element name="Sede_CDF" type="tns:Sede_CDF" minOccurs="1" maxOccurs="1" /> 
  </sequence> 
 </complexType> 
 <complexType name="Sede_CDF"> 
  <sequence> 
   <element name="ListaTecnologie" type="tns:ListaTecnologieType" minOccurs="0" maxOccurs="1" /> 
   <element name="CodiceSGU" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DNAppoggio" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="FlagLineaPresente" type="tns:Flag" minOccurs="0" maxOccurs="1" /> 
   <element name="RisorseComboPots" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="UBBPlus" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="GPON" type="tns:GPONType" minOccurs="0" maxOccurs="1" /> 
   <element name="TelefonoFisso" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="40" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Cellulare" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="40" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Email" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="AccountNumber" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="50" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Prevendita" type="tns:PrevenditaType" minOccurs="0" /> 
   <element name="IndirizzoSede" type="tns:IndirizzoSede" minOccurs="0" /> 
   <element name="DettaglioCDF" type="tns:DettaglioCDF" minOccurs="0" /> 
   <element name="IndirizzoSpedizioneConto" type="tns:IndirizzoSpedizioneConto" minOccurs="0" /> 
  </sequence> 
 </complexType> 
 <complexType name="PrevenditaType"> 
  <sequence> 
   <element name="FlagPrevendita"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IDcabinet" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IDSGU" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DataAttivazione" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="10" /> 
      <pattern value="|(\d\d/\d\d/\d\d\d\d)|('')" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Tecnologia" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="IndirizzoSpedizioneConto"> 
  <sequence> 
   <element name="CognomeReferenteCdF"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="90" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NomeReferenteCdF"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="90" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TitoloReferenteCdF" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="75" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IndirizzoSpedizioneConto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="200" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvinciaSpedizioneConto" maxOccurs="2"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ComuneSpedizioneConto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CAPSpedizioneConto"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="DettaglioCDF"> 
  <sequence> 
   <element name="MetodoPagamento"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
      <enumeration value="BOLLETTINO POSTALE" /> 
      <enumeration value="CARTA DI CREDITO" /> 
      <enumeration value="DIRECT DEBIT" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="MetodoSpedizioneFattura" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
      <enumeration value="NO INVIO" /> 
      <enumeration value="INVIO ELETTRONICO" /> 
      <enumeration value="INVIO CARTACEO" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceDestinatario" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="7" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="EmailPec" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CognomeTitolare"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NomeTitolare"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceFiscalePIVATitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="16" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SessoTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="1" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvinciaNascitaTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DataNascitaTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="10" /> 
      <pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ComuneNascitaTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="RegimeIvaTitolare"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
      <enumeration value="CLIENTE NORMALE" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IndirizzoTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="200" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvinciaTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ComuneTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CAPTitolare" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceInfoFinax" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="11" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodicePINPAD" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="20" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IBAN" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="45" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="NumeroCartaCredito" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CircuitoCartaCredito" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="50" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TipoCartaCredito" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DataScadenzaCartaCredito" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
      <pattern value="(0[1-9]|1[012])[/]\d\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="IndirizzoSede"> 
  <sequence> 
   <element name="Toponomastica"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Indirizzo"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Civico"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CAP"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Comune"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvincia"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Stato"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Localita" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Scala" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Interno" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Piano" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IdIndirizzoFW" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="IndirizzoCliente"> 
  <sequence> 
   <element name="Indirizzo" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CAP" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Comune" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvincia" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Nazione" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="HeaderTvOrder"> 
  <sequence> 
   <element name="FlagDealerCondiviso" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <enumeration value="Y" /> 
      <enumeration value="N" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceDealerCondiviso" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceDealerSky" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CanaleVendita" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceComsy" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodicePromoterFW" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodicePromoterSKY" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="LoginOperatore" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceContrattoOrigineSky" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceDealerOrigineSky" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="DataAnnullamentoContrattoOrigineSky" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="10" /> 
      <pattern value="(0[1-9]|1[012])[/](0[1-9]|[12][0-9]|3[01])[/](19|20)\d\d" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CausaleInserimento" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="255" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CodiceCarrelloSKY" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="IndirizzoMateriali" type="tns:IndirizzoMateriali" minOccurs="0" maxOccurs="1" /> 
  </sequence> 
 </complexType> 
 <complexType name="IndirizzoMateriali"> 
  <sequence> 
   <element name="Toponomastica" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Indirizzo" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Civico" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="CAP" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="5" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Comune" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="100" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="SiglaProvincia" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <length value="2" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Stato" minOccurs="1" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Localita" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Scala" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Interno" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Piano" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="10" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <simpleType name="Flag"> 
  <restriction base="xsd:string"> 
   <length value="1" /> 
   <enumeration value="Y" /> 
   <enumeration value="N" /> 
  </restriction> 
 </simpleType> 
 <complexType name="OutputTvOrderType"> 
  <sequence> 
   <element name="URL" type="tns:URL" minOccurs="0" /> 
   <element name="Status" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ErrorCode"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="30" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="ErrorMessage" minOccurs="0"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="255" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="URL"> 
  <sequence> 
   <element name="Static"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="255" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Dinamic"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="255" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="URLBackSKY"> 
  <sequence> 
   <element name="Static"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="1024" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Dynamic"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="1" /> 
      <maxLength value="1024" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <complexType name="ListaTecnologieType"> 
  <sequence> 
   <element name="item" type="tns:itemType" minOccurs="0" maxOccurs="unbounded" /> 
  </sequence> 
 </complexType> 
 <complexType name="itemType"> 
  <sequence> 
   <element name="CodiceTecnologia" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
      <enumeration value="F1R" /> 
      <enumeration value="F2R" /> 
      <enumeration value="DSR" /> 
      <enumeration value="D2R" /> 
      <enumeration value="WHR" /> 
      <enumeration value="W2R" /> 
      <enumeration value="V1R" /> 
      <enumeration value="Y1R" /> 
      <enumeration value="XSR" /> 
      <enumeration value="X2R" /> 
      <enumeration value="G1R" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="Tecnologia" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
      <enumeration value="FIBRA" /> 
      <enumeration value="ADSL" /> 
      <enumeration value="ADSL_WS" /> 
      <enumeration value="SUBULL" /> 
      <enumeration value="VULA" /> 
      <enumeration value="ULL_VULA" /> 
      <enumeration value="NGN GPON" /> 
     </restriction> 
    </simpleType> 
   </element> 
   <element name="TipoFascia" minOccurs="0" maxOccurs="1"> 
    <simpleType> 
     <restriction base="xsd:string"> 
      <minLength value="0" /> 
      <maxLength value="30" /> 
      <enumeration value="FASCIA1" /> 
      <enumeration value="FASCIA2" /> 
      <enumeration value="FASCIA3" /> 
     </restriction> 
    </simpleType> 
   </element> 
  </sequence> 
 </complexType> 
 <simpleType name="String50"> 
  <restriction base="xsd:string"> 
   <maxLength value="50" /> 
  </restriction> 
 </simpleType> 
 <simpleType name="String42"> 
  <restriction base="xsd:string"> 
   <maxLength value="42" /> 
  </restriction> 
 </simpleType> 
 <simpleType name="dateString19"> 
  <restriction base="xsd:string"> 
   <maxLength value="19" /> 
   <pattern value="|(\d\d/\d\d/\d\d\d\d \d\d:\d\d:\d\d)|('')" /> 
  </restriction> 
 </simpleType> 
 <complexType name="GPONType"> 
  <sequence> 
   <element name="Provider" type="xsd:string" minOccurs="0" maxOccurs="1" /> 
   <element name="IdBuilding" type="xsd:string" minOccurs="0" maxOccurs="1" /> 
   <element name="StatoBuilding" type="xsd:string" minOccurs="0" maxOccurs="1" /> 
   <element name="IdGPON" type="xsd:string" minOccurs="0" maxOccurs="1" /> 
   <element name="IdPOP" type="xsd:string" minOccurs="0" maxOccurs="1" /> 
  </sequence> 
 </complexType> 
</schema>