osb_it/repo/SalesforceProject/WS/CRM/TRACCIA/PAGAMENTO/PS_CRM_TRACCIA_PAGAMENTO/xsd/XSD_CRM_TRACCIA_PAGAMENTO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestTracciaPagamentoType">
		<xsd:sequence>
			<xsd:element name="contrId" type="xsd:string"/>
			<xsd:element name="mdwPaymentMethod" type="xsd:string"/>
			<xsd:element name="mdwAmount" type="xsd:string"/>
			<xsd:element name="mdwPaymentDate" type="xsd:string"/>
			<xsd:element name="mdwTrackingField" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mdwConnId" type="xsd:string" minOccurs="0"/>
						<xsd:element name="mdwOrigin" type="xsd:string" minOccurs="0"/>
						<xsd:element name="mdwScope" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestTracciaPagamento" type="requestTracciaPagamentoType"/>
	<xsd:complexType name="responseTracciaPagamentoType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseTracciaPagamento" type="responseTracciaPagamentoType"/>
</xsd:schema>