osb_it/repo/SCMSproject/PS_WS_SCMS_GESTIONE_OSD/wsdl/SCMSproject_proxy_PS_WS_SCMS_GESTIONE_OSD.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SCMS_GESTIONE_OSD"
     targetNamespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD"
     xmlns:tns="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SCMS_GESTIONE_OSD.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_in_SNDOSV" element="inp1:requestSNDOSV"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_out_SNDOSV" element="inp1:responseSNDOSV"/>
    </wsdl:message>
    <wsdl:portType name="WS_SCMS_GESTIONE_OSD_ptt">
        <wsdl:operation name="execute_SNDOSV">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_REIDOS">
            <wsdl:input message="tns:requestMessageREIDOS"/>
            <wsdl:output message="tns:responseMessageREIDOS"/>
        </wsdl:operation>
        <wsdl:operation name="execute_REINOS">
            <wsdl:input message="tns:requestMessageREINOS"/>
            <wsdl:output message="tns:responseMessageREINOS"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_SCMS_GESTIONE_OSD_bind" type="tns:WS_SCMS_GESTIONE_OSD_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_SNDOSV">
            <soap:operation style="document" soapAction="execute_SNDOSV"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD"/>
                <soap:header message="tns:message_Header" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD"/>
                <soap:header message="tns:message_Header" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_REIDOS">
            <soap:operation soapAction="execute_REIDOS" style="document"/>
            <wsdl:input>
                <soap:header message="tns:message_Header" part="part_Header" use="literal"/>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:message_Header" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_REINOS">
            <soap:operation soapAction="execute_REINOS"/>
            <wsdl:input>
                <soap:header message="tns:message_Header" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:message_Header" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/service/MDW_CDM/WS_SCMS_GESTIONE_OSD" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="message_Header">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMessageREIDOS">
        <wsdl:part name="part_in_REIDOS" element="inp1:requestREIDOS"/>
    </wsdl:message>
    <wsdl:message name="responseMessageREIDOS">
        <wsdl:part name="part_out_REIDOS" element="inp1:responseREIDOS"/>
    </wsdl:message>
    <wsdl:message name="requestMessageREINOS">
        <wsdl:part name="part_in_REINOS" element="inp1:requestREINOS"/>
    </wsdl:message>
    <wsdl:message name="responseMessageREINOS">
        <wsdl:part name="part_out_REINOS" element="inp1:responseREINOS"/>
    </wsdl:message>
</wsdl:definitions>