esb_it/repo/WS_VMS_CHARGEOFF_BY_TRANSID/wsdl/WS_VMS_CHARGEOFF_BY_TRANSID.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="1" name="MRM_SERIAL_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="MRM_HIDDEN_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUMERO_CARTE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="CRM_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_NUM_OUT" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVmsChargeoffByTransid"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_MEDIA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVmsChargeoffByTransidResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseVMS" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVmsChargeoffByTransidRequest"> 
  <wsdl:part element="eb:opVmsChargeoffByTransid" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVmsChargeoffByTransidResponse"> 
  <wsdl:part element="eb:opVmsChargeoffByTransidResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_VMS_CHARGEOFF_BY_TRANSIDSoap"> 
  <wsdl:operation name="opVmsChargeoffByTransid"> 
   <wsdl:input message="eb:opVmsChargeoffByTransidRequest" name="opVmsChargeoffByTransidRequest" /> 
   <wsdl:output message="eb:opVmsChargeoffByTransidResponse" name="opVmsChargeoffByTransidResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_VMS_CHARGEOFF_BY_TRANSIDSoap" type="eb:WS_VMS_CHARGEOFF_BY_TRANSIDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVmsChargeoffByTransid"> 
   <soap:operation soapAction="WS_VMS_CHARGEOFF_BY_TRANSID/opVmsChargeoffByTransid" style="document" /> 
   <wsdl:input name="opVmsChargeoffByTransidRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVmsChargeoffByTransidResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_VMS_CHARGEOFF_BY_TRANSID"> 
  <wsdl:port binding="eb:WS_VMS_CHARGEOFF_BY_TRANSIDSoap" name="WS_VMS_CHARGEOFF_BY_TRANSIDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_VMS_CHARGEOFF_BY_TRANSID" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>