osb_it/repo/MDWProject/SetShippingTime/PS_WS_MDW_SET_SHIPPING_TIME/xsd/XSD_MDW_SET_SHIPPING_TIME.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" 
elementFormDefault="qualified">
	<xsd:complexType name="requestStartShippingTimeType">
		<xsd:sequence>
			<xsd:element name="mdwTypeOfService" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestStartShippingTime" type="requestStartShippingTimeType"/>
	<xsd:element name="responseStartShippingTime" type="responseStartShippingTimeType"/>
	<xsd:complexType name="responseStartShippingTimeType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="mdwProcessId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="requestSetShippingTimeType">
		<xsd:sequence>
			<xsd:element name="mdwProcessId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
                        <xsd:element name="mdwShippingTimes" type="mdwShippingTimesType" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestSetShippingTime" type="requestSetShippingTimeType"/>
	<xsd:element name="responseSetShippingTime" type="responseSetShippingTimeType"/>
	<xsd:complexType name="responseSetShippingTimeType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mdwShippingTimesType">
		<xsd:sequence>
			<xsd:element name="mdwShippingTime" type="mdwShippingTimeType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="mdwShippingTimeType">
		<xsd:sequence>
			<xsd:element name="mdwLocalita" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="mdwProvincia" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="mdwCAP" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="mdwSLA" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="requestEndShippingTimeType">
		<xsd:sequence>
			<xsd:element name="mdwProcessId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestEndShippingTime" type="requestEndShippingTimeType"/>
	<xsd:element name="responseEndShippingTime" type="responseEndShippingTimeType"/>
	<xsd:complexType name="responseEndShippingTimeType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>