osb_it/repo/BlueBirdProject/DB/CRM/migrationCode/PS_REST_MDW_MIGRATION_CODE/wsdl/BlueBirdProject_DB_CRM_migrationCode_proxy_PS_REST_MDW_MIGRATION_CODE.wsdl

<wsdl:definitions name="PS_REST_MDW_SF_MIGRATION_CODE" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_SF_MIGRATION_CODE" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_SF_MIGRATION_CODE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp3="http://www.skytv.it/mdw/data">
    <plnk:partnerLinkType name="PS_REST_MDW_SF_MIGRATION_CODE">
        <plnk:role name="PS_REST_MDW_SF_MIGRATION_CODEProvider" portType="tns:PS_REST_MDW_SF_MIGRATION_CODE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DB_CRM/migrationCode/xsd/XSD_MDW_SF_MIGRATION_CODE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DB_CRM/migrationCode/xsd/XSD_MDW_SF_MIGRATION_CODE_EXT1.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="verifyMigrationCode_inputMessage">
        <wsdl:part name="request" element="inp1:requestVerifyMigrationCode"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_outputMessage">
        <wsdl:part name="reply" element="inp1:responseVerifyMigrationCode"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="NotifyMigrationCode_inputMessage">
        <wsdl:part name="request" element="inp1:requestNotifyMigrationCode"/>
    </wsdl:message>
    <wsdl:message name="NotifyMigrationCode_outputMessage">
        <wsdl:part name="reply" element="inp1:responseNotifyMigrationCode"/>
    </wsdl:message>
    <wsdl:message name="NotifyMigrationCode_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="NotifyMigrationCode_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="NotifyMigrationCode_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="Phase3MigrationNotification_inputMessage">
        <wsdl:part name="request" element="inp1:requestPhase3MigrationNotification"/>
    </wsdl:message>
    <wsdl:message name="Phase3MigrationNotification_outputMessage">
        <wsdl:part name="reply" element="inp1:responsePhase3MigrationNotification"/>
    </wsdl:message>
    <wsdl:message name="Phase3MigrationNotification_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="Phase3MigrationNotification_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="Phase3MigrationNotification_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="cancelMigrationRequest_inputMessage">
        <wsdl:part name="request" element="inp1:requestCancelMigrationRequest"/>
    </wsdl:message>
    <wsdl:message name="cancelMigrationRequest_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCancelMigrationRequest"/>
    </wsdl:message>
    <wsdl:message name="cancelMigrationRequest_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="cancelMigrationRequest_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="cancelMigrationRequest_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="notifyMigrationRequest_inputMessage">
        <wsdl:part name="request" element="inp1:requestNotifyMigrationRequest"/>
    </wsdl:message>
    <wsdl:message name="notifyMigrationRequest_outputMessage">
        <wsdl:part name="reply" element="inp1:responseNotifyMigrationRequest"/>
    </wsdl:message>
    <wsdl:message name="notifyMigrationRequest_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="notifyMigrationRequest_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="notifyMigrationRequest_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationRequest_inputMessage">
        <wsdl:part name="request" element="inp1:requestVerifyMigrationRequest"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationRequest_outputMessage">
        <wsdl:part name="reply" element="inp1:responseVerifyMigrationRequest"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationRequest_Error404Message">
        <wsdl:part name="fault_Error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationRequest_Error400Message">
        <wsdl:part name="fault_Error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationRequest_Error500Message">
        <wsdl:part name="fault_Error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_SF_MIGRATION_CODE_ptt">
        <wsdl:operation name="verifyMigrationCode">
            <wsdl:input message="tns:verifyMigrationCode_inputMessage"/>
            <wsdl:output message="tns:verifyMigrationCode_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:verifyMigrationCode_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:verifyMigrationCode_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:verifyMigrationCode_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="NotifyMigrationCode">
            <wsdl:input message="tns:NotifyMigrationCode_inputMessage"/>
            <wsdl:output message="tns:NotifyMigrationCode_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:NotifyMigrationCode_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:NotifyMigrationCode_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:NotifyMigrationCode_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="Phase3MigrationNotification">
            <wsdl:input message="tns:Phase3MigrationNotification_inputMessage"/>
            <wsdl:output message="tns:Phase3MigrationNotification_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:Phase3MigrationNotification_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:Phase3MigrationNotification_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:Phase3MigrationNotification_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="cancelMigrationRequest">
            <wsdl:input message="tns:cancelMigrationRequest_inputMessage"/>
            <wsdl:output message="tns:cancelMigrationRequest_outputMessage"/>
            <wsdl:fault name="error404" message="tns:cancelMigrationRequest_error404Message"/>
            <wsdl:fault name="error400" message="tns:cancelMigrationRequest_error400Message"/>
            <wsdl:fault name="error500" message="tns:cancelMigrationRequest_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="notifyMigrationRequest">
            <wsdl:input message="tns:notifyMigrationRequest_inputMessage"/>
            <wsdl:output message="tns:notifyMigrationRequest_outputMessage"/>
            <wsdl:fault name="error404" message="tns:notifyMigrationRequest_error404Message"/>
            <wsdl:fault name="error400" message="tns:notifyMigrationRequest_error400Message"/>
            <wsdl:fault name="error500" message="tns:notifyMigrationRequest_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="verifyMigrationRequest">
            <wsdl:input message="tns:verifyMigrationRequest_inputMessage"/>
            <wsdl:output message="tns:verifyMigrationRequest_outputMessage"/>
            <wsdl:fault name="Error404" message="tns:verifyMigrationRequest_Error404Message"/>
            <wsdl:fault name="Error400" message="tns:verifyMigrationRequest_Error400Message"/>
            <wsdl:fault name="Error500" message="tns:verifyMigrationRequest_Error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_SF_MIGRATION_CODE_ptt-binding" type="tns:PS_REST_MDW_SF_MIGRATION_CODE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verifyMigrationCode">
            <soap:operation soapAction="verifyMigrationCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="NotifyMigrationCode">
            <soap:operation soapAction="NotifyMigrationCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Phase3MigrationNotification">
            <soap:operation soapAction="Phase3MigrationNotification"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="cancelMigrationRequest">
            <soap:operation soapAction="cancelMigrationRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="notifyMigrationRequest">
            <soap:operation soapAction="notifyMigrationRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="verifyMigrationRequest">
            <soap:operation soapAction="verifyMigrationRequest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>