osb_it/repo/BlueBirdProject/KENAN/invoiceEvents/PS_REST_KENAN_INVOICE_EVENTS/wsdl/BlueBirdProject_KENAN_invoiceEvents_proxy_PS_REST_KENAN_INVOICE_EVENTS.wsdl

<wsdl:definitions name="PS_REST_KENAN_INVOICE_EVENTS" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_INVOICE_EVENTS" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_INVOICE_EVENTS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_KENAN_INVOICE_EVENTS">
        <plnk:role name="PS_REST_KENAN_INVOICE_EVENTSProvider" portType="tns:PS_REST_KENAN_INVOICE_EVENTS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/invoiceEvents/xsd/XSD_KENAN_INVOICE_EVENTS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveInvoiceEvents_inputMessage">
        <wsdl:part name="request" element="inp1:requestInvoiceEvents"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInvoiceEvents_outputMessage">
        <wsdl:part name="reply" element="inp1:responseInvoiceEvents"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInvoiceEvents_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInvoiceEvents_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveInvoiceEvents_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KENAN_INVOICE_EVENTS_ptt">
        <wsdl:operation name="RetrieveInvoiceEvents">
            <wsdl:input message="tns:RetrieveInvoiceEvents_inputMessage"/>
            <wsdl:output message="tns:RetrieveInvoiceEvents_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:RetrieveInvoiceEvents_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:RetrieveInvoiceEvents_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:RetrieveInvoiceEvents_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KENAN_INVOICE_EVENTS_ptt-binding" type="tns:PS_REST_KENAN_INVOICE_EVENTS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveInvoiceEvents">
            <soap:operation soapAction="RetrieveInvoiceEvents"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>