osb_it/repo/SiebelProject/offline/PS_WS_CRM_SIE_GESTIONE_APPARATI_ASYNC/wsdl/SiebelProject_offline_proxy_PS_WS_CRM_SIE_GESTIONE_APPARATI_ASYNC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_APPARATI" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_GESTIONE_APPARATI" targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_APPARATI">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_GESTIONE_APPARATI.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="responseCheckGuastoSmc_message">
		<wsdl:part name="part_requestCheckGuastoSmc" element="inp1:requestCheckGuastoSmcAsync"/>
	</wsdl:message>
	<wsdl:message name="requestCheckGuastoSmc_message">
		<wsdl:part name="part_responseCheckGuastoSmc" element="inp1:responseCheckGuastoSmcAsync"/>
	</wsdl:message>
	<wsdl:message name="responseCheckGuastoDk_message">
		<wsdl:part name="part_requestCheckGuastoDk" element="inp1:requestCheckGuastoDkAsync"/>
	</wsdl:message>
	<wsdl:message name="requestCheckGuastoDk_message">
		<wsdl:part name="part_responseCheckGuastoDk" element="inp1:responseCheckGuastoDkAsync"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_SIE_GESTIONE_APPARATI_ptt">
		<wsdl:operation name="execute_checkGuastoSmc">
			<wsdl:input message="tns:responseCheckGuastoSmc_message"/>
			<wsdl:output message="tns:requestCheckGuastoSmc_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_checkGuastoDk">
			<wsdl:input message="tns:responseCheckGuastoDk_message"/>
			<wsdl:output message="tns:requestCheckGuastoDk_message"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="CRM_SIE_GESTIONE_APPARATI_pttSOAP11Binding" type="tns:CRM_SIE_GESTIONE_APPARATI_ptt">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="execute_checkGuastoSmc">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_APPARATI/execute_checkGuastoSmc"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestCheckGuastoSmc"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseCheckGuastoSmc"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_checkGuastoDk">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_APPARATI/execute_checkGuastoDk"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestCheckGuastoDk"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseCheckGuastoDk"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>