osb_it/repo/SalesforceProject/WS/RETRIEVE/ASSETS/PS_WS_RETRIEVE_ASSETS/wsdl/SalesforceProject_WS_RETRIEVE_ASSETS_proxy_PS_WS_RETRIEVE_ASSETS.wsdl

<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/SF_RETRIEVE_ASSETS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_SF_RETRIEVE_ASSETS" targetNamespace="http://www.skytv.it/mdw/service/SF_RETRIEVE_ASSETS">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SF_RETRIEVE_ASSETS.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestMessage">
		<wsdl:part name="part_requestGetAssets" element="inp1:requestGetAssets"/>
	</wsdl:message>
	<wsdl:message name="replyMessage">
		<wsdl:part name="part_responseGetAssets" element="inp1:responseGetAssets"/>
	</wsdl:message>
	<wsdl:message name="requestInfoMessage">
		<wsdl:part name="part_requestGetInfoAssets" element="inp1:requestGetInfoAssets"/>
	</wsdl:message>
	<wsdl:message name="replyInfoMessage"> 
		<wsdl:part name="part_responseGetInfoAssets" element="inp1:responseGetInfoAssets"/>
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="SF_RETRIEVE_ASSETS_ptt">
		<wsdl:operation name="execute_GetAssets">
			<wsdl:input message="tns:requestMessage"/>
			<wsdl:output message="tns:replyMessage"/>
		</wsdl:operation>
		<wsdl:operation name="execute_GetInfoAssets">
			<wsdl:input message="tns:requestInfoMessage"/>
			<wsdl:output message="tns:replyInfoMessage"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SF_RETRIEVE_ASSETS_bind" type="tns:SF_RETRIEVE_ASSETS_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_GetAssets">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SF_RETRIEVE_ASSETS/execute_GetAssets" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetAssets" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetAssets" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_GetInfoAssets">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SF_RETRIEVE_ASSETS/execute_GetInfoAssets" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetInfoAssets" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetInfoAssets" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>