esb_it/repo/WS_IVR_ACQUISTO_OPZIONE/wsdl/WS_IVR_ACQUISTO_OPZIONE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opAcquistoOpzione"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSmartCard" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceAccount" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="IdentificativoServizio" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAcquistoOpzioneResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAcquistoOpzioneRequest"> 
  <wsdl:part element="eb:opAcquistoOpzione" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAcquistoOpzioneResponse"> 
  <wsdl:part element="eb:opAcquistoOpzioneResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_ACQUISTO_OPZIONESoap"> 
  <wsdl:operation name="opAcquistoOpzione"> 
   <wsdl:input message="eb:opAcquistoOpzioneRequest" name="opAcquistoOpzioneRequest" /> 
   <wsdl:output message="eb:opAcquistoOpzioneResponse" name="opAcquistoOpzioneResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_ACQUISTO_OPZIONESoap" type="eb:WS_IVR_ACQUISTO_OPZIONESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAcquistoOpzione"> 
   <soap:operation soapAction="WS_IVR_ACQUISTO_OPZIONE/opAcquistoOpzione" style="document" /> 
   <wsdl:input name="opAcquistoOpzioneRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAcquistoOpzioneResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_ACQUISTO_OPZIONE"> 
  <wsdl:port binding="eb:WS_IVR_ACQUISTO_OPZIONESoap" name="WS_IVR_ACQUISTO_OPZIONESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_ACQUISTO_OPZIONE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>