esb_it/repo/WS_IN_BB_CHECK_COVERAGE/wsdl/WS_IN_BB_CHECK_COVERAGE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://www.wareplace.it/services/it/EgonWpIta4Ser" schemaLocation="SkyXSD_IN_BB_CHECK_COVERAGE.xsd" /> 
   <xsd:complexType name="wpVerVnd" xmlns:impl="http://www.wareplace.it/services/it/EgonWpIta4Ser"> 
    <xsd:complexContent> 
     <xsd:extension base="impl:wpVerVnd" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="wpVerVndResponse" xmlns:impl="http://www.wareplace.it/services/it/EgonWpIta4Ser"> 
    <xsd:complexContent> 
     <xsd:extension base="impl:wpVerVndResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opWpVerVnd"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:wpVerVnd" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opWpVerVndResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:wpVerVndResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opWpVerVndRequest"> 
  <wsdl:part element="eb:opWpVerVnd" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opWpVerVndResponse"> 
  <wsdl:part element="eb:opWpVerVndResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IN_BB_CHECK_COVERAGESoap"> 
  <wsdl:operation name="opWpVerVnd"> 
   <wsdl:input message="eb:opWpVerVndRequest" name="opWpVerVndRequest" /> 
   <wsdl:output message="eb:opWpVerVndResponse" name="opWpVerVndResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IN_BB_CHECK_COVERAGESoap" type="eb:WS_IN_BB_CHECK_COVERAGESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opWpVerVnd"> 
   <soap:operation soapAction="WS_IN_BB_CHECK_COVERAGE/opWpVerVnd" style="document" /> 
   <wsdl:input name="opWpVerVndRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opWpVerVndResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IN_BB_CHECK_COVERAGE"> 
  <wsdl:port binding="eb:WS_IN_BB_CHECK_COVERAGESoap" name="WS_IN_BB_CHECK_COVERAGESoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws/WS_IN_BB_CHECK_COVERAGE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>