osb_it/repo/SalesforceProject/REST/CRM/AMS/UPDATE/FLAGS/BY/SMC/PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC/wsdl/SalesforceProject_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC_proxy_PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:inp3="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC">
        <plnk:role name="PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMCProvider" portType="tns:PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_AMSUpdateFlagsBySMC/xsd/XSD_CRM_AMS_UPDATE_FLAGS_BY_SMC.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_AMSUpdateFlagsBySMC/xsd/XSD_CRM_AMS_UPDATE_FLAGS_BY_SMC.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="amsUpdateFlagsBySMC_inputMessage">
        <wsdl:part name="request" element="inp1:requestAMSUpdateFlagsBySMC"/>
    </wsdl:message>
    <wsdl:message name="amsUpdateFlagsBySMC_outputMessage"/>
    <wsdl:message name="amsUpdateFlagsBySMC_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="amsUpdateFlagsBySMC_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="amsUpdateFlagsBySMC_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC_ptt">
        <wsdl:operation name="amsUpdateFlagsBySMC">
            <wsdl:input message="tns:amsUpdateFlagsBySMC_inputMessage"/>
            <wsdl:output message="tns:amsUpdateFlagsBySMC_outputMessage"/>
            <wsdl:fault name="error404" message="tns:amsUpdateFlagsBySMC_error404Message"/>
            <wsdl:fault name="error400" message="tns:amsUpdateFlagsBySMC_error400Message"/>
            <wsdl:fault name="error500" message="tns:amsUpdateFlagsBySMC_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC_ptt-binding" type="tns:PS_REST_CRM_AMS_UPDATE_FLAGS_BY_SMC_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="amsUpdateFlagsBySMC">
            <soap:operation soapAction="amsUpdateFlagsBySMC"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>