esb_it/repo/WS_FWB_RETRIEVE_OFFER_LIST/wsdl/WS_FWB_RETRIEVE_OFFER_LIST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/RetrieveOfferList" schemaLocation="xsdFWB/SkyXSD_FWB_RetrieveOfferList.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/RetrieveOfferList"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://it.fastweb.esb.org/RetrieveOfferList"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="RetrieveOfferListOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="RetrieveOfferListOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="RetrieveOfferListOpRequest"> 
  <wsdl:part element="eb:RetrieveOfferListOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="RetrieveOfferListOpResponse"> 
  <wsdl:part element="eb:RetrieveOfferListOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_RETRIEVE_OFFER_LISTSoap"> 
  <wsdl:operation name="RetrieveOfferListOp"> 
   <wsdl:input message="eb:RetrieveOfferListOpRequest" name="RetrieveOfferListOpRequest" /> 
   <wsdl:output message="eb:RetrieveOfferListOpResponse" name="RetrieveOfferListOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_RETRIEVE_OFFER_LISTSoap" type="eb:WS_FWB_RETRIEVE_OFFER_LISTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="RetrieveOfferListOp"> 
   <soap:operation soapAction="WS_FWB_RETRIEVE_OFFER_LIST/RetrieveOfferListOp" style="document" /> 
   <wsdl:input name="RetrieveOfferListOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="RetrieveOfferListOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_RETRIEVE_OFFER_LIST"> 
  <wsdl:port binding="eb:WS_FWB_RETRIEVE_OFFER_LISTSoap" name="WS_FWB_RETRIEVE_OFFER_LISTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_RETRIEVE_OFFER_LIST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>