osb_it/repo/BlueBirdProject/CPQ/getCatalogue/PS_REST_CPQ_GET_CATALOGUE/wsdl/BlueBirdProject_CPQ_getCatalogue_proxy_PS_REST_CPQ_GET_CATALOGUE.wsdl

<wsdl:definitions name="PS_REST_CPQ_GET_CATALOGUE" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_CPQ_GET_CATALOGUE" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_CPQ_GET_CATALOGUE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CPQ_GET_CATALOGUE">
        <plnk:role name="PS_REST_CPQ_GET_CATALOGUEProvider" portType="tns:PS_REST_CPQ_GET_CATALOGUE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/CPQ/getCatalogue/xsd/XSD_CPQ_GET_CATALOGUE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getProducts_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveProducts"/>
    </wsdl:message>
    <wsdl:message name="getProducts_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveProducts"/>
    </wsdl:message>
    <wsdl:message name="getProducts_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getProducts_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getProducts_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getPromotions_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrievePromotions"/>
    </wsdl:message>
    <wsdl:message name="getPromotions_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrievePromotions"/>
    </wsdl:message>
    <wsdl:message name="getPromotions_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getPromotions_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getPromotions_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getPromotionsDuration_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrievePromotionsDuration"/>
    </wsdl:message>
    <wsdl:message name="getPromotionsDuration_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrievePromotionsDuration"/>
    </wsdl:message>
    <wsdl:message name="getPromotionsDuration_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getPromotionsDuration_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getPromotionsDuration_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CPQ_GET_CATALOGUE_ptt">
        <wsdl:operation name="getProducts">
            <wsdl:input message="tns:getProducts_inputMessage"/>
            <wsdl:output message="tns:getProducts_outputMessage"/>
            <wsdl:fault name="error404" message="tns:getProducts_error404Message"/>
            <wsdl:fault name="error400" message="tns:getProducts_error400Message"/>
            <wsdl:fault name="error500" message="tns:getProducts_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="getPromotions">
            <wsdl:input message="tns:getPromotions_inputMessage"/>
            <wsdl:output message="tns:getPromotions_outputMessage"/>
            <wsdl:fault name="error404" message="tns:getPromotions_error404Message"/>
            <wsdl:fault name="error400" message="tns:getPromotions_error400Message"/>
            <wsdl:fault name="error500" message="tns:getPromotions_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="getPromotionsDuration">
            <wsdl:input message="tns:getPromotionsDuration_inputMessage"/>
            <wsdl:output message="tns:getPromotionsDuration_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:getPromotionsDuration_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:getPromotionsDuration_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:getPromotionsDuration_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CPQ_GET_CATALOGUE_ptt-binding" type="tns:PS_REST_CPQ_GET_CATALOGUE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getProducts">
            <soap:operation soapAction="getProducts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPromotions">
            <soap:operation soapAction="getPromotions"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPromotionsDuration">
            <soap:operation soapAction="getPromotionsDuration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>