esb_it/repo/WS_HTL_SCMS_EXECUTE_RALLSA/wsdl/WS_HTL_SCMS_EXECUTE_RALLSA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestRALLSA"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="execdate" type="xsd:string" /> 
     <xsd:element name="priority" type="xsd:string" /> 
     <xsd:element name="funcname" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="account" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseRALLSA"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRALLSA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestRALLSA" type="eb:requestRALLSA" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="HTL_CODICE_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRALLSAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseRALLSA" type="eb:responseRALLSA" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRALLSARequest"> 
  <wsdl:part element="eb:opRALLSA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRALLSAResponse"> 
  <wsdl:part element="eb:opRALLSAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SCMS_EXECUTE_RALLSASoap"> 
  <wsdl:operation name="opRALLSA"> 
   <wsdl:input message="eb:opRALLSARequest" name="opRALLSARequest" /> 
   <wsdl:output message="eb:opRALLSAResponse" name="opRALLSAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SCMS_EXECUTE_RALLSASoap" type="eb:WS_HTL_SCMS_EXECUTE_RALLSASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRALLSA"> 
   <soap:operation soapAction="WS_HTL_SCMS_EXECUTE_RALLSA/opRALLSA" style="document" /> 
   <wsdl:input name="opRALLSARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRALLSAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SCMS_EXECUTE_RALLSA"> 
  <wsdl:port binding="eb:WS_HTL_SCMS_EXECUTE_RALLSASoap" name="WS_HTL_SCMS_EXECUTE_RALLSASoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_HTL_SCMS_EXECUTE_RALLSA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>