osb_it/repo/NetflixProject/NetflixHandler/PS_WS_MDW_NETFLIX_HANDLER/wsdl/NetflixProject_NetflixHandler_proxy_PS_WS_MDW_NETFLIX_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_MDW_NETFLIX_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_MDW_NETFLIX_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_MDW_NETFLIX_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MDW_NETFLIX_HANDLER.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestEnrollNetflix_Message">
        <wsdl:part name="requestEnroll_part" element="inp1:requestEnrollNetflix"/>
    </wsdl:message>
    <wsdl:message name="responseEnrollNetflix_Message">
        <wsdl:part name="responseEnroll_part" element="inp1:responseEnrollNetflix"/>
    </wsdl:message>
    <wsdl:portType name="MDW_NETFLIX_HANDLER_ptt">
        <wsdl:operation name="execute_EnrollNetflix">
            <wsdl:input message="tns:requestEnrollNetflix_Message"/>
            <wsdl:output message="tns:responseEnrollNetflix_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CancelNetflix">
            <wsdl:input message="tns:requestCancelNetflix_Message"/>
            <wsdl:output message="tns:responseCancelNetflix_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestCancelNetflix_Message">
        <wsdl:part name="part_requestCancelNetflix" element="inp1:requestCancelNetflix"/>
    </wsdl:message>
    <wsdl:message name="responseCancelNetflix_Message">
        <wsdl:part name="part_responseCancelNetflix" element="inp1:responseCancelNetflix"/>
    </wsdl:message>
    <wsdl:binding name="MDW_NETFLIX_HANDLER_bind" type="tns:MDW_NETFLIX_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_EnrollNetflix">
            <soap:operation style="document"
                            soapAction="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_MDW_NETFLIX_HANDLER/execute_EnrollNetflix"/>
            <wsdl:input>
                <soap:body use="literal" parts="requestEnroll_part"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="responseEnroll_part"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CancelNetflix">
            <soap:operation style="document"
                            soapAction="http://xmlns.oracle.com/OSB_SVIL/MDW_CDM/WS_MDW_NETFLIX_HANDLER/execute_CancelNetflix"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCancelNetflix"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCancelNetflix"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>