osb_it/repo/AspideProject/ManageTeams/PS_REST_TA_MANAGE_TEAMS/wsdl/AspideProject_ManageTeams_proxy_PS_REST_TA_MANAGE_TEAMS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_TA_MANAGE_TEAMS"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSkyReply/AspideProject/PS_REST_TA_MANAGE_TEAMS"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/AspideProject/PS_REST_TA_MANAGE_TEAMS"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_TA_MANAGE_TEAMS">
        <plnk:role name="PS_REST_TA_MANAGE_TEAMSProvider" portType="tns:PS_REST_TA_MANAGE_TEAMS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/ManageTeams/xsd/XSD_TA_MANAGE_TEAMS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveTimeSlot_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveTimeSlot"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTimeSlot_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveTimeSlot"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTimeSlot_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTimeSlot_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTimeSlot_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_TA_MANAGE_TEAMS_ptt">
        <wsdl:operation name="RetrieveTimeSlot">
            <wsdl:input message="tns:RetrieveTimeSlot_inputMessage"/>
            <wsdl:output message="tns:RetrieveTimeSlot_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:RetrieveTimeSlot_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:RetrieveTimeSlot_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:RetrieveTimeSlot_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_TA_MANAGE_TEAMS_ptt-binding" type="tns:PS_REST_TA_MANAGE_TEAMS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveTimeSlot">
            <soap:operation soapAction="RetrieveTimeSlot"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>