esb_it/repo/WS_LS_MOVIMENTI_EAE_TO_SBL/wsdl/WS_LS_MOVIMENTI_EAE_TO_SBL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MAGAZZINO_SORGENTE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MAGAZZINO_DESTINAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_ID_MOVIMENTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_MOVIMENTO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="5000" minOccurs="0" name="LS_MATRICOLA_FML32" type="eb:FMLComplexMatricola" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexMatricola"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="LS_MATRICOLA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CAUSALE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DDT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_DDT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MODELLO_STB" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_VERSIONE_HW" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_GARANZIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_FINE_GARANZIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_RIPARAZIONI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_ODA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PODA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_FABBRICAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_GARANZIA_HD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_FINE_GARANZIA_HD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_RIPARAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_RIGENERAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_RITIRO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MATRICOLA_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SERIALE_FORNITORE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_NUM_LOTTO_FORNITORE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_ESITO_EPG" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_ESITO_EPG_CRM" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_GUASTO_SEGNALATO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_GUASTO_RILEVATO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_INTERMITTENZA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PROVENIENZA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_COMMITTENTE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DESTINATARIO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_FLG_RIUTILIZZO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_QUANTITA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="10" minOccurs="0" name="LS_ACCESSORIO_FML32" type="eb:FMLComplexAccessorio" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexAccessorio"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CAUSALE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_STATO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMovimentiEaeToSbl"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_MAGAZZINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMovimentiEaeToSblResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMovimentiEaeToSblRequest"> 
  <wsdl:part element="eb:opMovimentiEaeToSbl" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMovimentiEaeToSblResponse"> 
  <wsdl:part element="eb:opMovimentiEaeToSblResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_MOVIMENTI_EAE_TO_SBLSoap"> 
  <wsdl:operation name="opMovimentiEaeToSbl"> 
   <wsdl:input message="eb:opMovimentiEaeToSblRequest" name="opMovimentiEaeToSblRequest" /> 
   <wsdl:output message="eb:opMovimentiEaeToSblResponse" name="opMovimentiEaeToSblResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_MOVIMENTI_EAE_TO_SBLSoap" type="eb:WS_LS_MOVIMENTI_EAE_TO_SBLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMovimentiEaeToSbl"> 
   <soap:operation soapAction="WS_LS_MOVIMENTI_EAE_TO_SBL/opMovimentiEaeToSbl" style="document" /> 
   <wsdl:input name="opMovimentiEaeToSblRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMovimentiEaeToSblResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_MOVIMENTI_EAE_TO_SBL"> 
  <wsdl:port binding="eb:WS_LS_MOVIMENTI_EAE_TO_SBLSoap" name="WS_LS_MOVIMENTI_EAE_TO_SBLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_MOVIMENTI_EAE_TO_SBL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>