esb_it/repo/GetClientSmartcardInfo/wsdl/GetClientSmartcardInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_ASSET_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_RC_STB" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_GetClientSmartcardInfo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NAME_SMS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ASSET_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_CODICE_CLIENTE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GetClientSmartcardInfoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="GETCLIENTSMARTCARDINFO_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GetClientSmartcardInfoRequest"> 
  <wsdl:part element="eb:OP_GetClientSmartcardInfo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GetClientSmartcardInfoResponse"> 
  <wsdl:part element="eb:OP_GetClientSmartcardInfoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="GetClientSmartcardInfoSoap"> 
  <wsdl:operation name="OP_GetClientSmartcardInfo"> 
   <wsdl:input message="eb:OP_GetClientSmartcardInfoRequest" name="OP_GetClientSmartcardInfoRequest" /> 
   <wsdl:output message="eb:OP_GetClientSmartcardInfoResponse" name="OP_GetClientSmartcardInfoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="GetClientSmartcardInfoSoap" type="eb:GetClientSmartcardInfoSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GetClientSmartcardInfo"> 
   <soap:operation soapAction="GetClientSmartcardInfo/OP_GetClientSmartcardInfo" style="document" /> 
   <wsdl:input name="OP_GetClientSmartcardInfoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GetClientSmartcardInfoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="GetClientSmartcardInfo"> 
  <wsdl:port binding="eb:GetClientSmartcardInfoSoap" name="GetClientSmartcardInfoSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/GetClientSmartcardInfo" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>