osb_it/repo/MDWProject/AlignSfByBpel/RetriveScenariosBusinessRules/PS_WS_MDW_RETRIVE_SCENARIOS_BUSINESS_RULES/xsd/XSD_MDW_RETRIVE_SCENARIOS_BUSINESS_RULES.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" xmlns:rules="http://www.skytv.it/mdw/rules" elementFormDefault="qualified">
    
    <xsd:import namespace="http://www.skytv.it/mdw/rules" schemaLocation="../../../../ApplicationObjects/MDW/AlignFromSF/xsd/rule/scenarioRules.xsd"/>
    
    <xsd:element name="requestGetScenariosBusinessRules" type="requestGetScenariosBusinessRulesType"/>
    <xsd:complexType name="requestGetScenariosBusinessRulesType">
      <xsd:sequence>
        <xsd:element name="mdwScenario" type="xsd:string" minOccurs="1" maxOccurs="1" />
      </xsd:sequence>
    </xsd:complexType>
    
    
    <xsd:element name="responseGetScenariosBusinessRules" type="responseGetScenariosBusinessRulesType"/>
    <xsd:complexType name="responseGetScenariosBusinessRulesType">
      <xsd:sequence>
          <xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
          <xsd:element name="dataResponse" type="rules:RuleScenarioOutputType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>