esb_it/repo/WS_IVR_GET_INSTALLER_INFO_XML/wsdl/WS_IVR_GET_INSTALLER_INFO_XML.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="FML_CLIENTE_FRUITORE" type="eb:FMLComplexCliFruitore" /> 
     <xsd:element minOccurs="0" name="FML_CLIENTE_PAGATORE" type="eb:FMLComplexCliPagatore" /> 
     <xsd:element minOccurs="0" name="FML_CONTRATTO" type="eb:FMLComplexContratto" /> 
     <xsd:element minOccurs="0" name="FML_MODALITA_PAGAMENTO" type="eb:FMLComplexMOP" /> 
     <xsd:element minOccurs="0" name="FML_ODL" type="eb:FMLComplexODL" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexCliFruitore"> 
    <xsd:sequence> 
     <xsd:element name="CA_PASSWORD" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODE_FISCALE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COMUNICAZIONE_DA_TERZI" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_EMAIL" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_MAIN_PHONE_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_MARKET_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NAME" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PARTITA_IVA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_STATISTICHE_DI_MERCATO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUM_FAX" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_MARKET_CLASS" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PERS_GIURID_FLAG" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COGNOME_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NOME_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODICE_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_ROW_ID_CLI" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_DATA_NASCITA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_LUOGO_NASCITA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PROV_LUOGO_NASCITA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_DOCUMENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUMERO_DOCUMENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_DATA_DOCUMENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_LOY_MEMBER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="FML_INDIRIZZO_FRUITORE" type="eb:FMLComplexIndFruitore" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexIndFruitore"> 
    <xsd:sequence> 
     <xsd:element name="CRM_CAP_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CITY_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COUNTRY_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_INDIRIZZO_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUM_CIVICO_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PROVINCIA_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_SCALA_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PART_TOPON_SERVICE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexCliPagatore"> 
    <xsd:sequence> 
     <xsd:element name="CA_PASSWORD" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODE_FISCALE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COMUNICAZIONE_DA_TERZI" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_EMAIL" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_MAIN_PHONE_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_MARKET_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NAME" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PARTITA_IVA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_STATISTICHE_DI_MERCATO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUM_FAX" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_MARKET_CLASS" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PERS_GIURID_FLAG" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COGNOME_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NOME_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODICE_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_ROW_ID_CLI" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_FORMATO_FATT" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_INVIO_FATT" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_DATA_NASCITA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_LUOGO_NASCITA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PROV_LUOGO_NASCITA" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_DOCUMENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUMERO_DOCUMENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_DATA_DOCUMENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_BILLING_ACCOUNT" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_FLG_PRIVACY_ANALISI_PREF" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_FLG_PRIVACY_COM_TERZI" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_FLG_PRIVACY_STATISTICHE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_FLG_PRIVACY_DT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="FML_INDIRIZZO_PAGATORE" type="eb:FMLComplexIndPagatore" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexIndPagatore"> 
    <xsd:sequence> 
     <xsd:element name="CRM_CAP_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CITY_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COUNTRY_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_INDIRIZZO_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NUM_CIVICO_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PROVINCIA_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_SCALA_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PART_TOPON_SERVICE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexContratto"> 
    <xsd:sequence> 
     <xsd:element name="CRM_ACCOUNT_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODICE_PROMOZIONE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_STATUS" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PROMO_SIEBEL" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_ROW_ID_CONTR" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_CNTR" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODE_CNTR" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_DUE_DATE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_COMPANY" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_FLAG_PRONTO_SKY" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_LIST_NAME" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODICE_COUPON" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CATEGORIA_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_CODICE_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TIPO_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_AGREEMENT" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TECNOLOGIA_PROMO" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_START_DATE_CONTR" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_PARAM_1" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="FML_PACCHETTI" type="eb:FMLComplexPcks" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPcks"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="CA_FLAG_MULTIVISION" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_SERVICE_PRICE_AMOUNT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_NUMERO_PACCHETTI_ATTIVABILI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_NUMERO_PACCHETTI_PENDING" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="FML_PACCHETTO" type="eb:FMLComplexPck" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPck"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="CRM_STATO_PACCHETTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_PRODUCT_TYPE_PACKET" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_RATE_CODE_PACKET" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="FML_SERVIZI" type="eb:FMLComplexServizi" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexServizi"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="FML_SERVIZIO" type="eb:FMLComplexServizio" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexServizio"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="CRM_ASSET_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_FLAG_APPARATO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_STATO_SERVIZI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_ASSET_START_DATE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_FLAG_ENABLED" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_TIPO_APP" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_STATO_STB" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_TECNOLOGIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_SERIALE_DECODER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_STATO_SERVIZIO_STB" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_LIST_PRICE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_PRODUCT_TYPE_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_RATE_CODE_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_NEW_ASSET_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_PRODUCT_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexMOP"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="CRM_PAYMENT_METHOD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_PERIODICITA_FATTURAZIONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexODL"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="CA_FLAG_MULTIVISION" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_CODICE_ODL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_STATO_ODL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_CODICE_INSTALLATORE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_CODICE_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_ODL_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_TECNOLOGIA_ODL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_TECNOLOGIA_DECODER_MV" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_FLAG_INSTALLAZIONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetInstallerInfoXML"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_CODICE_ODL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CONNID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NAME_SMS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetInstallerInfoXMLResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetInstallerInfoXMLRequest"> 
  <wsdl:part element="eb:opGetInstallerInfoXML" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetInstallerInfoXMLResponse"> 
  <wsdl:part element="eb:opGetInstallerInfoXMLResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_INSTALLER_INFO_XMLSoap"> 
  <wsdl:operation name="opGetInstallerInfoXML"> 
   <wsdl:input message="eb:opGetInstallerInfoXMLRequest" name="opGetInstallerInfoXMLRequest" /> 
   <wsdl:output message="eb:opGetInstallerInfoXMLResponse" name="opGetInstallerInfoXMLResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_INSTALLER_INFO_XMLSoap" type="eb:WS_IVR_GET_INSTALLER_INFO_XMLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetInstallerInfoXML"> 
   <soap:operation soapAction="WS_IVR_GET_INSTALLER_INFO_XML/opGetInstallerInfoXML" style="document" /> 
   <wsdl:input name="opGetInstallerInfoXMLRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetInstallerInfoXMLResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_INSTALLER_INFO_XML"> 
  <wsdl:port binding="eb:WS_IVR_GET_INSTALLER_INFO_XMLSoap" name="WS_IVR_GET_INSTALLER_INFO_XMLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_INSTALLER_INFO_XML" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>