osb_it/repo/SiebelProject/PS_WS_CRM_SIE_INFO_CONTR_SYNC/xsd/XSD_CRM_SIE_INFO_CONTR_SYNC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestGetInfoContrattoType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestGetInfoContratto" type="requestGetInfoContrattoType"/>
	<xsd:element name="responseGetInfoContratto" type="responseGetInfoContrattoType"/>
	<xsd:complexType name="responseGetInfoContrattoType">
		<xsd:sequence>
			<xsd:element name="Account" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountPPV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountPreSubentro" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AccountSubentrante" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Agreement" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AltroTelefono" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AmbienteServizio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="AreaComune" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillableFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BillingAccount" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Brand" type="xsd:string" minOccurs="0"/>
			<xsd:element name="BroadBandFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CalcolaPuntidiFruizione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Callmenow" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CanaleAcquisizioneDepositoCauzionale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CanaleAcquisizioneDownPayment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CandidatoHoldFlg" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CAPCriticoFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CategoriaCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CatenadiAppartenenza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleAnnullamento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleAnnullamentoBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleAnnullamentoFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleCessazioneBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleCessazioneFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleFirmato" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleIncompletezza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleRitorno" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleSospensione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleSospensioneBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleSospensioneFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CausaleVariazioneFissoImpianto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CDMDati" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CDMFonia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Cellulare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CheckAntifrode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CheckReinvioAddendum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ChiusuraStagionale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Classe" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClusterCommissioning" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClusterFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClusterInbound" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClusterParco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClusterPSPM" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ClusterSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CNPFonia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceCDFFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceClienteFruitore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceClienteFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceComplex" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceCOMSY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceCondominio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceContrattoOrigine" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceDealerOrigine" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodicePromozione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceTecnologia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ComuneDocumento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConguaglioMaturatoFlexi" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConsensoDatiOnDemand" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConsensoPubblicazioneElenchi" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConsensoScambioDatiBB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConversioneStampa" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CreditCheck" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAgeing" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAnnullamento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAnnullamentoBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAnnullamentoContrattoOrigine" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAnnullamentoFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneFlexi" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneFTTS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazionePreSubentro" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneSubentrante" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataAttivazioneTelePiu" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataBonusFlexi" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataCambioListinoPending" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataCaricamento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataCessazioneBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataCessazioneFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataClasse" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataFirma" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataFirmaAddendum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataPrimaAttivazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRegistrazioneCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DatariaccreditoPS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRiattivazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRicezioneRaccomandata" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichiestaCessazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichiestaCessazioneFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataRichiestaSospensione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataScadenza" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataScadenzaTele" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataSospensione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataSospensioneBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataSospensioneFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataStipula" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataUltimaNotificaFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataUltimaNotificaSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Delega" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DenominazioneFruitore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="DownPayment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DurataContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="E-mail" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EmailBroadBand" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EMailRecapitoFattura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="EnteRilascioDocumento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="FasciaTV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FatturaaPagamento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FinePrimaStagionalita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FineSecondaStagionalita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Firmato" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirmatoAddendum" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FirmatoMultivision" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagDealerCondiviso" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagFrode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagOLOtoOLO" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagPrevenditaFTTS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagStatoModuloNP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FlagTrafficoAnomalo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Flexi" type="xsd:string" minOccurs="0"/>
			<xsd:element name="FormatoFattura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Fruitore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="GrandeCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdAssetFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdHeaderFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdInstanceFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IDPDA" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdPDAIPTV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImpiantoEsistenteDaAdeguare" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImpiantoRilevato" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImportoDepositoCauzionale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImportoDPParco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImportoSpese" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IndirizzodiFatturazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IndirizzodiUbicazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IndirizzoSitoInternet" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InizioPrimaStagionalita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InizioSecondaStagionalita" type="xsd:string" minOccurs="0"/>
			<xsd:element name="InvioRivista" type="xsd:string" minOccurs="0"/>
			<xsd:element name="KitSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LineaFoniaAttiva" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Listino" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MarcaTV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModalitaConsegna" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModalitaInvioFattura" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ModalitaInvioRivista" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MOPDownPayment" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MqBAR" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NazionalitaDocumento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Note" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroDocumento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroFax" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroPuntiFruizione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroStanzeHOTEL" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroTelPortability" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroTentativiContattoAntifrodeMV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OnDemandFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OperatoreDati" type="xsd:string" minOccurs="0"/>
			<xsd:element name="OperatoreFonia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Pagatore" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PinTelecom" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PortabilityFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Portafoglio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Postal" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PostaRitornataDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Promozione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PromozioneProposta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ProvinciaDocumento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Provisioning" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferentediFatturazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ReferentediUbicazione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RiaccreditoPS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="RilascioDepositoCauzionaleFlag" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SecondoCodicePromozione" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SegmentoAbbonati" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Stato" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoContrattoBundle" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoContrattoFastWeb" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoDepositoCauzionale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatodiRischio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoDPParco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoInstallazioneBB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoProvisioningFW" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoProvisioningSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tecnologia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Telefono" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TelefonoFissoImpianto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TestAntifrodeMV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoContratto" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoDepositoCauzionale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoDocumento" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoLineaTelefonicaSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipologiaEsercizio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoPostaRitornata" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoProntoSky" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoProvisioning" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoRivista" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VerificaFirma" type="xsd:string" minOccurs="0"/>
			<xsd:element name="VocalOrdering" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ListOfOtherFields" type="ListOfOtherFieldsType" minOccurs="0"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListOfOtherFieldsType">
		<xsd:sequence>
			<xsd:element name="Field" type="FieldType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FieldType">
		<xsd:sequence>
			<xsd:element name="Nome" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tipo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Valore" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>