esb_it/repo/WSSfToIbmsGetCampaignBillingDetails/wsdl/WSSfToIbmsGetCampaignBillingDetails.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://com/pilatmedia/ibmssales/Billing_service_v1_0.wsdl/types/" schemaLocation="SkyXSD_Billing.xsd" /> 
   <xsd:complexType name="getCampaignBillingDetailsResponseElement" xmlns:sf="http://com/pilatmedia/ibmssales/Billing_service_v1_0.wsdl/types/"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:getCampaignBillingDetailsResponseElement" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="getCampaignBillingDetailsElement" xmlns:sf="http://com/pilatmedia/ibmssales/Billing_service_v1_0.wsdl/types/"> 
    <xsd:complexContent> 
     <xsd:extension base="sf:getCampaignBillingDetailsElement" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetCampaignBillingDetails"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:getCampaignBillingDetailsElement" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetCampaignBillingDetailsResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:getCampaignBillingDetailsResponseElement" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetCampaignBillingDetailsRequest"> 
  <wsdl:part element="eb:opGetCampaignBillingDetails" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetCampaignBillingDetailsResponse"> 
  <wsdl:part element="eb:opGetCampaignBillingDetailsResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WSSfToIbmsGetCampaignBillingDetailsSoap"> 
  <wsdl:operation name="opGetCampaignBillingDetails"> 
   <wsdl:input message="eb:opGetCampaignBillingDetailsRequest" name="opGetCampaignBillingDetailsRequest" /> 
   <wsdl:output message="eb:opGetCampaignBillingDetailsResponse" name="opGetCampaignBillingDetailsResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WSSfToIbmsGetCampaignBillingDetailsSoap" type="eb:WSSfToIbmsGetCampaignBillingDetailsSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetCampaignBillingDetails"> 
   <soap:operation soapAction="WSSfToIbmsGetCampaignBillingDetails/opGetCampaignBillingDetails" style="document" /> 
   <wsdl:input name="opGetCampaignBillingDetailsRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetCampaignBillingDetailsResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WSSfToIbmsGetCampaignBillingDetails"> 
  <wsdl:port binding="eb:WSSfToIbmsGetCampaignBillingDetailsSoap" name="WSSfToIbmsGetCampaignBillingDetailsSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_sf/WSSfToIbmsGetCampaignBillingDetails" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>