osb_it/repo/OMProject/GetSblOrder/PS_WS_GET_SBL_ORDER/xsd/XSD_OM_GET_SBL_ORDER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestGetFirstActivationSblOrder" type="requestGetFirstActivationSblOrderType"/>
  <xsd:element name="responseGetFirstActivationSblOrder" type="responseGetFirstActivationSblOrderType"/>
  <xsd:complexType name="requestGetFirstActivationSblOrderType">
    <xsd:sequence>
      <xsd:element name="contrId" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseGetFirstActivationSblOrderType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string" minOccurs="1"/>
      <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
      <xsd:element name="orderList" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="orderItem" minOccurs="1" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="srNumeroOrdine" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="srStatoId" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="srSubArea" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="srDataCreazione" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="srCanaleVendita" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="srTipoDelivery" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>