osb_it/repo/AspideProject/CustomerManagement/PS_REST_ASPIDE_CUSTOMERS/wsdl/AspideProject_CustomerManagement_proxy_PS_REST_ASPIDE_CUSTOMERS.wsdl

<wsdl:definitions name="PS_REST_ASPIDE_CUSTOMERS" targetNamespace="http://xmlns.oracle.com/OSBSvil/AspideProject/PS_REST_ASPIDE_CUSTOMERS" xmlns:tns="http://xmlns.oracle.com/OSBSvil/AspideProject/PS_REST_ASPIDE_CUSTOMERS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_ASPIDE_CUSTOMERS">
        <plnk:role name="PS_REST_ASPIDE_CUSTOMERSProvider" portType="tns:PS_REST_ASPIDE_CUSTOMERS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/AspideProject/CustomerManagement/XSD_ASPIDE_CUSTOMERS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetCustomer_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetCustomer"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetCustomer"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_ASPIDE_CUSTOMERS_ptt">
        <wsdl:operation name="GetCustomer">
            <wsdl:input message="tns:GetCustomer_inputMessage"/>
            <wsdl:output message="tns:GetCustomer_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:GetCustomer_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:GetCustomer_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:GetCustomer_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_ASPIDE_CUSTOMERS_ptt-binding" type="tns:PS_REST_ASPIDE_CUSTOMERS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCustomer">
            <soap:operation soapAction="GetCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>