osb_it/repo/SiebelProject/PS_WS_CRM_SIE_APPARATI_SYNC/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_APPARATI_SYNC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_APPARATI_SYNC" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_APPARATI_SYNC" targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_APPARATI_SYNC">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_APPARATI_SYNC.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="responseGetMarcaModello_message">
		<wsdl:part name="part_requestGetMarcaModello" element="inp1:requestGetMarcaModello"/>
	</wsdl:message>
	<wsdl:message name="requestGetMarcaModello_message">
		<wsdl:part name="part_responseGetMarcaModello" element="inp1:responseGetMarcaModello"/>
	</wsdl:message>
	<wsdl:message name="responseGetAltriApparati_message">
		<wsdl:part name="part_requestGetAltriApparati" element="inp1:requestGetAltriApparati"/>
	</wsdl:message>
	<wsdl:message name="requestGetAltriApparati_message">
		<wsdl:part name="part_responseGetAltriApparati" element="inp1:responseGetAltriApparati"/>
	</wsdl:message>
	<wsdl:message name="responseSetAltriApparati_message">
		<wsdl:part name="part_requestSetAltriApparati" element="inp1:requestSetAltriApparati"/>
	</wsdl:message>
	<wsdl:message name="requestSetAltriApparati_message">
		<wsdl:part name="part_responseSetAltriApparati" element="inp1:responseSetAltriApparati"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_SIE_APPARATI_SYNC_ptt">
		<wsdl:operation name="execute_getMarcaModello">
			<wsdl:input message="tns:responseGetMarcaModello_message"/>
			<wsdl:output message="tns:requestGetMarcaModello_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getAltriApparati">
			<wsdl:input message="tns:responseGetAltriApparati_message"/>
			<wsdl:output message="tns:requestGetAltriApparati_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_setAltriApparati">
			<wsdl:input message="tns:responseSetAltriApparati_message"/>
			<wsdl:output message="tns:requestSetAltriApparati_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRM_SIE_APPARATI_SYNC_pttSOAP11Binding" type="tns:CRM_SIE_APPARATI_SYNC_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_getMarcaModello">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_APPARATI_SYNC/execute_getMarcaModello" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetMarcaModello" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetMarcaModello" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_getAltriApparati">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_APPARATI_SYNC/execute_getAltriApparati" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetAltriApparati" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetAltriApparati" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_setAltriApparati">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_APPARATI_SYNC/execute_setAltriApparati" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestSetAltriApparati" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseSetAltriApparati" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>