esb_it/repo/WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVO/wsdl/WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSF/SkyXSD_WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVO.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opStampaPreventivoConsuntivo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStampaPreventivoConsuntivoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opStampaPreventivoConsuntivoRequest"> 
  <wsdl:part element="eb:opStampaPreventivoConsuntivo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStampaPreventivoConsuntivoResponse"> 
  <wsdl:part element="eb:opStampaPreventivoConsuntivoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVOSoap"> 
  <wsdl:operation name="opStampaPreventivoConsuntivo"> 
   <wsdl:input message="eb:opStampaPreventivoConsuntivoRequest" name="opStampaPreventivoConsuntivoRequest" /> 
   <wsdl:output message="eb:opStampaPreventivoConsuntivoResponse" name="opStampaPreventivoConsuntivoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVOSoap" type="eb:WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opStampaPreventivoConsuntivo"> 
   <soap:operation soapAction="WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVO/opStampaPreventivoConsuntivo" style="document" /> 
   <wsdl:input name="opStampaPreventivoConsuntivoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opStampaPreventivoConsuntivoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVO"> 
  <wsdl:port binding="eb:WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVOSoap" name="WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVOSoap"> 
   <soap:address location="https://wssvil.skytv.it/wsexistbus/ws_sf_ns/WS_SF_BIP_STAMPA_PREVENTIVO_CONSUNTIVO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>