osb_it/repo/MDWProject/AlignSfByBpel/PS_WS_EJB_ALIGN_MESSAGE/wsdl/MDWProject_AlignSfByBpel_proxy_PS_WS_EJB_ALIGN_MESSAGE.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.alignmessage.mdw.it/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ejb.alignmessage.mdw.it/" name="AlignMessageService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ejb.alignmessage.mdw.it/"
                  schemaLocation="../xsd/XSD_EJB_ALIGN_MESSAGE_ENTITIES.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://mdw.it/data" schemaLocation="../xsd/XSD_EJB_ALIGN_MESSAGE.xsd"/>
    </xsd:schema>
  </types>
      <message name="execute_addMessages">
        <part name="parameters" element="tns:execute_addMessages"/>
    </message>
    <message name="execute_addMessagesResponse">
        <part name="parameters" element="tns:execute_addMessagesResponse"/>
    </message>
    <message name="Exception">
        <part name="fault" element="tns:Exception"/>
    </message>
    <message name="execute_updateError">
        <part name="parameters" element="tns:execute_updateError"/>
    </message>
    <message name="execute_updateErrorResponse">
        <part name="parameters" element="tns:execute_updateErrorResponse"/>
    </message>
    <message name="execute_updateErrorOSB">
        <part name="parameters" element="tns:execute_updateErrorOSB"/>
    </message>
    <message name="execute_updateErrorOSBResponse">
        <part name="parameters" element="tns:execute_updateErrorOSBResponse"/>
    </message>
    <message name="execute_GetAlignMessageMaster">
        <part name="parameters" element="tns:execute_GetAlignMessageMaster"/>
    </message>
    <message name="execute_GetAlignMessageMasterResponse">
        <part name="parameters" element="tns:execute_GetAlignMessageMasterResponse"/>
    </message>
    <message name="execute_test_remove_message">
        <part name="parameters" element="tns:execute_test_remove_message"/>
    </message>
    <message name="execute_test_remove_messageResponse">
        <part name="parameters" element="tns:execute_test_remove_messageResponse"/>
    </message>
    <message name="execute_updateFinal">
        <part name="parameters" element="tns:execute_updateFinal"/>
    </message>
    <message name="execute_updateFinalResponse">
        <part name="parameters" element="tns:execute_updateFinalResponse"/>
    </message>
    <message name="execute_test_remove_message_header">
        <part name="parameters" element="tns:execute_test_remove_message_header"/>
    </message>
    <message name="execute_test_remove_message_headerResponse">
        <part name="parameters" element="tns:execute_test_remove_message_headerResponse"/>
    </message>
    <message name="execute_addNewMessage">
        <part name="parameters" element="tns:execute_addNewMessage"/>
    </message>
    <message name="execute_addNewMessageResponse">
        <part name="parameters" element="tns:execute_addNewMessageResponse"/>
    </message>
    <message name="execute_test_remove_all">
        <part name="parameters" element="tns:execute_test_remove_all"/>
    </message>
    <message name="execute_test_remove_allResponse">
        <part name="parameters" element="tns:execute_test_remove_allResponse"/>
    </message>
    <message name="execute_updateCorrelated">
        <part name="parameters" element="tns:execute_updateCorrelated"/>
    </message>
    <message name="execute_updateCorrelatedResponse">
        <part name="parameters" element="tns:execute_updateCorrelatedResponse"/>
    </message>
    <portType name="AlignMessagePortType">
        <operation name="execute_addMessages">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_addMessagesRequest"
                message="tns:execute_addMessages"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_addMessagesResponse"
                message="tns:execute_addMessagesResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_addMessages/Fault/Exception"
            />
        </operation>
        <operation name="execute_updateError">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateErrorRequest"
                message="tns:execute_updateError"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateErrorResponse"
                message="tns:execute_updateErrorResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateError/Fault/Exception"
            />
        </operation>
        <operation name="execute_updateErrorOSB">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateErrorOSBRequest"
                message="tns:execute_updateErrorOSB"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateErrorOSBResponse"
                message="tns:execute_updateErrorOSBResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateErrorOSB/Fault/Exception"
            />
        </operation>
        <operation name="execute_GetAlignMessageMaster">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_GetAlignMessageMasterRequest"
                message="tns:execute_GetAlignMessageMaster"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_GetAlignMessageMasterResponse"
                message="tns:execute_GetAlignMessageMasterResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_GetAlignMessageMaster/Fault/Exception"
            />
        </operation>
        <operation name="execute_test_remove_message">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_messageRequest"
                message="tns:execute_test_remove_message"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_messageResponse"
                message="tns:execute_test_remove_messageResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_message/Fault/Exception"
            />
        </operation>
        <operation name="execute_updateFinal">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateFinalRequest"
                message="tns:execute_updateFinal"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateFinalResponse"
                message="tns:execute_updateFinalResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateFinal/Fault/Exception"
            />
        </operation>
        <operation name="execute_test_remove_message_header">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_message_headerRequest"
                message="tns:execute_test_remove_message_header"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_message_headerResponse"
                message="tns:execute_test_remove_message_headerResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_message_header/Fault/Exception"
            />
        </operation>
        <operation name="execute_addNewMessage">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_addNewMessageRequest"
                message="tns:execute_addNewMessage"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_addNewMessageResponse"
                message="tns:execute_addNewMessageResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_addNewMessage/Fault/Exception"
            />
        </operation>
        <operation name="execute_test_remove_all">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_allRequest"
                message="tns:execute_test_remove_all"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_allResponse"
                message="tns:execute_test_remove_allResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_test_remove_all/Fault/Exception"
            />
        </operation>
        <operation name="execute_updateCorrelated">
            <input
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateCorrelatedRequest"
                message="tns:execute_updateCorrelated"/>
            <output
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateCorrelatedResponse"
                message="tns:execute_updateCorrelatedResponse"/>
            <fault message="tns:Exception" name="Exception"
                wsam:Action="http://ejb.alignmessage.mdw.it/AlignMessagePortType/execute_updateCorrelated/Fault/Exception"
            />
        </operation>
    </portType>
    <binding name="AlignMessagePortTypePortBinding" type="tns:AlignMessagePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="execute_addMessages">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_updateError">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_updateErrorOSB">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_GetAlignMessageMaster">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_test_remove_message">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_updateFinal">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_test_remove_message_header">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_addNewMessage">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_test_remove_all">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
        <operation name="execute_updateCorrelated">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="Exception">
                <soap:fault name="Exception" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AlignMessageService">
        <port name="AlignMessagePortTypePort" binding="tns:AlignMessagePortTypePortBinding">
            <soap:address location="http://10.207.8.73:18200/AlignMessageEJB/AlignMessageService"/>
        </port>
    </service>
</definitions>