osb_it/repo/BlueBirdProject/SALESFORCE/msoHandler/PS_REST_SF_MSO_HANDLER/wadl/BlueBirdProject_SALESFORCE_msoHandler_proxy_PS_REST_SF_MSO_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_MSO_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/msoHandler/xsd/XSD_SF_MSO_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/msos">
         <method name="GET" soa:wsdlOperation="RetrieveMSO">
            <request>
               <param name="e2eContractId" style="query" soa:expression="$msg.request/ns0:e2eContractId" default="" type="xsd:string"/>
               <param name="contractId" style="query" soa:expression="$msg.request/ns0:contractId" default="" type="xsd:string"/>
               <param name="channel" style="query" soa:expression="$msg.request/ns0:channel" default="" type="xsd:string"/>
               <param name="closed" style="query" soa:expression="$msg.request/ns0:closed" default="" type="xsd:boolean"/>
               <param name="closedRangeHours" style="query" soa:expression="$msg.request/ns0:closedRangeHours" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseRetrieveMSO" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>