esb_it/repo/WS_SETACCINFO/wsdl/WS_SETACCINFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="AGGIORNAEMAIL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_CLIENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="NUOVA_EMAIL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WSC_FLAG" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="AGGIORNAEMAILResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CODICE_RISPOSTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DESCRIZIONE_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="AGGIORNA_FLAGPRIVACY"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_CLIENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="STATISTICHE_DI_MERCATO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMUNICAZIONE_DA_TERZI" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WSC_FLAG" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="AGGIORNA_FLAGPRIVACYResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CODICE_RISPOSTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DESCRIZIONE_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="AGGIORNAEMAILRequest"> 
  <wsdl:part element="eb:AGGIORNAEMAIL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="AGGIORNAEMAILResponse"> 
  <wsdl:part element="eb:AGGIORNAEMAILResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="AGGIORNA_FLAGPRIVACYRequest"> 
  <wsdl:part element="eb:AGGIORNA_FLAGPRIVACY" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="AGGIORNA_FLAGPRIVACYResponse"> 
  <wsdl:part element="eb:AGGIORNA_FLAGPRIVACYResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SETACCINFOSoap"> 
  <wsdl:operation name="AGGIORNAEMAIL"> 
   <wsdl:input message="eb:AGGIORNAEMAILRequest" name="AGGIORNAEMAILRequest" /> 
   <wsdl:output message="eb:AGGIORNAEMAILResponse" name="AGGIORNAEMAILResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="AGGIORNA_FLAGPRIVACY"> 
   <wsdl:input message="eb:AGGIORNA_FLAGPRIVACYRequest" name="AGGIORNA_FLAGPRIVACYRequest" /> 
   <wsdl:output message="eb:AGGIORNA_FLAGPRIVACYResponse" name="AGGIORNA_FLAGPRIVACYResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SETACCINFOSoap" type="eb:WS_SETACCINFOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="AGGIORNAEMAIL"> 
   <soap:operation soapAction="WS_SETACCINFO/AGGIORNAEMAIL" style="document" /> 
   <wsdl:input name="AGGIORNAEMAILRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="AGGIORNAEMAILResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="AGGIORNA_FLAGPRIVACY"> 
   <soap:operation soapAction="WS_SETACCINFO/AGGIORNA_FLAGPRIVACY" style="document" /> 
   <wsdl:input name="AGGIORNA_FLAGPRIVACYRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="AGGIORNA_FLAGPRIVACYResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SETACCINFO"> 
  <wsdl:port binding="eb:WS_SETACCINFOSoap" name="WS_SETACCINFOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SETACCINFO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>