osb_it/repo/BlueBirdProject/KENAN/ratealPlansHandler/PS_REST_KENAN_RATEAL_PLANS_HANDLER/wsdl/BlueBirdProject_KENAN_ratealPlansHandler_proxy_PS_REST_KENAN_RATEAL_PLANS_HANDLER.wsdl

<wsdl:definitions name="PS_REST_KENAN_RATEAL_PLANS_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_RATEAL_PLANS_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_RATEAL_PLANS_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_KENAN_RATEAL_PLANS_HANDLER">
        <plnk:role name="PS_REST_KENAN_RATEAL_PLANS_HANDLERProvider" portType="tns:PS_REST_KENAN_RATEAL_PLANS_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/ratealPlansHandler/xsd/XSD_KENAN_RATEAL_PLANS_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="retrieveRatealPlans_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveRatealPlans"/>
    </wsdl:message>
    <wsdl:message name="retrieveRatealPlans_outputMessage">
        <wsdl:part name="reply" element="inp1:ratealPlanResponse"/>
    </wsdl:message>
    <wsdl:message name="retrieveRatealPlans_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="retrieveRatealPlans_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="retrieveRatealPlans_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="ratealPlanDetails_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveRatealPlanDetails"/>
    </wsdl:message>
    <wsdl:message name="ratealPlanDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:ratealPlanDetailsResponse"/>
    </wsdl:message>
    <wsdl:message name="ratealPlanDetails_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ratealPlanDetails_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ratealPlanDetails_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="updateRatealPlans_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateRatealPlans"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="updateRatealPlans_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="updateRatealPlans_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="updateRatealPlans_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveTotalCosts"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveTotalCosts"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveTotalCosts_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KENAN_RATEAL_PLANS_HANDLER_ptt">
        <wsdl:operation name="retrieveRatealPlans">
            <wsdl:input message="tns:retrieveRatealPlans_inputMessage"/>
            <wsdl:output message="tns:retrieveRatealPlans_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:retrieveRatealPlans_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:retrieveRatealPlans_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:retrieveRatealPlans_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="ratealPlanDetails">
            <wsdl:input message="tns:ratealPlanDetails_inputMessage"/>
            <wsdl:output message="tns:ratealPlanDetails_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:ratealPlanDetails_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:ratealPlanDetails_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:ratealPlanDetails_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="updateRatealPlans">
            <wsdl:input message="tns:updateRatealPlans_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="fault500" message="tns:updateRatealPlans_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:updateRatealPlans_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:updateRatealPlans_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveTotalCosts">
            <wsdl:input message="tns:RetrieveTotalCosts_inputMessage"/>
            <wsdl:output message="tns:RetrieveTotalCosts_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:RetrieveTotalCosts_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:RetrieveTotalCosts_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:RetrieveTotalCosts_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KENAN_RATEAL_PLANS_HANDLER_ptt-binding" type="tns:PS_REST_KENAN_RATEAL_PLANS_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveRatealPlans">
            <soap:operation soapAction="retrieveRatealPlans"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ratealPlanDetails">
            <soap:operation soapAction="ratealPlanDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateRatealPlans">
            <soap:operation soapAction="updateRatealPlans"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetrieveTotalCosts">
            <soap:operation soapAction="RetrieveTotalCosts"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>