esb_it/repo/WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTE/wsdl/WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdAssist/SkyXSD_WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTE.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opRiconoscimentoCliente"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRiconoscimentoClienteResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRiconoscimentoClienteRequest"> 
  <wsdl:part element="eb:opRiconoscimentoCliente" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRiconoscimentoClienteResponse"> 
  <wsdl:part element="eb:opRiconoscimentoClienteResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTESoap"> 
  <wsdl:operation name="opRiconoscimentoCliente"> 
   <wsdl:input message="eb:opRiconoscimentoClienteRequest" name="opRiconoscimentoClienteRequest" /> 
   <wsdl:output message="eb:opRiconoscimentoClienteResponse" name="opRiconoscimentoClienteResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTESoap" type="eb:WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRiconoscimentoCliente"> 
   <soap:operation soapAction="WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTE/opRiconoscimentoCliente" style="document" /> 
   <wsdl:input name="opRiconoscimentoClienteRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRiconoscimentoClienteResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTE"> 
  <wsdl:port binding="eb:WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTESoap" name="WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTESoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_assist/WS_ASSIST_SBL_RICONOSCIMENTO_CLIENTE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>