esb_it/repo/WS_LEGGI_CODICE_UNIVOCO/wsdl/WS_LEGGI_CODICE_UNIVOCO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_LEGGI_CODICE_UNIVOCO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_STANZA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_LEGGI_CODICE_UNIVOCOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CODICE_SMS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_LEGGI_CODICE_UNIVOCORequest"> 
  <wsdl:part element="eb:OP_LEGGI_CODICE_UNIVOCO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_LEGGI_CODICE_UNIVOCOResponse"> 
  <wsdl:part element="eb:OP_LEGGI_CODICE_UNIVOCOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LEGGI_CODICE_UNIVOCOSoap"> 
  <wsdl:operation name="OP_LEGGI_CODICE_UNIVOCO"> 
   <wsdl:input message="eb:OP_LEGGI_CODICE_UNIVOCORequest" name="OP_LEGGI_CODICE_UNIVOCORequest" /> 
   <wsdl:output message="eb:OP_LEGGI_CODICE_UNIVOCOResponse" name="OP_LEGGI_CODICE_UNIVOCOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LEGGI_CODICE_UNIVOCOSoap" type="eb:WS_LEGGI_CODICE_UNIVOCOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_LEGGI_CODICE_UNIVOCO"> 
   <soap:operation soapAction="WS_LEGGI_CODICE_UNIVOCO/OP_LEGGI_CODICE_UNIVOCO" style="document" /> 
   <wsdl:input name="OP_LEGGI_CODICE_UNIVOCORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_LEGGI_CODICE_UNIVOCOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LEGGI_CODICE_UNIVOCO"> 
  <wsdl:port binding="eb:WS_LEGGI_CODICE_UNIVOCOSoap" name="WS_LEGGI_CODICE_UNIVOCOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LEGGI_CODICE_UNIVOCO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>