osb_it/repo/PegasusProject/GestioneTracciamento/PS_PGS_GESTIONE_TRACCIAMENTO/xsd/XSD_PGS_GESTIONE_TRACCIAMENTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestWebMailTracking" type="requestWebMailTrackingType"/>
	<xsd:complexType name="requestWebMailTrackingType">
		<xsd:sequence>
			<xsd:element name="contrId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="custId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="contrFlgCustService" type="xsd:string" minOccurs="1"/>
			<xsd:element name="flgInboundCommunciation" type="xsd:string" minOccurs="1"/>
			<xsd:element name="flgOutboundCommunciation" type="xsd:string" minOccurs="1"/>
			<xsd:element name="serviceCategoryCommunication" type="xsd:string" minOccurs="1"/>
			<xsd:element name="communicationChannel" type="xsd:string" minOccurs="1"/>
			<xsd:element name="dateReceivedMail" type="xsd:string" minOccurs="1"/>
			<xsd:element name="custeMail" type="xsd:string" minOccurs="1"/>
			<xsd:element name="custMobileNumber" type="xsd:string" minOccurs="1"/>
			<xsd:element name="custPhoneNumber" type="xsd:string" minOccurs="1"/>
			<xsd:element name="mailSubject" type="xsd:string" minOccurs="1"/>
			<xsd:element name="mailBody" type="xsd:string" minOccurs="1"/>
			<xsd:element name="contrMarketCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="attachments" type="attachmentsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseWebMailTracking" type="responseWebMailTrackingType"/>
	<xsd:complexType name="responseWebMailTrackingType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="attachmentsType">
		<xsd:sequence>
			<xsd:element name="attachment" type="attachmentType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="attachmentType">
		<xsd:sequence>
			<xsd:element name="attachment_base64" type="xsd:string" minOccurs="0"/>
			<xsd:element name="attachmentFileName" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestDMSTracking" type="requestDMSTrackingType"/>
	<xsd:complexType name="requestDMSTrackingType">
		<xsd:sequence>
			<xsd:element name="contrId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="custId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="flgInboundCommunciation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="serviceCategoryCommunication" type="xsd:string" minOccurs="1"/>
			<xsd:element name="communicationChannel" type="xsd:string" minOccurs="0"/>
			<xsd:element name="docType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idDMSDoc" type="xsd:string" minOccurs="0"/>
			<xsd:element name="custType" type="xsd:string" minOccurs="0"/>
			<xsd:element name="docProvenience" type="xsd:string" minOccurs="0"/>
			<xsd:element name="docAcquisitionDate" type="xsd:string" minOccurs="0"/>
			<xsd:element name="automaticResponse" type="xsd:string" minOccurs="0"/>
			<xsd:element name="currentDate" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="retentionPhone" type="xsd:string" minOccurs="0" maxOccurs="1" />
                        <xsd:element name="churnReason" type="xsd:string" minOccurs="0" maxOccurs="1" />
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseDMSTracking" type="responseDMSTrackingType"/>
	<xsd:complexType name="responseDMSTrackingType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestSMSTracking" type="requestSMSTrackingType"/>
	<xsd:complexType name="requestSMSTrackingType">
		<xsd:sequence>
			<xsd:element name="custId" type="xsd:string" minOccurs="1"/>
			<xsd:element name="contrId" type="xsd:string" minOccurs="0"/>
			<xsd:element name="custPhoneNumber" type="xsd:string" minOccurs="0"/>
			<xsd:element name="login" type="xsd:string" minOccurs="0"/>
			<xsd:element name="inbound" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="action" type="xsd:string" minOccurs="1"/>
						<xsd:element name="channel" type="xsd:string" minOccurs="1"/>
						<xsd:element name="crossReferenceId" type="xsd:string" minOccurs="1"/>
						<xsd:element name="trackingCode" type="xsd:string" minOccurs="1"/>
						<xsd:element name="smsText" type="xsd:string" minOccurs="1"/>
						<xsd:element name="smsStart" type="xsd:string" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="outbound" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="action" type="xsd:string" minOccurs="1"/>
						<xsd:element name="channel" type="xsd:string" minOccurs="1"/>
						<xsd:element name="crossReferenceId" type="xsd:string" minOccurs="1"/>
						<xsd:element name="trackingCode" type="xsd:string" minOccurs="1"/>
						<xsd:element name="smsText" type="xsd:string" minOccurs="1"/>
						<xsd:element name="smsEnd" type="xsd:string" minOccurs="1"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseSMSTracking" type="responseSMSTrackingType"/>
	<xsd:complexType name="responseSMSTrackingType">
		<xsd:sequence>
			<xsd:element name="esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>