osb_it/repo/BlueBirdProject/KENAN/callLogs/PS_REST_KENAN_CALL_LOGS/wadl/BlueBirdProject_KENAN_callLogs_proxy_PS_REST_KENAN_CALL_LOGS.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_KENAN_CALL_LOGS" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/calllogs/xsd/XSD_KENAN_CALL_LOGS.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/calllogratate">
         <method name="GET" soa:wsdlOperation="retrieveCallLogRatate">
            <request>
               <param name="E2EId" style="query" soa:expression="$msg.request/ns0:E2EId" default="" type="xsd:string"/>
               <param name="fromDate" style="query" soa:expression="$msg.request/ns0:fromDate" default="" type="xsd:date"/>
               <param name="toDate" style="query" soa:expression="$msg.request/ns0:toDate" default="" type="xsd:date"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseRetrieveCallLogRatate" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/calllogforinvoice">
         <method name="GET" soa:wsdlOperation="retrieveCallLogForInvoice">
            <request>
               <param name="E2EId" style="query" soa:expression="$msg.request/ns0:E2EId" default="" type="xsd:string"/>
               <param name="invoiceNumber" style="query" soa:expression="$msg.request/ns0:invoiceNumber" default="" type="xsd:string"/>
               <param name="invoiceDate" style="query" soa:expression="$msg.request/ns0:invoiceDate" default="" type="xsd:date"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseRetrieveCallLogForInvoice" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>