esb_it/repo/WS_LOGOUT/wsdl/WS_LOGOUT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="LOGOUT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_LOGIN_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="LOGOUTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="LOGOUTRequest"> 
  <wsdl:part element="eb:LOGOUT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="LOGOUTResponse"> 
  <wsdl:part element="eb:LOGOUTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LOGOUTSoap"> 
  <wsdl:operation name="LOGOUT"> 
   <wsdl:input message="eb:LOGOUTRequest" name="LOGOUTRequest" /> 
   <wsdl:output message="eb:LOGOUTResponse" name="LOGOUTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LOGOUTSoap" type="eb:WS_LOGOUTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="LOGOUT"> 
   <soap:operation soapAction="WS_LOGOUT/LOGOUT" style="document" /> 
   <wsdl:input name="LOGOUTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="LOGOUTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LOGOUT"> 
  <wsdl:port binding="eb:WS_LOGOUTSoap" name="WS_LOGOUTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LOGOUT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>