esb_it/repo/WS_SCMS_EXECUTE_INCSSO/wsdl/WS_SCMS_EXECUTE_INCSSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestINCSSO"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="customerid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="flagreqst" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseINCSSO"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opINCSSO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestINCSSO" type="eb:requestINCSSO" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opINCSSOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseINCSSO" type="eb:responseINCSSO" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opINCSSORequest"> 
  <wsdl:part element="eb:opINCSSO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opINCSSOResponse"> 
  <wsdl:part element="eb:opINCSSOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_INCSSOSoap"> 
  <wsdl:operation name="opINCSSO"> 
   <wsdl:input message="eb:opINCSSORequest" name="opINCSSORequest" /> 
   <wsdl:output message="eb:opINCSSOResponse" name="opINCSSOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_INCSSOSoap" type="eb:WS_SCMS_EXECUTE_INCSSOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opINCSSO"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_INCSSO/opINCSSO" style="document" /> 
   <wsdl:input name="opINCSSORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opINCSSOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_INCSSO"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_INCSSOSoap" name="WS_SCMS_EXECUTE_INCSSOSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_INCSSO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>