osb_it/repo/SalesforceProject/REST/CRM/PROMO/PRODUCT/HANDLER/PS_REST_CRM_PROMO_PRODUCT_HANDLER/wadl/SalesforceProject_REST_CRM_PROMO_PRODUCT_HANDLER_proxy_PS_REST_CRM_PROMO_PRODUCT_HANDLER.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_PROMO_PRODUCT_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
	<doc title="PS_REST_CRM_PROMO_PRODUCT_HANDLER">RestService</doc>
	<grammars>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_PromoProductHandler/xsd/XSD_CRM_PROMO_PRODUCT_HANDLER.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</grammars>
	<resources> 
		<resource path="/getPromoProductAction"> 
			<method name="GET" soa:wsdlOperation="GetPromoProductAction">
				<request>
					<param name="orderIdSF" style="query" soa:expression="$msg.request/ns0:orderIdSF" default="" type="xsd:string"/>
					<param name="productCode" style="query" soa:expression="$msg.request/ns0:productCode" default="" type="xsd:string"/>
					<param name="productId" style="query" soa:expression="$msg.request/ns0:productId" default="" type="xsd:string"/>
					<param name="promoCode" style="query" soa:expression="$msg.request/ns0:promoCode" default="" type="xsd:string"/>
					<param name="promoId" style="query" soa:expression="$msg.request/ns0:promoId" default="" type="xsd:string"/>
					<param name="mdwAction" style="query" soa:expression="$msg.request/ns0:mdwAction" default="" type="xsd:string"/>
					<param name="mdwHasMS" style="query" soa:expression="$msg.request/ns0:mdwHasMS" default="" type="xsd:string"/>
					<param name="mdwTypeMS" style="query" soa:expression="$msg.request/ns0:mdwTypeMS" default="" type="xsd:string"/>
				</request>
				<response status="200">
					<representation mediaType="application/xml" element="cns:responseGetPromoProductAction" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
				<response status="500" soa:wsdlFaultName="error500">
					<representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
				<response status="400" soa:wsdlFaultName="error400">
					<representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
				<response status="404" soa:wsdlFaultName="error404">
					<representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
			</method>
		</resource>
	</resources>
</application>