esb_it/repo/WS_ACS_QRYDEV/wsdl/WS_ACS_QRYDEV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://ws.drmrepl.skyOn.skytv.it/" schemaLocation="xsdACS/SkyXSD_WS_ASC_QRYDEV.xsd" /> 
   <xsd:complexType name="requestQRYDEV" xmlns:acs="http://ws.drmrepl.skyOn.skytv.it/"> 
    <xsd:complexContent> 
     <xsd:extension base="acs:requestQRYDEV" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="responseQRYDEV" xmlns:acs="http://ws.drmrepl.skyOn.skytv.it/"> 
    <xsd:complexContent> 
     <xsd:extension base="acs:requestQRYDEVResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opQRYDEV"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestQRYDEV" type="eb:requestQRYDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opQRYDEVResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseQRYDEV" type="eb:responseQRYDEV" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opQRYDEVRequest"> 
  <wsdl:part element="eb:opQRYDEV" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opQRYDEVResponse"> 
  <wsdl:part element="eb:opQRYDEVResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ACS_QRYDEVSoap"> 
  <wsdl:operation name="opQRYDEV"> 
   <wsdl:input message="eb:opQRYDEVRequest" name="opQRYDEVRequest" /> 
   <wsdl:output message="eb:opQRYDEVResponse" name="opQRYDEVResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ACS_QRYDEVSoap" type="eb:WS_ACS_QRYDEVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opQRYDEV"> 
   <soap:operation soapAction="WS_ACS_QRYDEV/opQRYDEV" style="document" /> 
   <wsdl:input name="opQRYDEVRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opQRYDEVResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ACS_QRYDEV"> 
  <wsdl:port binding="eb:WS_ACS_QRYDEVSoap" name="WS_ACS_QRYDEVSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_ACS_QRYDEV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>