osb_it/repo/SiebelProject/PS_WS_CRM_CHECK/wsdl/SiebelProject_proxy_PS_WS_CRM_CHECK.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_CHECK"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_CHECK"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_CHECK"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_CHECK.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestCompPromoPacchetto_Message">
        <wsdl:part name="part_requestCompPromoPacchetto" element="inp1:requestCompPromoPacchetto"/>
    </wsdl:message>
    <wsdl:message name="responseCompPromoPacchetto_Message">
        <wsdl:part name="part_responseCompPromoPacchetto" element="inp1:responseCompPromoPacchetto"/>
    </wsdl:message>
    <wsdl:portType name="CRM_CHECK_ptt">
        <wsdl:operation name="execute_CompPromoPacchetto">
            <wsdl:input message="tns:requestCompPromoPacchetto_Message"/>
            <wsdl:output message="tns:responseCompPromoPacchetto_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckWIFI">
            <wsdl:input message="tns:requestCheckWIFI_Message"/>
            <wsdl:output message="tns:responseCheckWIFI_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckComulabilita">
            <wsdl:input message="tns:requestCheckComulabilita_Message"/>
            <wsdl:output message="tns:responseCheckComulabilita_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckModalitaDelivery">
            <wsdl:input message="tns:requestCheckModalitaDelivery_Message"/>
            <wsdl:output message="tns:responseCheckModalitaDelivery_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_IsPMS">
            <wsdl:input message="tns:requestIsPMS_Message"/>
            <wsdl:output message="tns:responseIsPMS_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestCheckWIFI_Message">
        <wsdl:part name="part_requestCheckWIFI" element="inp1:requestCheckWIFI"/>
    </wsdl:message>
    <wsdl:message name="responseCheckWIFI_Message">
        <wsdl:part name="part_responseCheckWIFI" element="inp1:responseCheckWIFI"/>
    </wsdl:message>
    <wsdl:binding name="CRM_CHECK_pttSOAP11Binding" type="tns:CRM_CHECK_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_CompPromoPacchetto">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_CHECK/execute_CompPromoPacchetto"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCompPromoPacchetto"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCompPromoPacchetto"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckWIFI">
            <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_CHECK/execute_CheckWIFI"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckWIFI"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckWIFI"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckComulabilita">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_CHECK/execute_CheckComulabilita"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckComulabilita"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckComulabilita"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckModalitaDelivery">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_CHECK/execute_CheckModalitaDelivery"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckModalitaDelivery"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckModalitaDelivery"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_IsPMS">
            <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_CHECK/execute_IsPMS"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestIsPMS"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseIsPMS"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="requestCheckComulabilita_Message">
        <wsdl:part name="part_requestCheckComulabilita" element="inp1:requestCheckComulabilita"/>
    </wsdl:message>
    <wsdl:message name="responseCheckComulabilita_Message">
        <wsdl:part name="part_responseCheckComulabilita" element="inp1:responseCheckComulabilita"/>
    </wsdl:message>
    <wsdl:message name="requestCheckModalitaDelivery_Message">
        <wsdl:part name="part_requestCheckModalitaDelivery" element="inp1:requestCheckModalitaDelivery"/>
    </wsdl:message>
    <wsdl:message name="responseCheckModalitaDelivery_Message">
        <wsdl:part name="part_responseCheckModalitaDelivery" element="inp1:responseCheckModalitaDelivery"/>
    </wsdl:message>
    <wsdl:message name="requestIsPMS_Message">
        <wsdl:part name="part_requestIsPMS" element="inp1:requestIsPMS"/>
    </wsdl:message>
    <wsdl:message name="responseIsPMS_Message">
        <wsdl:part name="part_responseIsPMS" element="inp1:responseIsPMS"/>
    </wsdl:message>
</wsdl:definitions>