osb_it/repo/SiebelProject/GestioneOrdiniLogistica/PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA/wadl/SiebelProject_GestioneOrdiniLogistica_proxy_PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/SiebelProject/PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_SIE_GESTIONE_ORDINI_LOGISTICA">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SiebelProject/GestioneOrdiniLogistica/xsd/XSD_SBL_GESTIONE_ORDINI_LOGISTICA.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/rest/faults" schemaLocation="../../MDW_CDM/EnterpriseServices/SiebelProject/GestioneOrdiniLogistica/xsd/XSD_FAULTS.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/creazione">
         <method name="POST" soa:wsdlOperation="CreazioneOrdine">
            <request>
               <representation mediaType="application/json" element="cns:richiestaCreazioneOrdine" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseCreazioneOrdine" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/esiti">
         <method name="GET" soa:wsdlOperation="EsitoOrdini">
            <request>
               <param name="idRichiesta" style="query" soa:expression="$msg.request/ns0:idRichiesta" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseEsitoOrdini" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/tracking">
         <method name="GET" soa:wsdlOperation="TrackingOrdine">
            <request>
               <param name="idRichiesta" style="query" soa:expression="$msg.request/ns0:idRichiesta" default="" type="xsd:string"/>
               <param name="orderNumber" style="query" soa:expression="$msg.request/ns0:orderNumber" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseTrackingOrdine" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/ackEsitoOrdini">
         <method name="PUT" soa:wsdlOperation="ackEsitoOrdini">
            <request>
               <representation mediaType="application/json" element="cns:requestAckEsitoOrdini" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseAckEsitoOrdini" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>