osb_it/repo/BlueBirdProject/DB/CRM/numberPortability/PS_WS_MDW_NUMBER_PORTABILITY/wsdl/BlueBirdProject_DB_CRM_numberPortability_proxy_PS_WS_MDW_NUMBER_PORTABILITY.wsdl

<wsdl:definitions name="WS_MDW_NUMBER_PORTABILITY" targetNamespace="http://www.skytv.it/mdw/service/MDW_NUMBER_PORTABILITY" xmlns:tns="http://www.skytv.it/mdw/service/MDW_NUMBER_PORTABILITY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MDW_NUMBER_PORTABILITY.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestVerifyNumberPortability" element="inp1:requestVerifyNumberPortability"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseVerifyNumberPortabilitySoap" element="inp1:responseVerifyNumberPortabilitySoap"/>
  </wsdl:message>

    <wsdl:message name="requestMessage_GetPrefix">
        <wsdl:part name="part_requestGetPrefixNumber" element="inp1:requestGetPrefixNumber"/>
    </wsdl:message>
    <wsdl:message name="replyMessage_GetPrefix">
        <wsdl:part name="part_responseGetPrefixNumberSoap" element="inp1:responseGetPrefixNumberSoap"/>
  </wsdl:message>

      <wsdl:message name="header_message">
              <wsdl:part name="part_header" element="inp1:Header"/>
      </wsdl:message>
    <wsdl:portType name="MDW_NUMBER_PORTABILITY_ptt">
        <wsdl:operation name="execute_VerifyNumberPortability">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetPrefixNumber">
            <wsdl:input message="tns:requestMessage_GetPrefix"/>
            <wsdl:output message="tns:replyMessage_GetPrefix"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="MDW_NUMBER_PORTABILITY_pttSOAP11Binding" type="tns:MDW_NUMBER_PORTABILITY_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_VerifyNumberPortability">
            <soap:operation style="document" soapAction="execute_VerifyNumberPortability"/>
            <wsdl:input>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
                <soap:body use="literal" parts="part_requestVerifyNumberPortability"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
                <soap:body use="literal" parts="part_responseVerifyNumberPortabilitySoap"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetPrefixNumber">
            <soap:operation style="document" soapAction="execute_GetPrefixNumber"/>
            <wsdl:input>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
                <soap:body use="literal" parts="part_requestGetPrefixNumber"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
                <soap:body use="literal" parts="part_responseGetPrefixNumberSoap"/>
            </wsdl:output>
        </wsdl:operation>        
    </wsdl:binding>
</wsdl:definitions>