esb_it/repo/WS_HTL_APPLICA_CANALI_DEFAULT_TEST/wsdl/WS_HTL_APPLICA_CANALI_DEFAULT_TEST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opApplicaCanaliDefault"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TECNOLOGIA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opApplicaCanaliDefaultResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opApplicaCanaliDefaultRequest"> 
  <wsdl:part element="eb:opApplicaCanaliDefault" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opApplicaCanaliDefaultResponse"> 
  <wsdl:part element="eb:opApplicaCanaliDefaultResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_APPLICA_CANALI_DEFAULT_TESTSoap"> 
  <wsdl:operation name="opApplicaCanaliDefault"> 
   <wsdl:input message="eb:opApplicaCanaliDefaultRequest" name="opApplicaCanaliDefaultRequest" /> 
   <wsdl:output message="eb:opApplicaCanaliDefaultResponse" name="opApplicaCanaliDefaultResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_APPLICA_CANALI_DEFAULT_TESTSoap" type="eb:WS_HTL_APPLICA_CANALI_DEFAULT_TESTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opApplicaCanaliDefault"> 
   <soap:operation soapAction="WS_HTL_APPLICA_CANALI_DEFAULT_TEST/opApplicaCanaliDefault" style="document" /> 
   <wsdl:input name="opApplicaCanaliDefaultRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opApplicaCanaliDefaultResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_APPLICA_CANALI_DEFAULT_TEST"> 
  <wsdl:port binding="eb:WS_HTL_APPLICA_CANALI_DEFAULT_TESTSoap" name="WS_HTL_APPLICA_CANALI_DEFAULT_TESTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_APPLICA_CANALI_DEFAULT_TEST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>