osb_it/repo/SiebelProject/PS_WS_CRM_SBL_CAIF_COMMAND/wsdl/SiebelProject_proxy_PS_WS_CRM_SBL_CAIF_COMMAND.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SBL_CAIF_COMMAND" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SBL_CAIF_COMMAND" targetNamespace="http://www.skytv.it/mdw/service/CRM_SBL_CAIF_COMMAND">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SBL_CAIF_COMMAND.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="header_Message">
		<wsdl:part name="part_Header" element="inp1:Header"/>
	</wsdl:message>
	
	<wsdl:message name="requestGetSTB_Message">
		<wsdl:part name="part_requestGetSTB" element="inp1:requestGetSTB"/>
	</wsdl:message>
	<wsdl:message name="responseGetSTB_Message">
		<wsdl:part name="part_responseGetSTB" element="inp1:responseGetSTB"/>
	</wsdl:message>
	<wsdl:message name="requestInvioComandi_Message">
		<wsdl:part name="part_requestInvioComandi" element="inp1:requestInvioComandi"/>
	</wsdl:message>
	<wsdl:message name="responseInvioComandi_Message">
		<wsdl:part name="part_responseInvioComandi" element="inp1:responseInvioComandi"/>
	</wsdl:message>
	
	<wsdl:portType name="CRM_SBL_CAIF_COMMAND_ptt">
		<wsdl:operation name="execute_GetSTB">
			<wsdl:input message="tns:requestGetSTB_Message"/>
			<wsdl:output message="tns:responseGetSTB_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_InvioComandi">
			<wsdl:input message="tns:requestInvioComandi_Message"/>
			<wsdl:output message="tns:responseInvioComandi_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRM_SBL_CAIF_COMMAND_pttSOAP11Binding" type="tns:CRM_SBL_CAIF_COMMAND_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_GetSTB">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SBL_CAIF_COMMAND/execute_GetSTB" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetSTB" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetSTB" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="execute_InvioComandi">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SBL_CAIF_COMMAND/execute_InvioComandi" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestInvioComandi" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseInvioComandi" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>