esb_it/repo/WS_SALVA_EVENTI/wsdl/WS_SALVA_EVENTI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_UTENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_CODICE_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_CODICE_STANZA" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_REF_ID" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DATA_TRASM" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_STATO_HOTEL" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_SALVA_EVENTI"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_SALVA_EVENTIResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_SALVA_EVENTIRequest"> 
  <wsdl:part element="eb:OP_SALVA_EVENTI" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_SALVA_EVENTIResponse"> 
  <wsdl:part element="eb:OP_SALVA_EVENTIResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SALVA_EVENTISoap"> 
  <wsdl:operation name="OP_SALVA_EVENTI"> 
   <wsdl:input message="eb:OP_SALVA_EVENTIRequest" name="OP_SALVA_EVENTIRequest" /> 
   <wsdl:output message="eb:OP_SALVA_EVENTIResponse" name="OP_SALVA_EVENTIResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SALVA_EVENTISoap" type="eb:WS_SALVA_EVENTISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_SALVA_EVENTI"> 
   <soap:operation soapAction="WS_SALVA_EVENTI/OP_SALVA_EVENTI" style="document" /> 
   <wsdl:input name="OP_SALVA_EVENTIRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_SALVA_EVENTIResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SALVA_EVENTI"> 
  <wsdl:port binding="eb:WS_SALVA_EVENTISoap" name="WS_SALVA_EVENTISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SALVA_EVENTI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>