osb_it/repo/SalesforceProject/REST/CRM/EXTRA/ENROLL/PS_REST_CRM_EXTRA_ENROLL/wsdl/SalesforceProject_REST_CRM_EXTRA_ENROLL_proxy_PS_REST_CRM_EXTRA_ENROLL.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_EXTRA_ENROLL"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY_12_1/SalesforceProject/PS_REST_CRM_EXTRA_ENROLL"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1/SalesforceProject/PS_REST_CRM_EXTRA_ENROLL"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_EXTRA_ENROLL">
        <plnk:role name="PS_REST_CRM_EXTRA_ENROLLProvider" portType="tns:PS_REST_CRM_EXTRA_ENROLL_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_ExtraEnroll/xsd/XSD_CRM_EXTRA_ENROLL.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ExtraEnroll_CHECK_inputMessage">
        <wsdl:part name="request" element="inp1:requestExtraEnroll_CHECK"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_CHECK_outputMessage">
        <wsdl:part name="reply" element="inp1:responseExtraEnroll_CHECK"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_CHECK_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_CHECK_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_CHECK_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_IN_inputMessage">
        <wsdl:part name="request" element="inp1:requestExtraEnroll_IN"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="ExtraEnroll_IN_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_IN_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_IN_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_OUT_inputMessage">
        <wsdl:part name="request" element="inp1:requestExtraEnroll_OUT"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_OUT_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_OUT_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ExtraEnroll_OUT_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_EXTRA_ENROLL_ptt">
        <wsdl:operation name="ExtraEnroll_CHECK">
            <wsdl:input message="tns:ExtraEnroll_CHECK_inputMessage"/>
            <wsdl:output message="tns:ExtraEnroll_CHECK_outputMessage"/>
            <wsdl:fault name="error404" message="tns:ExtraEnroll_CHECK_error404Message"/>
            <wsdl:fault name="error400" message="tns:ExtraEnroll_CHECK_error400Message"/>
            <wsdl:fault name="error500" message="tns:ExtraEnroll_CHECK_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="ExtraEnroll_IN">
            <wsdl:input message="tns:ExtraEnroll_IN_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:ExtraEnroll_IN_error404Message"/>
            <wsdl:fault name="error400" message="tns:ExtraEnroll_IN_error400Message"/>
            <wsdl:fault name="error500" message="tns:ExtraEnroll_IN_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="ExtraEnroll_OUT">
            <wsdl:input message="tns:ExtraEnroll_OUT_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:ExtraEnroll_OUT_error404Message"/>
            <wsdl:fault name="error400" message="tns:ExtraEnroll_OUT_error400Message"/>
            <wsdl:fault name="error500" message="tns:ExtraEnroll_OUT_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_EXTRA_ENROLL_ptt-binding" type="tns:PS_REST_CRM_EXTRA_ENROLL_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ExtraEnroll_CHECK">
            <soap:operation soapAction="ExtraEnroll_CHECK"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExtraEnroll_IN">
            <soap:operation soapAction="ExtraEnroll_IN"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ExtraEnroll_OUT">
            <soap:operation soapAction="ExtraEnroll_OUT"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>