esb_it/repo/WS_WSC_LEGGI_CATALOGO/wsdl/WS_WSC_LEGGI_CATALOGO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WSC_LEGGI_CATALOGO.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opLeggiCatalogo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLeggiCatalogoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLeggiCatalogoRequest"> 
  <wsdl:part element="eb:opLeggiCatalogo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLeggiCatalogoResponse"> 
  <wsdl:part element="eb:opLeggiCatalogoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC_LEGGI_CATALOGOSoap"> 
  <wsdl:operation name="opLeggiCatalogo"> 
   <wsdl:input message="eb:opLeggiCatalogoRequest" name="opLeggiCatalogoRequest" /> 
   <wsdl:output message="eb:opLeggiCatalogoResponse" name="opLeggiCatalogoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC_LEGGI_CATALOGOSoap" type="eb:WS_WSC_LEGGI_CATALOGOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLeggiCatalogo"> 
   <soap:operation soapAction="WS_WSC_LEGGI_CATALOGO/opLeggiCatalogo" style="document" /> 
   <wsdl:input name="opLeggiCatalogoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLeggiCatalogoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC_LEGGI_CATALOGO"> 
  <wsdl:port binding="eb:WS_WSC_LEGGI_CATALOGOSoap" name="WS_WSC_LEGGI_CATALOGOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC_LEGGI_CATALOGO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>