esb_it/repo/WS_AW_SSO_RESET_DEVICE/wsdl/WS_AW_SSO_RESET_DEVICE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://inBound.ws.skyOn.skytv.it/" schemaLocation="ResetDevice1.xsd" /> 
   <xsd:complexType name="resetDevice" xmlns:sso="http://inBound.ws.skyOn.skytv.it/"> 
    <xsd:complexContent> 
     <xsd:extension base="sso:resetDevice" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="resetDeviceResponse" xmlns:sso="http://inBound.ws.skyOn.skytv.it/"> 
    <xsd:complexContent> 
     <xsd:extension base="sso:resetDeviceResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opResetDevice"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="resetDeviceRequest" type="eb:resetDevice" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opResetDeviceResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="resetDeviceResponse" type="eb:resetDeviceResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opResetDeviceRequest"> 
  <wsdl:part element="eb:opResetDevice" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opResetDeviceResponse"> 
  <wsdl:part element="eb:opResetDeviceResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AW_SSO_RESET_DEVICESoap"> 
  <wsdl:operation name="opResetDevice"> 
   <wsdl:input message="eb:opResetDeviceRequest" name="opResetDeviceRequest" /> 
   <wsdl:output message="eb:opResetDeviceResponse" name="opResetDeviceResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AW_SSO_RESET_DEVICESoap" type="eb:WS_AW_SSO_RESET_DEVICESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opResetDevice"> 
   <soap:operation soapAction="WS_AW_SSO_RESET_DEVICE/opResetDevice" style="document" /> 
   <wsdl:input name="opResetDeviceRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opResetDeviceResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AW_SSO_RESET_DEVICE"> 
  <wsdl:port binding="eb:WS_AW_SSO_RESET_DEVICESoap" name="WS_AW_SSO_RESET_DEVICESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AW_SSO_RESET_DEVICE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>