esb_it/repo/WSIbmsSfCustomerNotification/xsd/SkyXSD_WS_IBMS_CustomerNotification.xsd

<xsd:schema elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/schemas/class/WS_IBMS_CustomerNotification" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://soap.sforce.com/schemas/class/WS_IBMS_CustomerNotification"> 
 <xsd:element name="DebuggingInfo"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="debugLog" type="xsd:string" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:simpleType name="ID"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:length value="18" /> 
   <xsd:pattern value="[a-zA-Z0-9]{18}" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="LogCategory"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="Db" /> 
   <xsd:enumeration value="Workflow" /> 
   <xsd:enumeration value="Validation" /> 
   <xsd:enumeration value="Callout" /> 
   <xsd:enumeration value="Apex_code" /> 
   <xsd:enumeration value="Apex_profiling" /> 
   <xsd:enumeration value="Visualforce" /> 
   <xsd:enumeration value="System" /> 
   <xsd:enumeration value="All" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:simpleType name="LogCategoryLevel"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="Internal" /> 
   <xsd:enumeration value="Finest" /> 
   <xsd:enumeration value="Finer" /> 
   <xsd:enumeration value="Fine" /> 
   <xsd:enumeration value="Debug" /> 
   <xsd:enumeration value="Info" /> 
   <xsd:enumeration value="Warn" /> 
   <xsd:enumeration value="Error" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:complexType name="LogInfo"> 
  <xsd:sequence> 
   <xsd:element name="category" type="tns:LogCategory" /> 
   <xsd:element name="level" type="tns:LogCategoryLevel" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:simpleType name="LogType"> 
  <xsd:restriction base="xsd:string"> 
   <xsd:enumeration value="None" /> 
   <xsd:enumeration value="Debugonly" /> 
   <xsd:enumeration value="Db" /> 
   <xsd:enumeration value="Profiling" /> 
   <xsd:enumeration value="Callout" /> 
   <xsd:enumeration value="Detail" /> 
  </xsd:restriction> 
 </xsd:simpleType> 
 <xsd:element name="DebuggingHeader"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="categories" minOccurs="0" maxOccurs="unbounded" type="tns:LogInfo" /> 
    <xsd:element name="debugLevel" type="tns:LogType" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:element name="CallOptions"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="client" type="xsd:string" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:element name="SessionHeader"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="sessionId" type="xsd:string" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:element name="AllowFieldTruncationHeader"> 
  <xsd:complexType> 
   <xsd:sequence> 
    <xsd:element name="allowFieldTruncation" type="xsd:boolean" /> 
   </xsd:sequence> 
  </xsd:complexType> 
 </xsd:element> 
 <xsd:complexType name="ArrayOfProperty"> 
  <xsd:sequence> 
   <xsd:element name="property" minOccurs="0" maxOccurs="unbounded" type="tns:Property" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="CustomerStatusChangeEvent"> 
  <xsd:sequence> 
   <xsd:element name="customerID" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="customerName" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="eventTime" minOccurs="0" type="xsd:dateTime" nillable="true" /> 
   <xsd:element name="newStatus" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="oldStatus" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="properties" minOccurs="0" type="tns:ArrayOfProperty" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="HandleCustomerStatusChangeEventEx"> 
  <xsd:sequence> 
   <xsd:element name="code" minOccurs="0" type="xsd:int" nillable="true" /> 
   <xsd:element name="message" minOccurs="0" type="xsd:string" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="HandleCustomerStatusChangeEventRequest"> 
  <xsd:sequence> 
   <xsd:element name="header" minOccurs="0" type="tns:MessageHeader" nillable="true" /> 
   <xsd:element name="event" minOccurs="0" type="tns:CustomerStatusChangeEvent" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="HandleCustomerStatusChangeEventResponse"> 
  <xsd:sequence> 
   <xsd:element name="header" minOccurs="0" type="tns:MessageHeader" nillable="true" /> 
   <xsd:element name="success" minOccurs="0" type="xsd:boolean" nillable="true" /> 
   <xsd:element name="exElement" minOccurs="0" type="tns:HandleCustomerStatusChangeEventEx" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="MessageHeader"> 
  <xsd:sequence> 
   <xsd:element name="correlationID" minOccurs="0" type="xsd:int" nillable="true" /> 
   <xsd:element name="timestamp" minOccurs="0" type="xsd:dateTime" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="Property"> 
  <xsd:sequence> 
   <xsd:element name="name" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="value" minOccurs="0" type="xsd:string" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="handleCustomerStatusChangeEvent"> 
  <xsd:sequence> 
   <xsd:element name="handleCustomerStatusChangeEventRequest" type="tns:HandleCustomerStatusChangeEventRequest" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="handleCustomerStatusChangeEventResponse"> 
  <xsd:sequence> 
   <xsd:element name="result" type="tns:HandleCustomerStatusChangeEventResponse" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
</xsd:schema>