osb_it/repo/BlueBirdProject/SALESFORCE/customerOperations/PS_REST_SF_CUSTOMER_OPERATIONS/wsdl/BlueBirdProject_SALESFORCE_customerOperations_proxy_PS_REST_SF_CUSTOMER_OPERATIONS.wsdl

<wsdl:definitions name="PS_REST_SF_CUSTOMER_OPERATIONS" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_CUSTOMER_OPERATIONS" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_CUSTOMER_OPERATIONS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_CUSTOMER_OPERATIONS">
        <plnk:role name="PS_REST_SF_CUSTOMER_OPERATIONSProvider" portType="tns:PS_REST_SF_CUSTOMER_OPERATIONS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/customerOperations/xsd/XSD_SF_CUSTOMER_OPERATIONS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="setPhoneForInstallation_inputMessage">
        <wsdl:part name="request" element="inp1:requestSetPhoneForInstallation"/>
    </wsdl:message>
    <wsdl:message name="setPhoneForInstallation_outputMessage">
        <wsdl:part name="reply" element="inp1:responseSetPhoneForInstallation"/>
    </wsdl:message>
    <wsdl:message name="setPhoneForInstallation_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="setPhoneForInstallation_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="setPhoneForInstallation_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_CUSTOMER_OPERATIONS_ptt">
        <wsdl:operation name="setPhoneForInstallation">
            <wsdl:input message="tns:setPhoneForInstallation_inputMessage"/>
            <wsdl:output message="tns:setPhoneForInstallation_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:setPhoneForInstallation_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:setPhoneForInstallation_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:setPhoneForInstallation_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_CUSTOMER_OPERATIONS_ptt-binding" type="tns:PS_REST_SF_CUSTOMER_OPERATIONS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="setPhoneForInstallation">
            <soap:operation soapAction="setPhoneForInstallation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>