esb_it/repo/WS_LS_SAP_EVASIONI_CW_TO_EAE/wsdl/WS_LS_SAP_EVASIONI_CW_TO_EAE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_SPEDIZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SLOT_ORARIO_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLUSSO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MAGAZZINO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CW_ID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdine" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_TIPO_LETTERA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_NUMERO_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_COMMITTENTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DESTINATARIO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAUSALE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DATA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_PRIORITA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DDT" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_DATA_DDT" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_LETTERA_VETTURA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_FLG_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="LS_DETTAGLIO_ORDINE_FML32" type="eb:FMLComplexDettaglioOrdine" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDettaglioOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_RIGA_CONSEGNA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_NOME_PRODOTTO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_QUANTITA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_UNITA_MISURA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_SAP" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAUSALE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opEvasioniCwToEae"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEvasioniCwToEaeResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opEvasioniCwToEaeRequest"> 
  <wsdl:part element="eb:opEvasioniCwToEae" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEvasioniCwToEaeResponse"> 
  <wsdl:part element="eb:opEvasioniCwToEaeResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_SAP_EVASIONI_CW_TO_EAESoap"> 
  <wsdl:operation name="opEvasioniCwToEae"> 
   <wsdl:input message="eb:opEvasioniCwToEaeRequest" name="opEvasioniCwToEaeRequest" /> 
   <wsdl:output message="eb:opEvasioniCwToEaeResponse" name="opEvasioniCwToEaeResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_SAP_EVASIONI_CW_TO_EAESoap" type="eb:WS_LS_SAP_EVASIONI_CW_TO_EAESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opEvasioniCwToEae"> 
   <soap:operation soapAction="WS_LS_SAP_EVASIONI_CW_TO_EAE/opEvasioniCwToEae" style="document" /> 
   <wsdl:input name="opEvasioniCwToEaeRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opEvasioniCwToEaeResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_SAP_EVASIONI_CW_TO_EAE"> 
  <wsdl:port binding="eb:WS_LS_SAP_EVASIONI_CW_TO_EAESoap" name="WS_LS_SAP_EVASIONI_CW_TO_EAESoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_magazzino/WS_LS_SAP_EVASIONI_CW_TO_EAE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>