esb_it/repo/WS_LS_RICHIESTE_RITIRO_EAE_TO_CW/wsdl/WS_LS_RICHIESTE_RITIRO_EAE_TO_CW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PROVENIENZA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" minOccurs="0" name="LS_ORDINE_FML32" type="eb:FMLComplexOrdine" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_NUMERO_ORDINE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TIPO_ORDINE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CODICE_DEALER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DDT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_NUMERO_COLLI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_APPUNTAMENTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CODICE_SIGILLO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATI_CONTRATTO_FML32" type="eb:FMLComplexDatiContratto" /> 
     <xsd:element maxOccurs="3" name="LS_DATI_CLIENTE_FML32" type="eb:FMLComplexDatiCliente" /> 
     <xsd:element maxOccurs="100" name="LS_DETTAGLIO_ORDINE_FML32" type="eb:FMLComplexDettaglioOrdine" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDatiContratto"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="LS_ACCOUNT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SKY_Q_BLACK_FLG" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MOD_TRACKING" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDatiCliente"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="LS_NOME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_COGNOME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TELEFONO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_INDIRIZZO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CAP" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CITTA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PROVINCIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_REGIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_CITOFONO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_RAGIONE_SOCIALE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_EMAIL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SEGMENTO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_COMPLESSO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_SCALA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PIANO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_INTERNO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDettaglioOrdine"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MATRICOLA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PRODOTTO_LOGISTICO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAUSALE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_DATA_GARANZIA_CAT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_QUANTITA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_PART_NUM" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:element name="opRichiesteRitiroEaeToCw"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_FLUSSO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_MAGAZZINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_CW_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRichiesteRitiroEaeToCwResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRichiesteRitiroEaeToCwRequest"> 
  <wsdl:part element="eb:opRichiesteRitiroEaeToCw" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRichiesteRitiroEaeToCwResponse"> 
  <wsdl:part element="eb:opRichiesteRitiroEaeToCwResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_RICHIESTE_RITIRO_EAE_TO_CWSoap"> 
  <wsdl:operation name="opRichiesteRitiroEaeToCw"> 
   <wsdl:input message="eb:opRichiesteRitiroEaeToCwRequest" name="opRichiesteRitiroEaeToCwRequest" /> 
   <wsdl:output message="eb:opRichiesteRitiroEaeToCwResponse" name="opRichiesteRitiroEaeToCwResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_RICHIESTE_RITIRO_EAE_TO_CWSoap" type="eb:WS_LS_RICHIESTE_RITIRO_EAE_TO_CWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRichiesteRitiroEaeToCw"> 
   <soap:operation soapAction="WS_LS_RICHIESTE_RITIRO_EAE_TO_CW/opRichiesteRitiroEaeToCw" style="document" /> 
   <wsdl:input name="opRichiesteRitiroEaeToCwRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRichiesteRitiroEaeToCwResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_RICHIESTE_RITIRO_EAE_TO_CW"> 
  <wsdl:port binding="eb:WS_LS_RICHIESTE_RITIRO_EAE_TO_CWSoap" name="WS_LS_RICHIESTE_RITIRO_EAE_TO_CWSoap"> 
   <soap:address location="http://wscolam.sky.it:9100/wsexistbus/ws_magazzino/WS_LS_RICHIESTE_RITIRO_EAE_TO_CW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>