osb_it/repo/UtilsProject/testMario/mutual/WS_TEST_MUTUAL_AGENDA_MGMT_TOOL/xsd/XSD_FAKE.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  
  <xsd:element name="request" type="complexElement" />
  <xsd:element name="response" type="complexElement" />
  
  <xsd:complexType name="complexElement">
    <xsd:sequence>
      <xsd:any minOccurs="0" />
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>