osb_it/repo/BlueBirdProject/DB/CRM/migrationCodeFW/PS_REST_MDW_MIGRATION_CODE/wsdl/BlueBirdProject_DB_CRM_migrationCodeFW_proxy_PS_REST_MDW_MIGRATION_CODE.wsdl

<wsdl:definitions name="PS_REST_MDW_SF_MIGRATION_CODE" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_SF_MIGRATION_CODE" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_SF_MIGRATION_CODE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_MDW_SF_MIGRATION_CODE">
        <plnk:role name="PS_REST_MDW_SF_MIGRATION_CODEProvider" portType="tns:PS_REST_MDW_SF_MIGRATION_CODE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DB_CRM/migrationCodeFW/xsd/XSD_MDW_SF_MIGRATION_CODE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="verifyMigrationCode_inputMessage">
        <wsdl:part name="request" element="inp1:requestVerifyMigrationCode"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_outputMessage">
        <wsdl:part name="reply" element="inp1:responseVerifyMigrationCode"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="verifyMigrationCode_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_SF_MIGRATION_CODE_ptt">
        <wsdl:operation name="verifyMigrationCode">
            <wsdl:input message="tns:verifyMigrationCode_inputMessage"/>
            <wsdl:output message="tns:verifyMigrationCode_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:verifyMigrationCode_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:verifyMigrationCode_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:verifyMigrationCode_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_SF_MIGRATION_CODE_ptt-binding" type="tns:PS_REST_MDW_SF_MIGRATION_CODE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verifyMigrationCode">
            <soap:operation soapAction="verifyMigrationCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>