esb_it/repo/WS_HTL_LEGGI_ELENCO_HOTEL_IKUSI/wsdl/WS_HTL_LEGGI_ELENCO_HOTEL_IKUSI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="WS_TID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_ROOT_FML32" type="eb:FMLComplexRoot" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexRoot"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DENOMINAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_BILLING_ACCOUNT" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_FLAG_MASTER" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_NOME_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_MOP_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_OUTPUT_BUFFER" type="eb:FMLComplexIkusiDescription" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexIkusiDescription"> 
    <xsd:sequence> 
     <xsd:element name="CA_BLOCCO_CANALI" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_AGG_AUTO_CANALI" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_TIPOLOGIA_HARDWARE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_TECNOLOGIA" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_NUMERO_MODULI" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_TIPO_DEFAULT" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_CODICE_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_RATE_CODE_PKT" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OpLeggiElencoHotelIkusi"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TECNOLOGIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="HTL_FLAG_MASTER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="HTL_NUMERO_MODULI" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CODICE_LISTINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_RATE_CODE_PKT" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpLeggiElencoHotelIkusiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LEGGI_ELENCO_HOTEL_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpLeggiElencoHotelIkusiRequest"> 
  <wsdl:part element="eb:OpLeggiElencoHotelIkusi" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpLeggiElencoHotelIkusiResponse"> 
  <wsdl:part element="eb:OpLeggiElencoHotelIkusiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_LEGGI_ELENCO_HOTEL_IKUSISoap"> 
  <wsdl:operation name="OpLeggiElencoHotelIkusi"> 
   <wsdl:input message="eb:OpLeggiElencoHotelIkusiRequest" name="OpLeggiElencoHotelIkusiRequest" /> 
   <wsdl:output message="eb:OpLeggiElencoHotelIkusiResponse" name="OpLeggiElencoHotelIkusiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_LEGGI_ELENCO_HOTEL_IKUSISoap" type="eb:WS_HTL_LEGGI_ELENCO_HOTEL_IKUSISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpLeggiElencoHotelIkusi"> 
   <soap:operation soapAction="WS_HTL_LEGGI_ELENCO_HOTEL_IKUSI/OpLeggiElencoHotelIkusi" style="document" /> 
   <wsdl:input name="OpLeggiElencoHotelIkusiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpLeggiElencoHotelIkusiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_LEGGI_ELENCO_HOTEL_IKUSI"> 
  <wsdl:port binding="eb:WS_HTL_LEGGI_ELENCO_HOTEL_IKUSISoap" name="WS_HTL_LEGGI_ELENCO_HOTEL_IKUSISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_LEGGI_ELENCO_HOTEL_IKUSI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>