esb_it/repo/WS_LeggiAttivaz/wsdl/WS_LeggiAttivaz.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_REF_ID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_INIZIO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_FINE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_STATO_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_COSTO_EVENTO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="LeggiAttivaz"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_STANZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_TRANSAZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="LeggiAttivazResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="LeggiAttivazRequest"> 
  <wsdl:part element="eb:LeggiAttivaz" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="LeggiAttivazResponse"> 
  <wsdl:part element="eb:LeggiAttivazResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LeggiAttivazSoap"> 
  <wsdl:operation name="LeggiAttivaz"> 
   <wsdl:input message="eb:LeggiAttivazRequest" name="LeggiAttivazRequest" /> 
   <wsdl:output message="eb:LeggiAttivazResponse" name="LeggiAttivazResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LeggiAttivazSoap" type="eb:WS_LeggiAttivazSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="LeggiAttivaz"> 
   <soap:operation soapAction="WS_LeggiAttivaz/LeggiAttivaz" style="document" /> 
   <wsdl:input name="LeggiAttivazRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="LeggiAttivazResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LeggiAttivaz"> 
  <wsdl:port binding="eb:WS_LeggiAttivazSoap" name="WS_LeggiAttivazSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LeggiAttivaz" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>