esb_it/repo/WS_SF_IN_BB_GET_FORM_CALLBACK/wsdl/WS_SF_IN_BB_GET_FORM_CALLBACK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentDataOUT"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="COMPLEX_INPUT" type="eb:Payload" /> 
     <xsd:element name="ErrorCode" type="xsd:string" /> 
     <xsd:element name="ErrorMessage" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Payload"> 
    <xsd:sequence> 
     <xsd:element name="FWTransactionData" type="eb:FWTransactionData" /> 
     <xsd:element name="IdPDA"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="SessionToken"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="255" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="CarrelloFW" type="eb:CarrelloFW" /> 
     <xsd:element minOccurs="0" name="CodiceTecnologia"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:enumeration value="F1R" /> 
        <xsd:enumeration value="F2R" /> 
        <xsd:enumeration value="DSR" /> 
        <xsd:enumeration value="D2R" /> 
        <xsd:enumeration value="WHR" /> 
        <xsd:enumeration value="W2R" /> 
        <xsd:enumeration value="V1R" /> 
        <xsd:enumeration value="Y1R" /> 
        <xsd:enumeration value="XSR" /> 
        <xsd:enumeration value="X2R" /> 
        <xsd:enumeration value="G1R" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Tecnologia"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:enumeration value="FIBRA" /> 
        <xsd:enumeration value="ADSL" /> 
        <xsd:enumeration value="ADSL_WS" /> 
        <xsd:enumeration value="SUBULL" /> 
        <xsd:enumeration value="VULA" /> 
        <xsd:enumeration value="ULL_VULA" /> 
        <xsd:enumeration value="NGN GPON" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataIN"> 
    <xsd:sequence> 
     <xsd:element name="IdPDA"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FWTransactionData"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SenderName"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="50" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="UserName"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="50" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TransactionId"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="42" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Version"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="50" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TransactionTime"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="19" /> 
        <xsd:pattern value="|(\d\d/\d\d/\d\d\d\d \d\d:\d\d:\d\d)|('')" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="CarrelloFW"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="Item" type="eb:ItemCarrelloFW" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ItemCarrelloFW"> 
    <xsd:sequence> 
     <xsd:element name="CodiceIstanza"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CodiceProdotto"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TipoProdotto"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="NomeProdotto"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TipoPrezzo"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="PrezzoProdotto"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSiebel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataIN" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSiebelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSiebelRequest"> 
  <wsdl:part element="eb:opSiebel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSiebelResponse"> 
  <wsdl:part element="eb:opSiebelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_IN_BB_GET_FORM_CALLBACKSoap"> 
  <wsdl:operation name="opSiebel"> 
   <wsdl:input message="eb:opSiebelRequest" name="opSiebelRequest" /> 
   <wsdl:output message="eb:opSiebelResponse" name="opSiebelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_IN_BB_GET_FORM_CALLBACKSoap" type="eb:WS_SF_IN_BB_GET_FORM_CALLBACKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSiebel"> 
   <soap:operation soapAction="WS_SF_IN_BB_GET_FORM_CALLBACK/opSiebel" style="document" /> 
   <wsdl:input name="opSiebelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSiebelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_IN_BB_GET_FORM_CALLBACK"> 
  <wsdl:port binding="eb:WS_SF_IN_BB_GET_FORM_CALLBACKSoap" name="WS_SF_IN_BB_GET_FORM_CALLBACKSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_sf_ns/WS_SF_IN_BB_GET_FORM_CALLBACK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>