osb_it/repo/BlueBirdProject/SPARK/pollingIncidentUpdates/PS_REST_SPARK_POLLER_INCIDENT/wsdl/BlueBirdProject_SPARK_pollingIncidentUpdates_Proxy_PS_REST_SPARK_POLLER_INCIDENT.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SPARK_POLLER_INCIDENT"
     targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SPARK_POLLER_INCIDENT"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SPARK_POLLER_INCIDENT"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SPARK_POLLER_INCIDENT">
        <plnk:role name="PS_REST_SPARK_POLLER_INCIDENTProvider" portType="tns:PS_REST_SPARK_POLLER_INCIDENT_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SPARK/pollingIncidentUpdates/XSD/XSD_POLLING_INCIDENT_UPD.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RunPollerIteration_inputMessage">
        <wsdl:part name="request" element="inp1:requestRunPollerIteration"/>
    </wsdl:message>
    <wsdl:message name="RunPollerIteration_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRunPollerIteration"/>
    </wsdl:message>
    <wsdl:message name="RunPollerIteration_fault_500Message">
        <wsdl:part name="fault_fault_500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RunPollerIteration_fault_404Message">
        <wsdl:part name="fault_fault_404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RunPollerIteration_fault_400Message">
        <wsdl:part name="fault_fault_400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SPARK_POLLER_INCIDENT_ptt">
        <wsdl:operation name="RunPollerIteration">
            <wsdl:input message="tns:RunPollerIteration_inputMessage"/>
            <wsdl:output message="tns:RunPollerIteration_outputMessage"/>
            <wsdl:fault name="fault_500" message="tns:RunPollerIteration_fault_500Message"/>
            <wsdl:fault name="fault_404" message="tns:RunPollerIteration_fault_404Message"/>
            <wsdl:fault name="fault_400" message="tns:RunPollerIteration_fault_400Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SPARK_POLLER_INCIDENT_ptt-binding" type="tns:PS_REST_SPARK_POLLER_INCIDENT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RunPollerIteration">
            <soap:operation soapAction="RunPollerIteration"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>