esb_it/repo/WS_SBL_GET_EVENTI_OPPV/wsdl/WS_SBL_GET_EVENTI_OPPV.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_NUM_SMC" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_REFID" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_TRASM" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_ACQUISTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_ESITO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_PROVENIENZA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_COSTO_SERVIZIO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_TITOLO_EVENTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_COSTO_EVENTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_NUMERO_TELEFONO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_PROMO_KIND" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_PROMO_DETAILS" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_COSTO_EVENTO_ORIGINALE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_FML32" type="eb:FMLComplexFml" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexFml"> 
    <xsd:sequence> 
     <xsd:element name="CA_NUM_SMC" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_REFID" type="xsd:string" /> 
     <xsd:element name="HTL_DATA_TRASM" type="xsd:string" /> 
     <xsd:element name="HTL_DATA_ACQUISTO" type="xsd:string" /> 
     <xsd:element name="CA_ESITO" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_PROVENIENZA" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_COSTO_SERVIZIO" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_TITOLO_EVENTO" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_NUMERO_TELEFONO" type="xsd:string" /> 
     <xsd:element name="CA_PROMO_KIND" type="xsd:string" /> 
     <xsd:element name="CA_PROMO_DETAILS" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO_ORIGINALE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetEventiOppv"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetEventiOppvResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetEventiOppvRequest"> 
  <wsdl:part element="eb:opGetEventiOppv" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetEventiOppvResponse"> 
  <wsdl:part element="eb:opGetEventiOppvResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SBL_GET_EVENTI_OPPVSoap"> 
  <wsdl:operation name="opGetEventiOppv"> 
   <wsdl:input message="eb:opGetEventiOppvRequest" name="opGetEventiOppvRequest" /> 
   <wsdl:output message="eb:opGetEventiOppvResponse" name="opGetEventiOppvResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SBL_GET_EVENTI_OPPVSoap" type="eb:WS_SBL_GET_EVENTI_OPPVSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetEventiOppv"> 
   <soap:operation soapAction="WS_SBL_GET_EVENTI_OPPV/opGetEventiOppv" style="document" /> 
   <wsdl:input name="opGetEventiOppvRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetEventiOppvResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SBL_GET_EVENTI_OPPV"> 
  <wsdl:port binding="eb:WS_SBL_GET_EVENTI_OPPVSoap" name="WS_SBL_GET_EVENTI_OPPVSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SBL_GET_EVENTI_OPPV" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>