esb_it/repo/WS_OTS_REITEK_TICKET/xsd/TicketWS.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<xs:schema xmlns:tns="http://services.siebel.sky.integrationlayer.reitek.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.siebel.sky.integrationlayer.reitek.com/"> 
 <xs:element name="elaborazioneTicket" type="tns:elaborazioneTicket"></xs:element> 
 <xs:element name="elaborazioneTicketResponse" type="tns:elaborazioneTicketResponse"></xs:element> 
 <xs:complexType name="elaborazioneTicket"> 
  <xs:sequence> 
   <xs:element name="esitoElaborazioneTicket" type="tns:esitoElaborazioneTicketInput" minOccurs="0"></xs:element> 
  </xs:sequence> 
 </xs:complexType> 
 <xs:complexType name="esitoElaborazioneTicketInput"> 
  <xs:sequence> 
   <xs:element name="campaignCode" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="cellCode" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="contratto" type="xs:int" minOccurs="0"></xs:element> 
   <xs:element name="descrizione" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="esito" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="id" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="treatmentCode" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="type" type="xs:string" minOccurs="0"></xs:element> 
  </xs:sequence> 
 </xs:complexType> 
 <xs:complexType name="elaborazioneTicketResponse"> 
  <xs:sequence> 
   <xs:element name="return" type="tns:resultWS" minOccurs="0"></xs:element> 
  </xs:sequence> 
 </xs:complexType> 
 <xs:complexType name="resultWS"> 
  <xs:sequence> 
   <xs:element name="descrizione" type="xs:string" minOccurs="0"></xs:element> 
   <xs:element name="esito" type="xs:string" minOccurs="0"></xs:element> 
  </xs:sequence> 
 </xs:complexType> 
</xs:schema>