osb_it/repo/SalesforceProject/REST/CRM/IBAN/HANDLER/PS_REST_CRM_IBAN_HANDLER/wsdl/SalesforceProject_REST_CRM_IBAN_HANDLER_proxy_PS_REST_CRM_IBAN_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_IBAN_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_IBAN_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_IBAN_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_IBAN_HANDLER">
        <plnk:role name="PS_REST_CRM_IBAN_HANDLERProvider" portType="tns:PS_REST_CRM_IBAN_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/IbanHandler/xsd/XSD_REST_CRM_IBAN_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CheckIBAN_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckIBAN"/>
    </wsdl:message>
    <wsdl:message name="CheckIBAN_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckIBAN"/>
    </wsdl:message>
    <wsdl:message name="CheckIBAN_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CheckIBAN_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CheckIBAN_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="CalculateIBAN_inputMessage">
        <wsdl:part name="request" element="inp1:requestCalculateIBAN"/>
    </wsdl:message>
    <wsdl:message name="CalculateIBAN_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCalculateIBAN"/>
    </wsdl:message>
    <wsdl:message name="CalculateIBAN_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CalculateIBAN_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CalculateIBAN_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_IBAN_HANDLER_ptt">
        <wsdl:operation name="CheckIBAN">
            <wsdl:input message="tns:CheckIBAN_inputMessage"/>
            <wsdl:output message="tns:CheckIBAN_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CheckIBAN_error404Message"/>
            <wsdl:fault name="error400" message="tns:CheckIBAN_error400Message"/>
            <wsdl:fault name="error500" message="tns:CheckIBAN_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="CalculateIBAN">
            <wsdl:input message="tns:CalculateIBAN_inputMessage"/>
            <wsdl:output message="tns:CalculateIBAN_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CalculateIBAN_error404Message"/>
            <wsdl:fault name="error400" message="tns:CalculateIBAN_error400Message"/>
            <wsdl:fault name="error500" message="tns:CalculateIBAN_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_IBAN_HANDLER_ptt-binding" type="tns:PS_REST_CRM_IBAN_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CheckIBAN">
            <soap:operation soapAction="CheckIBAN"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CalculateIBAN">
            <soap:operation soapAction="CalculateIBAN"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>