osb_it/repo/BlueBirdProject/MDW/MSO/notifications/PS_REST_SF_MSO_NOTIFICATIONS/wsdl/BlueBirdProject_MDW_MSO_notifications_proxy_PS_REST_SF_MSO_NOTIFICATIONS.wsdl

<wsdl:definitions name="PS_REST_SF_MSO_NOTIFICATIONS" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_SF_MSO_NOTIFICATIONS" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_SF_MSO_NOTIFICATIONS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_MSO_NOTIFICATIONS">
        <plnk:role name="PS_REST_SF_MSO_NOTIFICATIONSProvider" portType="tns:PS_REST_SF_MSO_NOTIFICATIONS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/MDW/MSO_notifications/xsd/XSD_SF_MSO_NOTIFICATIONS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MSONotifications_inputMessage">
        <wsdl:part name="request" element="inp1:requestMSONotifications"/>
    </wsdl:message>
    <wsdl:message name="MSONotifications_outputMessage">
        <wsdl:part name="reply" element="inp1:responseMSONotifications"/>
    </wsdl:message>
    <wsdl:message name="MSONotifications_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="MSONotifications_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="MSONotifications_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_MSO_NOTIFICATIONS_ptt">
        <wsdl:operation name="MSONotifications">
            <wsdl:input message="tns:MSONotifications_inputMessage"/>
            <wsdl:output message="tns:MSONotifications_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:MSONotifications_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:MSONotifications_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:MSONotifications_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_MSO_NOTIFICATIONS_ptt-binding" type="tns:PS_REST_SF_MSO_NOTIFICATIONS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="MSONotifications">
            <soap:operation soapAction="MSONotifications"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>