esb_it/repo/WS_WEB_GESTIONE_SKY_GIFT/wsdl/WS_WEB_GESTIONE_SKY_GIFT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opAcquistoSkyGift"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestAcquisto" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAcquistoSkyGiftResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseAcquisto" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaElegibilita"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestVerifica" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaElegibilitaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseVerifica" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAcquistoSkyGiftRequest"> 
  <wsdl:part element="eb:opAcquistoSkyGift" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAcquistoSkyGiftResponse"> 
  <wsdl:part element="eb:opAcquistoSkyGiftResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaElegibilitaRequest"> 
  <wsdl:part element="eb:opVerificaElegibilita" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaElegibilitaResponse"> 
  <wsdl:part element="eb:opVerificaElegibilitaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_GESTIONE_SKY_GIFTSoap"> 
  <wsdl:operation name="opAcquistoSkyGift"> 
   <wsdl:input message="eb:opAcquistoSkyGiftRequest" name="opAcquistoSkyGiftRequest" /> 
   <wsdl:output message="eb:opAcquistoSkyGiftResponse" name="opAcquistoSkyGiftResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opVerificaElegibilita"> 
   <wsdl:input message="eb:opVerificaElegibilitaRequest" name="opVerificaElegibilitaRequest" /> 
   <wsdl:output message="eb:opVerificaElegibilitaResponse" name="opVerificaElegibilitaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_GESTIONE_SKY_GIFTSoap" type="eb:WS_WEB_GESTIONE_SKY_GIFTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAcquistoSkyGift"> 
   <soap:operation soapAction="WS_WEB_GESTIONE_SKY_GIFT/opAcquistoSkyGift" style="document" /> 
   <wsdl:input name="opAcquistoSkyGiftRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAcquistoSkyGiftResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opVerificaElegibilita"> 
   <soap:operation soapAction="WS_WEB_GESTIONE_SKY_GIFT/opVerificaElegibilita" style="document" /> 
   <wsdl:input name="opVerificaElegibilitaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaElegibilitaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_GESTIONE_SKY_GIFT"> 
  <wsdl:port binding="eb:WS_WEB_GESTIONE_SKY_GIFTSoap" name="WS_WEB_GESTIONE_SKY_GIFTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_GESTIONE_SKY_GIFT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>