osb_it/repo/SalesforceProject/CRM/OFFER/SUMMARY/PS_REST_CRM_OFFER_SUMMARY/wsdl/SalesforceProject_CRM_OFFER_SUMMARY_proxy_PS_REST_CRM_OFFER_SUMMARY.wsdl

<wsdl:definitions name="PS_REST_CRM_OFFER_SUMMARY" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_CRM_OFFER_SUMMARY" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SalesforceProject/PS_REST_CRM_OFFER_SUMMARY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp2="http://www.skytv.it/mdw/data">
    <plnk:partnerLinkType name="PS_REST_CRM_OFFER_SUMMARY">
        <plnk:role name="PS_REST_CRM_OFFER_SUMMARYProvider" portType="tns:PS_REST_CRM_OFFER_SUMMARY_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/REST_CRM_OFFER_SUMMARY/XSD_CRM_OFFER_SUMMARY.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="offerSummary_inputMessage">
        <wsdl:part name="request" element="inp1:requestOfferSummary"/>
    </wsdl:message>
    <wsdl:message name="offerSummary_outputMessage">
        <wsdl:part name="reply" element="inp1:responseOfferSummary"/>
    </wsdl:message>
    <wsdl:message name="offerSummary_fault-500Message">
        <wsdl:part name="fault_fault-500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="offerSummary_fault-400Message">
        <wsdl:part name="fault_fault-400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="offerSummary_fault-404Message">
        <wsdl:part name="fault_fault-404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_OFFER_SUMMARY_ptt">
        <wsdl:operation name="offerSummary">
            <wsdl:input message="tns:offerSummary_inputMessage"/>
            <wsdl:output message="tns:offerSummary_outputMessage"/>
            <wsdl:fault name="fault-500" message="tns:offerSummary_fault-500Message"/>
            <wsdl:fault name="fault-400" message="tns:offerSummary_fault-400Message"/>
            <wsdl:fault name="fault-404" message="tns:offerSummary_fault-404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_OFFER_SUMMARY_ptt-binding" type="tns:PS_REST_CRM_OFFER_SUMMARY_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="offerSummary">
            <soap:operation soapAction="offerSummary"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>