esb_it/repo/WS_SMS_SKYGO_RESEND/wsdl/WS_SMS_SKYGO_RESEND.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="SMS_PHONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SMS_TEXT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CA_VOUCHER" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSMS"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_INPUT" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSMSResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSMSRequest"> 
  <wsdl:part element="eb:opSMS" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSMSResponse"> 
  <wsdl:part element="eb:opSMSResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SMS_SKYGO_RESENDSoap"> 
  <wsdl:operation name="opSMS"> 
   <wsdl:input message="eb:opSMSRequest" name="opSMSRequest" /> 
   <wsdl:output message="eb:opSMSResponse" name="opSMSResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SMS_SKYGO_RESENDSoap" type="eb:WS_SMS_SKYGO_RESENDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSMS"> 
   <soap:operation soapAction="WS_SMS_SKYGO_RESEND/opSMS" style="document" /> 
   <wsdl:input name="opSMSRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSMSResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SMS_SKYGO_RESEND"> 
  <wsdl:port binding="eb:WS_SMS_SKYGO_RESENDSoap" name="WS_SMS_SKYGO_RESENDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SMS_SKYGO_RESEND" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>