osb_it/repo/ReitekProject/GestioneVocalOrder/PS_WS_GESTIONE_VOCAL_ORDER/xsd/XSD_WSC_GESTIONE_VOCAL_ORDER.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:complexType name="requestGetVocalOrderType">
    <xsd:sequence>
      <xsd:element name="codiceContratto" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseGetVocalOrderType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string"/>
      <xsd:element name="descrizioneEsito" type="xsd:string"/>
      <xsd:element name="vocalBase64" minOccurs="0" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="requestGetVocalOrder" type="requestGetVocalOrderType"/>
  <xsd:element name="responseGetVocalOrder" type="responseGetVocalOrderType"/>
</xsd:schema>