esb_it/repo/WS_MRM_SET_TAG_LIST_H/wsdl/WS_MRM_SET_TAG_LIST_H.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CA_OPERATORE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_HIDDEN_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_NOTE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_TAG_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element name="MRM_TAG_VALUE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMRM"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MRM_INPUT" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMRMResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MRM_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMRMRequest"> 
  <wsdl:part element="eb:opMRM" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMRMResponse"> 
  <wsdl:part element="eb:opMRMResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MRM_SET_TAG_LIST_HSoap"> 
  <wsdl:operation name="opMRM"> 
   <wsdl:input message="eb:opMRMRequest" name="opMRMRequest" /> 
   <wsdl:output message="eb:opMRMResponse" name="opMRMResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MRM_SET_TAG_LIST_HSoap" type="eb:WS_MRM_SET_TAG_LIST_HSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMRM"> 
   <soap:operation soapAction="WS_MRM_SET_TAG_LIST_H/opMRM" style="document" /> 
   <wsdl:input name="opMRMRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMRMResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MRM_SET_TAG_LIST_H"> 
  <wsdl:port binding="eb:WS_MRM_SET_TAG_LIST_HSoap" name="WS_MRM_SET_TAG_LIST_HSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_mrm/WS_MRM_SET_TAG_LIST_H" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>