esb_it/repo/LeggiSmcDaNumTel/wsdl/LeggiSmcDaNumTel.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpLeggiSmcDaNumTel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_NUMERO_TELEFONO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpLeggiSmcDaNumTelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SMART_CARD2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpLeggiSmcDaNumTelRequest"> 
  <wsdl:part element="eb:OpLeggiSmcDaNumTel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpLeggiSmcDaNumTelResponse"> 
  <wsdl:part element="eb:OpLeggiSmcDaNumTelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="LeggiSmcDaNumTelSoap"> 
  <wsdl:operation name="OpLeggiSmcDaNumTel"> 
   <wsdl:input message="eb:OpLeggiSmcDaNumTelRequest" name="OpLeggiSmcDaNumTelRequest" /> 
   <wsdl:output message="eb:OpLeggiSmcDaNumTelResponse" name="OpLeggiSmcDaNumTelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="LeggiSmcDaNumTelSoap" type="eb:LeggiSmcDaNumTelSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpLeggiSmcDaNumTel"> 
   <soap:operation soapAction="LeggiSmcDaNumTel/OpLeggiSmcDaNumTel" style="document" /> 
   <wsdl:input name="OpLeggiSmcDaNumTelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpLeggiSmcDaNumTelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="LeggiSmcDaNumTel"> 
  <wsdl:port binding="eb:LeggiSmcDaNumTelSoap" name="LeggiSmcDaNumTelSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/LeggiSmcDaNumTel" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>