osb_it/repo/PegasusProject/SendCommunicationRest/PS_WS_CRM_PEGASUS_REST_COMMUNICATION/xsd/XSD_REST_COMMUNICATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestNotificationJSON" type="requestNotificationJSONType"/>
	<xsd:element name="responseNotificationJSON" type="responseNotificationJSONType"/>
	<xsd:complexType name="requestNotificationJSONType">
		<xsd:sequence>
			<xsd:element name="comunicazioniList" type="comunicazioniListType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="comunicazioniListType">
		<xsd:all>
                  <xsd:element name="Id" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Account_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Activity_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Activity_Number__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Adesione_Promo_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Agcom_PIN__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Alias_Mittente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Altro_Numero_Tel_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Altro_Numero_Tel_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Ambiente_Servizio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Analisi_Preferenze_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Analisi_Preferenze_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Attachment__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                  <xsd:element name="Attivazione_Futura_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Attivita__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="CAP_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="CAP_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Canale_Chiamante__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Canale_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Canale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Candidato_Finale_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Candidato_Iniziale_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Categoria_Listino__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Categoria__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Causale_Cessazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Cellulare_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Cellulare_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Citta_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Citta_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Classe_Promozione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Cliente_BB_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Cliente_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Cliente_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Cliente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Contratto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Esigenza__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Landing_Page__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Lavorazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Lettera__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Promozione_Agg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Promozione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Ricarica__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Seriale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Servizio_Premium_Agg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Codice_Servizio_Premium__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Cognome_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Cognome_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Comment__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Comunication_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Consenso_Dati_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Contact_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Contesto_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Contratto_ID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="CreatedById" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="Credito_Residuo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Data_Attivazione_MOP__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Data_Contatto_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Data_Invio_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="Data_Nascita_Fruitore_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Data_Nascita_Pagatore_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Data_Pagamento_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="SkyExtra_Data_Elegibility_Loyalty_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Desc_Pack_Arrivo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Desc_Pack_Partenza__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Desc_Pack__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Esito__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Motivo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Premio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Promo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Promo_per_BMAIL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Promo_per_Lettera__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Richiesta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Descrizione_Tipo_Upg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Dettaglio_Motivo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Durata_Promo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Elenco_SmartCard__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="EmailBody__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_Body__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_CCN__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_CC__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_Catalog_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_Recipient_Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Email_Recipient_Name__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Esito_Adesione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Esito_Premio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Esito_Upgrade__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Esito__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Exit_Fee__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Fee_Cambio_Piano__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="FileName_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="FilePath_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Fine_Validita_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Frase_Promozione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Free_Vision_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="IDOdl__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="IDOds__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="IdCXWEBLOG__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="IdCommPegasusToAppend__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Id_Retail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Id_Service_Request__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Importo__c" nillable="true" minOccurs="0" type="xsd:double"/>
                  <xsd:element name="Inbound_Outbound__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Indirizzo_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Indirizzo_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Interaction_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Interno_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Interno_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Invio_Ctr_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="IsDeleted" nillable="true" minOccurs="0" type="xsd:boolean"/>
                  <xsd:element name="LastModifiedAccount__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="LastModifiedActivity__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="LastModifiedById" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="LastModifiedContact__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="LastModifiedContract__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="LastModifiedInteraction__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="LastModifiedSR__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="Link_Landing_Page__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Link_Registrazione_SkyId__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Link_Validazione_Mail__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="MOP_PO_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Macrocategoria__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Message_Object__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Migrazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Mittente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Modalit_di_Pagamento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Motivo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Movimentazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Name" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="NameVersion_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="NameVersion_Attachment2__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Name_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Name_Attachment2__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Nome_Attivita__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Nome_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Nome_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Nome_Premio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Nome_Promo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Note_Attivita__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Numero_Civico_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Numero_Civico_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Numero_Reclamo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="ODL_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Oggetto_Richiesta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="On_Demand_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Order_Id_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Order_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Order_Number_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="OwnerId" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="PDISC_Finale_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="PDISC_Iniziale_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="PREPDISC_Finale_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="PREPDISC_Iniziale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Path_Delivery_PDF__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Payment_Method__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Pegasus_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Periodicit_di_fatturazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Piano_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Piano_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Piva_Cod_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Piva_Cod_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Planned_Completion_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="Provenienza_RTD__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Provincia_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Provincia_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Rate_Code__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="RecordTypeId" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Record_Type_Name__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Reminder__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Richiesta_Attivazione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Richiesta_Cessazione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Richiesta_Promozione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="SEZ1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SKYID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SRCanale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SRId__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SRNumber__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SRProvenienza__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SRStato__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Scadenza_Contratto_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Scala_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Scala_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Service_Request_Number__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Servizio_Downgrade__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Servizio_Premium__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Sesso_Fruitore_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Sesso_Pagatore_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Sezione1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Sezione2__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Sezione3__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Simulato_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyId_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_CAP__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_Citta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_GiorniChiusura__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_Indirizzo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_Orari__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_RagioneSociale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SkyService_Telefono__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SmartCard__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Sottocategoria__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Statistiche_Fruitore_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Statistiche_Pagatore_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Stato_Contratto_Finale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Stato_Contratto_Iniziale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Storia_Cliente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="SystemModstamp" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                  <xsd:element name="TIDPGS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Telefono_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Telefono_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Template__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Temporary_Email_Address_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Temporary_Email_Address_Pagatore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Testo_Centrale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Testo_Libero__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Testo_Originale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Canale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Categoria__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Contatto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Invio_RTD__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Lavorazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Offerta_RTD__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Offerta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Operazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipo_Record__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Tipologia_Cliente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Type_Attachment1__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Type_Attachment2__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Ultima_Modifica_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                  <xsd:element name="Upgrade_Downgrade_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                  <xsd:element name="Validita_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
		</xsd:all>
	</xsd:complexType>
	<xsd:complexType name="responseNotificationJSONType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Esito" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>