esb_it/repo/WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNO/wsdl/WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_FLUSSO" type="xsd:string" /> 
     <xsd:element name="LS_ID_RICHIESTA" type="xsd:string" /> 
     <xsd:element name="LS_MAGAZZINO" type="xsd:string" /> 
     <xsd:element name="LS_TID" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" name="LS_MOVIMENTI_FML32"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element name="LS_RECORD_ID" type="xsd:string" /> 
        <xsd:element name="LS_ID_MOVIMENTO" type="xsd:string" /> 
        <xsd:element name="LS_DATA_INSERIM" type="xsd:string" /> 
        <xsd:element name="LS_DATA_OPERAZIONE" type="xsd:string" /> 
        <xsd:element name="LS_NUMERO_ORDINE" type="xsd:string" /> 
        <xsd:element name="LS_POSIZIONE" type="xsd:string" /> 
        <xsd:element name="LS_STATO" type="xsd:string" /> 
        <xsd:element name="LS_TIPO_CESSIONE" type="xsd:string" /> 
        <xsd:element name="LS_DATA_CONTABILE" type="xsd:string" /> 
        <xsd:element name="LS_FLAG_RETTIFICA" type="xsd:string" /> 
        <xsd:element name="LS_TIPO_CAUSALE" type="xsd:string" /> 
        <xsd:element name="LS_MAGAZZINO_SORGENTE" type="xsd:string" /> 
        <xsd:element name="LS_MAGAZZINO_DESTINAZIONE" type="xsd:string" /> 
        <xsd:element name="LS_LOTTO" type="xsd:string" /> 
        <xsd:element name="LS_CODICE_ITEM" type="xsd:string" /> 
        <xsd:element name="LS_QUANTITA" type="xsd:string" /> 
        <xsd:element maxOccurs="2" minOccurs="0" name="LS_DDT_FML32"> 
         <xsd:complexType> 
          <xsd:sequence> 
           <xsd:element name="LS_TIPO" type="xsd:string" /> 
           <xsd:element name="LS_DDT" type="xsd:string" /> 
           <xsd:element name="LS_DATA_DDT" type="xsd:string" /> 
          </xsd:sequence> 
         </xsd:complexType> 
        </xsd:element> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element name="LS_TID" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opRichiesteSapToSiebel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRichiesteSapToSiebelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRichiesteSapToSiebelRequest"> 
  <wsdl:part element="eb:opRichiesteSapToSiebel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRichiesteSapToSiebelResponse"> 
  <wsdl:part element="eb:opRichiesteSapToSiebelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNOSoap"> 
  <wsdl:operation name="opRichiesteSapToSiebel"> 
   <wsdl:input message="eb:opRichiesteSapToSiebelRequest" name="opRichiesteSapToSiebelRequest" /> 
   <wsdl:output message="eb:opRichiesteSapToSiebelResponse" name="opRichiesteSapToSiebelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNOSoap" type="eb:WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRichiesteSapToSiebel"> 
   <soap:operation soapAction="WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNO/opRichiesteSapToSiebel" style="document" /> 
   <wsdl:input name="opRichiesteSapToSiebelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRichiesteSapToSiebelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNO"> 
  <wsdl:port binding="eb:WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNOSoap" name="WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_RICHIESTE_SAP_TO_SIEBEL_INTERNO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>