esb_it/repo/WS_SF_BIP_RUN_REPORT/wsdl/WS_SF_BIP_RUN_REPORT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opRunReport"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="AbsolutePathTmpl" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="FilePath" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="FileName" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="XmlBip" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRunReportResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="DescrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="FileNamePdf" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRunReportRequest"> 
  <wsdl:part element="eb:opRunReport" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRunReportResponse"> 
  <wsdl:part element="eb:opRunReportResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_BIP_RUN_REPORTSoap"> 
  <wsdl:operation name="opRunReport"> 
   <wsdl:input message="eb:opRunReportRequest" name="opRunReportRequest" /> 
   <wsdl:output message="eb:opRunReportResponse" name="opRunReportResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_BIP_RUN_REPORTSoap" type="eb:WS_SF_BIP_RUN_REPORTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRunReport"> 
   <soap:operation soapAction="WS_SF_BIP_RUN_REPORT/opRunReport" style="document" /> 
   <wsdl:input name="opRunReportRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRunReportResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_BIP_RUN_REPORT"> 
  <wsdl:port binding="eb:WS_SF_BIP_RUN_REPORTSoap" name="WS_SF_BIP_RUN_REPORTSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_BIP_RUN_REPORT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>