osb_it/repo/SalesforceProject/REST/CRM/CONTRACT/HANDLER/PS_REST_CRM_CONTRACT_HANDLER/wsdl/SalesforceProject_REST_CRM_CONTRACT_HANDLER_proxy_PS_REST_CRM_CONTRACT_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_CONTRACT_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CONTRACT_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CONTRACT_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_CONTRACT_HANDLER">
        <plnk:role name="PS_REST_CRM_CONTRACT_HANDLERProvider" portType="tns:PS_REST_CRM_CONTRACT_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_ContractHandler/xsd/XSD_CRM_CONTRACT_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetContract_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetContract"/>
    </wsdl:message>
    <wsdl:message name="GetContract_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetContract"/>
    </wsdl:message>
    <wsdl:message name="GetContract_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetContract_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetContract_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetContractKeys_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetContractKeys"/>
    </wsdl:message>
    <wsdl:message name="GetContractKeys_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetContractKeys"/>
    </wsdl:message>
    <wsdl:message name="GetContractKeys_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetContractKeys_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetContractKeys_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CONTRACT_HANDLER_ptt">
        <wsdl:operation name="GetContract">
            <wsdl:input message="tns:GetContract_inputMessage"/>
            <wsdl:output message="tns:GetContract_outputMessage"/>
            <wsdl:fault name="error404" message="tns:GetContract_error404Message"/>
            <wsdl:fault name="error400" message="tns:GetContract_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetContract_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="GetContractKeys">
            <wsdl:input message="tns:GetContractKeys_inputMessage"/>
            <wsdl:output message="tns:GetContractKeys_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:GetContractKeys_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:GetContractKeys_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:GetContractKeys_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CONTRACT_HANDLER_ptt-binding" type="tns:PS_REST_CRM_CONTRACT_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetContract">
            <soap:operation soapAction="GetContract"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetContractKeys">
            <soap:operation soapAction="GetContractKeys"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>