esb_it/repo/WS_MOSTRA_ELENCO_SMC/wsdl/WS_MOSTRA_ELENCO_SMC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_SMC" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_MOSTRA_ELENCO_SMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CODICE_HOTEL" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_MOSTRA_ELENCO_SMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MOSTRA_ELENCO_SMC_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_MOSTRA_ELENCO_SMCRequest"> 
  <wsdl:part element="eb:OP_MOSTRA_ELENCO_SMC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_MOSTRA_ELENCO_SMCResponse"> 
  <wsdl:part element="eb:OP_MOSTRA_ELENCO_SMCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MOSTRA_ELENCO_SMCSoap"> 
  <wsdl:operation name="OP_MOSTRA_ELENCO_SMC"> 
   <wsdl:input message="eb:OP_MOSTRA_ELENCO_SMCRequest" name="OP_MOSTRA_ELENCO_SMCRequest" /> 
   <wsdl:output message="eb:OP_MOSTRA_ELENCO_SMCResponse" name="OP_MOSTRA_ELENCO_SMCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MOSTRA_ELENCO_SMCSoap" type="eb:WS_MOSTRA_ELENCO_SMCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_MOSTRA_ELENCO_SMC"> 
   <soap:operation soapAction="WS_MOSTRA_ELENCO_SMC/OP_MOSTRA_ELENCO_SMC" style="document" /> 
   <wsdl:input name="OP_MOSTRA_ELENCO_SMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_MOSTRA_ELENCO_SMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MOSTRA_ELENCO_SMC"> 
  <wsdl:port binding="eb:WS_MOSTRA_ELENCO_SMCSoap" name="WS_MOSTRA_ELENCO_SMCSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MOSTRA_ELENCO_SMC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>