esb_it/repo/WS_SKY_TI_SAVE_CART/wsdl/WS_SKY_TI_SAVE_CART.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://telecomitalia.it/SOA/WS_SKY_TI_SAVE_CART/2014-09-04" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_SAVE_CART/2014-09-04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://telecomitalia.it/SOA/WS_SKY_TI_SAVE_CART/2014-09-04" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_SAVE_CART/2014-09-04"> 
   <xsd:include schemaLocation="xsdTelecom/SkyXSD_AOL_TI_SaveCart.xsd" /> 
   <xsd:complexType name="DocumentDataInput" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_SAVE_CART/2014-09-04"> 
    <xsd:complexContent> 
     <xsd:extension base="ti:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput" xmlns:ti="http://telecomitalia.it/SOA/WS_SKY_TI_SAVE_CART/2014-09-04"> 
    <xsd:complexContent> 
     <xsd:extension base="ti:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSaveCart"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="ti:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSaveCartResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="ti:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSaveCartRequest"> 
  <wsdl:part element="ti:opSaveCart" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSaveCartResponse"> 
  <wsdl:part element="ti:opSaveCartResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SKY_TI_SAVE_CARTSoap"> 
  <wsdl:operation name="opSaveCart"> 
   <wsdl:input message="ti:opSaveCartRequest" name="opSaveCartRequest" /> 
   <wsdl:output message="ti:opSaveCartResponse" name="opSaveCartResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SKY_TI_SAVE_CARTSoap" type="ti:WS_SKY_TI_SAVE_CARTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSaveCart"> 
   <soap:operation soapAction="WS_SKY_TI_SAVE_CART/opSaveCart" style="document" /> 
   <wsdl:input name="opSaveCartRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSaveCartResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SKY_TI_SAVE_CART"> 
  <wsdl:port binding="ti:WS_SKY_TI_SAVE_CARTSoap" name="WS_SKY_TI_SAVE_CARTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SKY_TI_SAVE_CART" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>