osb_it/repo/SalesforceProject/REST/CRM/ALIAS/OPERATOR/HANDLER/PS_REST_CRM_ALIAS_OPERATOR_HANDLER/wsdl/SalesforceProject_REST_CRM_ALIAS_OPERATOR_HANDLER_proxy_PS_REST_CRM_ALIAS_OPERATOR_HANDLER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="PS_REST_CRM_ALIAS_OPERATOR_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_ALIAS_OPERATOR_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_ALIAS_OPERATOR_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_ALIAS_OPERATOR_HANDLER">
        <plnk:role name="PS_REST_CRM_ALIAS_OPERATOR_HANDLERProvider" portType="tns:PS_REST_CRM_ALIAS_OPERATOR_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_AliasOperatorHandler/xsd/XSD_CRM_ALIAS_OPERATOR_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="changeAliasOperator_inputMessage">
        <wsdl:part name="request" element="inp1:requestChangeAliasOperator"/>
    </wsdl:message>
    <wsdl:message name="changeAliasOperator_outputMessage">
        <wsdl:part name="reply" element="inp1:responseChangeAliasOperator"/>
    </wsdl:message>
    <wsdl:message name="changeAliasOperator_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="changeAliasOperator_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="changeAliasOperator_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="checkAliasOperator_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckAliasOperator"/>
    </wsdl:message>
    <wsdl:message name="checkAliasOperator_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckAliasOperator"/>
    </wsdl:message>
    <wsdl:message name="checkAliasOperator_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="checkAliasOperator_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="checkAliasOperator_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_ALIAS_OPERATOR_HANDLER_ptt">
        <wsdl:operation name="changeAliasOperator">
            <wsdl:input message="tns:changeAliasOperator_inputMessage"/>
            <wsdl:output message="tns:changeAliasOperator_outputMessage"/>
            <wsdl:fault name="error404" message="tns:changeAliasOperator_error404Message"/>
            <wsdl:fault name="error400" message="tns:changeAliasOperator_error400Message"/>
            <wsdl:fault name="error500" message="tns:changeAliasOperator_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="checkAliasOperator">
            <wsdl:input message="tns:checkAliasOperator_inputMessage"/>
            <wsdl:output message="tns:checkAliasOperator_outputMessage"/>
            <wsdl:fault name="error404" message="tns:checkAliasOperator_error404Message"/>
            <wsdl:fault name="error400" message="tns:checkAliasOperator_error400Message"/>
            <wsdl:fault name="error500" message="tns:checkAliasOperator_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_ALIAS_OPERATOR_HANDLER_ptt-binding" type="tns:PS_REST_CRM_ALIAS_OPERATOR_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="changeAliasOperator">
            <soap:operation soapAction="changeAliasOperator"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output> 
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkAliasOperator">
            <soap:operation soapAction="checkAliasOperator"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>