osb_it/repo/SalesforceProject/REST/CRM/TELCO/OPERATORS/PS_REST_CRM_TELCO_OPERATORS/wsdl/SalesforceProject_REST_CRM_TELCO_OPERATORS_proxy_PS_REST_CRM_TELCO_OPERATORS.wsdl

<wsdl:definitions name="PS_REST_CRM_TELCO_OPERATORS" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_TELCO_OPERATORS" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_TELCO_OPERATORS" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_TELCO_OPERATORS">
        <plnk:role name="PS_REST_CRM_TELCO_OPERATORSProvider" portType="tns:PS_REST_CRM_TELCO_OPERATORS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_TelcoOperators/xsd/XSD_CRM_TELCO_OPERATORS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
   <wsdl:message name="GetTelcoOperators_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetTelcoOperators"/>
    </wsdl:message>
    <wsdl:message name="GetTelcoOperators_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetTelcoOperators"/>
    </wsdl:message>
    <wsdl:message name="GetTelcoOperators_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetTelcoOperators_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetTelcoOperators_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_TELCO_OPERATORS_ptt">
        <wsdl:operation name="GetTelcoOperators">
            <wsdl:input message="tns:GetTelcoOperators_inputMessage"/>
            <wsdl:output message="tns:GetTelcoOperators_outputMessage"/>
            <wsdl:fault name="error404" message="tns:GetTelcoOperators_error404Message"/>
            <wsdl:fault name="error400" message="tns:GetTelcoOperators_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetTelcoOperators_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_TELCO_OPERATORS_ptt-binding" type="tns:PS_REST_CRM_TELCO_OPERATORS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetTelcoOperators">
            <soap:operation soapAction="GetTelcoOperators"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
</wsdl:definitions>