osb_it/repo/MDWProject/WebTracking/PS_WS_MDW_WEB_TRACKING/wsdl/MDWProject_WebTracking_proxy_PS_WS_MDW_WEB_TRACKING.wsdl

<wsdl:definitions name="WS_MDW_WEB_TRACKING" targetNamespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING" xmlns:tns="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_MDW_WEB_TRACKING.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestInsertTracking_Message">
      <wsdl:part name="part_requestInsertTracking" element="inp1:requestInsertTracking"/>
    </wsdl:message>
  <wsdl:message name="responseInsertTracking_Message">
    <wsdl:part name="part_responseInsertTracking" element="inp1:responseInsertTracking"/>
  </wsdl:message>
  <wsdl:portType name="MDW_WEB_TRACKING_ptt">
    <wsdl:operation name="execute_insertTracking">
      <wsdl:input message="tns:requestInsertTracking_Message"/>
      <wsdl:output message="tns:responseInsertTracking_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_countNewTrackingRecords">
      <wsdl:input message="tns:requestCountNewTrackingRecords_Message"/>
      <wsdl:output message="tns:responseCountNewTrackingRecords_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_getTrackingRecords">
      <wsdl:input message="tns:requestGetTrackingRecords_Message"/>
      <wsdl:output message="tns:responseGetTrackingRecords_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_wtrAcknowledge">
      <wsdl:input message="tns:requestWtrAcknowledge_Message"/>
      <wsdl:output message="tns:responseWtrAcknowledge_Message"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MDW_WEB_TRACKING_bind" type="tns:MDW_WEB_TRACKING_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_insertTracking">
      <soap:operation style="document" soapAction="execute_insertTracking"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_countNewTrackingRecords">
      <soap:operation soapAction="execute_countNewTrackingRecords" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_getTrackingRecords">
      <soap:operation soapAction="execute_getTrackingRecords" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_wtrAcknowledge">
      <soap:operation soapAction="execute_wtrAcknowledge" style="document"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/MDW_WEB_TRACKING"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="requestCountNewTrackingRecords_Message">
    <wsdl:part name="part_requestCountNewTrackingRecords" element="inp1:requestCountNewTrackingRecords"/>
  </wsdl:message>
  <wsdl:message name="responseCountNewTrackingRecords_Message">
    <wsdl:part name="part_responseCountNewTrackingRecors" element="inp1:responseCountNewTrackingRecords"/>
  </wsdl:message>
  <wsdl:message name="requestGetTrackingRecords_Message">
    <wsdl:part name="part_requestGetTrackingRecords" element="inp1:requestGetTrackingRecords"/>
  </wsdl:message>
  <wsdl:message name="responseGetTrackingRecords_Message">
    <wsdl:part name="part_responseGetTrackingRecords" element="inp1:responseGetTrackingRecords"/>
  </wsdl:message>
  <wsdl:message name="Header_Message">
    <wsdl:part name="part_Header" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:message name="requestWtrAcknowledge_Message">
    <wsdl:part name="part_requestWtrAcknowledge" element="inp1:requestWtrAcknowledge"/>
  </wsdl:message>
  <wsdl:message name="responseWtrAcknowledge_Message">
    <wsdl:part name="part_responseWtrAcknowledge" element="inp1:responseWtrAcknowledge"/>
  </wsdl:message>
</wsdl:definitions>