esb_it/repo/WS_IVR_SBL_ATTIVAZIONE_SMC_SOST/wsdl/WS_IVR_SBL_ATTIVAZIONE_SMC_SOST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdIVR/SkyXSD_WS_IVR_SBL_ATTIVAZIONE_SMC_SOST.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opAttivazioneSmcSost"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAttivazioneSmcSostResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAttivazioneSmcSostRequest"> 
  <wsdl:part element="eb:opAttivazioneSmcSost" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAttivazioneSmcSostResponse"> 
  <wsdl:part element="eb:opAttivazioneSmcSostResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_SBL_ATTIVAZIONE_SMC_SOSTSoap"> 
  <wsdl:operation name="opAttivazioneSmcSost"> 
   <wsdl:input message="eb:opAttivazioneSmcSostRequest" name="opAttivazioneSmcSostRequest" /> 
   <wsdl:output message="eb:opAttivazioneSmcSostResponse" name="opAttivazioneSmcSostResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_SBL_ATTIVAZIONE_SMC_SOSTSoap" type="eb:WS_IVR_SBL_ATTIVAZIONE_SMC_SOSTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAttivazioneSmcSost"> 
   <soap:operation soapAction="WS_IVR_SBL_ATTIVAZIONE_SMC_SOST/opAttivazioneSmcSost" style="document" /> 
   <wsdl:input name="opAttivazioneSmcSostRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAttivazioneSmcSostResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_SBL_ATTIVAZIONE_SMC_SOST"> 
  <wsdl:port binding="eb:WS_IVR_SBL_ATTIVAZIONE_SMC_SOSTSoap" name="WS_IVR_SBL_ATTIVAZIONE_SMC_SOSTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_SBL_ATTIVAZIONE_SMC_SOST" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>