osb_it/repo/SalesforceProject/REST/CRM/DECODER/HANDLER/PS_REST_CRM_DECODER_HANDLER/wsdl/SalesforceProject_REST_CRM_DECODER_HANDLER_proxy_PS_REST_CRM_DECODER_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_DECODER_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_DECODER_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_DECODER_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_DECODER_HANDLER">
        <plnk:role name="PS_REST_CRM_DECODER_HANDLERProvider" portType="tns:PS_REST_CRM_DECODER_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_DecoderHandler/xsd/XSD_CRM_DECODER_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="compDecoderInstall_inputMessage">
        <wsdl:part name="request" element="inp1:requestCompDecoderInstall"/>
    </wsdl:message>
    <wsdl:message name="compDecoderInstall_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCompDecoderInstall"/>
    </wsdl:message>
    <wsdl:message name="compDecoderInstall_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="compDecoderInstall_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="compDecoderInstall_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetIntended_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetIntended"/>
    </wsdl:message>
    <wsdl:message name="GetIntended_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetIntended"/>
    </wsdl:message>
    <wsdl:message name="GetIntended_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetIntended_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetIntended_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateIntended_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateIntended"/>
    </wsdl:message>
    <wsdl:message name="UpdateIntended_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateIntended"/>
    </wsdl:message>
    <wsdl:message name="UpdateIntended_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateIntended_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateIntended_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_DECODER_HANDLER_ptt">
        <wsdl:operation name="compDecoderInstall">
            <wsdl:input message="tns:compDecoderInstall_inputMessage"/>
            <wsdl:output message="tns:compDecoderInstall_outputMessage"/>
            <wsdl:fault name="error404" message="tns:compDecoderInstall_error404Message"/>
            <wsdl:fault name="error400" message="tns:compDecoderInstall_error400Message"/>
            <wsdl:fault name="error500" message="tns:compDecoderInstall_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="GetIntended">
            <wsdl:input message="tns:GetIntended_inputMessage"/>
            <wsdl:output message="tns:GetIntended_outputMessage"/>
            <wsdl:fault name="error404" message="tns:GetIntended_error404Message"/>
            <wsdl:fault name="error400" message="tns:GetIntended_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetIntended_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateIntended">
            <wsdl:input message="tns:UpdateIntended_inputMessage"/>
            <wsdl:output message="tns:UpdateIntended_outputMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateIntended_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateIntended_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateIntended_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_DECODER_HANDLER_ptt-binding" type="tns:PS_REST_CRM_DECODER_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="compDecoderInstall">
            <soap:operation soapAction="compDecoderInstall"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetIntended">
            <soap:operation soapAction="GetIntended"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateIntended">
            <soap:operation soapAction="UpdateIntended"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>