esb_it/repo/WS_CHECK_CONTRACT/wsdl/WS_CHECK_CONTRACT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="ComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_ASSET_NUMBER" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_TRANSACTION_DATE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCheckContract"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestWS" type="eb:ComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckContractResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ResponseWS" type="eb:ComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckContractRequest"> 
  <wsdl:part element="eb:opCheckContract" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckContractResponse"> 
  <wsdl:part element="eb:opCheckContractResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_CHECK_CONTRACTSoap"> 
  <wsdl:operation name="opCheckContract"> 
   <wsdl:input message="eb:opCheckContractRequest" name="opCheckContractRequest" /> 
   <wsdl:output message="eb:opCheckContractResponse" name="opCheckContractResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_CHECK_CONTRACTSoap" type="eb:WS_CHECK_CONTRACTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckContract"> 
   <soap:operation soapAction="WS_CHECK_CONTRACT/opCheckContract" style="document" /> 
   <wsdl:input name="opCheckContractRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckContractResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_CHECK_CONTRACT"> 
  <wsdl:port binding="eb:WS_CHECK_CONTRACTSoap" name="WS_CHECK_CONTRACTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_CHECK_CONTRACT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>