osb_it/repo/SiebelProject/PS_WS_SIE_SKY_VIA_FIBRA_DOWNLOAD/wsdl/SiebelProject_proxy_PS_WS_SIE_SKY_VIA_FIBRA_DOWNLOAD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/SIE_SKY_VIA_FIBRA_DOWNLOAD" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_SIE_SKY_VIA_FIBRA_DOWNLOAD" targetNamespace="http://www.skytv.it/mdw/service/SIE_SKY_VIA_FIBRA_DOWNLOAD">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SIE_SKY_VIA_FIBRA_DOWNLOAD.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestAttivazioneDownload_message">
		<wsdl:part name="part_requestAttivazioneDownload" element="inp1:requestAttivazioneDownload"/>
	</wsdl:message>
	<wsdl:message name="responseAttivazioneDownload_message">
		<wsdl:part name="part_responseAttivazioneDownload" element="inp1:responseAttivazioneDownload"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="SIE_SKY_VIA_FIBRA_DOWNLOAD_ptt">
		<wsdl:operation name="execute_AttivazioneDownload">
			<wsdl:input message="tns:requestAttivazioneDownload_message"/>
			<wsdl:output message="tns:responseAttivazioneDownload_message"/>
		</wsdl:operation>
  <wsdl:operation name="execute_MigrazioneSOIPvsHIP">
   <wsdl:input message="tns:requestMigrazioneSOIPvsHIP_message"/>
   <wsdl:output message="tns:responseMigrazioneSOIPvsHIP_message"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:message name="requestMigrazioneSOIPvsHIP_message">
  <wsdl:part name="part_requestMigrazioneSOIPvsHIP" element="inp1:requestMigrazioneSOIPvsHIP"/>
 </wsdl:message>
 <wsdl:message name="responseMigrazioneSOIPvsHIP_message">
  <wsdl:part name="part_responseMigrazioneSOIPvsHIP" element="inp1:responseMigrazioneSOIPvsHIP"/>
 </wsdl:message>
 <wsdl:binding name="SIE_SKY_VIA_FIBRA_DOWNLOAD_pttSOAP11Binding" type="tns:SIE_SKY_VIA_FIBRA_DOWNLOAD_ptt">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="execute_AttivazioneDownload">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/SIE_SKY_VIA_FIBRA_DOWNLOAD/execute_AttivazioneDownload"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestAttivazioneDownload"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseAttivazioneDownload"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_MigrazioneSOIPvsHIP">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/SIE_SKY_VIA_FIBRA_DOWNLOAD/execute_MigrazioneSOIPvsHIP"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestMigrazioneSOIPvsHIP"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseMigrazioneSOIPvsHIP"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>