esb_it/repo/WS_IVR_KBP_GET_BALANCE_SCADUTO/wsdl/WS_IVR_KBP_GET_BALANCE_SCADUTO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opGetBalanceScaduto"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetBalanceScadutoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="PY_X_IMPORTO_SCADUTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetBalanceScadutoRequest"> 
  <wsdl:part element="eb:opGetBalanceScaduto" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetBalanceScadutoResponse"> 
  <wsdl:part element="eb:opGetBalanceScadutoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_KBP_GET_BALANCE_SCADUTOSoap"> 
  <wsdl:operation name="opGetBalanceScaduto"> 
   <wsdl:input message="eb:opGetBalanceScadutoRequest" name="opGetBalanceScadutoRequest" /> 
   <wsdl:output message="eb:opGetBalanceScadutoResponse" name="opGetBalanceScadutoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_KBP_GET_BALANCE_SCADUTOSoap" type="eb:WS_IVR_KBP_GET_BALANCE_SCADUTOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetBalanceScaduto"> 
   <soap:operation soapAction="WS_IVR_KBP_GET_BALANCE_SCADUTO/opGetBalanceScaduto" style="document" /> 
   <wsdl:input name="opGetBalanceScadutoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetBalanceScadutoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_KBP_GET_BALANCE_SCADUTO"> 
  <wsdl:port binding="eb:WS_IVR_KBP_GET_BALANCE_SCADUTOSoap" name="WS_IVR_KBP_GET_BALANCE_SCADUTOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_KBP_GET_BALANCE_SCADUTO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>