osb_it/repo/SalesforceProject/REST/CRM/CHECK/PRE/LOGIN/PS_REST_CRM_CHECK_PRE_LOGIN/wadl/SalesforceProject_REST_CRM_CHECK_PRE_LOGIN_proxy_PS_REST_CRM_CHECK_PRE_LOGIN.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CHECK_PRE_LOGIN" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_CRM_CHECK_PRE_LOGIN">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_CheckPreLogin/xsd/XSD_CRM_CHECK_PRE_LOGIN.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="CheckPreLogin">
            <request>
               <param name="custId" style="query" soa:expression="$msg.request/ns0:custId" xmlns:ns0="http://www.skytv.it/mdw/data" default="" type="xsd:string"/>
               <param name="contrIdE2E" style="query" soa:expression="$msg.request/ns0:contrIdE2E" default="" type="xsd:string" xmlns:ns0="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseCheckPreLogin" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>