osb_it/repo/PegasusProject/GestioneTemplate/PS_WS_CRM_PGS_GESTIONE_TEMPLATE/wsdl/PegasusProject_GestioneTemplate_proxy_PS_WS_CRM_PGS_GESTIONE_TEMPLATE.wsdl

<wsdl:definitions name="WS_CRM_PGS_GESTIONE_TEMPLATE" targetNamespace="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_TEMPLATE" xmlns:tns="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_TEMPLATE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_TEMPLATE.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestGetPreview_Message">
        <wsdl:part name="part_requestGetPreview" element="inp1:requestGetPreview"/>
    </wsdl:message>
    <wsdl:message name="responseGetPreview_Message">
        <wsdl:part name="part_responseGetPreview" element="inp1:responseGetPreview"/>
    </wsdl:message>
    <wsdl:portType name="CRM_PGS_GESTIONE_TEMPLATE_ptt">
        <wsdl:operation name="execute_getPreview">
            <wsdl:input message="tns:requestGetPreview_Message"/>
            <wsdl:output message="tns:responseGetPreview_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_getListTemplate">
            <wsdl:input message="tns:requestGetListTemplate_Message"/>
            <wsdl:output message="tns:responseGetListTemplate_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="requestGetListTemplate_Message">
        <wsdl:part name="part_requestGetListTemplate" element="inp1:requestGetListTemplate"/>
    </wsdl:message>
    <wsdl:message name="responseGetListTemplate_Message">
        <wsdl:part name="responseGetListTemplate_Message" element="inp1:responseGetListTemplate"/>
    </wsdl:message>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:binding name="CRM_PGS_GESTIONE_TEMPLATE_pttSOAP11Binding" type="tns:CRM_PGS_GESTIONE_TEMPLATE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_getPreview">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_TEMPLATE/execute_getPreview"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetPreview"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetPreview"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_getListTemplate">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_TEMPLATE/execute_GetListTemplate"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetListTemplate"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="responseGetListTemplate_Message"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>