osb_it/repo/SalesforceProject/REST/CRM/PORTABILITY/HANDLER/PS_REST_CRM_PORTABILITY_HANDLER/wadl/SalesforceProject_REST_CRM_PORTABILITY_HANDLER_proxy_PS_REST_CRM_PORTABILITY_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1/SalesforceProject/PS_REST_CRM_PORTABILITY_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_CRM_PORTABILITY_HANDLER">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_PortabilityHandler/XSD_CRM_PORTABILITY_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/checkPortability">
         <method name="GET" soa:wsdlOperation="checkPortability">
            <request>
               <param name="mdwChannel" style="query" soa:expression="$msg.request/ns0:mdwChannel" default="" type="xsd:string"/>
               <param name="migrationCode" style="query" soa:expression="$msg.request/ns0:migrationCode" default="" type="xsd:string"/>
               <param name="migrationFieldName" style="query" soa:expression="$msg.request/ns0:migrationFieldName" default="" type="xsd:string"/>
               <param name="migrationCowCode" style="query" soa:expression="$msg.request/ns0:migrationCowCode" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseCheckPortability" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>