osb_it/repo/SiebelProject/PS_WS_CRM_SIE_ODS_ASYNC/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_ODS_ASYNC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_ODS_ASYNC" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_ODS_ASYNC" targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_ODS_ASYNC">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_ODS_ASYNC.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="responseInviaSmc_message">
		<wsdl:part name="part_requestInviaSmc" element="inp1:requestInviaSmc"/>
	</wsdl:message>
	<wsdl:message name="requestInviaSmc_message">
		<wsdl:part name="part_responseInviaSmc" element="inp1:responseInviaSmc"/>
	</wsdl:message>
	<wsdl:message name="responseInviaDtt_message">
		<wsdl:part name="part_requestInviaDtt" element="inp1:requestInviaDtt"/>
	</wsdl:message>
	<wsdl:message name="requestInviaDtt_message">
		<wsdl:part name="part_responseInviaDtt" element="inp1:responseInviaDtt"/>
	</wsdl:message>
	<wsdl:message name="responseSetOds_message">
		<wsdl:part name="part_requestSetOds" element="inp1:requestSetOds"/>
	</wsdl:message>
	<wsdl:message name="requestSetOds_message">
		<wsdl:part name="part_responseSetOds" element="inp1:responseSetOds"/>
	</wsdl:message>
	<wsdl:message name="responseGetOdsTracking_message">
		<wsdl:part name="part_requestGetOdsTracking" element="inp1:requestGetOdsTracking"/>
	</wsdl:message>
	<wsdl:message name="requestGetOdsTracking_message">
		<wsdl:part name="part_responseGetOdsTracking" element="inp1:responseGetOdsTracking"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_SIE_ODS_ASYNC_ptt">
		<wsdl:operation name="execute_inviaSmc">
			<wsdl:input message="tns:responseInviaSmc_message"/>
			<wsdl:output message="tns:requestInviaSmc_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_inviaDtt">
			<wsdl:input message="tns:responseInviaDtt_message"/>
			<wsdl:output message="tns:requestInviaDtt_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_setOds">
			<wsdl:input message="tns:responseSetOds_message"/>
			<wsdl:output message="tns:requestSetOds_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getOdsTracking">
			<wsdl:input message="tns:responseGetOdsTracking_message"/>
			<wsdl:output message="tns:requestGetOdsTracking_message"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="CRM_SIE_ODS_ASYNC_pttSOAP11Binding" type="tns:CRM_SIE_ODS_ASYNC_ptt">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="execute_inviaSmc">
   <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_SIE_ODS_ASYNC/execute_inviaSmc"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestInviaSmc"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseInviaSmc"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_inviaDtt">
   <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_SIE_ODS_ASYNC/execute_inviaDtt"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestInviaDtt"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseInviaDtt"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_setOds">
   <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_SIE_ODS_ASYNC/execute_setOds"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestSetOds"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseSetOds"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_getOdsTracking">
   <soap:operation style="document"
                   soapAction="http://www.skytv.it/mdw/service/CRM_SIE_ODS_ASYNC/execute_getOdsTracking"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestGetOdsTracking"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseGetOdsTracking"/>
    <soap:header message="tns:header_message" part="part_header" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>