esb_it/repo/WS_SF_FWB_SEND_TV_ORDER/wsdl/WS_SF_FWB_SEND_TV_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/SendOrderTv" schemaLocation="xsdFWB/SkyXSD_FWB_SendTVOrder.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/SendOrderTv"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://it.fastweb.esb.org/SendOrderTv"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSendTVOrder"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendTVOrderResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSendTVOrderRequest"> 
  <wsdl:part element="eb:opSendTVOrder" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendTVOrderResponse"> 
  <wsdl:part element="eb:opSendTVOrderResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_FWB_SEND_TV_ORDERSoap"> 
  <wsdl:operation name="opSendTVOrder"> 
   <wsdl:input message="eb:opSendTVOrderRequest" name="opSendTVOrderRequest" /> 
   <wsdl:output message="eb:opSendTVOrderResponse" name="opSendTVOrderResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_FWB_SEND_TV_ORDERSoap" type="eb:WS_SF_FWB_SEND_TV_ORDERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSendTVOrder"> 
   <soap:operation soapAction="WS_SF_FWB_SEND_TV_ORDER/opSendTVOrder" style="document" /> 
   <wsdl:input name="opSendTVOrderRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendTVOrderResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_FWB_SEND_TV_ORDER"> 
  <wsdl:port binding="eb:WS_SF_FWB_SEND_TV_ORDERSoap" name="WS_SF_FWB_SEND_TV_ORDERSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_sf_ns/WS_SF_FWB_SEND_TV_ORDER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>