esb_it/repo/WS_ATTIVA_CNTR/wsdl/WS_ATTIVA_CNTR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="ATTIVA_CNTR"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="NUMERO_ACCOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CONNID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ATTIVA_CNTRResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CODICE_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="DESCRIZIONE_MESSAGGIO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ATTIVA_CNTRRequest"> 
  <wsdl:part element="eb:ATTIVA_CNTR" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ATTIVA_CNTRResponse"> 
  <wsdl:part element="eb:ATTIVA_CNTRResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ATTIVA_CNTRSoap"> 
  <wsdl:operation name="ATTIVA_CNTR"> 
   <wsdl:input message="eb:ATTIVA_CNTRRequest" name="ATTIVA_CNTRRequest" /> 
   <wsdl:output message="eb:ATTIVA_CNTRResponse" name="ATTIVA_CNTRResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ATTIVA_CNTRSoap" type="eb:WS_ATTIVA_CNTRSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ATTIVA_CNTR"> 
   <soap:operation soapAction="WS_ATTIVA_CNTR/ATTIVA_CNTR" style="document" /> 
   <wsdl:input name="ATTIVA_CNTRRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ATTIVA_CNTRResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ATTIVA_CNTR"> 
  <wsdl:port binding="eb:WS_ATTIVA_CNTRSoap" name="WS_ATTIVA_CNTRSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_ATTIVA_CNTR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>