osb_it/repo/MDWProject/AlignmentScenarioResubmission/PS_WS_MDW_ALIGN_SCENARIO_RESUBMISSION/wsdl/MDWProject_AlignmentScenarioResubmission_proxy_PS_WS_MDW_ALIGN_SCENARIO_RESUBMISSION.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WS_MDW_ALIGN_SCENARIO_RESUBMISSION"
                  targetNamespace="http://xmlns.oracle.com/OSBSvil/MDW_CDM/WS_MDW_ALIGN_SCENARIO_RESUBMISSION"
                  xmlns:tns="http://xmlns.oracle.com/OSBSvil/MDW_CDM/WS_MDW_ALIGN_SCENARIO_RESUBMISSION"
                  xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_ALIGN_SCENARIO_RESUBMISSION.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Message_Header">
    <wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:message name="requestMessageWithFunctionalKeys">
    <wsdl:part name="part_RequestAlignScenarioResubmissionWithFunctionalKeys"
               element="inp1:requestAlignScenarioResubmissionWithFunctionalKeys"/>
  </wsdl:message>
  <wsdl:message name="requestMessageWithTechnicalKeys">
    <wsdl:part name="part_RequestAlignScenarioResubmissionWithTechnicalKeys"
               element="inp1:requestAlignScenarioResubmissionWithTechnicalKeys"/>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="part_ResponseAlignScenarioResubmission" element="inp1:responseAlignScenarioResubmission"/>
  </wsdl:message>
  <wsdl:portType name="AlignScenarioResubmission_ptt">
    <wsdl:operation name="execute_AlignScenarioResubmissionWithFunctionalKeys">
      <wsdl:input message="tns:requestMessageWithFunctionalKeys"/>
      <wsdl:output message="tns:replyMessage"/>
    </wsdl:operation>
    <wsdl:operation name="execute_AlignScenarioResubmissionWithTechnicalKeys">
      <wsdl:input message="tns:requestMessageWithTechnicalKeys"/>
      <wsdl:output message="tns:replyMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AlignScenarioResubmission_bind" type="tns:AlignScenarioResubmission_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_AlignScenarioResubmissionWithFunctionalKeys">
      <soap:operation style="document" soapAction="execute_AlignScenarioResubmissionWithFunctionalKeys"/>
      <wsdl:input>
        <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
        <soap:body use="literal" parts="part_RequestAlignScenarioResubmissionWithFunctionalKeys"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
        <soap:body use="literal" parts="part_ResponseAlignScenarioResubmission"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_AlignScenarioResubmissionWithTechnicalKeys">
      <soap:operation style="document" soapAction="execute_AlignScenarioResubmissionWithTechnicalKeys"/>
      <wsdl:input>
        <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
        <soap:body use="literal" parts="part_RequestAlignScenarioResubmissionWithTechnicalKeys"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:Message_Header" part="part_HeaderMessage" use="literal"/>
        <soap:body use="literal" parts="part_ResponseAlignScenarioResubmission"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>