osb_it/repo/BlueBirdProject/DB/CRM/numberPortability/PS_REST_NUMBER_PORTABILITY/wsdl/BlueBirdProject_DB_CRM_numberPortability_proxy_PS_REST_NUMBER_PORTABILITY.wsdl

<wsdl:definitions name="PS_REST_NUMBER_PORTABILITY" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_NUMBER_PORTABILITY" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_NUMBER_PORTABILITY" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_NUMBER_PORTABILITY">
        <plnk:role name="PS_REST_NUMBER_PORTABILITYProvider" portType="tns:PS_REST_NUMBER_PORTABILITY_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DB_CRM/numberPortability/xsd/XSD_MDW_NUMBER_PORTABILITY.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="verificationsNumberPortability_inputMessage">
        <wsdl:part name="request" element="inp1:requestVerifyNumberPortability"/>
    </wsdl:message>
    <wsdl:message name="verificationsNumberPortability_outputMessage">
        <wsdl:part name="reply" element="inp1:responseVerifyNumberPortability"/>
    </wsdl:message>
    <wsdl:message name="verificationsNumberPortability_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="verificationsNumberPortability_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="verificationsNumberPortability_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_NUMBER_PORTABILITY_ptt">
        <wsdl:operation name="verificationsNumberPortability">
            <wsdl:input message="tns:verificationsNumberPortability_inputMessage"/>
            <wsdl:output message="tns:verificationsNumberPortability_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:verificationsNumberPortability_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:verificationsNumberPortability_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:verificationsNumberPortability_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_NUMBER_PORTABILITY_ptt-binding" type="tns:PS_REST_NUMBER_PORTABILITY_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verificationsNumberPortability">
            <soap:operation soapAction="verificationsNumberPortability"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>