esb_it/repo/WS_LEGGI_ATTIVAZ/wsdl/WS_LEGGI_ATTIVAZ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_REF_ID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_INIZIO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_FINE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_STATO_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_COSTO_EVENTO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_LEGGI_ATTIVAZ"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_STANZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_SMART_CARD" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_LEGGI_ATTIVAZResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_LEGGI_ATTIVAZRequest"> 
  <wsdl:part element="eb:OP_LEGGI_ATTIVAZ" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_LEGGI_ATTIVAZResponse"> 
  <wsdl:part element="eb:OP_LEGGI_ATTIVAZResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LEGGI_ATTIVAZSoap"> 
  <wsdl:operation name="OP_LEGGI_ATTIVAZ"> 
   <wsdl:input message="eb:OP_LEGGI_ATTIVAZRequest" name="OP_LEGGI_ATTIVAZRequest" /> 
   <wsdl:output message="eb:OP_LEGGI_ATTIVAZResponse" name="OP_LEGGI_ATTIVAZResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LEGGI_ATTIVAZSoap" type="eb:WS_LEGGI_ATTIVAZSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_LEGGI_ATTIVAZ"> 
   <soap:operation soapAction="WS_LEGGI_ATTIVAZ/OP_LEGGI_ATTIVAZ" style="document" /> 
   <wsdl:input name="OP_LEGGI_ATTIVAZRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_LEGGI_ATTIVAZResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LEGGI_ATTIVAZ"> 
  <wsdl:port binding="eb:WS_LEGGI_ATTIVAZSoap" name="WS_LEGGI_ATTIVAZSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LEGGI_ATTIVAZ" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>