osb_it/repo/BlueBirdProject/SALESFORCE/mopHandler/PS_REST_SF_MOP_HANDLER/wsdl/BlueBirdProject_SALESFORCE_mopHandler_proxy_PS_REST_SF_MOP_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_MOP_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_MOP_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_MOP_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SF_MOP_HANDLER">
        <plnk:role name="PS_REST_SF_MOP_HANDLERProvider" portType="tns:PS_REST_SF_MOP_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/mopHandler/xsd/XSD_SF_MOP_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ChangeMOP_inputMessage">
        <wsdl:part name="request" element="inp1:requestChangeMOP"/>
    </wsdl:message>
    <wsdl:message name="ChangeMOP_outputMessage">
        <wsdl:part name="reply" element="inp1:responseMOPHandler"/>
    </wsdl:message>
    <wsdl:message name="ChangeMOP_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ChangeMOP_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ChangeMOP_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetCompatibleMOPs_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetCompatibleMOPs"/>
    </wsdl:message>
    <wsdl:message name="GetCompatibleMOPs_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetCompatibleMOPs"/>
    </wsdl:message>
    <wsdl:message name="GetCompatibleMOPs_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetCompatibleMOPs_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="GetCompatibleMOPs_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_MOP_HANDLER_ptt">
        <wsdl:operation name="ChangeMOP">
            <wsdl:input message="tns:ChangeMOP_inputMessage"/>
            <wsdl:output message="tns:ChangeMOP_outputMessage"/>
            <wsdl:fault name="error400" message="tns:ChangeMOP_error400Message"/>
            <wsdl:fault name="error500" message="tns:ChangeMOP_error500Message"/>
            <wsdl:fault name="error404" message="tns:ChangeMOP_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="GetCompatibleMOPs">
            <wsdl:input message="tns:GetCompatibleMOPs_inputMessage"/>
            <wsdl:output message="tns:GetCompatibleMOPs_outputMessage"/>
            <wsdl:fault name="error400" message="tns:GetCompatibleMOPs_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetCompatibleMOPs_error500Message"/>
            <wsdl:fault name="error404" message="tns:GetCompatibleMOPs_error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_MOP_HANDLER_ptt-binding" type="tns:PS_REST_SF_MOP_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ChangeMOP">
            <soap:operation soapAction="ChangeMOP"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetCompatibleMOPs">
            <soap:operation soapAction="GetCompatibleMOPs"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>