esb_it/repo/WS_HTL_SWAP_SMARTCARD/wsdl/WS_HTL_SWAP_SMARTCARD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_HOTEL" type="xsd:string" /> 
     <xsd:element name="HTL_SMC_PRESENTE" type="xsd:string" /> 
     <xsd:element name="HTL_CODICE_SMC" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSwapSmartCard"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSwapSmartCardResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSwapSmartCardRequest"> 
  <wsdl:part element="eb:opSwapSmartCard" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSwapSmartCardResponse"> 
  <wsdl:part element="eb:opSwapSmartCardResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SWAP_SMARTCARDSoap"> 
  <wsdl:operation name="opSwapSmartCard"> 
   <wsdl:input message="eb:opSwapSmartCardRequest" name="opSwapSmartCardRequest" /> 
   <wsdl:output message="eb:opSwapSmartCardResponse" name="opSwapSmartCardResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SWAP_SMARTCARDSoap" type="eb:WS_HTL_SWAP_SMARTCARDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSwapSmartCard"> 
   <soap:operation soapAction="WS_HTL_SWAP_SMARTCARD/opSwapSmartCard" style="document" /> 
   <wsdl:input name="opSwapSmartCardRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSwapSmartCardResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SWAP_SMARTCARD"> 
  <wsdl:port binding="eb:WS_HTL_SWAP_SMARTCARDSoap" name="WS_HTL_SWAP_SMARTCARDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_SWAP_SMARTCARD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>