esb_it/repo/VerificaSmcAdultH24/wsdl/VerificaSmcAdultH24.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpVerificaSmc"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpVerificaSmcResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPPV_TIPOLOGIA_UTENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPPV_CPI_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PPV_PIN" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ISH24" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpVerificaSmcRequest"> 
  <wsdl:part element="eb:OpVerificaSmc" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpVerificaSmcResponse"> 
  <wsdl:part element="eb:OpVerificaSmcResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="VerificaSmcAdultH24Soap"> 
  <wsdl:operation name="OpVerificaSmc"> 
   <wsdl:input message="eb:OpVerificaSmcRequest" name="OpVerificaSmcRequest" /> 
   <wsdl:output message="eb:OpVerificaSmcResponse" name="OpVerificaSmcResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="VerificaSmcAdultH24Soap" type="eb:VerificaSmcAdultH24Soap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpVerificaSmc"> 
   <soap:operation soapAction="VerificaSmcAdultH24/OpVerificaSmc" style="document" /> 
   <wsdl:input name="OpVerificaSmcRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpVerificaSmcResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="VerificaSmcAdultH24"> 
  <wsdl:port binding="eb:VerificaSmcAdultH24Soap" name="VerificaSmcAdultH24Soap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/VerificaSmcAdultH24" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>