esb_it/repo/WS_IVR_KBP_GET_BALANCE_A_SCADERE/wsdl/WS_IVR_KBP_GET_BALANCE_A_SCADERE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opGetBalanceAScadere"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OD_X_CAUSALE_SOSPENSIONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetBalanceAScadereResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_IMPORTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="PY_X_IMPORTO_PENALE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_NUMERO_FATTURE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetBalanceAScadereRequest"> 
  <wsdl:part element="eb:opGetBalanceAScadere" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetBalanceAScadereResponse"> 
  <wsdl:part element="eb:opGetBalanceAScadereResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_KBP_GET_BALANCE_A_SCADERESoap"> 
  <wsdl:operation name="opGetBalanceAScadere"> 
   <wsdl:input message="eb:opGetBalanceAScadereRequest" name="opGetBalanceAScadereRequest" /> 
   <wsdl:output message="eb:opGetBalanceAScadereResponse" name="opGetBalanceAScadereResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_KBP_GET_BALANCE_A_SCADERESoap" type="eb:WS_IVR_KBP_GET_BALANCE_A_SCADERESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetBalanceAScadere"> 
   <soap:operation soapAction="WS_IVR_KBP_GET_BALANCE_A_SCADERE/opGetBalanceAScadere" style="document" /> 
   <wsdl:input name="opGetBalanceAScadereRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetBalanceAScadereResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_KBP_GET_BALANCE_A_SCADERE"> 
  <wsdl:port binding="eb:WS_IVR_KBP_GET_BALANCE_A_SCADERESoap" name="WS_IVR_KBP_GET_BALANCE_A_SCADERESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_KBP_GET_BALANCE_A_SCADERE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>