osb_it/repo/BlueBirdProject/KENAN/invoiceInfos/PS_REST_KENAN_INVOICE_INFO/xsd/XSD_KENAN_INVOICE_INFO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestRetrieveFirstInvoiceEmissionDate" type="requestRetrieveFirstInvoiceEmissionDateType"/>
	<xsd:complexType name="requestRetrieveFirstInvoiceEmissionDateType">
		<xsd:sequence>
			<xsd:element name="E2EId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseRetrieveFirstInvoiceEmissionDate" type="responseRetrieveFirstInvoiceEmissionDateType"/>
	<xsd:complexType name="responseRetrieveFirstInvoiceEmissionDateType">
		<xsd:sequence>
			<xsd:element name="firstInvoices" type="firstInvoicesType" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="firstInvoicesType">
		<xsd:sequence>
			<xsd:element name="firstInvoice" type="firstInvoiceType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="firstInvoiceType">
		<xsd:sequence>
			<xsd:element name="date" type="xsd:date" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="streamType" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>