osb_it/repo/BlueBirdProject/OM/tyo/PS_REST_OM_TYO/xsd/XSD_OM_TYO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestGetOrderTrackingDetails" type="requestGetOrderTrackingDetailsType"/>
  <xsd:element name="responseGetOrderTrackingDetails" type="resultGetOrderTrackingDetailsType"/>
  <xsd:element name="responseGetOrderTrackingDetailsSoap" type="resultGetOrderTrackingDetailsSoapType"/>
  <xsd:element name="requestGetOrderTracking" type="requestGetOrderTrackingType"/>
  <xsd:element name="responseGetOrderTracking" type="resultGetOrderTrackingType"/>
  <xsd:element name="responseGetOrderTrackingSoap" type="resultGetOrderTrackingSoapType"/>
  <xsd:complexType name="requestGetOrderTrackingDetailsType">
    <xsd:sequence>
      <xsd:element name="orderId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="system" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderLineType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderLineSubType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="requestGetOrderTrackingType">
    <xsd:sequence>
      <xsd:element name="contractId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="system" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderLineType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderLineSubType" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultGetOrderTrackingDetailsType">
    <xsd:sequence>
      <xsd:element name="order" type="orderType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultGetOrderTrackingType">
    <xsd:sequence>
      <xsd:element name="orders" type="ordersType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="orderTrackingType">
    <xsd:sequence>
      <xsd:element name="orders" type="ordersType" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ordersType">
    <xsd:sequence>
      <xsd:element name="order" type="orderType" minOccurs="1" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="orderReasonsType">
    <xsd:sequence>
      <xsd:element name="orderReason" type="orderReasonType" minOccurs="1" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="orderType">
    <xsd:sequence>
      <xsd:element name="orderId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="contractId" type="xsd:string" minOccurs="1"/>
      <xsd:element name="currentStatus" type="xsd:string" minOccurs="1"/>
      <xsd:element name="offerType" type="xsd:string" minOccurs="1"/>
      <xsd:element name="orderType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderReasons" type="orderReasonsType" minOccurs="0"/>
      <xsd:element name="trackStatusOrder" type="trackStatusOrderType" minOccurs="0"/>
      <xsd:element name="statusDetail" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderLineType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="orderLineSubType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="lastUpdateOrder" type="xsd:string" minOccurs="0"/>
      <xsd:element name="arpuPackage" type="xsd:string" minOccurs="0"/>
      <xsd:element name="wholesalerBB" type="xsd:string" minOccurs="0"/> <!-- aggiunto per la  CT FW02-->
      <xsd:element name="areaBB" type="xsd:string" minOccurs="0"/> <!-- aggiunto per la  CR 179.1-->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="orderReasonType">
    <xsd:sequence>
      <xsd:element name="type" type="xsd:string" minOccurs="1"/>
      <xsd:element name="statusProgress" type="xsd:string" minOccurs="1"/>
      <xsd:element name="eventDate" type="xsd:dateTime" minOccurs="1"/>
      <xsd:element name="systemOwner" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="trackStatusOrderType">
    <xsd:sequence>
      <xsd:element name="statusOrder" type="statusOrderType" minOccurs="0" maxOccurs="100"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="statusOrderType">
    <xsd:sequence>
      <xsd:element name="status" type="xsd:string" minOccurs="0"/>
      <xsd:element name="eventDate" type="xsd:dateTime" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultGetOrderTrackingDetailsSoapType">
    <xsd:sequence>
      <xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="resultDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element ref="responseGetOrderTrackingDetails" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resultGetOrderTrackingSoapType">
    <xsd:sequence>
      <xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
      <xsd:element name="resultDescription" type="xsd:string" minOccurs="0"/>
      <xsd:element ref="responseGetOrderTracking" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>