esb_it/repo/WS_ACQUISTO_GIOCHI/wsdl/WS_ACQUISTO_GIOCHI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_TITOLO_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_COSTO_SERVIZIO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PROMO_KIND" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_PROMO_DETAILS" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO_ORIGINALE" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opAcquistoGiochi"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_TELEPHONE_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_REF_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_MEDIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_EVENT_TRASM_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PICKEMIX_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAcquistoGiochiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ComplexOutput" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAcquistoGiochiRequest"> 
  <wsdl:part element="eb:opAcquistoGiochi" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAcquistoGiochiResponse"> 
  <wsdl:part element="eb:opAcquistoGiochiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ACQUISTO_GIOCHISoap"> 
  <wsdl:operation name="opAcquistoGiochi"> 
   <wsdl:input message="eb:opAcquistoGiochiRequest" name="opAcquistoGiochiRequest" /> 
   <wsdl:output message="eb:opAcquistoGiochiResponse" name="opAcquistoGiochiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ACQUISTO_GIOCHISoap" type="eb:WS_ACQUISTO_GIOCHISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAcquistoGiochi"> 
   <soap:operation soapAction="WS_ACQUISTO_GIOCHI/opAcquistoGiochi" style="document" /> 
   <wsdl:input name="opAcquistoGiochiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAcquistoGiochiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ACQUISTO_GIOCHI"> 
  <wsdl:port binding="eb:WS_ACQUISTO_GIOCHISoap" name="WS_ACQUISTO_GIOCHISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_ACQUISTO_GIOCHI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>