osb_it/repo/SiebelProject/PS_WS_CRM_SIE_GET_INFO/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_GET_INFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_GET_INFO" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_SIE_GET_INFO" targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_GET_INFO">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_GET_INFO.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="responseGetExitFee_message">
		<wsdl:part name="part_requestGetExitFee" element="inp1:requestGetExitFee"/>
	</wsdl:message>
	<wsdl:message name="requestGetExitFee_message">
		<wsdl:part name="part_responseGetExitFee" element="inp1:responseGetExitFee"/>
	</wsdl:message>
	<wsdl:message name="responseGetStoricoExitfee_message">
		<wsdl:part name="part_requestGetStoricoExitfee" element="inp1:requestGetStoricoExitfee"/>
	</wsdl:message>
	<wsdl:message name="requestGetStoricoExitfee_message">
		<wsdl:part name="part_responseGetStoricoExitfee" element="inp1:responseGetStoricoExitfee"/>
	</wsdl:message>
	<wsdl:message name="responseGetScontiExitFee_message">
		<wsdl:part name="part_requestGetScontiExitFee" element="inp1:requestGetScontiExitFee"/>
	</wsdl:message>
	<wsdl:message name="requestGetScontiExitFee_message">
		<wsdl:part name="part_responseGetScontiExitFee" element="inp1:responseGetScontiExitFee"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_SIE_GET_INFO_ptt">
		<wsdl:operation name="execute_getExitFee">
			<wsdl:input message="tns:responseGetExitFee_message"/>
			<wsdl:output message="tns:requestGetExitFee_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getStoricoExitfee">
			<wsdl:input message="tns:responseGetStoricoExitfee_message"/>
			<wsdl:output message="tns:requestGetStoricoExitfee_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_GetScontiExitFee">
			<wsdl:input message="tns:responseGetScontiExitFee_message"/>
			<wsdl:output message="tns:requestGetScontiExitFee_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CRM_SIE_GET_INFO_pttSOAP11Binding" type="tns:CRM_SIE_GET_INFO_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_getExitFee">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GET_INFO/execute_getExitFee" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetExitFee" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetExitFee" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_getStoricoExitfee">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GET_INFO/execute_getStoricoExitFee" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetStoricoExitfee" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetStoricoExitfee" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_GetScontiExitFee">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GET_INFO/execute_GetScontiExitFee" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetScontiExitFee" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetScontiExitFee" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>