osb_it/repo/SalesforceProject/REST/CRM/AMS/FLAG/HANDLER/PS_REST_CRM_AMS_FLAG_HANDLER/xsd/XSD_CRM_AMS_FLAG_HANDLER.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestAMSGetFlags" type="requestAMSGetFlagsType"/>
  <xsd:element name="responseAMSGetFlags" type="responseAMSGetFlagsType"/>
  <xsd:complexType name="requestAMSGetFlagsType">
    <xsd:sequence>
      <xsd:element name="mdwSMCCode" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="responseAMSGetFlagsType">
    <xsd:sequence>
       <xsd:element name="mdwDataNavigationVisionFlag" type="xsd:string">
	  </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>