esb_it/repo/WS_PEGASUS_SEND/wsdl/WS_PEGASUS_SEND.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import schemaLocation="xsdPegasus/SkyXSD_WS_PEGASUS_SEND.xsd" /> 
   <xsd:complexType name="sendMDW"> 
    <xsd:complexContent> 
     <xsd:extension base="sendMessage" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSendPGS"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="send" type="eb:sendMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendPGSResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="esito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="descrizioneEsito" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="tid" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSendPGSRequest"> 
  <wsdl:part element="eb:opSendPGS" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendPGSResponse"> 
  <wsdl:part element="eb:opSendPGSResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PEGASUS_SENDSoap"> 
  <wsdl:operation name="opSendPGS"> 
   <wsdl:input message="eb:opSendPGSRequest" name="opSendPGSRequest" /> 
   <wsdl:output message="eb:opSendPGSResponse" name="opSendPGSResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PEGASUS_SENDSoap" type="eb:WS_PEGASUS_SENDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSendPGS"> 
   <soap:operation soapAction="WS_PEGASUS_SEND/opSendPGS" style="document" /> 
   <wsdl:input name="opSendPGSRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendPGSResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PEGASUS_SEND"> 
  <wsdl:port binding="eb:WS_PEGASUS_SENDSoap" name="WS_PEGASUS_SENDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PEGASUS_SEND" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>