esb_it/repo/WS_HTL_GESTIONE_STAG_FLX/wsdl/WS_HTL_GESTIONE_STAG_FLX.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_HOTEL" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_SCAD_CONTR" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_ADES_STAG_FLEX" type="xsd:string" /> 
     <xsd:element name="HTL_TIPO_OPERAZIONE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_APERTURE_FML32" type="eb:FMLComplexInputAperture" /> 
     <xsd:element minOccurs="0" name="HTL_PREZZI_FLEX_FML32" type="eb:FMLComplexInputPrezzi" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputApertura"> 
    <xsd:sequence> 
     <xsd:element name="HTL_DATA_INIZIO" type="xsd:string" /> 
     <xsd:element name="HTL_DATA_FINE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputAperture"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="2" name="HTL_APERTURA_FML32" type="eb:FMLComplexInputApertura" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputPrezzo"> 
    <xsd:sequence> 
     <xsd:element name="HTL_PREZZO" type="xsd:string" /> 
     <xsd:element name="HTL_TIPO_PERIODO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInputPrezzi"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="3" minOccurs="3" name="HTL_PREZZO_FLEX_FML32" type="eb:FMLComplexInputPrezzo" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="WS_TID" type="xsd:string" /> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OpGestStagFlex"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpGestStagFlexResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpGestStagFlexRequest"> 
  <wsdl:part element="eb:OpGestStagFlex" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpGestStagFlexResponse"> 
  <wsdl:part element="eb:OpGestStagFlexResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_GESTIONE_STAG_FLXSoap"> 
  <wsdl:operation name="OpGestStagFlex"> 
   <wsdl:input message="eb:OpGestStagFlexRequest" name="OpGestStagFlexRequest" /> 
   <wsdl:output message="eb:OpGestStagFlexResponse" name="OpGestStagFlexResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_GESTIONE_STAG_FLXSoap" type="eb:WS_HTL_GESTIONE_STAG_FLXSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpGestStagFlex"> 
   <soap:operation soapAction="WS_HTL_GESTIONE_STAG_FLX/OpGestStagFlex" style="document" /> 
   <wsdl:input name="OpGestStagFlexRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpGestStagFlexResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
</wsdl:definitions>