esb_it/repo/WS_IVR_VERIFICA_INCASSO/wsdl/WS_IVR_VERIFICA_INCASSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opVerificaIncasso"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ORDER_NUM_CONTR" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="VALUTA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="IMPORTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TIPO_PAGAMENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CONNID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaIncassoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerificaIncassoRequest"> 
  <wsdl:part element="eb:opVerificaIncasso" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaIncassoResponse"> 
  <wsdl:part element="eb:opVerificaIncassoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_VERIFICA_INCASSOSoap"> 
  <wsdl:operation name="opVerificaIncasso"> 
   <wsdl:input message="eb:opVerificaIncassoRequest" name="opVerificaIncassoRequest" /> 
   <wsdl:output message="eb:opVerificaIncassoResponse" name="opVerificaIncassoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_VERIFICA_INCASSOSoap" type="eb:WS_IVR_VERIFICA_INCASSOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerificaIncasso"> 
   <soap:operation soapAction="WS_IVR_VERIFICA_INCASSO/opVerificaIncasso" style="document" /> 
   <wsdl:input name="opVerificaIncassoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaIncassoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_VERIFICA_INCASSO"> 
  <wsdl:port binding="eb:WS_IVR_VERIFICA_INCASSOSoap" name="WS_IVR_VERIFICA_INCASSOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_VERIFICA_INCASSO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>