osb_it/repo/BlueBirdProject/SALESFORCE/consentHandler/PS_REST_SF_CONSENT_HANDLER/wsdl/BlueBirdProject_SALESFORCE_consentHandler_proxy_PS_REST_SF_CONSENT_HANDLER.wsdl

<wsdl:definitions name="PS_REST_SF_CONSENT_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_CONSENT_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_CONSENT_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_CONSENT_HANDLER">
        <plnk:role name="PS_REST_SF_CONSENT_HANDLERProvider" portType="tns:PS_REST_SF_CONSENT_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/consentHandler/xsd/XSD_SF_CONSENT_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdatePhoneConsent_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdatePhoneConsent"/>
    </wsdl:message>
    <wsdl:message name="UpdatePhoneConsent_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdatePhoneConsent"/>
    </wsdl:message>
    <wsdl:message name="UpdatePhoneConsent_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdatePhoneConsent_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdatePhoneConsent_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_CONSENT_HANDLER_ptt">
        <wsdl:operation name="UpdatePhoneConsent">
            <wsdl:input message="tns:UpdatePhoneConsent_inputMessage"/>
            <wsdl:output message="tns:UpdatePhoneConsent_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:UpdatePhoneConsent_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:UpdatePhoneConsent_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:UpdatePhoneConsent_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_CONSENT_HANDLER_ptt-binding" type="tns:PS_REST_SF_CONSENT_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdatePhoneConsent">
            <soap:operation soapAction="UpdatePhoneConsent"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>