esb_it/repo/WS_HTL_VISUALIZZA_MODULI/wsdl/WS_HTL_VISUALIZZA_MODULI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="VisualizzaModuliCanali"> 
    <xsd:sequence> 
     <xsd:element name="operationType" type="xsd:string" /> 
     <xsd:element name="codiceHotel" type="xsd:string" /> 
     <xsd:element name="modules" type="eb:c_modules" /> 
     <xsd:element name="diseqcs" type="eb:c_diseqcs" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_modules"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="module" type="eb:c_module" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_module"> 
    <xsd:sequence> 
     <xsd:element name="numeroModulo" type="xsd:string" /> 
     <xsd:element name="serialNumber" type="xsd:string" /> 
     <xsd:element name="smc" type="xsd:string" /> 
     <xsd:element name="channels" type="eb:c_channels" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_channels"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="channel" type="eb:c_channel" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_channel"> 
    <xsd:sequence> 
     <xsd:element name="rowId" type="xsd:string" /> 
     <xsd:element name="diseqc" type="xsd:string" /> 
     <xsd:element name="frequency" type="xsd:string" /> 
     <xsd:element name="sid" type="xsd:string" /> 
     <xsd:element name="name" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_diseqcs"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="diseqc" type="eb:c_diseqc" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_diseqc"> 
    <xsd:sequence> 
     <xsd:element name="id" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVisualizzaModuli"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="HTL_CODICE_HOTEL" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVisualizzaModuliResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="VisualizzaModuliCanali" type="eb:VisualizzaModuliCanali" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVisualizzaModuliRequest"> 
  <wsdl:part element="eb:opVisualizzaModuli" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVisualizzaModuliResponse"> 
  <wsdl:part element="eb:opVisualizzaModuliResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_VISUALIZZA_MODULISoap"> 
  <wsdl:operation name="opVisualizzaModuli"> 
   <wsdl:input message="eb:opVisualizzaModuliRequest" name="opVisualizzaModuliRequest" /> 
   <wsdl:output message="eb:opVisualizzaModuliResponse" name="opVisualizzaModuliResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_VISUALIZZA_MODULISoap" type="eb:WS_HTL_VISUALIZZA_MODULISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVisualizzaModuli"> 
   <soap:operation soapAction="WS_HTL_VISUALIZZA_MODULI/opVisualizzaModuli" style="document" /> 
   <wsdl:input name="opVisualizzaModuliRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVisualizzaModuliResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_VISUALIZZA_MODULI"> 
  <wsdl:port binding="eb:WS_HTL_VISUALIZZA_MODULISoap" name="WS_HTL_VISUALIZZA_MODULISoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_VISUALIZZA_MODULI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>