osb_it/repo/BlueBirdProject/OM/orderValidation/PS_REST_OM_ORDER_VALIDATION/wsdl/BlueBirdProject_OM_orderValidation_proxy_PS_REST_OM_ORDER_VALIDATION.wsdl

<wsdl:definitions name="PS_REST_OM_ORDER_VALIDATION" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_OM_ORDER_VALIDATION" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_OM_ORDER_VALIDATION" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_OM_ORDER_VALIDATION">
        <plnk:role name="PS_REST_OM_ORDER_VALIDATIONProvider" portType="tns:PS_REST_OM_ORDER_VALIDATION_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/OMProject/OrderValidation/xsd/XSD_OM_ORDER_VALIDATION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="validateOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestValidateOrder"/>
    </wsdl:message>
    <wsdl:message name="validateOrder_outputMessage">
        <wsdl:part name="reply" element="inp1:responseValidateOrder"/>
    </wsdl:message>
    <wsdl:message name="validateOrder_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="validateOrder_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="validateOrder_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_OM_ORDER_VALIDATION_ptt">
        <wsdl:operation name="validateOrder">
            <wsdl:input message="tns:validateOrder_inputMessage"/>
            <wsdl:output message="tns:validateOrder_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:validateOrder_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:validateOrder_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:validateOrder_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_OM_ORDER_VALIDATION_ptt-binding" type="tns:PS_REST_OM_ORDER_VALIDATION_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="validateOrder">
            <soap:operation soapAction="validateOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>