esb_it/repo/WS_IVR_SBL_ESIGENZE_IT/wsdl/WS_IVR_SBL_ESIGENZE_IT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdTelecom/SkyXSD_IVR_SBL_ESIGENZE_IT.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opEsigenzeIt"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opEsigenzeItResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opEsigenzeItRequest"> 
  <wsdl:part element="eb:opEsigenzeIt" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opEsigenzeItResponse"> 
  <wsdl:part element="eb:opEsigenzeItResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_SBL_ESIGENZE_ITSoap"> 
  <wsdl:operation name="opEsigenzeIt"> 
   <wsdl:input message="eb:opEsigenzeItRequest" name="opEsigenzeItRequest" /> 
   <wsdl:output message="eb:opEsigenzeItResponse" name="opEsigenzeItResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_SBL_ESIGENZE_ITSoap" type="eb:WS_IVR_SBL_ESIGENZE_ITSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opEsigenzeIt"> 
   <soap:operation soapAction="WS_IVR_SBL_ESIGENZE_IT/opEsigenzeIt" style="document" /> 
   <wsdl:input name="opEsigenzeItRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opEsigenzeItResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_SBL_ESIGENZE_IT"> 
  <wsdl:port binding="eb:WS_IVR_SBL_ESIGENZE_ITSoap" name="WS_IVR_SBL_ESIGENZE_ITSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_SBL_ESIGENZE_IT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>