esb_it/repo/WS_MODIFICA_GRUPPO/wsdl/WS_MODIFICA_GRUPPO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_MODIFICA_GRUPPO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_GRUPPO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_GRUPPO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_MODIFICA_GRUPPOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_MODIFICA_GRUPPORequest"> 
  <wsdl:part element="eb:OP_MODIFICA_GRUPPO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_MODIFICA_GRUPPOResponse"> 
  <wsdl:part element="eb:OP_MODIFICA_GRUPPOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_MODIFICA_GRUPPOSoap"> 
  <wsdl:operation name="OP_MODIFICA_GRUPPO"> 
   <wsdl:input message="eb:OP_MODIFICA_GRUPPORequest" name="OP_MODIFICA_GRUPPORequest" /> 
   <wsdl:output message="eb:OP_MODIFICA_GRUPPOResponse" name="OP_MODIFICA_GRUPPOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_MODIFICA_GRUPPOSoap" type="eb:WS_MODIFICA_GRUPPOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_MODIFICA_GRUPPO"> 
   <soap:operation soapAction="WS_MODIFICA_GRUPPO/OP_MODIFICA_GRUPPO" style="document" /> 
   <wsdl:input name="OP_MODIFICA_GRUPPORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_MODIFICA_GRUPPOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_MODIFICA_GRUPPO"> 
  <wsdl:port binding="eb:WS_MODIFICA_GRUPPOSoap" name="WS_MODIFICA_GRUPPOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_MODIFICA_GRUPPO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>