esb_it/repo/WS_IVR_VERIFICA_COPPIE_SMC_STB/wsdl/WS_IVR_VERIFICA_COPPIE_SMC_STB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="4" name="WS_ROOT_FML32" type="eb:c_CoppieAttivazione" /> 
     <xsd:element minOccurs="0" name="CA_OPERATORE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_CoppieAttivazione"> 
    <xsd:sequence> 
     <xsd:element name="CA_NUM_SC" type="xsd:string" /> 
     <xsd:element name="CA_DECODER_ID" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPERATORE" type="xsd:string" /> 
     <xsd:element maxOccurs="4" minOccurs="0" name="WS_ROOT_FML32" type="eb:c_EsitoCoppieAttivazione" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="c_EsitoCoppieAttivazione"> 
    <xsd:sequence> 
     <xsd:element name="CA_NUM_SC" type="xsd:string" /> 
     <xsd:element name="CA_DECODER_ID" type="xsd:string" /> 
     <xsd:element name="CRM_ESITO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_DESCRIZIONE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVerificaCoppieSmcStb"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="REQUEST" type="eb:FMLComplexInput" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaCoppieSmcStbResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RESPONSE" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerificaCoppieSmcStbRequest"> 
  <wsdl:part element="eb:opVerificaCoppieSmcStb" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaCoppieSmcStbResponse"> 
  <wsdl:part element="eb:opVerificaCoppieSmcStbResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_VERIFICA_COPPIE_SMC_STBSoap"> 
  <wsdl:operation name="opVerificaCoppieSmcStb"> 
   <wsdl:input message="eb:opVerificaCoppieSmcStbRequest" name="opVerificaCoppieSmcStbRequest" /> 
   <wsdl:output message="eb:opVerificaCoppieSmcStbResponse" name="opVerificaCoppieSmcStbResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_VERIFICA_COPPIE_SMC_STBSoap" type="eb:WS_IVR_VERIFICA_COPPIE_SMC_STBSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerificaCoppieSmcStb"> 
   <soap:operation soapAction="WS_IVR_VERIFICA_COPPIE_SMC_STB/opVerificaCoppieSmcStb" style="document" /> 
   <wsdl:input name="opVerificaCoppieSmcStbRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaCoppieSmcStbResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_VERIFICA_COPPIE_SMC_STB"> 
 </wsdl:service>
</wsdl:definitions>