esb_it/repo/WS_LEGGI_ELENCO_HOTEL/wsdl/WS_LEGGI_ELENCO_HOTEL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_CODICE_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_DENOMINAZIONE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_BILLING_ACCOUNT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FLAG_MASTER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_NOME_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_MOP_HOTEL" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FLG_FLEXI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_NUMERO_MODULI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_TIPO_DEFAULT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_CODICE_LISTINO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_RATE_CODE_PKT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_FLAG_STAG_FLEX" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="HTL_PROVINCIA" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_LEGGI_ELENCO_HOTEL"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_FLAG_MASTER" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_LEGGI_ELENCO_HOTELResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LEGGI_ELENCO_HOTEL_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_LEGGI_ELENCO_HOTELRequest"> 
  <wsdl:part element="eb:OP_LEGGI_ELENCO_HOTEL" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_LEGGI_ELENCO_HOTELResponse"> 
  <wsdl:part element="eb:OP_LEGGI_ELENCO_HOTELResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LEGGI_ELENCO_HOTELSoap"> 
  <wsdl:operation name="OP_LEGGI_ELENCO_HOTEL"> 
   <wsdl:input message="eb:OP_LEGGI_ELENCO_HOTELRequest" name="OP_LEGGI_ELENCO_HOTELRequest" /> 
   <wsdl:output message="eb:OP_LEGGI_ELENCO_HOTELResponse" name="OP_LEGGI_ELENCO_HOTELResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LEGGI_ELENCO_HOTELSoap" type="eb:WS_LEGGI_ELENCO_HOTELSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_LEGGI_ELENCO_HOTEL"> 
   <soap:operation soapAction="WS_LEGGI_ELENCO_HOTEL/OP_LEGGI_ELENCO_HOTEL" style="document" /> 
   <wsdl:input name="OP_LEGGI_ELENCO_HOTELRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_LEGGI_ELENCO_HOTELResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LEGGI_ELENCO_HOTEL"> 
  <wsdl:port binding="eb:WS_LEGGI_ELENCO_HOTELSoap" name="WS_LEGGI_ELENCO_HOTELSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LEGGI_ELENCO_HOTEL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>