osb_it/repo/BlueBirdProject/SPY/verifyIdentityDocument/PS_REST_SPY_VERIFY_IDENTITY_DOCUMENT/xsd/XSD_SPY_VERIFY_IDENTITY_DOCUMENT.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestVerifyID" type="requestVerifyIDType"/>
	<xsd:complexType name="requestVerifyIDType">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="1"/>
			<xsd:element name="surname" type="xsd:string" minOccurs="1"/>
			<xsd:element name="documentType" type="xsd:string" minOccurs="1"/>
			<xsd:element name="documentNumber" type="xsd:string" minOccurs="1"/>
			<xsd:element name="autorization" type="xsd:string" minOccurs="1"/>
			<xsd:element name="releaseDate" type="xsd:string" minOccurs="1"/>
			<xsd:element name="expireDate" type="xsd:string" minOccurs="1"/>
			<xsd:element name="fiscalCode" type="xsd:string" minOccurs="1"/>
			<xsd:element name="gender" type="xsd:string" minOccurs="1"/>
			<xsd:element name="birthDate" type="xsd:string" minOccurs="1"/>
			<xsd:element name="birthCity" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseVerifyID" type="responseVerifyIDType"/>
	<xsd:complexType name="responseVerifyIDType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
			<xsd:element name="resultDescription" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>