esb_it/repo/ConfermaAcquistoSkyPass/wsdl/ConfermaAcquistoSkyPass.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="CONF_ACQ_ANONIMO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_DATA_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_DATA_ACQUISTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_CHIAVE_ACQUISTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_REFID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CA_OPPV_SMS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="CONF_ACQ_ANONIMOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_OPPV_SMS" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_COSTO_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_COSTO_SERVIZIO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT_TOKENS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="CONF_ACQ_ANONIMORequest"> 
  <wsdl:part element="eb:CONF_ACQ_ANONIMO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="CONF_ACQ_ANONIMOResponse"> 
  <wsdl:part element="eb:CONF_ACQ_ANONIMOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="ConfermaAcquistoSkyPassSoap"> 
  <wsdl:operation name="CONF_ACQ_ANONIMO"> 
   <wsdl:input message="eb:CONF_ACQ_ANONIMORequest" name="CONF_ACQ_ANONIMORequest" /> 
   <wsdl:output message="eb:CONF_ACQ_ANONIMOResponse" name="CONF_ACQ_ANONIMOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="ConfermaAcquistoSkyPassSoap" type="eb:ConfermaAcquistoSkyPassSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="CONF_ACQ_ANONIMO"> 
   <soap:operation soapAction="ConfermaAcquistoSkyPass/CONF_ACQ_ANONIMO" style="document" /> 
   <wsdl:input name="CONF_ACQ_ANONIMORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="CONF_ACQ_ANONIMOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="ConfermaAcquistoSkyPass"> 
  <wsdl:port binding="eb:ConfermaAcquistoSkyPassSoap" name="ConfermaAcquistoSkyPassSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/ConfermaAcquistoSkyPass" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>