esb_it/repo/WS_BB_CLUSTER_CHECK/wsdl/WS_BB_CLUSTER_CHECK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentDataIN"> 
    <xsd:sequence> 
     <xsd:element name="FWTransactionData" type="eb:FWTransactionData" /> 
     <xsd:element name="IdPDA"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CodiceFiscalePIva"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="18" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CodiceComsy"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOUT"> 
    <xsd:sequence> 
     <xsd:element name="ErrorCode"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="ErrorMessage"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="255" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CustomerBase"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="1" /> 
        <xsd:enumeration value="Y" /> 
        <xsd:enumeration value="N" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="ClienteAffidabile"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="1" /> 
        <xsd:enumeration value="Y" /> 
        <xsd:enumeration value="N" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Cliente" type="eb:Cliente" /> 
     <xsd:element minOccurs="0" name="Contratti" type="eb:Contratti" /> 
     <xsd:element name="Eligibility" type="eb:Eligibility" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FWTransactionData"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SenderName"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="50" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="UserName"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="50" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TransactionId"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="42" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Version"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="50" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TransactionTime"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="19" /> 
        <xsd:pattern value="|(\d\d/\d\d/\d\d\d\d \d\d:\d\d:\d\d)|('')" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Cliente"> 
    <xsd:sequence> 
     <xsd:element name="Nome"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="Cognome"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CodiceFiscalePIva"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="18" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="DataNascita"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="15" /> 
        <xsd:pattern value="|(\d\d/\d\d/\d\d\d\d)|('')" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="ComuneNascita"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="ProvinciaNascita"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TipoDocumento"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="NumeroDocumento"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="15" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="TelefonoFisso"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="AltroTelefono"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Cellulare"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Email"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="50" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="EmailPEC"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="50" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="CodiceDestinatario"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="7" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Contratti"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="Contratto" type="eb:Contratto" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Contratto"> 
    <xsd:sequence> 
     <xsd:element name="CodiceContratto"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="15" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="MetodoPagamento"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CognomeTitolare"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="NomeTitolare"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="CodiceFiscalePIvaTitolare"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="IBAN"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="45" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="NumeroCartaCredito"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="DataScadenzaCartaCredito"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="15" /> 
        <xsd:pattern value="|(\d\d/\d\d\d\d)|('')" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="ParticellaToponomastica"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="50" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="Indirizzo"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="Civico"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="Comune"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="100" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CAP"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="Provincia"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="30" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="BundleEligibility"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="1" /> 
        <xsd:minLength value="1" /> 
        <xsd:enumeration value="Y" /> 
        <xsd:enumeration value="N" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="CausaleEligibility"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="255" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Eligibility"> 
    <xsd:sequence> 
     <xsd:element name="Flag"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="1" /> 
        <xsd:minLength value="1" /> 
        <xsd:enumeration value="Y" /> 
        <xsd:enumeration value="N" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Causale"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:maxLength value="255" /> 
        <xsd:minLength value="1" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opSiebel"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataIN" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSiebelResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSiebelRequest"> 
  <wsdl:part element="eb:opSiebel" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSiebelResponse"> 
  <wsdl:part element="eb:opSiebelResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_BB_CLUSTER_CHECKSoap"> 
  <wsdl:operation name="opSiebel"> 
   <wsdl:input message="eb:opSiebelRequest" name="opSiebelRequest" /> 
   <wsdl:output message="eb:opSiebelResponse" name="opSiebelResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_BB_CLUSTER_CHECKSoap" type="eb:WS_BB_CLUSTER_CHECKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSiebel"> 
   <soap:operation soapAction="WS_BB_CLUSTER_CHECK/opSiebel" style="document" /> 
   <wsdl:input name="opSiebelRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSiebelResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_BB_CLUSTER_CHECK"> 
  <wsdl:port binding="eb:WS_BB_CLUSTER_CHECKSoap" name="WS_BB_CLUSTER_CHECKSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_bb/WS_BB_CLUSTER_CHECK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>