osb_it/repo/SalesforceProject/REST/CRM/ALIAS/OPERATOR/HANDLER/PS_REST_CRM_ALIAS_OPERATOR_HANDLER/wadl/SalesforceProject_REST_CRM_ALIAS_OPERATOR_HANDLER_proxy_PS_REST_CRM_ALIAS_OPERATOR_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1_WORK/SalesforceProject/PS_REST_CRM_ALIAS_OPERATOR_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_CRM_ALIAS_OPERATOR_HANDLER">RestReference</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_AliasOperatorHandler/xsd/XSD_CRM_ALIAS_OPERATOR_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/changeAliasOperator">
         <method name="POST" soa:wsdlOperation="changeAliasOperator"> 
            <request>
               <representation mediaType="application/json" element="cns:requestChangeAliasOperator" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseChangeAliasOperator" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/checkAliasOperator">
         <method name="GET" soa:wsdlOperation="checkAliasOperator">
            <request>
               <param name="username" style="query" soa:expression="$msg.request/ns0:username" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:responseCheckAliasOperator" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/json" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/json" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/json" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>