osb_it/repo/SiebelProject/PortaleBookingHotel/PS_WS_CRM_PORTALE_BOOKING_HOTEL/wsdl/SiebelProject_PortaleBookingHotel_proxy_PS_WS_CRM_PORTALE_BOOKING_HOTEL.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_PORTALE_BOOKING_HOTEL"
     targetNamespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL"
     xmlns:tns="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_PORTALE_BOOKING_HOTEL.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="partIN_HotelList" element="inp1:requestGetHotelList"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="partOUT_HotelList" element="inp1:responseGetHotelList"/>
    </wsdl:message>
    <wsdl:portType name="ptt_hotel_list">
        <wsdl:operation name="execute_GetHotelList">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetBillingHotelList">
            <wsdl:input message="tns:requestMsgBill"/>
            <wsdl:output message="tns:responseMsgBill"/>
        </wsdl:operation>
        <wsdl:operation name="execute_TrackingEsigenze">
            <wsdl:input message="tns:requestMsgTrackingEs"/>
            <wsdl:output message="tns:responseMsgTrackingEs"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bind_hotel_list" type="tns:ptt_hotel_list">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetHotelList">
            <soap:operation style="document" soapAction="execute_GetHotelList"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL"/>
                <soap:header message="tns:headerMsg" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL"/>
                <soap:header message="tns:headerMsg" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetBillingHotelList">
            <soap:operation soapAction="execute_GetBillingHotelList" style="document"/>
            <wsdl:input>
                <soap:header message="tns:headerMsg" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:headerMsg" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_TrackingEsigenze">
            <soap:operation soapAction="execute_TrackingEsigenze" style="document"/>
            <wsdl:input>
                <soap:header message="tns:headerMsg" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:headerMsg" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/services/WS_CRM_PORTALE_BOOKING_HOTEL" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="headerMsg">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMsgBill">
        <wsdl:part name="partINBill" element="inp1:requestGetBillingHotelList"/>
    </wsdl:message>
    <wsdl:message name="responseMsgBill">
        <wsdl:part name="partOUTBill" element="inp1:responseGetBillingHotelList"/>
    </wsdl:message>
    <wsdl:message name="requestMsgTrackingEs">
        <wsdl:part name="partINTrkEs" element="inp1:requestTrackingEsigenze"/>
    </wsdl:message>
    <wsdl:message name="responseMsgTrackingEs">
        <wsdl:part name="partOUTTrkEs" element="inp1:responseTrackingEsigenze"/>
    </wsdl:message>
</wsdl:definitions>