esb_it/repo/WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTO/wsdl/WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TIPO_ELABORAZIONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="WS_CALLER" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="WS_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_ROOT_FML32" type="eb:FMLComplexField" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexField"> 
    <xsd:sequence> 
     <xsd:element name="WS_OPERATION_NAME" type="eb:FMLFieldType" /> 
     <xsd:element name="WS_SERIAL_ID" type="eb:FMLFieldType" /> 
     <xsd:element name="WS_REASON" type="eb:FMLFieldType" /> 
     <xsd:element name="WS_DESCRIPTION" type="eb:FMLFieldType" /> 
     <xsd:element name="WS_SALES_CHANNEL" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMovimentiEaeToMagento"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMovimentiEaeToMagentoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMovimentiEaeToMagentoRequest"> 
  <wsdl:part element="eb:opMovimentiEaeToMagento" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMovimentiEaeToMagentoResponse"> 
  <wsdl:part element="eb:opMovimentiEaeToMagentoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTOSoap"> 
  <wsdl:operation name="opMovimentiEaeToMagento"> 
   <wsdl:input message="eb:opMovimentiEaeToMagentoRequest" name="opMovimentiEaeToMagentoRequest" /> 
   <wsdl:output message="eb:opMovimentiEaeToMagentoResponse" name="opMovimentiEaeToMagentoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTOSoap" type="eb:WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMovimentiEaeToMagento"> 
   <soap:operation soapAction="WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTO/opMovimentiEaeToMagento" style="document" /> 
   <wsdl:input name="opMovimentiEaeToMagentoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMovimentiEaeToMagentoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTO"> 
  <wsdl:port binding="eb:WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTOSoap" name="WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_EASY_BOX_MOVIMENTI_EAE_TO_MAGENTO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>