osb_it/repo/SalesforceProject/REST/CRM/CUSTOMER/HANDLER/PS_REST_CRM_CUSTOMER_HANDLER/wsdl/SalesforceProject_REST_CRM_CUSTOMER_HANDLER_proxy_PS_REST_CRM_CUSTOMER_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_CUSTOMER_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CUSTOMER_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_CUSTOMER_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_CUSTOMER_HANDLER">
        <plnk:role name="PS_REST_CRM_CUSTOMER_HANDLERProvider" portType="tns:PS_REST_CRM_CUSTOMER_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_CustomerHandler/xsd/XSD_CRM_CUSTOMER_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetCustomer_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetCustomer"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetCustomer"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetCustomer_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerData_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateCustomerData"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerData_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateCustomerData"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerData_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerData_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateCustomerData_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_CUSTOMER_HANDLER_ptt">
        <wsdl:operation name="GetCustomer">
            <wsdl:input message="tns:GetCustomer_inputMessage"/>
            <wsdl:output message="tns:GetCustomer_outputMessage"/>
            <wsdl:fault name="error404" message="tns:GetCustomer_error404Message"/>
            <wsdl:fault name="error400" message="tns:GetCustomer_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetCustomer_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateCustomerData">
            <wsdl:input message="tns:UpdateCustomerData_inputMessage"/>
            <wsdl:output message="tns:UpdateCustomerData_outputMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateCustomerData_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateCustomerData_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateCustomerData_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_CUSTOMER_HANDLER_ptt-binding" type="tns:PS_REST_CRM_CUSTOMER_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetCustomer">
            <soap:operation soapAction="GetCustomer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateCustomerData">
            <soap:operation soapAction="UpdateCustomerData"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>