esb_it/repo/WS_AOL_SBL_CHECK_BL_IBAN/wsdl/WS_AOL_SBL_CHECK_BL_IBAN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdTelecom/SkyXSD_AOL_SBL_CHECK_BL_IBAN.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOut"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCheckBLIban"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckBLIbanResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOut" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckBLIbanRequest"> 
  <wsdl:part element="eb:opCheckBLIban" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckBLIbanResponse"> 
  <wsdl:part element="eb:opCheckBLIbanResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AOL_SBL_CHECK_BL_IBANSoap"> 
  <wsdl:operation name="opCheckBLIban"> 
   <wsdl:input message="eb:opCheckBLIbanRequest" name="opCheckBLIbanRequest" /> 
   <wsdl:output message="eb:opCheckBLIbanResponse" name="opCheckBLIbanResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AOL_SBL_CHECK_BL_IBANSoap" type="eb:WS_AOL_SBL_CHECK_BL_IBANSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckBLIban"> 
   <soap:operation soapAction="WS_AOL_SBL_CHECK_BL_IBAN/opCheckBLIban" style="document" /> 
   <wsdl:input name="opCheckBLIbanRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckBLIbanResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AOL_SBL_CHECK_BL_IBAN"> 
  <wsdl:port binding="eb:WS_AOL_SBL_CHECK_BL_IBANSoap" name="WS_AOL_SBL_CHECK_BL_IBANSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AOL_SBL_CHECK_BL_IBAN" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>