esb_it/repo/WS_SCMS_IBMS_VOD_EVENT/wsdl/WS_SCMS_IBMS_VOD_EVENT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSCMS/SkyXSD_SCMSOfferNotification.xsd" /> 
   <xsd:complexType name="ActionInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:Action" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opScmsIbmsVodEvent"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Action" type="eb:ActionInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opScmsIbmsVodEventResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opScmsIbmsVodEventRequest"> 
  <wsdl:part element="eb:opScmsIbmsVodEvent" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opScmsIbmsVodEventResponse"> 
  <wsdl:part element="eb:opScmsIbmsVodEventResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_IBMS_VOD_EVENTSoap"> 
  <wsdl:operation name="opScmsIbmsVodEvent"> 
   <wsdl:input message="eb:opScmsIbmsVodEventRequest" name="opScmsIbmsVodEventRequest" /> 
   <wsdl:output message="eb:opScmsIbmsVodEventResponse" name="opScmsIbmsVodEventResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_IBMS_VOD_EVENTSoap" type="eb:WS_SCMS_IBMS_VOD_EVENTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opScmsIbmsVodEvent"> 
   <soap:operation soapAction="WS_SCMS_IBMS_VOD_EVENT/opScmsIbmsVodEvent" style="document" /> 
   <wsdl:input name="opScmsIbmsVodEventRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opScmsIbmsVodEventResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_IBMS_VOD_EVENT"> 
  <wsdl:port binding="eb:WS_SCMS_IBMS_VOD_EVENTSoap" name="WS_SCMS_IBMS_VOD_EVENTSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_anytime/WS_SCMS_IBMS_VOD_EVENT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>