osb_it/repo/EUPProject/EUPManagement/PS_REST_EUP_MANAGEMENT/xsd/XSD_EUP_MANAGEMENT.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  
  <xsd:element name="requestUpsertCustomer" type="requestUpsertCustomerType" />
  <xsd:complexType name="requestUpsertCustomerType">
    <xsd:sequence>
      <xsd:element name="custId" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="mdwKey" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="mdwEligibilityStatus" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="mdwResetCounter" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:element name="responseUpsertCustomer" type="responseUpsertCustomerType" />
  <xsd:complexType name="responseUpsertCustomerType">
    <xsd:sequence>
      <xsd:element name="Esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="mdwTid" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  
</xsd:schema>