osb_it/repo/BlueBirdProject/DB/CRM/numberPortability/PS_REST_NUMBER_PORTABILITY/wadl/BlueBirdProject_DB_CRM_numberPortability_proxy_PS_REST_NUMBER_PORTABILITY.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_NUMBER_PORTABILITY" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_NUMBER_PORTABILITY">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/DB_CRM/numberPortability/xsd/XSD_MDW_NUMBER_PORTABILITY.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/verifications">
         <method name="GET" soa:wsdlOperation="verificationsNumberPortability">
            <request>
               <param name="cap" style="query" soa:expression="$msg.request/ns0:cap" default="" type="xsd:string"/>
               <param name="comune" style="query" soa:expression="$msg.request/ns0:comune" default="" type="xsd:string"/>
               <param name="prefisso" style="query" soa:expression="$msg.request/ns0:prefisso" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseVerifyNumberPortability" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>