osb_it/repo/KENANProject/WS/CRM/GESTIONE/FATTURE/STORNO/PS_MOCK_SERVICE_GESTIONE_STORNO_GET/wsdl/KENANProject_WS_CRM_GESTIONE_FATTURE_STORNO_proxy_PS_MOCK_SERVICE_GESTIONE_STORNO_GET.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE_STORNO" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_GESTIONE_FATTURE_STORNO" targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE_STORNO">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_FATTURE_STORNO.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestGetFattureStorno_Message">
		<wsdl:part name="part_requestGetFattureStorno" element="inp1:requestGetFattureStorno"/>
	</wsdl:message>
	<wsdl:message name="responseGetFattureStorno_Message">
		<wsdl:part name="part_responseGetFattureStorno" element="inp1:responseGetFattureStorno"/>
	</wsdl:message>
	<wsdl:message name="requestCalcoloStorno_Message">
		<wsdl:part name="part_requestCalcoloStorno" element="inp1:requestCalcoloStorno"/>
	</wsdl:message>
	<wsdl:message name="responseCalcoloStorno_Message">
		<wsdl:part name="part_responseCalcoloStorno" element="inp1:responseCalcoloStorno"/>
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="GetFattureStorno_ptt">
		<wsdl:operation name="execute_GetFattureStorno">
			<wsdl:input message="tns:requestGetFattureStorno_Message"/>
			<wsdl:output message="tns:responseGetFattureStorno_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_CalcoloStorno">
			<wsdl:input message="tns:requestCalcoloStorno_Message"/>
			<wsdl:output message="tns:responseCalcoloStorno_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetFattureStorno_Bind" type="tns:GetFattureStorno_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_GetFattureStorno">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE_STORNO/execute_GetFattureStorno" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetFattureStorno" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetFattureStorno" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_CalcoloStorno">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE_STORNO/execute_CalcoloStorno" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestCalcoloStorno" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseCalcoloStorno" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>