osb_it/repo/SalesforceProject/REST/CRM/EXIT/FEE/PS_REST_CRM_EXIT_FEE/wsdl/SalesforceProject_REST_CRM_EXIT_FEE_proxy_PS_REST_CRM_EXIT_FEE.wsdl

<wsdl:definitions name="PS_REST_CRM_EXIT_FEE" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_EXIT_FEE" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_EXIT_FEE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_EXIT_FEE">
        <plnk:role name="PS_REST_CRM_EXIT_FEEProvider" portType="tns:PS_REST_CRM_EXIT_FEE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/ExitFee/xsd/XSD_CRM_EXIT_FEE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getExitFee_inputMessage">
        <wsdl:part name="request" element="inp1:requestExitFee"/>
    </wsdl:message>
    <wsdl:message name="getExitFee_outputMessage">
        <wsdl:part name="reply" element="inp1:responseExitFee"/>
    </wsdl:message>
    <wsdl:message name="getExitFee_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getExitFee_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getExitFee_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_EXIT_FEE_ptt">
        <wsdl:operation name="getExitFee">
            <wsdl:input message="tns:getExitFee_inputMessage"/>
            <wsdl:output message="tns:getExitFee_outputMessage"/>
            <wsdl:fault name="error404" message="tns:getExitFee_error404Message"/>
            <wsdl:fault name="error400" message="tns:getExitFee_error400Message"/>
            <wsdl:fault name="error500" message="tns:getExitFee_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_EXIT_FEE_ptt-binding" type="tns:PS_REST_CRM_EXIT_FEE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getExitFee">
            <soap:operation soapAction="getExitFee"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>