esb_it/repo/VerificaTipologia/wsdl/VerificaTipologia.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpVerificaTipologia"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_TIPOLOGIA_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpVerificaTipologiaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SEGMENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SEGMENTO2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpVerificaTipologiaRequest"> 
  <wsdl:part element="eb:OpVerificaTipologia" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpVerificaTipologiaResponse"> 
  <wsdl:part element="eb:OpVerificaTipologiaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="VerificaTipologiaSoap"> 
  <wsdl:operation name="OpVerificaTipologia"> 
   <wsdl:input message="eb:OpVerificaTipologiaRequest" name="OpVerificaTipologiaRequest" /> 
   <wsdl:output message="eb:OpVerificaTipologiaResponse" name="OpVerificaTipologiaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="VerificaTipologiaSoap" type="eb:VerificaTipologiaSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpVerificaTipologia"> 
   <soap:operation soapAction="VerificaTipologia/OpVerificaTipologia" style="document" /> 
   <wsdl:input name="OpVerificaTipologiaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpVerificaTipologiaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="VerificaTipologia"> 
  <wsdl:port binding="eb:VerificaTipologiaSoap" name="VerificaTipologiaSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/VerificaTipologia" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>