osb_it/repo/SCMSproject/PS_WS_SCMS_SEND_VOTING/wsdl/SCMSproject_proxy_PS_WS_SCMS_SEND_VOTING.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SCMS_SEND_VOTING"
     targetNamespace="http://www.skytv.it/mdw/service/WS_SCMS_SEND_VOTING"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_SCMS_SEND_VOTING"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SCMS_SEND_VOTING.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="WS_SCMS_SEND_VOTING_part_in" element="inp1:requestVOTING"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="WS_SCMS_SEND_VOTING_part_out" element="inp1:responseSCMS"/>
    </wsdl:message>
    <wsdl:portType name="WS_SCMS_SEND_VOTING_ptt">
        <wsdl:operation name="execute_VOTING">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_VOTSPO">
            <wsdl:input message="tns:requestMessage_VOTSPO"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_SCMS_SEND_VOTING_bind" type="tns:WS_SCMS_SEND_VOTING_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_VOTING">
            <soap:operation style="document" soapAction="execute_VOTING"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SCMS_SEND_VOTING"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SCMS_SEND_VOTING"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_VOTSPO">
            <soap:operation/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SCMS_SEND_VOTING"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SCMS_SEND_VOTING"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestMessage_VOTSPO">
        <wsdl:part name="VOTSPO_parti_in" element="inp1:requestVOTSPO"/>
    </wsdl:message>
</wsdl:definitions>