esb_it/repo/WS_AOL_EMAILVISION_MEMBER_SERVICE/wsdl/WS_AOL_EMAILVISION_MEMBER_SERVICE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://api.service.apimember.emailvision.com/" schemaLocation="xsdEMAILVISION/SkyXSD_MemberService.xsd" /> 
   <xsd:complexType name="insertOrUpdateMemberByObj" xmlns:ev="http://api.service.apimember.emailvision.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="ev:insertOrUpdateMemberByObj" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="insertOrUpdateMemberByObjResponse" xmlns:ev="http://api.service.apimember.emailvision.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="ev:insertOrUpdateMemberByObjResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="insertOrUpdateMemberByObj"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:insertOrUpdateMemberByObj" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="insertOrUpdateMemberByObjResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ResponseOUT" type="eb:insertOrUpdateMemberByObjResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="insertOrUpdateMemberByObjRequest"> 
  <wsdl:part element="eb:insertOrUpdateMemberByObj" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="insertOrUpdateMemberByObjResponse"> 
  <wsdl:part element="eb:insertOrUpdateMemberByObjResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AOL_EMAILVISION_MEMBER_SERVICESoap"> 
  <wsdl:operation name="insertOrUpdateMemberByObj"> 
   <wsdl:input message="eb:insertOrUpdateMemberByObjRequest" name="insertOrUpdateMemberByObjRequest" /> 
   <wsdl:output message="eb:insertOrUpdateMemberByObjResponse" name="insertOrUpdateMemberByObjResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AOL_EMAILVISION_MEMBER_SERVICESoap" type="eb:WS_AOL_EMAILVISION_MEMBER_SERVICESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="insertOrUpdateMemberByObj"> 
   <soap:operation soapAction="WS_AOL_EMAILVISION_MEMBER_SERVICE/insertOrUpdateMemberByObj" style="document" /> 
   <wsdl:input name="insertOrUpdateMemberByObjRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="insertOrUpdateMemberByObjResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AOL_EMAILVISION_MEMBER_SERVICE"> 
  <wsdl:port binding="eb:WS_AOL_EMAILVISION_MEMBER_SERVICESoap" name="WS_AOL_EMAILVISION_MEMBER_SERVICESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AOL_EMAILVISION_MEMBER_SERVICE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>