osb_it/repo/SiebelProject/PS_WS_CRM_SIE_CONTR_SYNC/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_CONTR_SYNC.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_SIE_CONTR_SYNC"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_CONTR_SYNC"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_CONTR_SYNC"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_CONTR_SYNC.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data"
                        schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestCessContratto_message">
        <wsdl:part name="part_requestCessContratto" element="inp1:requestCessContratto"/>
    </wsdl:message>
    <wsdl:message name="responseCessContratto_message">
        <wsdl:part name="part_responseCessContratto" element="inp1:responseCessContratto"/>
    </wsdl:message>
    <wsdl:portType name="CRM_SIE_CONTR_SYNC_ptt">
        <wsdl:operation name="execute_cessContratto">
            <wsdl:input message="tns:requestCessContratto_message"/>
            <wsdl:output message="tns:responseCessContratto_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_causaleCessazione">
            <wsdl:input message="tns:requestCausaleCessazione_message"/>
            <wsdl:output message="tns:responseCausaleCessazione_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_recapitiContratto">
            <wsdl:input message="tns:requestRecapitiContratto_message"/>
            <wsdl:output message="tns:responseRecapitiContratto_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_setMarcaModello">
            <wsdl:input message="tns:requestSetMarcaModello_message"/>
            <wsdl:output message="tns:responseSetMarcaModello_message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_message">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:binding name="CRM_SIE_CONTR_SYNC_pttSOAP11Binding" type="tns:CRM_SIE_CONTR_SYNC_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_cessContratto">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_CONTR_SYNC/execute_cessContratto"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCessContratto"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCessContratto"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_causaleCessazione">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_CONTR_SYNC/execute_causaleCessazione"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCausaleCessazione"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCausaleCessazione"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_recapitiContratto">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_CONTR_SYNC/execute_recapitiContratto"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestRecapitiContratto"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseRecapitiContratto"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_setMarcaModello">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_CONTR_SYNC/execute_setMarcaModello"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestSetMarcaModello"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseSetMarcaModello"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="requestCausaleCessazione_message">
        <wsdl:part name="part_requestCausaleCessazione" element="inp1:requestCausaleCessazione"/>
    </wsdl:message>
    <wsdl:message name="responseCausaleCessazione_message">
        <wsdl:part name="part_responseCausaleCessazione" element="inp1:responseCausaleCessazione"/>
    </wsdl:message>
    <wsdl:message name="requestRecapitiContratto_message">
        <wsdl:part name="part_requestRecapitiContratto" element="inp1:requestRecapitiContratto"/>
    </wsdl:message>
    <wsdl:message name="responseRecapitiContratto_message">
        <wsdl:part name="part_responseRecapitiContratto" element="inp1:responseRecapitiContratto"/>
    </wsdl:message>
    <wsdl:message name="requestSetMarcaModello_message">
        <wsdl:part name="part_requestSetMarcaModello" element="inp1:requestSetMarcaModello"/>
    </wsdl:message>
    <wsdl:message name="responseSetMarcaModello_message">
        <wsdl:part name="part_responseSetMarcaModello" element="inp1:responseSetMarcaModello"/>
    </wsdl:message>
</wsdl:definitions>