osb_it/repo/SCMSproject/PS_WS_CRM_GESTIONE_DEVICE/wsdl/SCMSproject_proxy_PS_WS_CRM_GESTIONE_DEVICE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_DEVICE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_CRM_GESTIONE_DEVICE" targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_DEVICE">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_DEVICE.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestINCSSO_Message">
		<wsdl:part name="part_requestINCSSO" element="inp1:requestINCSSO"/>
	
	</wsdl:message>
	<wsdl:message name="responseSCMS_Message">
		<wsdl:part name="part_responseSCMS" element="inp1:responseSCMS"/>
	
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="CRM_GESTIONE_DEVICE_ptt">
		<wsdl:operation name="execute_INCSSO">
			<wsdl:input message="tns:requestINCSSO_Message"/>
			<wsdl:output message="tns:responseSCMS_Message"/>
		</wsdl:operation>
  <wsdl:operation name="execute_AQEDCM">
   <wsdl:input message="tns:requestAQEDCM_Message"/>
   <wsdl:output message="tns:responseSCMS_Message"/>
  </wsdl:operation>
 </wsdl:portType>
 <wsdl:message name="requestAQEDCM_Message">
  <wsdl:part name="part_AQEDCM" element="inp1:requestAQEDCM"/>
 </wsdl:message>
 <wsdl:binding name="CRM_GESTIONE_DEVICE_bind" type="tns:CRM_GESTIONE_DEVICE_ptt">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="execute_INCSSO">
   <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_DEVICE/execute_INCSSO"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_requestINCSSO"/>
    <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseSCMS"/>
    <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
  <wsdl:operation name="execute_AQEDCM">
   <soap:operation style="document" soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_DEVICE/execute_AQEDCM"/>
   <wsdl:input>
    <soap:body use="literal" parts="part_AQEDCM"/>
    <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="part_responseSCMS"/>
    <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
   </wsdl:output>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>