osb_it/repo/BlueBirdProject/SALESFORCE/escalationHandler/PS_REST_SF_ESCALATION_HANDLER/wsdl/BlueBirdProject_SALESFORCE_escalationHandler_proxy_PS_REST_SF_ESCALATION_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_ESCALATION_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSkyReply/BlueBirdProject/PS_REST_SF_ESCALATION_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSkyReply/BlueBirdProject/PS_REST_SF_ESCALATION_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SF_ESCALATION_HANDLER">
        <plnk:role name="PS_REST_SF_ESCALATION_HANDLERProvider" portType="tns:PS_REST_SF_ESCALATION_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/escalationHandler/xsd/XSD_SF_ESCALATION_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="escalationOperations_inputMessage">
        <wsdl:part name="request" element="inp1:requestEscalationOperations"/>
    </wsdl:message>
    <wsdl:message name="escalationOperations_outputMessage">
        <wsdl:part name="reply" element="inp1:responseEscalationOperations"/>
    </wsdl:message>
    <wsdl:message name="escalationOperations_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="escalationOperations_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="escalationOperations_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="updateEscalation_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateEscalations"/>
    </wsdl:message>
    <wsdl:message name="updateEscalation_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateEscalations"/>
    </wsdl:message>
    <wsdl:message name="updateEscalation_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="updateEscalation_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="updateEscalation_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="OperationNotification_inputMessage">
        <wsdl:part name="request" element="inp1:requestOperationNotification"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="OperationNotification_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="OperationNotification_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="OperationNotification_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateEscalationTeoco_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateEscalationTeoco"/>
    </wsdl:message>
    <wsdl:message name="UpdateEscalationTeoco_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateEscalationTeoco"/>
    </wsdl:message>
    <wsdl:message name="UpdateEscalationTeoco_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateEscalationTeoco_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateEscalationTeoco_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="OperationNotification_outputMessage">
        <wsdl:part name="reply" element="inp1:responseOperationNotification"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_ESCALATION_HANDLER_ptt">
        <wsdl:operation name="escalationOperations">
            <wsdl:input message="tns:escalationOperations_inputMessage"/>
            <wsdl:output message="tns:escalationOperations_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:escalationOperations_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:escalationOperations_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:escalationOperations_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="updateEscalation">
            <wsdl:input message="tns:updateEscalation_inputMessage"/>
            <wsdl:output message="tns:updateEscalation_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:updateEscalation_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:updateEscalation_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:updateEscalation_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="OperationNotification">
            <wsdl:input message="tns:OperationNotification_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:OperationNotification_error404Message"/>
            <wsdl:fault name="error400" message="tns:OperationNotification_error400Message"/>
            <wsdl:fault name="error500" message="tns:OperationNotification_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateEscalationTeoco">
            <wsdl:input message="tns:UpdateEscalationTeoco_inputMessage"/>
            <wsdl:output message="tns:UpdateEscalationTeoco_outputMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateEscalationTeoco_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateEscalationTeoco_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateEscalationTeoco_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_ESCALATION_HANDLER_ptt-binding" type="tns:PS_REST_SF_ESCALATION_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="escalationOperations">
            <soap:operation soapAction="escalationOperations"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateEscalation">
            <soap:operation soapAction="updateEscalation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OperationNotification">
            <soap:operation soapAction="OperationNotification"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateEscalationTeoco">
            <soap:operation soapAction="UpdateEscalationTeoco"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>