esb_it/repo/WS_LS_GENERA_STAMPA_CONTRATTI/wsdl/WS_LS_GENERA_STAMPA_CONTRATTI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opGeneraStampaContratti"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_MAGAZZINO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_ID_RICHIESTA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGeneraStampaContrattiResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LS_TID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGeneraStampaContrattiRequest"> 
  <wsdl:part element="eb:opGeneraStampaContratti" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGeneraStampaContrattiResponse"> 
  <wsdl:part element="eb:opGeneraStampaContrattiResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_GENERA_STAMPA_CONTRATTISoap"> 
  <wsdl:operation name="opGeneraStampaContratti"> 
   <wsdl:input message="eb:opGeneraStampaContrattiRequest" name="opGeneraStampaContrattiRequest" /> 
   <wsdl:output message="eb:opGeneraStampaContrattiResponse" name="opGeneraStampaContrattiResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_GENERA_STAMPA_CONTRATTISoap" type="eb:WS_LS_GENERA_STAMPA_CONTRATTISoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGeneraStampaContratti"> 
   <soap:operation soapAction="WS_LS_GENERA_STAMPA_CONTRATTI/opGeneraStampaContratti" style="document" /> 
   <wsdl:input name="opGeneraStampaContrattiRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGeneraStampaContrattiResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_GENERA_STAMPA_CONTRATTI"> 
  <wsdl:port binding="eb:WS_LS_GENERA_STAMPA_CONTRATTISoap" name="WS_LS_GENERA_STAMPA_CONTRATTISoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_magazzino/WS_LS_GENERA_STAMPA_CONTRATTI" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>