osb_it/repo/PegasusProject/GestioneComunicazione/PS_WS_CRM_PGS_GESTIONE_COMUNICAZIONE/wsdl/PegasusProject_GestioneComunicazione_proxy_PS_WS_CRM_PGS_GESTIONE_COMUNICAZIONE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_PGS_GESTIONE_COMUNICAZIONE"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_COMUNICAZIONE"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_COMUNICAZIONE"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_COMUNICAZIONE.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestGetComunication_Message">
        <wsdl:part name="part_requestGetComunication" element="inp1:requestGetComunication"/>
    </wsdl:message>
    <wsdl:message name="responseGetComunication_Message">
        <wsdl:part name="part_responseGetComunication" element="inp1:responseGetComunication"/>
    </wsdl:message>
    <wsdl:portType name="CRM_PGS_GESTIONE_COMUNICAZIONE_ptt">
        <wsdl:operation name="execute_GetComunication">
            <wsdl:input message="tns:requestGetComunication_Message"/>
            <wsdl:output message="tns:responseGetComunication_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_SendSms">
            <wsdl:input message="tns:requestSendSms_Message"/>
            <wsdl:output message="tns:responseSendSms_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CRM_PGS_GESTIONE_COMUNICAZIONE_bind" type="tns:CRM_PGS_GESTIONE_COMUNICAZIONE_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetComunication">
            <soap:operation style="document" soapAction="execute_GetComunication"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_COMUNICAZIONE"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_COMUNICAZIONE"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_SendSms">
            <soap:operation style="document" soapAction="execute_SendSms"/>
            <wsdl:input>
                <soap:body namespace="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_COMUNICAZIONE" use="literal"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="http://www.skytv.it/mdw/service/CRM_PGS_GESTIONE_COMUNICAZIONE" use="literal"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestSendSms_Message">
        <wsdl:part name="part_requestSendSms" element="inp1:requestSendSms"/>
    </wsdl:message>
    <wsdl:message name="responseSendSms_Message">
        <wsdl:part name="part_responseSendSms" element="inp1:responseSendSms"/>
    </wsdl:message>
</wsdl:definitions>