esb_it/repo/WS_OTS_REITEK_UP_PK/wsdl/WS_OTS_REITEK_UP_PK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.siebel.sky.integrationlayer.reitek.com/" schemaLocation="xsdReitek/UpgradePacchettoWS.xsd" /> 
   <xsd:complexType name="elaborazioneUpgradePacchetto" xmlns:rk="http://services.siebel.sky.integrationlayer.reitek.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="rk:elaborazioneUpgradePacchetto" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="elaborazioneUpgradePacchettoResponse" xmlns:rk="http://services.siebel.sky.integrationlayer.reitek.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="rk:elaborazioneUpgradePacchettoResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="elaborazioneUpgradePacchettoNoPromo" xmlns:rk="http://services.siebel.sky.integrationlayer.reitek.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="rk:elaborazioneUpgradePacchettoNoPromo" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="elaborazioneUpgradePacchettoNoPromoResponse" xmlns:rk="http://services.siebel.sky.integrationlayer.reitek.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="rk:elaborazioneUpgradePacchettoNoPromoResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opElaborazioneUpgradePacchetto"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:elaborazioneUpgradePacchetto" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opElaborazioneUpgradePacchettoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:elaborazioneUpgradePacchettoResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opElaborazioneUpgradePacchettoNoPromo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:elaborazioneUpgradePacchettoNoPromo" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opElaborazioneUpgradePacchettoNoPromoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:elaborazioneUpgradePacchettoNoPromoResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opElaborazioneUpgradePacchettoRequest"> 
  <wsdl:part element="eb:opElaborazioneUpgradePacchetto" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opElaborazioneUpgradePacchettoResponse"> 
  <wsdl:part element="eb:opElaborazioneUpgradePacchettoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opElaborazioneUpgradePacchettoNoPromoRequest"> 
  <wsdl:part element="eb:opElaborazioneUpgradePacchettoNoPromo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opElaborazioneUpgradePacchettoNoPromoResponse"> 
  <wsdl:part element="eb:opElaborazioneUpgradePacchettoNoPromoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_OTS_REITEK_UP_PKSoap"> 
  <wsdl:operation name="opElaborazioneUpgradePacchetto"> 
   <wsdl:input message="eb:opElaborazioneUpgradePacchettoRequest" name="opElaborazioneUpgradePacchettoRequest" /> 
   <wsdl:output message="eb:opElaborazioneUpgradePacchettoResponse" name="opElaborazioneUpgradePacchettoResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opElaborazioneUpgradePacchettoNoPromo"> 
   <wsdl:input message="eb:opElaborazioneUpgradePacchettoNoPromoRequest" name="opElaborazioneUpgradePacchettoNoPromoRequest" /> 
   <wsdl:output message="eb:opElaborazioneUpgradePacchettoNoPromoResponse" name="opElaborazioneUpgradePacchettoNoPromoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_OTS_REITEK_UP_PKSoap" type="eb:WS_OTS_REITEK_UP_PKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opElaborazioneUpgradePacchetto"> 
   <soap:operation soapAction="WS_OTS_REITEK_UP_PK/opElaborazioneUpgradePacchetto" style="document" /> 
   <wsdl:input name="opElaborazioneUpgradePacchettoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opElaborazioneUpgradePacchettoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opElaborazioneUpgradePacchettoNoPromo"> 
   <soap:operation soapAction="WS_OTS_REITEK_UP_PK/opElaborazioneUpgradePacchettoNoPromo" style="document" /> 
   <wsdl:input name="opElaborazioneUpgradePacchettoNoPromoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opElaborazioneUpgradePacchettoNoPromoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_OTS_REITEK_UP_PK"> 
  <wsdl:port binding="eb:WS_OTS_REITEK_UP_PKSoap" name="WS_OTS_REITEK_UP_PKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_OTS_REITEK_UP_PK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>