osb_it/repo/BlueBirdProject/SALESFORCE/leadHandler/PS_REST_SF_LEAD_HANDLER/wsdl/BlueBirdProject_SALESFORCE_leadHandler_proxy_PS_REST_SF_LEAD_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_SF_LEAD_HANDLER"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_LEAD_HANDLER"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_LEAD_HANDLER"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_SF_LEAD_HANDLER">
        <plnk:role name="PS_REST_SF_LEAD_HANDLERProvider" portType="tns:PS_REST_SF_LEAD_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/leadHandler/xsd/XSD_SF_LEAD_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveLead_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveLead"/>
    </wsdl:message>
    <wsdl:message name="RetrieveLead_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveLead"/>
    </wsdl:message>
    <wsdl:message name="RetrieveLead_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveLead_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveLead_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="CreateLead_inputMessage">
        <wsdl:part name="request" element="inp1:requestCreateLead"/>
    </wsdl:message>
    <wsdl:message name="CreateLead_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCreateLead"/>
    </wsdl:message>
    <wsdl:message name="CreateLead_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CreateLead_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CreateLead_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateInterest_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateInterest"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="UpdateInterest_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateInterest_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateInterest_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdatePrivacy_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdatePrivacy"/>
    </wsdl:message>
    <wsdl:message name="UpdatePrivacy_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdatePrivacy_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdatePrivacy_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_LEAD_HANDLER_ptt">
        <wsdl:operation name="RetrieveLead">
            <wsdl:input message="tns:RetrieveLead_inputMessage"/>
            <wsdl:output message="tns:RetrieveLead_outputMessage"/>
            <wsdl:fault name="error404" message="tns:RetrieveLead_error404Message"/>
            <wsdl:fault name="error400" message="tns:RetrieveLead_error400Message"/>
            <wsdl:fault name="error500" message="tns:RetrieveLead_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="CreateLead">
            <wsdl:input message="tns:CreateLead_inputMessage"/>
            <wsdl:output message="tns:CreateLead_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CreateLead_error404Message"/>
            <wsdl:fault name="error400" message="tns:CreateLead_error400Message"/>
            <wsdl:fault name="error500" message="tns:CreateLead_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdateInterest">
            <wsdl:input message="tns:UpdateInterest_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateInterest_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateInterest_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateInterest_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="UpdatePrivacy">
            <wsdl:input message="tns:UpdatePrivacy_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:UpdatePrivacy_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdatePrivacy_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdatePrivacy_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_LEAD_HANDLER_ptt-binding" type="tns:PS_REST_SF_LEAD_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveLead">
            <soap:operation soapAction="RetrieveLead"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateLead">
            <soap:operation soapAction="CreateLead"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdateInterest">
            <soap:operation soapAction="UpdateInterest"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpdatePrivacy">
            <soap:operation soapAction="UpdatePrivacy"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>