esb_it/repo/WS_WEB_GET_LANDINGPAGE/wsdl/WS_WEB_GET_LANDINGPAGE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WEB_GET_LANDINGPAGE.xsd" /> 
   <xsd:complexType name="DocumentDataInputLP"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutputLP"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetLandingPage"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInputLP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetLandingPageResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutputLP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetLandingPageRequest"> 
  <wsdl:part element="eb:opGetLandingPage" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetLandingPageResponse"> 
  <wsdl:part element="eb:opGetLandingPageResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_GET_LANDINGPAGESoap"> 
  <wsdl:operation name="opGetLandingPage"> 
   <wsdl:input message="eb:opGetLandingPageRequest" name="opGetLandingPageRequest" /> 
   <wsdl:output message="eb:opGetLandingPageResponse" name="opGetLandingPageResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_GET_LANDINGPAGESoap" type="eb:WS_WEB_GET_LANDINGPAGESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetLandingPage"> 
   <soap:operation soapAction="WS_WEB_GET_LANDINGPAGE/opGetLandingPage" style="document" /> 
   <wsdl:input name="opGetLandingPageRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetLandingPageResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_GET_LANDINGPAGE"> 
  <wsdl:port binding="eb:WS_WEB_GET_LANDINGPAGESoap" name="WS_WEB_GET_LANDINGPAGESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_GET_LANDINGPAGE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>