esb_it/repo/WS_SM_SBL_SCOSTAMENTI_PROCESS/wsdl/WS_SM_SBL_SCOSTAMENTI_PROCESS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdSM/SkyXSD_SM_SBL_SCOSTAMENTI_PROCESS.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opScostamentiProcess"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opScostamentiProcessResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opScostamentiProcessRequest"> 
  <wsdl:part element="eb:opScostamentiProcess" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opScostamentiProcessResponse"> 
  <wsdl:part element="eb:opScostamentiProcessResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SM_SBL_SCOSTAMENTI_PROCESSSoap"> 
  <wsdl:operation name="opScostamentiProcess"> 
   <wsdl:input message="eb:opScostamentiProcessRequest" name="opScostamentiProcessRequest" /> 
   <wsdl:output message="eb:opScostamentiProcessResponse" name="opScostamentiProcessResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SM_SBL_SCOSTAMENTI_PROCESSSoap" type="eb:WS_SM_SBL_SCOSTAMENTI_PROCESSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opScostamentiProcess"> 
   <soap:operation soapAction="WS_SM_SBL_SCOSTAMENTI_PROCESS/opScostamentiProcess" style="document" /> 
   <wsdl:input name="opScostamentiProcessRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opScostamentiProcessResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SM_SBL_SCOSTAMENTI_PROCESS"> 
  <wsdl:port binding="eb:WS_SM_SBL_SCOSTAMENTI_PROCESSSoap" name="WS_SM_SBL_SCOSTAMENTI_PROCESSSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf/WS_SM_SBL_SCOSTAMENTI_PROCESS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>