esb_it/repo/WS_SMS_ACQ_VALIDATOR/wsdl/WS_SMS_ACQ_VALIDATOR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opAcqValidator"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUMERO_CELLULARE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_CODICE_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_CODICE_UNIVOCO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SQLS_DATA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_NUM_SMC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_PICKEMIX_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_TEXT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_WASP_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_WORKING_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_ROW_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_TYPE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAcqValidatorResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_TEXT_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAcqValidatorRequest"> 
  <wsdl:part element="eb:opAcqValidator" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAcqValidatorResponse"> 
  <wsdl:part element="eb:opAcqValidatorResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SMS_ACQ_VALIDATORSoap"> 
  <wsdl:operation name="opAcqValidator"> 
   <wsdl:input message="eb:opAcqValidatorRequest" name="opAcqValidatorRequest" /> 
   <wsdl:output message="eb:opAcqValidatorResponse" name="opAcqValidatorResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SMS_ACQ_VALIDATORSoap" type="eb:WS_SMS_ACQ_VALIDATORSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAcqValidator"> 
   <soap:operation soapAction="WS_SMS_ACQ_VALIDATOR/opAcqValidator" style="document" /> 
   <wsdl:input name="opAcqValidatorRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAcqValidatorResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SMS_ACQ_VALIDATOR"> 
  <wsdl:port binding="eb:WS_SMS_ACQ_VALIDATORSoap" name="WS_SMS_ACQ_VALIDATORSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SMS_ACQ_VALIDATOR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>