esb_it/repo/VerificaRicarica/wsdl/VerificaRicarica.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="VERRICARICA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_MRM_RIC_HIDDEN_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="VERRICARICAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CA_PREPAID_CREDIT" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="VERRICARICARequest"> 
  <wsdl:part element="eb:VERRICARICA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="VERRICARICAResponse"> 
  <wsdl:part element="eb:VERRICARICAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="VerificaRicaricaSoap"> 
  <wsdl:operation name="VERRICARICA"> 
   <wsdl:input message="eb:VERRICARICARequest" name="VERRICARICARequest" /> 
   <wsdl:output message="eb:VERRICARICAResponse" name="VERRICARICAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="VerificaRicaricaSoap" type="eb:VerificaRicaricaSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="VERRICARICA"> 
   <soap:operation soapAction="VerificaRicarica/VERRICARICA" style="document" /> 
   <wsdl:input name="VERRICARICARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="VERRICARICAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="VerificaRicarica"> 
  <wsdl:port binding="eb:VerificaRicaricaSoap" name="VerificaRicaricaSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/VerificaRicarica" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>