esb_it/repo/WS_STB_KBP_VIEW_ULTIMA_FATTURA/wsdl/WS_STB_KBP_VIEW_ULTIMA_FATTURA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_ASSET_NUMBER" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_TOTALE_FATTURA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_CREDITO_PRECEDENTE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_IMPORTO_DOVUTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="INC_DATA_SCADENZA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="INC_DATA_CHIUSURA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="INC_TOTALE_ADJ" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="INC_IMPORTO_INCASSATO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_TOTALE_DOVUTO_EURO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_NUMERO_FATTURA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_DATA_EMISSIONE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="KN_ACCOUNT_NUMBER_BA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="WS_INVOICE_URL" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opViewFattura"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opViewFatturaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opViewFatturaRequest"> 
  <wsdl:part element="eb:opViewFattura" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opViewFatturaResponse"> 
  <wsdl:part element="eb:opViewFatturaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_STB_KBP_VIEW_ULTIMA_FATTURASoap"> 
  <wsdl:operation name="opViewFattura"> 
   <wsdl:input message="eb:opViewFatturaRequest" name="opViewFatturaRequest" /> 
   <wsdl:output message="eb:opViewFatturaResponse" name="opViewFatturaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_STB_KBP_VIEW_ULTIMA_FATTURASoap" type="eb:WS_STB_KBP_VIEW_ULTIMA_FATTURASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opViewFattura"> 
   <soap:operation soapAction="WS_STB_KBP_VIEW_ULTIMA_FATTURA/opViewFattura" style="document" /> 
   <wsdl:input name="opViewFatturaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opViewFatturaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_STB_KBP_VIEW_ULTIMA_FATTURA"> 
  <wsdl:port binding="eb:WS_STB_KBP_VIEW_ULTIMA_FATTURASoap" name="WS_STB_KBP_VIEW_ULTIMA_FATTURASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_STB_KBP_VIEW_ULTIMA_FATTURA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>