osb_it/repo/SCMSproject/PS_WS_CRM_GESTIONE_SMS_PPV/wsdl/SCMSproject_proxy_PS_WS_CRM_GESTIONE_SMS_PPV.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_GESTIONE_SMS_PPV"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_SMS_PPV"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_SMS_PPV"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_SMS_PPV.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestReadSMS_Message">
        <wsdl:part name="part_requestReadSMS" element="inp1:requestReadSMS"/>
    </wsdl:message>
    <wsdl:message name="responseReadSMS_Message">
        <wsdl:part name="part_responseReadSMS" element="inp1:responseReadSMS"/>
    </wsdl:message>
    <wsdl:portType name="CRM_GESTIONE_SMS_PPV_ptt">
        <wsdl:operation name="execute_ReadSMS">
            <wsdl:input message="tns:requestReadSMS_Message"/>
            <wsdl:output message="tns:responseReadSMS_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_Registration">
            <wsdl:input message="tns:requestRegistration_Message"/>
            <wsdl:output message="tns:responseRegistration_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_Deregistration">
            <wsdl:input message="tns:requestDeregistration_Message"/>
            <wsdl:output message="tns:responseDeregistration_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_ReadInfoRegistration">
            <wsdl:input message="tns:requestReadInfoRegistration_Message"/>
            <wsdl:output message="tns:responseReadInfoRegistration_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="Header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestRegistration_Message">
        <wsdl:part name="part_requestRegistration" element="inp1:requestRegistration"/>
    </wsdl:message>
    <wsdl:message name="responseRegistration_Message">
        <wsdl:part name="part_responseRegistration" element="inp1:responseRegistration"/>
    </wsdl:message>
    <wsdl:message name="requestDeregistration_Message">
        <wsdl:part name="part_requestDeregistration" element="inp1:requestDeregistration"/>
    </wsdl:message>
    <wsdl:message name="responseDeregistration_Message">
        <wsdl:part name="part_responseDeregistration" element="inp1:responseDeregistration"/>
    </wsdl:message>
    <wsdl:message name="requestReadInfoRegistration_Message">
        <wsdl:part name="part_requestReadInfoRegistration" element="inp1:requestReadInfoRegistration"/>
    </wsdl:message>
    <wsdl:message name="responseReadInfoRegistration_Message">
        <wsdl:part name="part_responseReadInfoRegistration" element="inp1:responseReadInfoRegistration"/>
    </wsdl:message>
    <wsdl:binding name="CRM_GESTIONE_SMS_PPV_bind" type="tns:CRM_GESTIONE_SMS_PPV_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_ReadSMS">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_SMS_PPV/execute_ReadSMS"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestReadSMS"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseReadSMS"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_Registration">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_SMS_PPV/execute_Registration"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestRegistration"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseRegistration"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_Deregistration">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_SMS_PPV/execute_Deregistration"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestDeregistration"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseDeregistration"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_ReadInfoRegistration">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_SMS_PPV/execute_ReadInfoRegistration"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestReadInfoRegistration"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseReadInfoRegistration"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>