esb_it/repo/WS_LEGGI_STORICO_CAMERA/wsdl/WS_LEGGI_STORICO_CAMERA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_CODICE_STANZA" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DESCRIZIONE_STANZA" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_DATA_MODIFICA" type="eb:FMLFieldType" /> 
     <xsd:element name="HTL_TIPO_MODIFICA" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_LEGGI_STORICO_CAMERA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_INIZIO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_FINE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_STANZA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_LEGGI_STORICO_CAMERAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="LEGGI_STORICO_CAMERA_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_LEGGI_STORICO_CAMERARequest"> 
  <wsdl:part element="eb:OP_LEGGI_STORICO_CAMERA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_LEGGI_STORICO_CAMERAResponse"> 
  <wsdl:part element="eb:OP_LEGGI_STORICO_CAMERAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LEGGI_STORICO_CAMERASoap"> 
  <wsdl:operation name="OP_LEGGI_STORICO_CAMERA"> 
   <wsdl:input message="eb:OP_LEGGI_STORICO_CAMERARequest" name="OP_LEGGI_STORICO_CAMERARequest" /> 
   <wsdl:output message="eb:OP_LEGGI_STORICO_CAMERAResponse" name="OP_LEGGI_STORICO_CAMERAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LEGGI_STORICO_CAMERASoap" type="eb:WS_LEGGI_STORICO_CAMERASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_LEGGI_STORICO_CAMERA"> 
   <soap:operation soapAction="WS_LEGGI_STORICO_CAMERA/OP_LEGGI_STORICO_CAMERA" style="document" /> 
   <wsdl:input name="OP_LEGGI_STORICO_CAMERARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_LEGGI_STORICO_CAMERAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LEGGI_STORICO_CAMERA"> 
  <wsdl:port binding="eb:WS_LEGGI_STORICO_CAMERASoap" name="WS_LEGGI_STORICO_CAMERASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LEGGI_STORICO_CAMERA" /> 
  </wsdl:port> 
 </wsdl:service>
</wsdl:definitions>