osb_it/repo/SiebelProject/PS_WS_CRM_SIE_GESTIONE_DATI_MV_CONNECTED/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_GESTIONE_DATI_MV_CONNECTED.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_SIE_GESTIONE_DATI_MV_CONNECTED"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_DATI_MV_CONNECTED"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_DATI_MV_CONNECTED"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_GESTIONE_DATI_MV_CONNECTED.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestLetturaStoricoMVConnected_Message">
        <wsdl:part name="part_requestLetturaStoricoMVConnected" element="inp1:requestLetturaStoricoMVConnected"/>
    </wsdl:message>
    <wsdl:message name="responseLetturaStoricoMVConnected_Message">
        <wsdl:part name="part_responseLetturaStoricoMVConnected" element="inp1:responseLetturaStoricoMVConnected"/>
    </wsdl:message>
    <wsdl:portType name="CRM_SIE_GESTIONE_DATI_MV_CONNECTED_ptt">
        <wsdl:operation name="execute_letturaDatiMVConnected">
            <wsdl:input message="tns:requestLetturaStoricoMVConnected_Message"/>
            <wsdl:output message="tns:responseLetturaStoricoMVConnected_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_scritturaDatiMVConnected">
            <wsdl:input message="tns:requestScritturaStoricoMVConnected_Message"/>
            <wsdl:output message="tns:responseScritturaStoricoMVConnected_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestScritturaStoricoMVConnected_Message">
        <wsdl:part name="part_requestScritturaStoricoMVConnected" element="inp1:requestScritturaStoricoMVConnected"/>
    </wsdl:message>
    <wsdl:message name="responseScritturaStoricoMVConnected_Message">
        <wsdl:part name="part_responseScritturaStoricoMVConnected" element="inp1:responseScritturaStoricoMVConnected"/>
    </wsdl:message>
    <wsdl:binding name="CRM_SIE_GESTIONE_DATI_MV_CONNECTED_bind" type="tns:CRM_SIE_GESTIONE_DATI_MV_CONNECTED_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_letturaDatiMVConnected">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_DATI_MV_CONNECTED/execute_letturaDatiMVConnected"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestLetturaStoricoMVConnected"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseLetturaStoricoMVConnected"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_scritturaDatiMVConnected">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_DATI_MV_CONNECTED/execute_scritturaDatiMVConnected"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestScritturaStoricoMVConnected"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseScritturaStoricoMVConnected"/>
                <soap:header message="tns:header_Message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>