esb_it/repo/WS_ADV_KITCOSMOS_ACK/wsdl/WS_ADV_KITCOSMOS_ACK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opDoTransitionAsString"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="login" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="pwd" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="transName" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="parameters" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDoTransitionAsStringResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="doTransitionAsStringReturn" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opDoTransitionAsStringRequest"> 
  <wsdl:part element="eb:opDoTransitionAsString" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDoTransitionAsStringResponse"> 
  <wsdl:part element="eb:opDoTransitionAsStringResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ADV_KITCOSMOS_ACKSoap"> 
  <wsdl:operation name="opDoTransitionAsString"> 
   <wsdl:input message="eb:opDoTransitionAsStringRequest" name="opDoTransitionAsStringRequest" /> 
   <wsdl:output message="eb:opDoTransitionAsStringResponse" name="opDoTransitionAsStringResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ADV_KITCOSMOS_ACKSoap" type="eb:WS_ADV_KITCOSMOS_ACKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opDoTransitionAsString"> 
   <soap:operation soapAction="WS_ADV_KITCOSMOS_ACK/opDoTransitionAsString" style="document" /> 
   <wsdl:input name="opDoTransitionAsStringRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDoTransitionAsStringResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ADV_KITCOSMOS_ACK"> 
  <wsdl:port binding="eb:WS_ADV_KITCOSMOS_ACKSoap" name="WS_ADV_KITCOSMOS_ACKSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_neodata/WS_ADV_KITCOSMOS_ACK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>