osb_it/repo/BlueBirdProject/KENAN/callLogs/PS_REST_KENAN_CALL_LOGS/wsdl/BlueBirdProject_KENAN_callLogs_proxy_PS_REST_KENAN_CALL_LOGS.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_KENAN_CALL_LOGS"
     targetNamespace="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_KENAN_CALL_LOGS"
     xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/BlueBirdProject/PS_REST_KENAN_CALL_LOGS"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_KENAN_CALL_LOGS">
        <plnk:role name="PS_REST_KENAN_CALL_LOGSProvider" portType="tns:PS_REST_KENAN_CALL_LOGS_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/calllogs/xsd/XSD_KENAN_CALL_LOGS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="retrieveCallLogRatate_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveCallLogRatate"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogRatate_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveCallLogRatate"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogRatate_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogRatate_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogRatate_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogForInvoice_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveCallLogForInvoice"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogForInvoice_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveCallLogForInvoice"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogForInvoice_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogForInvoice_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="retrieveCallLogForInvoice_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_KENAN_CALL_LOGS_ptt">
        <wsdl:operation name="retrieveCallLogRatate">
            <wsdl:input message="tns:retrieveCallLogRatate_inputMessage"/>
            <wsdl:output message="tns:retrieveCallLogRatate_outputMessage"/>
            <wsdl:fault name="error404" message="tns:retrieveCallLogRatate_error404Message"/>
            <wsdl:fault name="error400" message="tns:retrieveCallLogRatate_error400Message"/>
            <wsdl:fault name="error500" message="tns:retrieveCallLogRatate_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="retrieveCallLogForInvoice">
            <wsdl:input message="tns:retrieveCallLogForInvoice_inputMessage"/>
            <wsdl:output message="tns:retrieveCallLogForInvoice_outputMessage"/>
            <wsdl:fault name="error404" message="tns:retrieveCallLogForInvoice_error404Message"/>
            <wsdl:fault name="error400" message="tns:retrieveCallLogForInvoice_error400Message"/>
            <wsdl:fault name="error500" message="tns:retrieveCallLogForInvoice_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_KENAN_CALL_LOGS_ptt-binding" type="tns:PS_REST_KENAN_CALL_LOGS_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="retrieveCallLogRatate">
            <soap:operation soapAction="retrieveCallLogRatate"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="retrieveCallLogForInvoice">
            <soap:operation soapAction="retrieveCallLogForInvoice"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>