osb_it/repo/SalesforceProject/REST/CRM/WEB/SELFCARE/HANDLER/PS_REST_CRM_WEB_SELFCARE_HANDLER/wsdl/SalesforceProject_REST_CRM_WEB_SELFCARE_HANDLER_proxy_PS_REST_CRM_WEB_SELFCARE_HANDLER.wsdl

<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_WEB_SELFCARE_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_CRM_WEB_SELFCARE_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_WEB_SELFCARE_HANDLER">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_WebSelfCareHandler/xsd/XSD_CRM_WEB_SELFCARE_HANDLER.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="deleteWSC_inputMessage">
		<wsdl:part name="request" element="inp1:requestDeleteWSC"/>
	</wsdl:message>
	<wsdl:message name="deleteWSC_outputMessage">
		<wsdl:part name="reply" element="inp1:responseDeleteWSC"/>
	</wsdl:message>
	<wsdl:message name="deleteWSC_fault400Message">
		<wsdl:part name="fault_fault400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="deleteWSC_fault500Message">
		<wsdl:part name="fault_fault500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:message name="deleteWSC_fault404Message">
		<wsdl:part name="fault_fault404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_CRM_WEB_SELFCARE_HANDLER_ptt">
		<wsdl:operation name="deleteWSC">
			<wsdl:input message="tns:deleteWSC_inputMessage"/>
			<wsdl:output message="tns:deleteWSC_outputMessage"/>
			<wsdl:fault name="fault400" message="tns:deleteWSC_fault400Message"/>
			<wsdl:fault name="fault500" message="tns:deleteWSC_fault500Message"/>
			<wsdl:fault name="fault404" message="tns:deleteWSC_fault404Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_CRM_WEB_SELFCARE_HANDLER_ptt-binding" type="tns:PS_REST_CRM_WEB_SELFCARE_HANDLER_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="deleteWSC">
			<soap:operation soapAction="deleteWSC"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_CRM_WEB_SELFCARE_HANDLER">
		<plnk:role name="PS_REST_CRM_WEB_SELFCARE_HANDLERProvider" portType="tns:PS_REST_CRM_WEB_SELFCARE_HANDLER_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>