osb_it/repo/SalesforceProject/REST/CRM/REWARD/HANDLER/PS_REST_CRM_REWARD_HANDLER/wsdl/SalesforceProject_REST_CRM_REWARD_HANDLER_proxy_PS_REST_CRM_REWARD_HANDLER.wsdl

<wsdl:definitions name="PS_REST_CRM_REWARD_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_REWARD_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_REWARD_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_REWARD_HANDLER">
        <plnk:role name="PS_REST_CRM_REWARD_HANDLERProvider" portType="tns:PS_REST_CRM_REWARD_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_RewardHandler/xsd/XSD_REST_CRM_REWARD_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetRewards_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetReward"/>
    </wsdl:message>
    <wsdl:message name="GetRewards_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetReward"/>
    </wsdl:message>
    <wsdl:message name="GetRewards_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="GetRewards_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="GetRewards_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ConfirmReward_inputMessage">
        <wsdl:part name="request" element="inp1:requestConfirmReward"/>
    </wsdl:message>
    <wsdl:message name="ConfirmReward_outputMessage">
        <wsdl:part name="reply" element="inp1:responseConfirmReward"/>
    </wsdl:message>
    <wsdl:message name="ConfirmReward_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="ConfirmReward_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ConfirmReward_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_REWARD_HANDLER_ptt">
        <wsdl:operation name="GetRewards">
            <wsdl:input message="tns:GetRewards_inputMessage"/>
            <wsdl:output message="tns:GetRewards_outputMessage"/>
            <wsdl:fault name="error404" message="tns:GetRewards_error404Message"/>
            <wsdl:fault name="error400" message="tns:GetRewards_error400Message"/>
            <wsdl:fault name="error500" message="tns:GetRewards_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="ConfirmReward">
            <wsdl:input message="tns:ConfirmReward_inputMessage"/>
            <wsdl:output message="tns:ConfirmReward_outputMessage"/>
            <wsdl:fault name="error404" message="tns:ConfirmReward_error404Message"/>
            <wsdl:fault name="error400" message="tns:ConfirmReward_error400Message"/>
            <wsdl:fault name="error500" message="tns:ConfirmReward_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_REWARD_HANDLER_ptt-binding" type="tns:PS_REST_CRM_REWARD_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetRewards">
            <soap:operation soapAction="GetRewards"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ConfirmReward">
            <soap:operation soapAction="ConfirmReward"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>