esb_it/repo/WS_PALINSESTO_OPPV_PREVIEW/wsdl/WS_PALINSESTO_OPPV_PREVIEW.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CA_OPPV_NUMERO_GIORNI" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="WS_ROOT_FML32" type="eb:FMLComplexRoot" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexRoot"> 
    <xsd:sequence> 
     <xsd:element name="CA_OPPV_REFID" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_TITOLO_EVENTO" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_DATA_EVENTO" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_COSTO_EVENTO_ORIGINALE" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_FLAG_RICH_CPI" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_FLAG_DIRETTA" type="xsd:string" /> 
     <xsd:element name="CA_CONTENT_CODES" type="xsd:string" /> 
     <xsd:element name="CA_SUB_CONTENTCODE" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_UTENZE_ABILITATE" type="xsd:string" /> 
     <xsd:element name="CA_OPPV_TIPO_EVENTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_OPPV_COSTO_EVENTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CA_IPTV_BLACKOUT" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opPalinsestoOppv"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opPalinsestoOppvResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opPalinsestoOppvRequest"> 
  <wsdl:part element="eb:opPalinsestoOppv" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opPalinsestoOppvResponse"> 
  <wsdl:part element="eb:opPalinsestoOppvResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PALINSESTO_OPPV_PREVIEWSoap"> 
  <wsdl:operation name="opPalinsestoOppv"> 
   <wsdl:input message="eb:opPalinsestoOppvRequest" name="opPalinsestoOppvRequest" /> 
   <wsdl:output message="eb:opPalinsestoOppvResponse" name="opPalinsestoOppvResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PALINSESTO_OPPV_PREVIEWSoap" type="eb:WS_PALINSESTO_OPPV_PREVIEWSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opPalinsestoOppv"> 
   <soap:operation soapAction="WS_PALINSESTO_OPPV_PREVIEW/opPalinsestoOppv" style="document" /> 
   <wsdl:input name="opPalinsestoOppvRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opPalinsestoOppvResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PALINSESTO_OPPV_PREVIEW"> 
  <wsdl:port binding="eb:WS_PALINSESTO_OPPV_PREVIEWSoap" name="WS_PALINSESTO_OPPV_PREVIEWSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PALINSESTO_OPPV_PREVIEW" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>