esb_it/repo/WS_OTS_SBL_CREA_PROSPECT/wsdl/WS_OTS_SBL_CREA_PROSPECT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdReitek/SkyXSD_OTS_SBL_CREA_PROSPECT.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOut"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCreaProspect"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCreaProspectResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:DocumentDataOut" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCreaProspectRequest"> 
  <wsdl:part element="eb:opCreaProspect" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCreaProspectResponse"> 
  <wsdl:part element="eb:opCreaProspectResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_OTS_SBL_CREA_PROSPECTSoap"> 
  <wsdl:operation name="opCreaProspect"> 
   <wsdl:input message="eb:opCreaProspectRequest" name="opCreaProspectRequest" /> 
   <wsdl:output message="eb:opCreaProspectResponse" name="opCreaProspectResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_OTS_SBL_CREA_PROSPECTSoap" type="eb:WS_OTS_SBL_CREA_PROSPECTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCreaProspect"> 
   <soap:operation soapAction="WS_OTS_SBL_CREA_PROSPECT/opCreaProspect" style="document" /> 
   <wsdl:input name="opCreaProspectRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCreaProspectResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_OTS_SBL_CREA_PROSPECT"> 
  <wsdl:port binding="eb:WS_OTS_SBL_CREA_PROSPECTSoap" name="WS_OTS_SBL_CREA_PROSPECTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_OTS_SBL_CREA_PROSPECT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>