osb_it/repo/KENANProject/WS/CRM/GESTIONE/FATTURE/PS_WS_CRM_GESTIONE_FATTURE/wsdl/KENANProject_WS_CRM_GESTIONE_FATTURE_proxy_PS_WS_CRM_GESTIONE_FATTURE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WSDLCRM_GESTIONE_FATTURE" targetNamespace="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_GESTIONE_FATTURE.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestGetFatture_Message">
		<wsdl:part name="part_requestGetFatture" element="inp1:requestGetFatture"/>
	</wsdl:message>
	<wsdl:message name="responseGetFatture_Message">
		<wsdl:part name="part_responseGetFatture" element="inp1:responseGetFatture"/>
	</wsdl:message>
	<wsdl:message name="requestGetItemFatture_Message">
		<wsdl:part name="part_requestGetItemFatture" element="inp1:requestGetItemFatture"/>
	</wsdl:message>
	<wsdl:message name="responseGetItemFatture_Message">
		<wsdl:part name="part_responseGetItemFatture" element="inp1:responseGetItemFatture"/>
	</wsdl:message>
	<wsdl:message name="requestGetFattureRecenti_Message">
		<wsdl:part name="part_requestGetFattureRecenti" element="inp1:requestGetFattureRecenti"/>
	</wsdl:message>
	<wsdl:message name="responseGetFattureRecenti_Message">
		<wsdl:part name="part_responseGetFattureRecenti" element="inp1:responseGetFattureRecenti"/>
	</wsdl:message>
	<wsdl:message name="Header_Message">
		<wsdl:part name="part_HeaderMessage" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="getFatture_ptt">
		<wsdl:operation name="execute_getFatture">
			<wsdl:input message="tns:requestGetFatture_Message"/>
			<wsdl:output message="tns:responseGetFatture_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getItemFatture">
			<wsdl:input message="tns:requestGetItemFatture_Message"/>
			<wsdl:output message="tns:responseGetItemFatture_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_getFattureRecenti">
			<wsdl:input message="tns:requestGetFattureRecenti_Message"/>
			<wsdl:output message="tns:responseGetFattureRecenti_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="getFatture_Bind" type="tns:getFatture_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_getFatture">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE/execute_getFatture" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetFatture" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetFatture" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_getItemFatture">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE/execute_getItemFatture" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetItemFatture" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetItemFatture" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_getFattureRecenti">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/CRM_GESTIONE_FATTURE/execute_GetFattureRecenti" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestGetFattureRecenti" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseGetFattureRecenti" use="literal"/>
				<soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>