esb_it/repo/WS_LS_MOV_EAE_TO_SBL/wsdl/WS_LS_MOV_EAE_TO_SBL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="LS_FLUSSO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_ID_RICHIESTA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_MAGAZZINO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_TIPO_ELABORAZIONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_TID" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="100" name="LS_MATRICOLA_FML32" type="eb:FMLComplexMatricola" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexMatricola"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_MATRICOLA" type="eb:FMLFieldType" /> 
     <xsd:element name="LS_CAUSALE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="LS_QUANTITA" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="10" minOccurs="0" name="LS_ACCESSORIO_FML32" type="eb:FMLComplexAccessorio" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexAccessorio"> 
    <xsd:sequence> 
     <xsd:element name="LS_CODICE_PARTE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opMovEaeToSbl"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opMovEaeToSblResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opMovEaeToSblRequest"> 
  <wsdl:part element="eb:opMovEaeToSbl" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opMovEaeToSblResponse"> 
  <wsdl:part element="eb:opMovEaeToSblResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_LS_MOV_EAE_TO_SBLSoap"> 
  <wsdl:operation name="opMovEaeToSbl"> 
   <wsdl:input message="eb:opMovEaeToSblRequest" name="opMovEaeToSblRequest" /> 
   <wsdl:output message="eb:opMovEaeToSblResponse" name="opMovEaeToSblResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_LS_MOV_EAE_TO_SBLSoap" type="eb:WS_LS_MOV_EAE_TO_SBLSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opMovEaeToSbl"> 
   <soap:operation soapAction="WS_LS_MOV_EAE_TO_SBL/opMovEaeToSbl" style="document" /> 
   <wsdl:input name="opMovEaeToSblRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opMovEaeToSblResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_LS_MOV_EAE_TO_SBL"> 
  <wsdl:port binding="eb:WS_LS_MOV_EAE_TO_SBLSoap" name="WS_LS_MOV_EAE_TO_SBLSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_LS_MOV_EAE_TO_SBL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>