osb_it/repo/KENANProject/WS/BILL/PAYMENT/PS_WS_BILL_PAYMENT/wsdl/KENANProject_WS_BILL_PAYMENT_proxy_PS_WS_BILL_PAYMENT.wsdl

<wsdl:definitions name="WS_BILL_PAYMENT" targetNamespace="http://www.skytv.it/mdw/service/WS_BILL_PAYMENT" xmlns:tns="http://www.skytv.it/mdw/service/WS_BILL_PAYMENT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_BILL_PAYMENT.xsd"/>
             <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestBillCheck_Message">
        <wsdl:part name="part_requestBillCheck" element="inp1:requestBillCheck"/>
    </wsdl:message>
    <wsdl:message name="responseBillCheck_Message">
        <wsdl:part name="part_responseBillCheck" element="inp1:responseBillCheck"/>
    </wsdl:message>
    <wsdl:portType name="execute_BILL_PAYMENT_ptt">
        <wsdl:operation name="execute_BillCheck">
            <wsdl:input message="tns:requestBillCheck_Message"/>
            <wsdl:output message="tns:responseBillCheck_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_BillNotify">
            <wsdl:input message="tns:requestBillNotify_Message"/>
            <wsdl:output message="tns:responseBillNotify_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestBillNotify_Message">
        <wsdl:part name="part_requestBillNotify" element="inp1:requestBillNotify"/>
    </wsdl:message>
    <wsdl:message name="responseBillNotify_Message">
        <wsdl:part name="part_responseBillNotify" element="inp1:responseBillNotify"/>
    </wsdl:message>
    <wsdl:binding name="execute_BILL_PAYMENT_bind" type="tns:execute_BILL_PAYMENT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_BillCheck">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_BILL_PAYMENT/execute_BillCheck"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestBillCheck"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseBillCheck"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_BillNotify">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/WS_BILL_PAYMENT/execute_BillNotify"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestBillNotify"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseBillNotify"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>