osb_it/repo/SalesforceProject/WS/CRM/ANNULLA/ORDINE/BATCH/PS_CRM_ANNULLA_ORDINE_BATCH/xsd/XSD_CRM_ANNULLA_ORDINE_BATCH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestAnnullaOrdineBatchType">
		<xsd:sequence>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestAnnullaOrdineBatch" type="requestAnnullaOrdineBatchType"/>
	<xsd:element name="responseAnnullaOrdineBatch" type="responseAnnullaOrdineBatchType"/>
	<xsd:complexType name="responseAnnullaOrdineBatchType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tid" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>