osb_it/repo/SiebelProject/PS_WS_CRM_SIE_ODS_SYNC/xsd/XSD_CRM_SIE_ODS_SYNC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestGetOdsType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestGetOds" type="requestGetOdsType"/>
	<xsd:complexType name="responseGetOdsType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="ListOfODS" type="ListOfODSType" minOccurs="0"/>
			<xsd:element name="TimeoutID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseGetOds" type="responseGetOdsType"/>
	<xsd:complexType name="ListOfODSType">
		<xsd:sequence>
			<xsd:element name="ODS" type="ODSType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ODSType">
		<xsd:sequence>
			<xsd:element name="ActivityIdSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Citofono" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceParteSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="CodiceVISP" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ConsegnaClienteFlagSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ControlloSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataInvio" type="xsd:string" minOccurs="0"/>
			<xsd:element name="DataUltimaModifica" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Destinatario" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IdRichiestaMagazzino" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ImportoSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Indirizzo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="IntegrationIdServizioSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="LogSales" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Matricola" type="xsd:string" minOccurs="0"/>
			<xsd:element name="MotivoRichiestaSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroContrattoSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroOrdine" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroSeriale" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PressoSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SottoStatoODS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoODS" type="xsd:string" minOccurs="0"/>
			<xsd:element name="StatoRichiestaSKY" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TelefonoDestinatario" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoApparatoSKY" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>