osb_it/repo/SalesforceProject/WS/CRM/UPDATE/COMMUNICATION/STATUS/PS_WS_CRM_UPDATE_COMMUNICATION_STATUS/xsd/XSD_CRM_UPDATE_COMMUNICATION_STATUS.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestUpdateCommunicationStatus" type="requestUpdateCommunicationStatusType"/>
  <xsd:complexType name="requestUpdateCommunicationStatusType">
    <xsd:sequence>
      <xsd:element name="mdwCommunicationId" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="mdwStatus" minOccurs="1" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:minLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="responseUpdateCommunicationStatus" type="responseUpdateCommunicationStatusType"/>
  <xsd:complexType name="responseUpdateCommunicationStatusType">
    <xsd:sequence>
      <xsd:element name="esito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="descrizioneEsito" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>