osb_it/repo/SiebelProject/RetrieveMatricole/PS_WS_SBL_LOGISTIC_RETRIEVE_MATRICOLE/xsd/XSD_SBL_LOGISTIC_RETRIEVE_MATRICOLE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestRetrieveMatricole" type="requestRetrieveMatricoleType"/>
	<xsd:element name="responseRetrieveMatricole" type="responseRetrieveMatricoleType"/>
	<xsd:complexType name="requestRetrieveMatricoleType">
		<xsd:sequence>
			<xsd:element name="NumeroAsset" type="xsd:string"/>
			<xsd:element name="Tipo" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListaApparatiType">
		<xsd:sequence>
			<xsd:element name="Apparato" type="ApparatoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestRetrieveMatricoleFromList" type="requestRetrieveMatricoleFromListType"/>
	<xsd:element name="responseRetrieveMatricoleFromList" type="responseRetrieveMatricoleType"/>
	<xsd:complexType name="requestRetrieveMatricoleFromListType">
		<xsd:sequence>
                        <xsd:element name="ListaAsset" type="ListaAssetType" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListaAssetType">
		<xsd:sequence>
			<xsd:element name="NumeroAsset" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ApparatoType">
		<xsd:sequence>
			<xsd:element name="Matricola" type="xsd:string"/>
			<xsd:element name="TipoApparato" type="xsd:string"/>
			<xsd:element name="Stato" type="xsd:string"/>
			<xsd:element name="Sottostato" type="xsd:string"/>
			<xsd:element name="CodiceApparato" type="xsd:string"/>
			<xsd:element name="Magazzino" type="xsd:string"/>
			<xsd:element name="TipoMagazzino" type="xsd:string"/>
			<xsd:element name="LivelloInventariale" type="xsd:string"/>
			<xsd:element name="DataUltimaVarStato" type="xsd:string"/>
			<xsd:element name="Note" type="xsd:string"/>
			<xsd:element name="DataFineGaranzia" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseRetrieveMatricoleType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="ListaApparati" type="ListaApparatiType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>