osb_it/repo/BlueBirdProject/SALESFORCE/problemCaseHandler/PS_REST_SF_PROBLEM_CASE_HANDLER/wsdl/BlueBirdProject_SALESFORCE_problemCaseHandler_proxy_PS_REST_SF_PROBLEM_CASE_HANDLER.wsdl

<wsdl:definitions name="PS_REST_SF_PROBLEM_CASE_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_PROBLEM_CASE_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_PROBLEM_CASE_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_PROBLEM_CASE_HANDLER">
        <plnk:role name="PS_REST_SF_PROBLEM_CASE_HANDLERProvider" portType="tns:PS_REST_SF_PROBLEM_CASE_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/problemCaseHandler/xsd/XSD_SF_PROBLEM_CASE_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveProblems_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveProblems"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblems_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveProblems"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblems_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblems_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblems_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblemDetails_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveProblemDetails"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblemDetails_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveProblemDetails"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblemDetails_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblemDetails_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblemDetails_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="InsertProblem_inputMessage">
        <wsdl:part name="request" element="inp1:requestInsertProblem"/>
    </wsdl:message>
    <wsdl:message name="InsertProblem_outputMessage">
        <wsdl:part name="reply" element="inp1:responseInsertProblem"/>
    </wsdl:message>
    <wsdl:message name="InsertProblem_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="InsertProblem_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="InsertProblem_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CloseTheLoop_inputMessage">
        <wsdl:part name="request" element="inp1:requestCloseTheLoop"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="CloseTheLoop_error400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CloseTheLoop_error500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="CloseTheLoop_error404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="appointmentsSwitchSquad_inputMessage">
        <wsdl:part name="request" element="inp1:requestAppointmentSwitchSquad"/>
    </wsdl:message>
    <wsdl:message name="appointmentsSwitchSquad_outputMessage">
        <wsdl:part name="reply" element="inp1:responseAppointmentSwitchSquad"/>
    </wsdl:message>
    <wsdl:message name="appointmentsSwitchSquad_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="appointmentsSwitchSquad_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="appointmentsSwitchSquad_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblem_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveProblems"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblem_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveProblems"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblem_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblem_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveProblem_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_PROBLEM_CASE_HANDLER_ptt">
        <wsdl:operation name="RetrieveProblems">
            <wsdl:input message="tns:RetrieveProblems_inputMessage"/>
            <wsdl:output message="tns:RetrieveProblems_outputMessage"/>
            <wsdl:fault name="error400" message="tns:RetrieveProblems_error400Message"/>
            <wsdl:fault name="error500" message="tns:RetrieveProblems_error500Message"/>
            <wsdl:fault name="error404" message="tns:RetrieveProblems_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveProblemDetails">
            <wsdl:input message="tns:RetrieveProblemDetails_inputMessage"/>
            <wsdl:output message="tns:RetrieveProblemDetails_outputMessage"/>
            <wsdl:fault name="error400" message="tns:RetrieveProblemDetails_error400Message"/>
            <wsdl:fault name="error500" message="tns:RetrieveProblemDetails_error500Message"/>
            <wsdl:fault name="error404" message="tns:RetrieveProblemDetails_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="InsertProblem">
            <wsdl:input message="tns:InsertProblem_inputMessage"/>
            <wsdl:output message="tns:InsertProblem_outputMessage"/>
            <wsdl:fault name="error400" message="tns:InsertProblem_error400Message"/>
            <wsdl:fault name="error500" message="tns:InsertProblem_error500Message"/>
            <wsdl:fault name="error404" message="tns:InsertProblem_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="CloseTheLoop">
            <wsdl:input message="tns:CloseTheLoop_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error400" message="tns:CloseTheLoop_error400Message"/>
            <wsdl:fault name="error500" message="tns:CloseTheLoop_error500Message"/>
            <wsdl:fault name="error404" message="tns:CloseTheLoop_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="AppointmentsSwitchSquad">
            <wsdl:input message="tns:appointmentsSwitchSquad_inputMessage"/>
            <wsdl:output message="tns:appointmentsSwitchSquad_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:appointmentsSwitchSquad_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:appointmentsSwitchSquad_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:appointmentsSwitchSquad_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_PROBLEM_CASE_HANDLER_ptt-binding" type="tns:PS_REST_SF_PROBLEM_CASE_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveProblems">
            <soap:operation soapAction="RetrieveProblems"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetrieveProblemDetails">
            <soap:operation soapAction="RetrieveProblemDetails"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InsertProblem">
            <soap:operation soapAction="InsertProblem"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CloseTheLoop">
            <soap:operation soapAction="CloseTheLoop"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="AppointmentsSwitchSquad">
            <soap:operation soapAction="appointmentsSwitchSquad"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>