esb_it/repo/WS_VMS_BURNCRDCARD/wsdl/WS_VMS_BURNCRDCARD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="1" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_AMOUNT" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CRM_CODICE_DEALER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_CREATION_DATE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_ACTIVATION_DATE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_EXPIRED_DATE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_USED_DATE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_SKY_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_GROUP_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_TYPE_VOUCHER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CRM_ACCOUNT_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_CARD_STATUS" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_SERIAL_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_REQUESTED_BY" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="VMS_CREDIT_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="VMS_FEE_CALCULATION" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="VMS_TARGET_AUDICENCE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="VMS_VOUCHER_DESCRIPTION" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_TAG_TYPE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="CA_PPV_KIND" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="0" name="MRM_HIDDEN_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_ERROR_TYPE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opVmsBurnCrdCard"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="MRM_AMOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_MEDIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="VMS_TARGET_AUDICENCE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_CODICE_DEALER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_CODICE_TIPO_DEALER" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVmsBurnCrdCardResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseVMS" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVmsBurnCrdCardRequest"> 
  <wsdl:part element="eb:opVmsBurnCrdCard" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVmsBurnCrdCardResponse"> 
  <wsdl:part element="eb:opVmsBurnCrdCardResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_VMS_BURNCRDCARDSoap"> 
  <wsdl:operation name="opVmsBurnCrdCard"> 
   <wsdl:input message="eb:opVmsBurnCrdCardRequest" name="opVmsBurnCrdCardRequest" /> 
   <wsdl:output message="eb:opVmsBurnCrdCardResponse" name="opVmsBurnCrdCardResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_VMS_BURNCRDCARDSoap" type="eb:WS_VMS_BURNCRDCARDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVmsBurnCrdCard"> 
   <soap:operation soapAction="WS_VMS_BURNCRDCARD/opVmsBurnCrdCard" style="document" /> 
   <wsdl:input name="opVmsBurnCrdCardRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVmsBurnCrdCardResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_VMS_BURNCRDCARD"> 
  <wsdl:port binding="eb:WS_VMS_BURNCRDCARDSoap" name="WS_VMS_BURNCRDCARDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_VMS_BURNCRDCARD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>