osb_it/repo/MDWProject/PagaOnLine/PS_REST_MDW_PAGA_ON_LINE/wsdl/MDWProject_PagaOnLine_proxy_PS_REST_MDW_PAGA_ON_LINE.wsdl

<wsdl:definitions name="PS_REST_MDW_PAGA_ON_LINE" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/MDWProject/PS_REST_MDW_PAGA_ON_LINE" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/MDWProject/PS_REST_MDW_PAGA_ON_LINE" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_MDW_PAGA_ON_LINE">
        <plnk:role name="PS_REST_MDW_PAGA_ON_LINEProvider" portType="tns:PS_REST_MDW_PAGA_ON_LINE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/MDWProject/PagaOnLine/xsd/XSD_MDW_PAGA_ON_LINE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="PagaOnLine_inputMessage">
        <wsdl:part name="request" element="inp1:requestPagaOnLine"/>
    </wsdl:message>
    <wsdl:message name="PagaOnLine_outputMessage">
        <wsdl:part name="reply" element="inp1:responsePagaOnLine"/>
    </wsdl:message>
    <wsdl:message name="PagaOnLine_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="PagaOnLine_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="PagaOnLine_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_PAGA_ON_LINE_ptt">
        <wsdl:operation name="PagaOnLine">
            <wsdl:input message="tns:PagaOnLine_inputMessage"/>
            <wsdl:output message="tns:PagaOnLine_outputMessage"/>
            <wsdl:fault name="error404" message="tns:PagaOnLine_error404Message"/>
            <wsdl:fault name="error400" message="tns:PagaOnLine_error400Message"/>
            <wsdl:fault name="error500" message="tns:PagaOnLine_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_PAGA_ON_LINE_ptt-binding" type="tns:PS_REST_MDW_PAGA_ON_LINE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="PagaOnLine">
            <soap:operation soapAction="PagaOnLine"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>