osb_it/repo/BlueBirdProject/OSS/normAddress/PS_REST_MDW_ADDRESS_NORMALIZATION/wsdl/BlueBirdProject_OSS_normAddress_proxy_PS_REST_MDW_ADDRESS_NORMALIZATION.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_MDW_ADDRESS_NORMALIZATION"
     targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_MDW_ADDRESS_NORMALIZATION"
     xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_MDW_ADDRESS_NORMALIZATION"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_MDW_ADDRESS_NORMALIZATION">
        <plnk:role name="PS_REST_MDW_ADDRESS_NORMALIZATIONProvider" portType="tns:PS_REST_MDW_ADDRESS_NORMALIZATION_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/OSS/normAddress/XSD_MDW_NORMADDRESS.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getCities_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetCities"/>
    </wsdl:message>
    <wsdl:message name="getCities_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetCities"/>
    </wsdl:message>
    <wsdl:message name="getCities_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getCities_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getCities_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getStreets_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetStreets"/>
    </wsdl:message>
    <wsdl:message name="getStreets_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetStreets"/>
    </wsdl:message>
    <wsdl:message name="getStreets_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getStreets_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getStreets_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="getStreetNumbers_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetStreetNumbers"/>
    </wsdl:message>
    <wsdl:message name="getStreetNumbers_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetStreetNumbers"/>
    </wsdl:message>
    <wsdl:message name="getStreetNumbers_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="getStreetNumbers_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="getStreetNumbers_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="execute_GetZipCodes_inputMessage">
        <wsdl:part name="request" element="inp1:requestGetZipCodes"/>
    </wsdl:message>
    <wsdl:message name="execute_GetZipCodes_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetZipCodes"/>
    </wsdl:message>
    <wsdl:message name="execute_GetZipCodes_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="execute_GetZipCodes_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="execute_GetZipCodes_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="execute_GetZipCodes_error406Message">
        <wsdl:part name="fault_error406" element="inp1:error406"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_ADDRESS_NORMALIZATION_ptt">
        <wsdl:operation name="execute_GetCities">
            <wsdl:input message="tns:getCities_inputMessage"/>
            <wsdl:output message="tns:getCities_outputMessage"/>
            <wsdl:fault name="error400" message="tns:getCities_error400Message"/>
            <wsdl:fault name="error500" message="tns:getCities_error500Message"/>
            <wsdl:fault name="error404" message="tns:getCities_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreets">
            <wsdl:input message="tns:getStreets_inputMessage"/>
            <wsdl:output message="tns:getStreets_outputMessage"/>
            <wsdl:fault name="error400" message="tns:getStreets_error400Message"/>
            <wsdl:fault name="error500" message="tns:getStreets_error500Message"/>
            <wsdl:fault name="error404" message="tns:getStreets_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreetNumbers">
            <wsdl:input message="tns:getStreetNumbers_inputMessage"/>
            <wsdl:output message="tns:getStreetNumbers_outputMessage"/>
            <wsdl:fault name="error400" message="tns:getStreetNumbers_error400Message"/>
            <wsdl:fault name="error500" message="tns:getStreetNumbers_error500Message"/>
            <wsdl:fault name="error404" message="tns:getStreetNumbers_error404Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetZipCodes">
            <wsdl:input message="tns:execute_GetZipCodes_inputMessage"/>
            <wsdl:output message="tns:execute_GetZipCodes_outputMessage"/>
            <wsdl:fault name="error400" message="tns:execute_GetZipCodes_error400Message"/>
            <wsdl:fault name="error500" message="tns:execute_GetZipCodes_error500Message"/>
            <wsdl:fault name="error404" message="tns:execute_GetZipCodes_error404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_ADDRESS_NORMALIZATION_ptt-binding" type="tns:PS_REST_MDW_ADDRESS_NORMALIZATION_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetCities">
            <soap:operation soapAction="execute_GetCities"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreets">
            <soap:operation soapAction="execute_GetStreets"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetStreetNumbers">
            <soap:operation soapAction="execute_GetStreetNumbers"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetZipCodes">
            <soap:operation soapAction="execute_GetZipCodes"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>