esb_it/repo/WS_ELAIDE_POSTA_ELETTRONICA/wsdl/WS_ELAIDE_POSTA_ELETTRONICA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import schemaLocation="xsdElaide/SkyXSD_Elaide_posta_elettronica.xsd" /> 
   <xsd:complexType name="SetAccountRequest"> 
    <xsd:complexContent> 
     <xsd:extension base="AccountRequestType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="SetAccountResponse"> 
    <xsd:complexContent> 
     <xsd:extension base="AccountResponseType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="GetMessageRequest"> 
    <xsd:complexContent> 
     <xsd:extension base="MessagesRequestType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="GetMessageResponse"> 
    <xsd:complexContent> 
     <xsd:extension base="MessagesResponseType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="sendMessagesRequest"> 
    <xsd:complexContent> 
     <xsd:extension base="SendRequestType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="SendMessagesResponse"> 
    <xsd:complexContent> 
     <xsd:extension base="SendResponseType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="GetMsgStatusRequest"> 
    <xsd:complexContent> 
     <xsd:extension base="StatusRequestType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="GetMsgStatusResponse"> 
    <xsd:complexContent> 
     <xsd:extension base="StatusResponseType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSetAccount"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:SetAccountRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSetAccountResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestOUT" type="eb:SetAccountResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetMessage"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:GetMessageRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetMessageResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestOUT" type="eb:GetMessageResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendMessages"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:sendMessagesRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendMessagesResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestOUT" type="eb:SendMessagesResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetMsgStatus"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:GetMsgStatusRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetMsgStatusResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestOUT" type="eb:GetMsgStatusResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSetAccountRequest"> 
  <wsdl:part element="eb:opSetAccount" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSetAccountResponse"> 
  <wsdl:part element="eb:opSetAccountResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetMessageRequest"> 
  <wsdl:part element="eb:opGetMessage" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetMessageResponse"> 
  <wsdl:part element="eb:opGetMessageResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendMessagesRequest"> 
  <wsdl:part element="eb:opSendMessages" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendMessagesResponse"> 
  <wsdl:part element="eb:opSendMessagesResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetMsgStatusRequest"> 
  <wsdl:part element="eb:opGetMsgStatus" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetMsgStatusResponse"> 
  <wsdl:part element="eb:opGetMsgStatusResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ELAIDE_POSTA_ELETTRONICASoap"> 
  <wsdl:operation name="opSetAccount"> 
   <wsdl:input message="eb:opSetAccountRequest" name="opSetAccountRequest" /> 
   <wsdl:output message="eb:opSetAccountResponse" name="opSetAccountResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opGetMessage"> 
   <wsdl:input message="eb:opGetMessageRequest" name="opGetMessageRequest" /> 
   <wsdl:output message="eb:opGetMessageResponse" name="opGetMessageResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opSendMessages"> 
   <wsdl:input message="eb:opSendMessagesRequest" name="opSendMessagesRequest" /> 
   <wsdl:output message="eb:opSendMessagesResponse" name="opSendMessagesResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opGetMsgStatus"> 
   <wsdl:input message="eb:opGetMsgStatusRequest" name="opGetMsgStatusRequest" /> 
   <wsdl:output message="eb:opGetMsgStatusResponse" name="opGetMsgStatusResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ELAIDE_POSTA_ELETTRONICASoap" type="eb:WS_ELAIDE_POSTA_ELETTRONICASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSetAccount"> 
   <soap:operation soapAction="WS_ELAIDE_POSTA_ELETTRONICA/opSetAccount" style="document" /> 
   <wsdl:input name="opSetAccountRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSetAccountResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opGetMessage"> 
   <soap:operation soapAction="WS_ELAIDE_POSTA_ELETTRONICA/opGetMessage" style="document" /> 
   <wsdl:input name="opGetMessageRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetMessageResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opSendMessages"> 
   <soap:operation soapAction="WS_ELAIDE_POSTA_ELETTRONICA/opSendMessages" style="document" /> 
   <wsdl:input name="opSendMessagesRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendMessagesResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opGetMsgStatus"> 
   <soap:operation soapAction="WS_ELAIDE_POSTA_ELETTRONICA/opGetMsgStatus" style="document" /> 
   <wsdl:input name="opGetMsgStatusRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetMsgStatusResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ELAIDE_POSTA_ELETTRONICA"> 
  <wsdl:port binding="eb:WS_ELAIDE_POSTA_ELETTRONICASoap" name="WS_ELAIDE_POSTA_ELETTRONICASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_ELAIDE_POSTA_ELETTRONICA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>