osb_it/repo/BlueBirdProject/KENAN/suppressedPlansHandler/PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER/wadl/BlueBirdProject_KENAN_suppressedPlansHandler_proxy_PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_KENAN_SUPPRESSED_PLANS_HANDLER">Kenan handler of suppressed plans</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/suppressedPlansHandler/xsd/XSD_KENAN_SUPPRESSED_PLANS_HANDLER.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/{suppressedPlanId}/suppressedPlansDetails">
         <method name="GET" soa:wsdlOperation="execute_RetrieveSuppressedPlanDetails">
            <request>
               <param name="suppressedPlanId" style="template" soa:expression="$msg.request/ns0:payPlanId" default="" type="xsd:decimal"/>
               <param name="e2eContractId" style="query" soa:expression="$msg.request/ns0:e2eContractId" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:suppressedPlanDetailsResponse" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="execute_RetrieveSuppressedPlans">
            <request>
               <param name="e2eContractId" style="query" soa:expression="$msg.request/ns0:e2eContractId" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:suppressedPlanResponse" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/{suppressedplanId}/suppressedPlanStatusToAccepted">
         <method name="POST" soa:wsdlOperation="execute_UpdateSuppressedPlan">
            <request>
               <param name="suppressedplanId" style="template" soa:expression="$property.suppressedplanId" default="" type="xsd:string"/>
               <representation mediaType="application/xml" element="cns:requestUpdateSuppressedPlans" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseUpdateSuppressedPlans" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
      <resource path="/totalCosts">
         <method name="GET" soa:wsdlOperation="RetrieveTotalCosts">
            <request>
               <param name="e2eContractId" style="query" soa:expression="$msg.request/ns0:e2eContractId" default="" type="xsd:string"/>
               <param name="offerType" style="query" soa:expression="$msg.request/ns0:offerType" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseRetrieveTotalCosts" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>