esb_it/repo/WS_HTL_GET_RATE_CODE_INFO/wsdl/WS_HTL_GET_RATE_CODE_INFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="ResponseRateCode"> 
    <xsd:sequence> 
     <xsd:element name="esito" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="descr_esito" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="List_ConfigurationResponse" type="eb:List_ConfigurationResponse" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="List_ConfigurationResponse"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="ConfigurationResponse" type="eb:ConfigurationResponse" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ConfigurationResponse"> 
    <xsd:sequence> 
     <xsd:element name="rate_code" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetRateCodeInfo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="RateCode" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetRateCodeInfoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ResponseRateCode" type="eb:ResponseRateCode" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetRateCodeInfoRequest"> 
  <wsdl:part element="eb:opGetRateCodeInfo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetRateCodeInfoResponse"> 
  <wsdl:part element="eb:opGetRateCodeInfoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_GET_RATE_CODE_INFOSoap"> 
  <wsdl:operation name="opGetRateCodeInfo"> 
   <wsdl:input message="eb:opGetRateCodeInfoRequest" name="opGetRateCodeInfoRequest" /> 
   <wsdl:output message="eb:opGetRateCodeInfoResponse" name="opGetRateCodeInfoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_GET_RATE_CODE_INFOSoap" type="eb:WS_HTL_GET_RATE_CODE_INFOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetRateCodeInfo"> 
   <soap:operation soapAction="WS_HTL_GET_RATE_CODE_INFO/opGetRateCodeInfo" style="document" /> 
   <wsdl:input name="opGetRateCodeInfoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetRateCodeInfoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_GET_RATE_CODE_INFO"> 
  <wsdl:port binding="eb:WS_HTL_GET_RATE_CODE_INFOSoap" name="WS_HTL_GET_RATE_CODE_INFOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_GET_RATE_CODE_INFO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>