osb_it/repo/BlueBirdProject/SPARK/pollingIncidentUpdates/PS_REST_SPARK_POLLER_INCIDENT/wadl/BlueBirdProject_SPARK_pollingIncidentUpdates_Proxy_PS_REST_SPARK_POLLER_INCIDENT.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SPARK_POLLER_INCIDENT" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_SPARK_POLLER_INCIDENT">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SPARK/pollingIncidentUpdates/XSD/XSD_POLLING_INCIDENT_UPD.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/runpolleriteration">
         <method name="GET" soa:wsdlOperation="RunPollerIteration">
            <request>
               <param name="idTicket" style="query" soa:expression="$msg.request/ns0:idTicket" default="" type="xsd:string"/>
               <param name="lastUPD" style="query" soa:expression="$msg.request/ns0:lastUPD" default="" type="xsd:dateTime"/>
               <param name="status" style="query" soa:expression="$msg.request/ns0:status" default="RUN" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseRunPollerIteration" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault_400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault_404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault_500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>