osb_it/repo/SCMSproject/netflix/SCMS/GET/PAI/BY/ESN/PS_REST_SCMS_GET_PAI_BY_ESN/wsdl/SCMSproject_netflix_SCMS_GET_PAI_BY_ESN_proxy_PS_REST_SCMS_GET_PAI_BY_ESN.wsdl

<wsdl:definitions name="PS_REST_SCMS_GET_PAI_BY_ESN" targetNamespace="http://xmlns.oracle.com/OSB_SVIL/SCMSproject/PS_REST_SCMS_GET_PAI_BY_ESN" xmlns:tns="http://xmlns.oracle.com/OSB_SVIL/SCMSproject/PS_REST_SCMS_GET_PAI_BY_ESN" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SCMS_GET_PAI_BY_ESN">
        <plnk:role name="PS_REST_SCMS_GET_PAI_BY_ESNProvider" portType="tns:PS_REST_SCMS_GET_PAI_BY_ESN_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/netflix/Rest_GetPaiByESN/xsd/XSD_SCMS_NETFLIX_GET_PAI_BY_ESN.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/netflix/Rest_GetPaiByESN/xsd/XSD_NETFLIX_REST_ERRORS.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Op_getPaiByEsn_inputMessage">
      <wsdl:part name="request" element="inp1:requestGetPaiByEsn"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_outputMessage">
        <wsdl:part name="reply" element="inp1:responseGetPaiByEsn"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_ServiceUnavailableMessage">
        <wsdl:part name="fault_ServiceUnavailable" element="inp1:ServiceUnavailable"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_NoESNMappingFoundMessage">
        <wsdl:part name="fault_NoESNMappingFound" element="inp1:NoESNMappingFound"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_AllCapabilitesRefusedMessage">
        <wsdl:part name="fault_AllCapabilitesRefused" element="inp1:AllCapabilitesRefused"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_MissingNetflixESN_MissingNetflixPDIMessage">
        <wsdl:part name="fault_MissingNetflixESN_MissingNetflixPDI" element="inp1:MissingNetflixESN_MissingNetflixPDI"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_ServerErrorMessage">
        <wsdl:part name="fault_ServerError" element="inp1:ServerError"/>
    </wsdl:message>
    <wsdl:message name="Op_getPaiByEsn_BadAuthorizationMessage">
        <wsdl:part name="fault_BadAuthorization" element="inp1:BadAuthorization"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SCMS_GET_PAI_BY_ESN_ptt">
        <wsdl:operation name="Op_getPaiByEsn">
            <wsdl:input message="tns:Op_getPaiByEsn_inputMessage"/>
            <wsdl:output message="tns:Op_getPaiByEsn_outputMessage"/>
            <wsdl:fault name="ServiceUnavailable" message="tns:Op_getPaiByEsn_ServiceUnavailableMessage"/>
            <wsdl:fault name="NoESNMappingFound" message="tns:Op_getPaiByEsn_NoESNMappingFoundMessage"/>
            <wsdl:fault name="AllCapabilitesRefused" message="tns:Op_getPaiByEsn_AllCapabilitesRefusedMessage"/>
            <wsdl:fault name="MissingNetflixESN_MissingNetflixPDI" message="tns:Op_getPaiByEsn_MissingNetflixESN_MissingNetflixPDIMessage"/>
            <wsdl:fault name="ServerError" message="tns:Op_getPaiByEsn_ServerErrorMessage"/>
            <wsdl:fault name="BadAuthorization" message="tns:Op_getPaiByEsn_BadAuthorizationMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SCMS_GET_PAI_BY_ESN_ptt-binding" type="tns:PS_REST_SCMS_GET_PAI_BY_ESN_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Op_getPaiByEsn">
            <soap:operation soapAction="Op_getPaiByEsn"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>