esb_it/repo/WS_FWB_CALLBACK_CONFIRM_PDA/wsdl/WS_FWB_CALLBACK_CONFIRM_PDA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/ConfirmOrder" schemaLocation="xsdFWB/SkyXSD_FWB_ConfirmOrder.xsd" /> 
   <xsd:complexType name="DocumentDataIN"> 
    <xsd:sequence> 
     <xsd:element name="IdPDA"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="AzioneFW"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="CodiceContrattoSKY"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="Scenario"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="IntegrationIdSKY"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="ClusterNumber"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="2" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="AzioneSky"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:enumeration value="OK" /> 
        <xsd:enumeration value="KO" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="ChiaviFW" type="eb:ChiaviFW" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOUT"> 
    <xsd:sequence> 
     <xsd:element name="ErrorCode"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="ErrorMessage"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="255" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="ChiaviFW"> 
    <xsd:sequence> 
     <xsd:element name="IdHeaderFW"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="IdInstanceFW"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="IdAssetFW"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CodiceClienteFW"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
     <xsd:element name="CodiceCDFFW"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string"> 
        <xsd:minLength value="1" /> 
        <xsd:maxLength value="30" /> 
       </xsd:restriction> 
      </xsd:simpleType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/ConfirmOrder"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="FWMessageType"> 
    <xsd:sequence> 
     <xsd:element name="InputMessage" type="eb:OperationDataType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="SKYMessageType"> 
    <xsd:sequence> 
     <xsd:element name="DocumentDataIN" type="eb:DocumentDataIN" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="Input_Type"> 
    <xsd:sequence> 
     <xsd:element name="FWMessage" type="eb:FWMessageType" /> 
     <xsd:element minOccurs="0" name="SKYMessage" type="eb:SKYMessageType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="CallbackConfirmPdaOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:Input_Type" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="CallbackConfirmPdaOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ErrorCode" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ErrorMessage" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="CallbackConfirmPdaOpRequest"> 
  <wsdl:part element="eb:CallbackConfirmPdaOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="CallbackConfirmPdaOpResponse"> 
  <wsdl:part element="eb:CallbackConfirmPdaOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_CALLBACK_CONFIRM_PDASoap"> 
  <wsdl:operation name="CallbackConfirmPdaOp"> 
   <wsdl:input message="eb:CallbackConfirmPdaOpRequest" name="CallbackConfirmPdaOpRequest" /> 
   <wsdl:output message="eb:CallbackConfirmPdaOpResponse" name="CallbackConfirmPdaOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_CALLBACK_CONFIRM_PDASoap" type="eb:WS_FWB_CALLBACK_CONFIRM_PDASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="CallbackConfirmPdaOp"> 
   <soap:operation soapAction="WS_FWB_CALLBACK_CONFIRM_PDA/CallbackConfirmPdaOp" style="document" /> 
   <wsdl:input name="CallbackConfirmPdaOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="CallbackConfirmPdaOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_CALLBACK_CONFIRM_PDA"> 
  <wsdl:port binding="eb:WS_FWB_CALLBACK_CONFIRM_PDASoap" name="WS_FWB_CALLBACK_CONFIRM_PDASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_CALLBACK_CONFIRM_PDA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>