osb_it/repo/SalesforceProject/REST/CRM/IBAN/HANDLER/PS_WS_CRM_IBAN_HANDLER/wsdl/SalesforceProject_REST_CRM_IBAN_HANDLER_proxy_PS_WS_CRM_IBAN_HANDLER.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WS_CRM_IBAN_HANDLER"
                  targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/MDW_CDM/WS_CRM_IBAN_HANDLER"
                  xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/MDW_CDM/WS_CRM_IBAN_HANDLER"
                  xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_REST_CRM_IBAN_HANDLER.xsd"/>
         <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessageCheckIban">
    <wsdl:part name="request_CheckIban_part" element="inp1:requestCheckIBAN"/>
  </wsdl:message>
  <wsdl:message name="replyMessageCheckIban">
    <wsdl:part name="response_CheckIban_part" element="inp1:responseCheckIBAN"/>
  </wsdl:message>
  <wsdl:message name="requestMessageCalculateIban">
    <wsdl:part name="request_CalculateIban_part" element="inp1:requestCalculateIBAN"/>
  </wsdl:message>
  <wsdl:message name="replyMessageCalculateIban">
    <wsdl:part name="response_CalculateIban_part" element="inp1:responseCalculateIBAN"/>
  </wsdl:message>
  <wsdl:message name="header_Message">
    <wsdl:part name="part_header" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:portType name="CRM_IBAN_HANDLER_ptt">
    <wsdl:operation name="execute_CheckIban">
      <wsdl:input message="tns:requestMessageCheckIban"/>
      <wsdl:output message="tns:replyMessageCheckIban"/>
    </wsdl:operation>
    <wsdl:operation name="execute_CalculateIban">
      <wsdl:input message="tns:requestMessageCalculateIban"/>
      <wsdl:output message="tns:replyMessageCalculateIban"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CRM_IBAN_HANDLER_bind" type="tns:CRM_IBAN_HANDLER_ptt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_CheckIban">
      <soap:operation style="document" soapAction="execute_CheckIban"/>
      <wsdl:input>
        <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBSvil_REPLY/MDW_CDM/WS_CRM_IBAN_HANDLER"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBSvil_REPLY/MDW_CDM/WS_CRM_IBAN_HANDLER"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_CalculateIban">
      <soap:operation style="document" soapAction="execute_CalculateIban"/>
      <wsdl:input>
        <soap:header message="tns:header_Message" part="part_header" use="literal"/>
        <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBSvil_REPLY/MDW_CDM/WS_CRM_IBAN_HANDLER"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:header_Message" part="part_header" use="literal"/>
        <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBSvil_REPLY/MDW_CDM/WS_CRM_IBAN_HANDLER"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>