esb_it/repo/WS_SIEBEL_ACQUISTO_SERVIZIO/wsdl/WS_SIEBEL_ACQUISTO_SERVIZIO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="ACQUISTO_SERVIZIO"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceSmartCard" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceAccount" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="IdentificativoServizio" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="ACQUISTO_SERVIZIOResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="ACQUISTO_SERVIZIORequest"> 
  <wsdl:part element="eb:ACQUISTO_SERVIZIO" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="ACQUISTO_SERVIZIOResponse"> 
  <wsdl:part element="eb:ACQUISTO_SERVIZIOResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SIEBEL_ACQUISTO_SERVIZIOSoap"> 
  <wsdl:operation name="ACQUISTO_SERVIZIO"> 
   <wsdl:input message="eb:ACQUISTO_SERVIZIORequest" name="ACQUISTO_SERVIZIORequest" /> 
   <wsdl:output message="eb:ACQUISTO_SERVIZIOResponse" name="ACQUISTO_SERVIZIOResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SIEBEL_ACQUISTO_SERVIZIOSoap" type="eb:WS_SIEBEL_ACQUISTO_SERVIZIOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="ACQUISTO_SERVIZIO"> 
   <soap:operation soapAction="WS_SIEBEL_ACQUISTO_SERVIZIO/ACQUISTO_SERVIZIO" style="document" /> 
   <wsdl:input name="ACQUISTO_SERVIZIORequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="ACQUISTO_SERVIZIOResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SIEBEL_ACQUISTO_SERVIZIO"> 
  <wsdl:port binding="eb:WS_SIEBEL_ACQUISTO_SERVIZIOSoap" name="WS_SIEBEL_ACQUISTO_SERVIZIOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SIEBEL_ACQUISTO_SERVIZIO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>