esb_it/repo/WS_TRASF_CREDITO_SP2SMC/wsdl/WS_TRASF_CREDITO_SP2SMC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opTrasfCreditoSP2SMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TRANSACTION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PURCHASE_MEDIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SKY_PASS" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opTrasfCreditoSP2SMCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ComplexOutput" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opTrasfCreditoSP2SMCRequest"> 
  <wsdl:part element="eb:opTrasfCreditoSP2SMC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opTrasfCreditoSP2SMCResponse"> 
  <wsdl:part element="eb:opTrasfCreditoSP2SMCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TRASF_CREDITO_SP2SMCSoap"> 
  <wsdl:operation name="opTrasfCreditoSP2SMC"> 
   <wsdl:input message="eb:opTrasfCreditoSP2SMCRequest" name="opTrasfCreditoSP2SMCRequest" /> 
   <wsdl:output message="eb:opTrasfCreditoSP2SMCResponse" name="opTrasfCreditoSP2SMCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TRASF_CREDITO_SP2SMCSoap" type="eb:WS_TRASF_CREDITO_SP2SMCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opTrasfCreditoSP2SMC"> 
   <soap:operation soapAction="WS_TRASF_CREDITO_SP2SMC/opTrasfCreditoSP2SMC" style="document" /> 
   <wsdl:input name="opTrasfCreditoSP2SMCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opTrasfCreditoSP2SMCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TRASF_CREDITO_SP2SMC"> 
  <wsdl:port binding="eb:WS_TRASF_CREDITO_SP2SMCSoap" name="WS_TRASF_CREDITO_SP2SMCSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_TRASF_CREDITO_SP2SMC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>