esb_it/repo/WS_ELIMINA_STANZA/wsdl/WS_ELIMINA_STANZA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OP_ELIMINA_STANZA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_STANZA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_ELIMINA_STANZAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_ELIMINA_STANZARequest"> 
  <wsdl:part element="eb:OP_ELIMINA_STANZA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_ELIMINA_STANZAResponse"> 
  <wsdl:part element="eb:OP_ELIMINA_STANZAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_ELIMINA_STANZASoap"> 
  <wsdl:operation name="OP_ELIMINA_STANZA"> 
   <wsdl:input message="eb:OP_ELIMINA_STANZARequest" name="OP_ELIMINA_STANZARequest" /> 
   <wsdl:output message="eb:OP_ELIMINA_STANZAResponse" name="OP_ELIMINA_STANZAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_ELIMINA_STANZASoap" type="eb:WS_ELIMINA_STANZASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_ELIMINA_STANZA"> 
   <soap:operation soapAction="WS_ELIMINA_STANZA/OP_ELIMINA_STANZA" style="document" /> 
   <wsdl:input name="OP_ELIMINA_STANZARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_ELIMINA_STANZAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_ELIMINA_STANZA"> 
  <wsdl:port binding="eb:WS_ELIMINA_STANZASoap" name="WS_ELIMINA_STANZASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_ELIMINA_STANZA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>