osb_it/repo/SiebelProject/outbound_gerarchico_PS_WS_CRM_OUTMSGPAYMET/wsdl/SiebelProject_proxy_outbound_gerarchico_PS_WS_CRM_OUTMSGPAYMET.wsdl

<!--
 
Salesforce.com Outbound Notification Web Services API Version 1.0 
Generated on 2015-09-21 17:18:55 +0000.

Copyright 2005-2015 Salesforce.com, Inc.
All Rights Reserved
-->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2005/09/outbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ent="urn:enterprise.soap.sforce.com" xmlns:ens="urn:sobject.enterprise.soap.sforce.com" targetNamespace="http://soap.sforce.com/2005/09/outbound">
<types>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:enterprise.soap.sforce.com">
<!--  Our simple ID Type  -->
<simpleType name="ID">
<restriction base="xsd:string">
<length value="18"/>
<pattern value="[a-zA-Z0-9]{18}"/>
</restriction>
</simpleType>
</schema>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
<import namespace="urn:enterprise.soap.sforce.com"/>
<!--  Base sObject (abstract)  -->
<complexType name="sObject">
<sequence>
<element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<element name="Id" type="ent:ID" nillable="true"/>
</sequence>
</complexType>
<complexType name="AggregateResult">
<complexContent>
<extension base="ens:sObject">
<sequence>
<any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
</sequence>
</extension>
</complexContent>
</complexType>
<complexType name="vlocity_cmt__PaymentMethod__c">
<complexContent>
<extension base="ens:sObject">
<sequence>
<element name="ABI__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Account_Number__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Authorization_Code__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="BIC__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="CAB__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="CC_Prepagata_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="CIN_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="CPNI_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Carta_Credito_Allineabile__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Carta_Primaria_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Causale_Esiti_Negativi__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Autorizzazione_Bancomat__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Autorizzazione_Rid_Addizionale__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Fiscale_Sottoscrittore__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_IBAN__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Identificativo__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Individuale__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_SIA__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Codice_Telematico__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Contatore_Richieste_Domiciliazione_Num__c" nillable="true" minOccurs="0" type="xsd:double"/>
<element name="Contract_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
<element name="CreatedById" nillable="true" minOccurs="0" type="ent:ID"/>
<element name="CreditCardNumber__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Credit_Card_Expiration_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Credit_Card_Name__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Data_Effettiva_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Data_Fine_Validita_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Data_Invio_RID_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Data_Richiesta_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="Data_Verifica_IBAN_SDD_dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="Disabilita_Invio_Domiciliazione_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Flag_Telematico_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Flag_estero__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Indirizzo_Agenzia__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Invio_Freq_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="LastModifiedBilling__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID"/>
<element name="LastModifiedContract__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
<element name="LastUserName__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Mop_Temporanea_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Nome_Agenzia__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Nome_Banca__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Nominativo_Sottoscrittore__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="OG_CorrelationID__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="OG_OldCorrelationID__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Paese__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Payment_Status__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Payment__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Periodicita_di_Fatturazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="RID_Codice_Stato__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="RID_Data_Restituzione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="RID_Descrizione_Stato__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="RID_Lotto_Assegnazione_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
<element name="RID_Note__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Richieste_Incasso__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="SKYID__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Scenario_Allineamento__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Sconto_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Seda_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Sepa_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="Stato_Domiciliazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Template_Lettera_PO__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="Verifica_IBAN_SDD__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__AccountId__c" nillable="true" minOccurs="0" type="ent:ID"/>
<element name="vlocity_cmt__CardNumber__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__CardType__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__ExpirationMonth__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__ExpirationYear__c" nillable="true" minOccurs="0" type="xsd:string"/>
<element name="vlocity_cmt__IsActive__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="vlocity_cmt__IsPrimary__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
<element name="vlocity_cmt__MethodType__c" nillable="true" minOccurs="0" type="xsd:string"/>
</sequence>
</extension>
</complexContent>
</complexType>
</schema>
<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2005/09/outbound">
<import namespace="urn:enterprise.soap.sforce.com"/>
<import namespace="urn:sobject.enterprise.soap.sforce.com"/>
<element name="notifications">
<complexType>
<sequence>
<element name="OrganizationId" type="ent:ID"/>
<element name="ActionId" type="ent:ID"/>
<element name="SessionId" type="xsd:string" nillable="true"/>
<element name="EnterpriseUrl" type="xsd:string"/>
<element name="PartnerUrl" type="xsd:string"/>
<element name="Notification" maxOccurs="100" type="tns:vlocity_cmt__PaymentMethod__cNotification"/>
</sequence>
</complexType>
</element>
<complexType name="vlocity_cmt__PaymentMethod__cNotification">
<sequence>
<element name="Id" type="ent:ID"/>
<element name="sObject" type="ens:vlocity_cmt__PaymentMethod__c"/>
</sequence>
</complexType>
<element name="notificationsResponse">
<complexType>
<sequence>
<element name="Ack" type="xsd:boolean"/>
</sequence>
</complexType>
</element>
</schema>
</types>
<!--  Method Messages  -->
<message name="notificationsRequest">
<part element="tns:notifications" name="request"/>
</message>
<message name="notificationsResponse">
<part element="tns:notificationsResponse" name="response"/>
</message>
<!--  PortType  -->
<portType name="NotificationPort">
<operation name="notifications">
<documentation>Process a number of notifications.</documentation>
<input message="tns:notificationsRequest"/>
<output message="tns:notificationsResponse"/>
</operation>
</portType>
<!--
 Binding 
         You need to write a service that implements this binding to receive the notifications
     
-->
<binding name="NotificationBinding" type="tns:NotificationPort">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<operation name="notifications">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<!--  Service Endpoint  -->
<service name="NotificationService">
<documentation>Notification Service Implementation</documentation>
<port binding="tns:NotificationBinding" name="Notification">
<soap:address location="https://ws.osbcol.sky.it/osbprj/services/siebel/PS_WS_CRM_OUTMSGPAYMET"/>
</port>
</service>
</definitions>