esb_it/repo/WS_SF_SBL_GET_COMPLEX/wsdl/WS_SF_SBL_GET_COMPLEX.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_SF_SBL_GET_COMPLEX.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opGetComplex"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetComplexResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetComplexRequest"> 
  <wsdl:part element="eb:opGetComplex" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetComplexResponse"> 
  <wsdl:part element="eb:opGetComplexResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_SBL_GET_COMPLEXSoap"> 
  <wsdl:operation name="opGetComplex"> 
   <wsdl:input message="eb:opGetComplexRequest" name="opGetComplexRequest" /> 
   <wsdl:output message="eb:opGetComplexResponse" name="opGetComplexResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_SBL_GET_COMPLEXSoap" type="eb:WS_SF_SBL_GET_COMPLEXSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetComplex"> 
   <soap:operation soapAction="WS_SF_SBL_GET_COMPLEX/opGetComplex" style="document" /> 
   <wsdl:input name="opGetComplexRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetComplexResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_SBL_GET_COMPLEX"> 
  <wsdl:port binding="eb:WS_SF_SBL_GET_COMPLEXSoap" name="WS_SF_SBL_GET_COMPLEXSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_SBL_GET_COMPLEX" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>