esb_it/repo/WS_WSC_PPV_ADULT_H24/wsdl/WS_WSC_PPV_ADULT_H24.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_WSC_PPV_ADULT_H24.xsd" /> 
   <xsd:complexType name="DocumentDataInputAttiva"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataInAttiva" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutputAttiva"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOutAttiva" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataInputDisattiva"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataInDisattiva" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutputDisattiva"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOutDisattiva" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataInputRichiediPin"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataInRichiediPin" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutputRichiediPin"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOutRichiediPin" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opAttivaPpvAdultH24"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInputAttiva" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAttivaPpvAdultH24Response"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutputAttiva" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDisattivaPpvAdultH24"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInputDisattiva" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDisattivaPpvAdultH24Response"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutputDisattiva" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRichiestaPINPpvAdultH24"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInputRichiediPin" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRichiestaPINPpvAdultH24Response"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutputRichiediPin" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAttivaPpvAdultH24Request"> 
  <wsdl:part element="eb:opAttivaPpvAdultH24" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAttivaPpvAdultH24Response"> 
  <wsdl:part element="eb:opAttivaPpvAdultH24Response" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDisattivaPpvAdultH24Request"> 
  <wsdl:part element="eb:opDisattivaPpvAdultH24" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDisattivaPpvAdultH24Response"> 
  <wsdl:part element="eb:opDisattivaPpvAdultH24Response" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRichiestaPINPpvAdultH24Request"> 
  <wsdl:part element="eb:opRichiestaPINPpvAdultH24" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRichiestaPINPpvAdultH24Response"> 
  <wsdl:part element="eb:opRichiestaPINPpvAdultH24Response" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WSC_PPV_ADULT_H24Soap"> 
  <wsdl:operation name="opAttivaPpvAdultH24"> 
   <wsdl:input message="eb:opAttivaPpvAdultH24Request" name="opAttivaPpvAdultH24Request" /> 
   <wsdl:output message="eb:opAttivaPpvAdultH24Response" name="opAttivaPpvAdultH24Response" /> 
  </wsdl:operation> 
  <wsdl:operation name="opDisattivaPpvAdultH24"> 
   <wsdl:input message="eb:opDisattivaPpvAdultH24Request" name="opDisattivaPpvAdultH24Request" /> 
   <wsdl:output message="eb:opDisattivaPpvAdultH24Response" name="opDisattivaPpvAdultH24Response" /> 
  </wsdl:operation> 
  <wsdl:operation name="opRichiestaPINPpvAdultH24"> 
   <wsdl:input message="eb:opRichiestaPINPpvAdultH24Request" name="opRichiestaPINPpvAdultH24Request" /> 
   <wsdl:output message="eb:opRichiestaPINPpvAdultH24Response" name="opRichiestaPINPpvAdultH24Response" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WSC_PPV_ADULT_H24Soap" type="eb:WS_WSC_PPV_ADULT_H24Soap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAttivaPpvAdultH24"> 
   <soap:operation soapAction="WS_WSC_PPV_ADULT_H24/opAttivaPpvAdultH24" style="document" /> 
   <wsdl:input name="opAttivaPpvAdultH24Request"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAttivaPpvAdultH24Response"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opDisattivaPpvAdultH24"> 
   <soap:operation soapAction="WS_WSC_PPV_ADULT_H24/opDisattivaPpvAdultH24" style="document" /> 
   <wsdl:input name="opDisattivaPpvAdultH24Request"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDisattivaPpvAdultH24Response"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opRichiestaPINPpvAdultH24"> 
   <soap:operation soapAction="WS_WSC_PPV_ADULT_H24/opRichiestaPINPpvAdultH24" style="document" /> 
   <wsdl:input name="opRichiestaPINPpvAdultH24Request"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRichiestaPINPpvAdultH24Response"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WSC_PPV_ADULT_H24"> 
  <wsdl:port binding="eb:WS_WSC_PPV_ADULT_H24Soap" name="WS_WSC_PPV_ADULT_H24Soap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WSC_PPV_ADULT_H24" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>