osb_it/repo/SCMSproject/netflix/SCMS/GET/PAI/BY/CONTRACT/PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT/wadl/SCMSproject_netflix_SCMS_GET_PAI_BY_CONTRACT_proxy_PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SCMSproject/PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_SCMS_NETFLIX_GET_PAI_BY_CONTRACT">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SCMSproject/netflix/Rest_GetPaiByContract/xsd/XSD_SCMS_NETFLIX_GET_PAI_BY_CONTRACT.xsd"/>
        </xsd:schema> 
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="GetPaiByContract">
            <request>
               <param name="contrId" style="query" soa:expression="$msg.request/ns0:contrId" default="" type="xsd:string"/>
               <param name="operator" style="query" soa:expression="$msg.request/ns0:operator" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseGetPaiByContract" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>