esb_it/repo/WS_SF_BBH_CONTAB_DATI_FATTURA/wsdl/WS_SF_BBH_CONTAB_DATI_FATTURA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSFBBH/SkyXSD_SF_BBH_CONTAB_DATI_FATTURA.xsd" /> 
   <xsd:complexType name="request"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="response"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opDatiFattura"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request" type="eb:request" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDatiFatturaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response" type="eb:response" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opDatiFatturaRequest"> 
  <wsdl:part element="eb:opDatiFattura" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDatiFatturaResponse"> 
  <wsdl:part element="eb:opDatiFatturaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_BBH_CONTAB_DATI_FATTURASoap"> 
  <wsdl:operation name="opDatiFattura"> 
   <wsdl:input message="eb:opDatiFatturaRequest" name="opDatiFatturaRequest" /> 
   <wsdl:output message="eb:opDatiFatturaResponse" name="opDatiFatturaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_BBH_CONTAB_DATI_FATTURASoap" type="eb:WS_SF_BBH_CONTAB_DATI_FATTURASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opDatiFattura"> 
   <soap:operation soapAction="WS_SF_BBH_CONTAB_DATI_FATTURA/opDatiFattura" style="document" /> 
   <wsdl:input name="opDatiFatturaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDatiFatturaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_BBH_CONTAB_DATI_FATTURA"> 
  <wsdl:port binding="eb:WS_SF_BBH_CONTAB_DATI_FATTURASoap" name="WS_SF_BBH_CONTAB_DATI_FATTURASoap"> 
   <soap:address location="https://wssvil.sky.it:19100/wsexistbus/ws_sf_bbh/WS_SF_BBH_CONTAB_DATI_FATTURA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>