osb_it/repo/SiebelProject/PS_WS_CRM_GEST_PROMO/wsdl/SiebelProject_proxy_PS_WS_CRM_GEST_PROMO.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_GEST_PROMO_SYNC"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_GEST_PROMO_SYNC"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_GEST_PROMO_SYNC"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data"
                        schemaLocation="../../GestPromo/xsd/XSD_CRM_GEST_PROMO.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
       </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestGetPromoAll_Message">
        <wsdl:part name="part_requestGetPromoAll" element="inp1:requestGetPromoAll"/>
    </wsdl:message>
    <wsdl:message name="responseGetPromoAll_Message">
        <wsdl:part name="part_responseGetPromoAll" element="inp1:responseGetPromoAll"/>
    </wsdl:message>
    <wsdl:portType name="CRM_GEST_PROMO_SYNC_ptt">
        <wsdl:operation name="execute_GetPromoAll">
            <wsdl:input message="tns:requestGetPromoAll_Message"/>
            <wsdl:output message="tns:responseGetPromoAll_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckPromoPostPick">
            <wsdl:input message="tns:requestCheckPromoPostPick_Message"/>
            <wsdl:output message="tns:responseCheckPromoPostPick_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestCheckPromoPostPick_Message">
        <wsdl:part name="part_requestCheckPromoPostPick" element="inp1:requestCheckPromoPostPick"/>
    </wsdl:message>
    <wsdl:message name="responseCheckPromoPostPick_Message">
        <wsdl:part name="part_responseCheckPromoPostPick" element="inp1:responseCheckPromoPostPick"/>
    </wsdl:message>
    <wsdl:binding name="CRM_GEST_PROMO_SYNC_bind" type="tns:CRM_GEST_PROMO_SYNC_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetPromoAll">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GEST_PROMO_SYNC/execute_GetPromoAll"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetPromoAll"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetPromoAll"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_CheckPromoPostPick">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GEST_PROMO_SYNC/execute_CheckPromoPostPick"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestCheckPromoPostPick"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseCheckPromoPostPick"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>