esb_it/repo/WS_IVR_GET_SMC_PACKET_INFO/wsdl/WS_IVR_GET_SMC_PACKET_INFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexServizio"> 
    <xsd:sequence> 
     <xsd:element name="CRM_STATO_SERVIZI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_TIPO_APP" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_ASSET_NUMBER" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PRODUCT_TYPE_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_RATE_CODE_SERVICE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexServizi"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="CRM_SERVIZ0_FML32" type="eb:FMLComplexServizio" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPacchetto"> 
    <xsd:sequence> 
     <xsd:element name="CRM_STATO_PACCHETTO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_PRODUCT_TYPE_SERVICE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_RATE_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_SERVIZI_FML32" type="eb:FMLComplexServizi" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPacchetti"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="CRM_PACCHETTO_FML32" type="eb:FMLComplexPacchetto" /> 
    </xsd:sequence> 
    <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="WS_TID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_NAME_SMS" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="CRM_PACCHETTI_FML32" type="eb:FMLComplexPacchetti" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetSmcPacketInfo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_ASSET_NUMBER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_TRANSACTION_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetSmcPacketInfoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetSmcPacketInfoRequest"> 
  <wsdl:part element="eb:opGetSmcPacketInfo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetSmcPacketInfoResponse"> 
  <wsdl:part element="eb:opGetSmcPacketInfoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_SMC_PACKET_INFOSoap"> 
  <wsdl:operation name="opGetSmcPacketInfo"> 
   <wsdl:input message="eb:opGetSmcPacketInfoRequest" name="opGetSmcPacketInfoRequest" /> 
   <wsdl:output message="eb:opGetSmcPacketInfoResponse" name="opGetSmcPacketInfoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_SMC_PACKET_INFOSoap" type="eb:WS_IVR_GET_SMC_PACKET_INFOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetSmcPacketInfo"> 
   <soap:operation soapAction="WS_IVR_GET_SMC_PACKET_INFO/opGetSmcPacketInfo" style="document" /> 
   <wsdl:input name="opGetSmcPacketInfoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetSmcPacketInfoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_SMC_PACKET_INFO"> 
  <wsdl:port binding="eb:WS_IVR_GET_SMC_PACKET_INFOSoap" name="WS_IVR_GET_SMC_PACKET_INFOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_SMC_PACKET_INFO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>