osb_it/repo/SalesforceProject/WS/CRM/GET/MOBILE/NUMBER/PS_CRM_GET_MOBILE_NUMBER/xsd/XSD_CRM_GET_MOBILE_NUMBER.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestGetMobileNumberType">
		<xsd:sequence>
			<xsd:element name="custId" type="xsd:string"/>
			<xsd:element name="mdwTrackingField"  minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="mdwConnId" type="xsd:string" minOccurs="0"/>
						<xsd:element name="mdwOrigin" type="xsd:string" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestGetMobileNumber" type="requestGetMobileNumberType"/>
	<xsd:complexType name="responseGetMobileNumberType">
		<xsd:sequence>
			<xsd:element name="Esito" type="xsd:string"/>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Result" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="custMobileNumber" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseGetMobileNumber" type="responseGetMobileNumberType"/>
</xsd:schema>