esb_it/repo/WS_SMS_SIBILLA_VALIDATOR/wsdl/WS_SMS_SIBILLA_VALIDATOR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opSibillaValidator"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUMERO_CELLULARE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_CODICE_EVENTO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_TEXT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_WASP_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_WORKING_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_OPPV_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_ROW_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_TYPE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSibillaValidatorResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_TEXT_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_TEXT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_FLAG_ENABLED" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_TYPE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_LOG_FILENAME" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSibillaValidatorRequest"> 
  <wsdl:part element="eb:opSibillaValidator" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSibillaValidatorResponse"> 
  <wsdl:part element="eb:opSibillaValidatorResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SMS_SIBILLA_VALIDATORSoap"> 
  <wsdl:operation name="opSibillaValidator"> 
   <wsdl:input message="eb:opSibillaValidatorRequest" name="opSibillaValidatorRequest" /> 
   <wsdl:output message="eb:opSibillaValidatorResponse" name="opSibillaValidatorResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SMS_SIBILLA_VALIDATORSoap" type="eb:WS_SMS_SIBILLA_VALIDATORSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSibillaValidator"> 
   <soap:operation soapAction="WS_SMS_SIBILLA_VALIDATOR/opSibillaValidator" style="document" /> 
   <wsdl:input name="opSibillaValidatorRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSibillaValidatorResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SMS_SIBILLA_VALIDATOR"> 
  <wsdl:port binding="eb:WS_SMS_SIBILLA_VALIDATORSoap" name="WS_SMS_SIBILLA_VALIDATORSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SMS_SIBILLA_VALIDATOR" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>