esb_it/repo/WS_NEODATA_GET_TOKEN/wsdl/WS_NEODATA_GET_TOKEN.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpNeodataGetToken"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="apiPublicKey" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="userName" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpNeodataGetTokenResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="token" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpNeodataGetTokenRequest"> 
  <wsdl:part element="eb:OpNeodataGetToken" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpNeodataGetTokenResponse"> 
  <wsdl:part element="eb:OpNeodataGetTokenResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_NEODATA_GET_TOKENSoap"> 
  <wsdl:operation name="OpNeodataGetToken"> 
   <wsdl:input message="eb:OpNeodataGetTokenRequest" name="OpNeodataGetTokenRequest" /> 
   <wsdl:output message="eb:OpNeodataGetTokenResponse" name="OpNeodataGetTokenResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_NEODATA_GET_TOKENSoap" type="eb:WS_NEODATA_GET_TOKENSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpNeodataGetToken"> 
   <soap:operation soapAction="WS_NEODATA_GET_TOKEN/OpNeodataGetToken" style="document" /> 
   <wsdl:input name="OpNeodataGetTokenRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpNeodataGetTokenResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_NEODATA_GET_TOKEN"> 
  <wsdl:port binding="eb:WS_NEODATA_GET_TOKENSoap" name="WS_NEODATA_GET_TOKENSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_NEODATA_GET_TOKEN" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>