esb_it/repo/WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLD/wsdl/WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opSblCambioTecnologia"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_HOTEL" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CODICE_UTENTE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_TECNOLOGIA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSblCambioTecnologiaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSblCambioTecnologiaRequest"> 
  <wsdl:part element="eb:opSblCambioTecnologia" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSblCambioTecnologiaResponse"> 
  <wsdl:part element="eb:opSblCambioTecnologiaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLDSoap"> 
  <wsdl:operation name="opSblCambioTecnologia"> 
   <wsdl:input message="eb:opSblCambioTecnologiaRequest" name="opSblCambioTecnologiaRequest" /> 
   <wsdl:output message="eb:opSblCambioTecnologiaResponse" name="opSblCambioTecnologiaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLDSoap" type="eb:WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSblCambioTecnologia"> 
   <soap:operation soapAction="WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLD/opSblCambioTecnologia" style="document" /> 
   <wsdl:input name="opSblCambioTecnologiaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSblCambioTecnologiaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLD"> 
  <wsdl:port binding="eb:WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLDSoap" name="WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLDSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_SBL_CAMBIO_TECNOLOGIA_OLD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>