esb_it/repo/WS_IVR_GET_ULTIMA_FATTURA/wsdl/WS_IVR_GET_ULTIMA_FATTURA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_NUMERO_FATTURA" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_DATA_EMISSIONE" type="eb:FMLFieldType" /> 
     <xsd:element name="INC_DATA_SCADENZA" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_TOTALE_FATTURA" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_TOTALE_DOVUTO_EURO" type="eb:FMLFieldType" /> 
     <xsd:element name="CRM_IMPORTO" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_NEXT_INVOICE_EMISSION" type="eb:FMLFieldType" /> 
     <xsd:element name="KN_NEXT_INVOICE_EXPIRE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="OP_GETULTIMAFATTURA"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_BILLING_ACCOUNT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="connID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="TransId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_PAYMENT_METHOD" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OP_GETULTIMAFATTURAResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="GETULTIMAFATTURA_OUTPUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OP_GETULTIMAFATTURARequest"> 
  <wsdl:part element="eb:OP_GETULTIMAFATTURA" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OP_GETULTIMAFATTURAResponse"> 
  <wsdl:part element="eb:OP_GETULTIMAFATTURAResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_GET_ULTIMA_FATTURASoap"> 
  <wsdl:operation name="OP_GETULTIMAFATTURA"> 
   <wsdl:input message="eb:OP_GETULTIMAFATTURARequest" name="OP_GETULTIMAFATTURARequest" /> 
   <wsdl:output message="eb:OP_GETULTIMAFATTURAResponse" name="OP_GETULTIMAFATTURAResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_GET_ULTIMA_FATTURASoap" type="eb:WS_IVR_GET_ULTIMA_FATTURASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OP_GETULTIMAFATTURA"> 
   <soap:operation soapAction="WS_IVR_GET_ULTIMA_FATTURA/OP_GETULTIMAFATTURA" style="document" /> 
   <wsdl:input name="OP_GETULTIMAFATTURARequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OP_GETULTIMAFATTURAResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_GET_ULTIMA_FATTURA"> 
  <wsdl:port binding="eb:WS_IVR_GET_ULTIMA_FATTURASoap" name="WS_IVR_GET_ULTIMA_FATTURASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_GET_ULTIMA_FATTURA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>