esb_it/repo/WS_FPS_RUN_EVALUATION/wsdl/WS_FPS_RUN_EVALUATION.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://wml.spy.sky.com/" schemaLocation="xsdFPS/SkyXSD_WS_FPS_RUN_EVALUATION.xsd" /> 
   <xsd:complexType name="wmlEvaluate" xmlns:tns="http://wml.spy.sky.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:wmlEvaluate" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="wmlEvaluateResponse" xmlns:tns="http://wml.spy.sky.com/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:wmlEvaluateResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opWmlEvaluate"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:wmlEvaluate" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opWmlEvaluateResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:wmlEvaluateResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opWmlEvaluateRequest"> 
  <wsdl:part element="eb:opWmlEvaluate" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opWmlEvaluateResponse"> 
  <wsdl:part element="eb:opWmlEvaluateResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FPS_RUN_EVALUATIONSoap"> 
  <wsdl:operation name="opWmlEvaluate"> 
   <wsdl:input message="eb:opWmlEvaluateRequest" name="opWmlEvaluateRequest" /> 
   <wsdl:output message="eb:opWmlEvaluateResponse" name="opWmlEvaluateResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FPS_RUN_EVALUATIONSoap" type="eb:WS_FPS_RUN_EVALUATIONSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opWmlEvaluate"> 
   <soap:operation soapAction="WS_FPS_RUN_EVALUATION/opWmlEvaluate" style="document" /> 
   <wsdl:input name="opWmlEvaluateRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opWmlEvaluateResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FPS_RUN_EVALUATION"> 
  <wsdl:port binding="eb:WS_FPS_RUN_EVALUATIONSoap" name="WS_FPS_RUN_EVALUATIONSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FPS_RUN_EVALUATION" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>