osb_it/repo/BlueBirdProject/SALESFORCE/calculatedMatrices/PS_REST_MDW_CALCULATED_MATRICES/wsdl/BlueBirdProject_SALESFORCE_calculatedMatrices_proxy_PS_REST_MDW_CALCULATED_MATRICES.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_MDW_CALCULATED_MATRICES"
     targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_CALCULATED_MATRICES"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_MDW_CALCULATED_MATRICES"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:inp2="http://www.skytv.it/mdw/data"
    >
    <plnk:partnerLinkType name="PS_REST_MDW_CALCULATED_MATRICES">
        <plnk:role name="PS_REST_MDW_CALCULATED_MATRICESProvider" portType="tns:PS_REST_MDW_CALCULATED_MATRICES_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/CalculatedMatrices/xsd/XSD_GET_CALCULATED_MATRICES.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="calculationForDeca_outputMessage">
        <wsdl:part name="reply" element="inp1:calculatedMatrices"/>
    </wsdl:message>
    <wsdl:message name="calculationForDeca_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="calculationForDeca_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="calculationForDeca_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_MDW_CALCULATED_MATRICES_ptt">
        <wsdl:operation name="calculationForDeca">
            <wsdl:input message="tns:Rest_EmptyMessage"/>
            <wsdl:output message="tns:calculationForDeca_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:calculationForDeca_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:calculationForDeca_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:calculationForDeca_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_MDW_CALCULATED_MATRICES_ptt-binding" type="tns:PS_REST_MDW_CALCULATED_MATRICES_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="calculationForDeca">
            <soap:operation soapAction="calculationForDeca"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>