esb_it/repo/WS_IVR_CHECK_ELEGIBILITY/wsdl/WS_IVR_CHECK_ELEGIBILITY.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_WS_CHECK_ELEGIBILITY.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCHECK_ELEGIBILITY"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCHECK_ELEGIBILITYResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCHECK_ELEGIBILITYRequest"> 
  <wsdl:part element="eb:opCHECK_ELEGIBILITY" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCHECK_ELEGIBILITYResponse"> 
  <wsdl:part element="eb:opCHECK_ELEGIBILITYResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_CHECK_ELEGIBILITYSoap"> 
  <wsdl:operation name="opCHECK_ELEGIBILITY"> 
   <wsdl:input message="eb:opCHECK_ELEGIBILITYRequest" name="opCHECK_ELEGIBILITYRequest" /> 
   <wsdl:output message="eb:opCHECK_ELEGIBILITYResponse" name="opCHECK_ELEGIBILITYResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_CHECK_ELEGIBILITYSoap" type="eb:WS_IVR_CHECK_ELEGIBILITYSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCHECK_ELEGIBILITY"> 
   <soap:operation soapAction="WS_IVR_CHECK_ELEGIBILITY/opCHECK_ELEGIBILITY" style="document" /> 
   <wsdl:input name="opCHECK_ELEGIBILITYRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCHECK_ELEGIBILITYResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_CHECK_ELEGIBILITY"> 
  <wsdl:port binding="eb:WS_IVR_CHECK_ELEGIBILITYSoap" name="WS_IVR_CHECK_ELEGIBILITYSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_CHECK_ELEGIBILITY" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>