esb_it/repo/WS_SF_FW_SEND_TV_ORDER/wsdl/WS_SF_FW_SEND_TV_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/SendTVOrderServices/" schemaLocation="SkyXSD_SendTVOrder.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:fw="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/SendTVOrderServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="fw:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:fw="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/SendTVOrderServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="fw:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="sendTvOrderOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="sendTvOrderOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="sendTvOrderOpRequest"> 
  <wsdl:part element="eb:sendTvOrderOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="sendTvOrderOpResponse"> 
  <wsdl:part element="eb:sendTvOrderOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_FW_SEND_TV_ORDERSoap"> 
  <wsdl:operation name="sendTvOrderOp"> 
   <wsdl:input message="eb:sendTvOrderOpRequest" name="sendTvOrderOpRequest" /> 
   <wsdl:output message="eb:sendTvOrderOpResponse" name="sendTvOrderOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_FW_SEND_TV_ORDERSoap" type="eb:WS_SF_FW_SEND_TV_ORDERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="sendTvOrderOp"> 
   <soap:operation soapAction="WS_SF_FW_SEND_TV_ORDER/sendTvOrderOp" style="document" /> 
   <wsdl:input name="sendTvOrderOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="sendTvOrderOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_FW_SEND_TV_ORDER"> 
  <wsdl:port binding="eb:WS_SF_FW_SEND_TV_ORDERSoap" name="WS_SF_FW_SEND_TV_ORDERSoap"> 
   <soap:address location="https://wscolprj.sky.it/wsexistbus/ws_sf_ns/WS_SF_FW_SEND_TV_ORDER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>