osb_it/repo/SalesforceProject/REST/CRM/CPQ/EXTENSION/HANDLER/PS_REST_CRM_CPQ_EXTENSION_HANDLER/xsd/XSD_CRM_CPQ_EXTENSION_HANDLER.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestCpqExtRepricing" type="requestCpqExtRepricingType"/>
	<xsd:element name="responseCpqExtRepricing" type="responseCpqExtRepricing"/>
	<xsd:complexType name="requestCpqExtRepricingType">
		<xsd:sequence> 
			<xsd:element name="idsList">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="id_value" type="xsd:string" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="rootCodesList" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="rootCode_value" type="typeRootCodes" maxOccurs="2"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseCpqExtRepricing">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string"/>
			<xsd:element name="resultDescription" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="typeRootCodes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ROOT"/>
			<xsd:enumeration value="TELCO_RESIDENTIAL_OFFER_BB"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>