esb_it/repo/WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTT/wsdl/WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_Web_Ts_AggiornamentoServiziDtt.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DataInput" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DataOutput" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opAggiornamentoServiziDtt"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAggiornamentoServiziDttResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAggiornamentoServiziDttRequest"> 
  <wsdl:part element="eb:opAggiornamentoServiziDtt" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAggiornamentoServiziDttResponse"> 
  <wsdl:part element="eb:opAggiornamentoServiziDttResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTTSoap"> 
  <wsdl:operation name="opAggiornamentoServiziDtt"> 
   <wsdl:input message="eb:opAggiornamentoServiziDttRequest" name="opAggiornamentoServiziDttRequest" /> 
   <wsdl:output message="eb:opAggiornamentoServiziDttResponse" name="opAggiornamentoServiziDttResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTTSoap" type="eb:WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAggiornamentoServiziDtt"> 
   <soap:operation soapAction="WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTT/opAggiornamentoServiziDtt" style="document" /> 
   <wsdl:input name="opAggiornamentoServiziDttRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAggiornamentoServiziDttResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTT"> 
  <wsdl:port binding="eb:WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTTSoap" name="WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_TS_AGGIORNAMENTO_SERVIZI_DTT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>