esb_it/repo/WS_SF_HANDLE_ESITO_NAMIRIAL/xsd/SkyXSD_SBL_SF_HANDLE_ESITO_NAMIRIAL.xsd

<xsd:schema xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://soap.sforce.com/schemas/class/WS_Inbound_ODL_Handler" elementFormDefault="qualified"> 
 <xsd:complexType name="RequestHandleEsitoNamirialType"> 
  <xsd:sequence> 
   <xsd:element name="handleEsitoNamirial"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element name="WorkOrderNumber" type="xsd:string" nillable="true" /> 
      <xsd:element name="EsitoFirma" type="xsd:string" nillable="true" /> 
      <xsd:element name="MessaggioDiErrore" type="xsd:string" nillable="true" /> 
      <xsd:element name="EsitoFirmaPath" type="xsd:string" nillable="true" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="ResponseHandleEsitoNamirialType"> 
  <xsd:sequence> 
   <xsd:element name="handleEsitoNamirialResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element name="result" type="tns:EsitoWSOdlType" nillable="true" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:complexType name="EsitoWSOdlType"> 
  <xsd:sequence> 
   <xsd:element name="descrizioneEsito" minOccurs="0" type="xsd:string" nillable="true" /> 
   <xsd:element name="esito" minOccurs="0" type="xsd:string" nillable="true" /> 
  </xsd:sequence> 
 </xsd:complexType> 
 <xsd:element name="RequestHandleEsitoNamirial" type="tns:RequestHandleEsitoNamirialType" /> 
 <xsd:element name="ResponseHandleEsitoNamirial" type="tns:ResponseHandleEsitoNamirialType" /> 
</xsd:schema>