esb_it/repo/WS_NOIXA_CHIUDI_ESIGENZA/wsdl/WS_NOIXA_CHIUDI_ESIGENZA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdNoixa/SkyXSD_WS_NOIXA_CHIUDI_ESIGENZA.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opChiudiEsigenza"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opChiudiEsigenzaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opChiudiEsigenzaRequest"> 
  <wsdl:part element="eb:opChiudiEsigenza" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opChiudiEsigenzaResponse"> 
  <wsdl:part element="eb:opChiudiEsigenzaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_NOIXA_CHIUDI_ESIGENZASoap"> 
  <wsdl:operation name="opChiudiEsigenza"> 
   <wsdl:input message="eb:opChiudiEsigenzaRequest" name="opChiudiEsigenzaRequest" /> 
   <wsdl:output message="eb:opChiudiEsigenzaResponse" name="opChiudiEsigenzaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_NOIXA_CHIUDI_ESIGENZASoap" type="eb:WS_NOIXA_CHIUDI_ESIGENZASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opChiudiEsigenza"> 
   <soap:operation soapAction="WS_NOIXA_CHIUDI_ESIGENZA/opChiudiEsigenza" style="document" /> 
   <wsdl:input name="opChiudiEsigenzaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opChiudiEsigenzaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_NOIXA_CHIUDI_ESIGENZA"> 
  <wsdl:port binding="eb:WS_NOIXA_CHIUDI_ESIGENZASoap" name="WS_NOIXA_CHIUDI_ESIGENZASoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_noixa/WS_NOIXA_CHIUDI_ESIGENZA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>