esb_it/repo/WS_SCMS_EXECUTE_CRTCKT_WSC/wsdl/WS_SCMS_EXECUTE_CRTCKT_WSC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSCMS/SkyXSD_WS_SCMS_EXECUTE_CRTCKT_WSC.xsd" /> 
   <xsd:complexType name="requestCRTCKT"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:request" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="responseCRTCKT"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:response" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCRTCKT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestCRTCKT" type="eb:requestCRTCKT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCRTCKTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseCRTCKT" type="eb:responseCRTCKT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCRTCKTRequest"> 
  <wsdl:part element="eb:opCRTCKT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCRTCKTResponse"> 
  <wsdl:part element="eb:opCRTCKTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_CRTCKT_WSCSoap"> 
  <wsdl:operation name="opCRTCKT"> 
   <wsdl:input message="eb:opCRTCKTRequest" name="opCRTCKTRequest" /> 
   <wsdl:output message="eb:opCRTCKTResponse" name="opCRTCKTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_CRTCKT_WSCSoap" type="eb:WS_SCMS_EXECUTE_CRTCKT_WSCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCRTCKT"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_CRTCKT_WSC/opCRTCKT" style="document" /> 
   <wsdl:input name="opCRTCKTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCRTCKTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_CRTCKT_WSC"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_CRTCKT_WSCSoap" name="WS_SCMS_EXECUTE_CRTCKT_WSCSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_CRTCKT_WSC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>