esb_it/repo/WS_WEB_SBL_PRELIMINARY_CHECK/wsdl/WS_WEB_SBL_PRELIMINARY_CHECK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="Web/SkyXSD_WS_WEB_SBL_PRELIMINARY_CHECK.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opPreliminaryCheck"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opPreliminaryCheckResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opPreliminaryCheckRequest"> 
  <wsdl:part element="eb:opPreliminaryCheck" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opPreliminaryCheckResponse"> 
  <wsdl:part element="eb:opPreliminaryCheckResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_SBL_PRELIMINARY_CHECKSoap"> 
  <wsdl:operation name="opPreliminaryCheck"> 
   <wsdl:input message="eb:opPreliminaryCheckRequest" name="opPreliminaryCheckRequest" /> 
   <wsdl:output message="eb:opPreliminaryCheckResponse" name="opPreliminaryCheckResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_SBL_PRELIMINARY_CHECKSoap" type="eb:WS_WEB_SBL_PRELIMINARY_CHECKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opPreliminaryCheck"> 
   <soap:operation soapAction="WS_WEB_SBL_PRELIMINARY_CHECK/opPreliminaryCheck" style="document" /> 
   <wsdl:input name="opPreliminaryCheckRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opPreliminaryCheckResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_SBL_PRELIMINARY_CHECK"> 
  <wsdl:port binding="eb:WS_WEB_SBL_PRELIMINARY_CHECKSoap" name="WS_WEB_SBL_PRELIMINARY_CHECKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_SBL_PRELIMINARY_CHECK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>