osb_it/repo/SiebelProject/LogisticAction/PS_WS_SBL_LOGISTIC_ACTION/wsdl/SiebelProject_LogisticAction_proxy_PS_WS_SBL_LOGISTIC_ACTION.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/SBL_LOGISTIC_ACTION"
                  xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  name="WS_SBL_LOGISTIC_ACTION"
                  targetNamespace="http://www.skytv.it/mdw/service/SBL_LOGISTIC_ACTION">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SBL_LOGISTIC_ACTION.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Header_Message">
    <wsdl:part name="part_Header" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:message name="requestAssociaDisassocia_Message">
    <wsdl:part name="part_requestAssociaDisassocia" element="inp1:requestAssociaDisassocia"/>
  </wsdl:message>
  <wsdl:message name="responseAssociaDisassocia_Message">
    <wsdl:part name="part_responseAssociaDisassocia" element="inp1:responseAssociaDisassocia"/>
  </wsdl:message>
  <wsdl:message name="requestDisassociaMatricola_Message">
    <wsdl:part name="part_requestDisassociaMatricola" element="inp1:requestDisassociaMatricola"/>
  </wsdl:message>
  <wsdl:message name="responseDisassociaMatricola_Message">
    <wsdl:part name="part_responseDisassociaMatricola" element="inp1:responseDisassociaMatricola"/>
  </wsdl:message>
  <wsdl:message name="requestAssociaMatricola_Message">
    <wsdl:part name="part_requestAssociaMatricola" element="inp1:requestAssociaMatricola"/>
  </wsdl:message>
  <wsdl:message name="responseAssociaMatricola_Message">
    <wsdl:part name="part_responseAssociaMatricola" element="inp1:responseAssociaMatricola"/>
  </wsdl:message>
  
   <wsdl:portType name="SBL_LOGISTIC_ACTION_ptt">
    <wsdl:operation name="execute_AssociaDisassocia">
      <wsdl:input message="tns:requestAssociaDisassocia_Message"/>
      <wsdl:output message="tns:responseAssociaDisassocia_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_AssociaMatricola">
      <wsdl:input message="tns:requestAssociaMatricola_Message"/>
      <wsdl:output message="tns:responseAssociaMatricola_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_DisassociaMatricola">
      <wsdl:input message="tns:requestDisassociaMatricola_Message"/>
      <wsdl:output message="tns:responseDisassociaMatricola_Message"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SBL_LOGISTIC_ACTION_bind" type="tns:SBL_LOGISTIC_ACTION_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_DisassociaMatricola">
      <soap:operation soapAction="http://www.skytv.it/mdw/service/SBL_LOGISTIC_ACTION/execute_AssociaMatricolaDisassociaMatricola"
                      style="document"/>
      <wsdl:input>
        <soap:body parts="part_requestDisassociaMatricola" use="literal"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="part_responseDisassociaMatricola" use="literal"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_AssociaDisassocia">
      <soap:operation soapAction="http://www.skytv.it/mdw/service/SBL_LOGISTIC_ACTION/execute_AssociaDisassocia"
                      style="document"/>
      <wsdl:input>
        <soap:body parts="part_requestAssociaDisassocia" use="literal"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="part_responseAssociaDisassocia" use="literal"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_AssociaMatricola">
      <soap:operation soapAction="http://www.skytv.it/mdw/service/SBL_LOGISTIC_ACTION/execute_AssociaMatricolaDisassociaMatricola"
                      style="document"/>
      <wsdl:input>
        <soap:body parts="part_requestAssociaMatricola" use="literal"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="part_responseAssociaMatricola" use="literal"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>