esb_it/repo/WS_HTL_SCMS_EXECUTE_GETSCP/wsdl/WS_HTL_SCMS_EXECUTE_GETSCP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestGETSCP"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element name="execdate" type="xsd:string" /> 
     <xsd:element name="priority" type="xsd:string" /> 
     <xsd:element name="funcname" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="account" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbikusi" type="xsd:string" /> 
     <xsd:element name="defaultchnl" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="numero_moduli" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="tipo_default" type="xsd:string" /> 
     <xsd:element name="rate_code" type="xsd:string" /> 
     <xsd:element name="listino" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseGETSCP"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="channellist" type="eb:t_channellist" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_channellist"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="channel" type="eb:t_channel" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_channel"> 
    <xsd:sequence> 
     <xsd:element name="serviceid" type="xsd:string" /> 
     <xsd:element name="diseq" type="xsd:string" /> 
     <xsd:element name="frequency" type="xsd:string" /> 
     <xsd:element name="channelname" type="xsd:string" /> 
     <xsd:element name="default_info_module" type="xsd:string" /> 
     <xsd:element name="groupid" type="xsd:string" /> 
     <xsd:element name="modulo" type="xsd:string" /> 
     <xsd:element name="mposition" type="xsd:string" /> 
     <xsd:element name="mandmodule" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGETSCP"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestGETSCP" type="eb:requestGETSCP" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="HTL_CODICE_OPERATORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGETSCPResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseGETSCP" type="eb:responseGETSCP" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGETSCPRequest"> 
  <wsdl:part element="eb:opGETSCP" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGETSCPResponse"> 
  <wsdl:part element="eb:opGETSCPResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_SCMS_EXECUTE_GETSCPSoap"> 
  <wsdl:operation name="opGETSCP"> 
   <wsdl:input message="eb:opGETSCPRequest" name="opGETSCPRequest" /> 
   <wsdl:output message="eb:opGETSCPResponse" name="opGETSCPResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_SCMS_EXECUTE_GETSCPSoap" type="eb:WS_HTL_SCMS_EXECUTE_GETSCPSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGETSCP"> 
   <soap:operation soapAction="WS_HTL_SCMS_EXECUTE_GETSCP/opGETSCP" style="document" /> 
   <wsdl:input name="opGETSCPRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGETSCPResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_SCMS_EXECUTE_GETSCP"> 
  <wsdl:port binding="eb:WS_HTL_SCMS_EXECUTE_GETSCPSoap" name="WS_HTL_SCMS_EXECUTE_GETSCPSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_HTL_SCMS_EXECUTE_GETSCP" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>