esb_it/repo/WS_SCMS_EXECUTE_ASSCDE/wsdl/WS_SCMS_EXECUTE_ASSCDE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestASSCDE"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="account" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="consistenza"> 
      <xsd:complexType> 
       <xsd:sequence> 
        <xsd:element maxOccurs="unbounded" ref="eb:SMC" /> 
       </xsd:sequence> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseASSCDE"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="STB"> 
    <xsd:complexType> 
     <xsd:attribute name="TipoSTB" use="required"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:attribute> 
     <xsd:attribute name="Seriale" use="required"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:attribute> 
     <xsd:attribute name="RateCode" use="required"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:attribute> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="SMC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="unbounded" ref="eb:STB" /> 
     </xsd:sequence> 
     <xsd:attribute name="TipoSMC" use="required"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:attribute> 
     <xsd:attribute name="Seriale" use="required"> 
      <xsd:simpleType> 
       <xsd:restriction base="xsd:string" /> 
      </xsd:simpleType> 
     </xsd:attribute> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opASSCDE"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestASSCDE" type="eb:requestASSCDE" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opASSCDEResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseASSCDE" type="eb:responseASSCDE" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opASSCDERequest"> 
  <wsdl:part element="eb:opASSCDE" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opASSCDEResponse"> 
  <wsdl:part element="eb:opASSCDEResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_ASSCDESoap"> 
  <wsdl:operation name="opASSCDE"> 
   <wsdl:input message="eb:opASSCDERequest" name="opASSCDERequest" /> 
   <wsdl:output message="eb:opASSCDEResponse" name="opASSCDEResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_ASSCDESoap" type="eb:WS_SCMS_EXECUTE_ASSCDESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opASSCDE"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_ASSCDE/opASSCDE" style="document" /> 
   <wsdl:input name="opASSCDERequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opASSCDEResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_ASSCDE"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_ASSCDESoap" name="WS_SCMS_EXECUTE_ASSCDESoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_ASSCDE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>