esb_it/repo/WS_FW_ELIGIBILITY_CHECK/wsdl/WS_FW_ELIGIBILITY_CHECK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/EligibilityCheckServices/" schemaLocation="SkyXSD_EligibilityCheck.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/EligibilityCheckServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/EligibilityCheckServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="EligibilityCheckOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="EligibilityCheckOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="EligibilityCheckOpRequest"> 
  <wsdl:part element="eb:EligibilityCheckOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="EligibilityCheckOpResponse"> 
  <wsdl:part element="eb:EligibilityCheckOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FW_ELIGIBILITY_CHECKSoap"> 
  <wsdl:operation name="EligibilityCheckOp"> 
   <wsdl:input message="eb:EligibilityCheckOpRequest" name="EligibilityCheckOpRequest" /> 
   <wsdl:output message="eb:EligibilityCheckOpResponse" name="EligibilityCheckOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FW_ELIGIBILITY_CHECKSoap" type="eb:WS_FW_ELIGIBILITY_CHECKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="EligibilityCheckOp"> 
   <soap:operation soapAction="WS_FW_ELIGIBILITY_CHECK/EligibilityCheckOp" style="document" /> 
   <wsdl:input name="EligibilityCheckOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="EligibilityCheckOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FW_ELIGIBILITY_CHECK"> 
  <wsdl:port binding="eb:WS_FW_ELIGIBILITY_CHECKSoap" name="WS_FW_ELIGIBILITY_CHECKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FW_ELIGIBILITY_CHECK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>