esb_it/repo/WS_PEGASUS_SINC_BIT_PUBLISH/wsdl/WS_PEGASUS_SINC_BIT_PUBLISH.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import schemaLocation="xsdPegasus/SkyXSD_WS_PEGASUS_SINC_BIT_PUBLISH.xsd" /> 
   <xsd:complexType name="sincBit2PublishMDW"> 
    <xsd:complexContent> 
     <xsd:extension base="sincBit2Publish" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="sincBit2PublishResponseMDW"> 
    <xsd:complexContent> 
     <xsd:extension base="sincBit2PublishResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSincBitPublish"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="sincBit2Publish" type="eb:sincBit2PublishMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSincBitPublishResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="sincBit2PublishResponse" type="eb:sincBit2PublishResponseMDW" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSincBitPublishRequest"> 
  <wsdl:part element="eb:opSincBitPublish" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSincBitPublishResponse"> 
  <wsdl:part element="eb:opSincBitPublishResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PEGASUS_SINC_BIT_PUBLISHSoap"> 
  <wsdl:operation name="opSincBitPublish"> 
   <wsdl:input message="eb:opSincBitPublishRequest" name="opSincBitPublishRequest" /> 
   <wsdl:output message="eb:opSincBitPublishResponse" name="opSincBitPublishResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PEGASUS_SINC_BIT_PUBLISHSoap" type="eb:WS_PEGASUS_SINC_BIT_PUBLISHSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSincBitPublish"> 
   <soap:operation soapAction="WS_PEGASUS_SINC_BIT_PUBLISH/opSincBitPublish" style="document" /> 
   <wsdl:input name="opSincBitPublishRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSincBitPublishResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PEGASUS_SINC_BIT_PUBLISH"> 
  <wsdl:port binding="eb:WS_PEGASUS_SINC_BIT_PUBLISHSoap" name="WS_PEGASUS_SINC_BIT_PUBLISHSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_PEGASUS_SINC_BIT_PUBLISH" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>