esb_it/repo/WS_AOL_SIEBEL_VERIFICA_CODICE_PROMO/wsdl/WS_AOL_SIEBEL_VERIFICA_CODICE_PROMO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opVerificaCodicePromo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodicePromozione" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CodiceDealer" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodicePromozionale" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CodiceMgm" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaCodicePromoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerificaCodicePromoRequest"> 
  <wsdl:part element="eb:opVerificaCodicePromo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaCodicePromoResponse"> 
  <wsdl:part element="eb:opVerificaCodicePromoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_AOL_SIEBEL_VERIFICA_CODICE_PROMOSoap"> 
  <wsdl:operation name="opVerificaCodicePromo"> 
   <wsdl:input message="eb:opVerificaCodicePromoRequest" name="opVerificaCodicePromoRequest" /> 
   <wsdl:output message="eb:opVerificaCodicePromoResponse" name="opVerificaCodicePromoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_AOL_SIEBEL_VERIFICA_CODICE_PROMOSoap" type="eb:WS_AOL_SIEBEL_VERIFICA_CODICE_PROMOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerificaCodicePromo"> 
   <soap:operation soapAction="WS_AOL_SIEBEL_VERIFICA_CODICE_PROMO/opVerificaCodicePromo" style="document" /> 
   <wsdl:input name="opVerificaCodicePromoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaCodicePromoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_AOL_SIEBEL_VERIFICA_CODICE_PROMO"> 
  <wsdl:port binding="eb:WS_AOL_SIEBEL_VERIFICA_CODICE_PROMOSoap" name="WS_AOL_SIEBEL_VERIFICA_CODICE_PROMOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_AOL_SIEBEL_VERIFICA_CODICE_PROMO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>