osb_it/repo/ContentWiseProject/ContentDiscoveryContentWise/PS_WS_CONTENT_DISCOVERY_CONTENTWISE/wsdl/ContentWiseProject_ContentDiscoveryContentWise_proxy_PS_WS_CONTENT_DISCOVERY_CONTENTWISE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WS_CONTENT_DISCOVERY_CONTENTWISE"
                  targetNamespace="http://www.skytv.it/mdw/service/CONTENT_DISCOVERY_CONTENTWISE"
                  xmlns:tns="http://www.skytv.it/mdw/service/CONTENT_DISCOVERY_CONTENTWISE"
                  xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../xsd/XSD_CONTENT_DISCOVERY_CONTENTWISE.xsd"/>
      <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestCustomerActions_Message">
    <wsdl:part name="part_requestCustomerActions" element="inp1:requestCustomerActions"/>
  </wsdl:message>
  <wsdl:message name="responseCustomerActions_Message">
    <wsdl:part name="part_responseCustomerActions" element="inp1:responseCustomerActions"/>
  </wsdl:message>
  <wsdl:message name="Header_Message">
    <wsdl:part name="part_Header" element="inp1:Header"/>
  </wsdl:message>
  <wsdl:portType name="CONTENT_DISCOVERY_CONTENTWISE_ptt">
    <wsdl:operation name="execute_customerActions">
      <wsdl:input message="tns:requestCustomerActions_Message"/>
      <wsdl:output message="tns:responseCustomerActions_Message"/>
    </wsdl:operation>
    <wsdl:operation name="execute_SwapSMC">
      <wsdl:input message="tns:requestSwapSMC_Message"/>
      <wsdl:output message="tns:responseSwapSMC_Message"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="requestSwapSMC_Message">
    <wsdl:part name="part_requestSwapSMC" element="inp1:requestSwapSMC"/>
  </wsdl:message>
  <wsdl:message name="responseSwapSMC_Message">
    <wsdl:part name="part_responseSwapSMC" element="inp1:responseSwapSMC"/>
  </wsdl:message>
  <wsdl:binding name="CONTENT_DISCOVERY_CONTENTWISE_bind" type="tns:CONTENT_DISCOVERY_CONTENTWISE_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="execute_customerActions">
      <soap:operation style="document"
                      soapAction="http://www.skytv.it/mdw/service/CONTENT_DISCOVERY_CONTENTWISE/execute_customerActions"/>
      <wsdl:input>
        <soap:body use="literal" parts="part_requestCustomerActions"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="part_responseCustomerActions"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="execute_SwapSMC">
      <soap:operation style="document"
                      soapAction="http://www.skytv.it/mdw/service/CONTENT_DISCOVERY_CONTENTWISE/execute_SwapSMC"/>
      <wsdl:input>
        <soap:body use="literal" parts="part_requestSwapSMC"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="part_responseSwapSMC"/>
        <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>