esb_it/repo/WS_REITEK_TRIBOLD_CATALOGO/wsdl/WS_REITEK_TRIBOLD_CATALOGO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="unqualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import schemaLocation="xsdTribold/SkyXSD_Tribold_Reitek_wrapper.xsd" /> 
   <xsd:complexType name="EntityListTypeRequest" /> 
   <xsd:complexType name="EntityListTypeResponse"> 
    <xsd:complexContent> 
     <xsd:extension base="EntityListType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opLeggiCatalogoTribold"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="RequestIN" type="eb:EntityListTypeRequest" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opLeggiCatalogoTriboldResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Entities" type="eb:EntityListTypeResponse" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opLeggiCatalogoTriboldRequest"> 
  <wsdl:part element="eb:opLeggiCatalogoTribold" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opLeggiCatalogoTriboldResponse"> 
  <wsdl:part element="eb:opLeggiCatalogoTriboldResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_REITEK_TRIBOLD_CATALOGOSoap"> 
  <wsdl:operation name="opLeggiCatalogoTribold"> 
   <wsdl:input message="eb:opLeggiCatalogoTriboldRequest" name="opLeggiCatalogoTriboldRequest" /> 
   <wsdl:output message="eb:opLeggiCatalogoTriboldResponse" name="opLeggiCatalogoTriboldResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_REITEK_TRIBOLD_CATALOGOSoap" type="eb:WS_REITEK_TRIBOLD_CATALOGOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opLeggiCatalogoTribold"> 
   <soap:operation soapAction="WS_REITEK_TRIBOLD_CATALOGO/opLeggiCatalogoTribold" style="document" /> 
   <wsdl:input name="opLeggiCatalogoTriboldRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opLeggiCatalogoTriboldResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_REITEK_TRIBOLD_CATALOGO"> 
  <wsdl:port binding="eb:WS_REITEK_TRIBOLD_CATALOGOSoap" name="WS_REITEK_TRIBOLD_CATALOGOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_REITEK_TRIBOLD_CATALOGO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>