esb_it/repo/WS_WEB_CHECK_STATUS_SMS/wsdl/WS_WEB_CHECK_STATUS_SMS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opCheckStatusSms"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_ROW_ID" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckStatusSmsResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_PHONE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_TEXT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_SCH_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="SMS_WORKING_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_OPERATORE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckStatusSmsRequest"> 
  <wsdl:part element="eb:opCheckStatusSms" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckStatusSmsResponse"> 
  <wsdl:part element="eb:opCheckStatusSmsResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_CHECK_STATUS_SMSSoap"> 
  <wsdl:operation name="opCheckStatusSms"> 
   <wsdl:input message="eb:opCheckStatusSmsRequest" name="opCheckStatusSmsRequest" /> 
   <wsdl:output message="eb:opCheckStatusSmsResponse" name="opCheckStatusSmsResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_CHECK_STATUS_SMSSoap" type="eb:WS_WEB_CHECK_STATUS_SMSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckStatusSms"> 
   <soap:operation soapAction="WS_WEB_CHECK_STATUS_SMS/opCheckStatusSms" style="document" /> 
   <wsdl:input name="opCheckStatusSmsRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckStatusSmsResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_CHECK_STATUS_SMS"> 
  <wsdl:port binding="eb:WS_WEB_CHECK_STATUS_SMSSoap" name="WS_WEB_CHECK_STATUS_SMSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_CHECK_STATUS_SMS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>