osb_it/repo/SCMSproject/PS_WS_SKYGO_PREACTIVATED/wsdl/SCMSproject_proxy_PS_WS_SKYGO_PREACTIVATED.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SKYGO_PREACTIVATED"
     targetNamespace="http://www.skytv.it/mdw/service/SKYGO_PREACTIVATED"
     xmlns:tns="http://www.skytv.it/mdw/service/SKYGO_PREACTIVATED"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
      xmlns:mdata="http://www.skytv.it/mdw/data"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SKYGO_PREACTIVATED.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data"
                  schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessageAttivazioneSkyGo">
        <wsdl:part name="part" element="inp1:requestPRESGO"/>
    </wsdl:message>
    <wsdl:message name="replyMessageAttivazioneSkyGo">
        <wsdl:part name="part_q" element="inp1:responsePRESGO"/>
    </wsdl:message>
      <wsdl:message name="Header_Message">
    <wsdl:part name="part_HeaderMessage" element="mdata:Header"/>
  </wsdl:message>
    <wsdl:portType name="SKYGO_PREACTIVATED_port">
        <wsdl:operation name="execute_AttivazioneSkyGo">
            <wsdl:input message="tns:requestMessageAttivazioneSkyGo"/>
            <wsdl:output message="tns:replyMessageAttivazioneSkyGo"/>
        </wsdl:operation>
        <wsdl:operation name="execute_DeattivazioneSkyGo">
            <wsdl:input message="tns:requestMessageDeattivazioneSkyGo"/>
            <wsdl:output message="tns:replyMessageDeattivazioneSkyGo"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="requestMessageDeattivazioneSkyGo">
        <wsdl:part name="requestDeattivazioneSkyGo" element="inp1:requestDEASGO"/>
    </wsdl:message>
    <wsdl:message name="replyMessageDeattivazioneSkyGo">
        <wsdl:part name="responseDeattivazioneSkyGo" element="inp1:responseDEASGO"/>
    </wsdl:message>
    <wsdl:binding name="SKYGO_PREACTIVATED_bind" type="tns:SKYGO_PREACTIVATED_port">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_AttivazioneSkyGo">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/SKYGO_PREACTIVATED/execute_AttivazioneSkyGo"/>
            <wsdl:input>
                <soap:body use="literal" parts="part"/>
                 <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_q"/>
                 <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_DeattivazioneSkyGo">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/SKYGO_PREACTIVATED/execute_DeattivazioneSkyGo"/>
            <wsdl:input>
                <soap:body use="literal" parts="requestDeattivazioneSkyGo"/>
                 <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="responseDeattivazioneSkyGo"/>
                 <soap:header message="tns:Header_Message" part="part_HeaderMessage" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>