esb_it/repo/WS_WEB_CANCELLAZIONE_WSC/wsdl/WS_WEB_CANCELLAZIONE_WSC.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:sequence> 
     <xsd:element name="CodiceCliente" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element name="Esito" type="xsd:string" /> 
     <xsd:element name="DescEsito" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCancellazioneWSC"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCancellazioneWSCResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCancellazioneWSCRequest"> 
  <wsdl:part element="eb:opCancellazioneWSC" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCancellazioneWSCResponse"> 
  <wsdl:part element="eb:opCancellazioneWSCResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_WEB_CANCELLAZIONE_WSCSoap"> 
  <wsdl:operation name="opCancellazioneWSC"> 
   <wsdl:input message="eb:opCancellazioneWSCRequest" name="opCancellazioneWSCRequest" /> 
   <wsdl:output message="eb:opCancellazioneWSCResponse" name="opCancellazioneWSCResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_WEB_CANCELLAZIONE_WSCSoap" type="eb:WS_WEB_CANCELLAZIONE_WSCSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCancellazioneWSC"> 
   <soap:operation soapAction="WS_WEB_CANCELLAZIONE_WSC/opCancellazioneWSC" style="document" /> 
   <wsdl:input name="opCancellazioneWSCRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCancellazioneWSCResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_WEB_CANCELLAZIONE_WSC"> 
  <wsdl:port binding="eb:WS_WEB_CANCELLAZIONE_WSCSoap" name="WS_WEB_CANCELLAZIONE_WSCSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_WEB_CANCELLAZIONE_WSC" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>