esb_it/repo/WS_FPS_GET_WM_DATA/wsdl/WS_FPS_GET_WM_DATA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://ws.spy.sky.it" schemaLocation="spy_1.xsd" /> 
   <xsd:complexType name="getWsWmDataResponseMaster" xmlns:spy="http://ws.spy.sky.it"> 
    <xsd:complexContent> 
     <xsd:extension base="spy:getWsWmDataResponse" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="OpSPYGetWmData"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ContractId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpSPYGetWmDataResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Response" type="eb:getWsWmDataResponseMaster" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpSPYGetWmDataRequest"> 
  <wsdl:part element="eb:OpSPYGetWmData" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpSPYGetWmDataResponse"> 
  <wsdl:part element="eb:OpSPYGetWmDataResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FPS_GET_WM_DATASoap"> 
  <wsdl:operation name="OpSPYGetWmData"> 
   <wsdl:input message="eb:OpSPYGetWmDataRequest" name="OpSPYGetWmDataRequest" /> 
   <wsdl:output message="eb:OpSPYGetWmDataResponse" name="OpSPYGetWmDataResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FPS_GET_WM_DATASoap" type="eb:WS_FPS_GET_WM_DATASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpSPYGetWmData"> 
   <soap:operation soapAction="WS_FPS_GET_WM_DATA/OpSPYGetWmData" style="document" /> 
   <wsdl:input name="OpSPYGetWmDataRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpSPYGetWmDataResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FPS_GET_WM_DATA"> 
  <wsdl:port binding="eb:WS_FPS_GET_WM_DATASoap" name="WS_FPS_GET_WM_DATASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FPS_GET_WM_DATA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>