esb_it/repo/WS_SF_SBL_STAMPA_CONTRATTO/wsdl/WS_SF_SBL_STAMPA_CONTRATTO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="SkyXSD_SF_SBL_STAMPA_CONTRATTO.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opStampaContratto"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opStampaContrattoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="FILENAMEPDF" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="Tid" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opStampaContrattoRequest"> 
  <wsdl:part element="eb:opStampaContratto" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opStampaContrattoResponse"> 
  <wsdl:part element="eb:opStampaContrattoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SF_SBL_STAMPA_CONTRATTOSoap"> 
  <wsdl:operation name="opStampaContratto"> 
   <wsdl:input message="eb:opStampaContrattoRequest" name="opStampaContrattoRequest" /> 
   <wsdl:output message="eb:opStampaContrattoResponse" name="opStampaContrattoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SF_SBL_STAMPA_CONTRATTOSoap" type="eb:WS_SF_SBL_STAMPA_CONTRATTOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opStampaContratto"> 
   <soap:operation soapAction="WS_SF_SBL_STAMPA_CONTRATTO/opStampaContratto" style="document" /> 
   <wsdl:input name="opStampaContrattoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opStampaContrattoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SF_SBL_STAMPA_CONTRATTO"> 
  <wsdl:port binding="eb:WS_SF_SBL_STAMPA_CONTRATTOSoap" name="WS_SF_SBL_STAMPA_CONTRATTOSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf_ns/WS_SF_SBL_STAMPA_CONTRATTO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>