osb_it/repo/BlueBirdProject/Reitek/callbackOrderResult/PS_WS_REITEK_CALLBACK_ORDER_RESULT/xsd/XSD_REITEK_CALLBACK_ORDER_RESULT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:element name="requestNotifyCallback" type="requestNotifyCallbackType"/>
	<xsd:element name="responseNotifyCallbackSoap" type="responseNotifyCallbackSoapType"/>
	<xsd:complexType name="requestNotifyCallbackType">
		<xsd:sequence>
			<xsd:element name="ecid" type="xsd:string" minOccurs="1"/>
			<xsd:element name="contractIDTV" type="xsd:string" minOccurs="0"/>
			<xsd:element name="contractIDBB" type="xsd:string" minOccurs="0"/>
			<xsd:element name="partentID" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resultCode" type="xsd:integer" minOccurs="1"/>
			<xsd:element name="resultDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="type" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="responseNotifyCallbackSoapType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string" minOccurs="1"/>
			<xsd:element name="resultDescription" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resultNotifyCallback" type="resultNotifyCallbackType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="resultNotifyCallbackType">
		<xsd:sequence>
			<xsd:element name="success" type="xsd:boolean" minOccurs="1"/>
			<xsd:element name="responseMessage" type="xsd:string" minOccurs="1"/>
			<xsd:element name="value" type="valueType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="valueType">
		<xsd:sequence>
			<xsd:element name="resultCode" type="xsd:string" minOccurs="0"/>
			<xsd:element name="resultDescription" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>