osb_it/repo/BlueBirdProject/SALESFORCE/msoHandler/PS_REST_SF_MSO_HANDLER/wsdl/BlueBirdProject_SALESFORCE_msoHandler_proxy_PS_REST_SF_MSO_HANDLER.wsdl

<wsdl:definitions name="PS_REST_SF_MSO_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_MSO_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_MSO_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_MSO_HANDLER">
        <plnk:role name="PS_REST_SF_MSO_HANDLERProvider" portType="tns:PS_REST_SF_MSO_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/msoHandler/xsd/XSD_SF_MSO_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="RetrieveMSO_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveMSO"/>
    </wsdl:message>
    <wsdl:message name="RetrieveMSO_outputMessage">
        <wsdl:part name="reply" element="inp1:responseRetrieveMSO"/>
    </wsdl:message>
    <wsdl:message name="RetrieveMSO_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveMSO_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveMSO_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_MSO_HANDLER_ptt">
        <wsdl:operation name="RetrieveMSO">
            <wsdl:input message="tns:RetrieveMSO_inputMessage"/>
            <wsdl:output message="tns:RetrieveMSO_outputMessage"/>
            <wsdl:fault name="error404" message="tns:RetrieveMSO_error404Message"/>
            <wsdl:fault name="error400" message="tns:RetrieveMSO_error400Message"/>
            <wsdl:fault name="error500" message="tns:RetrieveMSO_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_MSO_HANDLER_ptt-binding" type="tns:PS_REST_SF_MSO_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveMSO">
            <soap:operation soapAction="RetrieveMSO"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>