osb_it/repo/SalesforceProject/REST/CRM/FISCAL/CODE/PS_REST_CRM_FISCAL_CODE/wsdl/SalesforceProject_REST_CRM_FISCAL_CODE_proxy_PS_REST_CRM_FISCAL_CODE.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PS_REST_CRM_FISCAL_CODE"
     targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_FISCAL_CODE"
     xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_FISCAL_CODE"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:inp2="http://www.skytv.it/mdw/data"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    >
    <plnk:partnerLinkType name="PS_REST_CRM_FISCAL_CODE">
        <plnk:role name="PS_REST_CRM_FISCAL_CODEProvider" portType="tns:PS_REST_CRM_FISCAL_CODE_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_FiscalCode/xsd/XSD_CRM_FISCAL_CODE.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="checkFiscalCode_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckFiscalCode"/>
    </wsdl:message>
    <wsdl:message name="checkFiscalCode_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckFiscalCode"/>
    </wsdl:message>
    <wsdl:message name="checkFiscalCode_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="checkFiscalCode_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="checkFiscalCode_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="checkFCDummies_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckFCDummies"/>
    </wsdl:message>
    <wsdl:message name="checkFCDummies_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckFCDummies"/>
    </wsdl:message>
    <wsdl:message name="checkFCDummies_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="checkFCDummies_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="checkFCDummies_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="modifyFiscalCode_inputMessage">
        <wsdl:part name="request" element="inp1:requestModifyFiscalCode"/>
    </wsdl:message>
    <wsdl:message name="modifyFiscalCode_outputMessage">
        <wsdl:part name="reply" element="inp1:responseModifyFiscalCode"/>
    </wsdl:message>
    <wsdl:message name="modifyFiscalCode_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="modifyFiscalCode_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="modifyFiscalCode_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="PS_REST_CRM_FISCAL_CODE_ptt">
        <wsdl:operation name="checkFiscalCode">
            <wsdl:input message="tns:checkFiscalCode_inputMessage"/>
            <wsdl:output message="tns:checkFiscalCode_outputMessage"/>
            <wsdl:fault name="error404" message="tns:checkFiscalCode_error404Message"/>
            <wsdl:fault name="error400" message="tns:checkFiscalCode_error400Message"/>
            <wsdl:fault name="error500" message="tns:checkFiscalCode_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="checkFCDummies">
            <wsdl:input message="tns:checkFCDummies_inputMessage"/>
            <wsdl:output message="tns:checkFCDummies_outputMessage"/>
            <wsdl:fault name="error404" message="tns:checkFCDummies_error404Message"/>
            <wsdl:fault name="error400" message="tns:checkFCDummies_error400Message"/>
            <wsdl:fault name="error500" message="tns:checkFCDummies_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="modifyFiscalCode">
            <wsdl:input message="tns:modifyFiscalCode_inputMessage"/>
            <wsdl:output message="tns:modifyFiscalCode_outputMessage"/>
            <wsdl:fault name="error404" message="tns:modifyFiscalCode_error404Message"/>
            <wsdl:fault name="error400" message="tns:modifyFiscalCode_error400Message"/>
            <wsdl:fault name="error500" message="tns:modifyFiscalCode_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_FISCAL_CODE_ptt-binding" type="tns:PS_REST_CRM_FISCAL_CODE_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checkFiscalCode">
            <soap:operation soapAction="checkFiscalCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="checkFCDummies">
            <soap:operation soapAction="checkFCDummies"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="modifyFiscalCode">
            <soap:operation soapAction="modifyFiscalCode"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>