esb_it/repo/WS_SMS_UPGRADE_CINEMA/wsdl/WS_SMS_UPGRADE_CINEMA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opUpgradeCinema"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUMERO_CELLULARE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_TEXT" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_TYPE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SMS_WASP_DATE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_INTEGRATION_ID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_PPV_KEY" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CRM_TOKEN" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_NUM_SMC" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opUpgradeCinemaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_MSG" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CA_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_TOKEN" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="CRM_TYPE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opUpgradeCinemaRequest"> 
  <wsdl:part element="eb:opUpgradeCinema" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opUpgradeCinemaResponse"> 
  <wsdl:part element="eb:opUpgradeCinemaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SMS_UPGRADE_CINEMASoap"> 
  <wsdl:operation name="opUpgradeCinema"> 
   <wsdl:input message="eb:opUpgradeCinemaRequest" name="opUpgradeCinemaRequest" /> 
   <wsdl:output message="eb:opUpgradeCinemaResponse" name="opUpgradeCinemaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SMS_UPGRADE_CINEMASoap" type="eb:WS_SMS_UPGRADE_CINEMASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opUpgradeCinema"> 
   <soap:operation soapAction="WS_SMS_UPGRADE_CINEMA/opUpgradeCinema" style="document" /> 
   <wsdl:input name="opUpgradeCinemaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opUpgradeCinemaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SMS_UPGRADE_CINEMA"> 
  <wsdl:port binding="eb:WS_SMS_UPGRADE_CINEMASoap" name="WS_SMS_UPGRADE_CINEMASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SMS_UPGRADE_CINEMA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>