osb_it/repo/SCMSproject/PS_WS_SCMS_ETHAN_OTT/wsdl/SCMSproject_proxy_PS_WS_SCMS_ETHAN_OTT.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_SCMS_ETHAN_OTT"
     targetNamespace="http://www.skytv.it/mdw/service/WS_SCMS_ETHAN_OTT"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_SCMS_ETHAN_OTT"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SCMS_ETHAN_OTT.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part_requestUpdateDeviceList" element="inp1:requestUpdateDeviceList"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part_responseUpdateDeviceList" element="inp1:responseUpdateDeviceList"/>
    </wsdl:message>
    <wsdl:portType name="WS_SCMS_ETHAN_OTT_ptt">
        <wsdl:operation name="execute_UpdateDeviceList">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_RemoteBooking">
            <wsdl:input message="tns:requestRemoteBooking_Message"/>
            <wsdl:output message="tns:responseRemoteBooking_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WS_SCMS_ETHAN_OTT_bind" type="tns:WS_SCMS_ETHAN_OTT_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_UpdateDeviceList">
            <soap:operation style="document" soapAction="execute_UpdateDeviceList"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SCMS_ETHAN_OTT"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_SCMS_ETHAN_OTT"/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_RemoteBooking">
            <soap:operation/>
            <wsdl:input>
                <soap:body/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body/>
                <soap:header message="tns:Header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestRemoteBooking_Message">
        <wsdl:part name="part_requestRemoteBooking" element="inp1:requestRemoteBooking"/>
    </wsdl:message>
    <wsdl:message name="responseRemoteBooking_Message">
        <wsdl:part name="part_responseRemoteBooking" element="inp1:responseRemoteBooking"/>
    </wsdl:message>
</wsdl:definitions>