osb_it/repo/SiebelProject/PS_WS_CRM_SIE_ENABLE_PLUGIN/xsd/XSD_CRM_SIE_ENABLE_PLUGIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data" targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
	<xsd:complexType name="requestEnablePluginType">
		<xsd:sequence>
			<xsd:element name="CodiceContratto" type="xsd:string" minOccurs="1"/>
			<xsd:element name="CATEGORIA" type="xsd:string" minOccurs="0"/>
			<xsd:element name="SOTTOCATEGORIA" type="xsd:string" minOccurs="0"/>
			<xsd:element name="PROCEDURA" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ATTIVITA" type="xsd:string" minOccurs="1"/>
			<xsd:element name="DATA_LETTURA" type="xsd:string" minOccurs="1"/>
			<xsd:element name="CODICE_CONTRATTO" type="xsd:string" minOccurs="1"/>
			<xsd:element name="OTHER_INPUT" type="xsd:string" minOccurs="0"/>
			<xsd:element name="ID_SF" type="xsd:string" minOccurs="1"/>
			<xsd:element name="SF_LOGIN_ID" type="xsd:string" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="requestEnablePlugin" type="requestEnablePluginType"/>
	<xsd:complexType name="responseEnablePluginType">
		<xsd:sequence>
			<xsd:element name="DescrizioneEsito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="Esito" type="xsd:string" minOccurs="1"/>
			<xsd:element name="TransactionID" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:element name="responseEnablePlugin" type="responseEnablePluginType"/>
</xsd:schema>