osb_it/repo/BlueBirdProject/SALESFORCE/orderHandler/PS_REST_SF_ORDER_HANDLER/wsdl/BlueBirdProject_SALESFORCE_orderHandler_proxy_PS_REST_SF_ORDER_HANDLER.wsdl

<wsdl:definitions name="PS_REST_SF_ORDER_HANDLER" targetNamespace="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_ORDER_HANDLER" xmlns:tns="http://xmlns.oracle.com/OSBApplicationSky/BlueBirdProject/PS_REST_SF_ORDER_HANDLER" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_ORDER_HANDLER">
        <plnk:role name="PS_REST_SF_ORDER_HANDLERProvider" portType="tns:PS_REST_SF_ORDER_HANDLER_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/orderHandler/xsd/XSD_SF_ORDER_HANDLER.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="CreateOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestCreateOrder"/>
    </wsdl:message>
    <wsdl:message name="CreateOrder_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCreateOrder"/>
    </wsdl:message>
    <wsdl:message name="CreateOrder_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="CreateOrder_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="CreateOrder_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestSubmitOrder"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:message name="SubmitOrder_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="SubmitOrder_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="SubmitCreateOrder_inputMessage">
        <wsdl:part name="request" element="inp1:requestSubmitOrder"/>
    </wsdl:message>
    <wsdl:message name="SubmitCreateOrder_outputMessage">
        <wsdl:part name="reply" element="inp1:responseSubmitOrder"/>
    </wsdl:message>
    <wsdl:message name="SubmitCreateOrder_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="SubmitCreateOrder_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="SubmitCreateOrder_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_ORDER_HANDLER_ptt">
        <wsdl:operation name="CreateOrder">
            <wsdl:input message="tns:CreateOrder_inputMessage"/>
            <wsdl:output message="tns:CreateOrder_outputMessage"/>
            <wsdl:fault name="error404" message="tns:CreateOrder_error404Message"/>
            <wsdl:fault name="error400" message="tns:CreateOrder_error400Message"/>
            <wsdl:fault name="error500" message="tns:CreateOrder_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="SubmitOrder">
            <wsdl:input message="tns:SubmitOrder_inputMessage"/>
            <wsdl:output message="tns:Rest_EmptyMessage"/>
            <wsdl:fault name="error404" message="tns:SubmitOrder_error404Message"/>
            <wsdl:fault name="error400" message="tns:SubmitOrder_error400Message"/>
            <wsdl:fault name="error500" message="tns:SubmitOrder_error500Message"/>
        </wsdl:operation>
        <wsdl:operation name="SubmitCreateOrder">
            <wsdl:input message="tns:SubmitCreateOrder_inputMessage"/>
            <wsdl:output message="tns:SubmitCreateOrder_outputMessage"/>
            <wsdl:fault name="error404" message="tns:SubmitCreateOrder_error404Message"/>
            <wsdl:fault name="error400" message="tns:SubmitCreateOrder_error400Message"/>
            <wsdl:fault name="error500" message="tns:SubmitCreateOrder_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_ORDER_HANDLER_ptt-binding" type="tns:PS_REST_SF_ORDER_HANDLER_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CreateOrder">
            <soap:operation soapAction="CreateOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitOrder">
            <soap:operation soapAction="SubmitOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="SubmitCreateOrder">
            <soap:operation soapAction="SubmitCreateOrder"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>