esb_it/repo/WS_SCMS_GET_PRODUCTS/wsdl/WS_SCMS_GET_PRODUCTS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="required" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="CA_PRIORITY" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_NUM_AUT_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_SC_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_AUT_CODE" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_NDS_ERROR" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_ID_ESIG" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element name="CA_MSG" type="eb:FMLFieldType" /> 
     <xsd:any processContents="lax" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="op_scms_get_products"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_FLAG_MASTER" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_CLIENTID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_TIPO_SC" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="CA_CORPT" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="op_scms_get_productsResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="GET_PRODUCTS_OUT" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="op_scms_get_productsRequest"> 
  <wsdl:part element="eb:op_scms_get_products" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="op_scms_get_productsResponse"> 
  <wsdl:part element="eb:op_scms_get_productsResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_GET_PRODUCTSSoap"> 
  <wsdl:operation name="op_scms_get_products"> 
   <wsdl:input message="eb:op_scms_get_productsRequest" name="op_scms_get_productsRequest" /> 
   <wsdl:output message="eb:op_scms_get_productsResponse" name="op_scms_get_productsResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_GET_PRODUCTSSoap" type="eb:WS_SCMS_GET_PRODUCTSSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="op_scms_get_products"> 
   <soap:operation soapAction="WS_SCMS_GET_PRODUCTS/op_scms_get_products" style="document" /> 
   <wsdl:input name="op_scms_get_productsRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="op_scms_get_productsResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_GET_PRODUCTS"> 
  <wsdl:port binding="eb:WS_SCMS_GET_PRODUCTSSoap" name="WS_SCMS_GET_PRODUCTSSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_GET_PRODUCTS" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>