esb_it/repo/WS_FPS_RUN_EVALUATION_CALLBACK/wsdl/WS_FPS_RUN_EVALUATION_CALLBACK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdFPS/SkyXSD_WS_FPS_RUN_EVALUATION_CALLBACK.xsd" /> 
   <xsd:complexType name="COMPLEX_INPUT"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="COMPLEX_OUTPUT"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCallbackWM"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:COMPLEX_INPUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCallbackWMResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:COMPLEX_OUTPUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCallbackWMRequest"> 
  <wsdl:part element="eb:opCallbackWM" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCallbackWMResponse"> 
  <wsdl:part element="eb:opCallbackWMResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FPS_RUN_EVALUATION_CALLBACKSoap"> 
  <wsdl:operation name="opCallbackWM"> 
   <wsdl:input message="eb:opCallbackWMRequest" name="opCallbackWMRequest" /> 
   <wsdl:output message="eb:opCallbackWMResponse" name="opCallbackWMResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FPS_RUN_EVALUATION_CALLBACKSoap" type="eb:WS_FPS_RUN_EVALUATION_CALLBACKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCallbackWM"> 
   <soap:operation soapAction="WS_FPS_RUN_EVALUATION_CALLBACK/opCallbackWM" style="document" /> 
   <wsdl:input name="opCallbackWMRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCallbackWMResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FPS_RUN_EVALUATION_CALLBACK"> 
  <wsdl:port binding="eb:WS_FPS_RUN_EVALUATION_CALLBACKSoap" name="WS_FPS_RUN_EVALUATION_CALLBACKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FPS_RUN_EVALUATION_CALLBACK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>