esb_it/repo/WS_FWB_SEND_ORDER/wsdl/WS_FWB_SEND_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://it.fastweb.esb.org/SendOrder" schemaLocation="xsdFWB/SkyXSD_FWB_SendOrder.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:tns="http://it.fastweb.esb.org/SendOrder"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:tns="http://it.fastweb.esb.org/SendOrder"> 
    <xsd:complexContent> 
     <xsd:extension base="tns:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opSendOrder"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opSendOrderResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opSendOrderRequest"> 
  <wsdl:part element="eb:opSendOrder" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opSendOrderResponse"> 
  <wsdl:part element="eb:opSendOrderResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FWB_SEND_ORDERSoap"> 
  <wsdl:operation name="opSendOrder"> 
   <wsdl:input message="eb:opSendOrderRequest" name="opSendOrderRequest" /> 
   <wsdl:output message="eb:opSendOrderResponse" name="opSendOrderResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FWB_SEND_ORDERSoap" type="eb:WS_FWB_SEND_ORDERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opSendOrder"> 
   <soap:operation soapAction="WS_FWB_SEND_ORDER/opSendOrder" style="document" /> 
   <wsdl:input name="opSendOrderRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opSendOrderResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FWB_SEND_ORDER"> 
  <wsdl:port binding="eb:WS_FWB_SEND_ORDERSoap" name="WS_FWB_SEND_ORDERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FWB_SEND_ORDER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>