osb_it/repo/SalesforceProject/REST/CRM/GESTIONE/CONSENSO/PS_REST_CRM_GESTIONE_CONSENSO/wsdl/SalesforceProject_REST_CRM_GESTIONE_CONSENSO_proxy_PS_REST_CRM_GESTIONE_CONSENSO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_GESTIONE_CONSENSO" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="PS_REST_CRM_GESTIONE_CONSENSO" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_GESTIONE_CONSENSO">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_GestioneConsenso/xsd/XSD_CRM_GESTIONE_CONSENSO.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="UpdatePrivacy_inputMessage">
		<wsdl:part name="request" element="inp1:requestUpdatePrivacy"/>
	</wsdl:message>
	<wsdl:message name="UpdatePrivacy_outputMessage">
		<wsdl:part name="reply" element="inp1:responseUpdatePrivacy"/>
	</wsdl:message>
	<wsdl:message name="UpdatePrivacy_error404Message">
		<wsdl:part name="fault_error404" element="inp1:error404"/>
	</wsdl:message>
	<wsdl:message name="UpdatePrivacy_error400Message">
		<wsdl:part name="fault_error400" element="inp1:error400"/>
	</wsdl:message>
	<wsdl:message name="UpdatePrivacy_error500Message">
		<wsdl:part name="fault_error500" element="inp1:error500"/>
	</wsdl:message>
	<wsdl:portType name="PS_REST_CRM_GESTIONE_CONSENSO_ptt">
		<wsdl:operation name="UpdatePrivacy">
			<wsdl:input message="tns:UpdatePrivacy_inputMessage"/>
			<wsdl:output message="tns:UpdatePrivacy_outputMessage"/>
			<wsdl:fault name="error404" message="tns:UpdatePrivacy_error404Message"/>
			<wsdl:fault name="error400" message="tns:UpdatePrivacy_error400Message"/>
			<wsdl:fault name="error500" message="tns:UpdatePrivacy_error500Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PS_REST_CRM_GESTIONE_CONSENSO_ptt-binding" type="tns:PS_REST_CRM_GESTIONE_CONSENSO_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="UpdatePrivacy">
			<soap:operation soapAction="UpdatePrivacy"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="PS_REST_CRM_GESTIONE_CONSENSO">
		<plnk:role name="PS_REST_CRM_GESTIONE_CONSENSOProvider" portType="tns:PS_REST_CRM_GESTIONE_CONSENSO_ptt"/>
	</plnk:partnerLinkType>
</wsdl:definitions>