osb_it/repo/AspideProject/ManageAppointment/PS_WS_TA_MANAGE_APPOINTMENT/wsdl/AspideProject_ManageAppointment_proxy_PS_WS_TA_MANAGE_APPOINTMENT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/TA_MANAGE_APPOINTMENT" xmlns:inp1="http://www.skytv.it/mdw/data" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_TA_MANAGE_APPOINTMENT" targetNamespace="http://www.skytv.it/mdw/service/TA_MANAGE_APPOINTMENT">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_TA_MANAGE_APPOINTMENT.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestCreateNewAppointment_message">
		<wsdl:part name="part_requestCreateNewAppointment" element="inp1:requestCreateNewAppointment"/>
	</wsdl:message>
	<wsdl:message name="responseCreateNewAppointment_message">
		<wsdl:part name="part_responseCreateNewAppointment" element="inp1:responseCreateNewAppointment"/>
	</wsdl:message>
        <wsdl:message name="requestUpdAppointment_message">
		<wsdl:part name="part_requestUpdAppointment" element="inp1:requestUpdAppointment"/>
	</wsdl:message>
	<wsdl:message name="responseUpdAppointment_message">
		<wsdl:part name="part_responseUpdAppointment" element="inp1:responseUpdAppointment"/>
	</wsdl:message>
        <wsdl:message name="requestDelAppointment_message">
		<wsdl:part name="part_requestDelAppointment" element="inp1:requestDelAppointment"/>
	</wsdl:message>
	<wsdl:message name="responseDelAppointment_message">
		<wsdl:part name="part_responseDelAppointment" element="inp1:responseDelAppointment"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="TA_MANAGE_APPOINTMENT_ptt">
		<wsdl:operation name="execute_CreateNewAppointment">
			<wsdl:input message="tns:requestCreateNewAppointment_message"/>
			<wsdl:output message="tns:responseCreateNewAppointment_message"/>
		</wsdl:operation>
                <wsdl:operation name="execute_UpdAppointment">
			<wsdl:input message="tns:requestUpdAppointment_message"/>
			<wsdl:output message="tns:responseUpdAppointment_message"/>
		</wsdl:operation>
                <wsdl:operation name="execute_DelAppointment">
			<wsdl:input message="tns:requestDelAppointment_message"/>
			<wsdl:output message="tns:responseDelAppointment_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TA_MANAGE_APPOINTMENT_pttSOAP11Binding" type="tns:TA_MANAGE_APPOINTMENT_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_CreateNewAppointment">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TA_MANAGE_APPOINTMENT/execute_CreateNewAppointment" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestCreateNewAppointment" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseCreateNewAppointment" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="execute_UpdAppointment">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TA_MANAGE_APPOINTMENT/execute_UpdAppointment" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestUpdAppointment" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseUpdAppointment" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
                <wsdl:operation name="execute_DelAppointment">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/TA_MANAGE_APPOINTMENT/execute_DelAppointment" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestDelAppointment" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseDelAppointment" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>