osb_it/repo/BlueBirdProject/SALESFORCE/connectionInfo/PS_REST_SF_CONNECTION_INFO/wsdl/BlueBirdProject_SALESFORCE_connectionInfo_proxy_PS_REST_SF_CONNECTION_INFO.wsdl

<wsdl:definitions name="PS_REST_SF_CONNECTION_INFO" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_CONNECTION_INFO" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_CONNECTION_INFO" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_CONNECTION_INFO">
        <plnk:role name="PS_REST_SF_CONNECTION_INFOProvider" portType="tns:PS_REST_SF_CONNECTION_INFO_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/connectionInfo/xsd/XSD_SF_CONNECTION_INFO.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="checSpeedThresholds_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckSpeedThresholds"/>
    </wsdl:message>
    <wsdl:message name="checSpeedThresholds_outputMessage">
        <wsdl:part name="reply" element="inp1:responseCheckSpeedThresholds"/>
    </wsdl:message>
    <wsdl:message name="checSpeedThresholds_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="checSpeedThresholds_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="checSpeedThresholds_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_CONNECTION_INFO_ptt">
        <wsdl:operation name="checSpeedThresholds">
            <wsdl:input message="tns:checSpeedThresholds_inputMessage"/>
            <wsdl:output message="tns:checSpeedThresholds_outputMessage"/>
            <wsdl:fault name="fault500" message="tns:checSpeedThresholds_fault500Message"/>
            <wsdl:fault name="fault400" message="tns:checSpeedThresholds_fault400Message"/>
            <wsdl:fault name="fault404" message="tns:checSpeedThresholds_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_CONNECTION_INFO_ptt-binding" type="tns:PS_REST_SF_CONNECTION_INFO_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="checSpeedThresholds">
            <soap:operation soapAction="checSpeedThresholds"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>