esb_it/repo/WS_FW_RIVER_JOY_DEACT/wsdl/WS_FW_RIVER_JOY_DEACT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdFwRiver/SkyXSD_FW_RIVER_JOY_DEACT.xsd" /> 
   <xsd:complexType name="DocumentDataInput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataIn" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOutput"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:DocumentDataOut" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opFwRiverJoyDeact"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opFwRiverJoyDeactResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opFwRiverJoyDeactRequest"> 
  <wsdl:part element="eb:opFwRiverJoyDeact" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opFwRiverJoyDeactResponse"> 
  <wsdl:part element="eb:opFwRiverJoyDeactResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FW_RIVER_JOY_DEACTSoap"> 
  <wsdl:operation name="opFwRiverJoyDeact"> 
   <wsdl:input message="eb:opFwRiverJoyDeactRequest" name="opFwRiverJoyDeactRequest" /> 
   <wsdl:output message="eb:opFwRiverJoyDeactResponse" name="opFwRiverJoyDeactResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FW_RIVER_JOY_DEACTSoap" type="eb:WS_FW_RIVER_JOY_DEACTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opFwRiverJoyDeact"> 
   <soap:operation soapAction="WS_FW_RIVER_JOY_DEACT/opFwRiverJoyDeact" style="document" /> 
   <wsdl:input name="opFwRiverJoyDeactRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opFwRiverJoyDeactResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FW_RIVER_JOY_DEACT"> 
  <wsdl:port binding="eb:WS_FW_RIVER_JOY_DEACTSoap" name="WS_FW_RIVER_JOY_DEACTSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_bb/WS_FW_RIVER_JOY_DEACT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>