osb_it/repo/SiebelProject/outbound_gerarchico_PS_WS_CRM_OUTMSGPAYADJ/wsdl/SiebelProject_proxy_outbound_gerarchico_PS_WS_CRM_OUTMSGPAYADJ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--  
Salesforce.com Outbound Notification Web Services API Version 1.0 
Generated on 2020-08-11 08:12:17 +0000. 

Copyright 2005-2020 Salesforce.com, Inc.
All Rights Reserved
 -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ens="urn:sobject.enterprise.soap.sforce.com" xmlns:ent="urn:enterprise.soap.sforce.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.sforce.com/2005/09/outbound" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/2005/09/outbound">
   <types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:enterprise.soap.sforce.com">
         <!--  Our simple ID Type  -->
         <simpleType name="ID">
            <restriction base="xsd:string">
               <length value="18" />
               <pattern value="[a-zA-Z0-9]{18}" />
            </restriction>
         </simpleType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
         <import namespace="urn:enterprise.soap.sforce.com" />
         <!--  Base sObject (abstract)  -->
         <complexType name="sObject">
            <sequence>
               <element name="fieldsToNull" type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded" />
               <element name="Id" type="ent:ID" nillable="true" />
            </sequence>
         </complexType>
         <complexType name="AggregateResult">
            <complexContent>
               <extension base="ens:sObject">
                  <sequence>
                     <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax" />
                  </sequence>
               </extension>
            </complexContent>
         </complexType>
         <complexType name="vlocity_cmt__PaymentAdjustment__c">
            <complexContent>
               <extension base="ens:sObject">
                  <sequence>
                     <element name="ABI__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="ActionDate__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Authorization_Code__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Beneficiario__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="CAB__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="CIN_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean" />
                     <element name="CPNI_Date_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Canale__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Carta_Credito_Allineabile__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Carta_Primaria_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean" />
                     <element name="Case_Id__c" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="Causale_Esiti_Negativi__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Causale_Rimborso__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Causale_Storno__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Autorizzazione_Addebito__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Autorizzazione_Bancomat__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Autorizzazione_Rid_Addizionale__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Esigenza__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Evento_PPV__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Fiscale_Sottoscrittore__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Identificativo__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Individuale__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Riconciliazione__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_SIA__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Codice_Telematico__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Contract_Id__c" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="CreatedById" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="CreatedDate" nillable="true" minOccurs="0" type="xsd:dateTime" />
                     <element name="Credit_Card_Name__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Credit_Card_Number__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Data_Effettiva_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Emissione_Fattura_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Fine_Validita_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Inizio_Periodo_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Invio_RID_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Richiesta_PPV_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Richiesta_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="Data_Visione_dt__c" nillable="true" minOccurs="0" type="xsd:dateTime" />
                     <element name="Disabilita_Invio_Domiciliazione_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean" />
                     <element name="Expiration_Month__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Expiration_Year__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Gross_Amount_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Id_Addebito__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Importo_Pagato_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Importo_Penale_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Importo_Scaduto_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Importo_da_Stornare_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Importo_da_Stornare_Massimo_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Indirizzo_Agenzia__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Indirizzo_Payer__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="IntegrationId__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="LastModifiedBilling__c" nillable="true" minOccurs="0" type="xsd:dateTime" />
                     <element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="LastModifiedContract__c" nillable="true" minOccurs="0" type="xsd:dateTime" />
                     <element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime" />
                     <element name="LastUserName__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Last_Modified_User_Billing__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Last_Modified_User_Contract__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Login_Validazione__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="MNT_Invio_Freq_Flg__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="MNT_RID_Codice_Stato__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="MNT_RID_Data_Restituzione_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="MNT_RID_Descrizione_Stato__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="MNT_RID_Lotto_Assegnazione_dt__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="MNT_RID_Note__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Nome_Agenzia__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Nome_Banca__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Nominativo_Sottoscrittore__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Numero_Carta_Credito__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Numero_Fattura__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="OG_CorrelationID__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="OG_OldCorrelationID__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Payment_Date_dt__c" nillable="true" minOccurs="0" type="xsd:dateTime" />
                     <element name="Payment_Status__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Payment_Type__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Payment__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="PriceList__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="RateCodePenale__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Richieste_Incasso__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Riferimenti_Estremi__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="SKYID__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="ST_CorrelationId_Temp__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="ST_Scenario_Name_Temp__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Scadenza_Carta_Credito__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Scenario_Allineamento__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Sconto_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean" />
                     <element name="Seda_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean" />
                     <element name="Sepa_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean" />
                     <element name="ShopID__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Stato_Domiciliazione__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Subtype_Code__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Surcharge_Amount_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Tax_Amount_Curr__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Tipo_Processo_Siebel__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Tipo__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Tipologia_Pagamento__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Titolo_Evento__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="TranID__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="Type_Code__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="Voce_Fattura_Id__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="vlocity_cmt__AccountId__c" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="vlocity_cmt__Amount__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="vlocity_cmt__Date__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="vlocity_cmt__DisputeId__c" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="vlocity_cmt__InstallmentAmount__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="vlocity_cmt__Method__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="vlocity_cmt__Mode__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="vlocity_cmt__Notes__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="vlocity_cmt__PaymentMethodId__c" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="vlocity_cmt__ServiceAmount__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="vlocity_cmt__ServiceEndDate__c" nillable="true" minOccurs="0" type="xsd:date" />
                     <element name="vlocity_cmt__ServiceType__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="vlocity_cmt__StatementId__c" nillable="true" minOccurs="0" type="ent:ID" />
                     <element name="vlocity_cmt__Status__c" nillable="true" minOccurs="0" type="xsd:string" />
                     <element name="vlocity_cmt__TotalInstallments__c" nillable="true" minOccurs="0" type="xsd:double" />
                     <element name="vlocity_cmt__Type__c" nillable="true" minOccurs="0" type="xsd:string" />
                  </sequence>
               </extension>
            </complexContent>
         </complexType>
      </schema>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://soap.sforce.com/2005/09/outbound">
         <import namespace="urn:enterprise.soap.sforce.com" />
         <import namespace="urn:sobject.enterprise.soap.sforce.com" />
         <element name="notifications">
            <complexType>
               <sequence>
                  <element name="OrganizationId" type="ent:ID" />
                  <element name="ActionId" type="ent:ID" />
                  <element name="SessionId" type="xsd:string" nillable="true" />
                  <element name="EnterpriseUrl" type="xsd:string" />
                  <element name="PartnerUrl" type="xsd:string" />
                  <element name="Notification" maxOccurs="100" type="tns:vlocity_cmt__PaymentAdjustment__cNotification" />
               </sequence>
            </complexType>
         </element>
         <complexType name="vlocity_cmt__PaymentAdjustment__cNotification">
            <sequence>
               <element name="Id" type="ent:ID" />
               <element name="sObject" type="ens:vlocity_cmt__PaymentAdjustment__c" />
            </sequence>
         </complexType>
         <element name="notificationsResponse">
            <complexType>
               <sequence>
                  <element name="Ack" type="xsd:boolean" />
               </sequence>
            </complexType>
         </element>
      </schema>
   </types>
   <!--  Method Messages  -->
   <message name="notificationsRequest">
      <part element="tns:notifications" name="request" />
   </message>
   <message name="notificationsResponse">
      <part element="tns:notificationsResponse" name="response" />
   </message>
   <!--  PortType  -->
   <portType name="NotificationPort">
      <operation name="notifications">
         <documentation>Process a number of notifications.</documentation>
         <input message="tns:notificationsRequest" />
         <output message="tns:notificationsResponse" />
      </operation>
   </portType>
   <!--  Binding 
         You need to write a service that implements this binding to receive the notifications
      -->
   <binding name="NotificationBinding" type="tns:NotificationPort">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
      <operation name="notifications">
         <soap:operation soapAction="" />
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
   </binding>
   <!--  Service Endpoint  -->
   <service name="NotificationService">
      <documentation>Notification Service Implementation</documentation>
      <port binding="tns:NotificationBinding" name="Notification">
         <soap:address location="https://ws.osbcol.sky.it/osbprj/services/siebel/WS_CRM_OUTMSGPAYADJ" />
      </port>
   </service>
</definitions>