osb_it/repo/PegasusProject/PortaleBookingHotel/PS_WS_PGS_PORTALE_BOOKING_HOTEL/wsdl/PegasusProject_PortaleBookingHotel_proxy_PS_WS_PGS_PORTALE_BOOKING_HOTEL.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_PGS_PORTALE_BOOKING_HOTEL"
     targetNamespace="http://www.skytv.it/mdw/service/WS_PGS_PORTALE_BOOKING_HOTEL"
     xmlns:tns="http://www.skytv.it/mdw/service/WS_PGS_PORTALE_BOOKING_HOTEL"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_PGS_PORTALE_BOOKING_HOTEL.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="partIN_WS_BOOKING" element="inp1:requestNotificaInsoluti"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="partOUT_WS_BOOKING" element="inp1:responseNotificaInsoluti"/>
    </wsdl:message>
    <wsdl:portType name="ptt_WS_BOOKING">
        <wsdl:operation name="execute_NotificaInsoluti">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="execute_NotificaScadenzeFatture">
            <wsdl:input message="tns:requestFattureMsg"/>
            <wsdl:output message="tns:responseFattureMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="bind_WS_BOOKING" type="tns:ptt_WS_BOOKING">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_NotificaInsoluti">
            <soap:operation style="document" soapAction="execute_NotificaInsoluti"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_PGS_PORTALE_BOOKING_HOTEL"/>
                <soap:header message="tns:msgHeader" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://www.skytv.it/mdw/service/WS_PGS_PORTALE_BOOKING_HOTEL"/>
                <soap:header message="tns:msgHeader" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_NotificaScadenzeFatture">
            <soap:operation style="document" soapAction="execute_NotificaScadenzeFatture"/>
            <wsdl:input>
                <soap:header message="tns:msgHeader" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/service/WS_PGS_PORTALE_BOOKING_HOTEL" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header message="tns:msgHeader" part="part_Header" use="literal"/>
                <soap:body namespace="http://www.skytv.it/mdw/service/WS_PGS_PORTALE_BOOKING_HOTEL" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="msgHeader">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestFattureMsg">
        <wsdl:part name="partIN_Fatture" element="inp1:requestNotificaScadenzaFatture"/>
    </wsdl:message>
    <wsdl:message name="responseFattureMsg">
        <wsdl:part name="partOUT_Fatture" element="inp1:responseNotificaScadenzaFatture"/>
    </wsdl:message>
</wsdl:definitions>