esb_it/repo/WS_IVR_SERVIZIO_PUSH_VOD/wsdl/WS_IVR_SERVIZIO_PUSH_VOD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="DocumentData"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="param"> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:complexType name="record"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="param" type="eb:param" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="record" type="eb:record" /> 
    </xsd:sequence> 
    <xsd:attribute name="name" type="xsd:string" use="required" /> 
    <xsd:attribute name="value" type="xsd:string" use="required" /> 
   </xsd:complexType> 
   <xsd:element name="opAttivaServizioPushVOD"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opAttivaServizioPushVODResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDisattivaServizioPushVOD"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDisattivaServizioPushVODResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentData" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opAttivaServizioPushVODRequest"> 
  <wsdl:part element="eb:opAttivaServizioPushVOD" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opAttivaServizioPushVODResponse"> 
  <wsdl:part element="eb:opAttivaServizioPushVODResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDisattivaServizioPushVODRequest"> 
  <wsdl:part element="eb:opDisattivaServizioPushVOD" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDisattivaServizioPushVODResponse"> 
  <wsdl:part element="eb:opDisattivaServizioPushVODResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_SERVIZIO_PUSH_VODSoap"> 
  <wsdl:operation name="opAttivaServizioPushVOD"> 
   <wsdl:input message="eb:opAttivaServizioPushVODRequest" name="opAttivaServizioPushVODRequest" /> 
   <wsdl:output message="eb:opAttivaServizioPushVODResponse" name="opAttivaServizioPushVODResponse" /> 
  </wsdl:operation> 
  <wsdl:operation name="opDisattivaServizioPushVOD"> 
   <wsdl:input message="eb:opDisattivaServizioPushVODRequest" name="opDisattivaServizioPushVODRequest" /> 
   <wsdl:output message="eb:opDisattivaServizioPushVODResponse" name="opDisattivaServizioPushVODResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_SERVIZIO_PUSH_VODSoap" type="eb:WS_IVR_SERVIZIO_PUSH_VODSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opAttivaServizioPushVOD"> 
   <soap:operation soapAction="WS_IVR_SERVIZIO_PUSH_VOD/opAttivaServizioPushVOD" style="document" /> 
   <wsdl:input name="opAttivaServizioPushVODRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opAttivaServizioPushVODResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
  <wsdl:operation name="opDisattivaServizioPushVOD"> 
   <soap:operation soapAction="WS_IVR_SERVIZIO_PUSH_VOD/opDisattivaServizioPushVOD" style="document" /> 
   <wsdl:input name="opDisattivaServizioPushVODRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDisattivaServizioPushVODResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_SERVIZIO_PUSH_VOD"> 
  <wsdl:port binding="eb:WS_IVR_SERVIZIO_PUSH_VODSoap" name="WS_IVR_SERVIZIO_PUSH_VODSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_SERVIZIO_PUSH_VOD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>