osb_it/repo/SalesforceProject/REST/CRM/EXTRA/ENROLL/PS_REST_CRM_EXTRA_ENROLL/wadl/SalesforceProject_REST_CRM_EXTRA_ENROLL_proxy_PS_REST_CRM_EXTRA_ENROLL.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY_12_1/SalesforceProject/PS_REST_CRM_EXTRA_ENROLL" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_CRM_EXTRA_ENROLL">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_ExtraEnroll/xsd/XSD_CRM_EXTRA_ENROLL.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="ExtraEnroll_CHECK">
            <request>
               <param name="custId" style="query" soa:expression="$msg.request/ns0:custId" default="" type="xsd:string"/>
               <param name="mdwChannel" style="query" soa:expression="$msg.request/ns0:mdwChannel" default="" type="xsd:string"/>
               <param name="contrIdE2E" style="query" soa:expression="$msg.request/ns0:contrIdE2E" default="" type="xsd:string"/>
               <param name="contrId" style="query" soa:expression="$msg.request/ns0:contrId" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseExtraEnroll_CHECK" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
         <method name="POST" soa:wsdlOperation="ExtraEnroll_IN">
            <request>
               <representation mediaType="application/xml" element="cns:requestExtraEnroll_IN" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
         <method name="DELETE" soa:wsdlOperation="ExtraEnroll_OUT">
            <request>
               <param name="custId" style="query" soa:expression="$msg.request/ns0:custId" default="" type="xsd:string"/>
               <param name="mdwChannel" style="query" soa:expression="$msg.request/ns0:mdwChannel" default="" type="xsd:string"/>
               <param name="contrIdE2E" style="query" soa:expression="$msg.request/ns0:contrIdE2E" default="" type="xsd:string"/>
               <param name="contrId" style="query" soa:expression="$msg.request/ns0:contrId" default="" type="xsd:string"/>
            </request>
            <response status="204"/>
            <response status="400" soa:wsdlFaultName="error400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="error404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="error500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>