esb_it/repo/WS_SM_SBL_REFRESH_MAGAZZINO/wsdl/WS_SM_SBL_REFRESH_MAGAZZINO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdSM/SkyXSD_SM_SBL_REFRESH_MAGAZZINO.xsd" /> 
   <xsd:complexType name="InputRefreshMagazzino"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:RequestRefreshMagazzinoType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputRefreshMagazzino"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:ResponseRefreshMagazzinoType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opRefreshMagazzino"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestRefreshMagazzino" type="eb:InputRefreshMagazzino" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRefreshMagazzinoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseRefreshMagazzino" type="eb:OutputRefreshMagazzino" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRefreshMagazzinoRequest"> 
  <wsdl:part element="eb:opRefreshMagazzino" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRefreshMagazzinoResponse"> 
  <wsdl:part element="eb:opRefreshMagazzinoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SM_SBL_REFRESH_MAGAZZINOSoap"> 
  <wsdl:operation name="opRefreshMagazzino"> 
   <wsdl:input message="eb:opRefreshMagazzinoRequest" name="opRefreshMagazzinoRequest" /> 
   <wsdl:output message="eb:opRefreshMagazzinoResponse" name="opRefreshMagazzinoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SM_SBL_REFRESH_MAGAZZINOSoap" type="eb:WS_SM_SBL_REFRESH_MAGAZZINOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRefreshMagazzino"> 
   <soap:operation soapAction="WS_SM_SBL_REFRESH_MAGAZZINO/opRefreshMagazzino" style="document" /> 
   <wsdl:input name="opRefreshMagazzinoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRefreshMagazzinoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SM_SBL_REFRESH_MAGAZZINO"> 
  <wsdl:port binding="eb:WS_SM_SBL_REFRESH_MAGAZZINOSoap" name="WS_SM_SBL_REFRESH_MAGAZZINOSoap"> 
   <soap:address location="https://wssvil.sky.it/wsexistbus/ws_sf/WS_SM_SBL_REFRESH_MAGAZZINO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>