esb_it/repo/WS_SCMS_EXECUTE_ACQHQR/wsdl/WS_SCMS_EXECUTE_ACQHQR.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestACQHQR"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="telephonenumber" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="purchasedate" type="xsd:string" /> 
     <xsd:element name="eventtrasmdate" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="cryptedid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseACQHQR"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="typesmc" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="flaglive" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="flagreqpin" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="eventtrasmdate" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="title" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="typeevent" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="eventcost" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="targetaudience" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="originalcost" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opACQHQR"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestACQHQR" type="eb:requestACQHQR" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opACQHQRResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseACQHQR" type="eb:responseACQHQR" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opACQHQRRequest"> 
  <wsdl:part element="eb:opACQHQR" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opACQHQRResponse"> 
  <wsdl:part element="eb:opACQHQRResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_ACQHQRSoap"> 
  <wsdl:operation name="opACQHQR"> 
   <wsdl:input message="eb:opACQHQRRequest" name="opACQHQRRequest" /> 
   <wsdl:output message="eb:opACQHQRResponse" name="opACQHQRResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_ACQHQRSoap" type="eb:WS_SCMS_EXECUTE_ACQHQRSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opACQHQR"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_ACQHQR/opACQHQR" style="document" /> 
   <wsdl:input name="opACQHQRRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opACQHQRResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_ACQHQR"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_ACQHQRSoap" name="WS_SCMS_EXECUTE_ACQHQRSoap"> 
  </wsdl:port>
 </wsdl:service>
</wsdl:definitions>