esb_it/repo/WS_HTL_LEGGI_DATI_OCCUPAZIONE/wsdl/WS_HTL_LEGGI_DATI_OCCUPAZIONE.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="HTL_CODICE_HOTEL" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_INIZIO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_DATA_FINE" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_FLG_AUTOCERT" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_NUMERO_STANZE" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="HTL_MESE_CORR" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="HTL_OCCUP_FML" type="eb:FMLComplexOccupFatture" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOccupFatture"> 
    <xsd:sequence> 
     <xsd:element name="HTL_MESE_RIF" type="xsd:string" /> 
     <xsd:element name="HTL_ANNO_RIF" type="xsd:string" /> 
     <xsd:element name="HTL_TOT_GG_OCCUP" type="xsd:string" /> 
     <xsd:element name="HTL_FLAG_MASTER" type="xsd:string" /> 
     <xsd:element name="HTL_CONGUAGLIO" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="HTL_DETT_FML" type="eb:FMLComplexDettFml" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexDettFml"> 
    <xsd:sequence> 
     <xsd:element name="HTL_DESCRIZIONE_STANZA" type="xsd:string" /> 
     <xsd:element name="HTL_GG_OCCUP" type="xsd:string" /> 
     <xsd:element name="HTL_DESCRIZIONE_GRUPPO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opHtlLeggiDatiOccupazione"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opHtlLeggiDatiOccupazioneResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opHtlLeggiDatiOccupazioneRequest"> 
  <wsdl:part element="eb:opHtlLeggiDatiOccupazione" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opHtlLeggiDatiOccupazioneResponse"> 
  <wsdl:part element="eb:opHtlLeggiDatiOccupazioneResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_HTL_LEGGI_DATI_OCCUPAZIONESoap"> 
  <wsdl:operation name="opHtlLeggiDatiOccupazione"> 
   <wsdl:input message="eb:opHtlLeggiDatiOccupazioneRequest" name="opHtlLeggiDatiOccupazioneRequest" /> 
   <wsdl:output message="eb:opHtlLeggiDatiOccupazioneResponse" name="opHtlLeggiDatiOccupazioneResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_HTL_LEGGI_DATI_OCCUPAZIONESoap" type="eb:WS_HTL_LEGGI_DATI_OCCUPAZIONESoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opHtlLeggiDatiOccupazione"> 
   <soap:operation soapAction="WS_HTL_LEGGI_DATI_OCCUPAZIONE/opHtlLeggiDatiOccupazione" style="document" /> 
   <wsdl:input name="opHtlLeggiDatiOccupazioneRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opHtlLeggiDatiOccupazioneResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_HTL_LEGGI_DATI_OCCUPAZIONE"> 
  <wsdl:port binding="eb:WS_HTL_LEGGI_DATI_OCCUPAZIONESoap" name="WS_HTL_LEGGI_DATI_OCCUPAZIONESoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_HTL_LEGGI_DATI_OCCUPAZIONE" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>