esb_it/repo/WS_GET_MULTI_ACCOUNT_INFO/wsdl/WS_GET_MULTI_ACCOUNT_INFO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLFieldType"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="valore"> 
      <xsd:complexType> 
       <xsd:simpleContent> 
        <xsd:extension base="xsd:string"> 
         <xsd:attribute name="occur" type="xsd:string" use="optional" /> 
        </xsd:extension> 
       </xsd:simpleContent> 
      </xsd:complexType> 
     </xsd:element> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="OD_ORDER_NUM" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_DESCRIZ_ESITO" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SRVZ_LOG_FILENAME" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="OD_ORDER_FML32" type="eb:FMLComplexContratto" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexContratto"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="OD_CREATED" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="OD_LAST_UPD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="OD_LAST_UPD_BY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="OD_ORDER_NUM" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="OD_STATUS_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="OD_X_CESSAZIONE_DT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="OD_X_CATEGORIA_CLIENTE" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="PK_PACKET_FML32" type="eb:FMLComplexPacchetto" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="PM_PROMOZIONI_FML32" type="eb:FMLComplexPromozione" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="PY_PAYMENT_FML32" type="eb:FMLComplexMOP" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="PM_PROMO_HIST_FML32" type="eb:FMLComplexPromoHist" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPacchetto"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="PK_CREATED" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PK_PROD_NAME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PK_STATUS_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PK_X_CESSAZIONE_DT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PK_PART_NUM" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PK_X_RICHIESTA_ATTIVAZIONE_DT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PK_AVAIL_DT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PT_STD_PRI_UNIT" type="eb:FMLFieldType" /> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="SV_SERVICE_FML32" type="eb:FMLComplexServizio" /> 
     <xsd:element minOccurs="0" name="PK_X_CAUSALE_CESSAZIONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexServizio"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="SV_CREATED" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SV_PROD_NAME" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SV_STATUS_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SV_X_CESSAZIONE_DT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SV_PART_NUM" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_PROD_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_PRICE_TYPE_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_X_TIPOLOGIA" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_X_CREDITI" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PT_STD_PRI_UNIT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_X_SUB_PROD_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_EXT_ATTRIB_04" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_EXT_ATTRIB_14" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PI_EXT_ATTRIB_03" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SV_X_DATA_PREV_CESS" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="SV_X_CAUSALE_CESSAZIONE" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPromozione"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="PM_CREATED" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_CREATED_BY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_LAST_UPD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_LAST_UPD_BY" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_ATTRIB_12" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_ATTRIB_13" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_ATTRIB_03" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_X_CODICE_PROMO_PT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_NAME_PT" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PM_X_SERV_PREMIUM_PT" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexMOP"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="PY_PAYMENT_TYPE_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PY_PAY_STAT_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PY_PAY_TYPE_CD" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PY_X_DATA_FINE_VALID" type="eb:FMLFieldType" /> 
     <xsd:element minOccurs="0" name="PY_X_TIPO_CARTA_CREDITO" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexPromoHist"> 
    <xsd:sequence> 
     <xsd:element name="PM_NAME_OLD" type="eb:FMLFieldType" /> 
     <xsd:element name="PM_NAME" type="eb:FMLFieldType" /> 
     <xsd:element name="PM_LAST_UPD" type="eb:FMLFieldType" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGetMultiAccountInfo"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGetMultiAccountInfoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGetMultiAccountInfoRequest"> 
  <wsdl:part element="eb:opGetMultiAccountInfo" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGetMultiAccountInfoResponse"> 
  <wsdl:part element="eb:opGetMultiAccountInfoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_GET_MULTI_ACCOUNT_INFOSoap"> 
  <wsdl:operation name="opGetMultiAccountInfo"> 
   <wsdl:input message="eb:opGetMultiAccountInfoRequest" name="opGetMultiAccountInfoRequest" /> 
   <wsdl:output message="eb:opGetMultiAccountInfoResponse" name="opGetMultiAccountInfoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_GET_MULTI_ACCOUNT_INFOSoap" type="eb:WS_GET_MULTI_ACCOUNT_INFOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGetMultiAccountInfo"> 
   <soap:operation soapAction="WS_GET_MULTI_ACCOUNT_INFO/opGetMultiAccountInfo" style="document" /> 
   <wsdl:input name="opGetMultiAccountInfoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGetMultiAccountInfoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_GET_MULTI_ACCOUNT_INFO"> 
  <wsdl:port binding="eb:WS_GET_MULTI_ACCOUNT_INFOSoap" name="WS_GET_MULTI_ACCOUNT_INFOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_GET_MULTI_ACCOUNT_INFO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>