osb_it/repo/SalesforceProject/REST/CRM/UPDATE/FLAGS/BY/CONTRACT/PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT/wsdl/SalesforceProject_REST_CRM_UPDATE_FLAGS_BY_CONTRACT_proxy_PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT.wsdl

<wsdl:definitions name="PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT" targetNamespace="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:inp3="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT">
        <plnk:role name="PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACTProvider" portType="tns:PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_UpdateFlagsByContract/xsd/XSD_CRM_UPDATE_FLAGS_BY_CONTRACT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdateFlagsByContract_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateFlagsByContract"/>
    </wsdl:message>
    <wsdl:message name="UpdateFlagsByContract_outputMessage"/>
    <wsdl:message name="UpdateFlagsByContract_error404Message">
        <wsdl:part name="fault_error404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="UpdateFlagsByContract_error400Message">
        <wsdl:part name="fault_error400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateFlagsByContract_error500Message">
        <wsdl:part name="fault_error500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT_ptt">
        <wsdl:operation name="UpdateFlagsByContract">
            <wsdl:input message="tns:UpdateFlagsByContract_inputMessage"/>
            <wsdl:output message="tns:UpdateFlagsByContract_outputMessage"/>
            <wsdl:fault name="error404" message="tns:UpdateFlagsByContract_error404Message"/>
            <wsdl:fault name="error400" message="tns:UpdateFlagsByContract_error400Message"/>
            <wsdl:fault name="error500" message="tns:UpdateFlagsByContract_error500Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT_ptt-binding" type="tns:PS_REST_CRM_UPDATE_FLAGS_BY_CONTRACT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateFlagsByContract">
            <soap:operation soapAction="UpdateFlagsByContract"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>