esb_it/repo/WS_EURONET_MAG_CHECK/wsdl/WS_EURONET_MAG_CHECK.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="COMPLEX_INPUT"> 
    <xsd:element name="CodiceCliente" type="xsd:string" /> 
   </xsd:complexType> 
   <xsd:complexType name="COMPLEX_OUTPUT"> 
    <xsd:element minOccurs="0" name="status" type="xsd:string" /> 
    <xsd:element minOccurs="0" name="created_at" type="eb:c_events" /> 
    <xsd:element minOccurs="0" name="modified_at" type="xsd:string" /> 
    <xsd:element minOccurs="0" name="last_modified_by_user" type="xsd:string" /> 
    <xsd:element minOccurs="0" name="last_modified_by_system" type="xsd:string" /> 
    <xsd:element minOccurs="0" name="reason" type="xsd:string" /> 
    <xsd:element minOccurs="0" name="description" type="xsd:string" /> 
    <xsd:element minOccurs="0" name="error" type="c_error_type" /> 
   </xsd:complexType> 
   <xsd:complexType minOccurs="0" name="c_error_type"> 
    <xsd:sequence> 
     <xsd:element name="code" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opCheckStatus"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="REQUEST" type="eb:COMPLEX_INPUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCheckStatusResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:COMPLEX_OUTPUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCheckStatusRequest"> 
  <wsdl:part element="eb:opCheckStatus" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCheckStatusResponse"> 
  <wsdl:part element="eb:opCheckStatusResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_EURONET_MAG_CHECKSoap"> 
  <wsdl:operation name="opCheckStatus"> 
   <wsdl:input message="eb:opCheckStatusRequest" name="opCheckStatusRequest" /> 
   <wsdl:output message="eb:opCheckStatusResponse" name="opCheckStatusResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_EURONET_MAG_CHECKSoap" type="eb:WS_EURONET_MAG_CHECKSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCheckStatus"> 
   <soap:operation soapAction="WS_EURONET_MAG_CHECK/opCheckStatus" style="document" /> 
   <wsdl:input name="opCheckStatusRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCheckStatusResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_EURONET_MAG_CHECK"> 
  <wsdl:port binding="eb:WS_EURONET_MAG_CHECKSoap" name="WS_EURONET_MAG_CHECKSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_EURONET_MAG_CHECK" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>