osb_it/repo/SalesforceProject/REST/CRM/OPERATION/HANDLER/PS_REST_CRM_OPERATION_HANDLER/wadl/SalesforceProject_REST_CRM_OPERATION_HANDLER_proxy_PS_REST_CRM_OPERATION_HANDLER.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil_REPLY/SalesforceProject/PS_REST_CRM_OPERATION_HANDLER" xmlns="http://wadl.dev.java.net/2009/02" xmlns:ns0="http://www.skytv.it/mdw/data">
	<doc title="PS_REST_CRM_OPERATION_HANDLER">RestService</doc>
	<grammars>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/SalesforceProject/Rest_OperationHandler/xsd/XSD_REST_CRM_OPERATION_HANDLER.xsd"/>
		</xsd:schema>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
		</xsd:schema>
	</grammars>
	<resources>
		<resource path="/operationsCheck">
			<method name="GET" soa:wsdlOperation="operationsCheck">
				<request>
					<param name="contrId" style="query" soa:expression="$msg.request/ns0:contrId" default="" type="xsd:string"/>
					<param name="contIdE2E" style="query" soa:expression="$msg.request/ns0:contIdE2E" default="" type="xsd:string"/>
					<param name="custId" style="query" soa:expression="$msg.request/ns0:custId" default="" type="xsd:string"/>
                                        <param name="mdwOperationCode" style="query" soa:expression="$msg.request/ns0:mdwOperationCode" default="" type="xsd:string"/>
					<param name="mdwProposalPromo" style="query" soa:expression="$msg.request/ns0:mdwProposalPromo" default="" type="xsd:string"/>
					<param name="mdwServiceRequestNumber" style="query" soa:expression="$msg.request/ns0:mdwServiceRequestNumber" default="" type="xsd:string"/>
					<param name="mdwChartConfirmation" style="query" soa:expression="$msg.request/ns0:mdwChartConfirmation" default="" type="xsd:string"/>
				</request>
				<response status="200">
					<representation mediaType="application/xml" element="cns:responseOperationsCheck" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
				<response status="400" soa:wsdlFaultName="error400">
					<representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
				<response status="404" soa:wsdlFaultName="error404">
					<representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
				<response status="500" soa:wsdlFaultName="error500">
					<representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
				</response>
			</method>
		</resource>
	</resources>
</application>