esb_it/repo/WS_FW_INSTALLAZIONE_BB/wsdl/WS_FW_INSTALLAZIONE_BB.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/o2d/InstallazioneBBServices/" schemaLocation="SkyXSD_InstallazioneBB.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:fw="http://services.olg.oss.fastweb.it/fly/sky2fw/o2d/InstallazioneBBServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="fw:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:fw="http://services.olg.oss.fastweb.it/fly/sky2fw/o2d/InstallazioneBBServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="fw:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="installazioneBBOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="installazioneBBOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="installazioneBBOpRequest"> 
  <wsdl:part element="eb:installazioneBBOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="installazioneBBOpResponse"> 
  <wsdl:part element="eb:installazioneBBOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FW_INSTALLAZIONE_BBSoap"> 
  <wsdl:operation name="installazioneBBOp"> 
   <wsdl:input message="eb:installazioneBBOpRequest" name="installazioneBBOpRequest" /> 
   <wsdl:output message="eb:installazioneBBOpResponse" name="installazioneBBOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FW_INSTALLAZIONE_BBSoap" type="eb:WS_FW_INSTALLAZIONE_BBSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="installazioneBBOp"> 
   <soap:operation soapAction="WS_FW_INSTALLAZIONE_BB/installazioneBBOp" style="document" /> 
   <wsdl:input name="installazioneBBOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="installazioneBBOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FW_INSTALLAZIONE_BB"> 
  <wsdl:port binding="eb:WS_FW_INSTALLAZIONE_BBSoap" name="WS_FW_INSTALLAZIONE_BBSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FW_INSTALLAZIONE_BB" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>