esb_it/repo/WS_PEGASUS_NEW_CONTACT/wsdl/WS_PEGASUS_NEW_CONTACT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdPegasus/SkyXSD_WS_PEGASUS_NEW_CONTACT.xsd" /> 
   <xsd:complexType name="DocumentDataIn"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_INPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="DocumentDataOut"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:COMPLEX_OUTPUT" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opNewContact"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_INPUT" type="eb:DocumentDataIn" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opNewContactResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="COMPLEX_OUTPUT" type="eb:DocumentDataOut" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opNewContactRequest"> 
  <wsdl:part element="eb:opNewContact" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opNewContactResponse"> 
  <wsdl:part element="eb:opNewContactResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_PEGASUS_NEW_CONTACTSoap"> 
  <wsdl:operation name="opNewContact"> 
   <wsdl:input message="eb:opNewContactRequest" name="opNewContactRequest" /> 
   <wsdl:output message="eb:opNewContactResponse" name="opNewContactResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_PEGASUS_NEW_CONTACTSoap" type="eb:WS_PEGASUS_NEW_CONTACTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opNewContact"> 
   <soap:operation soapAction="WS_PEGASUS_NEW_CONTACT/opNewContact" style="document" /> 
   <wsdl:input name="opNewContactRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opNewContactResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_PEGASUS_NEW_CONTACT"> 
  <wsdl:port binding="eb:WS_PEGASUS_NEW_CONTACTSoap" name="WS_PEGASUS_NEW_CONTACTSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_PEGASUS_NEW_CONTACT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>