osb_it/repo/CPQProject/sellingConfirmation/PS_REST_CPQ_SELLING_CONFIRMATION/wsdl/CPQProject_sellingConfirmation_proxy_PS_REST_CPQ_SELLING_CONFIRMATION.wsdl

<wsdl:definitions name="PS_REST_CPQ_SELLING_CONFIRMATION" targetNamespace="http://xmlns.oracle.com/OSBSvil/CPQProject/PS_REST_CPQ_SELLING_CONFIRMATION" xmlns:tns="http://xmlns.oracle.com/OSBSvil/CPQProject/PS_REST_CPQ_SELLING_CONFIRMATION" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_CPQ_SELLING_CONFIRMATION">
        <plnk:role name="PS_REST_CPQ_SELLING_CONFIRMATIONProvider" portType="tns:PS_REST_CPQ_SELLING_CONFIRMATION_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/CPQProject/SellingConfirmation/xsd/XSD_CPQ_SELLING_CONFIRMATION.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SellingConfirmation_inputMessage">
        <wsdl:part name="request" element="inp1:requestSellingConfirmation"/>
    </wsdl:message>
    <wsdl:message name="SellingConfirmation_outputMessage">
        <wsdl:part name="reply" element="inp1:responseSellingConfirmation"/>
    </wsdl:message>
    <wsdl:message name="SellingConfirmation_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="SellingConfirmation_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="SellingConfirmation_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_CPQ_SELLING_CONFIRMATION_ptt">
        <wsdl:operation name="SellingConfirmation">
            <wsdl:input message="tns:SellingConfirmation_inputMessage"/>
            <wsdl:output message="tns:SellingConfirmation_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:SellingConfirmation_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:SellingConfirmation_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:SellingConfirmation_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_CPQ_SELLING_CONFIRMATION_ptt-binding" type="tns:PS_REST_CPQ_SELLING_CONFIRMATION_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="SellingConfirmation">
            <soap:operation soapAction="SellingConfirmation"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>