esb_it/repo/WS_SCMS_EXECUTE_GFTCRD/wsdl/WS_SCMS_EXECUTE_GFTCRD.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestGFTCRD"> 
    <xsd:sequence> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="giftTag" type="xsd:string" /> 
     <xsd:element name="amount" type="xsd:string" /> 
     <xsd:element name="creditexpdate" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="clientid" type="xsd:string" /> 
     <xsd:element name="idcaller" type="xsd:string" /> 
     <xsd:element name="typesrvreq" type="xsd:string" /> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseGFTCRD"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="originalcredit" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="grantedcredit" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="feecost" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="walletcreated" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="promos" type="eb:t_promos" /> 
     <xsd:element minOccurs="0" name="wallet" type="eb:t_wallet" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_promos"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" minOccurs="0" name="promo" type="eb:t_promo" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_wallet"> 
    <xsd:sequence> 
     <xsd:element minOccurs="0" name="smcs" type="eb:t_smcs" /> 
     <xsd:element minOccurs="0" name="credits" type="eb:t_credits" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_promo"> 
    <xsd:sequence> 
     <xsd:element name="catalogid" type="xsd:string" /> 
     <xsd:element name="kind" type="xsd:string" /> 
     <xsd:element name="details" type="xsd:string" /> 
     <xsd:element name="id" type="xsd:string" /> 
     <xsd:element name="prclass" type="xsd:string" /> 
     <xsd:element name="subclass" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_smcs"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="smc" type="eb:t_smc" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_credits"> 
    <xsd:sequence> 
     <xsd:element maxOccurs="unbounded" name="credit" type="eb:t_credit" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_credit"> 
    <xsd:sequence> 
     <xsd:element name="priority" type="xsd:string" /> 
     <xsd:element name="creationdate" type="xsd:string" /> 
     <xsd:element name="expirationdate" type="xsd:string" /> 
     <xsd:element name="amount" type="xsd:string" /> 
     <xsd:element name="typename" type="xsd:string" /> 
     <xsd:element name="description" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="t_smc"> 
    <xsd:sequence> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element name="lastpdate" type="xsd:string" /> 
     <xsd:element name="lastpref" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opGFTCRD"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestGFTCRD" type="eb:requestGFTCRD" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opGFTCRDResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseGFTCRD" type="eb:responseGFTCRD" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opGFTCRDRequest"> 
  <wsdl:part element="eb:opGFTCRD" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opGFTCRDResponse"> 
  <wsdl:part element="eb:opGFTCRDResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_GFTCRDSoap"> 
  <wsdl:operation name="opGFTCRD"> 
   <wsdl:input message="eb:opGFTCRDRequest" name="opGFTCRDRequest" /> 
   <wsdl:output message="eb:opGFTCRDResponse" name="opGFTCRDResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_GFTCRDSoap" type="eb:WS_SCMS_EXECUTE_GFTCRDSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opGFTCRD"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_GFTCRD/opGFTCRD" style="document" /> 
   <wsdl:input name="opGFTCRDRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opGFTCRDResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_GFTCRD"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_GFTCRDSoap" name="WS_SCMS_EXECUTE_GFTCRDSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_GFTCRD" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>