osb_it/repo/SiebelProject/PS_WS_CRM_GET_INFO_ENTITA/wsdl/SiebelProject_proxy_PS_WS_CRM_GET_INFO_ENTITA.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_GET_INFO_ENTITA"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_GET_INFO_ENTITA"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_GET_INFO_ENTITA"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_INFO_ENTITA.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestGetInfoEntitaChild_Message">
        <wsdl:part name="part_requestGetInfoEntitaChild" element="inp1:requestGetInfoEntitaChild"/>
    </wsdl:message>
    <wsdl:message name="responseGetInfoEntitaChild_Message">
        <wsdl:part name="part_responseGetInfoEntitaChild" element="inp1:responseGetInfoEntitaChild"/>
    </wsdl:message>
    <wsdl:portType name="CRM_GET_INFO_ENTITA_ptt">
        <wsdl:operation name="execute_GetInfoEntitaChild">
            <wsdl:input message="tns:requestGetInfoEntitaChild_Message"/>
            <wsdl:output message="tns:responseGetInfoEntitaChild_Message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_GetInfoEntita">
            <wsdl:input message="tns:requestGetInfoEntita_Message"/>
            <wsdl:output message="tns:responseGetInfoEntita_Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_Message">
        <wsdl:part name="part_Header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:message name="requestGetInfoEntita_Message">
        <wsdl:part name="part_requestGetInfoEntita" element="inp1:requestGetInfoEntita"/>
    </wsdl:message>
    <wsdl:message name="responseGetInfoEntita_Message">
        <wsdl:part name="part_responseGetInfoEntita" element="inp1:responseGetInfoEntita"/>
    </wsdl:message>
    <wsdl:binding name="CRM_GET_INFO_ENTITA_pttSOAP11Binding" type="tns:CRM_GET_INFO_ENTITA_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_GetInfoEntitaChild">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GET_INFO_ENTITA/execute_GetInfoEntitaChild"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetInfoEntitaChild"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetInfoEntitaChild"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_GetInfoEntita">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_GET_INFO_ENTITA/execute_GetInfoEntita"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetInfoEntita"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetInfoEntita"/>
                <soap:header message="tns:header_Message" part="part_Header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>