esb_it/repo/WS_SELFCARE_DWI_NORMALIZZA_LOCALITA/wsdl/WS_SELFCARE_DWI_NORMALIZZA_LOCALITA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opDwiNormalizzaLocalita"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_LOCALITA" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDwiNormalizzaLocalitaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CAP" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_PROVINCIA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_COMUNE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_DESCRIZIONE_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opDwiNormalizzaLocalitaRequest"> 
  <wsdl:part element="eb:opDwiNormalizzaLocalita" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDwiNormalizzaLocalitaResponse"> 
  <wsdl:part element="eb:opDwiNormalizzaLocalitaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SELFCARE_DWI_NORMALIZZA_LOCALITASoap"> 
  <wsdl:operation name="opDwiNormalizzaLocalita"> 
   <wsdl:input message="eb:opDwiNormalizzaLocalitaRequest" name="opDwiNormalizzaLocalitaRequest" /> 
   <wsdl:output message="eb:opDwiNormalizzaLocalitaResponse" name="opDwiNormalizzaLocalitaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SELFCARE_DWI_NORMALIZZA_LOCALITASoap" type="eb:WS_SELFCARE_DWI_NORMALIZZA_LOCALITASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opDwiNormalizzaLocalita"> 
   <soap:operation soapAction="WS_SELFCARE_DWI_NORMALIZZA_LOCALITA/opDwiNormalizzaLocalita" style="document" /> 
   <wsdl:input name="opDwiNormalizzaLocalitaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDwiNormalizzaLocalitaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SELFCARE_DWI_NORMALIZZA_LOCALITA"> 
  <wsdl:port binding="eb:WS_SELFCARE_DWI_NORMALIZZA_LOCALITASoap" name="WS_SELFCARE_DWI_NORMALIZZA_LOCALITASoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_selfcare/WS_SELFCARE_DWI_NORMALIZZA_LOCALITA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>