esb_it/repo/WS_SCMS_GENESYS_PAGAMENTI_SISAL/wsdl/WS_SCMS_GENESYS_PAGAMENTI_SISAL.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="FMLComplexInput"> 
    <xsd:sequence> 
     <xsd:element name="CRM_PROVENIENZA" type="xsd:string" /> 
     <xsd:element name="CRM_ACCOUNT_NUMBER" type="xsd:string" /> 
     <xsd:element name="CRM_DATA_PAG_SISAL" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_NUMERO_FATTURA" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_IMPORTO" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="CRM_OLD_STATUS" type="xsd:string" /> 
     <xsd:element name="CRM_NEW_STATUS" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="FMLComplexOutput"> 
    <xsd:sequence> 
     <xsd:element name="SRVZ_RET_CODE" type="xsd:string" /> 
     <xsd:element name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opPagamentiSisal"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="request_ws" type="eb:FMLComplexInput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opPagamentiSisalResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="response_ws" type="eb:FMLComplexOutput" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opPagamentiSisalRequest"> 
  <wsdl:part element="eb:opPagamentiSisal" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opPagamentiSisalResponse"> 
  <wsdl:part element="eb:opPagamentiSisalResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_GENESYS_PAGAMENTI_SISALSoap"> 
  <wsdl:operation name="opPagamentiSisal"> 
   <wsdl:input message="eb:opPagamentiSisalRequest" name="opPagamentiSisalRequest" /> 
   <wsdl:output message="eb:opPagamentiSisalResponse" name="opPagamentiSisalResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_GENESYS_PAGAMENTI_SISALSoap" type="eb:WS_SCMS_GENESYS_PAGAMENTI_SISALSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opPagamentiSisal"> 
   <soap:operation soapAction="WS_SCMS_GENESYS_PAGAMENTI_SISAL/opPagamentiSisal" style="document" /> 
   <wsdl:input name="opPagamentiSisalRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opPagamentiSisalResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_GENESYS_PAGAMENTI_SISAL"> 
  <wsdl:port binding="eb:WS_SCMS_GENESYS_PAGAMENTI_SISALSoap" name="WS_SCMS_GENESYS_PAGAMENTI_SISALSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SCMS_GENESYS_PAGAMENTI_SISAL" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>