osb_it/repo/BlueBirdProject/SALESFORCE/agendaManagement/PS_REST_SF_AGENDA_MANAGEMENT/wsdl/BlueBirdProject_SALESFORCE_agendaManagement_proxy_PS_REST_SF_AGENDA_MANAGEMENT.wsdl

<wsdl:definitions name="PS_REST_SF_AGENDA_MANAGEMENT" targetNamespace="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_AGENDA_MANAGEMENT" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_SF_AGENDA_MANAGEMENT" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:inp2="http://www.skytv.it/mdw/data" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PS_REST_SF_AGENDA_MANAGEMENT">
        <plnk:role name="PS_REST_SF_AGENDA_MANAGEMENTProvider" portType="tns:PS_REST_SF_AGENDA_MANAGEMENT_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/SALESFORCE/agendaManagement/xsd/XSD_SF_AGENDA_MANAGEMENT.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpdateAppointmentStatus_inputMessage">
        <wsdl:part name="request" element="inp1:requestUpdateAppointmentStatus"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentStatus_outputMessage">
        <wsdl:part name="reply" element="inp1:responseUpdateAppointmentStatusSOAP"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentStatus_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentStatus_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="UpdateAppointmentStatus_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="RetrieveAppointments_inputMessage">
        <wsdl:part name="request" element="inp1:requestRetrieveAppointments"/>
    </wsdl:message>
    <wsdl:message name="RetrieveAppointments_outputMessage">
        <wsdl:part name="reply" element="inp1:appointments"/>
    </wsdl:message>
    <wsdl:message name="RetrieveAppointments_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="RetrieveAppointments_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="RetrieveAppointments_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:message name="ReschedulingVerification_inputMessage">
        <wsdl:part name="request" element="inp1:requestCheckRescheduling"/>
    </wsdl:message>
    <wsdl:message name="ReschedulingVerification_outputMessage">
        <wsdl:part name="reply" element="inp1:reschedulingList"/>
    </wsdl:message>
    <wsdl:message name="ReschedulingVerification_fault400Message">
        <wsdl:part name="fault_fault400" element="inp1:error400"/>
    </wsdl:message>
    <wsdl:message name="ReschedulingVerification_fault500Message">
        <wsdl:part name="fault_fault500" element="inp1:error500"/>
    </wsdl:message>
    <wsdl:message name="ReschedulingVerification_fault404Message">
        <wsdl:part name="fault_fault404" element="inp1:error404"/>
    </wsdl:message>
    <wsdl:portType name="PS_REST_SF_AGENDA_MANAGEMENT_ptt">
        <wsdl:operation name="UpdateAppointmentStatus">
            <wsdl:input message="tns:UpdateAppointmentStatus_inputMessage"/>
            <wsdl:output message="tns:UpdateAppointmentStatus_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:UpdateAppointmentStatus_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:UpdateAppointmentStatus_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:UpdateAppointmentStatus_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveAppointments">
            <wsdl:input message="tns:RetrieveAppointments_inputMessage"/>
            <wsdl:output message="tns:RetrieveAppointments_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:RetrieveAppointments_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:RetrieveAppointments_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:RetrieveAppointments_fault404Message"/>
        </wsdl:operation>
        <wsdl:operation name="ReschedulingVerification">
            <wsdl:input message="tns:ReschedulingVerification_inputMessage"/>
            <wsdl:output message="tns:ReschedulingVerification_outputMessage"/>
            <wsdl:fault name="fault400" message="tns:ReschedulingVerification_fault400Message"/>
            <wsdl:fault name="fault500" message="tns:ReschedulingVerification_fault500Message"/>
            <wsdl:fault name="fault404" message="tns:ReschedulingVerification_fault404Message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PS_REST_SF_AGENDA_MANAGEMENT_ptt-binding" type="tns:PS_REST_SF_AGENDA_MANAGEMENT_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpdateAppointmentStatus">
            <soap:operation soapAction="UpdateAppointmentStatus"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="RetrieveAppointments">
            <soap:operation soapAction="RetrieveAppointments"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="ReschedulingVerification">
            <soap:operation soapAction="ReschedulingVerification"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>