osb_it/repo/SiebelProject/PS_WS_CRM_SIE_GESTIONE_CANALI/wsdl/SiebelProject_proxy_PS_WS_CRM_SIE_GESTIONE_CANALI.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="WS_CRM_SIE_GESTIONE_CANALI"
     targetNamespace="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_CANALI"
     xmlns:tns="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_CANALI"
     xmlns:inp1="http://www.skytv.it/mdw/data"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_CRM_SIE_GESTIONE_CANALI.xsd"/>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestGetDttService_message">
        <wsdl:part name="part_requestGetDttService" element="inp1:requestGetDttService"/>
    </wsdl:message>
    <wsdl:message name="responseGetDttService_message">
        <wsdl:part name="part_responseGetDttService" element="inp1:responseGetDttService"/>
    </wsdl:message>
    <wsdl:portType name="CRM_SIE_GESTIONE_CANALI_ptt">
        <wsdl:operation name="execute_getDttService">
            <wsdl:input message="tns:requestGetDttService_message"/>
            <wsdl:output message="tns:responseGetDttService_message"/>
        </wsdl:operation>
        <wsdl:operation name="execute_enableDttService">
            <wsdl:input message="tns:requestEnableDttService_message"/>
            <wsdl:output message="tns:responseEnableDttService_message"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="header_message">
        <wsdl:part name="part_header" element="inp1:Header"/>
    </wsdl:message>
    <wsdl:binding name="CRM_SIE_GESTIONE_CANALI_pttSOAP11Binding" type="tns:CRM_SIE_GESTIONE_CANALI_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="execute_getDttService">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_CANALI/execute_getDttService"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestGetDttService"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseGetDttService"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="execute_enableDttService">
            <soap:operation style="document"
                            soapAction="http://www.skytv.it/mdw/service/CRM_SIE_GESTIONE_CANALI/execute_enableDttService"/>
            <wsdl:input>
                <soap:body use="literal" parts="part_requestEnableDttService"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part_responseEnableDttService"/>
                <soap:header message="tns:header_message" part="part_header" use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="requestEnableDttService_message">
        <wsdl:part name="part_requestEnableDttService" element="inp1:requestEnableDttService"/>
    </wsdl:message>
    <wsdl:message name="responseEnableDttService_message">
        <wsdl:part name="part_responseEnableDttService" element="inp1:responseEnableDttService"/>
    </wsdl:message>
</wsdl:definitions>