esb_it/repo/WS_TestTuxWinLettura/wsdl/WS_TestTuxWinLettura.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="OpTestTuxWinLettura"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_PARAM_1" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="OpTestTuxWinLetturaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_SRVZ_PARAM_2" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="OpTestTuxWinLetturaRequest"> 
  <wsdl:part element="eb:OpTestTuxWinLettura" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="OpTestTuxWinLetturaResponse"> 
  <wsdl:part element="eb:OpTestTuxWinLetturaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_TestTuxWinLetturaSoap"> 
  <wsdl:operation name="OpTestTuxWinLettura"> 
   <wsdl:input message="eb:OpTestTuxWinLetturaRequest" name="OpTestTuxWinLetturaRequest" /> 
   <wsdl:output message="eb:OpTestTuxWinLetturaResponse" name="OpTestTuxWinLetturaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_TestTuxWinLetturaSoap" type="eb:WS_TestTuxWinLetturaSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="OpTestTuxWinLettura"> 
   <soap:operation soapAction="WS_TestTuxWinLettura/OpTestTuxWinLettura" style="document" /> 
   <wsdl:input name="OpTestTuxWinLetturaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="OpTestTuxWinLetturaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_TestTuxWinLettura"> 
  <wsdl:port binding="eb:WS_TestTuxWinLetturaSoap" name="WS_TestTuxWinLetturaSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_TestTuxWinLettura" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>