osb_it/repo/SiebelProject/outbound_gerarchico_PS_WS_CRM_OUTMSGCONTRACT/wsdl/SiebelProject_proxy_outbound_gerarchico_PS_WS_CRM_OUTMSGCONTRACT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- 
Salesforce.com Outbound Notification Web Services API Version 1.0 
Generated on 2020-01-21 17:08:32 +0000.

Copyright 2005-2020 Salesforce.com, Inc.
All Rights Reserved
-->
<definitions targetNamespace="http://soap.sforce.com/2005/09/outbound"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.sforce.com/2005/09/outbound"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:ent="urn:enterprise.soap.sforce.com"
             xmlns:ens="urn:sobject.enterprise.soap.sforce.com">
    <types>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:enterprise.soap.sforce.com">
            <!-- Our simple ID Type -->
            <simpleType name="ID">
                <restriction base="xsd:string">
                    <length value="18"/>
                    <pattern value='[a-zA-Z0-9]{18}'/>
                </restriction>
            </simpleType>
        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:sobject.enterprise.soap.sforce.com">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <!-- Base sObject (abstract) -->
            <complexType name="sObject">
                <sequence>
                    <element name="fieldsToNull"       type="xsd:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Id"                 type="ent:ID" nillable="true" />
                </sequence>
            </complexType>

            <complexType name="AggregateResult">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                            <any namespace="##targetNamespace" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>

            <complexType name="Contract">
                <complexContent>
                    <extension base="ens:sObject">
                        <sequence>
                        <element name="Accertamento_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="AccountId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Account_Sostituito__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Account_Subentrato_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Account_Subentro_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Address__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Altro_Telefono__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Ambiente_Servizio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Antifrode_MV_Date_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Antifrode_MV_Number__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Antifrode_MV__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Anytime_Consenso_Dati_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Anytime_Data_Term_Condition_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Anytime_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Anywhere_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Area_Comune_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="As_Of_Date_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Attivazione_DECA_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Attivazione_MV__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Avanzamento_Consegna__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Billable_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Billing_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Blocco_Canali_IKUSI_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="BroadBand_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="CAP_Critico_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="CO_Delivery_TV__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CO_Marca_TV__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CO_Pollici_TV__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CPQ_Anzianita_Contrattuale__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="CV_Impianto_Da_Adeguare_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Calcola_Punti_di_Fruizione_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Call_Me_Now_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Canale_Acquisizione_DECA__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Canale_Acquisizione_Down_Payment__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Canale_Conversione_Riconversione_TNB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Canale_Disdetta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Candidato_Hold_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Categoria_Cliente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Catena_Appartenenza__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Annullamento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Cessazione_Simulata__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Cessazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Firmato__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Incompletezza__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_SOAS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Sospensione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Tipo_Posta_Ritornata__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Causale_Trasporto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Cellulare__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Check_Antifrode_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Check_Call__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ChildContractBB__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="ChildContractTV__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Citofono_Odl_Trasferimento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Citofono__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Claim_Counter__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Cliente_unhappy__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Closed_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Cluster_Commissioning__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Cluster_Inbound__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CodiceMigrazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Agreement__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Condominio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Contratto_Cartaceo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Contratto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Ditta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_ODS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Promozione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Ricevitoria_Sisal__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_SOAS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Transazione_POS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Codice_Transazione_Sisal__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Cognome_Referente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Comments__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Company__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Complesso__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Consenso_Tablet_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Contract_Trait__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contrassegno_Riscosso__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contratto_Brand__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contratto_Email__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contratto_Numero_Fax__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Contratto_Telefono__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Conversione_Stampa__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Crea_Esigenza_Disdetta_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Crea_Esigenza_Tipo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="CustomerSignedDate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_2SA_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Acknowledge_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Adesione_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Ageing_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Annullamento_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Apertura_ODS_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Apertura_SOAS_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Appuntamento_Preferita_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Attivazione_Prevista_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Calcolo_unhappy__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Cambio_Listino_Pending_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Cambio_Mastership_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Cambio_Stato_Candidatura_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Caricamento_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Cessazione_Batch_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Cessazione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Cessazione_Fatturazione_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Chiusura_ODL_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Consegna_Corriere_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Conversione_TNB__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Disponibilita_Cliente_ODL_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Fine_Extended_Trial_TNB__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Fine_Post_Trial_TNB__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Fine_Rivista_Gratis_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Fine_Trial_TNB__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Firma_Addendum_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Flusso_Corriere_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Inizio_Prima_Settimana_TNB__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_ODL_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Pagamento_DP_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Prima_Attivazione_Account_Sub_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Prima_Attivazione_Calc__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Prima_Attivazione_New_Subentrato_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Registrazione_Cessazione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Registrazione_Richiesta_Disdetta__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Riattivazione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Ricezione_Raccomandata_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Richiesta_Cessazione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Richiesta_Cessazione_Fatturazionedt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Richiesta_Sospensione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Riconversione_TNB__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Sblocco_Attivazione_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Scadenza_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Scadenza_SOAS_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Sospensione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Sospensione_Old__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Sospensione_Prevista_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Ultima_Fattura_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Ultima_Simulazione_Exit_Fee_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Ultima_Sospensione_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_Verifica_Anywhere_Dt__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Data_Visualizzazione_Palinsesto_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_ultima_notifica_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Data_ultima_notifica_FW_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Dati_visione_navigazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Delega_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Denominazione_Fruitore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Deposito_Cauzionale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Description" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Descrizione_Listino__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Distinta_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Down_Payment__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Due_Date_Old_Company_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Durata_Contratto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="E2E__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="EMail_Recapito_Fattura__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_ATTVLXATT__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_BES1XG__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_BES1XM__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_BES1YG__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_BES1YM__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_BESVLXBES__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_FLXCTX__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_IDCIV__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_MATCHCODESKY__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_MATCHCODE__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_NAB_All__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Egon_NAB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Eligibility_End_Date_Aumento_Tariffa__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Eligibility_Start_Date_Aumento_Tariffa__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="EndDate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Firmato_Addendum__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Firmato_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Firmato_Multivision__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Firmato__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="FlagAlert__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Flag_Bundle_BB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Flag_Product_Analytics__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Flag_SkyQ_Black__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Flag_Strong_Pairing__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Flag_TNB__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Flag_eleggibilita_Aumento_Tariffa__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Frazione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Garanzia_ODL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Gestione_Quantita_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Grande_Cliente_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="ID_Anagrafica__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ID_PDA__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Impianto_Da_Adeguare_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Impianto_Rilevato__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Importo_Commissione_Sisal__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Importo_DECA__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Indirizzo_Normalizzato_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Indirizzo_Sito_Internet__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Inibizione_ODS_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Installazione_Consigliata__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Interno__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Invio_Anl_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Invio_Dowp_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Irreperibile_Per_Reso_Postale_Ship_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Kenan_Extra_Eligibility__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Kit_Sky_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="LGS_Ultima_Esigenza__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LastModifiedAccount__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastModifiedById" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="LastModifiedDate" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastModifiedDatePayer__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="LastUserName__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Last_Modified_User_Account__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Last_Modified_User_Billing__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Last_Modified_User_Payer__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="LatModifiedBilling__c" nillable="true" minOccurs="0" type="xsd:dateTime"/>
                        <element name="Lavorato_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Listino_Pending_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="MNT_Anti_Frode_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="MNT_Codice_Coupon__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MNT_Invio_Rivista_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="MNT_Linea_Telefonica_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="MNT_Lista_Codici_MGM__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MNT_Modalita_Invio_Rivista__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MNT_Prima_Data_Att_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="MNT_Tecnologia__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="MNT_Tipo_Linea_Telefonica__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Magazzino_ODS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Manuale_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Match_Code_DWI__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Match_Code_FW__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Match_Code__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Meccanica_Promo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Modalit_Invio_Fattura__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Modalit_invio_Rivista__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Mop_Down_Payment__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Motivo_Disdetta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Multivision_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Name_Service_Account_Migrato__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Nome_Referente__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Note__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Numero_Civico__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Numero_Documento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Numero_Mesi_Rivista_Gratis__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Numero_ODL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Numero_Subentri__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Numero_di_telefono_ODL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Numero_documento_DMS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="NuovaLinea__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="OG_Activation_Integration_Identifier__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OG_CorrelationID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OG_PriceListCategory__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="OG_PromoDescription__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Order_Date_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Order_Number__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Ordine_ODS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Ordine_con_Ritiro_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Particella_Toponomastica__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Payer_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Piano__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="PreferenzaSceltaBB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Premises_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Premises_childs_Id__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="PrevContractTrait__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="PrevPriceCode_BLB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Pricebook2Id" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="Progressivo_CC__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Promozione_Pending__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Promozione_Proposta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Promozione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Province__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Provisioning__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="RTD_CLC__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Ragione_Sociale_Dealer__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="RecordTypeId" nillable="true" minOccurs="0" type="ent:ID"/>
                        <element name="RecordTypeName__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Report_Calcolato_2__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Riconnessione_da_Service_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Rientro_Cartaceo_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Rilascio_DECA_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SIL_Data_Prevista_Consegna_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="SIL_Data_Reinvio_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="SIL_Reinvio_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SIL_Reitek_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="SIL_Tipo_Venditore__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SKYID__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ST_Scenario_Name_Temp__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sblocco_Contratto_DECA_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Scadenza_SOAS_dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Scala__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Scenario_Allineamento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Scenario_Migrazione_BLB_IN__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Scenario_Sospensione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sconto_Cambio_Piano_Down_Curr__c" nillable="true" minOccurs="0" type="xsd:double"/>
                        <element name="Secondo_Codice_Promozione__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Segmento_Abbonati__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Send_To_SAP_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="ShippingCity" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingCountry" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingPostalCode" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingState" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="ShippingStreet" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Siebel_External_Id__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="SkyExtra_Data_Ageing_Loyalty_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="SkyExtra_Data_Elegibility_Loyalty_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="SkyExtra_Fascia_Ageing_Loyality__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sosp_Old_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Sospensione_Old_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Sottostato_Avanzamento_Consegna__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Sottotipo_Ordine_Logistica__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stampa_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="StartDate" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="StatoCaricamentoDocumento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_DECA_Label__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_DECA__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_DP_Parco__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_Indirizzo__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_ODL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_Provisioning_FW__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_Provisioning__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_TNB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_Verifica_Anywhere__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Stato_di_Rischio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Status" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="StockOut_Flg__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tecnologia_BLB__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tecnologia__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Telefono_Disdetta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Telefono__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Contratto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Documento__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Impianto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Installazione_IKUSI__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_ODL__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_ODS__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Posta_Ritornata__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Pronto__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Provisioning__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipo_Rivista__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipologia_Disdetta__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Tipologia_Esercizio__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="Ultima_Modifica_Stato_Rischio_Dt__c" nillable="true" minOccurs="0" type="xsd:date"/>
                        <element name="Verifica_Firma_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Verifiche_Antifrode_completate_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Verifiche_CRM_completate_Flg__c" nillable="true" minOccurs="0" type="xsd:boolean"/>
                        <element name="Wholesale__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="descrEsitoDocumentSpy__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="esitoCheckDocumentSpy__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="esitoDocumentSpy__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="flg_Opt_Out_Raccomandazioni_SkyQ__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="isPrimary__c" nillable="true" minOccurs="0" type="xsd:string"/>
                        <element name="vlocity_cmt__ParentContractId__c" nillable="true" minOccurs="0" type="ent:ID"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>


        </schema>

        <schema elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://soap.sforce.com/2005/09/outbound">
            <import namespace="urn:enterprise.soap.sforce.com" />
            <import namespace="urn:sobject.enterprise.soap.sforce.com" />
    
            <element name="notifications">
                <complexType> 
                    <sequence> 
                    	<element name="OrganizationId" type="ent:ID" />
                    	<element name="ActionId" type="ent:ID" />
                    	<element name="SessionId" type="xsd:string" nillable="true" />
                    	<element name="EnterpriseUrl" type="xsd:string" />
                    	<element name="PartnerUrl" type="xsd:string" />
                        <element name="Notification" maxOccurs="100" type="tns:ContractNotification" />
                    </sequence> 
                </complexType> 
            </element>
    
            <complexType name="ContractNotification">
                <sequence>
                    <element name="Id" type="ent:ID" />
                    <element name="sObject" type="ens:Contract" />
                </sequence>
            </complexType>
                
            <element name="notificationsResponse">
                <complexType>
                    <sequence>
                        <element name="Ack" type="xsd:boolean" />
                    </sequence>
                </complexType>
            </element>
        </schema>
    </types>
    
    
    <!-- Method Messages -->   
    <message name="notificationsRequest">
        <part element="tns:notifications" name="request"/>
    </message>
    <message name="notificationsResponse">
        <part element="tns:notificationsResponse" name="response"/>
    </message>

    <!-- PortType -->
    <portType name="NotificationPort">
        <operation name="notifications">
            <documentation>Process a number of notifications.</documentation>
            <input  message="tns:notificationsRequest"/>
            <output message="tns:notificationsResponse"/>
        </operation>
    </portType>
    
    <!-- Binding 
         You need to write a service that implements this binding to receive the notifications
     -->
    <binding name="NotificationBinding" type="tns:NotificationPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="notifications">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output> 
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>

    <!-- Service Endpoint -->
    <service name="NotificationService">
        <documentation>Notification Service Implementation</documentation>
        <port binding="tns:NotificationBinding" name="Notification">
            <soap:address location="https://ws.osbcol.sky.it/osbbb/services/siebel/WS_CRM_OUTMSGCONTRACT"/>
        </port>
    </service>
    
</definitions>