esb_it/repo/WS_FW_SEND_ORDER/wsdl/WS_FW_SEND_ORDER.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:import namespace="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/SendOrderServices/" schemaLocation="SkyXSD_SendOrder.xsd" /> 
   <xsd:complexType name="OperationDataType" xmlns:fw="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/SendOrderServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="fw:OperationDataType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputMessageType" xmlns:fw="http://services.olg.oss.fastweb.it/fly/sky2fw/ot/SendOrderServices/"> 
    <xsd:complexContent> 
     <xsd:extension base="fw:OutputMessageType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="sendOrderOp"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="InputMessage" type="eb:OperationDataType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="sendOrderOpResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="OutputMessage" type="eb:OutputMessageType" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="sendOrderOpRequest"> 
  <wsdl:part element="eb:sendOrderOp" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="sendOrderOpResponse"> 
  <wsdl:part element="eb:sendOrderOpResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_FW_SEND_ORDERSoap"> 
  <wsdl:operation name="sendOrderOp"> 
   <wsdl:input message="eb:sendOrderOpRequest" name="sendOrderOpRequest" /> 
   <wsdl:output message="eb:sendOrderOpResponse" name="sendOrderOpResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_FW_SEND_ORDERSoap" type="eb:WS_FW_SEND_ORDERSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="sendOrderOp"> 
   <soap:operation soapAction="WS_FW_SEND_ORDER/sendOrderOp" style="document" /> 
   <wsdl:input name="sendOrderOpRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="sendOrderOpResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_FW_SEND_ORDER"> 
  <wsdl:port binding="eb:WS_FW_SEND_ORDERSoap" name="WS_FW_SEND_ORDERSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_FW_SEND_ORDER" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>