esb_it/repo/WS_IVR_VERIFICA_PRIMA_FATTURA/wsdl/WS_IVR_VERIFICA_PRIMA_FATTURA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opVerificaPrimaFattura"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="ORDER_NUM_CONTR" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="WS_CONNID" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="ConnId" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="0" name="TransId" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opVerificaPrimaFatturaResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_RET_CODE" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="SRVZ_DESCRIZ_ESITO" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opVerificaPrimaFatturaRequest"> 
  <wsdl:part element="eb:opVerificaPrimaFattura" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opVerificaPrimaFatturaResponse"> 
  <wsdl:part element="eb:opVerificaPrimaFatturaResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_IVR_VERIFICA_PRIMA_FATTURASoap"> 
  <wsdl:operation name="opVerificaPrimaFattura"> 
   <wsdl:input message="eb:opVerificaPrimaFatturaRequest" name="opVerificaPrimaFatturaRequest" /> 
   <wsdl:output message="eb:opVerificaPrimaFatturaResponse" name="opVerificaPrimaFatturaResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_IVR_VERIFICA_PRIMA_FATTURASoap" type="eb:WS_IVR_VERIFICA_PRIMA_FATTURASoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opVerificaPrimaFattura"> 
   <soap:operation soapAction="WS_IVR_VERIFICA_PRIMA_FATTURA/opVerificaPrimaFattura" style="document" /> 
   <wsdl:input name="opVerificaPrimaFatturaRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opVerificaPrimaFatturaResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_IVR_VERIFICA_PRIMA_FATTURA"> 
  <wsdl:port binding="eb:WS_IVR_VERIFICA_PRIMA_FATTURASoap" name="WS_IVR_VERIFICA_PRIMA_FATTURASoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_IVR_VERIFICA_PRIMA_FATTURA" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>