osb_it/repo/BlueBirdProject/KENAN/invoiceEvents/PS_REST_KENAN_INVOICE_EVENTS/wadl/BlueBirdProject_KENAN_invoiceEvents_proxy_PS_REST_KENAN_INVOICE_EVENTS.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSBSvil/BlueBirdProject/PS_REST_KENAN_INVOICE_EVENTS" xmlns:ns0="http://www.skytv.it/mdw/data" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="PS_REST_KENAN_INVOICE_EVENTS">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseServices/BlueBirdProject/KENAN/invoiceEvents/xsd/XSD_KENAN_INVOICE_EVENTS.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../MDW_CDM/EnterpriseObjects/CommonEntities/restErrors.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="RetrieveInvoiceEvents">
            <request>
               <param name="billingAccount" style="query" soa:expression="$msg.request/ns0:billingAccount" default="" type="xsd:string"/>
               <param name="invoiceId" style="query" soa:expression="$msg.request/ns0:invoiceId" default="" type="xsd:string"/>
               <param name="invoiceDate" style="query" soa:expression="$msg.request/ns0:invoiceDate" default="" type="xsd:date"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:responseInvoiceEvents" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault400">
               <representation mediaType="application/xml" element="cns:error400" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="500" soa:wsdlFaultName="fault500">
               <representation mediaType="application/xml" element="cns:error500" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
            <response status="404" soa:wsdlFaultName="fault404">
               <representation mediaType="application/xml" element="cns:error404" xmlns:cns="http://www.skytv.it/mdw/data"/>
            </response>
         </method>
      </resource>
   </resources>
</application>