esb_it/repo/WS_SCMS_EXECUTE_DELAUT/wsdl/WS_SCMS_EXECUTE_DELAUT.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:complexType name="requestDELAUT"> 
    <xsd:sequence> 
     <xsd:element name="flagsync" type="xsd:string" /> 
     <xsd:element name="clientid" type="xsd:string" /> 
     <xsd:element name="box" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkind" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="stbkindhw" type="xsd:string" /> 
     <xsd:element name="operator" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="execdate" type="xsd:string"> 
      <xsd:annotation> 
       <xsd:documentation>
        formato YYYYMMDDHH24MISS
       </xsd:documentation> 
      </xsd:annotation> 
     </xsd:element> 
     <xsd:element minOccurs="0" name="priority" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="funcname" type="xsd:string" /> 
     <xsd:element name="authocodesnum" type="xsd:string" /> 
     <xsd:element maxOccurs="unbounded" name="authocodes" type="xsd:string" /> 
     <xsd:element minOccurs="0" name="zipcode" type="xsd:string" /> 
     <xsd:element name="decoderid" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:complexType name="responseDELAUT"> 
    <xsd:sequence> 
     <xsd:element name="result" type="xsd:string" /> 
     <xsd:element name="descriptionerr" type="xsd:string" /> 
     <xsd:element name="transid" type="xsd:string" /> 
     <xsd:element name="ndserr" type="xsd:string" /> 
    </xsd:sequence> 
   </xsd:complexType> 
   <xsd:element name="opDELAUT"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestDELAUT" type="eb:requestDELAUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opDELAUTResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseDELAUT" type="eb:responseDELAUT" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opDELAUTRequest"> 
  <wsdl:part element="eb:opDELAUT" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opDELAUTResponse"> 
  <wsdl:part element="eb:opDELAUTResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SCMS_EXECUTE_DELAUTSoap"> 
  <wsdl:operation name="opDELAUT"> 
   <wsdl:input message="eb:opDELAUTRequest" name="opDELAUTRequest" /> 
   <wsdl:output message="eb:opDELAUTResponse" name="opDELAUTResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SCMS_EXECUTE_DELAUTSoap" type="eb:WS_SCMS_EXECUTE_DELAUTSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opDELAUT"> 
   <soap:operation soapAction="WS_SCMS_EXECUTE_DELAUT/opDELAUT" style="document" /> 
   <wsdl:input name="opDELAUTRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opDELAUTResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SCMS_EXECUTE_DELAUT"> 
  <wsdl:port binding="eb:WS_SCMS_EXECUTE_DELAUTSoap" name="WS_SCMS_EXECUTE_DELAUTSoap"> 
   <soap:address location="http://wssvil.sky.it:19100/wsexistbus/ws_scms/WS_SCMS_EXECUTE_DELAUT" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>