esb_it/repo/RegistrazioneEvento/wsdl/RegistrazioneEvento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:element name="opRegistrazioneEvento"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_SMART_CARD" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_PROVENIENZA" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_CANALE_TRASM" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_TRASM" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DATA_PRENOTAZIONE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opRegistrazioneEventoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_ESITO" type="xsd:string" /> 
      <xsd:element maxOccurs="1" minOccurs="1" name="WS_DESCRIZIONE_ERRORE" type="xsd:string" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opRegistrazioneEventoRequest"> 
  <wsdl:part element="eb:opRegistrazioneEvento" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opRegistrazioneEventoResponse"> 
  <wsdl:part element="eb:opRegistrazioneEventoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="RegistrazioneEventoSoap"> 
  <wsdl:operation name="opRegistrazioneEvento"> 
   <wsdl:input message="eb:opRegistrazioneEventoRequest" name="opRegistrazioneEventoRequest" /> 
   <wsdl:output message="eb:opRegistrazioneEventoResponse" name="opRegistrazioneEventoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="RegistrazioneEventoSoap" type="eb:RegistrazioneEventoSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opRegistrazioneEvento"> 
   <soap:operation soapAction="RegistrazioneEvento/opRegistrazioneEvento" style="document" /> 
   <wsdl:input name="opRegistrazioneEventoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opRegistrazioneEventoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="RegistrazioneEvento"> 
  <wsdl:port binding="eb:RegistrazioneEventoSoap" name="RegistrazioneEventoSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/RegistrazioneEvento" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>