osb_it/repo/KBOXProject/SendData/PS_SF_KBOX_SEND_DATA/wsdl/KBOXProject_SendData_proxy_PS_SF_KBOX_SEND_DATA.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/SF_KBOX_SEND_DATA" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_SF_KBOX_SEND_DATA" targetNamespace="http://www.skytv.it/mdw/service/SF_KBOX_SEND_DATA">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SF_KBOX_SEND_DATA.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestInvioPiani_SF_Message">
		<wsdl:part name="part_requestInvioPiani_SF" element="inp1:requestInvioPiani_SF"/>
	</wsdl:message>
	<wsdl:message name="responseInvioPiani_SF_Message">
		<wsdl:part name="part_responseInvioPiani_SF" element="inp1:responseInvioPiani_SF"/>
	</wsdl:message>
	<wsdl:message name="requestInvioCalendarioConf_SF_Message">
		<wsdl:part name="part_requestInvioCalendarioConf_SF" element="inp1:requestInvioCalendarioConf_SF"/>
	</wsdl:message>
	<wsdl:message name="responseInvioCalendarioConf_SF_Message">
		<wsdl:part name="part_responseInvioCalendarioConf_SF" element="inp1:responseInvioCalendarioConf_SF"/>
	</wsdl:message>
	<wsdl:message name="header_Message">
		<wsdl:part name="part_Header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="SF_KBOX_SEND_DATA_ptt">
		<wsdl:operation name="execute_InvioPiani_SF">
			<wsdl:input message="tns:requestInvioPiani_SF_Message"/>
			<wsdl:output message="tns:responseInvioPiani_SF_Message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_InvioCalendarioConf_SF">
			<wsdl:input message="tns:requestInvioCalendarioConf_SF_Message"/>
			<wsdl:output message="tns:responseInvioCalendarioConf_SF_Message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SF_KBOX_SEND_DATA_bind" type="tns:SF_KBOX_SEND_DATA_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_InvioPiani_SF">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SF_KBOX_SEND_DATA/execute_InvioPiani_SF" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestInvioPiani_SF" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseInvioPiani_SF" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_InvioCalendarioConf_SF">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SF_KBOX_SEND_DATA/execute_InvioCalendarioConf_SF" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestInvioCalendarioConf_SF" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseInvioCalendarioConf_SF" use="literal"/>
				<soap:header message="tns:header_Message" part="part_Header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>