osb_it/repo/MRMProject/GestioneVoucher/PS_REST_MRM_BURN_VOUCHER/xsd/XSD_MRM_VOUCHER_HANDLER.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.skytv.it/mdw/data"
            targetNamespace="http://www.skytv.it/mdw/data" elementFormDefault="qualified">
  <xsd:element name="requestBurnVoucher" type="requestBurnVoucherType"/>
  <xsd:complexType name="requestBurnVoucherType">
    <xsd:sequence>
      <xsd:element name="serialNumber" type="xsd:string" minOccurs="1"/>
      <xsd:element name="voucherType" type="voucherTypeType" minOccurs="1"/>
      <xsd:element name="burningDate" type="xsd:string" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="voucherTypeType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="DAZN"/>
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>