esb_it/repo/WS_SPY_SBL_CAMBIO_STATO/wsdl/WS_SPY_SBL_CAMBIO_STATO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"> 
 <wsdl:types> 
  <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.reply.it/existbus" xmlns:eb="http://www.reply.it/existbus"> 
   <xsd:include schemaLocation="xsdSiebel/xsdSPY/SkyXSD_SBL_SPY_CAMBIO_STATO.xsd" /> 
   <xsd:complexType name="InputCambioStato"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:RequestCambioStatoType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:complexType name="OutputCambioStato"> 
    <xsd:complexContent> 
     <xsd:extension base="eb:ResponseCambioStatoType" /> 
    </xsd:complexContent> 
   </xsd:complexType> 
   <xsd:element name="opCambioStato"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="requestCambioStato" type="eb:InputCambioStato" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
   <xsd:element name="opCambioStatoResponse"> 
    <xsd:complexType> 
     <xsd:sequence> 
      <xsd:element maxOccurs="1" minOccurs="1" name="responseCambioStato" type="eb:OutputCambioStato" /> 
     </xsd:sequence> 
    </xsd:complexType> 
   </xsd:element> 
  </xsd:schema> 
 </wsdl:types> 
 <wsdl:message name="opCambioStatoRequest"> 
  <wsdl:part element="eb:opCambioStato" name="parameters" /> 
 </wsdl:message> 
 <wsdl:message name="opCambioStatoResponse"> 
  <wsdl:part element="eb:opCambioStatoResponse" name="parameters" /> 
 </wsdl:message> 
 <wsdl:portType name="WS_SPY_SBL_CAMBIO_STATOSoap"> 
  <wsdl:operation name="opCambioStato"> 
   <wsdl:input message="eb:opCambioStatoRequest" name="opCambioStatoRequest" /> 
   <wsdl:output message="eb:opCambioStatoResponse" name="opCambioStatoResponse" /> 
  </wsdl:operation> 
 </wsdl:portType> 
 <wsdl:binding name="WS_SPY_SBL_CAMBIO_STATOSoap" type="eb:WS_SPY_SBL_CAMBIO_STATOSoap"> 
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" /> 
  <wsdl:operation name="opCambioStato"> 
   <soap:operation soapAction="WS_SPY_SBL_CAMBIO_STATO/opCambioStato" style="document" /> 
   <wsdl:input name="opCambioStatoRequest"> 
    <soap:body use="literal" /> 
   </wsdl:input> 
   <wsdl:output name="opCambioStatoResponse"> 
    <soap:body use="literal" /> 
   </wsdl:output> 
  </wsdl:operation> 
 </wsdl:binding> 
 <wsdl:service name="WS_SPY_SBL_CAMBIO_STATO"> 
  <wsdl:port binding="eb:WS_SPY_SBL_CAMBIO_STATOSoap" name="WS_SPY_SBL_CAMBIO_STATOSoap"> 
   <soap:address location="http://CAMBIAMI-PRJ:19100/wsexistbus/openws/WS_SPY_SBL_CAMBIO_STATO" /> 
  </wsdl:port> 
 </wsdl:service> 
</wsdl:definitions>