osb_it/repo/SiebelProject/GestioneClienteAssist/PS_WS_SIE_GESTIONE_CLIENTE_ASSIST/wsdl/SiebelProject_GestioneClienteAssist_proxy_PS_WS_SIE_GESTIONE_CLIENTE_ASSIST.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:tns="http://www.skytv.it/mdw/service/SIE_GESTIONE_CLIENTE_ASSIST" xmlns:inp1="http://www.skytv.it/mdw/data" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" name="WS_SIE_GESTIONE_CLIENTE_ASSIST" targetNamespace="http://www.skytv.it/mdw/service/SIE_GESTIONE_CLIENTE_ASSIST">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../xsd/XSD_SIE_GESTIONE_CLIENTE_ASSIST.xsd"/>
			<xsd:import namespace="http://www.skytv.it/mdw/data" schemaLocation="../../../../EnterpriseObjects/CommonEntities/SoapHeaderSKY.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestRiconoscimentoCliente_message">
		<wsdl:part name="part_requestRiconoscimentoCliente" element="inp1:requestRiconoscimentoCliente"/>
	</wsdl:message>
	<wsdl:message name="responseRiconoscimentoCliente_message">
		<wsdl:part name="part_responseRiconoscimentoCliente" element="inp1:responseRiconoscimentoCliente"/>
	</wsdl:message>
	<wsdl:message name="requestRecuperaInfoCliente_message">
		<wsdl:part name="part_requestRecuperaInfoCliente" element="inp1:requestRecuperaInfoCliente"/>
	</wsdl:message>
	<wsdl:message name="responseRecuperaInfoCliente_message">
		<wsdl:part name="part_responseRecuperaInfoCliente" element="inp1:responseRecuperaInfoCliente"/>
	</wsdl:message>
	<wsdl:message name="header_message">
		<wsdl:part name="part_header" element="inp1:Header"/>
	</wsdl:message>
	<wsdl:portType name="SIE_GESTIONE_CLIENTE_ASSIST_ptt">
		<wsdl:operation name="execute_RiconoscimentoCliente">
			<wsdl:input message="tns:requestRiconoscimentoCliente_message"/>
			<wsdl:output message="tns:responseRiconoscimentoCliente_message"/>
		</wsdl:operation>
		<wsdl:operation name="execute_RecuperaInfoCliente">
			<wsdl:input message="tns:requestRecuperaInfoCliente_message"/>
			<wsdl:output message="tns:responseRecuperaInfoCliente_message"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="SIE_GESTIONE_CLIENTE_ASSIST_pttSOAP11Binding" type="tns:SIE_GESTIONE_CLIENTE_ASSIST_ptt">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="execute_RiconoscimentoCliente">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SIE_GESTIONE_CLIENTE_ASSIST/execute_RiconoscimentoCliente" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestRiconoscimentoCliente" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseRiconoscimentoCliente" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="execute_RecuperaInfoCliente">
			<soap:operation soapAction="http://www.skytv.it/mdw/service/SIE_GESTIONE_CLIENTE_ASSIST/execute_RecuperaInfoCliente" style="document"/>
			<wsdl:input>
				<soap:body parts="part_requestRecuperaInfoCliente" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="part_responseRecuperaInfoCliente" use="literal"/>
				<soap:header message="tns:header_message" part="part_header" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
</wsdl:definitions>